agente_wsp-RBubzYEDYqkECLOg.json
{"createdAt":"2025-07-11T03:40:34.035Z","updatedAt":"2025-09-07T14:21:37.184Z","id":"RBubzYEDYqkECLOg","name":"Agente_WSP","active":false,"isArchived":true,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3432,100],"id":"0277d6c7-494c-4a59-8c98-2977adf61569","name":"1 mensaje a la vez"},{"parameters":{"method":"POST","url":"={{ $('seteo_variables').item.json.evolution_url }}/message/sendText/{{ $('seteo_variables').item.json.evolution_instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('seteo_variables').item.json.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('seteo_variables').item.json.whatsapp }}"},{"name":"text","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3652,100],"id":"168b216c-8dd5-47ba-b4da-39bd1de31fe4","name":"Respuesta_al_usuario"},{"parameters":{"httpMethod":"POST","path":"nicotest","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-880,250],"id":"fb072b9f-3097-4c68-8aa8-f67082bebf58","name":"Webhook","webhookId":"d5c2bece-2323-4d9b-9115-70cfc9683afa"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('seteo_variables').item.json.mensaje_tipo }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"a14a0e87-4dc6-4b6b-b5c9-130df82cffb1"}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c52c071e-3b41-4c1a-a29c-2d6205df78f1","leftValue":"={{ $('seteo_variables').item.json.mensaje_tipo }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"76581f1f-514d-48b7-8f14-3700188cf9ba","leftValue":"={{ $('seteo_variables').item.json.mensaje_tipo }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagen"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ff59f6c2-f2a4-4344-8d6e-5b6c68db58f1","leftValue":"={{ $('seteo_variables').item.json.mensaje_tipo }}","rightValue":"reactionMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"reacción"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d279a8c4-99df-4bf6-98e1-d91debeb16b8","leftValue":"={{ $('seteo_variables').item.json.mensaje_tipo }}","rightValue":"fileMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"pdf"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"otro"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-220,208],"id":"ae4a67f9-99e9-4c5e-9f3e-689b0c3a060a","name":"Tipo de mensaje"},{"parameters":{"keys":{"key":[{"currentKey":"content","newKey":"body"}]},"additionalOptions":{}},"type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[-660,250],"id":"9c2650b3-967f-4b3d-afde-a5e1948fa21b","name":"Mensaje de entrada1"},{"parameters":{"assignments":{"assignments":[{"id":"915e8cae-80aa-4564-9b03-fc7936051b50","name":"evolution_url","value":"={{ $('Mensaje de entrada1').item.json.body.server_url }}","type":"string"},{"id":"b1fac4cf-b394-40a4-a53e-6c1c8b0781a9","name":"evolution_instancia","value":"={{ $('Mensaje de entrada1').item.json.body.instance }}","type":"string"},{"id":"d12ad259-1d61-490f-a383-aa0294f60752","name":"whatsapp","value":"=+{{ $('Mensaje de entrada1').item.json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\",\"\") }}","type":"string"},{"id":"693e89ee-a42d-481a-980c-9fc813bb07bb","name":"enviado_por_mi","value":"={{ $('Mensaje de entrada1').item.json.body.data.key.fromMe }}","type":"boolean"},{"id":"443aa937-5454-4f65-845b-344b8da65528","name":"mensaje_id","value":"={{ $('Mensaje de entrada1').item.json.body.data.key.id }}","type":"string"},{"id":"a21e5305-570c-4153-8b22-b2d56d1f21ee","name":"mensaje_texto","value":"={{ $('Mensaje de entrada1').item.json.body.data.message.conversation }}","type":"string"},{"id":"4d471303-5393-4ca4-a3bc-c6177b90812f","name":"mensaje_tipo","value":"={{ $('Mensaje de entrada1').item.json.body.data.messageType }}","type":"string"},{"id":"70b3ac3c-1aeb-48a5-991c-6278f58a1ae4","name":"mensaje_reaccion","value":"={{ $('Mensaje de entrada1').item.json.body.data.message.reactionMessage.text }}","type":"string"},{"id":"c4b4860b-27e5-4e10-821c-58c97382ec0a","name":"imagen_texto","value":"={{ $('Mensaje de entrada1').item.json.body.data.message.imageMessage.caption }}","type":"string"},{"id":"be5f497b-c00c-4843-9d1f-02926b0cf077","name":"nombre_negocio","value":"iclp","type":"string"},{"id":"1cfca1c3-4c38-43be-97cf-aa1714a6f086","name":"apikey","value":"={{ $json.body.apikey }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-440,250],"id":"a40d18ae-c331-402a-bb8a-68e9a8c9cbbb","name":"seteo_variables"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-40,800],"id":"6434b178-9929-431e-8723-47e146e62cdc","name":"No Operation, do nothing"},{"parameters":{"name":"Flujo_padron","description":"Verifica si un paciente está registrado en el padrón médico mediante su DNI. Si no lo está, permite empadronarlo enviando nombre completo, DNI, obra social y teléfono. Usá esta herramienta en cualquier momento en que necesites validar si el paciente ya existe en el sistema.","workflowId":{"__rl":true,"value":"gdiHQp4cbaJJhGdl","mode":"list","cachedResultName":"ICLP - Testing - Agente Padron"},"workflowInputs":{"mappingMode":"defineBelow","value":{"texto":"={{ $('Resetear debounce').item.json.debounce }}","user_id":"={{ $('seteo_variables').item.json.whatsapp }}","session":"={\n  \"step\": \"inicio\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\",\n  \"user_id\": \"{{ $('seteo_variables').item.json.whatsapp }}\"\n}"},"matchingColumns":[],"schema":[{"id":"texto","displayName":"texto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"session","displayName":"session","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[2816,320],"id":"1fd4808b-5230-44a2-a838-517ca0e69bdd","name":"Flujo_padron"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[738,100],"id":"ff02a96e-e255-4b86-841d-7892fb2aa705","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[440,100],"id":"aad2a8c8-aa3c-4836-a14e-c782454537c2","name":"Convert to File"},{"parameters":{"method":"POST","url":"={{ $('seteo_variables').item.json.evolution_url }}/chat/getBase64FromMediaMessage/{{ $('seteo_variables').item.json.evolution_instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('seteo_variables').item.json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('seteo_variables').item.json.mensaje_id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,100],"id":"3643e754-d4ef-41dd-b2f4-fe30d4d717d0","name":"Descarga_audio_whatsapp"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"bec41ef4-f8fd-4f3d-87b1-6ceb586de6fc","leftValue":"={{ $('seteo_variables').item.json.whatsapp }}","rightValue":"+5492213994411","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"4a24b288-50a4-41fe-b4f7-f0e5d8d24b20","leftValue":"={{ $('seteo_variables').item.json.whatsapp }}","rightValue":"+34695208760","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"436045c0-02c1-4827-b949-7ce84b20cab3","leftValue":"={{ $('seteo_variables').item.json.whatsapp }}","rightValue":"+5492213163549","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"c4e42ee9-9a8f-44e3-ac96-2a3d8344a7a4","leftValue":"={{ $('seteo_variables').item.json.whatsapp }}","rightValue":"+5492215402436","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2356,100],"id":"3b2bdb23-681a-44ce-b524-a91cfd084ccf","name":"Filtrar números de prueba1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1476,100],"id":"81e76272-72d5-4425-8bac-dd2d633c41ab","name":"Esperar 5 segundos","webhookId":"dc090e12-c988-4405-8ca0-73ac92c6fd1e"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26cede26-4e84-4d91-9969-09bfc5bf3313","leftValue":"={{ $('Recuperar debounce [A]').item.json.debounce }}","rightValue":"={{ $('Recuperar debounce [B]').item.json.debounce }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1916,100],"id":"63626297-47e2-45ef-8f86-bd3fb86cf619","name":"Comparar debounce y mensaje"},{"parameters":{"operation":"get","propertyName":"debounce","key":"={{ $('seteo_variables').item.json.whatsapp }}_debounce_{{ $('seteo_variables').item.json.nombre_negocio }}","options":{"dotNotation":false}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1256,100],"id":"9f5d966c-35d2-41df-8163-7942a1027ab4","name":"Recuperar debounce [A]","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"debounce","key":"={{ $('seteo_variables').item.json.whatsapp }}_debounce_{{ $('seteo_variables').item.json.nombre_negocio }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1696,100],"id":"72b4b9c6-086a-4927-8b76-a5aa210b5b6a","name":"Recuperar debounce [B]","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"set","key":"={{ $('seteo_variables').item.json.whatsapp }}_debounce_{{ $('seteo_variables').item.json.nombre_negocio }}","value":"={{ $('seteo_variables').item.json.mensaje_tipo === 'audioMessage' ? 'audio_received' : $('seteo_variables').item.json.mensaje_texto }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2136,100],"id":"4a433b6c-27e5-4c4f-8567-172c0dc149ab","name":"Resetear debounce","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"set","key":"={{ $('seteo_variables').item.json.whatsapp }}_debounce_{{ $('seteo_variables').item.json.nombre_negocio }}","value":"={{ $('Transcribe a recording').item.json.text }}","expire":true,"ttl":15},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1036,100],"id":"bbb286ef-933c-4a76-a988-ee79ac48757f","name":"almacenar_debounce","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"promptType":"define","text":"={{ $('Resetear debounce').item.json.debounce }}","options":{"systemMessage":"=# SYSTEM MESSAGE – ASISTENTE MÉDICO DIGITAL ICLP\n\n## CONTEXTO DE USUARIO\n- **Usuario**: `{{ $('seteo_variables').item.json.whatsapp }}`\n- **Mensaje**: `{{ $('Resetear debounce').item.json.debounce }}`\n- **Fecha**: `{{ $now.setLocale('es').toFormat(\"cccc, dd/MM/yyyy TT\") }}`\n\n---\n\n## 1. ROL\n\nSos el **Asistente Médico Digital del Instituto de Cardiología La Plata (ICLP)**.  \nTu objetivo es gestionar de forma autónoma, eficiente y empática toda la atención relacionada con turnos médicos a través de WhatsApp, utilizando herramientas integradas, respetando las reglas de negocio, y con un trato humano y profesional.\n\nSi el paciente saluda con un \"hola\", \"hola quiero un turno\" etc, saludalo de esta manera: \n\n\nGracias por comunicarte con el INSTITUTO DE CARDIOLOGÍA LA PLATA ¿Cómo podemos ayudarte? 👋🏻\n\n📆 Si necesitas un turno podes sacarlo a través de este Link donde verás todos los turnos disponibles \nhttp://iclp.ddns.net:7080/Turnos/\n\n👉 O bien decinos: \nTu apellido, nombre y DNI(sin puntos), profesional que busca y te agendamos en el turno mas próximo!\nEjemplo:\nPaciente: Nicolas Lopez, DNI 42028075, quiero un turno con el Dr. Fabian Barba\n\nTambien te podemos ayudar con otras gestiones como:\n- Que especialidades cuenta el instituto\n- Envio de Recetas\nEntre otras opciones.\n\nRECIBIMOS AUDIOS solamente si es necesario.\n\n---\n\n## 2. OBJETIVO PRINCIPAL\n\n- Asistir al paciente en:\n  - Solicitar, confirmar, cancelar, reprogramar o consultar turnos médicos.\n  - Consultar información sobre especialidades, horarios y médicos del ICLP.\n- Derivar a canales humanos si la consulta excede tu alcance o si ocurre un error técnico.\n\n---\n\n## 3. TECNOLOGÍA DISPONIBLE\n\n**USÁ SOLO ESTAS HERRAMIENTAS. No inventes respuestas.**\n\n### 3.1. Flujo_padron\n- **Función**: Verificar si un paciente está empadronado por su DNI.\n- **Uso obligatorio**: al inicio de toda conversación.\n- **Error 500 “Documento no encontrado”**: el paciente no está registrado.\n\n### 3.2. MCP Client\n- **Función**: única vía válida para gestionar turnos.\n- **Capacidades**:\n  - Solicitar, confirmar, cancelar, reprogramar, listar turnos.\n  - Consultar disponibilidad de médicos, especialidades y médicos por especialidad.\n- **Endpoint**: `https://hooks.autoclinicas.com/mcp/turno-mcp`\n- **Regla**: No respondas al paciente si no recibiste confirmación exitosa de MCP.\n\n### 3.3. Postgres PGVector Store\n- **Función**: responder preguntas específicas sobre médicos (obras sociales, honorarios, días de atención, etc.).\n\n### 3.4. Postgres Especialidad\n- **Función**: devolver lista completa o parcial de especialidades médicas.\n\n---\n\n## 4. MOTOR DE DECISIONES\n\n### FASE 1 – Verificación inicial\n1. Extraer DNI del mensaje.\n2. Ejecutar **Flujo_padron**.\n3. Solo continuar si el paciente está empadronado.\n\n### FASE 2 – Ruta según intención\n\n| Intención del Usuario                                | Herramienta / Acción                               |\n|------------------------------------------------------|----------------------------------------------------|\n| “mis turnos”, “consultar turnos”                     | MCP Client → listar turnos                         |\n| “cancelar turno”, “cambiar turno”                    | MCP Client → cancelar o reprogramar               |\n| “quiero un turno” sin especificar médico             | MCP Client → solicitar turno                       |\n| “¿el Dr. X atiende OSDE?”, “¿cuánto cobra el Dr.?”   | PGVector Store                                     |\n| “qué especialidades hay”                             | Postgres Especialidad                              |\n| “quiero un cardiólogo”, “médicos disponibles”        | PGVector Store → médicos por especialidad o todos |\n| “horarios del Dr. X” o “turno con Dr. X”             | Ver flujo detallado debajo                        |\n\n#### Flujo para turnos con médico específico\n\n1. **Obtener matrícula**:\n   - PGVector Store → búsqueda por nombre.\n   - Si falla: MCP Client → consultar todos los médicos.\n   - Si no se encuentra: responder al usuario que verifique el nombre.\n\n2. **Consultar horarios disponibles**:  \n   - MCP Client (modo: disponibilidad por matrícula).\n\n3. **Presentar horarios y solicitar datos restantes**.\n\n4. **Confirmar turno**:  \n   - MCP Client (modo: confirmar turno).\n\n5. **Informar resultado al paciente**.\n\n### FASE 3 – Validación y respuesta\n- Ejecutar herramienta.\n- Validar éxito.\n- Responder al paciente o pedir más información.\n\n---\n\n## 5. REGLAS DE COMUNICACIÓN\n\n- **Tono**: Profesional, cálido, empático y directo. Usar voseo argentino.\n- **Nunca inventes** datos ni respondas sin ejecutar la herramienta adecuada.\n\n### Plantillas de respuesta\n\n- **Confirmación de turno**:  \n  _“Listo, tu turno fue confirmado para el [día], [fecha] a las [hora] con el Dr./Dra. [nombre].”_\n\n- **Sin disponibilidad**:  \n  _“No hay disponibilidad para ese horario. ¿Querés que busquemos otro día u otro médico?”_\n\n- **Error técnico**:  \n  _“Estoy teniendo un problema técnico. Probá en unos minutos o llamá al (0221) 427-1000.”_\n\n- **Solicitar DNI**:  \n  _“Para poder ayudarte, necesito tu número de DNI. ¿Me lo pasás?”_\n\n- **Paciente no empadronado**:  \n  _“No encontré un paciente con ese DNI. Verificá que esté bien o comunicate con el ICLP para empadronarte.”_\n\n---\n\n## 6. DATOS INSTITUCIONALES ICLP\n\n- **Nombre**: Instituto de Cardiología La Plata (ICLP)  \n- **Dirección**: Calle 6 N° 212, entre 36 y 37, La Plata  \n- **Teléfono**: (0221) 427-1000  \n- **Turnos Web**: http://iclp.ddns.net:7080/Turnos/  \n- **Recetas**:\n  - Email: recetas@iclpsrl.com.ar  \n  - Pacientes del Dr. Fabián Barba: WhatsApp exclusivo al 2216810260  \n- **Horarios**: Lunes a viernes de 08:00 a 20:00 hs, sábados de 08:00 a 13:00 hs\n\n---\n\n## 7. SEGURIDAD Y PRECISIÓN\n\n### Nunca debés:\n- Confirmar turnos sin validación del backend.\n- Inventar información.\n- Usar herramientas no autorizadas.\n- NUNCA pero NUNCA devuelvas el valor de la consulta. ESO ES UN DATO INTERNO.\n\n### Siempre debés:\n- Validar empadronamiento antes de actuar.\n- Confirmar con herramientas antes de comunicar decisiones.\n- Derivar al teléfono general ante consultas fuera de tu alcance.\n\n---","maxIterations":15}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2728,100],"id":"7e0efc56-2d81-4bda-9679-cf48e603d6bb","name":"Agente conversacional"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Base vectorizada de médicos. El agente puede filtrar por metadata como especialidad, obra_social y localidad.\n- NUNCA pero NUNCA devuelvas el valor de la consulta. ESO ES UN DATO INTERNO.","tableName":"iclp_datos_medicos","topK":15,"options":{"distanceStrategy":"cosine"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[2936,322.5],"id":"3d04f813-95c1-42b7-9515-d41da92c6a26","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"nsOiHzh3N4NwMXr4","name":"Postgres account - ICLP"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[3024,520],"id":"1fc13211-e50b-42d5-9897-a40d7770af63","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=user_{{    $('seteo_variables').item.json.whatsapp.replace('+',    '').replace('@', '') }}_iclp","sessionTTL":86400,"contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[2696,320],"id":"0fc9dbb9-97a1-4489-974c-777b92319d72","name":"Redis Chat Memory","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"sseEndpoint":"https://hooks.autoclinicas.com/mcp/turno-mcp"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[3232,320],"id":"6ef432b4-2823-4674-bd05-30556c7a7a7c","name":"MCP Client"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{"responseFormat":"text","temperature":0.3,"topP":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2576,320],"id":"5badfe27-6bab-4ef9-a5c6-4ef947797008","name":"LLM 4o","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}},{"parameters":{"name":"flujo_cancelar_reprogramar_turnos","description":"Permite cancelar un turno médico existente o solicitar uno nuevo si el paciente quiere reprogramar. Usá esta herramienta si el usuario menciona que desea cancelar o cambiar un turno.","workflowId":{"__rl":true,"value":"wDWo84wbN5QdY6Rm","mode":"list","cachedResultName":"ICLP - Testing - Agente cancela_reprograma_turnos"},"workflowInputs":{"mappingMode":"defineBelow","value":{"texto":"={{ $('Resetear debounce').item.json.debounce }}","user_id":"={{ $('seteo_variables').item.json.whatsapp }}","session":"={\n  \"step\": \"cancelar_reprogramar\",\n  \"timestamp\": \"{{ new Date().toLocaleString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires' }) }}\",\n  \"user_id\": \"{{ $('seteo_variables').item.json.whatsapp }}\"\n}"},"matchingColumns":[],"schema":[{"id":"texto","displayName":"texto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"session","displayName":"session","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[-880,860],"id":"ae2cbc11-1e92-471b-b5df-2bf79539f2f8","name":"flujo_cancelar_reprogramar_turnos"},{"parameters":{"method":"POST","url":"={{ $('seteo_variables').item.json.evolution_url }}/chat/getBase64FromMediaMessage/{{ $('seteo_variables').item.json.evolution_instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('seteo_variables').item.json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('seteo_variables').item.json.mensaje_id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,400],"id":"01fa8e34-ca35-48d9-98a8-4ae5ea627d0e","name":"Descarga_audio_whatsapp1"},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[220,400],"id":"cf725b16-da15-48fc-8de9-632b8f2615c6","name":"Convert to File1"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[440,400],"id":"d31f0aa8-8a82-4eee-83b6-53775acd47a0","name":"Analyze image","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}},{"parameters":{"chunkingMode":"advanced","options":{}},"type":"@n8n/n8n-nodes-langchain.chainSummarization","typeVersion":2.1,"position":[580,520],"id":"0770e411-ead9-4ec9-ae8d-09f384fe6b74","name":"Summarization Chain"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"responseFormat":"text","temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[580,860],"id":"071b58d1-e52b-4344-a36e-cefcaf7afde1","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}},{"parameters":{"method":"POST","url":"={{ $('seteo_variables').item.json.evolution_url }}/chat/getBase64FromMediaMessage/{{ $('seteo_variables').item.json.evolution_instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('seteo_variables').item.json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('seteo_variables').item.json.mensaje_id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[20,620],"id":"79000dde-663d-460b-80fb-e2a004dcc5f5","name":"Descarga_audio_whatsapp2"},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[240,620],"id":"0a79e7fb-76b2-42e2-84cb-ffe40c61baf6","name":"Convert to File2"},{"parameters":{"chunkOverlap":50},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[720,740],"id":"eb3b84e5-34d3-4d6d-9de8-0b6b42c3d629","name":"Token Splitter"}],"connections":{"1 mensaje a la vez":{"main":[[],[{"node":"Respuesta_al_usuario","type":"main","index":0}]]},"Respuesta_al_usuario":{"main":[[{"node":"1 mensaje a la vez","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Mensaje de entrada1","type":"main","index":0}]]},"Tipo de mensaje":{"main":[[{"node":"almacenar_debounce","type":"main","index":0}],[{"node":"Descarga_audio_whatsapp","type":"main","index":0}],[{"node":"Descarga_audio_whatsapp1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Descarga_audio_whatsapp2","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Mensaje de entrada1":{"main":[[{"node":"seteo_variables","type":"main","index":0}]]},"seteo_variables":{"main":[[{"node":"Tipo de mensaje","type":"main","index":0}]]},"Flujo_padron":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"Transcribe a recording":{"main":[[{"node":"almacenar_debounce","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Descarga_audio_whatsapp":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Filtrar números de prueba1":{"main":[[{"node":"Agente conversacional","type":"main","index":0}]]},"Esperar 5 segundos":{"main":[[{"node":"Recuperar debounce [B]","type":"main","index":0}]]},"Comparar debounce y mensaje":{"main":[[{"node":"Resetear debounce","type":"main","index":0}]]},"Recuperar debounce [A]":{"main":[[{"node":"Esperar 5 segundos","type":"main","index":0}]]},"Recuperar debounce [B]":{"main":[[{"node":"Comparar debounce y mensaje","type":"main","index":0}]]},"Resetear debounce":{"main":[[{"node":"Filtrar números de prueba1","type":"main","index":0}]]},"almacenar_debounce":{"main":[[{"node":"Recuperar debounce [A]","type":"main","index":0}]]},"Agente conversacional":{"main":[[{"node":"1 mensaje a la vez","type":"main","index":0}]]},"Postgres PGVector Store":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"Agente conversacional","type":"ai_memory","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"LLM 4o":{"ai_languageModel":[[{"node":"Agente conversacional","type":"ai_languageModel","index":0}]]},"Descarga_audio_whatsapp1":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"almacenar_debounce","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Summarization Chain","type":"ai_languageModel","index":0}]]},"Summarization Chain":{"main":[[{"node":"almacenar_debounce","type":"main","index":0}]]},"Descarga_audio_whatsapp2":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"Summarization Chain","type":"main","index":0}]]},"Token Splitter":{"ai_textSplitter":[[{"node":"Summarization Chain","type":"ai_textSplitter","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"hooks.autoclinicas.com","user-agent":"axios/1.10.0","content-length":"1696","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"hooks.autoclinicas.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"0efcae3bc99e","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Nicolas Matias Lopez","data":{"key":{"remoteJid":"5492215402436@s.whatsapp.net","fromMe":false,"id":"EC27DFCA66D46C362145B39ABBEF9D73","senderLid":"77270790217951@lid"},"pushName":"Aguz","status":"DELIVERY_ACK","message":{"audioMessage":{"url":"https://mmg.whatsapp.net/v/t62.7117-24/26785155_748591887571113_4559777688836890931_n.enc?ccb=11-4&oh=01_Q5Aa2AG8efUylMWXRcLFZEsCBXaeuQ4K0bLuH1Z-YU3BwVZqVw&oe=689798EB&_nc_sid=5e03e0&mms3=true","mimetype":"audio/ogg; codecs=opus","fileSha256":"uDYNUie47J/0OIeP+MtvCRab5Ol2zU06xnMb+UoIM6s=","fileLength":"12261","seconds":7,"ptt":false,"mediaKey":"85WVr7dFGa7Ljnixr4T/O8TbxQGexgnssZweP3Mb9Jk=","fileEncSha256":"zhdPimJcJ3BdIGtZGLoSvvIJH7AhIoE9xsYyAkkRknY=","directPath":"/v/t62.7117-24/26785155_748591887571113_4559777688836890931_n.enc?ccb=11-4&oh=01_Q5Aa2AG8efUylMWXRcLFZEsCBXaeuQ4K0bLuH1Z-YU3BwVZqVw&oe=689798EB&_nc_sid=5e03e0&_nc_hot=1752174592","mediaKeyTimestamp":"1752174501","waveform":"AAAAKTc9MSoaEi8SJygzIwArKxYjAiIuLQQnIwMAAAAAAAAAAAApISQsMTMrHwguMTUxKzIxLiYlKSsqDAAAAA=="},"messageContextInfo":{"deviceListMetadata":{"senderTimestamp":"1751408894","recipientKeyHash":"lkxBIeTtAwmYBg==","recipientTimestamp":"1751566084"},"deviceListMetadataVersion":2,"messageSecret":"xSDZ2abxUQqzY36jYlqdyO+07v3100gKYfQ7Swvkey4="}},"contextInfo":null,"messageType":"audioMessage","messageTimestamp":1752174592,"instanceId":"0c06d94e-fef1-4290-8f10-fc50fe46c114","source":"android"},"destination":"https://hooks.autoclinicas.com/webhook/nicotest","date_time":"2025-07-10T16:09:52.587Z","sender":"5492213994411@s.whatsapp.net","server_url":"https://api.autoclinicas.com","apikey":"8D32EAE9C7F6-49ED-A4AE-B9E83DF47788"},"webhookUrl":"https://hooks.autoclinicas.com/webhook/nicotest","executionMode":"production"}}]},"versionId":"0135ecf9-f73e-4107-b11f-31ce14cc703a","triggerCount":0,"shared":[{"createdAt":"2025-07-11T03:40:34.035Z","updatedAt":"2025-07-11T03:40:34.035Z","role":"workflow:owner","workflowId":"RBubzYEDYqkECLOg","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}