agente-multi-media-gvPLCIVCRJbItXi3.json
{"createdAt":"2025-06-23T22:19:57.999Z","updatedAt":"2025-07-10T12:23:54.197Z","id":"gvPLCIVCRJbItXi3","name":"Agente Multi-media","active":false,"isArchived":false,"nodes":[{"parameters":{"queue":"variable_nombre_de_negocio.messages.upsert","options":{"acknowledge":"executionFinishesSuccessfully","durable":true,"jsonParseBody":true,"onlyContent":false}},"type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-1100,60],"id":"8f827b55-8fd8-4a81-8a09-bae0ce88b608","name":"Consumir fila","credentials":{"rabbitmq":{"id":"KqX6qjNf9AdWDKxu","name":"RabbitMQ account"}}},{"parameters":{"keys":{"key":[{"currentKey":"content","newKey":"body"}]},"additionalOptions":{}},"type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[-880,60],"id":"2b23e178-3703-417a-b905-152958dcf1cc","name":"Mensaje de entrada"},{"parameters":{"assignments":{"assignments":[{"id":"915e8cae-80aa-4564-9b03-fc7936051b50","name":"evolution_url","value":"={{ $('Mensaje de entrada').item.json.body.server_url }}","type":"string"},{"id":"b1fac4cf-b394-40a4-a53e-6c1c8b0781a9","name":"evolution_instancia","value":"={{ $('Mensaje de entrada').item.json.body.instance }}","type":"string"},{"id":"d12ad259-1d61-490f-a383-aa0294f60752","name":"whatsapp","value":"=+{{ $('Mensaje de entrada').item.json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\",\"\") }}","type":"string"},{"id":"693e89ee-a42d-481a-980c-9fc813bb07bb","name":"enviado_por_mi","value":"={{ $('Mensaje de entrada').item.json.body.data.key.fromMe }}","type":"boolean"},{"id":"443aa937-5454-4f65-845b-344b8da65528","name":"mensaje_id","value":"={{ $('Mensaje de entrada').item.json.body.data.key.id }}","type":"string"},{"id":"a21e5305-570c-4153-8b22-b2d56d1f21ee","name":"mensaje_texto","value":"={{ $('Mensaje de entrada').item.json.body.data.message.conversation }}","type":"string"},{"id":"4d471303-5393-4ca4-a3bc-c6177b90812f","name":"mensaje_tipo","value":"={{ $('Mensaje de entrada').item.json.body.data.messageType }}","type":"string"},{"id":"70b3ac3c-1aeb-48a5-991c-6278f58a1ae4","name":"mensaje_reaccion","value":"={{ $('Mensaje de entrada').item.json.body.data.message.reactionMessage.text }}","type":"string"},{"id":"c4b4860b-27e5-4e10-821c-58c97382ec0a","name":"imagen_texto","value":"={{ $('Mensaje de entrada').item.json.body.data.message.imageMessage.caption }}","type":"string"},{"id":"be5f497b-c00c-4843-9d1f-02926b0cf077","name":"nombre_negocio","value":"variable_nombre_de_negocio","type":"string"},{"id":"a5648c21-db85-4a89-b3a3-d2bb504703a2","name":"bot_pausar","value":"#humano","type":"string"},{"id":"a27da590-69da-4479-8270-11acd05f7bac","name":"bot_reanudar","value":"#bot","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-660,60],"id":"054f9a12-4532-4775-82ad-069a598b8a41","name":"Variables"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"efd26a17-59a7-402f-9b69-b9263bae3f3b","leftValue":"={{ $json.enviado_por_mi }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-440,160],"id":"4f2bb82f-a301-4bd9-b717-92ae5e7e957e","name":"¿Enviado por mi?"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Variables').item.json.mensaje_texto }}","rightValue":"={{ $('Variables').item.json.bot_pausar }}","operator":{"type":"string","operation":"equals"},"id":"fe4cc96b-19d9-450e-96db-8889d6be5efc"}],"combinator":"and"},"renameOutput":true,"outputKey":"pausar_bot"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c8a6a23-6da9-4e14-8efa-281d5006620c","leftValue":"={{ $('Variables').item.json.mensaje_texto }}","rightValue":"={{ $('Variables').item.json.bot_reanudar }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"reanudar_bot"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-220,60],"id":"d19ad919-3d2b-4e01-b275-9bbaae486877","name":"¿Cambiar estado bot?"},{"parameters":{"operation":"set","key":"={{ $('Variables').item.json.whatsapp }}_estado_bot_{{ $('Variables').item.json.nombre_negocio }}","value":"={{ $('Variables').item.json.bot_pausar }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[0,0],"id":"494b2453-9c61-4a1e-b708-407d3066b793","name":"Pausar bot"},{"parameters":{"operation":"set","key":"={{ $('Variables').item.json.whatsapp }}_estado_bot_{{ $('Variables').item.json.nombre_negocio }}","value":"={{ $('Variables').item.json.bot_reanudar }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[0,200],"id":"cc25b5b3-94eb-47ab-912f-c56d6dc3c009","name":"Reanudar bot"},{"parameters":{"operation":"get","propertyName":"estado_bot","key":"={{ $('Variables').item.json.whatsapp }}_estado_bot_{{ $('Variables').item.json.nombre_negocio }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-220,400],"id":"48ec4c7e-642d-4173-98f9-28a8167bc311","name":"Obtener estado bot"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2aaa36ab-91d8-4645-ae4f-16e59e449008","leftValue":"={{ $json.estado_bot }}","rightValue":"={{ $('Variables').item.json.bot_pausar }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,400],"id":"975739a5-968e-4c1f-8a15-b91edd1c8796","name":"¿Conversación controlado por humano?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[220,400],"id":"5003c3ff-4dc5-474c-8364-9b2c0fd12307","name":"Final"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fee09f3c-637a-4864-a7ed-1af87e72e30f","leftValue":"={{ $('Variables').item.json.whatsapp }}","rightValue":"+56926009324","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"de9ad262-05a4-4a8f-8a62-4800bf5dc9ce","leftValue":"={{ $('Variables').item.json.whatsapp }}","rightValue":"whatsapp","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"b37eb4bd-b49f-4346-9cd2-7f497358a109","leftValue":"={{ $('Variables').item.json.whatsapp }}","rightValue":"whatsapp","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[220,600],"id":"98313121-4385-4fef-a1d6-2443d2fc3356","name":"Filtrar números de prueba"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fee09f3c-637a-4864-a7ed-1af87e72e30f","leftValue":"={{ $('Variables').item.json.whatsapp }}","rightValue":"@g.us","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[220,800],"id":"7f72fa63-9bce-4f62-8bc3-cd6c29e529ad","name":"Filtrar solo grupos"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Variables').item.json.mensaje_tipo }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"a14a0e87-4dc6-4b6b-b5c9-130df82cffb1"}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c52c071e-3b41-4c1a-a29c-2d6205df78f1","leftValue":"={{ $('Variables').item.json.mensaje_tipo }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"76581f1f-514d-48b7-8f14-3700188cf9ba","leftValue":"={{ $('Variables').item.json.mensaje_tipo }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagen"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ff59f6c2-f2a4-4344-8d6e-5b6c68db58f1","leftValue":"={{ $('Variables').item.json.mensaje_tipo }}","rightValue":"reactionMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"reacción"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"otro"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[440,560],"id":"182b3da6-c3c9-448c-982c-f1c5a050e226","name":"Tipo de mensaje"},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[880,560],"id":"b766a535-b603-4be9-8190-7753c63360c3","name":"Imagen a binario"},{"parameters":{},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[680,580],"id":"ae964fe3-a663-4f3f-b586-5185c2ea280c","name":"Imagen en Base64","credentials":{}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Entrega todos los detalles de la imagen.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1100,560],"id":"5ae4ce42-eede-40a6-9b26-62b76546839c","name":"Describir imágen","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[880,360],"id":"aaaa0f59-4aa2-4469-b9b0-925a07c83191","name":"Audio a binario"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1100,360],"id":"0554f2ae-2de3-45cd-a2ae-d45a5bfe7379","name":"Transcribir audio","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}},{"parameters":{"operation":"push","list":"=debounce:{{ $('entrada_mensaje').item.json.contacts[0].wa_id }}","messageData":"={{\n\n// ### Si el mensaje es de tipo texto\n\n$('Variables').item.json.mensaje_tipo === \"conversation\" ? $('Variables').item.json.mensaje_texto : \n\n// ### Si el mensaje es de tipo audio\n\n$('Variables').item.json.mensaje_tipo === \"audioMessage\" ? $json.text : \n\n// ### Si es otro tipo de mensaje (debería ser imágen solamente)\n\n(\"*Descripción imagen:* \" + $json.content) + ($('Variables').item.json.imagen_texto ? \"\\n\\n*Mensaje del usuario sobre la imágen:* \" + $('Variables').item.json.imagen_texto: \"\")\n}}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1320,400],"id":"ab979182-0228-4418-810f-c08b91deb830","name":"Almacenar debounce","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1760,400],"id":"442822b7-34b1-4207-9e93-e314deaa6187","name":"Esperar 5 segundos","webhookId":"dc090e12-c988-4405-8ca0-73ac92c6fd1e"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26cede26-4e84-4d91-9969-09bfc5bf3313","leftValue":"={{ $('Recuperar debounce [A]').item.json.debounce.join(\"\\n\") }}","rightValue":"={{ $('Recuperar debounce [B]').item.json.debounce.join(\"\\n\") }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2200,400],"id":"b68ab19d-14dc-47ba-be7b-a2a62f6289ae","name":"Comparar debounce y mensaje"},{"parameters":{"operation":"delete","key":"={{ $('Variables').item.json.whatsapp }}_debounce_{{ $('Variables').item.json.nombre_negocio }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2420,400],"id":"2745a3a4-8d8c-4c18-83f7-df8259953b9c","name":"Resetear debounce","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"debounce","key":"={{ $('Variables').item.json.whatsapp }}_debounce_{{ $('Variables').item.json.nombre_negocio }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1540,400],"id":"8f1cde87-3241-451c-a956-09b65d7f51d4","name":"Recuperar debounce [A]","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"debounce","key":"={{ $('Variables').item.json.whatsapp }}_debounce_{{ $('Variables').item.json.nombre_negocio }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1980,400],"id":"99a99284-1773-4fa0-878e-da5009281f6c","name":"Recuperar debounce [B]"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[660,100],"id":"5f7506b5-9566-47f6-a1dc-ed096a607e16","name":"Texto A"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[880,100],"id":"9fe886a4-56e6-4de3-95b3-2d5cd5109f3c","name":"Texto B"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1100,100],"id":"59d432d5-d506-4a81-833b-10826bb74e1e","name":"Texto C"},{"parameters":{"promptType":"define","text":"=Fecha de mensaje: {{ $now.setLocale('es').toFormat(\"cccc, dd/MM/yyyy TT\") }}\nMensaje: {{ $('Recuperar debounce [B]').item.json.debounce.join(\"\\n\") }}","hasOutputParser":true,"options":{"systemMessage":"=Eres un asistente de ventas que trabaja para el negocio: {{ $('Variables').item.json.nombre_negocio }}\n\nTu objetivo es vender para nuestra empresa.\n\nTus respuestas deben ser muy minimalistas ya que la gente detesta leer textos gigantes.\n\nConoce nuestros productos disponibles en la tool PRODUCTOS.\n\nNuestros productos pueden tener archivos multimedia para ser enviados a los clientes.\n\nPuedes enviar unicamente archivos: image, video, document y para ello debes usar la tool ENVIAR_MEDIA.\n\nPudes responder en texto o audio ajustando el formato de salida.\n\nLa única forma de enviar notas de voz o audio es formateando la salida en el parámetro replyType como \"audio\", si haces eso el texto se convertirá en audio y las notas de voz se enviarán sin problemas.\n\n## Prohibido\n- Nunca intentes enviar audios con la tool ENVIAR_MEDIA ya que esta tool solo sirve para enviar image, video, document.\n- Jamás envíes las urls de los archivos de PRODUCTOS directamente en la respuesta (en texto) ya que es un dato sensible.\n- Enviar las URLs de los archivos multimedia en formato markdown o directo por el chat (Para eso debes usar exclusivamente la tool ENVIAR_MEDIA).\n- Enviar archivos multimedia sin que te lo pidan, solo debes enviar cuando el cliente lo solicita."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[2880,400],"id":"2e71de59-633d-4255-9050-ca884cc9e46b","name":"Agente multimedia"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2640,620],"id":"233a2051-2b56-40a1-bee9-29a923d06482","name":"LLM"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Variables').item.json.whatsapp }}_historial_{{ $('Variables').item.json.nombre_negocio }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[2760,620],"id":"c15ca3c2-9c5c-4486-8226-e3ac367bb0b6","name":"Historial","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[2980,820],"id":"478e07cd-006d-4d0d-98cf-151d345584af","name":"Extraer Embeddings"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3240,820],"id":"debd2a62-40c5-43bd-ba86-8719324f2fca","name":"Corregir con IA","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[3300,640],"id":"cd65471e-a9ad-4081-9472-062d5ea4c52b","name":"Formatear salida"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"tipoMensaje\": {\n      \"type\": \"string\",\n      \"enum\": [\"texto\", \"audio\"],\n      \"description\": \"El tipo de mensaje a enviar para el usuario. Puede ser texto o notas de voz (el texto será transformado en audio a la salida)\" \n    },\n    \"salida\": {\n      \"type\": \"string\",\n      \"description\": \"La salida de texto generada por la IA\"\n    }\n  },\n  \"required\": [\"tipoMensaje\", \"salida\"],\n  \"additionalProperties\": false,\n  \"examples\": [\n    {\n      \"tipoMensaje\": \"texto\",\n      \"salida\": \"Hola, ¿en qué puedo ayudarte hoy?\"\n    },\n    {\n      \"tipoMensaje\": \"audio\",\n      \"salida\": \"Hola, ¿en qué puedo ayudarte hoy?\"\n    }\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[3460,820],"id":"cc5550cd-18a4-4b7f-b7a4-4c133e94831f","name":"Formato de salida"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"87a91ed5-d88f-4863-8be9-a3c7429439dd","leftValue":"={{ $json.output.tipoMensaje }}","rightValue":"texto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3680,400],"id":"c58b683f-bde9-45da-8f9c-89dd1f5e4abe","name":"¿Texto o audio?"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[4120,200],"id":"30094a77-5c86-4814-8f2c-4c05ed3b2b57","name":"1 mensaje a la vez"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/speech","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"gpt-4o-mini-tts"},{"name":"input","value":"={{ $('Agente multimedia').item.json.output.salida }}"},{"name":"voice","value":"echo"},{"name":"instructions","value":"=Habla en español latino con un tono amable y positivo."}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3900,400],"id":"1f153aa5-9f43-4765-a840-8e7bf6eecffc","name":"Texto a voz"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[4120,400],"id":"c7ed35db-956e-405a-b883-714d8f4622de","name":"Audio a Base64"},{"parameters":{},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4340,400],"id":"1569a168-5070-4e31-8db7-08895b68373c","name":"Enviar audio","credentials":{}},{"parameters":{"jsCode":"// Importar texto completo\nlet texto = $('Agente multimedia').first().json.output.salida;\n\n// Dividir texto si es necesario\nlet mensaje = texto.split(\"\\n\\n\").map(item => ({ mensaje: item }));\n\n// Devolver mensajes\nreturn mensaje"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3900,200],"id":"b37fded7-8270-46de-b3e1-1aca42316e2b","name":"Dividir texto"},{"parameters":{"operation":"delete","key":"={{ $('Variables').item.json.whatsapp }}_historial_{{ $('Variables').item.json.nombre_negocio }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-660,260],"id":"0008bbda-28fe-4420-8b9a-8ff28cc5c6b5","name":"Resetear historial","notesInFlow":false,"credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[660,360],"id":"d95720e9-c83c-4816-b02c-729111766d9d","name":"Audio en Base64","credentials":{}},{"parameters":{"mode":"retrieve-as-tool","toolName":"PRODUCTOS","toolDescription":"Permite obtener productos de venta según el criterio de búsqueda del usuario.","tableName":"={{ $('Variables').item.json.nombre_negocio }}_embeddigns_de_productos","topK":10,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.1,"position":[2880,640],"id":"a56a14e4-abfb-4ee8-bcfd-e5f969e3acb1","name":"PRODUCTOS","credentials":{"postgres":{"id":"nsOiHzh3N4NwMXr4","name":"Postgres account - ICLP"}}},{"parameters":{"toolDescription":"Permite enviar archivos multimedia de los productos obtenidos en la lista de productos usando la URL.\n\nSi la respuesta es PENDING, entonces el envío fue exitoso.","method":"POST","url":"={{ $('Variables').item.json.evolution_url }}/message/sendMedia/{{ $('Variables').item.json.evolution_instancia }}","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"mediatype","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Ingresar cualquiera de estos valores según sea el tipo de archivo a enviar: image, video, document`, 'string') }}"},{"name":"mimetype","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `El mimetype del archivo obtenido de la tool PRODUCTOS`, 'string') }}"},{"name":"caption","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Una descripción muy breve de lo que se envía.`, 'string') }}"},{"name":"media","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `La url del archivo, obtenida de la tool PRODUCTOS`, 'string') }}"},{"name":"fileName","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `El fileName del archivo obtenido de la tool PRODUCTOS`, 'string') }}"},{"name":"number","value":"={{ $('Variables').item.json.whatsapp }}"}]},"options":{},"optimizeResponse":true,"dataField":"status"},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[3180,620],"id":"5c463521-baaa-48ee-9c86-141d39d25695","name":"ENVIAR_MEDIA"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[760,800],"id":"b8fccfbb-258b-4dd5-9df2-c77d4e4dfa30","name":"No Operation, do nothing"}],"connections":{"Consumir fila":{"main":[[{"node":"Mensaje de entrada","type":"main","index":0}]]},"Mensaje de entrada":{"main":[[{"node":"Variables","type":"main","index":0}]]},"Variables":{"main":[[{"node":"¿Enviado por mi?","type":"main","index":0}]]},"¿Enviado por mi?":{"main":[[{"node":"¿Cambiar estado bot?","type":"main","index":0}],[{"node":"Obtener estado bot","type":"main","index":0}]]},"¿Cambiar estado bot?":{"main":[[{"node":"Pausar bot","type":"main","index":0}],[{"node":"Reanudar bot","type":"main","index":0}]]},"Obtener estado bot":{"main":[[{"node":"¿Conversación controlado por humano?","type":"main","index":0}]]},"¿Conversación controlado por humano?":{"main":[[{"node":"Final","type":"main","index":0}],[{"node":"Filtrar números de prueba","type":"main","index":0}]]},"Filtrar números de prueba":{"main":[[{"node":"Tipo de mensaje","type":"main","index":0}]]},"Filtrar solo grupos":{"main":[[{"node":"Tipo de mensaje","type":"main","index":0}]]},"Tipo de mensaje":{"main":[[{"node":"Texto A","type":"main","index":0}],[],[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Imagen a binario":{"main":[[{"node":"Describir imágen","type":"main","index":0}]]},"Describir imágen":{"main":[[{"node":"Almacenar debounce","type":"main","index":0}]]},"Audio a binario":{"main":[[{"node":"Transcribir audio","type":"main","index":0}]]},"Transcribir audio":{"main":[[{"node":"Almacenar debounce","type":"main","index":0}]]},"Almacenar debounce":{"main":[[{"node":"Recuperar debounce [A]","type":"main","index":0}]]},"Esperar 5 segundos":{"main":[[{"node":"Recuperar debounce [B]","type":"main","index":0}]]},"Comparar debounce y mensaje":{"main":[[{"node":"Resetear debounce","type":"main","index":0}]]},"Resetear debounce":{"main":[[{"node":"Agente multimedia","type":"main","index":0}]]},"Recuperar debounce [A]":{"main":[[{"node":"Esperar 5 segundos","type":"main","index":0}]]},"Recuperar debounce [B]":{"main":[[{"node":"Comparar debounce y mensaje","type":"main","index":0}]]},"Texto A":{"main":[[{"node":"Texto B","type":"main","index":0}]]},"Texto B":{"main":[[{"node":"Texto C","type":"main","index":0}]]},"Texto C":{"main":[[{"node":"Almacenar debounce","type":"main","index":0}]]},"LLM":{"ai_languageModel":[[{"node":"Agente multimedia","type":"ai_languageModel","index":0}]]},"Historial":{"ai_memory":[[{"node":"Agente multimedia","type":"ai_memory","index":0}]]},"Extraer Embeddings":{"ai_embedding":[[{"node":"PRODUCTOS","type":"ai_embedding","index":0}]]},"Corregir con IA":{"ai_languageModel":[[{"node":"Formatear salida","type":"ai_languageModel","index":0}]]},"Formatear salida":{"ai_outputParser":[[{"node":"Agente multimedia","type":"ai_outputParser","index":0}]]},"Formato de salida":{"ai_outputParser":[[{"node":"Formatear salida","type":"ai_outputParser","index":0}]]},"Agente multimedia":{"main":[[{"node":"¿Texto o audio?","type":"main","index":0}]]},"¿Texto o audio?":{"main":[[{"node":"Dividir texto","type":"main","index":0}],[{"node":"Texto a voz","type":"main","index":0}]]},"Texto a voz":{"main":[[{"node":"Audio a Base64","type":"main","index":0}]]},"Dividir texto":{"main":[[{"node":"1 mensaje a la vez","type":"main","index":0}]]},"Resetear historial":{"main":[[{"node":"¿Enviado por mi?","type":"main","index":0}]]},"PRODUCTOS":{"ai_tool":[[{"node":"Agente multimedia","type":"ai_tool","index":0}]]},"ENVIAR_MEDIA":{"ai_tool":[[{"node":"Agente multimedia","type":"ai_tool","index":0}]]},"1 mensaje a la vez":{"main":[[],[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9141561a-154e-41f6-a6b6-7e5d9e9e0ab6","triggerCount":0,"shared":[{"createdAt":"2025-06-23T22:19:57.999Z","updatedAt":"2025-06-23T22:19:57.999Z","role":"workflow:owner","workflowId":"gvPLCIVCRJbItXi3","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}