backup-quUMsa9T7CPsL2JQ.json
{"createdAt":"2025-12-12T22:48:04.043Z","updatedAt":"2025-12-12T22:59:11.445Z","id":"quUMsa9T7CPsL2JQ","name":"backup","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"9ba4ef13-e935-4e5d-a3f7-08e5c2839f43","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1072,-16]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"200de712-8381-466e-966a-819889b6741f","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-880,-16]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"14dbc10f-d4c0-4f93-a514-7f871b456f3b","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-672,-16]},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"782313cc-496c-4662-b233-3a4901d3caf6","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-272,-16]},{"parameters":{"filters":{},"requestOptions":{}},"id":"725b4b05-b7b7-4959-98d2-d18a706e2229","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-80,-16],"credentials":{"n8nApi":{"id":"PaqvzO7MlKQQ8Ak6","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"6bf58135-2708-4064-9f74-dd2744713a59","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[128,-16]},{"parameters":{"batchSize":1,"options":{}},"id":"c06b0f54-2b49-4919-ae34-e9fdb95d8ea9","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[368,-16]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"66c8baa5-b093-4729-afd9-20929d9e8d04","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[608,-112]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/fer336/backup-flujos-digital-ocean","mode":"url"},"repository":{"__rl":true,"value":"backup-flujos-digital-ocean","mode":"list","cachedResultName":"backup-flujos-digital-ocean","cachedResultUrl":"https://github.com/fer336/backup-flujos-digital-ocean"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"75bf7f01-a6b0-4665-82b5-d0dd6ae3939a","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[832,-304],"webhookId":"f6c1b7c5-5ba0-43a2-8ece-e0500304d7a4","credentials":{"githubApi":{"id":"hpstWEBw60K3iBrn","name":"Github FER"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"https://github.com/fer336/backup-flujos-digital-ocean","mode":"url"},"repository":{"__rl":true,"value":"backup-flujos-digital-ocean","mode":"list","cachedResultName":"backup-flujos-digital-ocean","cachedResultUrl":"https://github.com/fer336/backup-flujos-digital-ocean"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"b94ebc98-4123-4fd3-a72f-4fbbb9e32b2e","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[832,96],"webhookId":"a3232791-ada7-455b-bd8f-86573ee3f050","credentials":{"githubApi":{"id":"hpstWEBw60K3iBrn","name":"Github FER"}}},{"parameters":{"content":"## Upload backup\nSplit JSON files into batches of 1, check if they were uploaded to repository before. If yes (true), upload the new version of the file. Otherwise (false) create the file in repository.","height":731.633426614796,"width":703.8733020263451},"id":"caa1d3ea-5064-40c6-8478-5a13417cd8fd","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[304,-448]},{"parameters":{"content":"## Retrieve workflows\nGet all workflows form your n8n instance. Remember that **your credentials need to point to the instance that you want to backup.**","height":339.42690909090965,"width":384.14708363636373},"id":"f80ac6ea-4b34-4aef-9799-3448fb6f5f6a","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-96,-192]},{"parameters":{"content":"## Make a list of existing files\nReturn a list of existing files (backups) in GitHub repository. Data returned by those nodes is used by \"IF\" node (later in workflow) to check whether the backup files should be created or updated.","height":339.42690909090965,"width":389.89265454545443},"id":"be9c1228-70d1-4042-9a40-e01fa2ccb05c","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-512,-192]},{"parameters":{"content":"## Set and format date/time\nThose nodes are responsible for setting a current date and time in format `dd-MM-yyyy/H:mm`. Date and time are used to compose commit messages in GitHub, for example: `backup-12-07-2023/14:18`.","height":339.42690909090965,"width":585.4045090909088},"id":"66bdf47e-88cc-4b9e-ba0b-6b3f3233476f","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1120,-192]},{"parameters":{"content":"## Trigger\nYou can change it to [\"Schedule\" trigger](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/) to make backups on regular basis.","height":339.51767272727324,"width":182.4715262478496},"id":"0488df59-11ef-450c-8472-5cb1580c5ae2","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1312,-192]},{"parameters":{"rule":{"interval":[{"triggerAtHour":3,"triggerAtMinute":33}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1296,-16],"id":"5c29ba2c-5e4f-4b56-abba-2d87c2163a34","name":"Schedule Trigger"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/fer336","mode":"url"},"repository":{"__rl":true,"value":"backup-flujos-digital-ocean","mode":"name"},"filePath":"="},"id":"8067fbf7-36fd-4666-bcc5-3fb0d597f9f6","name":"List files from repository [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[-448,-16],"alwaysOutputData":true,"webhookId":"b83274a6-e66c-4eb0-8017-61bfb4e43873","credentials":{"githubApi":{"id":"hpstWEBw60K3iBrn","name":"Github FER"}}}],"connections":{"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]1","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set date","type":"main","index":0}]]},"List files from repository [GITHUB]1":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5703de0e-8004-4566-a6d6-586ab70f8f32","triggerCount":0,"shared":[{"createdAt":"2025-12-12T22:48:04.043Z","updatedAt":"2025-12-12T22:48:04.043Z","role":"workflow:owner","workflowId":"quUMsa9T7CPsL2JQ","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}