backup-cphUB0mIGd2JnEi0.json
{"createdAt":"2025-08-18T03:38:50.152Z","updatedAt":"2025-08-18T03:39:05.934Z","id":"cphUB0mIGd2JnEi0","name":"Backup","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":24}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2000,100],"id":"b7f6d380-5a19-42e5-98ef-e6ae6a6fdb83","name":"Daily_Backup_Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"backup_config","name":"backup_config","value":"{\n  \"timestamp\": \"{{ new Date().toISOString() }}\",\n  \"system\": \"ICLP-Chatbot\",\n  \"version\": \"2.0\",\n  \"workflows_to_backup\": [\n    \"ChatTrigger___Chatwoot (15)\",\n    \"tipoEstudio_Tool_____ (1)\",\n    \"Health_Monitor_ICLP\",\n    \"Backup_System_ICLP\"\n  ],\n  \"backup_retention_days\": 30,\n  \"git_repository\": \"{{ $vars.BACKUP_GIT_REPO || 'https://github.com/iclp/n8n-backups.git' }}\",\n  \"backup_type\": \"daily_automated\"\n}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1780,100],"id":"9ea3e63f-9179-4482-bab8-75d3c3288114","name":"Initialize_Backup"},{"parameters":{"url":"{{ $vars.N8N_API_URL || 'http://localhost:5678' }}/api/v1/workflows","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{ $vars.N8N_API_TOKEN }}"},{"name":"Content-Type","value":"application/json"}]},"options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1560,100],"id":"763ddb86-7a23-4cc5-9c1f-d7c5287eed6c","name":"Get_Workflows_List"},{"parameters":{"jsCode":"// Filtrar workflows críticos para backup\nconst backupConfig = JSON.parse($('Initialize_Backup').item.json.backup_config);\nconst allWorkflows = $json.data || $json;\n\nconst criticalWorkflows = backupConfig.workflows_to_backup;\nconst workflowsToBackup = [];\n\n// Buscar workflows críticos en la lista\nfor (const workflow of allWorkflows) {\n  const workflowName = workflow.name;\n  \n  // Verificar si es un workflow crítico\n  for (const criticalName of criticalWorkflows) {\n    if (workflowName.includes(criticalName.replace(' (15)', '').replace(' (1)', ''))) {\n      workflowsToBackup.push({\n        id: workflow.id,\n        name: workflow.name,\n        active: workflow.active,\n        version: workflow.versionId || 'latest',\n        tags: workflow.tags || []\n      });\n      break;\n    }\n  }\n}\n\n// Agregar metadatos del backup\nconst backupManifest = {\n  timestamp: new Date().toISOString(),\n  backup_type: 'daily_automated',\n  system: 'ICLP-Chatbot',\n  total_workflows: workflowsToBackup.length,\n  workflows: workflowsToBackup,\n  backup_id: `backup_${Date.now()}`,\n  retention_policy: `${backupConfig.backup_retention_days} days`\n};\n\nreturn [{\n  json: {\n    workflows_to_backup: workflowsToBackup,\n    backup_manifest: backupManifest,\n    backup_config: backupConfig\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1340,100],"id":"6f818946-732e-4a09-b571-6345fee97bad","name":"Filter_Critical_Workflows"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1120,100],"id":"d4930f1d-89eb-467b-b450-acd2669d4451","name":"Split_Workflows"},{"parameters":{"url":"{{ $vars.N8N_API_URL || 'http://localhost:5678' }}/api/v1/workflows/{{ $json.workflows_to_backup[$('Split_Workflows').itemIndex].id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{ $vars.N8N_API_TOKEN }}"},{"name":"Content-Type","value":"application/json"}]},"options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-900,100],"id":"cd525b0d-4665-4fad-bfe7-07c37126c5d0","name":"Export_Workflow"},{"parameters":{"jsCode":"// Preparar archivo de backup individual\nconst workflowData = $json.data || $json;\nconst workflowIndex = $('Split_Workflows').itemIndex;\nconst workflowInfo = $('Filter_Critical_Workflows').item.json.workflows_to_backup[workflowIndex];\n\n// Crear estructura de backup con metadatos\nconst backupData = {\n  backup_info: {\n    timestamp: new Date().toISOString(),\n    workflow_id: workflowInfo.id,\n    workflow_name: workflowInfo.name,\n    backup_version: '2.0',\n    backup_type: 'daily_automated'\n  },\n  workflow_data: workflowData,\n  metadata: {\n    active: workflowInfo.active,\n    tags: workflowInfo.tags,\n    version: workflowInfo.version,\n    nodes_count: workflowData.nodes ? workflowData.nodes.length : 0,\n    has_connections: !!(workflowData.connections && Object.keys(workflowData.connections).length > 0)\n  }\n};\n\n// Generar nombre de archivo único\nconst sanitizedName = workflowInfo.name.replace(/[^a-zA-Z0-9_-]/g, '_');\nconst timestamp = new Date().toISOString().split('T')[0]; // YYYY-MM-DD\nconst filename = `${sanitizedName}_${timestamp}.json`;\n\nreturn [{\n  json: {\n    backup_data: backupData,\n    filename: filename,\n    workflow_name: workflowInfo.name,\n    file_content: JSON.stringify(backupData, null, 2)\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-680,100],"id":"c3725182-e976-4473-89d1-cd017c02dbbc","name":"Prepare_Backup_File"},{"parameters":{"method":"POST","url":"{{ $vars.BACKUP_STORAGE_URL || 'http://localhost:3000/api/backups' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer {{ $vars.BACKUP_STORAGE_TOKEN }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filename\": \"{{ $json.filename }}\",\n  \"content\": {{ JSON.stringify($json.file_content) }},\n  \"metadata\": {\n    \"workflow_name\": \"{{ $json.workflow_name }}\",\n    \"backup_date\": \"{{ new Date().toISOString() }}\",\n    \"backup_type\": \"daily_automated\",\n    \"system\": \"ICLP-Chatbot\"\n  }\n}","options":{"timeout":20000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-460,100],"id":"a7e047a0-b9ea-4c73-9e09-c4c05c1ad402","name":"Store_Backup"},{"parameters":{"assignments":{"assignments":[{"id":"backup_result","name":"backup_result","value":"{\n  \"workflow_name\": \"{{ $('Prepare_Backup_File').item.json.workflow_name }}\",\n  \"filename\": \"{{ $('Prepare_Backup_File').item.json.filename }}\",\n  \"backup_timestamp\": \"{{ new Date().toISOString() }}\",\n  \"storage_status\": \"{{ $json.success ? 'stored' : 'failed' }}\",\n  \"file_size_bytes\": {{ $('Prepare_Backup_File').item.json.file_content.length }}\n}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,100],"id":"6c68482e-07fb-4452-9336-7b233a3cd57a","name":"Log_Backup_Result"},{"parameters":{"jsCode":"// Compilar resumen final del backup\nconst allBackupResults = $input.all();\nconst backupConfig = $('Filter_Critical_Workflows').first().json.backup_config;\n\nlet successfulBackups = 0;\nlet failedBackups = 0;\nconst backupDetails = [];\n\nfor (const result of allBackupResults) {\n  const backupResult = JSON.parse(result.json.backup_result);\n  \n  if (backupResult.storage_status === 'stored') {\n    successfulBackups++;\n  } else {\n    failedBackups++;\n  }\n  \n  backupDetails.push({\n    workflow: backupResult.workflow_name,\n    status: backupResult.storage_status,\n    file: backupResult.filename,\n    size_kb: Math.round(backupResult.file_size_bytes / 1024)\n  });\n}\n\nconst backupSummary = {\n  timestamp: new Date().toISOString(),\n  system: 'ICLP-Chatbot',\n  backup_id: `backup_${Date.now()}`,\n  summary: {\n    total_workflows: allBackupResults.length,\n    successful_backups: successfulBackups,\n    failed_backups: failedBackups,\n    success_rate: Math.round((successfulBackups / allBackupResults.length) * 100)\n  },\n  details: backupDetails,\n  next_backup: new Date(Date.now() + 24 * 60 * 60 * 1000).toISOString()\n};\n\nreturn [{\n  json: backupSummary\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-20,100],"id":"992d1a96-6d98-41a8-ae5d-309678e1cb0b","name":"Compile_Backup_Summary"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"backup_success_check","leftValue":"={{ $json.summary.failed_backups }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[200,200],"id":"0befeb54-80f9-4712-9d33-a148935c5e49","name":"Check_Backup_Failures"},{"parameters":{"assignments":{"assignments":[{"id":"alert_message","name":"alert_message","value":"🚨 ALERTA BACKUP ICLP 🚨\n\nBackup diario FALLÓ parcialmente\n\nResumen:\n• Total workflows: {{ $json.summary.total_workflows }}\n• Exitosos: {{ $json.summary.successful_backups }}\n• Fallidos: {{ $json.summary.failed_backups }}\n• Tasa éxito: {{ $json.summary.success_rate }}%\n\nTimestamp: {{ $json.timestamp }}\n\n⚠️ Revisar sistema de backup inmediatamente","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,400],"id":"c9062bbc-bbe5-460e-bccc-e5ee0128d5d5","name":"Create_Failure_Alert"},{"parameters":{"method":"POST","url":"{{ $vars.SLACK_WEBHOOK_URL || 'https://hooks.slack.com/services/your/webhook/url' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"text\": \"{{ $json.alert_message }}\",\n  \"channel\": \"#iclp-backups\",\n  \"username\": \"Backup Monitor\",\n  \"icon_emoji\": \":floppy_disk:\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,400],"id":"86a867f4-df5b-4cfb-91be-13b0855b7cab","name":"Send_Failure_Alert"},{"parameters":{"method":"POST","url":"{{ $vars.BACKUP_LOG_ENDPOINT || 'http://localhost:3000/api/logs/backup' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer {{ $vars.BACKUP_LOG_TOKEN }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[420,0],"id":"006ab138-f782-4b3b-b857-e4e086332f57","name":"Log_Backup_Summary"},{"parameters":{"assignments":{"assignments":[{"id":"success_message","name":"success_message","value":"✅ BACKUP EXITOSO ICLP\n\nBackup diario completado correctamente\n\nResumen:\n• {{ $json.summary.total_workflows }} workflows respaldados\n• Tasa éxito: {{ $json.summary.success_rate }}%\n• Próximo backup: {{ new Date(Date.now() + 24*60*60*1000).toLocaleString('es-AR') }}\n\nTimestamp: {{ new Date($json.timestamp).toLocaleString('es-AR') }}\n\n💾 Sistema seguro y respaldado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,200],"id":"659ffe89-b44f-40b4-b7a2-07833b784f79","name":"Create_Success_Notification"},{"parameters":{"method":"POST","url":"{{ $vars.SLACK_WEBHOOK_URL || 'https://hooks.slack.com/services/your/webhook/url' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"text\": \"{{ $json.success_message }}\",\n  \"channel\": \"#iclp-backups\",\n  \"username\": \"Backup Monitor\",\n  \"icon_emoji\": \":white_check_mark:\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,200],"id":"bcb623cc-6f5d-4e9e-89e4-07b68af0b482","name":"Send_Success_Notification"}],"connections":{"Daily_Backup_Trigger":{"main":[[{"node":"Initialize_Backup","type":"main","index":0}]]},"Initialize_Backup":{"main":[[{"node":"Get_Workflows_List","type":"main","index":0}]]},"Get_Workflows_List":{"main":[[{"node":"Filter_Critical_Workflows","type":"main","index":0}]]},"Filter_Critical_Workflows":{"main":[[{"node":"Split_Workflows","type":"main","index":0}]]},"Split_Workflows":{"main":[[{"node":"Export_Workflow","type":"main","index":0}]]},"Export_Workflow":{"main":[[{"node":"Prepare_Backup_File","type":"main","index":0}]]},"Prepare_Backup_File":{"main":[[{"node":"Store_Backup","type":"main","index":0}]]},"Store_Backup":{"main":[[{"node":"Log_Backup_Result","type":"main","index":0}]]},"Log_Backup_Result":{"main":[[{"node":"Compile_Backup_Summary","type":"main","index":0}]]},"Compile_Backup_Summary":{"main":[[{"node":"Check_Backup_Failures","type":"main","index":0},{"node":"Log_Backup_Summary","type":"main","index":0}]]},"Check_Backup_Failures":{"main":[[{"node":"Log_Backup_Summary","type":"main","index":0},{"node":"Create_Success_Notification","type":"main","index":0}],[{"node":"Create_Failure_Alert","type":"main","index":0}]]},"Create_Failure_Alert":{"main":[[{"node":"Send_Failure_Alert","type":"main","index":0}]]},"Create_Success_Notification":{"main":[[{"node":"Send_Success_Notification","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f8ca5289-f0e0-4ee4-9cf1-3ea116434f24","triggerCount":0,"shared":[{"createdAt":"2025-08-18T03:38:50.152Z","updatedAt":"2025-08-18T03:38:50.152Z","role":"workflow:owner","workflowId":"cphUB0mIGd2JnEi0","projectId":"R66ikVn5xqf0nYcA"}],"tags":[{"createdAt":"2025-08-18T03:37:47.542Z","updatedAt":"2025-08-18T03:37:47.542Z","id":"s0sxU2OzzjVjAcvo","name":"Automation"},{"createdAt":"2025-08-18T03:37:47.540Z","updatedAt":"2025-08-18T03:37:47.540Z","id":"yFbyzRTHyBdyy9JD","name":"Recovery"},{"createdAt":"2025-08-18T03:37:47.540Z","updatedAt":"2025-08-18T03:37:47.540Z","id":"pYlno4dznUZBX6fM","name":"Backup"},{"createdAt":"2025-08-12T02:10:29.356Z","updatedAt":"2025-08-12T02:10:29.356Z","id":"OsMujd4oglQ3g7SY","name":"ICLP"}]}