beta_prod-1lhcvii7tPJJOOkZ.json
{"createdAt":"2025-09-17T18:39:16.847Z","updatedAt":"2025-10-06T06:09:39.469Z","id":"1lhcvii7tPJJOOkZ","name":"BETA_PROD","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"057155d2-7320-48de-8ed5-bf00dcc72b38","leftValue":"={{ $json.body.messages[0].sender.phone_number }}","rightValue":"+5492213994411","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"d0c07208-2eca-4ffc-ae49-063a0363cf6e","leftValue":"={{ $json.body.messages[0].sender.phone_number }}","rightValue":"+595985624358","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-544,-1040],"id":"5d85e4fb-d120-454b-974c-d18e9b8e2a63","name":"Filtrar números de prueba"},{"parameters":{"toolDescription":"Sub-agente especializado en consultar disponibilidad de turnos médicos. Decide automáticamente entre buscar por médico específico (usando matrícula) o por especialidad (usando código). Valida tipos de datos, ejecuta la tool correcta y devuelve resultados formateados. Requiere: DNI del paciente + (matrícula del médico O código de especialidad). Devuelve: lista de turnos disponibles con fecha/hora/médico/especialidad o error específico si faltan datos.","text":"=Mensaje del Paciente: {{ $('variables3').item.json.message }} \n\nIntención del Paciente: {{ $('If3').item.json.intencionNormalizada }}","options":{"systemMessage":"# 🎯 IDENTIDAD Y MISIÓN\n\nSos el **Sub-Agente de Disponibilidad ICLP**, un especialista robótico con una única misión: recolectar los datos de la memoria externa (Redis) y, basándote en ellos, ejecutar la herramienta correcta para buscar horarios disponibles. Tu precisión debe ser del 100%. No interactúas con el usuario, solo ejecutas un proceso interno.\n\n---\n\n## 🚨 REGLAS INQUEBRANTABLES\n\n1.  **PROCESO SECUENCIAL OBLIGATORIO:** DEBES seguir las 3 fases del proceso estricto en orden: **1. RECOLECCIÓN**, **2. DECISIÓN**, **3. ACCIÓN**. No te saltes ningún paso.\n2.  **LEER ANTES DE ACTUAR:** Tu primera acción SIEMPRE debe ser usar las herramientas de lectura de Redis (`DNI_PACIENTE1`, `MATRICULA_MEDICO1`, `ESPECIALIDAD1`). NUNCA intentes buscar horarios sin haber obtenido estos datos primero.\n3.  **CERO DATOS PREVIOS:** No asumas ninguna información. Basa tu lógica únicamente en el resultado que te devuelven las herramientas de Redis en ESTA ejecución.\n4.  **SALIDA CRUDA:** Tu única salida debe ser el resultado JSON que te devuelven las herramientas de acción (`horarios_medicos_disponibles` o `horarios_especialidad_disponibles`). NO modifiques, resumas, comentes ni añadas texto a la salida.\n\n---\n\n## 🛠️ HERRAMIENTAS DISPONIBLES\n\n### **FASE 1 - Herramientas de Recolección (Lectura de Datos)**\n-   `DNI_PACIENTE1`: Obtiene el DNI del paciente desde Redis. **Es obligatorio llamarla siempre.**\n-   `MATRICULA_MEDICO1`: Obtiene la matrícula del médico desde Redis. Puede devolver un valor o estar vacía.\n-   `ESPECIALIDAD1`: Obtiene el código de la especialidad desde Redis. Puede devolver un valor o estar vacía.\n\n### **FASE 3 - Herramientas de Acción (Búsqueda de Horarios)**\n-   `horarios_medicos_disponibles`: Busca turnos por **matrícula**. Requiere `dni` y `matricula`.\n-   `horarios_especialidad_disponibles`: Busca turnos por **especialidad**. Requiere `dni` y `especialidad`.\n\n---\n\n## 🔄 PROCESO ESTRICTO DE EJECUCIÓN\n\n<proceso>\n    <fase numero=\"1\" nombre=\"RECOLECCIÓN DE DATOS\">\n        <paso>1.1. Ejecuta la herramienta `DNI_PACIENTE1` para obtener el DNI.</paso>\n        <paso>1.2. Ejecuta la herramienta `MATRICULA_MEDICO1` para ver si hay una matrícula guardada.</paso>\n        <paso>1.3. Ejecuta la herramienta `ESPECIALIDAD1` para ver si hay una especialidad guardada.</paso>\n    </fase>\n\n    <fase numero=\"2\" nombre=\"DECISIÓN LÓGICA\">\n        <paso>2.1. Revisa los resultados de la FASE 1.</paso>\n        <condicion>\n            <si>El resultado de `MATRICULA_MEDICO1` es un número válido.</si>\n            <entonces>Tu herramienta de acción será `horarios_medicos_disponibles`.</entonces>\n        </condicion>\n        <condicion>\n            <si>El resultado de `MATRICULA_MEDICO1` está vacío, PERO el resultado de `ESPECIALIDAD1` es un código válido.</si>\n            <entonces>Tu herramienta de acción será `horarios_especialidad_disponibles`.</entonces>\n        </condicion>\n        <condicion>\n            <si>Tanto `MATRICULA_MEDICO1` como `ESPECIALIDAD1` están vacíos, o `DNI_PACIENTE1` está vacío.</si>\n            <entonces>Tu misión ha fallado. Devuelve un mensaje de error claro: `{\"error\": \"Datos insuficientes en Redis para buscar disponibilidad. Falta DNI, matrícula o especialidad.\"}`</entonces>\n        </condicion>\n    </fase>\n\n    <fase numero=\"3\" nombre=\"ACCIÓN Y SALIDA\">\n        <paso>3.1. Ejecuta la herramienta de acción que determinaste en la FASE 2.</paso>\n        <paso>3.2. Utiliza los datos obtenidos en la FASE 1 como parámetros.\n            - `dni`: El valor de `DNI_PACIENTE1`.\n            - `matricula`: El valor de `MATRICULA_MEDICO1`.\n            - `especialidad`: El valor de `ESPECIALIDAD1`.\n            - `fechaDesde`: Usa SIEMPRE la fecha actual en formato `yyyyMMdd`.\n        </paso>\n        <paso>3.3. Devuelve el resultado JSON de la herramienta, sin ninguna modificación.</paso>\n    </fase>\n</proceso>\n\n---\n\n## 🧪 EJEMPLO DE CADENA DE PENSAMIENTO (Tu Lógica Interna)\n\n<ejemplo>\n    <pensamiento>Mi misión es buscar horarios. Inicio el proceso estricto.</pensamiento>\n    <fase>FASE 1: RECOLECCIÓN</fase>\n    <pensamiento>Paso 1.1: Necesito el DNI del paciente.</pensamiento>\n    <accion>Llamar a `DNI_PACIENTE1`.</accion>\n    <resultado>La herramienta devuelve `{\"dni\": \"12345678\"}`.</resultado>\n    <pensamiento>Paso 1.2: Ahora busco la matrícula.</pensamiento>\n    <accion>Llamar a `MATRICULA_MEDICO1`.</accion>\n    <resultado>La herramienta devuelve `{\"matricula\": \"98765\"}`.</resultado>\n    <pensamiento>Paso 1.3: Por protocolo, también busco la especialidad.</pensamiento>\n    <accion>Llamar a `ESPECIALIDAD1`.</accion>\n    <resultado>La herramienta devuelve `{\"especialidad\": null}`.</resultado>\n\n    <fase>FASE 2: DECISIÓN</fase>\n    <pensamiento>Tengo un DNI (`12345678`) y una Matrícula (`98765`). La especialidad está vacía. Según mis reglas, la presencia de una matrícula tiene prioridad.</pensamiento>\n    <decision>La herramienta a usar es `horarios_medicos_disponibles`.</decision>\n\n    <fase>FASE 3: ACCIÓN</fase>\n    <pensamiento>Voy a ejecutar la herramienta decidida con los datos recolectados.</pensamiento>\n    <accion>Llamar a `horarios_medicos_disponibles` con los parámetros: `{dni: 12345678, matricula: 98765, fechaDesde: 20251006}`.</accion>\n    <resultado>La herramienta devuelve un JSON con la lista de horarios.</resultado>\n    <salida_final>Devolver ese JSON crudo, sin añadir ni quitar nada.</salida_final>\n</ejemplo>"}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[3216,-416],"id":"7dab05b1-c5ad-4f30-b11f-f0006a5d29f1","name":"consultar_disponibilidad"},{"parameters":{"descriptionType":"manual","toolDescription":"Esta Tool sera usada para conocer el medico la especialidad y la matricula ","authentication":"nocoDbApiToken","operation":"getAll","workspaceId":"wfe9btuw","projectId":"p304m8tufpug3oy","table":"mhwp4qt6r2d7ymm","returnAll":true,"options":{"fields":[],"sort":{"property":[{"field":"Prioridades"}]},"where":"=(Medico,like,%{{ $fromAI('Medico','nombre del medico','string') }})"}},"type":"n8n-nodes-base.nocoDbTool","typeVersion":3,"position":[4384,-320],"id":"8a5eb46a-e9c0-4ab4-8aec-f88f7b4df2b0","name":"obtenerMedicos","credentials":{"nocoDbApiToken":{"id":"CERoQkqIgqq5Hzwe","name":"ICLP_MEDICOS"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Esta Tool sera usada para conocer las Especialidades de la Clinica","authentication":"nocoDbApiToken","operation":"getAll","workspaceId":"wfe9btuw","projectId":"p304m8tufpug3oy","table":"mi8p2u7tvuplzt5","returnAll":true,"options":{"fields":["Especialidad"]}},"type":"n8n-nodes-base.nocoDbTool","typeVersion":3,"position":[4048,-336],"id":"a8b9d7d4-551a-4be8-b17b-18c425460d14","name":"obtenerEspecialidades","credentials":{"nocoDbApiToken":{"id":"CERoQkqIgqq5Hzwe","name":"ICLP_MEDICOS"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Esta Tool sera usada para conocer los MEdicos y sus Especialidades de la Clinica","authentication":"nocoDbApiToken","operation":"getAll","workspaceId":"wfe9btuw","projectId":"p304m8tufpug3oy","table":"mhwp4qt6r2d7ymm","returnAll":true,"options":{"fields":["=(Medico,eq,{{ $fromAI('Medico','nombre del medico','string') }})"]}},"type":"n8n-nodes-base.nocoDbTool","typeVersion":3,"position":[4224,-336],"id":"9449a2c9-0a50-4036-bbcd-7997d2f7b323","name":"obtenerMedicosEspecialidades","credentials":{"nocoDbApiToken":{"id":"CERoQkqIgqq5Hzwe","name":"ICLP_MEDICOS"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Esta Tool sera usada para conocer el medico la especialidad y la matricula ","authentication":"nocoDbApiToken","operation":"getAll","workspaceId":"wfe9btuw","projectId":"p304m8tufpug3oy","table":"mhwp4qt6r2d7ymm","returnAll":true,"options":{"fields":["Medico,Especialidad,Matricula,Codigo"],"sort":{"property":[{"field":"Prioridades"}]}}},"type":"n8n-nodes-base.nocoDbTool","typeVersion":3,"position":[4016,-96],"id":"49930013-16a8-45b3-a83c-9122b4ed546f","name":"obtenerMedicos1","credentials":{"nocoDbApiToken":{"id":"CERoQkqIgqq5Hzwe","name":"ICLP_MEDICOS"}},"disabled":true},{"parameters":{"operation":"delete","key":"chat:7043_iclp"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2368,288],"id":"c71fa27c-1102-463e-92ce-1b75a18c232d","name":"Redis","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","workspaceId":"wfe9btuw","projectId":"p304m8tufpug3oy","table":"mhwp4qt6r2d7ymm","returnAll":true,"options":{"fields":["Medico"]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[1792,-656],"id":"4fc3009c-b396-4ca6-9ab8-bce4948fcc57","name":"Get many rows","credentials":{"nocoDbApiToken":{"id":"CERoQkqIgqq5Hzwe","name":"ICLP_MEDICOS"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2032,-656],"id":"2556abb5-fee3-4706-8161-366bfb839c0b","name":"Aggregate"},{"parameters":{"description":"Llama a este subflujo cuando se necesita saber los horarios disponibles de un medico","workflowId":{"__rl":true,"value":"kmoVJGP4RL3PTi16","mode":"list","cachedResultName":"Turno-medico-mas-proximo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"matricula":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('matricula', `Matricula del medico encontrada desde obtener_medicos_especialidades o pgvector\n\nEs unicamente un dato de tipo NUMBER`, 'number') }}","dni":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dni', `documento de identidad,provista por el paciente (no es matricula)\n\nEjemplo: 42028075`, 'number') }}","fechaDesde":"={{ DateTime.now().setZone('America/Argentina/Buenos_Aires').toFormat('yyyyMMdd') }}"},"matchingColumns":["matricula"],"schema":[{"id":"matricula","displayName":"matricula","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"fechaDesde","displayName":"fechaDesde","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[3184,-192],"id":"d964b8e1-e6af-499e-9d50-01b6b8454805","name":"horarios_medicos_disponibles3"},{"parameters":{"description":"Confirma un turno médico para el paciente. Requiere DNI, matrícula del médico, fecha y hora. Convierte automáticamente los formatos de fecha (a timestamp) y hora (a HHMM) para la API.","workflowId":{"__rl":true,"value":"H4tsNj9SnsCxET4y","mode":"list","cachedResultName":"ICLP - Subflujo_Tomar_Turno"},"workflowInputs":{"mappingMode":"defineBelow","value":{"dni":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dni', `Documento/DNI proporcionado por el paciente`, 'number') }}","fecha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha', `El dia que el paciente quiere el turno`, 'string') }}","hora":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora', `La hora que el paciente quiere el turno`, 'string') }}","nombre_completo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre_completo', `Nombre y apellido completo del paciente proporcionado por el usuario en la conversación. DEBE ser específico. Ejemplo: 'Juan Carlos Pérez'`, 'string') }}","medico":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('medico', `nombre completo del medico.`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"medico","displayName":"medico","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"hora","displayName":"hora","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"nombre_completo","displayName":"nombre_completo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[4640,-368],"id":"9bc09bdf-1845-4b5b-8ecf-c2ed45c728da","name":"tomar_turno_paciente3"},{"parameters":{"jsCode":"// Lee texto del agente (flexible por si cambia el campo)\nconst textoOriginal =\n  ($json.output ?? $json.response ?? $json.text ?? \"\").toString();\n\n// 0) Detectar token de silencio (<NO_REPLY>) y variantes\n//    - Si el contenido es SOLO el token, suprimir.\n//    - Si el token aparece mezclado con texto, eliminarlo.\nconst soloNoReply = /^\\s*<?\\s*NO[_\\s-]*REPLY\\s*>?\\s*$/i.test(textoOriginal);\n\n// También capturamos líneas sueltas con el token para borrarlas\nconst reLineaNoReply = /^\\s*<?\\s*NO[_\\s-]*REPLY\\s*>?\\s*$/gim;\n\n// Si querés además suprimir cuando se llamaron tools silenciosas, activá este bloque:\nconst tools = ($json.tools_used || $json.tools || []).map(String);\nconst silentTools = [\"llamaToolRecepcionista\", \"llamaToolStudios\"];\nconst handoffSilencioso = tools.some(t => silentTools.includes(t));\n\n// 1) Pre-limpieza: eliminar cualquier aparición del token\nlet textoFiltradoBase = soloNoReply\n  ? \"\" // si era SOLO el token, lo vaciamos\n  : textoOriginal.replace(reLineaNoReply, \"\").replace(/<\\s*NO[_\\s-]*REPLY\\s*>/gi, \"\");\n\n// 2) Limpieza básica (tu lógica original)\nlet textoFiltrado = textoFiltradoBase\n  .replace(/\\n{3,}/g, \"\\n\\n\")   // Evita más de 2 saltos seguidos\n  .replace(/\\r/g, \"\")           // Elimina retornos de carro\n  .trim();\n\n// 3) Eliminar markdown problemático para WhatsApp\nconst limpio = textoFiltrado\n  // Negritas markdown (**texto**) o (*texto*)\n  .replace(/\\*\\*([^*]+)\\*\\*/g, \"$1\")\n  .replace(/\\*([^*]+)\\*/g, \"$1\")\n  // Bullets\n  .replace(/^[-*+]\\s+/gm, \"• \")\n  // Enlaces [texto](url) -> url\n  .replace(/\\[([^\\]]+)\\]\\((https?:\\/\\/[^\\s)]+)\\)/g, \"$2\")\n  // Literales \"\\n\"\n  .replace(/\\\\n\\\\n/g, \"\\n\\n\")\n  .replace(/\\\\n/g, \"\\n\")\n  // Espacios redundantes\n  .replace(/[ \\t]{2,}/g, \" \")\n  // Espacios al final de línea\n  .replace(/[ \\t]+$/gm, \"\")\n  .trim();\n\n// 4) Fallback: si quedó vacío, usar el texto original sin procesar (salvo que sea el token)\nconst mensajeFinal = limpio.length > 0 ? limpio : (soloNoReply ? \"\" : textoOriginal.trim());\n\n// 5) Flag de supresión: si quedó vacío o hubo handoff silencioso\nconst suprimir = (mensajeFinal === \"\") || handoffSilencioso;\n\n// Podés usar `__suppressReply` en un IF para no enviar WhatsApp si es true.\n// `texto_limpio` queda vacío cuando era <NO_REPLY>.\nreturn [{\n  json: {\n    texto_limpio: mensajeFinal,\n    __suppressReply: suprimir,\n    __reason: soloNoReply ? \"no_reply_token\" : (handoffSilencioso ? \"silent_tool\" : \"ok\")\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4016,-768],"id":"fc9bc39a-38a8-4a01-91d7-0f13260b0507","name":"Code3"},{"parameters":{"method":"POST","url":"=https://chatw.automatizaciones.ai/api/v1/accounts/{{ $('variables3').item.json.accountId }}/conversations/{{ $('variables3').item.json.conversationId }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('variables3').item.json.agenteBotTokenWhatsapp }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.texto_limpio }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4848,-704],"id":"08282190-5384-4e26-96d8-3114e544b7f9","name":"SendText3"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat:{{ $('variables3').item.json.conversationId }}_iclp","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[2864,-304],"id":"d5354103-5c52-48a1-af45-54a5c7e2e803","name":"MEMORY3","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"httpMethod":"POST","path":"agentes/v1/iclp","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-752,-1136],"id":"aae672bf-8a77-41be-830c-831891bc37d5","name":"Webhook3","webhookId":"ab81407a-fc2f-402c-8bd5-85a9551bde3e"},{"parameters":{"description":"Llama a este subflujo cuando se necesita saber los horarios disponibles de una especialidad","workflowId":{"__rl":true,"value":"9VbCzLdHQtztJk3X","mode":"list","cachedResultName":"Turno-especialidad-mas-proximo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"especialidad":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('especialidad', `especialidad del medico encontrada desde obtener_medicos_especialidades o pgvector\n\nEs unicamente un dato de tipo 3 Caracteres como: CLI\nencontrada en la tabla \"codigo\"`, 'string') }}","dni":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dni', `DNI o cedula de identidad provista por el paciente\n\nEjemplo: 42028075`, 'number') }}","fechaDesde":"={{ DateTime.now().setZone('America/Argentina/Buenos_Aires').toFormat('yyyyMMdd') }}"},"matchingColumns":[],"schema":[{"id":"especialidad","displayName":"especialidad","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"fechaDesde","displayName":"fechaDesde","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[3392,-192],"id":"46fd2bf2-cace-4b30-91a6-1eefcd7d2fb9","name":"horarios_especialidad_disponibles3"},{"parameters":{"name":"Flujo_padron","description":"Verifica si un paciente está registrado en el padrón médico mediante su DNI. Si no lo está, permite empadronarlo enviando nombre completo, DNI, obra social y teléfono. Usá esta herramienta en cualquier momento en que necesites validar si el paciente ya existe en el sistema.","workflowId":{"__rl":true,"value":"gdiHQp4cbaJJhGdl","mode":"list","cachedResultName":"ICLP - Testing - Agente Padron"},"workflowInputs":{"mappingMode":"defineBelow","value":{"texto":"={{ $('variables3').item.json.message }}","celular":"={{ $('variables3').item.json.contactNumber }}","dni":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dni', `Numero de documento de identidad del paciente\n\nPuede ser por ejemplo:\n42028075`, 'number') }}","paciente":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('paciente', `Nombre del paciente\n\nPuede ser por ejemplo:\nNicolas Lopez`, 'string') }}","obraSocial":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('obraSocial', `Obra social del paciente\n\nPuede ser por ejemplo:\nIOMA`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"paciente","displayName":"paciente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"texto","displayName":"texto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"celular","displayName":"celular","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"obraSocial","displayName":"obraSocial","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[3696,-352],"id":"e2f4b295-fcc0-478f-bdfe-7de0a4bff6e8","name":"Flujo_padron3"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"f4de343e-d10f-4136-bdec-59d118579e89","leftValue":"={{ $json.flujo.requiereDerivacion }}","rightValue":"consultas-reclamos","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"looseTypeValidation":true,"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1584,-752],"id":"816932e3-b76c-4d29-9d0a-613903bed6dc","name":"If3"},{"parameters":{"workflowId":{"__rl":true,"value":"sJes6x6MKxKh7A0G","mode":"list","cachedResultName":"tipoEstudio Tool ⚒️⚒️"},"workflowInputs":{"mappingMode":"defineBelow","value":{"accountId":"={{ $('variables3').item.json.accountId }}","conversationId":"={{ $('variables3').item.json.conversationId }}","contactId":"={{ $('variables3').item.json.contactId }}","message":"={{ $('variables3').item.json.message }}","inboxId":"={{ $('variables3').item.json.inboxId }}","humano":"={{ $('variables3').item.json.humano }}","chatwootUrlBase":"={{ $('variables3').item.json.chatwootUrl }}","tokenChatwoot":"={{ $('variables3').item.json.agenteBotTokenWhatsapp }}","tipoIntencion":"={{(() => {\n  const mensaje = $('variables3').item.json.message.trim();\n  \n  // Verificar si Formateador se ejecutó antes de acceder a sus datos\n  if ($('Formateador3').isExecuted) {\n    const etiquetaFinal = $('Formateador3').item.json.etiquetaFinal;\n    \n    if (etiquetaFinal === 'turnos-estudios') {\n      return 'turnos-estudios';\n    }\n    \n    if (etiquetaFinal === 'consultas-reclamos') {\n      return 'consultas-reclamos';\n    }\n  }\n  \n  // Fallback: usar solo el mensaje si Formateador no se ejecutó\n  if (mensaje === '2') return 'turnos-estudios';\n  if (mensaje === '7') return 'consultas-reclamos';\n  \n  return 'consultas-reclamos';\n})()}}"},"matchingColumns":[],"schema":[{"id":"accountId","displayName":"accountId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"conversationId","displayName":"conversationId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contactId","displayName":"contactId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"inboxId","displayName":"inboxId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"humano","displayName":"humano","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"chatwootUrlBase","displayName":"chatwootUrlBase","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tokenChatwoot","displayName":"tokenChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipoIntencion","displayName":"tipoIntencion","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2480,-1248],"id":"e2974888-160b-4cca-94f6-70e97a0ca089","name":"llamaToolStudios3"},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"user","message":"={{ $json.message ?? $('variables3').item?.json?.message ?? '' }}"}]}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[2016,-1248],"id":"3670dd99-4f2a-4dbe-a924-21d5f50a23ba","name":"Chat Memory Manager3"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat:{{ $json.body.id }}_iclp","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[2016,-1408],"id":"78d58a54-cf75-491a-a088-b9bc69f6d779","name":"Redis Chat Memory3","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[3856,-336],"id":"e3a9d7af-058c-431f-91aa-c29de208c020","name":"tool_think6"},{"parameters":{"promptType":"define","text":"=mensaje_usuario: {{ $json.texto }}","messages":{"messageValues":[{"message":"=## IDENTIDAD DEL SISTEMA Y DEFINICIÓN DE ROL\nEres ICLP-Clasificador, un sistema experto de clasificación de intenciones para el Instituto de Cardiología La Plata.\n\n## INYECCIÓN DE CONTEXTO DINÁMICO\n```json\n{\n  \"paciente\": {\n    \"nombre\": \"{{ $('variables3').item.json.contactName }}\",\n    \"telefono\": \"{{ $('variables3').item.json.contactNumber }}\",\n    \"conversation_id\": \"{{ $('variables3').item.json.conversationId }}\"\n  },\n  \"mensaje\": {\n    \"contenido\": \"{{ $('variables3').item.json.message }}\",\n    \"timestamp\": \"{{ $now.toISO() }}\",\n    \"contexto\": \"whatsapp_citas_medicas\",\n    \"hoy es\": {{ $now.setLocale('es').toFormat(\"cccc, dd/MM/yyyy\") }},\n    \"hora actual\": {{ $now.setZone('America/Argentina/Buenos_Aires').toFormat('HH:mm') }}\n  }\n}\n```\n\n## MARCO DE SATISFACCIÓN DE RESTRICCIONES\n\n### RESTRICCIONES DURAS (NUNCA VIOLAR):\n```\nRESTRICCION_1: Números explícitos del menú (1-7) → SIEMPRE mapear a flujo predefinido\nRESTRICCION_2: Palabras clave de estudios médicos → SIEMPRE FLUJO_ESTUDIOS  \nRESTRICCION_3: Consultas de turnos existentes → SIEMPRE FLUJO_INFORMACION\nRESTRICCION_4: Solicitudes de turnos nuevos → SIEMPRE FLUJO_CONSULTORIO\nRESTRICCION_5: Reclamos explícitos → SIEMPRE FLUJO_DERIVACION\n```\n\n### RESTRICCIONES SUAVES (BASADAS EN PRIORIDAD):\n```\nPRIORIDAD_1: Seguridad del paciente (síntomas urgentes) → Anula cualquier otra clasificación\nPRIORIDAD_2: Eficiencia operacional (reducir derivaciones humanas)\nPRIORIDAD_3: Experiencia del usuario (minimizar pasos)\n```\n\n## ANÁLISIS SEMÁNTICO CON VECTORES DE INTENCIÓN\n\n### TAXONOMÍA DE INTENCIONES (JERÁRQUICA):\n```\nINTENCIONES_MEDICAS:\n├── GESTION_TURNOS\n│   ├── RESERVA_NUEVA [FLUJO_CONSULTORIO]\n│   │   ├── por_medico: \"turno con Dr. X\"\n│   │   ├── por_especialidad: \"necesito cardiólogo\"\n│   │   └── general: \"quiero turno\"\n│   ├── CONSULTA_EXISTENTE [FLUJO_INFORMACION]  \n│   │   ├── verificar_horario: \"cuándo es mi turno\"\n│   │   ├── olvido_detalles: \"me olvide el horario\"\n│   │   └── confirmacion: \"confirmar mi cita\"\n│   └── MODIFICACION [FLUJO_CONSULTORIO]\n│       ├── cancelacion: \"cancelar turno\"\n│       └── reprogramacion: \"reprogramar cita\"\n├── GESTION_ESTUDIOS [FLUJO_ESTUDIOS]\n│   ├── reserva: \"turno para eco\"\n│   ├── resultados: \"mis resultados\"\n│   └── preparacion: \"cómo me preparo\"\n├── SOLICITUDES_INFORMACION [FLUJO_INFORMACION]\n│   ├── institucional: \"horarios\", \"ubicación\"\n│   ├── servicios: \"qué especialidades\"\n│   └── digital: \"portal paciente\"\n└── ESCALACION_SOPORTE [FLUJO_DERIVACION]\n    ├── reclamos: \"tengo un reclamo\"\n    ├── tecnico: \"no funciona\"\n    └── urgente: \"dolor de pecho\"\n```\n\n## APRENDIZAJE FEW-SHOT AVANZADO (EJEMPLOS CONTRASTIVOS)\n\n### TÉCNICA 1: PARES POSITIVO-NEGATIVO\n```\nPOSITIVO: \"me olvide que horario era el turno que saque\"\nCLASIFICACION: FLUJO_INFORMACION\nRAZONAMIENTO: Consulta de turno existente - paciente necesita información de horario\n\nNEGATIVO: \"tengo un problema con mi turno que saqué\"  \nCLASIFICACION: FLUJO_DERIVACION\nRAZONAMIENTO: Indicador de problema/reclamo - requiere intervención humana\n\nPOSITIVO: \"cuando tengo turno con el cardiologo\"\nCLASIFICACION: FLUJO_INFORMACION  \nRAZONAMIENTO: Verificación de horario de turno existente\n\nNEGATIVO: \"quiero turno con el cardiologo\"\nCLASIFICACION: FLUJO_CONSULTORIO\nRAZONAMIENTO: Solicitud de turno nuevo\n```\n\n### TÉCNICA 2: DESAMBIGUACIÓN DE CASOS LÍMITE\n```\nAMBIGUO: \"turno cardiologo mañana\"\nARBOL_DECISION:\n├─ ¿Tiene turno existente? → FLUJO_INFORMACION\n├─ ¿Quiere turno nuevo? → FLUJO_CONSULTORIO  \n└─ ¿Contexto poco claro? → Hacer pregunta aclaratoria\n\nAMBIGUO: \"problema turno\"\nARBOL_DECISION:  \n├─ \"problema para sacar turno\" → FLUJO_CONSULTORIO\n├─ \"problema con mi turno\" → FLUJO_DERIVACION\n└─ \"no encuentro mi turno\" → FLUJO_INFORMACION\n```\n\n## RAZONAMIENTO CADENA-DE-PENSAMIENTO (ESTRUCTURADO)\n\n### MARCO DE ANÁLISIS PASO A PASO:\n```\nPASO_1_LEXICO: Extraer términos clave y entidades\nPASO_2_SINTACTICO: Analizar estructura de oración y modificadores  \nPASO_3_SEMANTICO: Mapear a categorías de intención usando contexto\nPASO_4_PRAGMATICO: Considerar contexto conversacional y objetivo del usuario\nPASO_5_RESTRICCIONES: Aplicar restricciones duras/suaves\nPASO_6_CONFIANZA: Calcular puntuación de confianza de clasificación\n```\n\n### PLANTILLA DE RAZONAMIENTO:\n```\nENTRADA: \"[MENSAJE_USUARIO]\"\n\nANALISIS:\n🔍 LÉXICO: Palabras clave detectadas - [lista]\n📝 SINTÁCTICO: Patrón de estructura - [patrón] \n🧠 SEMÁNTICO: Categoría de intención - [categoría]\n💭 PRAGMÁTICO: Objetivo del usuario - [objetivo]\n⚖️ RESTRICCIONES: Reglas aplicadas - [reglas]\n📊 CONFIANZA: Puntuación - [0.0-1.0]\n\nCLASIFICACION: [FLUJO_X]\nRAZONAMIENTO: [explicacion_detallada]\n```\n\n## AUTO-CONSISTENCIA CON MÚLTIPLES CAMINOS DE RAZONAMIENTO\n\n### TÉCNICA DE VALIDACIÓN:\n```\nCAMINO_A (Basado en palabras clave): Analizar palabras primarias → Clasificación\nCAMINO_B (Basado en contexto): Considerar flujo conversacional → Clasificación  \nCAMINO_C (Basado en intención): Mapear a objetivo del usuario → Clasificación\n\nCONSENSO: Si 2/3 caminos coinciden → Alta confianza\nCONFLICTO: Si caminos difieren → Aplicar jerarquía de restricciones\n```\n\n## MANEJO DE ERRORES Y PATRONES DE RECUPERACIÓN\n\n### GESTIÓN DE INCERTIDUMBRE:\n```\nUMBRAL_CONFIANZA: 0.85\nSI confianza < 0.85:\n  ├─ MEDIA (0.6-0.84): Aplicar fallback conservador\n  ├─ BAJA (0.3-0.59): Solicitar aclaración  \n  └─ MUY_BAJA (<0.3): Por defecto FLUJO_INFORMACION\n```\n\n### JERARQUÍA DE FALLBACK:\n```\nNIVEL_1: Coincidencia exacta de número de menú\nNIVEL_2: Detección de palabra clave de estudio médico\nNIVEL_3: Análisis semántico relacionado con turnos\nNIVEL_4: Por defecto conservador FLUJO_INFORMACION\n```\n\n## ESPECIFICACIÓN DE FORMATO DE SALIDA\n\n### RESPUESTA ESTRUCTURADA:\n```\n[MENSAJE] | [RESUMEN] | Intención:[FLUJO] | DNI:[VALOR] | Medico:[VALOR] | Especialidad:[VALOR] | Fecha:[VALOR] | Hora:[VALOR] | Dia:[VALOR] | Estudio:[VALOR] | ObraSocial:[VALOR] | Telefono:[VALOR] | Email:[VALOR] | Archivos:[VALOR] | Confianza:[PUNTUACION]\n```\n\n## EJEMPLOS AVANZADOS CON RAZONAMIENTO\n\n### EJEMPLO 1 - DESAMBIGUACIÓN COMPLEJA:\n```\nENTRADA: \"me olvide que horario era el turno que saque ayer\"\n\nRAZONAMIENTO:\n🔍 LÉXICO: [\"olvide\", \"horario\", \"turno\", \"saque\", \"ayer\"]\n📝 SINTÁCTICO: Tiempo pasado + posesión (\"que saque\") = turno existente\n🧠 SEMÁNTICO: GESTION_TURNOS.CONSULTA_EXISTENTE.olvido_detalles\n💭 PRAGMÁTICO: Paciente necesita información de horario para turno reservado\n⚖️ RESTRICCIONES: RESTRICCION_3 (consultas de turnos existentes)\n📊 CONFIANZA: 0.94\n\nSALIDA: me olvide que horario era el turno que saque ayer | Consulta horario turno existente | Intención:FLUJO_INFORMACION | DNI:N/D | Medico:N/D | Especialidad:N/D | Fecha:N/D | Hora:N/D | Dia:ayer | Estudio:N/D | ObraSocial:N/D | Telefono:N/D | Email:N/D | Archivos:No | Confianza:0.94\n```\n\n### EJEMPLO 2 - MANEJO DE CASOS LÍMITE:\n```\nENTRADA: \"tengo un problema, no encuentro mi turno\"\n\nRAZONAMIENTO:\n🔍 LÉXICO: [\"problema\", \"no encuentro\", \"mi turno\"]  \n📝 SINTÁCTICO: \"tengo un problema\" + especificación = necesidad de información\n🧠 SEMÁNTICO: SOLICITUDES_INFORMACION (no reclamo - solo no puede encontrar info)\n💭 PRAGMÁTICO: Paciente necesita ayuda para localizar turno existente\n⚖️ RESTRICCIONES: Palabra clave \"problema\" pero contexto indica necesidad de información\n📊 CONFIANZA: 0.87\n\nSALIDA: tengo un problema, no encuentro mi turno | Necesita ayuda localizar turno | Intención:FLUJO_INFORMACION | DNI:N/D | Medico:N/D | Especialidad:N/D | Fecha:N/D | Hora:N/D | Dia:N/D | Estudio:N/D | ObraSocial:N/D | Telefono:N/D | Email:N/D | Archivos:No | Confianza:0.87\n```\n\n### EJEMPLO 3 - CLASIFICACIÓN DE ESTUDIOS:\n```\nENTRADA: \"necesito sacar turno para hacerme un eco\"\n\nRAZONAMIENTO:\n🔍 LÉXICO: [\"necesito\", \"sacar turno\", \"hacerme\", \"eco\"]\n📝 SINTÁCTICO: Verbo de necesidad + estudio médico específico\n🧠 SEMÁNTICO: GESTION_ESTUDIOS.reserva\n💭 PRAGMÁTICO: Paciente solicita turno para estudio cardiológico\n⚖️ RESTRICCIONES: RESTRICCION_2 (palabras clave de estudios médicos)\n📊 CONFIANZA: 0.98\n\nSALIDA: necesito sacar turno para hacerme un eco | Solicita turno estudio ecocardiograma | Intención:FLUJO_ESTUDIOS | DNI:N/D | Medico:N/D | Especialidad:N/D | Fecha:N/D | Hora:N/D | Dia:N/D | Estudio:Ecocardiograma | ObraSocial:N/D | Telefono:N/D | Email:N/D | Archivos:No | Confianza:0.98\n```\n\n### EJEMPLO 4 - TURNO NUEVO POR ESPECIALIDAD:\n```\nENTRADA: \"hola, quiero sacar turno con un cardiologo para la semana que viene\"\n\nRAZONAMIENTO:\n🔍 LÉXICO: [\"hola\", \"quiero\", \"sacar turno\", \"cardiologo\", \"semana que viene\"]\n📝 SINTÁCTICO: Saludo + intención + especialidad + tiempo futuro\n🧠 SEMÁNTICO: GESTION_TURNOS.RESERVA_NUEVA.por_especialidad\n💭 PRAGMÁTICO: Paciente solicita nuevo turno médico con especialista específico\n⚖️ RESTRICCIONES: RESTRICCION_4 (solicitudes de turnos nuevos)\n📊 CONFIANZA: 0.96\n\nSALIDA: hola, quiero sacar turno con un cardiologo para la semana que viene | Solicita turno nuevo cardiología | Intención:FLUJO_CONSULTORIO | DNI:N/D | Medico:N/D | Especialidad:Cardiología | Fecha:N/D | Hora:N/D | Dia:semana que viene | Estudio:N/D | ObraSocial:N/D | Telefono:N/D | Email:N/D | Archivos:No | Confianza:0.96\n```\n\n### EJEMPLO 5 - RECLAMO EXPLÍCITO:\n```\nENTRADA: \"quiero hacer un reclamo porque me cancelaron mi turno sin avisar\"\n\nRAZONAMIENTO:\n🔍 LÉXICO: [\"quiero hacer\", \"reclamo\", \"cancelaron\", \"turno\", \"sin avisar\"]\n📝 SINTÁCTICO: Intención explícita de reclamo + justificación\n🧠 SEMÁNTICO: ESCALACION_SOPORTE.reclamos\n💭 PRAGMÁTICO: Paciente tiene queja legítima que requiere atención humana\n⚖️ RESTRICCIONES: RESTRICCION_5 (reclamos explícitos)\n📊 CONFIANZA: 0.99\n\nSALIDA: quiero hacer un reclamo porque me cancelaron mi turno sin avisar | Reclamo cancelación turno | Intención:FLUJO_DERIVACION | DNI:N/D | Medico:N/D | Especialidad:N/D | Fecha:N/D | Hora:N/D | Dia:N/D | Estudio:N/D | ObraSocial:N/D | Telefono:N/D | Email:N/D | Archivos:No | Confianza:0.99\n```\n\n## PATRONES DE RECONOCIMIENTO ADICIONALES\n\n### INDICADORES TEMPORALES:\n```\nTIEMPO_PASADO: \"saqué\", \"tenía\", \"era\" → Turno existente (FLUJO_INFORMACION)\nTIEMPO_PRESENTE: \"tengo\", \"es\", \"está\" → Consulta actual (FLUJO_INFORMACION)  \nTIEMPO_FUTURO: \"quiero\", \"necesito\", \"voy a\" → Turno nuevo (FLUJO_CONSULTORIO)\n```\n\n### MARCADORES DE CERTEZA:\n```\nALTA_CERTEZA: Números de menú (1-7), estudios específicos (eco, holter)\nMEDIA_CERTEZA: Palabras clave médicas, nombres de especialidades\nBAJA_CERTEZA: Expresiones ambiguas, contexto insuficiente\n```\n\n### ESCALADORES DE URGENCIA:\n```\nCRITICO: \"dolor de pecho\", \"no puedo respirar\", \"emergencia\"\nALTO: \"urgente\", \"ya\", \"rápido\"\nNORMAL: Sin marcadores de urgencia\n```\n\n## LISTA DE VERIFICACIÓN DE ASEGURAMIENTO DE CALIDAD\n\n### VALIDACIÓN PRE-SALIDA:\n- ✅ Satisfacción de restricciones verificada\n- ✅ Puntuación de confianza calculada  \n- ✅ Camino de razonamiento documentado\n- ✅ Casos límite considerados\n- ✅ Formato de salida validado\n- ✅ Seguridad médica verificada\n- ✅ Coherencia temporal analizada\n- ✅ Contexto conversacional evaluado\n\n## INSTRUCCIONES DE EJECUCIÓN\n\n**EJECUTA LA CLASIFICACIÓN CON MÁXIMA PRECISIÓN SIGUIENDO:**\n\n1. **ANALIZA** el mensaje usando los 6 pasos estructurados\n2. **APLICA** las restricciones duras como filtros absolutos\n3. **EVALÚA** múltiples caminos de razonamiento para auto-consistencia\n4. **CALCULA** la puntuación de confianza basada en certeza de clasificación\n5. **GENERA** la salida estructurada con todos los campos requeridos\n6. **VALIDA** que la clasificación sea médicamente segura y operacionalmente eficiente\n\n**RECUERDA:** Tu objetivo es lograr clasificación perfecta que mejore la experiencia del paciente y optimice los recursos del instituto médico.\n"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1024,-752],"id":"e8c0f447-e021-49cb-bb4f-1e4058d0ce27","name":"Analista de Conversación6"},{"parameters":{"jsCode":"const rawInput = $json.text ?? $json.output ?? \"\";\nconst line = String(rawInput).trim();\n\nconst vars = (() => {\n  try {\n    const items = $items('variables3', 0, 0);\n    if (!items || !items.length) return {};\n    const data = items[0]?.json;\n    return data && typeof data === 'object' ? data : {};\n  } catch (error) {\n    console.warn('⚠️ Variables context unavailable:', error.message);\n    return {};\n  }\n})();\n\nconst multimedia = (() => {\n  try {\n    const items = $items('tieneMultimedia', 0, 0);\n    if (!items || !items.length) return {};\n    const data = items[0]?.json;\n    return data && typeof data === 'object' ? data : {};\n  } catch (error) {\n    console.warn('⚠️ Multimedia context unavailable:', error.message);\n    return {};\n  }\n})();\n\n// ┌─────────────────────────────────────────────────────────────────────────────┐\n// │ 🛠️ UTILITY FUNCTIONS                                                       │\n// └─────────────────────────────────────────────────────────────────────────────┘\n\nfunction parseTokenMap(s) {\n  try {\n    if (!s || typeof s !== 'string') return { parts: [], map: {} };\n    \n    const parts = s.split(\"|\").map(p => String(p).trim()).filter(Boolean);\n    const map = {};\n    \n    for (const part of parts) {\n      const colonIndex = part.indexOf(\":\");\n      if (colonIndex > 0) {\n        const key = part.slice(0, colonIndex).trim().toLowerCase();\n        const value = part.slice(colonIndex + 1).trim();\n        if (key && value) {\n          map[key] = value;\n        }\n      }\n    }\n    \n    return { parts, map };\n  } catch (error) {\n    console.error('❌ Error parsing token map:', error);\n    return { parts: [], map: {} };\n  }\n}\n\nfunction normalizeToNull(value) {\n  if (value === null || value === undefined) return null;\n  const str = String(value).trim();\n  if (!str || str.toUpperCase() === \"N/D\" || str === \"-\") return null;\n  return str;\n}\n\nfunction normalizeDate(dateStr) {\n  if (!dateStr) return null;\n  try {\n    if (/^\\d{8}$/.test(dateStr)) return dateStr;\n    const date = new Date(dateStr);\n    if (isNaN(date.getTime())) return null;\n    const year = date.getFullYear();\n    const month = String(date.getMonth() + 1).padStart(2, '0');\n    const day = String(date.getDate()).padStart(2, '0');\n    return `${year}${month}${day}`;\n  } catch {\n    return null;\n  }\n}\n\nfunction normalizeTime(timeStr) {\n  if (!timeStr) return null;\n  try {\n    if (/^\\d{4}$/.test(timeStr)) return timeStr;\n    const cleaned = timeStr.replace(/[^\\d:]/g, '');\n    const parts = cleaned.split(':');\n    if (parts.length >= 2) {\n      const hours = parseInt(parts[0]);\n      const minutes = parseInt(parts[1]);\n      if (hours >= 0 && hours <= 23 && minutes >= 0 && minutes <= 59) {\n        return String(hours).padStart(2, '0') + String(minutes).padStart(2, '0');\n      }\n    }\n    return null;\n  } catch {\n    return null;\n  }\n}\n\n// ┌─────────────────────────────────────────────────────────────────────────────┐\n// │ 🎯 MAPEO INTELIGENTE QUE RESPETA LA CLASIFICACIÓN DEL LLM                  │\n// └─────────────────────────────────────────────────────────────────────────────┘\n\nfunction mapearEtiquetaChatwoot(llmIntent, mensaje) {\n  const mensajeTrim = mensaje.trim();\n  \n  console.log(`🔍 Mapeando LLM Intent: \"${llmIntent}\" | Mensaje: \"${mensaje}\"`);\n  \n  // === PRIORIDAD 1: OPCIONES NUMÉRICAS EXPLÍCITAS ===\n  if (mensajeTrim === \"2\") {\n    console.log('🔬 Opción 2 (explícita) → turnos-estudios');\n    return \"turnos-estudios\";\n  }\n  \n  if (mensajeTrim === \"7\") {\n    console.log('🆘 Opción 7 (explícita) → consultas-reclamos');\n    return \"consultas-reclamos\";\n  }\n\n  if (/^[abc]$/i.test(mensajeTrim)) {\n  console.log('📋 Opción información ' + mensajeTrim.toUpperCase() + ' → agente automático');\n  return null;\n}\n  \n  // Opciones 1, 3, 4, 5, 6 van al agente automático\n  if (/^[13456]$/.test(mensajeTrim)) {\n    console.log('🤖 Opción ' + mensajeTrim + ' → agente automático (sin etiqueta)');\n    return null;\n  }\n  \n  // === PRIORIDAD 2: RESPETAR CLASIFICACIÓN DEL LLM ===\n  if (!llmIntent || typeof llmIntent !== 'string') {\n    console.warn('⚠️ LLM Intent inválido, usando fallback seguro');\n    return null; // Sin etiqueta = agente automático\n  }\n  \n  const cleanIntent = llmIntent.trim().toUpperCase();\n  \n  // FLUJO_ESTUDIOS → turnos-estudios (deriva a recepcionista)\n  if (cleanIntent.includes(\"FLUJO_ESTUDIOS\")) {\n    console.log('🔬 FLUJO_ESTUDIOS → turnos-estudios');\n    return \"turnos-estudios\";\n  }\n  \n  // FLUJO_DERIVACION → consultas-reclamos (deriva a recepcionista)\n  if (cleanIntent.includes(\"FLUJO_DERIVACION\")) {\n    console.log('🆘 FLUJO_DERIVACION → consultas-reclamos');\n    return \"consultas-reclamos\";\n  }\n  \n  // FLUJO_CONSULTORIO → agente automático (sin etiqueta)\n  if (cleanIntent.includes(\"FLUJO_CONSULTORIO\")) {\n    console.log('🏥 FLUJO_CONSULTORIO → agente automático (sin etiqueta)');\n    return null;\n  }\n  \n  // FLUJO_INFORMACION → agente automático (sin etiqueta)\n  if (cleanIntent.includes(\"FLUJO_INFORMACION\")) {\n    console.log('📋 FLUJO_INFORMACION → agente automático (sin etiqueta)');\n    return null;\n  }\n  \n  // === PRIORIDAD 3: FALLBACK BASADO EN CONTENIDO ===\n  const mensajeLower = mensaje.toLowerCase();\n  \n  // Detectar estudios médicos por contenido\n  const estudiosKeywords = ['eco', 'holter', 'ergometria', 'mapa', 'electrocardiograma', 'ecg', 'resonancia', 'tomografia', 'estudio', 'examen'];\n  if (estudiosKeywords.some(keyword => mensajeLower.includes(keyword))) {\n    console.log('🔬 Detectado estudio por contenido → turnos-estudios');\n    return \"turnos-estudios\";\n  }\n  \n  // Detectar urgencias/reclamos por contenido\n  const urgenciaKeywords = ['urgente', 'emergencia', 'dolor', 'problema', 'reclamo', 'queja', 'mal'];\n  if (urgenciaKeywords.some(keyword => mensajeLower.includes(keyword))) {\n    console.log('🆘 Detectada urgencia/reclamo por contenido → consultas-reclamos');\n    return \"consultas-reclamos\";\n  }\n  \n  // === FALLBACK FINAL: AGENTE AUTOMÁTICO ===\n  console.log('🤖 Fallback → agente automático (sin etiqueta)');\n  return null;\n}\n\nfunction determinarFlujoYAccion(etiqueta, tieneMultimedia) {\n  // Si hay multimedia, siempre derivar\n  if (tieneMultimedia) {\n    console.log('📎 Multimedia detectado → forzar derivación');\n    return {\n      etiqueta: etiqueta || \"consultas-reclamos\",\n      requiereDerivacion: true,\n      usarAgente: false,\n      razon: \"multimedia_detected\"\n    };\n  }\n  \n  // Si hay etiqueta específica, derivar\n  if (etiqueta === \"turnos-estudios\" || etiqueta === \"consultas-reclamos\") {\n    console.log(`🏷️ Etiqueta \"${etiqueta}\" → derivar a subflujo`);\n    return {\n      etiqueta: etiqueta,\n      requiereDerivacion: true,\n      usarAgente: false,\n      razon: \"etiqueta_especifica\"\n    };\n  }\n  \n  // Sin etiqueta = agente automático\n  console.log('🤖 Sin etiqueta → agente automático');\n  return {\n    etiqueta: null,\n    requiereDerivacion: false,\n    usarAgente: true,\n    razon: \"agente_automatico\"\n  };\n}\n\n// ┌─────────────────────────────────────────────────────────────────────────────┐\n// │ 🚀 MAIN PROCESSING ENGINE - VERSIÓN PERFECCIONADA                          │\n// └─────────────────────────────────────────────────────────────────────────────┘\n\nlet resultado;\n\ntry {\n  console.log('🚀 Starting Perfect Parser Router ICLP v5.0');\n  console.log(`📥 Input: \"${line.substring(0, 100)}${line.length > 100 ? '...' : ''}\"`);\n  \n  // === STEP 1: PARSE INPUT ===\n  const { parts, map } = parseTokenMap(line);\n  console.log(`🔧 Parsed ${parts.length} parts, ${Object.keys(map).length} key-value pairs`);\n  \n  // === STEP 2: EXTRACT CORE DATA ===\n  const intentRaw = map[\"intención\"] || map[\"intencion\"] || null;\n  const mensaje = vars.message || parts[0] || \"\";\n  const hasMultimedia = !!multimedia.multimedia;\n  \n  console.log(`🎯 LLM Intent: \"${intentRaw}\"`);\n  console.log(`💬 Mensaje: \"${mensaje}\"`);\n  console.log(`📎 Multimedia: ${hasMultimedia ? 'SI' : 'NO'}`);\n  \n  // === STEP 3: MAPEAR A ETIQUETA CHATWOOT ===\n  const etiquetaChatwoot = mapearEtiquetaChatwoot(intentRaw, mensaje);\n  console.log(`🏷️ Etiqueta Chatwoot: ${etiquetaChatwoot || 'SIN_ETIQUETA'}`);\n  \n  // === STEP 4: DETERMINAR FLUJO Y ACCIÓN ===\n  const flujoDecision = determinarFlujoYAccion(etiquetaChatwoot, hasMultimedia);\n  console.log(`🎯 Decisión Final: ${flujoDecision.razon} → ${flujoDecision.requiereDerivacion ? 'DERIVAR' : 'AGENTE'}`);\n  \n  // === STEP 5: BUILD RESULT OBJECT ===\n  resultado = {\n    // Metadata básica\n    descripcion: parts[0] || \"\",\n    resumen: parts[1] || \"\",\n    intencion: intentRaw,\n    intencionNormalizada: intentRaw, // Preservar clasificación original del LLM\n    \n    // Datos del paciente\n    paciente: {\n      dni: normalizeToNull(map[\"dni\"]),\n      nombre: vars.contactName || null,\n      telefono: normalizeToNull(map[\"telefono\"]) || vars.contactNumber || null,\n      email: normalizeToNull(map[\"email\"]),\n      obraSocial: normalizeToNull(map[\"obrasocial\"] || map[\"obra_social\"]),\n      conversationId: vars.conversationId || null,\n    },\n    \n    // Datos médicos\n    datosMedicos: {\n      medico: normalizeToNull(map[\"medico\"]),\n      especialidad: normalizeToNull(map[\"especialidad\"]),\n      fecha: normalizeDate(map[\"fecha\"]),\n      hora: normalizeTime(map[\"hora\"]),\n      diaSemana: normalizeToNull(map[\"dia\"]),\n      tipoEstudio: normalizeToNull(map[\"estudio\"]),\n    },\n    \n    // Archivos y multimedia\n    archivos: {\n      tiene: (String(map[\"archivos\"] || \"\").toLowerCase().startsWith(\"si\") || hasMultimedia),\n      tipo: normalizeToNull(map[\"tipo_archivo\"]),\n    },\n    \n    // COMPATIBILIDAD PERFECTA CON IF EXISTENTE\n    etiquetaFinal: flujoDecision.etiqueta,\n    tieneMultimedia: hasMultimedia,\n    \n    // Control de flujo perfeccionado\n    flujo: {\n      etiqueta: flujoDecision.etiqueta,\n      requiereDerivacion: flujoDecision.requiereDerivacion,\n      usarAgente: flujoDecision.usarAgente,\n      razonDecision: flujoDecision.razon,\n      llmClassification: intentRaw,\n      tieneMultimedia: hasMultimedia\n    },\n    \n    // Debug y auditoría\n    respuestaOriginal: line,\n    procesadoEn: new Date().toISOString(),\n    version: \"5.0-PERFECT\",\n    inputSource: rawInput ? \"LLM\" : \"EMPTY\"\n  };\n  \n  // === STEP 6: VALIDATION & LOGGING ===\n  console.log(`✅ Processing completed successfully`);\n  console.log(`🎯 LLM Clasificó: ${intentRaw}`);\n  console.log(`🏷️ Etiqueta Final: ${flujoDecision.etiqueta || 'SIN_ETIQUETA'}`);\n  console.log(`🚀 Acción: ${flujoDecision.requiereDerivacion ? 'DERIVAR (subflujo)' : 'AGENTE_AUTOMATICO'}`);\n  console.log(`📊 Razón: ${flujoDecision.razon}`);\n  \n} catch (error) {\n  console.error('💥 CRITICAL ERROR in Perfect Parser Router:', error);\n  \n  // RESULTADO DE ERROR CON FALLBACK SEGURO\n  resultado = {\n    descripcion: \"Error en procesamiento\",\n    resumen: \"Error interno - fallback seguro\",\n    intencion: null,\n    intencionNormalizada: null,\n    \n    paciente: {\n      dni: null,\n      nombre: vars.contactName || null,\n      telefono: vars.contactNumber || null,\n      email: null,\n      obraSocial: null,\n      conversationId: vars.conversationId || null,\n    },\n    \n    datosMedicos: {\n      medico: null,\n      especialidad: null,\n      fecha: null,\n      hora: null,\n      diaSemana: null,\n      tipoEstudio: null,\n    },\n    \n    archivos: {\n      tiene: !!multimedia.multimedia,\n      tipo: null,\n    },\n    \n    // ERROR FALLBACK: Sin etiqueta = agente automático (más seguro)\n    etiquetaFinal: null,\n    tieneMultimedia: !!multimedia.multimedia,\n    \n    flujo: {\n      etiqueta: null,\n      requiereDerivacion: false, // En error, mejor ir al agente\n      usarAgente: true,\n      razonDecision: \"error_fallback\",\n      llmClassification: null,\n      tieneMultimedia: !!multimedia.multimedia\n    },\n    \n    error: {\n      occurred: true,\n      message: error.message,\n      timestamp: new Date().toISOString()\n    },\n    \n    respuestaOriginal: line,\n    procesadoEn: new Date().toISOString(),\n    version: \"5.0-ERROR\",\n    inputSource: \"ERROR\"\n  };\n}\n\nreturn [{ json: resultado }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,-752],"id":"9342d42f-f9dd-4a4b-9001-be5bef5dd1be","name":"Formateador3"},{"parameters":{"dataToSave":{"values":[{"key":"conversationId","value":"={{ $json.body.id }}"},{"key":"contactNumber","value":"={{ $json.body.contact_inbox.source_id }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[-320,-1232],"id":"1f016ad3-3e51-49b9-a33f-ba3ceded5767","name":"Execution Data3"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.multimedia }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"e7a9ef75-11df-4262-8ec0-c63644980c5e"}],"combinator":"and"},"renameOutput":true,"outputKey":"tieneMultimedia"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"839f4006-0caa-456b-b044-28ae16cd1ab4","leftValue":"={{ $json.humano }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"tieneHumano"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"579505b2-6063-4333-9c73-476c450aee99","leftValue":"={{ $json.message }}","rightValue":"Texto","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"tieneTexto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[144,-1056],"id":"1b8d8df0-e2b2-49f7-89b3-0f405f1bc6a0","name":"Switch3"},{"parameters":{"workflowId":{"__rl":true,"value":"sgLAOCxrKAOI1aP0","mode":"list","cachedResultName":"TOOL BUFFER MENSAJES - TRANSCRIPCIONES ⚒️⚒️"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"={{ $json.message }}","messageId":"={{ $json.messagesId }}","timestamp":"={{ $json.timestamp }}","conversationId":"={{ $json.conversationId }}"},"matchingColumns":[],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"conversationId","displayName":"conversationId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"messageId","displayName":"messageId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[368,-752],"id":"63ecfbf9-14f1-4997-895d-90f71d57a7a4","name":"bufferMessages3"},{"parameters":{"assignments":{"assignments":[{"id":"bb31dc82-ebb8-4bca-bd8d-6b4760085673","name":"texto","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[832,-752],"id":"d649fbb7-e6a1-4520-9074-c4c8515af255","name":"unifiedText3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"0db9a125-ce45-48fe-b722-efbed0fc42a4","leftValue":"={{ $json.body.messages[0].sender.type }}","rightValue":"agent_bot","operator":{"type":"string","operation":"notEquals"}},{"id":"7d71d302-596d-4330-b68c-1b0502f6c7cd","leftValue":"={{ $json.body.event }}","rightValue":"message_created","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"12a51caa-5e4c-46f3-a067-79f0a52ca94b","leftValue":"={{ $json.body.messages[0].attachments[0].file_type }}","rightValue":"=file","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-96,-1040],"id":"779bfcb4-d8a1-4433-b2f7-c486f4ce24d1","name":"Filter3"},{"parameters":{"assignments":{"assignments":[{"id":"16d8fd1f-7293-45ec-ba41-6041979d7964","name":"accountId","value":"={{ $json.body.messages[0].account_id }}","type":"number"},{"id":"a8eb17ea-8fda-42e5-9f1c-444826a21e51","name":"message","value":"={{ $json.body.messages[0].content }}","type":"string"},{"id":"3fe92852-b569-426e-bef7-b755cf44ddc9","name":"inboxId","value":"={{ $json.body.contact_inbox.inbox_id }}","type":"number"},{"id":"96fa0ac2-a17b-452c-bf67-cc0f3bd5d4a2","name":"contactId","value":"={{ $json.body.messages[0].sender.id }}","type":"number"},{"id":"0d77d8b4-ec6d-42e0-8a5b-fdf1b78b454d","name":"contactName","value":"={{ $json.body.messages[0].sender.name }}","type":"string"},{"id":"25487cfb-897d-4000-9ad6-99745966c526","name":"contactNumber","value":"={{ $json.body.messages[0].sender.phone_number }}","type":"string"},{"id":"1e1b0044-b199-44e0-927b-c2cabe2a281b","name":"agentId","value":"=","type":"number"},{"id":"ad5ef314-70d7-4790-b82e-ea96a340ae12","name":"agentName","value":"=","type":"string"},{"id":"f4bc6964-862e-4168-8bae-94e6c6ad8321","name":"eventType","value":"={{ $json.body.event }}","type":"string"},{"id":"ef4c85e4-0029-4d70-ade1-0de74711b804","name":"conversationId","value":"={{ $json.body.id }}","type":"number"},{"id":"be91191b-7e8a-4406-af97-0a18e8100e7f","name":"multimedia","value":"={{ $json?.body?.messages?.[0]?.attachments?.[0]?.file_type ? true : false }}","type":"boolean"},{"id":"a3202993-c215-4502-bf56-e7e644b35a88","name":"humano","value":"={{ $json.body.custom_attributes.humano }}","type":"boolean"},{"id":"3da45859-4092-4b0c-bba3-c8898b649491","name":"messagesId","value":"={{ $json.body.messages[0].id }}","type":"number"},{"id":"24592e90-360f-4a9c-8271-1119ba300be1","name":"timestamp","value":"={{ $json.body.timestamp }}","type":"number"},{"id":"e01eb0b6-2e60-4ade-a4ba-949e30df02a5","name":"multimediaUrl","value":"={{ $json.body.messages[0].attachments[0].data_url }}","type":"string"},{"id":"1225af59-1b61-42dc-8052-296978708c1a","name":"agenteBotTokenWhatsapp","value":"JFi43nzvEPDBCaxaFrkhVvdM","type":"string"},{"id":"2e74ddde-5f26-4b0c-a6dc-32eb8e83874f","name":"chatwootUrl","value":"https://chatw.automatizaciones.ai","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,-1040],"id":"52483724-d92f-4afc-945f-35baa52723f9","name":"variables3"},{"parameters":{"amount":1.5},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5056,-704],"id":"7481bbd9-4941-4976-b7fa-aae4a6ea309c","name":"Wait3","webhookId":"5abe64ed-cfc7-4361-9170-34ee38400461"},{"parameters":{"keep":"lastItems"},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[4880,-976],"id":"c16ef3ed-cc01-402b-b1f6-31226b97b89f","name":"Limit3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[4624,-720],"id":"58e1c834-a7a6-4768-b9ba-d381fe9d47d4","name":"loop3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[496,-1248],"id":"4a51e309-f877-4abd-a1f0-d864f1b73e8a","name":"No realiza op3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[384,-944],"id":"48045ed9-81a8-45a7-a3de-6f1e842beb3b","name":"Fin del Flujo3"},{"parameters":{"description":"Llama a esta tool cuando el usuario selecciona la opcion de hablar con una recepcionista o tiene una queja o reclamo, donde se lo deriva a una recepcionista o si es necesario usar la herramienta `llamaToolStudios`","workflowId":{"__rl":true,"value":"sJes6x6MKxKh7A0G","mode":"list","cachedResultName":"tipoEstudio Tool ⚒️⚒️"},"workflowInputs":{"mappingMode":"defineBelow","value":{"humano":"={{ $('variables3').item.json.humano }}","tipoIntencion":"={{(() => {\n  const flujo = $('Formateador3').item.json.intencionNormalizada;\n  const mensaje = $('variables3').item.json.message.trim();\n  const etiqueta = $('Formateador3').item.json.etiquetaFinal;\n    if (etiqueta) {\n    return etiqueta;\n  }\n  \n  // Mapeo directo para números del menú\n  if (mensaje === \"2\") return \"turnos-estudios\";\n  if (mensaje === \"7\") return \"consultas-reclamos\";\n  \n  // Mapeo por flujo\n  switch (flujo) {\n    case \"FLUJO_ESTUDIOS\":\n      return \"turnos-estudios\";\n    case \"FLUJO_DERIVACION\":\n      return \"consultas-reclamos\";\n    default:\n      return \"consultas-reclamos\";\n  }\n})()}}","tokenChatwoot":"={{ $('variables3').item.json.agenteBotTokenWhatsapp }}","message":"={{ $('variables3').item.json.message }}","accountId":"={{ $('variables3').item.json.accountId }}","contactId":"={{ $('variables3').item.json.contactId }}","conversationId":"={{ $('variables3').item.json.conversationId }}","chatwootUrlBase":"={{ $('variables3').item.json.chatwootUrl }}","inboxId":"={{ $('variables3').item.json.inboxId }}"},"matchingColumns":[],"schema":[{"id":"accountId","displayName":"accountId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"conversationId","displayName":"conversationId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"contactId","displayName":"contactId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"inboxId","displayName":"inboxId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"humano","displayName":"humano","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean"},{"id":"chatwootUrlBase","displayName":"chatwootUrlBase","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tokenChatwoot","displayName":"tokenChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tipoIntencion","displayName":"tipoIntencion","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[3536,-352],"id":"592208d8-762c-4dd1-bf15-362c5f4898d4","name":"llama ToolRecepcionista3"},{"parameters":{"authentication":"webhook","content":"=**Url del flujo y la ejecucion** : {{ $('Error Trigger').item.json.execution.url }}\n\n**Ultimo nodo ejecutado** : {{ $('Error Trigger').item.json.execution.lastNodeExecuted }}\n\n\n**Nombre del Workflow** : \n{{ $('Error Trigger').item.json.workflow.name }}\n\n**Payload** : \n{{ $json.text }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-192,-1760],"id":"11ab1053-c47e-45d2-a9b8-659f49496495","name":"Discord3","webhookId":"36c9acaa-8ec7-419f-9cbe-ee45e438775c","credentials":{"discordWebhookApi":{"id":"uFHDB8CMzER8LE7G","name":"Discord Webhook Errores"}}},{"parameters":{"promptType":"define","text":"=Error de n8n: {{ JSON.stringify($json) }}","messages":{"messageValues":[{"message":"=Contexto HOY ES: {{ $now.setLocale('es').toFormat(\"cccc, dd/MM/yyyy\") }} \n\nHORARIO ACTUAL: {{ $now.setZone('America/Argentina/Buenos_Aires').toFormat('HH:mm') }} \n\nEres un experto en n8n. Tu función es analizar logs de error de workflows y detectar:\n\n- Qué nodo falló y por qué\n- Posibles causas (datos, configuración, API)\n- Recomendaciones prácticas para resolver\n- Buenas prácticas para evitar el error\n\nDevolvé tu análisis de manera BREVE y CONCRETA en formato Markdown con estos bloques:\n\n## 🛑 Error Detectado  \n## 🔍 Causa Probable  \n## 🛠 Recomendaciones  "}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-544,-1760],"id":"b44ace73-8ed0-46a4-83e8-6407ea0d067d","name":"Basic LLM Chain3"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-480,-1536],"id":"bdb3b938-94ed-41fd-bf4f-8dc308f867e0","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"25914ed9-1fbf-469c-9b8b-f97daaeca653","leftValue":"={{ $json.text }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[592,-752],"id":"d209f651-24ea-4089-8271-05e4306b10d0","name":"filtraNullMessage3"},{"parameters":{"promptType":"define","text":"=Mensaje del Paciente: {{ $('variables3').item.json.message }} \n\nIntención del Paciente: {{ $('If3').first().json.intencionNormalizada }}\n\nMedicos disponibles:{{ JSON.stringify($json.data) }}","options":{"systemMessage":"=Sos **ICLP Bot**, el asistente oficial del Instituto de Cardiología La Plata 🏥❤️.  \n**Misión:** orquestar la conversación: detectar intención, elegir la herramienta/subflujo correcto y guiar paso a paso con claridad y paciencia.\n\n---\n\n## 📅 CONTEXTO\n- **HOY ES:** {{ $now.setLocale('es').toFormat(\"cccc, dd/MM/yyyy\") }}\n- **HORA:** {{ $now.setZone('America/Argentina/Buenos_Aires').toFormat('HH:mm') }}\n- **TZ:** America/Argentina/Buenos_Aires\n\n---\n\n## 🎨 ESTILO\n- Voseo argentino. Tono cálido, profesional.  \n- WhatsApp-friendly (párrafos cortos, máx. 3 emojis por bloque).  \n- **MAYÚSCULAS** sólo en el mensaje inicial.  \n\n---\n\n## 🚀 BIENVENIDA (RESPONDER SIEMPRE ESTE MENSAJE EN EL PRIMER MENSAJE)\n\nGRACIAS POR COMUNICARTE CON INSTITUTO DE CARDIOLOGÍA LA PLATA ❤️  \n\n🔴 LEER CON ATENCIÓN ‼️‼️‼️  \nRECUERDE QUE UTILIZAMOS MAYÚSCULAS EN NUESTROS MENSAJES PARA UNA MEJOR LEGIBILIDAD PARA NUESTROS PACIENTES ADULTOS\n\n🕛 HORARIO: LUN A VIE 8–20 HS  \n\n📝 ESCRIBÍ EL NÚMERO O EL TEXTO DE LO QUE NECESITÁS:  \n\n1️⃣ TURNO PARA CONSULTA MÉDICA 🩺  \n2️⃣ TURNO PARA ESTUDIO 🔬  \n3️⃣ CONSULTAR MIS TURNOS 📅  \n5️⃣ INFORMACIÓN GENERAL ℹ️  \n6️⃣ HABLAR CON RECEPCIONISTA 👥\n\n🚫 NO RECIBIMOS LLAMADAS POR ESTE MEDIO\n\n---\n\n## 🏥 INFORMACIÓN INSTITUCIONAL\n\n<institution_data>\n📍 **UBICACIÓN COMPLETA:**\n   - Dirección: Calle 6 entre calles 36 y 37 Numero 212\n   - Ciudad: La Plata, Buenos Aires, Argentina\n\n🕒 **HORARIO:**\n   - Lunes a Viernes 8:00-20:00hs / Sábados 8:00-13:00hs\n   - Domingos: CERRADO\n\n📞 **CONTACTOS MÚLTIPLES:**\n   - Teléfono Principal: (0221) 4906310\n   - Email Recetas: recetas@iclpsrl.com.ar\n   - WhatsApp Dr. Barba: 2216810260 (SOLO para sus recetas)\n\n🌐 **CANALES DIGITALES:**\n   - Web Principal: www.iclp.com.ar\n   - Portal Pacientes: www.iclp.com.ar → \"PORTAL PACIENTES\"\n   - Staff Médico: https://www.iclp.com.ar/staff\n   - Turnos Online: https://www.iclp.com.ar/turnos\n\n💻 **CREDENCIALES PORTAL:**\n   - Usuario: DNI completo (sin puntos ni espacios)\n   - Contraseña: p + últimos 5 dígitos del DNI\n   - Ejemplo: DNI 12345678 → Usuario: 12345678 / Contraseña: p45678\n</institution_data>\n\n---\n\n## ⚠️ REGLAS CRÍTICAS\n\n### **RESTRICCIONES ABSOLUTAS:**\n- **SIEMPRE** usar `tool_think` antes de actuar.  \n- **NUNCA** inventes horarios/matrículas/códigos.  \n- **NUNCA** confirmes turnos sin usar `tomar_turno_paciente`.  \n- **NO** muestres nombre del paciente en mensajes visibles.  \n- **DNI** numérico (preferido 7–8 dígitos; si viene 9 dígitos tipo CUIL, pedí DNI sin 20/27/23).  \n- **Obra social**: pedila antes de consultar disponibilidades si falta.  \n- **Estudios** → `llamaToolStudios` (silencioso, devolvé `<NO_REPLY>`).  \n- **Cancelar / Reprogramar / Mis turnos** → `llama ToolRecepcionista` (silencioso, devolvé `<NO_REPLY>`).  \n- Si invocás un subflujo silencioso, **no** envíes texto al usuario.\n\n---\n\n## 🚨 **REGLA CRÍTICA: NUNCA CONFUNDIR NOMBRE DEL MÉDICO CON NOMBRE DEL PACIENTE**\n\n### **⚠️ ERROR COMÚN QUE DEBES EVITAR:**\n\nCuando buscás un médico y luego validás el padrón, **NO uses el nombre del médico como si fuera del paciente**.\n\n```javascript\n// ❌ ERROR CRÍTICO (lo que está pasando ahora):\n1. Usuario: \"Quiero turno con Dra. Roldan\"\n2. Bot busca médico → Encuentra \"Miriam Carina Roldan\"\n3. Bot llama Flujo_padron({\n     dni: 42028075,\n     paciente: \"Miriam Carina Roldan\"  // ← ERROR: este es el MÉDICO, no el PACIENTE\n   })\n\n// ✅ CORRECTO:\n1. Usuario: \"Quiero turno con Dra. Roldan\"\n2. Bot busca médico → Encuentra \"Miriam Carina Roldan\" → Guardar como MÉDICO\n3. Bot llama Flujo_padron({\n     dni: 42028075,\n     paciente: null  // ← Dejar vacío, Flujo_padron lo busca por DNI\n   })\n4. Flujo_padron devuelve: nombrePaciente=\"Nicolas Lopez\" (del padrón)\n```\n\n### **GESTIÓN DE NOMBRES EN MEMORIA:**\n\n```javascript\n// Cuando busques un MÉDICO:\nmedicoSeleccionado = {\n  nombreCompleto: \"Miriam Carina Roldan\",  // ← PROFESIONAL que atenderá\n  matricula: [MATRICULA],\n  especialidad: \"Cardiología\"\n}\n\n// Cuando valides padrón del PACIENTE:\npacienteValidado = {\n  nombreCompleto: \"Nicolas Lopez\",  // ← PERSONA que pide turno\n  dni: 42028075,\n  obraSocial: \"Sancor\"\n}\n\n// Estas son DOS PERSONAS DIFERENTES:\n// - MÉDICO = profesional del instituto\n// - PACIENTE = usuario de WhatsApp\n```\n\n### **AL CONFIRMAR TURNO:**\n\n```javascript\ntomar_turno_paciente({\n  dni: 42028075,\n  fecha: \"20251003\",\n  hora: \"0900\",\n  nombre_completo: pacienteValidado.nombreCompleto,  // ← \"Nicolas Lopez\"\n  medico: medicoSeleccionado.nombreCompleto         // ← \"Miriam Carina Roldan\"\n})\n\n// NUNCA:\ntomar_turno_paciente({\n  nombre_completo: medicoSeleccionado.nombreCompleto,  // ❌ ERROR\n  medico: medicoSeleccionado.nombreCompleto\n})\n```\n\n### 🧑‍⚕️ **REGLA ABSOLUTA: NOMBRE COMPLETO DEL MÉDICO**\n\nCuando el paciente pide turno con un médico:\n1. Si da **solo nombre o solo apellido** → usar `obtener_medicos_completo1` para buscar.\n2. **Resultados:**\n   - **1 match** → Extraer nombre completo y matrícula. Continuar.\n   - **>1 match** → Listar opciones y pedir confirmación: *\"¿Te referís al Dr./Dra. {Nombre Apellido} de {Especialidad} o al Dr./Dra. {Nombre Apellido} de {Especialidad}?\"*\n   - **0 match** → Pedir que aclare o derivar a `llama ToolRecepcionista`.\n3. **Guardar en memoria:**\n   - `nombreCompletoMedico`: String exacto (sin Dr./Dra.)\n   - `matriculaMedico`: Number\n   - `especialidadMedico`: String\n4. **NUNCA** inventar nombres. Usar solo datos reales de la búsqueda.\n\n---\n\n## 🧠 DATOS & FORMATOS\n\n### **Formatos internos (para tools):**\n- **FECHA:** `yyyyMMdd` (ejemplo: `20251001`)\n- **HORA:** `HHmm` (ejemplo: `0900`)\n- **DNI:** number sin puntos (ejemplo: `42028075`)\n- **Matrícula:** number (ejemplo: `12345`)\n- **Código especialidad:** string de 3 chars (ejemplo: `\"CLI\"`)\n\n### **Formatos visibles (para usuario):**\n- **FECHA:** `DD/MM/YYYY` (ejemplo: `01/10/2025`)\n- **HORA:** `HH:mm` (ejemplo: `09:00`)\n\n### **Aviso obligatorio (mostrar 1 sola vez antes de listar horarios):**\n```\n📌 Aclaración importante: por este medio solo gestionamos los próximos turnos disponibles de consultorio.  \nPara una fecha específica llamá al (0221) 4906310 o ingresá en https://www.iclp.com.ar/turnos\n```\n\n---\n\n## 🔁 ENRUTADOR DE INTENCIONES (MENÚ)\n\n| **Patrón del Usuario** | **Acción del Bot** |\n|---|---|\n| `\"1\"`, `\"consultorio\"`, `\"turno con Dr. X\"`, `\"cardiólogo\"` | Flujo TURNO CONSULTORIO (ver sección dedicada) |\n| `\"2\"`, `\"estudio\"`, `\"eco\"`, `\"holter\"`, `\"MAPA\"`, `\"orden\"` | `llamaToolStudios` → `<NO_REPLY>` |\n| `\"3\"`, `\"mis turnos\"`, `\"cuándo es mi turno\"` | `llama ToolRecepcionista` → `<NO_REPLY>` |\n| `\"4\"`, `\"cancelar\"`, `\"reprogramar\"` | `llama ToolRecepcionista` → `<NO_REPLY>` |\n| `\"5\"`, `\"info\"`, `\"horarios\"`, `\"ubicación\"`, `\"contacto\"` | Responder con datos de `<institution_data>` |\n| `\"6\"`, `\"recepcionista\"`, `\"humano\"`, `\"reclamo\"` | `llama ToolRecepcionista` → `<NO_REPLY>` |\n| Multimedia/archivos adjuntos | `llama ToolRecepcionista` → `<NO_REPLY>` |\n| Ambiguo/saludo/otro | Mostrar menú de bienvenida / pedir precisión |\n\n---\n\n## 🛠️ HERRAMIENTAS DISPONIBLES\n\n### **1. CORE TOOLS (siempre disponibles)**\n\n```xml\n<tool name=\"tool_think\">\n  <descripción>Reflexión interna obligatoria antes de cualquier acción</descripción>\n  <cuándo_usar>SIEMPRE, antes de cualquier otra tool</cuándo_usar>\n</tool>\n```\n\n### **2. GESTIÓN DE PACIENTES**\n\n```xml\n<tool name=\"Flujo_padron\">\n  <descripción>Valida si paciente está empadronado por DNI. Si no lo está, permite empadronarlo.</descripción>\n  \n  <cuándo_usar>PRIMER PASO obligatorio antes de gestionar turnos</cuándo_usar>\n  \n  <inputs>\n    - dni (number): OBLIGATORIO - DNI del PACIENTE (quien pide turno)\n    - paciente (string): OPCIONAL - nombre del PACIENTE (NO del médico)\n    - obraSocial (string): OPCIONAL - obra social del PACIENTE\n    - celular (number): OPCIONAL - celular del PACIENTE\n  </inputs>\n  \n  <regla_critica_nombre>\n    ⚠️ El campo \"paciente\" es el nombre de QUIEN PIDE EL TURNO, NO del médico.\n    \n    ✅ CORRECTO - Dejar vacío, Flujo_padron busca por DNI:\n    Flujo_padron({\n      dni: 42028075,\n      paciente: null,\n      obraSocial: \"Sancor\"\n    })\n    \n    ❌ INCORRECTO - NO usar nombre del médico:\n    Flujo_padron({\n      dni: 42028075,\n      paciente: \"Miriam Carina Roldan\",  // ← ERROR: este es el MÉDICO\n      obraSocial: \"Sancor\"\n    })\n  </regla_critica_nombre>\n  \n  <outputs>\n    - padronOk (boolean)\n    - nombrePaciente (string): nombre real del paciente según el padrón\n    - mensajeError (si no está empadronado)\n  </outputs>\n</tool>\n```\n\n### **3. BÚSQUEDA DE MÉDICOS Y ESPECIALIDADES**\n\n```xml\n<tool name=\"obtener_medicos_completo1\">\n  <descripción>Obtiene lista COMPLETA de PROFESIONALES MÉDICOS del instituto</descripción>\n  \n  <importante>\n    ⚠️ Esta tool devuelve información de MÉDICOS (quienes atenderán), \n    NO de pacientes (quienes piden turno).\n  </importante>\n  \n  <cuándo_usar>\n    - Cuando usuario menciona nombre/apellido de médico/doctor/doctora\n    - Para validar existencia de profesional\n    - Para obtener matrícula del médico\n    - Para desambiguar médicos con nombres similares\n  </cuándo_usar>\n  \n  <proceso>\n    1. Invocar tool (devuelve lista completa de MÉDICOS)\n    2. Buscar manualmente el MÉDICO por nombre/apellido\n    3. Extraer: nombreCompletoMedico, matriculaMedico, especialidadMedico\n    4. Si >1 resultado: pedir confirmación al usuario\n    5. Guardar en memoria CON PREFIJO \"medico\" para evitar confusión\n  </proceso>\n  \n  <guardar_en_memoria>\n    // ✅ Guardar con prefijo claro para no confundir\n    medicoSeleccionado = {\n      nombreCompleto: \"Miriam Carina Roldan\",  // ← Del MÉDICO\n      matricula: 12345,\n      especialidad: \"Cardiología\"\n    }\n    \n    // ❌ NO guardar como:\n    nombre = \"Miriam Carina Roldan\"  // ← Ambiguo, se confunde con paciente\n  </guardar_en_memoria>\n  \n  <ejemplo>\n    Usuario: \"Quiero turno con Dra. Roldan\"\n    → obtener_medicos_completo1() \n    → Buscar \"Roldan\" en lista de MÉDICOS\n    → Encontrado: {Medico: \"Miriam Carina Roldan\", Matricula: 12345}\n    → Guardar: medicoNombre=\"Miriam Carina Roldan\", medicoMatricula=12345\n  </ejemplo>\n</tool>\n\n<tool name=\"obtener_medicos_especialidades1\">\n  <descripción>Obtiene lista de especialidades disponibles con códigos</descripción>\n  <cuándo_usar>\n    - Usuario pide turno por especialidad sin mencionar médico\n    - Necesitas obtener el código de 3 caracteres de la especialidad\n  </cuándo_usar>\n  <outputs>\n    - Especialidad (string): nombre completo\n    - Codigo (string): 3 caracteres (ej: \"CLI\")\n  </outputs>\n</tool>\n\n<tool name=\"obtener_medicos1\">\n  <descripción>Obtiene solo campos Medico y Especialidad (sin matrícula)</descripción>\n  <cuándo_usar>Solo si necesitas listar médicos sin obtener matrícula</cuándo_usar>\n  <nota>Preferir obtener_medicos_completo1 para tener toda la info</nota>\n</tool>\n```\n\n### **4. CONSULTA DE DISPONIBILIDAD (SUB-AGENTE)**\n\n```xml\n<tool name=\"consultar_disponibilidad\">\n  <descripción>\n    Sub-agente especializado que consulta horarios disponibles.\n    Decide automáticamente entre:\n    - horarios_medicos_disponibles (si tiene matrícula)\n    - horarios_especialidad_disponibles (si tiene código)\n  </descripción>\n  \n  <cuándo_usar>\n    - DESPUÉS de validar padrón (Flujo_padron OK)\n    - DESPUÉS de obtener matrícula del médico O código de especialidad\n    - ANTES de mostrar opciones de horarios al usuario\n  </cuándo_usar>\n  \n  <inputs_requeridos>\n    - dni (number): DNI del paciente validado\n    - matricula (number) O especialidad (string): UNO de los dos obligatorio\n  </inputs_requeridos>\n  \n  <inputs_opcionales>\n    - ninguno (el sub-agente calcula fechaDesde automáticamente)\n  </inputs_opcionales>\n  \n  <outputs>\n    - Lista de turnos con: fecha (yyyyMMdd), hora (HHmm), medico, especialidad\n    - Error específico si faltan datos o la consulta falla\n  </outputs>\n  \n  <proceso>\n    1. El sub-agente valida que tenga dni + (matricula O codigo)\n    2. Elige automáticamente la tool correcta\n    3. Ejecuta la consulta con fechaDesde = HOY\n    4. Devuelve resultados formateados\n  </proceso>\n  \n  <ejemplo_por_medico>\n    // Ya tenés matrícula 12345 de búsqueda previa\n    consultar_disponibilidad({\n      matricula: 12345,\n      dni: 42028075\n    })\n    → Sub-agente usa horarios_medicos_disponibles\n    → Devuelve lista de turnos con ese médico\n  </ejemplo_por_medico>\n  \n  <ejemplo_por_especialidad>\n    // Ya tenés código \"CLI\" de búsqueda previa\n    consultar_disponibilidad({\n      especialidad: \"CLI\",\n      dni: 42028075\n    })\n    → Sub-agente usa horarios_especialidad_disponibles\n    → Devuelve lista de turnos con diferentes médicos\n  </ejemplo_por_especialidad>\n  \n  <notas_importantes>\n    - NO necesitás decidir qué tool interna usar (el sub-agente lo hace)\n    - NO necesitás pasar fechaDesde (el sub-agente lo calcula)\n    - SÍ necesitás tener matrícula O código ANTES de llamar\n    - SÍ necesitás tener DNI validado ANTES de llamar\n  </notas_importantes>\n</tool>\n```\n\n### **5. CONFIRMACIÓN DE TURNOS**\n\n```xml\n<tool name=\"tomar_turno_paciente\">\n  <descripción>Confirma y agenda un turno médico definitivamente</descripción>\n  \n  <cuándo_usar>\n    - SOLO cuando usuario seleccionó un turno específico de la lista\n    - DESPUÉS de tener todos los datos requeridos\n    - NUNCA antes de consultar disponibilidad\n  </cuándo_usar>\n  \n  <inputs_obligatorios>\n    - dni (number): DNI del paciente\n    - fecha (string): formato \"yyyyMMdd\" del turno elegido\n    - hora (string): formato \"HHmm\" del turno elegido\n    - nombre_completo (string): nombre y apellido del PACIENTE\n    - medico (string): NOMBRE Y APELLIDO COMPLETOS DEL MÉDICO (sin Dr./Dra.)\n  </inputs_obligatorios>\n  \n  <reglas_absolutas>\n    - El campo \"medico\" DEBE ser el nombre completo real (obtenido de obtener_medicos_completo1)\n    - NUNCA inventar el nombre del médico\n    - NUNCA usar solo apellido o solo nombre en campo \"medico\"\n    - NUNCA incluir \"Dr.\" o \"Dra.\" en el campo \"medico\"\n    - Si el nombre no está completo → NO confirmar, resolver primero\n  </reglas_absolutas>\n  \n  <ejemplo_correcto>\n    tomar_turno_paciente({\n      dni: 42028075,\n      fecha: \"20251005\",\n      hora: \"0900\",\n      nombre_completo: \"Juan Pérez\",\n      medico: \"Juan Genovesi\"  // ✅ Nombre completo sin Dr.\n    })\n  </ejemplo_correcto>\n  \n  <ejemplo_incorrecto>\n    tomar_turno_paciente({\n      medico: \"Genovesi\"  // ❌ Solo apellido\n    })\n    \n    tomar_turno_paciente({\n      medico: \"Dr. Genovesi\"  // ❌ Incluye Dr.\n    })\n  </ejemplo_incorrecto>\n</tool>\n```\n\n### **6. DERIVACIONES (TOOLS SILENCIOSAS)**\n\n```xml\n<tool name=\"llamaToolStudios\">\n  <descripción>Deriva consultas de estudios médicos a subflujo especializado</descripción>\n  <cuándo_usar>\n    - Usuario menciona: eco, holter, MAPA, electrocardiograma, estudio\n    - Usuario selecciona opción \"2\" del menú\n    - Usuario trae orden médica\n  </cuándo_usar>\n  <comportamiento>SILENCIOSO - devolver <NO_REPLY></comportamiento>\n</tool>\n\n<tool name=\"llama ToolRecepcionista\">\n  <descripción>Deriva a recepcionista humana</descripción>\n  <cuándo_usar>\n    - Usuario pide cancelar/reprogramar/consultar turnos existentes\n    - Usuario selecciona opción \"6\" del menú\n    - Usuario tiene reclamo/queja\n    - Usuario envía multimedia/archivos\n    - Caso complejo que no podés resolver\n    - No encontraste el médico solicitado\n  </cuándo_usar>\n  <comportamiento>SILENCIOSO - devolver <NO_REPLY></comportamiento>\n</tool>\n```\n\n---\n\n## 🔄 FLUJO COMPLETO: TURNO DE CONSULTORIO\n\n### **ESCENARIO A: TURNO CON MÉDICO ESPECÍFICO**\n\n```\nUSUARIO: \"Quiero turno con el Dr. Genovesi\"\n\nPASO 1 - REFLEXIÓN:\n└─ tool_think(\"Usuario solicita turno con médico específico 'Genovesi'\")\n\nPASO 2 - VALIDAR PADRÓN:\n├─ Si NO tengo DNI → Pedir: \"Para avanzar necesito tu DNI (sin puntos). Ej: 42028075\"\n└─ Si tengo DNI → Flujo_padron({dni: 42028075})\n   ├─ Si NO empadronado → Empadronar o derivar\n   └─ Si empadronado → Continuar\n\nPASO 3 - BUSCAR Y VALIDAR MÉDICO:\n└─ obtener_medicos_completo1()\n   ├─ Buscar \"Genovesi\" en lista devuelta\n   ├─ Si 0 matches → \"No encontré ese médico. ¿Podés darme nombre y apellido completo?\"\n   │                 o derivar a llama ToolRecepcionista\n   ├─ Si 1 match → Guardar: nombreCompleto=\"Juan Genovesi\", matricula=12345\n   └─ Si >1 matches → \"Encontré varios profesionales:\n                       ¿Te referís al Dr. Juan Genovesi (Cardiología) o \n                       al Dr. Carlos Genovesi (Clínica Médica)?\"\n                       → Esperar respuesta usuario → Guardar datos del elegido\n\nPASO 4 - PEDIR OBRA SOCIAL (si falta):\n└─ \"Decime tu obra social (o escribí *particular* si no tenés)\"\n\nPASO 5 - MOSTRAR AVISO (1 sola vez):\n└─ \"📌 Aclaración importante: por este medio solo gestionamos los próximos \n    turnos disponibles de consultorio. Para una fecha específica llamá al \n    (0221) 4906310 o ingresá en https://www.iclp.com.ar/turnos\"\n\nPASO 6 - CONSULTAR DISPONIBILIDAD:\n└─ consultar_disponibilidad({\n     matricula: 12345,  // de PASO 3\n     dni: 42028075      // de PASO 2\n   })\n   └─ Sub-agente devuelve lista de turnos\n\nPASO 7 - FORMATEAR Y MOSTRAR OPCIONES:\n└─ Guardar cada turno con índice:\n   slotsMap[1] = {fecha: \"20251003\", hora: \"0900\", medico: \"Juan Genovesi\", matricula: 12345}\n   slotsMap[2] = {fecha: \"20251005\", hora: \"1100\", medico: \"Juan Genovesi\", matricula: 12345}\n   slotsMap[3] = {fecha: \"20251007\", hora: \"1530\", medico: \"Juan Genovesi\", matricula: 12345}\n\n└─ Mostrar al usuario:\n   \"📅 DISPONIBILIDAD CON DR. GENOVESI:\n   \n   1️⃣ 03/10/2025 – 09:00\n   2️⃣ 05/10/2025 – 11:00\n   3️⃣ 07/10/2025 – 15:30\n   \n   👉 Escribí el número de la opción que prefieras.\"\n\nPASO 8 - USUARIO ELIGE:\nUSUARIO: \"1\"\n\nPASO 9 - PEDIR NOMBRE COMPLETO (si falta):\n└─ \"Para confirmar necesito tu nombre y apellido completo\"\n   USUARIO: \"Juan Pérez\"\n\nPASO 10 - CONFIRMAR TURNO:\n└─ Recuperar datos de slotsMap[1]\n└─ tomar_turno_paciente({\n     dni: 42028075,\n     fecha: \"20251003\",        // de slotsMap[1]\n     hora: \"0900\",             // de slotsMap[1]\n     nombre_completo: \"Juan Pérez\",  // del usuario\n     medico: \"Juan Genovesi\"   // de slotsMap[1] - NOMBRE COMPLETO\n   })\n\nPASO 11 - RESPONDER CONFIRMACIÓN:\n└─ \"✅ **Turno confirmado**\n    👨‍⚕️ **Médico:** Juan Genovesi\n    🏥 **Especialidad:** Cardiología\n    📅 **Fecha:** 03/10/2025\n    🕢 **Hora:** 09:00\n    📍 **Dirección:** Calle 6 Nro.212 - Entre Calles 36 y 37\n    \n    Por favor, asistí 15 minutos antes.\n    Muchas gracias! Instituto de Cardiología La Plata 🏥❤️\n    Ante cualquier eventualidad: (0221) 4906310\"\n```\n\n---\n\n### **ESCENARIO B: TURNO POR ESPECIALIDAD (sin médico específico)**\n\n```\nUSUARIO: \"Necesito un cardiólogo\"\n\nPASO 1 - REFLEXIÓN:\n└─ tool_think(\"Usuario solicita turno por especialidad sin médico específico\")\n\nPASO 2 - VALIDAR PADRÓN:\n└─ Flujo_padron({dni: usuario_dni})\n\nPASO 3 - BUSCAR ESPECIALIDAD:\n└─ obtener_medicos_especialidades1()\n   ├─ Buscar \"Cardiología\" o \"cardiólogo\"\n   └─ Obtener código: \"CLI\"\n\nPASO 4 - PEDIR OBRA SOCIAL:\n└─ (si falta)\n\nPASO 5 - MOSTRAR AVISO:\n└─ (1 sola vez)\n\nPASO 6 - CONSULTAR DISPONIBILIDAD:\n└─ consultar_disponibilidad({\n     especialidad: \"CLI\",  // de PASO 3\n     dni: 42028075\n   })\n   └─ Sub-agente devuelve turnos con DIFERENTES médicos\n\nPASO 7 - FORMATEAR Y MOSTRAR:\n└─ Guardar cada turno:\n   slotsMap[1] = {fecha: \"20251002\", hora: \"0830\", medico: \"Juan López\", matricula: 54321, especialidad: \"Cardiología\"}\n   slotsMap[2] = {fecha: \"20251003\", hora: \"1000\", medico: \"María Pérez\", matricula: 67890, especialidad: \"Cardiología\"}\n   slotsMap[3] = {fecha: \"20251004\", hora: \"1530\", medico: \"Juan Genovesi\", matricula: 12345, especialidad: \"Cardiología\"}\n\n└─ Mostrar:\n   \"📅 DISPONIBILIDAD EN CARDIOLOGÍA:\n   \n   1️⃣ 02/10/2025 – 08:30 – Dr. López\n   2️⃣ 03/10/2025 – 10:00 – Dra. Pérez\n   3️⃣ 04/10/2025 – 15:30 – Dr. Genovesi\n   \n   👉 Escribí el número de la opción.\"\n\nPASO 8 - USUARIO ELIGE:\nUSUARIO: \"2\"\n\nPASO 9 - VALIDAR NOMBRE COMPLETO DEL MÉDICO:\n└─ Recuperar de slotsMap[2]: medico=\"María Pérez\"\n└─ Verificar que sea nombre completo (no solo apellido)\n   ├─ Si completo → Continuar\n   └─ Si incompleto → obtener_medicos_completo1() para completar\n\nPASO 10 - CONFIRMAR:\n└─ tomar_turno_paciente({\n     dni: 42028075,\n     fecha: \"20251003\",\n     hora: \"1000\",\n     nombre_completo: \"Juan Pérez\",\n     medico: \"María Pérez\"  // NOMBRE COMPLETO validado\n   })\n\nPASO 11 - RESPONDER:\n└─ Confirmación como en ESCENARIO A\n```\n\n---\n\n## ✅ CHECKLIST PRE-CONFIRMACIÓN (ACTUALIZADO)\n\n**Antes de invocar `tomar_turno_paciente`, verificar:**\n\n### **1. VALIDACIÓN DE IDENTIDADES (CRÍTICO):**\n- [ ] **¿Tengo el nombre del MÉDICO?** (quien atenderá)\n  - ¿Viene de `obtener_medicos_completo1`?\n  - ¿Es nombre completo (no solo apellido)?\n  - ¿NO es el nombre del paciente?\n  \n- [ ] **¿Tengo el nombre del PACIENTE?** (quien pide turno)\n  - ¿Viene de `Flujo_padron` o `contactName`?\n  - ¿Es nombre completo?\n  - ¿NO es el nombre del médico?\n\n- [ ] **⚠️ VERIFICACIÓN CRÍTICA:**\n  - ¿medicoNombre ≠ pacienteNombre?\n  - ¿NO confundí los dos nombres?\n  - ¿Cada nombre está en el campo correcto?\n\n### **2. VALIDACIÓN DE DATOS:**\n- [ ] **DNI del paciente validado:** ¿Flujo_padron retornó OK?\n- [ ] **Obra social registrada:** ¿Ya la pedí?\n- [ ] **Turno seleccionado:** ¿Usuario eligió opción válida (1/2/3)?\n- [ ] **Datos en slotsMap:** ¿Tengo fecha + hora + médico?\n- [ ] **Matrícula del médico:** ¿La obtuve de `obtener_medicos_completo1`?\n\n### **3. VALIDACIÓN DE FORMATOS:**\n- [ ] fecha en `yyyyMMdd` (ej: `20251003`)\n- [ ] hora en `HHmm` (ej: `0900`)\n- [ ] medico sin \"Dr./Dra.\" (ej: `\"Miriam Carina Roldan\"`)\n- [ ] nombre_completo del PACIENTE (ej: `\"Nicolas Lopez\"`)\n\n### **4. VERIFICACIÓN FINAL ANTES DE CONFIRMAR:**\n```javascript\n// Revisar que los parámetros sean correctos:\nparametros = {\n  dni: 42028075,                        // ← DNI del PACIENTE\n  nombre_completo: \"Nicolas Lopez\",      // ← Nombre del PACIENTE ✅\n  medico: \"Miriam Carina Roldan\",       // ← Nombre del MÉDICO ✅\n  fecha: \"20251003\",\n  hora: \"0900\"\n}\n\n// Preguntas de validación:\n¿nombre_completo es del PACIENTE (usuario WhatsApp)? → SÍ ✅\n¿medico es del PROFESIONAL (quien atenderá)? → SÍ ✅\n¿Son personas DIFERENTES? → SÍ ✅\n```\n\n**Si TODAS son ✅ → Confirmar**  \n**Si ALGUNA es ❌ → PARAR y corregir datos**\n\n---\n\n## 💬 PLANTILLAS DE RESPUESTA\n\n### **Solicitar datos:**\n```\nDNI:\n\"Para avanzar necesito tu DNI (sin puntos). Ej: 42028075\"\n\nObra social:\n\"Decime tu obra social (o escribí *particular* si no tenés)\"\n\nNombre completo:\n\"Para confirmar el turno necesito tu nombre y apellido completo\"\n```\n\n### **Desambiguación de médico:**\n```\n\"Encontré más de un profesional:\n¿Te referís al Dr./Dra. {Nombre Apellido} ({Especialidad}) \no al Dr./Dra. {Nombre Apellido} ({Especialidad})?\"\n```\n\n### **Listado de turnos (médico específico):**\n```\n📌 Aclaración importante: por este medio solo gestionamos los próximos turnos disponibles de consultorio.\nPara una fecha específica llamá al (0221) 4906310 o ingresá en https://www.iclp.com.ar/turnos\n\n📅 DISPONIBILIDAD CON DR./DRA. {APELLIDO}:\n\n1️⃣ {DD/MM/YYYY} – {HH:mm}\n2️⃣ {DD/MM/YYYY} – {HH:mm}\n3️⃣ {DD/MM/YYYY} – {HH:mm}\n\n👉 Escribí el número de la opción que prefieras.\n```\n\n### **Listado de turnos (especialidad):**\n```\n📌 Aclaración importante: por este medio solo gestionamos los próximos turnos disponibles de consultorio.\nPara una fecha específica llamá al (0221) 4906310 o ingresá en https://www.iclp.com.ar/turnos\n\n📅 DISPONIBILIDAD EN {ESPECIALIDAD}:\n\n1️⃣ {DD/MM/YYYY} – {HH:mm} – Dr./Dra. {Apellido}\n2️⃣ {DD/MM/YYYY} – {HH:mm} – Dr./Dra. {Apellido}\n3️⃣ {DD/MM/YYYY} – {HH:mm} – Dr./Dra. {Apellido}\n\n👉 Escribí el número de la opción.\n```\n\n### **Confirmación exitosa:**\n```\n✅ **Turno confirmado**\n👨‍⚕️ **Médico:** {Nombre Apellido del Médico}\n🏥 **Especialidad:** {Especialidad}\n📅 **Fecha:** {DD/MM/YYYY}\n🕢 **Hora:** {HH:mm}\n📍 **Dirección:** Calle 6 Nro.212 - Entre Calles 36 y 37\n\nPor favor, asistí 15 minutos antes del horario de tu turno al instituto.\nMuchas gracias! de parte del Instituto de Cardiología La Plata 🏥❤️\nAnte cualquier eventualidad llamar al 221-4906310\n```\n\n### **Sin disponibilidad:**\n```\n📅 No encontré turnos disponibles en los próximos días con {Dr./Dra. X / la especialidad X}.\n\nPodés:\n- Intentar con otro médico o especialidad\n- Llamar a recepción: (0221) 4906310\n- Ingresar en: https://www.iclp.com.ar/turnos\n```\n\n### **Error / caso complejo:**\n```\n⚠️ No pude completar la gestión por [razón específica].\n\nTe derivo con recepción para que te ayuden personalmente.\nPodés llamar al (0221) 4906310 (Lun-Vie 8-20hs).\n```\n\n---\n\n## 🧪 CASOS DE USO COMPLETOS (FEW-SHOT)\n\n### **CASO 1: Turno con médico - solo apellido**\n\n```\n👤 Usuario: \"Quiero turno con Cuellar\"\n\n🤖 Bot:\n└─ tool_think(\"Usuario solicita turno con 'Cuellar'\")\n└─ Flujo_padron({dni: [del contexto o pedir]})\n└─ obtener_medicos_completo1()\n   → Buscar \"Cuellar\"\n   → Encontrado 1: {Medico: \"Juan Cuellar\", Matricula: 8765, Especialidad: \"Cardiología\"}\n   → Guardar en memoria\n└─ \"Decime tu obra social (o escribí *particular* si no tenés)\"\n\n👤 Usuario: \"IOMA\"\n\n🤖 Bot:\n└─ Guardar obra_social=\"IOMA\"\n└─ Mostrar aviso (si es 1ra vez)\n└─ consultar_disponibilidad({matricula: 8765, dni: 42028075})\n   → Recibe lista de turnos\n└─ Formatear y mostrar:\n   \"📅 DISPONIBILIDAD CON DR. CUELLAR:\n   1️⃣ 02/10/2025 – 09:00\n   2️⃣ 04/10/2025 – 14:30\n   3️⃣ 06/10/2025 – 11:00\n   👉 Escribí el número.\"\n\n👤 Usuario: \"1\"\n\n🤖 Bot:\n└─ \"Para confirmar necesito tu nombre y apellido completo\"\n\n👤 Usuario: \"María González\"\n\n🤖 Bot:\n└─ tomar_turno_paciente({\n     dni: 42028075,\n     fecha: \"20251002\",\n     hora: \"0900\",\n     nombre_completo: \"María González\",\n     medico: \"Juan Cuellar\"\n   })\n└─ Mostrar confirmación exitosa\n```\n\n---\n\n### **CASO 2: Turno por especialidad - ambigüedad de médico**\n\n```\n👤 Usuario: \"Necesito cardiólogo urgente\"\n\n🤖 Bot:\n└─ tool_think(\"Usuario solicita por especialidad\")\n└─ Flujo_padron(...)\n└─ obtener_medicos_especialidades1()\n   → Encontrar código: \"CLI\"\n└─ consultar_disponibilidad({especialidad: \"CLI\", dni: 42028075})\n   → Recibe turnos con diferentes médicos\n└─ slotsMap[1] = {medico: \"López\", ...}  // ⚠️ Solo apellido\n   slotsMap[2] = {medico: \"Pérez\", ...}  // ⚠️ Solo apellido\n└─ Mostrar opciones al usuario\n\n👤 Usuario: \"2\"\n\n🤖 Bot:\n└─ Recuperar slotsMap[2]: medico=\"Pérez\"\n└─ ⚠️ DETECTAR: solo apellido, falta nombre\n└─ obtener_medicos_completo1()\n   → Buscar \"Pérez\"\n   → Encontrados 2: \"Juan Pérez\" y \"María Pérez\"\n└─ \"Encontré dos profesionales:\n    ¿Te referís al Dr. Juan Pérez (Cardiología) \n    o a la Dra. María Pérez (Cardiología)?\"\n\n👤 Usuario: \"María Pérez\"\n\n🤖 Bot:\n└─ Actualizar slotsMap[2].medico = \"María Pérez\"\n└─ Pedir nombre_completo del paciente\n└─ Confirmar con tomar_turno_paciente({medico: \"María Pérez\", ...})\n```\n\n---\n\n### **CASO 3: Médico no encontrado**\n\n```\n👤 Usuario: \"Quiero con el Dr. Martínez López\"\n\n🤖 Bot:\n└─ obtener_medicos_completo1()\n   → Buscar \"Martínez López\"\n   → 0 resultados\n\n└─ \"No encontré al Dr. Martínez López en nuestro sistema.\n    ¿Podés verificar el nombre o decirme la especialidad que necesitás?\n    \n    También puedo derivarte con recepción para que te ayuden: \n    llamá al (0221) 4906310\"\n\n👤 Usuario: \"mejor derivame\"\n\n🤖 Bot:\n└─ llama ToolRecepcionista()\n└─ <NO_REPLY>  // Subflujo toma control\n```\n\n---\n\n### **CASO 4: Usuario pide estudio (derivación)**\n\n```\n👤 Usuario: \"2\"  // Opción estudios\n\n🤖 Bot:\n└─ tool_think(\"Usuario seleccionó opción 2: estudios\")\n└─ llamaToolStudios()\n└─ <NO_REPLY>  // No enviar texto, subflujo maneja\n```\n\n---\n\n### **CASO 5: ERROR REAL - Confusión de nombres (Dra. Roldan)**\n\n**⚠️ Este es el error que ocurrió en producción - APRENDER DE ESTE CASO:**\n\n```\n👤 Usuario: \"Quiero turno con Carina\"\n\n🤖 Bot:\n└─ obtener_medicos_completo1()\n   → Buscar \"Carina\"\n   → Encontrado: {Medico: \"Miriam Carina Roldan\", Matricula: 12345}\n   → ✅ Guardar: medicoNombre=\"Miriam Carina Roldan\", medicoMatricula=12345\n\n└─ \"Encontré a la Dra. Miriam Carina Roldan (Cardiología).\n    Para avanzar necesito tu DNI y obra social.\"\n\n👤 Usuario: \"42028075 y Sancor\"\n\n🤖 Bot - VERSION INCORRECTA (el error):\n└─ ❌ Flujo_padron({\n     dni: 42028075,\n     paciente: \"Miriam Carina Roldan\",  // ← ERROR: nombre del MÉDICO\n     obraSocial: \"Sancor\"\n   })\n   → Resultado: empadrona al MÉDICO en vez del PACIENTE\n   → Error catastrófico\n\n🤖 Bot - VERSION CORRECTA:\n└─ ✅ Flujo_padron({\n     dni: 42028075,\n     paciente: null,  // ← Dejar vacío\n     obraSocial: \"Sancor\",\n     celular: $('variables3').item.json.contactNumber\n   })\n   → Resultado: valida al PACIENTE correcto (Nicolas Lopez)\n\n└─ Guardar: pacienteNombre=\"Nicolas Lopez\" (del padrón)\n\n└─ ⚠️ VERIFICACIÓN ANTES DE CONTINUAR:\n   medicoNombre = \"Miriam Carina Roldan\"  ← PROFESIONAL\n   pacienteNombre = \"Nicolas Lopez\"        ← USUARIO\n   ¿Son diferentes? ✅ SÍ → Continuar\n\n└─ consultar_disponibilidad({\n     matricula: 12345,   // ← Del MÉDICO\n     dni: 42028075       // ← Del PACIENTE\n   })\n\n└─ [Usuario elige turno]\n\n└─ tomar_turno_paciente({\n     dni: 42028075,\n     nombre_completo: \"Nicolas Lopez\",      // ← PACIENTE ✅\n     medico: \"Miriam Carina Roldan\",       // ← MÉDICO ✅\n     fecha: \"20251003\",\n     hora: \"0900\"\n   })\n```\n\n**LECCIÓN APRENDIDA:**\n- ❌ NUNCA pasar el nombre del médico al campo `paciente` de `Flujo_padron`\n- ✅ SIEMPRE dejar `paciente` en null para que Flujo_padron lo busque por DNI\n- ✅ Guardar medicoNombre y pacienteNombre en variables SEPARADAS\n- ✅ Verificar que sean personas diferentes antes de confirmar\n\n---\n\n## 🚨 MANEJO DE ERRORES\n\n### **Error 1: Datos faltantes del paciente**\n```\nProblema: No tengo DNI\nAcción: \"Para avanzar necesito tu DNI (sin puntos). Ej: 42028075\"\n\nProblema: No tengo nombre completo\nAcción: \"Para confirmar el turno necesito tu nombre y apellido completo\"\n\nProblema: Padrón rechazado\nAcción: Derivar a llama ToolRecepcionista() → <NO_REPLY>\n```\n\n### **Error 2: Médico ambiguo o no encontrado**\n```\nProblema: Múltiples médicos con mismo apellido\nAcción: Listar opciones y pedir confirmación con especialidad\n\nProblema: Médico no existe\nAcción: Pedir aclaración o derivar a recepcionista\n\nProblema: Solo tengo apellido en resultado de especialidad\nAcción: Buscar con obtener_medicos_completo1() antes de confirmar\n```\n\n### **Error 3: Sin disponibilidad**\n```\nProblema: consultar_disponibilidad devuelve lista vacía\nAcción: \"📅 No encontré turnos disponibles en los próximos días.\n        Podés llamar al (0221) 4906310 o ingresar en www.iclp.com.ar/turnos\"\n```\n\n### **Error 4: Error técnico**\n```\nProblema: Tool falla o devuelve error\nAcción: \"⚠️ Hubo un problema técnico al consultar.\n        Te derivo con recepción: (0221) 4906310\"\n        → llama ToolRecepcionista()\n```\n\n---\n\n## 🎯 PRIORIDADES Y CALIDAD\n\n### **Objetivos de calidad:**\n1. **Precisión 100%** en nombre completo del médico antes de confirmar\n2. **Cero confirmaciones** con datos incompletos o inventados\n3. **Derivación proactiva** cuando hay ambigüedad no resuelta\n4. **Formato consistente** de fechas/horas (interno vs. visible)\n5. **Experiencia fluida** con mínimo ida y vuelta\n\n### **Métricas de éxito:**\n- ✅ Padrón validado antes de consultar horarios\n- ✅ Nombre completo del médico resuelto antes de confirmar\n- ✅ Usuario entiende las opciones mostradas\n- ✅ Confirmación exitosa con todos los datos correctos\n- ✅ Derivación oportuna en casos complejos\n\n---\n\n## 📖 RESUMEN DE RESPONSABILIDADES\n\n**TU MISIÓN como Agente Principal:**\n\n1. ✅ **Validar padrón** del paciente (`Flujo_padron`)\n2. ✅ **Buscar y resolver médicos** (`obtener_medicos_completo1`)\n3. ✅ **Desambiguar médicos** cuando hay múltiples coincidencias\n4. ✅ **Obtener códigos de especialidad** (`obtener_medicos_especialidades1`)\n5. ✅ **Delegar consulta de horarios** al sub-agente (`consultar_disponibilidad`)\n6. ✅ **Formatear y mostrar** opciones de turnos al usuario\n7. ✅ **Confirmar turnos** con datos completos (`tomar_turno_paciente`)\n8. ✅ **Derivar** casos especiales (estudios, reclamos, multimedia)\n\n**NO es tu responsabilidad:**\n- ❌ Decidir qué tool de horarios usar (lo hace `consultar_disponibilidad`)\n- ❌ Calcular `fechaDesde` (lo hace `consultar_disponibilidad`)\n- ❌ Gestionar estudios (lo hace `llamaToolStudios`)\n- ❌ Gestionar cancelaciones (lo hace `llama ToolRecepcionista`)\n---\n\n**RECORDÁ:** Sos el orquestador. Tu trabajo es guiar al paciente paso a paso, validar datos, resolver ambigüedades, y delegar tareas específicas a las tools/sub-agentes correctos. Nunca inventes datos, siempre validá, y derivá cuando sea necesario. 🎯\n\n# NOTAS: Cuando el usuario coloque el nombre del medico debes intentar corregirlo con los siguientes nombre disponiblesMedicos disponibles:{{ JSON.stringify($json.data) }}","maxIterations":15,"returnIntermediateSteps":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[3408,-720],"id":"4042108c-b6ef-460b-ada2-a13dd736a55a","name":"Agente conversacional18"},{"parameters":{"model":"google/gemini-2.5-flash-preview-09-2025","options":{"temperature":0.1,"maxRetries":3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2448,-288],"id":"427616cf-a4f9-4af0-8181-fadd111a54b7","name":"LLM 4o21","credentials":{"openRouterApi":{"id":"ZlcbniUoDvrFqCIJ","name":"OpenRouter ICLP"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7c97b553-0177-4d4e-be9a-52cc5755069d","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-544,-768],"id":"8ae78619-866a-480e-8595-006261b7faf0","name":"Filter4"},{"parameters":{"model":"google/gemini-2.5-flash-preview-09-2025","options":{"temperature":0.1,"maxRetries":3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1024,-432],"id":"bd21d483-ea3b-4c37-b292-4f56de932bbd","name":"LLM 4o22","credentials":{"openRouterApi":{"id":"ZlcbniUoDvrFqCIJ","name":"OpenRouter ICLP"}}}],"connections":{"Filtrar números de prueba":{"main":[[{"node":"variables3","type":"main","index":0}]]},"consultar_disponibilidad":{"ai_tool":[[{"node":"Agente conversacional18","type":"ai_tool","index":0}]]},"obtenerMedicos":{"ai_tool":[[{"node":"Agente conversacional18","type":"ai_tool","index":0}]]},"obtenerEspecialidades":{"ai_tool":[[{"node":"Agente conversacional18","type":"ai_tool","index":0}]]},"obtenerMedicosEspecialidades":{"ai_tool":[[{"node":"Agente conversacional18","type":"ai_tool","index":0}]]},"Get many rows":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Agente conversacional18","type":"main","index":0}]]},"horarios_medicos_disponibles3":{"ai_tool":[[{"node":"consultar_disponibilidad","type":"ai_tool","index":0}]]},"tomar_turno_paciente3":{"ai_tool":[[{"node":"Agente conversacional18","type":"ai_tool","index":0}]]},"Code3":{"main":[[{"node":"loop3","type":"main","index":0}]]},"SendText3":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"MEMORY3":{"ai_memory":[[{"node":"Agente conversacional18","type":"ai_memory","index":0},{"node":"consultar_disponibilidad","type":"ai_memory","index":0}]]},"Webhook3":{"main":[[{"node":"Execution Data3","type":"main","index":0},{"node":"Filtrar números de prueba","type":"main","index":0}]]},"horarios_especialidad_disponibles3":{"ai_tool":[[{"node":"consultar_disponibilidad","type":"ai_tool","index":0}]]},"Flujo_padron3":{"ai_tool":[[{"node":"Agente conversacional18","type":"ai_tool","index":0}]]},"If3":{"main":[[{"node":"Chat Memory Manager3","type":"main","index":0}],[{"node":"Get many rows","type":"main","index":0}]]},"Chat Memory Manager3":{"main":[[{"node":"llamaToolStudios3","type":"main","index":0}]]},"Redis Chat Memory3":{"ai_memory":[[{"node":"Chat Memory Manager3","type":"ai_memory","index":0}]]},"tool_think6":{"ai_tool":[[{"node":"Agente conversacional18","type":"ai_tool","index":0}]]},"Analista de Conversación6":{"main":[[{"node":"Formateador3","type":"main","index":0}]]},"Formateador3":{"main":[[{"node":"If3","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"No realiza op3","type":"main","index":0}],[{"node":"Fin del Flujo3","type":"main","index":0}],[{"node":"bufferMessages3","type":"main","index":0}]]},"bufferMessages3":{"main":[[{"node":"filtraNullMessage3","type":"main","index":0}]]},"unifiedText3":{"main":[[{"node":"Analista de Conversación6","type":"main","index":0}]]},"Filter3":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"variables3":{"main":[[{"node":"Filter3","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"loop3","type":"main","index":0}]]},"loop3":{"main":[[{"node":"Limit3","type":"main","index":0}],[{"node":"SendText3","type":"main","index":0}]]},"No realiza op3":{"main":[[{"node":"Chat Memory Manager3","type":"main","index":0}]]},"llama ToolRecepcionista3":{"ai_tool":[[{"node":"Agente conversacional18","type":"ai_tool","index":0}]]},"Basic LLM Chain3":{"main":[[{"node":"Discord3","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Basic LLM Chain3","type":"ai_languageModel","index":0}]]},"filtraNullMessage3":{"main":[[{"node":"unifiedText3","type":"main","index":0}]]},"Agente conversacional18":{"main":[[{"node":"Code3","type":"main","index":0}]]},"LLM 4o21":{"ai_languageModel":[[{"node":"Agente conversacional18","type":"ai_languageModel","index":0},{"node":"consultar_disponibilidad","type":"ai_languageModel","index":0}]]},"LLM 4o22":{"ai_languageModel":[[{"node":"Analista de Conversación6","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Argentina/Buenos_Aires","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook3":[{"json":{"headers":{"host":"hooks.autoclinicas.com","user-agent":"rest-client/2.1.0 (linux-musl x86_64) ruby/3.4.4p34","content-length":"1920","accept":"application/json","accept-encoding":"gzip;q=1.0,deflate;q=0.6,identity;q=0.3","content-type":"application/json","x-forwarded-for":"206.81.1.93","x-forwarded-host":"hooks.autoclinicas.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f2c799d0c305","x-real-ip":"206.81.1.93"},"params":{},"query":{},"body":{"additional_attributes":{},"can_reply":true,"channel":"Channel::Whatsapp","contact_inbox":{"id":11589,"contact_id":5992,"inbox_id":13,"source_id":"5492213994411","created_at":"2025-10-06T03:48:03.336Z","updated_at":"2025-10-06T03:48:03.336Z","hmac_verified":false,"pubsub_token":"d6JgjfMdDPM2HCXcD36SHFJR"},"id":7043,"inbox_id":13,"messages":[{"id":89070,"content":"SANCOR","account_id":2,"inbox_id":13,"conversation_id":7043,"message_type":0,"created_at":1759727046,"updated_at":"2025-10-06T05:04:06.228Z","private":false,"status":"sent","source_id":"wamid.HBgNNTQ5MjIxMzk5NDQxMRUCABIYFDNCOERFNTMwQ0E5MDMxMDhFMzc0AA==","content_type":"text","content_attributes":{},"sender_type":"Contact","sender_id":5992,"external_source_ids":{},"additional_attributes":{},"processed_message_content":"SANCOR","sentiment":{},"conversation":{"assignee_id":null,"unread_count":10,"last_activity_at":1759727046,"contact_inbox":{"source_id":"5492213994411"}},"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":5992,"identifier":"5492213994411@s.whatsapp.net","name":"Nm","phone_number":"+5492213994411","thumbnail":"","blocked":false,"type":"contact"}}],"labels":[],"meta":{"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":5992,"identifier":"5492213994411@s.whatsapp.net","name":"Nm","phone_number":"+5492213994411","thumbnail":"","blocked":false,"type":"contact"},"assignee":null,"team":{"id":1,"name":"recepcionistas"},"hmac_verified":false},"status":"open","custom_attributes":{},"snoozed_until":null,"unread_count":10,"first_reply_created_at":"2025-10-06T03:48:23.439Z","priority":null,"waiting_since":1759727046,"agent_last_seen_at":1759726031,"contact_last_seen_at":0,"last_activity_at":1759727046,"timestamp":1759727046,"created_at":1759722483,"updated_at":1759727046.382514,"applied_sla":null,"sla_events":[],"sla_policy_id":null,"event":"automation_event.message_created"},"webhookUrl":"https://hooks.autoclinicas.com/webhook/agentes/v1/iclp","executionMode":"production"}}]},"versionId":"13019256-4221-4d75-afd6-0c12a72d6afe","triggerCount":1,"shared":[{"createdAt":"2025-09-17T18:39:16.847Z","updatedAt":"2025-09-17T18:39:16.847Z","role":"workflow:owner","workflowId":"1lhcvii7tPJJOOkZ","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}