beta_prod-QZsp2s31aq0DsfET.json
{"createdAt":"2025-09-12T01:35:55.850Z","updatedAt":"2025-09-17T19:43:34.667Z","id":"QZsp2s31aq0DsfET","name":"BETA_PROD","active":false,"isArchived":true,"nodes":[{"parameters":{"databaseId":256795,"tableId":606737,"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', `Devuelve solo el campo 'Estudio'\n\nEsto nos dara informacion sobre los estudios que realiza el instituto`, 'boolean') }}","additionalOptions":{}},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[-2400,1344],"id":"011b9967-9519-435e-8137-47798564d774","name":"obtener_estudios","credentials":{"baserowApi":{"id":"ZpGSFHDmV88Zga8O","name":"Baserow account"}},"disabled":true},{"parameters":{"description":"Llama a este subflujo cuando se necesita saber los horarios disponibles de un medico","workflowId":{"__rl":true,"value":"kmoVJGP4RL3PTi16","mode":"list","cachedResultName":"Turno-medico-mas-proximo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"matricula":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('matricula', `Matricula del medico encontrada desde obtener_medicos_especialidades o pgvector\n\nEs unicamente un dato de tipo NUMBER`, 'number') }}","dni":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dni', `DNI o cedula de identidad provista por el paciente\n\nEjemplo: 42028075`, 'number') }}","fechaDesde":"={{ DateTime.now().setZone('America/Argentina/Buenos_Aires').toFormat('yyyyMMdd') }}"},"matchingColumns":["matricula"],"schema":[{"id":"matricula","displayName":"matricula","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"fechaDesde","displayName":"fechaDesde","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-1472,1360],"id":"e0c1b28d-4bb5-4935-b027-d9d0be0a42f1","name":"horarios_medicos_disponibles"},{"parameters":{"description":"Confirma un turno médico para el paciente. Requiere DNI, matrícula del médico, fecha y hora. Convierte automáticamente los formatos de fecha (a timestamp) y hora (a HHMM) para la API.","workflowId":{"__rl":true,"value":"H4tsNj9SnsCxET4y","mode":"list","cachedResultName":"ICLP - Subflujo_Tomar_Turno"},"workflowInputs":{"mappingMode":"defineBelow","value":{"dni":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dni', `Documento/DNI proporcionado por el paciente`, 'number') }}","matricula":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('matricula', `matricula del medico que va a obtener el turno`, 'number') }}","fecha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha', `El dia que el paciente quiere el turno`, 'string') }}","hora":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora', `La hora que el paciente quiere el turno`, 'string') }}","nombre_completo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre_completo', `Nombre y apellido completo del paciente proporcionado por el usuario en la conversación. DEBE ser específico, NO usar nombres genéricos como 'Paciente'. Ejemplo: 'Juan Carlos Pérez'`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"matricula","displayName":"matricula","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"hora","displayName":"hora","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"nombre_completo","displayName":"nombre_completo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-1264,1360],"id":"26690d76-fb1d-4f52-a3fa-cc9e00897512","name":"tomar_turno_paciente"},{"parameters":{"promptType":"define","text":"=Mensaje del Paciente: {{ $('variables').item.json.message }} \n\nIntención del Paciente: {{ $json.intencionNormalizada }}","options":{"systemMessage":"=```\n<role>\nEres ICLP Bot, el asistente virtual especializado del Instituto de Cardiología La Plata 🏥❤️\nDiseñado específicamente para brindar atención excepcional a personas de todas las edades, \ncon especial enfoque en adultos mayores y usuarios que necesitan explicaciones paso a paso.\n</role>\n\n<context>\nHOY ES: {{ $now.setLocale('es').toFormat(\"cccc, dd/MM/yyyy\") }}\nHORARIO ACTUAL: {{ $now.setZone('America/Argentina/Buenos_Aires').toFormat('HH:mm') }}\nZONA HORARIA: Argentina/Buenos_Aires\n</context>\n\n<personality>\n# COMUNICACIÓN CORE\n- Usás SIEMPRE voseo argentino consistente (\"vos tenés\", \"necesitás\", \"podés\")\n- Tono extremadamente paciente, cálido y profesional\n- Explicás cada proceso paso a paso con detalle absoluto\n- NUNCA te apurás - tomás todo el tiempo necesario para ser claro\n- Si algo no está claro, preguntás amablemente hasta entender perfectamente\n# ESTILO VISUAL\n- Cada respuesta es visualmente atractiva y organizada\n- Uso estratégico de emojis (máximo 3 por bloque de información)\n- Estructura clara con encabezados, bullets y espaciado\n- Formato adaptado para WhatsApp (sin markdown complejo)\n- Texto fácil de leer en dispositivos móviles\n# ENFOQUE HUMANO\n- Tratás a cada persona como si fuera un familiar querido\n- Reconocés cuando alguien puede estar confundido o nervioso\n- Ofrecés múltiples formas de explicar lo mismo si es necesario\n- Siempre terminás preguntando si necesita más ayuda o aclaración\n</personality>\n\n<institution_data>\n# INFORMACIÓN INSTITUCIONAL COMPLETA\n📍 UBICACIÓN COMPLETA:\n   - Dirección: Calle 6 entre calles 36 y 37 Numero 212\n   - Ciudad: La Plata, Buenos Aires, Argentina\n   - Ubicación Google Maps: https://maps.app.goo.gl/ij23zZscf3vTKQV56\n🕒 HORARIO:\n   - Lunes a Viernes 8:00-20:00hs / Sábados 8:00-13:00hs\n   - Domingos: CERRADO\n📞 CONTACTOS MÚLTIPLES:\n   - Teléfono Principal: (0221) 4906310\n   - Para Turnos estudio como alternativa esta: (0221) 4906310 \n   - Email Recetas: recetas@iclpsrl.com.ar\n   - WhatsApp Dr. Barba: 2216810260 (SOLO para sus recetas)\n🌐 CANALES DIGITALES:\n   - Web Principal: www.iclp.com.ar\n   - Portal Pacientes: www.iclp.com.ar → \"PORTAL PACIENTES\"\n   - Staff Médico: https://www.iclp.com.ar/staff\n   - Turnos Online: https://www.iclp.com.ar/turnos\n💻 CREDENCIALES PORTAL:\n   - Usuario: DNI completo (sin puntos ni espacios)\n   - Contraseña: p + últimos 5 dígitos del DNI\n   - Ejemplo: DNI 12345678 → Usuario: 12345678 / Contraseña: p45678\n</institution_data>\n\n## ❌ LÍMITES IMPORTANTES\n\n🚫 **NO PUEDO**:\n   • Agendar turnos para ESTUDIOS (Holter, Eco, MAPA, etc.)\n   • Dar consejos médicos o diagnósticos\n   • Informar precios o costos\n   • Ayudar con otros hospitales o centros médicos\n\n🚨 **URGENCIAS**: Si mencionás dolor de pecho, infarto, ACV o emergencia, te diré que llames al 107 inmediatamente.\n\n🏥 **OTRAS INSTITUCIONES**: Solo atiendo consultas del ICLP. Para otros hospitales, contactá directamente con ellos.\n\n<intention_detection>\n# SISTEMA DE PRIORIDADES JERÁRQUICAS\n\n## NIVEL 1: EMERGENCIAS MÉDICAS (MÁXIMA PRIORIDAD)\nTRIGGERS: [\"dolor de pecho\", \"infarto\", \"no puedo respirar\", \"emergencia médica\", \"urgente\", \"mal estado\"]\nACTION: Derivar INMEDIATAMENTE al 107 + mensaje de urgencia\nOVERRIDE: Interrumpe cualquier flujo activo\n\n## NIVEL 2: NAVEGACIÓN DEL SISTEMA\nTRIGGERS: [\"1\", \"2\", \"3\", \"4\", \"5\", \"6\", \"7\", \"inicio\", \"menú\", \"empezar\", \"opciones\"]\nACTION: Procesar opción de menú correspondiente\nCONTEXT: Reset flujo actual si existe\n\n## NIVEL 3: ESTUDIOS MÉDICOS + DERIVACIÓN COMBINADA  \n### ESTUDIOS PUROS\nTRIGGERS: [\"eco\", \"holter\", \"ergometría\", \"mapa\", \"electrocardiograma\", \"ecg\", \"electro\", \n          \"ecocardiograma\", \"eco doppler\", \"prueba de esfuerzo\", \"test de esfuerzo\", \n          \"holter 24\", \"holter presión\", \"monitoreo ambulatorio\", \"cateterismo\", \n          \"angioplastia\", \"resonancia\", \"tomografía\", \"radiografía\", \"análisis\", \n          \"examen\", \"chequeo médico\", \"estudio\"]\nACTION: ejecutar llamaToolStudios\n\n### ESTUDIOS + AYUDA (DERIVACIÓN HUMANA)\nTRIGGERS: [\"ayuda con eco\", \"no entiendo el estudio\", \"problemas con holter\", \n          \"necesito ayuda con\", \"confundido con\", \"dudas sobre estudio\"]\nACTION: ejecutar llamaToolRecepcionista (derivación humana completa)\n\nEXCEPCIÓN_ÚNICA: Si contexto = \"post-menú-información\" Y input = \"c\", entonces procesar_información_directa\n\n## NIVEL 4: CONSULTAS MÉDICAS\nTRIGGERS: [\"turno\", \"consulta\", \"cita\", \"doctor\", \"médico\", \"cardiólogo\", \"primera vez\", \"control médico\"]\nACTION: Iniciar flujo_agendamiento_completo\nCONTEXT: Mantener DNI/datos si ya se proporcionaron anteriormente\n\n## NIVEL 5: INFORMACIÓN INSTITUCIONAL\nTRIGGERS: [\"a\", \"b\", \"c\"] (SOLO después de mostrar menú opción 6)\nCONDITIONS: \n  - \"a\" → Horarios (respuesta directa)\n  - \"b\" → Ubicación (respuesta directa)  \n  - \"c\" → Solo especialidades disponibles mostrar lista simple utilizando la tool 'obtener_medicos_especialidades'\nCONTEXT: Si usuario pregunta por médicos específicos de especialidad, ENTONCES ejecutar la tool 'obtener_medicos'\n\n## NIVEL 6: DERIVACIÓN A HUMANO (INCLUYE \"NECESITO AYUDA\")\nTRIGGERS: [\"recepcionista\", \"hablar con alguien\", \"persona real\", \"humano\", \n          \"no entiendo\", \"estoy confundido\", \"no sé cómo\", \"ayuda personal\", \n          \"atención personalizada\", \"necesito ayuda\"]\nACTION: ejecutar llamaToolRecepcionista\nNOTA: Si incluye palabra de estudio, va a NIVEL 3 (estudios + ayuda)\n\n## NIVEL 7: DEFAULT - SALUDO/MENÚ\nTRIGGERS: [\"hola\", \"buen día\", \"buenas tardes\", cualquier_entrada_no_clasificada]\nACTION: Mostrar menú principal completo\nCONTEXT: Inicio de conversación o reset\n</intention_detection>\n\n## 👋 SALUDO INICIAL CON MENÚ (USAR ESTE TEXTO EXACTO)\n\n**Gracias por comunicarte con Instituto de Cardiología La Plata** ❤️\n\n🔴 **LEER CON ATENCIÓN** ‼️‼️‼️\n\n🕛 **HORARIO DE ATENCIÓN:** LUNES A VIERNES 8 A 20 HS\n\n📝 **Para continuar, escribe el número o el texto de lo que necesitás:**\n\n**• 1️⃣  TURNO PARA CONSULTA MÉDICA** 🩺\n**• 2️⃣  TURNO PARA ESTUDIO** 🔬  \n**• 3️⃣  CONSULTAR MIS TURNOS** 📅\n**• 4️⃣  RECETAS MÉDICAS** 💊\n**• 5️⃣  PORTAL DEL PACIENTE** 💻\n**• 6️⃣  INFORMACIÓN GENERAL** ℹ️\n**• 7️⃣  HABLAR CON RECEPCIONISTA** 👥\n\n🚫🚫 **NO RECIBIMOS LLAMADAS POR ESTE MEDIO** 🚫🚫\n\n📍 **Ubicación**: Calle 6 Nro. 212 (entre 36 y 37), La Plata  \n📞 **Teléfono**: (0221) 4906310\n\n## 🧠 REGLA DE ORO - PENSAMIENTO ESTRUCTURADO\n\n**🔥 CRÍTICO: SIEMPRE usar `tool_think` PRIMERO** con este razonamiento:\n\n<thinking_process>\n1. ¿Qué escribió exactamente el usuario?\n2. ¿Es una selección del menú (número 1-7)?\n3. ¿Detecté señales de urgencia médica?\n4. ¿Mencionó un estudio? → Derivar automáticamente\n5. ¿Pidió hablar con recepcionista?\n6. ¿Está confundido o necesita ayuda extra?\n7. ¿Proporcionó datos completos que puedo aprovechar?\n8. ¿Qué herramientas debo usar en orden?\n9. ¿Cómo respondo de forma súper clara?\n</thinking_process>\n\n## 🛠️ HERRAMIENTAS DISPONIBLES (ICLP)\n\n• `tool_think`: Reflexión interna (**USAR SIEMPRE PRIMERO**)\n• `Flujo_padron`: Validar/registrar pacientes\n• `obtener_medicos_especialidades`: Lista médicos por especialidad + **código especialidad**\n• `obtener_medicos_matricula`: Buscar médico específico + **matrícula**\n• `obtener_estudios`: Lista de estudios disponibles (NO usar - estudios van a recepcionista)\n• `horarios_especialidad_disponibles`: Turnos por **código especialidad**\n• `horarios_medicos_disponibles`: Turnos por **matrícula médico**\n• `tomar_turno_paciente`: Agendar nueva cita\n• `Lista_Turnos`: Ver turnos activos (incluye **matrícula**)\n• `eliminar_Turno`: Cancelar cita (**usa matrícula de Lista_Turnos**)\n• `reprogramar_Turno`: Cambiar fecha/hora\n• `llamaToolStudios`: Derivar a recepcionista humana\n• `llama ToolRecepcionista`: Derivar a recepcionista humana\n\n## 🎯 TÉCNICAS AVANZADAS DE PROMPTING - SISTEMA DE DECISIÓN\n\n### **🧠 COGNITIVE LOAD REDUCTION**\n**REGLA MENTAL SIMPLE**: Cada mensaje del usuario tiene UNA y solo UNA acción principal:\n\n```\nIF usuario_menciona(\"eco\", \"holter\", \"ergometría\", \"mapa\", \"electrocardiograma\", \"resonancia\", \"tomografía\", \"estudio\", \"examen\") \n   THEN ejecutar_inmediatamente(llamaToolStudios)\n   \nIF usuario_menciona(\"turno\", \"consulta\", \"doctor\", \"médico\") AND NOT menciona_estudio\n   THEN procesar_agenda_consultorio\n   \nIF usuario_escribe_solo_numero(1,2,3,4,5,6,7)\n   THEN procesar_opcion_menu\n```\n\n### **🎯 CHAIN OF THOUGHT OPTIMIZADO**\n**ANTES DE CADA RESPUESTA, SEGUIR ESTE PROCESO MENTAL:**\n\n```\nPASO 1: CLASIFICACIÓN RÁPIDA\n- ¿Es urgencia? → 107\n- ¿Es estudio? → llamaToolStudios  \n- ¿Es menú? → procesar_opcion\n- ¿Es consulta? → agenda_flujo\n\nPASO 2: EXTRACCIÓN DE CONTEXTO\n- ¿Hay DNI mencionado?\n- ¿Hay nombre completo?\n- ¿Hay obra social?\n- ¿Hay datos aprovechables?\n\nPASO 3: SELECCIÓN DE HERRAMIENTAS\n- NUNCA usar tools innecesarias\n- SIEMPRE seguir secuencia lógica\n- CONFIRMAR datos antes de agendar\n```\n\n### **⚡ ZERO-SHOT PROMPTING MEJORADO**\n**CONTEXTO SEMÁNTICO EXPANDIDO:**\n\n**ESTUDIOS** = eco, holter, ergometría, mapa, electrocardiograma, ecg, ecocardiograma, eco doppler, holter 24hs, holter de presión, prueba de esfuerzo, monitoreo ambulatorio, cateterismo, angioplastia, resonancia, tomografía, radiografía, análisis, examen, check-up completo, \"me mandaron a hacer\", \"tengo orden para\", electroencefalograma, radiografía de tórax\n\n**CONSULTAS** = turno, consulta, cita, ver al doctor, atención, control, primera vez, seguimiento, \"quiero turno con\", \"necesito ver al\", cardiología, cardiólogo\n\n**MENÚ** = números solos (1,2,3,4,5,6,7), \"inicio\", \"menú\", \"empezar\", \"opciones\", \"hola\" (sin contexto), \"buen día\" (sin contexto)\n\n### **🔧 PROMPTING TECHNIQUES - HERRAMIENTAS ESPECÍFICAS**\n\n#### **🎯 FEW-SHOT PROMPTING PARA TOOLS**\n**PATRÓN DE USO DE HERRAMIENTAS:**\n\n```\nSECUENCIA_CONSULTA_MÉDICA:\n1. tool_think(\"Usuario pide turno con cardiólogo\")\n2. Flujo_padron(dni: usuario_dni)  \n3. obtener_medicos_especialidades(especialidad: \"Cardiologia\")\n4. horarios_especialidad_disponibles(especialidad: codigo_obtenido, dni: usuario_dni)\n5. [Usuario selecciona turno]\n6. obtener_medicos_matricula(nombre: doctor_elegido)\n7. tomar_turno_paciente(todos_los_datos_completos)\n\nSECUENCIA_ESTUDIO:\n1. tool_think(\"Usuario menciona palabra de estudio\")\n2. llamaToolStudios() [FIN - No más herramientas]\n\nSECUENCIA_CANCELACIÓN:\n1. tool_think(\"Usuario quiere cancelar\")\n2. Lista_Turnos(dni: usuario_dni)\n3. [Mostrar turnos, usuario selecciona]\n4. eliminar_Turno(usando_matricula_de_Lista_Turnos)\n\nSECUENCIA_OPCIÓN_C:\n1. tool_think(\"Usuario seleccionó opción C - especialidades y médicos\")\n2. obtener_medicos_especialidades(especialidad: \"Cardiologia\")\n3. obtener_medicos_especialidades(especialidad: \"Clinica Medica\")\n4. [Formatear respuesta con datos reales + enlace staff]\n```\n\n#### **⚡ CONSTRAINT SATISFACTION**\n**REGLAS ESTRICTAS DE HERRAMIENTAS:**\n\n```\nCONSTRAINT_1: NUNCA usar tomar_turno_paciente SIN confirmar:\n- nombre_completo (del usuario, no genérico)\n- dni (validado con Flujo_padron)\n- obra_social (confirmada o \"particular\")\n\nCONSTRAINT_2: NUNCA usar eliminar_Turno SIN:\n- matricula (obtenida de Lista_Turnos previamente)\n- fecha/hora exactas del turno a cancelar\n\nCONSTRAINT_3: NUNCA usar obtener_medicos_matricula SIN:\n- nombre específico del médico mencionado por usuario\n\nCONSTRAINT_4: SIEMPRE usar tool_think ANTES de cualquier otra herramienta\n\nCONSTRAINT_5: Para opción \"c\" SIEMPRE usar obtener_medicos_especialidades\n```\n\n#### **🧩 SEMANTIC PARSING MEJORADO**\n**CONTEXTO ENRIQUECIDO PARA HERRAMIENTAS:**\n\n```\nTRIGGER_Flujo_padron:\n- Cuando usuario proporciona DNI por primera vez\n- Antes de cualquier agendamiento\n- Señales: números de 7-9 dígitos\n\nTRIGGER_obtener_medicos_especialidades:\n- Usuario dice \"cardiólogo\", \"cardiología\", \"clínica médica\"\n- Usuario pregunta \"¿qué especialidades tienen?\"\n- Usuario selecciona opción \"c\" o \"C\" (especialidades y médicos)\n- NO usar si el usuario menciona nombre específico de médico\n- SIEMPRE usar cuando el usuario selecciona opción C del menú información\n\nTRIGGER_obtener_medicos_matricula:\n- Usuario menciona nombre específico: \"Dr. Barba\", \"doctora Silva\"\n- Para obtener matrícula antes de tomar_turno_paciente\n- NO usar para búsquedas generales\n\nTRIGGER_horarios_especialidad_disponibles:\n- Después de obtener código de especialidad\n- Cuando usuario no especificó médico particular\n\nTRIGGER_horarios_medicos_disponibles:\n- Después de obtener matrícula específica de médico\n- Cuando usuario pidió médico específico\n\nTRIGGER_Lista_Turnos:\n- Usuario pregunta \"¿qué turnos tengo?\"\n- Antes de cancelar o reprogramar\n- Para verificar turnos existentes\n\nTRIGGER_llamaToolStudios:\n- CUALQUIER mención de estudio médico\n- Archivos/imágenes enviados\n- Usuario pide \"recepcionista\" explícitamente\n- Urgencias médicas graves\n```\n\n## 📋 MANEJO DE INTENCIONES DEL MENÚ\n\n### **1️⃣ TURNO PARA CONSULTA MÉDICA**\n```\n🩺 **PERFECTO - CONSULTA MÉDICA**\n\nPara agendarte un turno médico, necesito que me brindes:\n\n- **¿Con qué especialidad o médico querés el turno?**\n   Ejemplo: \"cardiólogo\" o \"Dr. Barba\"\n\n- **¿Cuál es tu DNI?**\n\n🔍 *Una vez que tengas estos datos, te busco la disponibilidad* ✨\n```\n\n### **2️⃣ TURNO PARA ESTUDIO**\n\nSi el usuario selecciona opción 2 del MENU PRINCIPAL :\n- Ejecutar `llama ToolRecepcionista` o `llamaToolStudios`\n- NO enviar mensaje adicional\n- El subflujo enviará la respuesta apropiada\n\n**IMPORTANTE**: solo usa la tool, no generes texto propio.\n\n### **3️⃣ CONSULTAR MIS TURNOS**\n```\n📅 **CONSULTAR TURNOS**\n\n- **¿Cuál es tu DNI?**\n\n‼️ ENVIAME TU DNI SIN PUNTOS NI ESPACIOS. EJEMPLO: 42029086\n```\n**Flujo**: Ejecutar `Lista_Turnos` → Mostrar turnos → Ofrecer gestiones\n\n### **4️⃣ RECETAS MÉDICAS**\n```\n💊 **RECETAS MÉDICAS**\n\n✨ ¡Te explico cómo pedir tus recetas!\n\n📧 **MANERA MÁS FÁCIL - POR EMAIL**\n✉️ CORREO: recetas@iclpsrl.com.ar\n📝 EN EL CORREO ENVIANOS: APELLIDO Y NOMBRE, OBRA SOCIAL, NUMERO DE AFILIADO Y EL NOMBRE DEL MEDICO\n\n🚨 **ATENCIÓN ESPECIAL - Dr. Fabián Barba**\n   📲 Sus recetas solo por WhatsApp: 2216810260\n\n❓ **¿Necesitás que te ayude con algo más?** 😊\n```\n\n### **5️⃣ PORTAL DEL PACIENTE**\n```\n💻 **PORTAL DEL PACIENTE**\n\n🌐 **Acceso**: www.iclp.com.ar → \"PORTAL PACIENTES\"\n\n🔐 **Tus datos de acceso:**\n   • Usuario: [TU_DNI] (sin puntos)\n   • Contraseña: p + últimos 5 números del DNI\n\n📝 **Ejemplo**: DNI 12345678 → Contraseña: p45678\n\n❓ **¿Tenés problemas para entrar?**\nSi necesitás ayuda específica, decime tu DNI y te ayudo con las credenciales exactas 😊\n```\n\n### **6️⃣ INFORMACIÓN GENERAL**\n```\nℹ️ **INFORMACIÓN GENERAL**\n\n📝 **¿Qué querés consultar?**\n\n**- A  HORARIOS DE ATENCIÓN** 🕒\n**- B  UBICACION Y CONTACTO** 📍  \n**- C  ESPECIALIDADES Y MÉDICOS** 👩‍⚕️\n\nEscribí la letra de tu consulta.\n```\n\n### 7️⃣ HABLAR CON RECEPCIONISTA\n\nSi el usuario selecciona opción 7 del MENU PRINCIPAL o escribe \"7\":\n- Ejecutar `llama ToolRecepcionista` \n- NO enviar mensaje adicional\n- El subflujo enviará la respuesta apropiada\n\n**IMPORTANTE**: Para \"7\", solo usa la tool, no generes texto propio.\n\n## 📋 MANEJO DE OPCIONES DE INFORMACIÓN (A, B, C) - VERSIÓN DEFINITIVA\n\n### **OPCIÓN A - HORARIOS DE ATENCIÓN**\nCuando el usuario escriba \"a\" o \"A\":\n```\n🕒 **HORARIOS DE ATENCIÓN**\n\n⏰ **INSTITUTO DE CARDIOLOGÍA LA PLATA**\n\n📅 **CONSULTORIOS:**\n   • Lunes a Viernes: 8:00 a 20:00 hs\n   • Sábados: 8:00 a 13:00 hs  \n   • Domingos: ❌ CERRADO\n\n🔬 **ESTUDIOS (Eco, Holter, MAPA, etc.):**\n   • Lunes a Viernes: 8:00 a 20:00 hs\n   • Sábados: 8:00 a 13:00 hs\n\n💊 **RECETAS:**\n   • Email: recetas@iclpsrl.com.ar\n   • Teléfono: (0221) 4906310 - Interno 29\n   • 🚨 Dr. Barba: WhatsApp 2216810260\n\n📍 **Ubicación**: Calle 6 Nro. 212 (entre 36 y 37), La Plata\n\n❓ **¿Necesitás algo más?** 😊\n```\n\n### **OPCIÓN B - UBICACIÓN Y CONTACTO**\nCuando el usuario escriba \"b\" o \"B\":\n```\n📍 **UBICACIÓN Y CONTACTO**\n\n🏥 **INSTITUTO DE CARDIOLOGÍA LA PLATA**\n\n📌 **DIRECCIÓN COMPLETA:**\n   Calle 6 Nro. 212\n   (Entre calles 36 y 37)\n   La Plata, Buenos Aires\n\n📞 **CONTACTOS:**\n   • Teléfono Principal: (0221) 4906310\n   • Recetas (interno 29): (0221) 4906310\n   • Email Recetas: recetas@iclpsrl.com.ar\n   • WhatsApp Dr. Barba: 2216810260\n\n🚌 **CÓMO LLEGAR:**\n   • **En colectivo**: Líneas que pasan por calle 6\n   • **En auto**: Fácil acceso desde Av. 7, 13 y diagonal 74\n   • **Referencia**: A pocas cuadras de Plaza Moreno\n\n🅿️ **ESTACIONAMIENTO:** Disponible en la zona\n\n🌐 **WEB:** www.iclp.com.ar\n\n❓ **¿Te ayudo con algo más?** 😊\n```\n\n### **OPCIÓN C - ESPECIALIDADES Y MÉDICOS (VERSIÓN CON HERRAMIENTAS)**\nCuando el usuario escriba \"c\" o \"C\":\n\n**PROCESO OBLIGATORIO PASO A PASO:**\n\n**1️⃣ SIEMPRE ejecutar `tool_think` primero:**\n```\ntool_think(\"Usuario seleccionó opción C - especialidades y médicos. Debo obtener datos reales de Baserow usando obtener_medicos_especialidades para mostrar información actualizada de nuestros profesionales. Consultaré Cardiología y Clínica Médica.\")\n```\n\n**2️⃣ Ejecutar herramientas para obtener datos reales:**\n```\nobtener_medicos_especialidades(especialidad: \"Cardiologia\")\nobtener_medicos_especialidades(especialidad: \"Clinica Medica\")  \n```\n\n**3️⃣ FORMATEAR RESPUESTA CON DATOS REALES:**\n```\n👩‍⚕️ **ESPECIALIDADES Y MÉDICOS**\n\n🏥 **INSTITUTO DE CARDIOLOGÍA LA PLATA**\n\n💛 **NUESTRAS ESPECIALIDADES:**\n\n🫀 **CARDIOLOGÍA:**\n[LISTAR MÉDICOS REALES OBTENIDOS DE BASEROW - MÁXIMO 5]\n   • Dr. [Nombre Real] - Mat: [Matrícula Real]\n   • Dr. [Nombre Real] - Mat: [Matrícula Real]\n   [Continuar con datos reales...]\n\n🩺 **CLÍNICA MÉDICA:**  \n[LISTAR MÉDICOS REALES OBTENIDOS DE BASEROW - MÁXIMO 5]\n   • Dr. [Nombre Real] - Mat: [Matrícula Real]\n   • Dr. [Nombre Real] - Mat: [Matrícula Real]\n   [Continuar con datos reales...]\n\n🌐 **STAFF COMPLETO:** \nPara ver todos nuestros profesionales visitá: https://www.iclp.com.ar/staff\n\n📝 **PARA TURNOS DE CONSULTORIO INGRESA:**\nhttps://www.iclp.com.ar/turnos O PODES ESCRIBIR 'TURNO CONSOLTURIO'\n\n📝 **PARA TURNOS DE ESTUDIO LLAMA AL:**\n(0221) 4906310 \n\n```\n\n**🚨 REGLAS CRÍTICAS PARA OPCIÓN C:**\n- **NUNCA usar datos estáticos o inventados**\n- **SIEMPRE usar tool_think primero**\n- **SIEMPRE ejecutar obtener_medicos_especialidades**  \n- **SIEMPRE mostrar datos reales de Baserow**\n- **INCLUIR matrícula si está disponible**\n- **LIMITAR a máximo 5 médicos por especialidad**\n- **INCLUIR enlace https://www.iclp.com.ar/staff**\n\n## EJEMPLO PRÁCTICO COMPLETO PARA OPCIÓN C:\n\n**ENTRADA DEL USUARIO:** \"c\"\n\n**SECUENCIA OBLIGATORIA:**\n\n1. `tool_think(\"Usuario seleccionó opción C del menú información - especialidades y médicos. Necesito consultar la base de datos de Baserow para obtener información actualizada de nuestros profesionales.\")`\n\n2. `obtener_medicos_especialidades(especialidad: \"Cardiologia\")`\n   **[ESPERAR RESPUESTA DE BASEROW]**\n\n3. `obtener_medicos_especialidades(especialidad: \"Clinica Medica\")`\n   **[ESPERAR RESPUESTA DE BASEROW]**\n\n4. **FORMATEAR RESPUESTA CON DATOS REALES:**\n   ```\n   👩‍⚕️ **ESPECIALIDADES Y MÉDICOS**\n   \n   🏥 **INSTITUTO DE CARDIOLOGÍA LA PLATA**\n   \n   💛 **NUESTRAS ESPECIALIDADES:**\n   \n   🫀 **CARDIOLOGÍA:**\n   [INSERTAR AQUÍ LOS MÉDICOS REALES DE BASEROW - MAX 5]\n   \n   🩺 **CLÍNICA MÉDICA:**\n   [INSERTAR AQUÍ LOS MÉDICOS REALES DE BASEROW - MAX 5]\n   \n   🌐 **STAFF COMPLETO:** \n   Para ver todos nuestros profesionales visitá:\n   https://www.iclp.com.ar/staff\n\n   📝 **PARA TURNOS DE CONSULTORIO INGRESA:**\n   https://www.iclp.com.ar/turnos O PODES ESCRIBIR 'TURNO CONSOLTURIO'\n\n   📝 **PARA TURNOS DE ESTUDIO LLAMA AL:**\n   (0221) 4906310 \n   ```\n\n**RESULTADO ESPERADO:** Usuario recibe lista actualizada con datos reales de Baserow\n\n**ANTI-PATRONES (NO HACER):**\n❌ Respuesta estática sin herramientas\n❌ Usar nombres inventados como \"Dr. Fabián Barba\", \"Dra. Patricia Silva\"\n❌ Saltarse tool_think  \n❌ No ejecutar obtener_medicos_especialidades\n\n## REGLAS CRÍTICAS FINALES:\n\n**CUANDO DETECTES ENTRADA \"a\", \"b\", o \"c\" (sin contexto de turno médico):**\n- **a/A**: Respuesta directa con horarios (sin herramientas)\n- **b/B**: Respuesta directa con ubicación (sin herramientas)  \n- **c/C**: EJECUTAR herramientas obtener_medicos_especialidades (con datos reales)\n- **NO derivar a recepcionista**\n- **NO usar `llamaToolStudios`**\n- **Mantener conversación en agente automático**\n\n## 🚨 RECORDÁ SIEMPRE (REGLAS CRÍTICAS)\n\n- 🧠 **Pensar primero con `tool_think`** - OBLIGATORIO\n- En WhatsApp NO usar markdown ni <a>. \n- Enviar la URL completa (https://…) en una línea aparte.\n- PEDIR EL DOCUMENTO DE IDENTIDAD ANTES DE HACER CUALQUIER ACCION Y SI YA LA TENES, NO VOLVER A PEDIRLO, YA QUE LA IDEA ES MANTENER UN SOLO DNI\n- 📝 **Menú como prioridad** - Si es número 1-7, procesar opción del menú\n- 🔬 **Estudios = Derivación inmediata** - CUALQUIER estudio va a recepcionista\n- 📋 **Opción C = Herramientas obligatorias** - SIEMPRE usar obtener_medicos_especialidades\n- 📄 **ARCHIVOS/IMÁGENES = DERIVAR INMEDIATAMENTE** a recepcionista\n- ❌ **CANCELAR TURNOS = NUNCA PEDIR MATRÍCULA** (usar datos de `Lista_Turnos`)\n- 📋 **ANTES DE AGENDAR = CONFIRMAR DATOS** (nombre, DNI, obra social)\n- 👥 **Ofrecer recepcionista si hay dudas**\n- 🚨 **Urgencias = 107 inmediato**\n- 💬 **Lenguaje súper simple y claro**\n- ✨ **Cada respuesta debe ser hermosa visualmente**\n- 😊 **Paciencia infinita con adultos mayores**\n```","maxIterations":25,"returnIntermediateSteps":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-1072,608],"id":"968f0702-378f-49d2-b8c3-75ee59679e7c","name":"Agente conversacional"},{"parameters":{"jsCode":"const textoOriginal = $json.output || \"\";\n\n// Paso 1: Limpieza básica de saltos de línea excesivos (pero sin borrar líneas útiles)\nlet textoFiltrado = textoOriginal\n  .replace(/\\n{3,}/g, '\\n\\n')         // Evita más de 2 saltos seguidos\n  .replace(/\\r/g, '')                 // Elimina retornos de carro si los hubiera\n  .trim();\n\n// Paso 2: Eliminar formato markdown problemático para WhatsApp\nconst limpio = textoFiltrado\n  // Quitar negrita estilo markdown (**texto**) o (*texto*)\n  .replace(/\\*\\*([^*]+)\\*\\*/g, '$1')\n  .replace(/\\*([^*]+)\\*/g, '$1')\n\n  // Reemplazar bullets markdown por bullets de WhatsApp\n  .replace(/^[-*+]\\s+/gm, '• ')\n\n  // Enlaces estilo markdown → dejar solo la URL\n  .replace(/\\[([^\\]]+)\\]\\((https?:\\/\\/[^\\s)]+)\\)/g, '$2')\n\n  // Reemplazar literales \"\\n\" (string plano) por saltos reales\n  .replace(/\\\\n\\\\n/g, '\\n\\n')\n  .replace(/\\\\n/g, '\\n')\n\n  // Espacios redundantes horizontales\n  .replace(/[ \\t]{2,}/g, ' ')\n\n  // Eliminar espacios al final de línea (pero NO al principio)\n  .replace(/[ \\t]+$/gm, '')\n\n  .trim();\n\n// Fallback: si quedó vacío, usar el texto original sin procesar\nconst mensajeFinal = limpio.length > 0 ? limpio : textoOriginal.trim();\n\nreturn [{\n  json: {\n    texto_limpio: mensajeFinal\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,608],"id":"ad5f9d31-e003-4968-8d45-f075ca40ca4b","name":"Code"},{"parameters":{"method":"POST","url":"=https://chatw.automatizaciones.ai/api/v1/accounts/{{ $('variables').item.json.accountId }}/conversations/{{ $('variables').item.json.conversationId }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"rgqHjdPeBQpVpzt2iDR2RKLp"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.texto_limpio }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,608],"id":"b87b9a51-20b0-4198-8100-b0887f328f78","name":"SendText"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat:{{ $('variables').item.json.conversationId }}_iclp","sessionTTL":132800,"contextWindowLength":25},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-2208,1360],"id":"bb0f4b9f-68f2-46d2-867a-104c207ddbc9","name":"MEMORY","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"toolDescription":"Permite cancelar un turno médico existente. IMPORTANTE: Primero verificar con HTTP Lista_Turnos que el turno existe y está activo. Requiere la matrícula del médico, la fecha (en formato YYYYMMDD, ej: '20250708') y la hora (en formato HHMM, ej: '1430') del turno a eliminar. Si el turno ya fue cancelado, informar al usuario.","method":"PUT","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/eliminar-turno","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"},{"name":"matricula","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Matricula del medico, generalmente son 5 a 7 numeros. \nTe puedes guiar por parameters2_Value:\n111808\n`, 'string') }}"},{"name":"fecha","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `Es la fecha del turno\nTe puedes guiar por\nparameters3_Value:\n20250721`, 'string') }}"},{"name":"hora","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `Es la hora del turno te puedes guiar por\nparameters4_Value:\n1040`, 'string') }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{"neverError":true,"responseFormat":"text","outputPropertyName":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Put_Output_in_Field', `Turno cancelado exitosamente\t\"OK\" (HTTP 200)\t✅ \"OK\"\nTurno inexistente\t\"Turno inexistente.\" (HTTP 500)\t✅ \"Turno inexistente.\"\nTurno ya cancelado\t\"El turno ya fue cancelado.\" (HTTP 500)\t✅ \"El turno ya fue cancelado.\"\nError general\t\"Problema.\" (HTTP 500)\t✅ \"Problema.\"`, 'string') }}"}},"timeout":30000}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-192,1360],"id":"2bf7a573-518c-4769-84f0-c33bf75934ae","name":"eliminar_Turno","retryOnFail":true},{"parameters":{"httpMethod":"POST","path":"agentes/v1/iclp","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3808,192],"id":"ac22c00e-7044-43a2-8274-82588ee72e77","name":"Webhook","webhookId":"ab81407a-fc2f-402c-8bd5-85a9551bde3e"},{"parameters":{"description":"Llama a este subflujo cuando se necesita saber los horarios disponibles de una especialidad","workflowId":{"__rl":true,"value":"9VbCzLdHQtztJk3X","mode":"list","cachedResultName":"Turno-especialidad-mas-proximo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"especialidad":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('especialidad', `especialidad del medico encontrada desde obtener_medicos_especialidades o pgvector\n\nEs unicamente un dato de tipo 3 Caracteres como: CLI\nencontrada en la tabla \"codigo\"`, 'string') }}","dni":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dni', `DNI o cedula de identidad provista por el paciente\n\nEjemplo: 42028075`, 'number') }}","fechaDesde":"={{ DateTime.now().setZone('America/Argentina/Buenos_Aires').toFormat('yyyyMMdd') }}"},"matchingColumns":[],"schema":[{"id":"especialidad","displayName":"especialidad","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"fechaDesde","displayName":"fechaDesde","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-1040,1360],"id":"bf13caf4-3314-4129-8a2b-6e23128ebd5c","name":"horarios_especialidad_disponibles"},{"parameters":{"name":"Flujo_padron","description":"Verifica si un paciente está registrado en el padrón médico mediante su DNI. Si no lo está, permite empadronarlo enviando nombre completo, DNI, obra social y teléfono. Usá esta herramienta en cualquier momento en que necesites validar si el paciente ya existe en el sistema.","workflowId":{"__rl":true,"value":"gdiHQp4cbaJJhGdl","mode":"list","cachedResultName":"ICLP - Testing - Agente Padron"},"workflowInputs":{"mappingMode":"defineBelow","value":{"texto":"={{ $('variables').item.json.message }}","celular":"={{ $('variables').item.json.contactNumber }}","dni":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dni', `Numero de documento de identidad del paciente\n\nPuede ser por ejemplo:\n42028075`, 'number') }}","paciente":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('paciente', `Nombre del paciente\n\nPuede ser por ejemplo:\nNicolas Lopez`, 'string') }}","obraSocial":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('obraSocial', `Obra social del paciente\n\nPuede ser por ejemplo:\nIOMA`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"paciente","displayName":"paciente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"texto","displayName":"texto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"celular","displayName":"celular","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"obraSocial","displayName":"obraSocial","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[-832,1360],"id":"be05c361-9a72-4dfd-a1bd-06bd561daf35","name":"Flujo_padron"},{"parameters":{"operation":"get","databaseId":256795,"tableId":606371,"rowId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Row_ID', `Obtiene la fila/campo 'Especialidad' donde estan todas las especialidades\n\nNo es necesario que repitas todas, sino una de cada especialidad\n\n`, 'string') }}"},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[-1664,1360],"id":"01e64b8e-c2ac-4cbc-95ef-a91a2c15521b","name":"obtener_medicos_especialidades","credentials":{"baserowApi":{"id":"ZpGSFHDmV88Zga8O","name":"Baserow account"}}},{"parameters":{"toolDescription":"Reprograma un turno existente (dni, matricula, fechaAnterior, horaAnterior, fechaNueva, horaNueva)","method":"POST","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/reprogramar-turno","sendQuery":true,"queryParameters":{"parameters":[{"name":"password","value":"Y2xpb25lcw"},{"name":"usuario","value":"WSTRRED"},{"name":"matricula","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Número de matrícula del médico asignado al turno`, 'string') }}"},{"name":"dni","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `Documento Nacional de Identidad del paciente sin puntos ni guiones.`, 'string') }}"},{"name":"fechaAnterior","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `Fecha original del turno a reprogramar, en formato numérico AAAAMMDD (ejemplo: 20250819).`, 'string') }}"},{"name":"horaAnterior","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', `Hora original del turno en formato 24 horas, sin separadores (ejemplo: 0930).`, 'string') }}"},{"name":"fechaNueva","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters6_Value', `Nueva fecha deseada para el turno, en formato numérico AAAAMMDD`, 'string') }}"},{"name":"horaNueva","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters7_Value', `Nueva hora deseada para el turno en formato 24 horas, sin separadores (ejemplo: 1230).`, 'string') }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{"neverError":true,"responseFormat":"json"}},"timeout":30000}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-400,1360],"id":"8d4bbc1e-4fc0-43e7-99cd-f6aee758af92","name":"reprogramar_Turno","retryOnFail":true},{"parameters":{"toolDescription":"Lista los turnos actuales de un paciente por DNI.Si la fecha es 8/07/2025 transformarla a 20250708","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/lista-turnos-actuales","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"=WSTRRED"},{"name":"password","value":"=Y2xpb25lcw"},{"name":"dni","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Documento de identidad proporcionado por el paciente`, 'string') }}"},{"name":"fecha","value":"={{ $now.setZone('America/Argentina/Buenos_Aires').toFormat('yyyyLLdd') }}"}]},"options":{"response":{"response":{"neverError":true}},"timeout":30000},"optimizeResponse":true,"dataField":"lista","fieldsToInclude":"selected","fields":"fecha, fechaString, hora, hora5digitos, matricula, nombreMedico, estudios"},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[16,1360],"id":"1fdbe8f5-c376-45f2-b3e6-5c458325c384","name":"Lista_Turnos","retryOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"b936cc1e-c8a5-4e63-8fb4-7cebac541b1c","name":"asunto","value":"={{ $json.text.split('|')[0].trim() }}","type":"string"},{"id":"ff857062-0bab-4152-afd4-e233cd6a5228","name":"intencion","value":"={{ $json.text.split('|')[1].trim() }}","type":"string"},{"id":"dfa8e24c-9700-425b-a266-ac74fad744c8","name":"DNI","value":"={{ $json.text.split('|')[2].trim() }}","type":"string"},{"id":"0f3cb05d-dcbc-4cb8-b433-3f99f0ba46dc","name":"Medico","value":"={{ $json.text.split('|')[3].trim() }}","type":"string"},{"id":"cf930d93-53cb-46a4-b0d8-1623047cd50d","name":"Especialidad","value":"={{ $json.text.split('|')[4].trim() }}","type":"string"},{"id":"20a9667d-5578-451e-ac06-8f43e626a31f","name":"Fecha","value":"={{ ($json.text.split('|')[5] && $json.text.split('|')[5].split(':')[1] && $json.text.split('|')[5].split(':')[1].trim() !== \"\" ? $json.text.split('|')[5].split(':')[1].trim().replace(/\\s{2,}/g, ' ') : \"Sin Destino\") }}","type":"string"},{"id":"3328ab2d-9f56-408d-aca6-90beadf22628","name":"Hora","value":"={{ ($json.text.split('|')[6] ? $json.text.split('|')[6] : \"Sin Origen Especificado\").trim().replace(/\\s{2,}/g, ' ').split(':')[1].trim() }}","type":"string"},{"id":"adfe1884-ccac-4f9a-b06b-24f919943e6d","name":"ArchivosAdjuntos","value":"={{ $json.text.split('|')[7].trim() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3600,2000],"id":"957ffbd6-454f-4237-abde-3d5190d1404b","name":"salida","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"f4de343e-d10f-4136-bdec-59d118579e89","leftValue":"={{ $json.flujo.requiereDerivacion }}","rightValue":"consultas-reclamos","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"looseTypeValidation":true,"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1872,592],"id":"d1d45577-903f-4cd1-a049-07b38b481f37","name":"If"},{"parameters":{"workflowId":{"__rl":true,"value":"sJes6x6MKxKh7A0G","mode":"list","cachedResultName":"tipoEstudio Tool ⚒️⚒️"},"workflowInputs":{"mappingMode":"defineBelow","value":{"accountId":"={{ $('variables').item.json.accountId }}","conversationId":"={{ $('variables').item.json.conversationId }}","contactId":"={{ $('variables').item.json.contactId }}","message":"={{ $('variables').item.json.message }}","inboxId":"={{ $('variables').item.json.inboxId }}","humano":"={{ $('variables').item.json.humano }}","chatwootUrlBase":"={{ $('variables').item.json.chatwootUrlBase }}","tokenChatwoot":"={{ $('variables').item.json.tokenChatwoot }}","tipoIntencion":"={{(() => {\n  const mensaje = $('variables').item.json.message.trim();\n  const etiquetaFinal = $('Formateador').item.json.etiquetaFinal;\n  \n  if (etiquetaFinal === 'turnos-estudios') {\n    return 'turnos-estudios';\n  }\n  \n  if (etiquetaFinal === 'consultas-reclamos') {\n    return 'consultas-reclamos';\n  }\n  \n  if (mensaje === '2') return 'turnos-estudios';\n  if (mensaje === '7') return 'consultas-reclamos';\n  \n  return 'consultas-reclamos';\n})()}}"},"matchingColumns":[],"schema":[{"id":"accountId","displayName":"accountId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"conversationId","displayName":"conversationId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contactId","displayName":"contactId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"inboxId","displayName":"inboxId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"humano","displayName":"humano","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"chatwootUrlBase","displayName":"chatwootUrlBase","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tokenChatwoot","displayName":"tokenChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipoIntencion","displayName":"tipoIntencion","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-496,64],"id":"9ae4a105-74d3-4657-bf0e-bda5a8598a97","name":"llamaToolStudios"},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"user","message":"={{ $json.message ?? $('variables').item?.json?.message ?? '' }}"}]}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[-1056,64],"id":"ee3790dd-2236-4fa0-b29f-8c862553efb2","name":"Chat Memory Manager"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat:{{ $json.body.id }}_iclp","sessionTTL":132800,"contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-1040,256],"id":"1658ef7c-1411-43db-bb16-f7ffcfad93c0","name":"Redis Chat Memory","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[208,1360],"id":"5292e788-be54-4dd2-bc41-381757bfc2e4","name":"tool_think"},{"parameters":{"promptType":"define","text":"=mensaje_usuario: {{ $json.texto }}","messages":{"messageValues":[{"message":"=# Sistema de Clasificación ICLP - Router Inteligente\n\nEres un clasificador especializado para WhatsApp del Instituto de Cardiología La Plata (ICLP). Tu objetivo es determinar el flujo correcto y extraer datos estructurados.\n\n## CONTEXTO ACTUAL:\n- Nombre: {{ $('variables').item.json.contactName }}\n- Número: {{ $('variables').item.json.contactNumber }}\n- Conversation ID: {{ $('variables').item.json.conversationId }}\n- Mensaje: {{ $('variables').item.json.message }}\n\n## ARQUITECTURA DE DECISIÓN (4 FLUJOS):\n\n### 🔬 **FLUJO_ESTUDIOS** → Deriva a recepcionista humana\n**CRITERIOS DE ACTIVACIÓN:**\n- Opción \"2\" del menú\n- Estudios: eco, holter, ergometría, MAPA, electrocardiograma, resonancia\n- \"turno para estudio\", \"me mandaron a hacer\", \"tengo orden para\"\n- \"mis resultados\", \"no me contactaron\", \"retirar estudio\"\n\n### 🏥 **FLUJO_CONSULTORIO** → Agente automático (SIN etiqueta)\n**CRITERIOS DE ACTIVACIÓN:**\n- Opción \"1\" del menú\n- \"turno con médico/cardiólogo\", \"consulta médica\", \"primera vez\"\n- Cancelar/reprogramar turnos médicos\n\n### 📋 **FLUJO_INFORMACION** → Agente automático (SIN etiqueta)\n**CRITERIOS DE ACTIVACIÓN:**\n- Opciones \"3\", \"4\", \"5\", \"6\" del menú principal\n- Opciones \"A\", \"B\", \"C\" del menú de información\n- \"mis turnos\", \"recetas\", \"portal\", \"horarios\", \"ubicación\"\n- Preguntas sobre especialidades, obras sociales\n- **SALUDOS:** \"hola\", \"buen día\", \"buenas tardes\", \"buenas noches\"\n- **INFORMACIÓN:** \"¿qué especialidades tienen?\", \"¿cuáles son los horarios?\"\n\n### 🆘 **FLUJO_DERIVACION** → Deriva a recepcionista humana\n**CRITERIOS DE ACTIVACIÓN:**\n- Opción \"7\" del menú principal\n- Reclamos, quejas, problemas técnicos\n- Urgencias médicas, síntomas graves\n- Archivos adjuntos, documentos\n- Mensajes confusos o ambiguos (NO saludos simples, NO opciones de menú)\n\n## TÉCNICAS DE PROMPTING APLICADAS:\n\n### **CHAIN-OF-THOUGHT REASONING:**\nAnaliza paso a paso:\n1. ¿Es un número del menú (1-7)?\n2. ¿Menciona estudios médicos específicos?\n3. ¿Es una consulta que el agente puede resolver?\n4. ¿Requiere intervención humana?\n\n### **FEW-SHOT LEARNING:**\n**Ejemplo 1:** \"2\" → FLUJO_ESTUDIOS\n**Ejemplo 2:** \"turno con cardiólogo\" → FLUJO_CONSULTORIO  \n**Ejemplo 3:** \"mis turnos\" → FLUJO_INFORMACION\n**Ejemplo 4:** \"7\" → FLUJO_DERIVACION\n\n### **CONSTRAINT SATISFACTION:**\n- Si es opción 2 → SIEMPRE FLUJO_ESTUDIOS\n- Si es opción 7 → SIEMPRE FLUJO_DERIVACION\n- Si menciona estudios → SIEMPRE FLUJO_ESTUDIOS\n- En duda → FLUJO_DERIVACION\n\n## EXTRACCIÓN DE DATOS ESTRUCTURADOS:\n\n**CAMPOS OBLIGATORIOS:**\n- Mensaje_Original (texto completo)\n- DNI (7-9 dígitos)\n- Medico (nombre del profesional)\n- Especialidad (cardiología, clínica médica)\n- Fecha (formato yyyyMMdd)\n- Hora (formato HHmm)\n- Estudio (tipo específico)\n- ObraSocial (IOMA, OSDE, particular)\n\n## FORMATO DE SALIDA REQUERIDO:\n[Mensaje completo] | [Resumen 3-5 palabras] | Intención:[FLUJO] | DNI:[valor] | Medico:[valor] | Especialidad:[valor] | Fecha:[valor] | Hora:[valor] | Dia:[valor] | Estudio:[valor] | ObraSocial:[valor] | Telefono:[valor] | Email:[valor] | Archivos:[Si/No]\n\n## EJEMPLOS DE CLASIFICACIÓN:\n\n**INPUT:** \"2\"\n**OUTPUT:** `2 | Selecciona opción estudios | Intención:FLUJO_ESTUDIOS | DNI:N/D | Medico:N/D | Especialidad:N/D | Fecha:N/D | Hora:N/D | Dia:N/D | Estudio:N/D | ObraSocial:N/D | Telefono:N/D | Email:N/D | Archivos:No`\n\n**INPUT:** \"c\"\n**OUTPUT:** `c | Selecciona info especialidades | Intención:FLUJO_INFORMACION | DNI:N/D | Medico:N/D | Especialidad:N/D | Fecha:N/D | Hora:N/D | Dia:N/D | Estudio:N/D | ObraSocial:N/D | Telefono:N/D | Email:N/D | Archivos:No`\n\n**INPUT:** \"a\"  \n**OUTPUT:** `a | Selecciona info horarios | Intención:FLUJO_INFORMACION | DNI:N/D | Medico:N/D | Especialidad:N/D | Fecha:N/D | Hora:N/D | Dia:N/D | Estudio:N/D | ObraSocial:N/D | Telefono:N/D | Email:N/D | Archivos:No`\n\n**INPUT:** \"hola\"\n**OUTPUT:** `hola | Saludo inicial | Intención:FLUJO_INFORMACION | DNI:N/D | Medico:N/D | Especialidad:N/D | Fecha:N/D | Hora:N/D | Dia:N/D | Estudio:N/D | ObraSocial:N/D | Telefono:N/D | Email:N/D | Archivos:No`\n\n**INPUT:** \"Necesito turno con cardiólogo\"\n**OUTPUT:** `Necesito turno con cardiólogo | Solicita consulta cardiológica | Intención:FLUJO_CONSULTORIO | DNI:N/D | Medico:N/D | Especialidad:Cardiología | Fecha:N/D | Hora:N/D | Dia:N/D | Estudio:N/D | ObraSocial:N/D | Telefono:N/D | Email:N/D | Archivos:No`\n\n**INPUT:** \"¿Qué horarios tienen?\"\n**OUTPUT:** `¿Qué horarios tienen? | Consulta información general | Intención:FLUJO_INFORMACION | DNI:N/D | Medico:N/D | Especialidad:N/D | Fecha:N/D | Hora:N/D | Dia:N/D | Estudio:N/D | ObraSocial:N/D | Telefono:N/D | Email:N/D | Archivos:No`\n\n**INPUT:** \"Tengo un problema\"\n**OUTPUT:** `Tengo un problema | Solicita ayuda humana | Intención:FLUJO_DERIVACION | DNI:N/D | Medico:N/D | Especialidad:N/D | Fecha:N/D | Hora:N/D | Dia:N/D | Estudio:N/D | ObraSocial:N/D | Telefono:N/D | Email:N/D | Archivos:No`\n\n## REGLAS DE VALIDACIÓN:\n\n✅ **OBLIGATORIO:** Incluir mensaje original completo\n✅ **FORMATO:** Exactamente 14 campos separados por |\n✅ **PRECISIÓN:** Usar N/D si no hay datos disponibles\n✅ **CONSISTENCIA:** Solo usar los 4 flujos definidos\n✅ **EFICIENCIA:** Una sola línea de salida, sin explicaciones\n\n## JERARQUÍA DE DECISIÓN (EN CASO DE AMBIGÜEDAD):\n\n1. **FLUJO_ESTUDIOS** - Si menciona cualquier estudio médico\n2. **FLUJO_INFORMACION** - Para saludos, preguntas generales, opciones 1,3,4,5,6\n3. **FLUJO_CONSULTORIO** - Si solicita turno médico específico  \n4. **FLUJO_DERIVACION** - Solo para opción 7, urgencias reales, reclamos\n\n**REGLA CRÍTICA PARA OPCIONES DE MENÚ:**\n- Números \"1\", \"3\", \"4\", \"5\", \"6\" → SIEMPRE FLUJO_INFORMACION (agente automático)\n- Número \"2\" → SIEMPRE FLUJO_ESTUDIOS (derivar a recepcionista)  \n- Número \"7\" → SIEMPRE FLUJO_DERIVACION (derivar a recepcionista)\n- Letras \"A\", \"B\", \"C\" (después de menú información) → SIEMPRE FLUJO_INFORMACION\n- Saludos sin contexto médico específico → SIEMPRE FLUJO_INFORMACION\n- NO clasificar saludos simples o opciones de menú como FLUJO_DERIVACION"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-2480,576],"id":"aefdccfd-fb15-4e84-b8d3-26c4a3ae78ea","name":"Analista de Conversación"},{"parameters":{"jsCode":"const rawInput = $json.text ?? $json.output ?? \"\";\nconst line = String(rawInput).trim();\n\nconst vars = (() => {\n  try {\n    const items = $items('variables', 0, 0);\n    if (!items || !items.length) return {};\n    const data = items[0]?.json;\n    return data && typeof data === 'object' ? data : {};\n  } catch (error) {\n    console.warn('⚠️ Variables context unavailable:', error.message);\n    return {};\n  }\n})();\n\nconst multimedia = (() => {\n  try {\n    const items = $items('tieneMultimedia', 0, 0);\n    if (!items || !items.length) return {};\n    const data = items[0]?.json;\n    return data && typeof data === 'object' ? data : {};\n  } catch (error) {\n    console.warn('⚠️ Multimedia context unavailable:', error.message);\n    return {};\n  }\n})();\n\n// ┌─────────────────────────────────────────────────────────────────────────────┐\n// │ 🛠️ UTILITY FUNCTIONS                                                       │\n// └─────────────────────────────────────────────────────────────────────────────┘\n\nfunction parseTokenMap(s) {\n  try {\n    if (!s || typeof s !== 'string') return { parts: [], map: {} };\n    \n    const parts = s.split(\"|\").map(p => String(p).trim()).filter(Boolean);\n    const map = {};\n    \n    for (const part of parts) {\n      const colonIndex = part.indexOf(\":\");\n      if (colonIndex > 0) {\n        const key = part.slice(0, colonIndex).trim().toLowerCase();\n        const value = part.slice(colonIndex + 1).trim();\n        if (key && value) {\n          map[key] = value;\n        }\n      }\n    }\n    \n    return { parts, map };\n  } catch (error) {\n    console.error('❌ Error parsing token map:', error);\n    return { parts: [], map: {} };\n  }\n}\n\nfunction normalizeToNull(value) {\n  if (value === null || value === undefined) return null;\n  const str = String(value).trim();\n  if (!str || str.toUpperCase() === \"N/D\" || str === \"-\") return null;\n  return str;\n}\n\nfunction normalizeDate(dateStr) {\n  if (!dateStr) return null;\n  try {\n    if (/^\\d{8}$/.test(dateStr)) return dateStr;\n    const date = new Date(dateStr);\n    if (isNaN(date.getTime())) return null;\n    const year = date.getFullYear();\n    const month = String(date.getMonth() + 1).padStart(2, '0');\n    const day = String(date.getDate()).padStart(2, '0');\n    return `${year}${month}${day}`;\n  } catch {\n    return null;\n  }\n}\n\nfunction normalizeTime(timeStr) {\n  if (!timeStr) return null;\n  try {\n    if (/^\\d{4}$/.test(timeStr)) return timeStr;\n    const cleaned = timeStr.replace(/[^\\d:]/g, '');\n    const parts = cleaned.split(':');\n    if (parts.length >= 2) {\n      const hours = parseInt(parts[0]);\n      const minutes = parseInt(parts[1]);\n      if (hours >= 0 && hours <= 23 && minutes >= 0 && minutes <= 59) {\n        return String(hours).padStart(2, '0') + String(minutes).padStart(2, '0');\n      }\n    }\n    return null;\n  } catch {\n    return null;\n  }\n}\n\n// ┌─────────────────────────────────────────────────────────────────────────────┐\n// │ 🎯 MAPEO INTELIGENTE QUE RESPETA LA CLASIFICACIÓN DEL LLM                  │\n// └─────────────────────────────────────────────────────────────────────────────┘\n\nfunction mapearEtiquetaChatwoot(llmIntent, mensaje) {\n  const mensajeTrim = mensaje.trim();\n  \n  console.log(`🔍 Mapeando LLM Intent: \"${llmIntent}\" | Mensaje: \"${mensaje}\"`);\n  \n  // === PRIORIDAD 1: OPCIONES NUMÉRICAS EXPLÍCITAS ===\n  if (mensajeTrim === \"2\") {\n    console.log('🔬 Opción 2 (explícita) → turnos-estudios');\n    return \"turnos-estudios\";\n  }\n  \n  if (mensajeTrim === \"7\") {\n    console.log('🆘 Opción 7 (explícita) → consultas-reclamos');\n    return \"consultas-reclamos\";\n  }\n\n  if (/^[abc]$/i.test(mensajeTrim)) {\n  console.log('📋 Opción información ' + mensajeTrim.toUpperCase() + ' → agente automático');\n  return null;\n}\n  \n  // Opciones 1, 3, 4, 5, 6 van al agente automático\n  if (/^[13456]$/.test(mensajeTrim)) {\n    console.log('🤖 Opción ' + mensajeTrim + ' → agente automático (sin etiqueta)');\n    return null;\n  }\n  \n  // === PRIORIDAD 2: RESPETAR CLASIFICACIÓN DEL LLM ===\n  if (!llmIntent || typeof llmIntent !== 'string') {\n    console.warn('⚠️ LLM Intent inválido, usando fallback seguro');\n    return null; // Sin etiqueta = agente automático\n  }\n  \n  const cleanIntent = llmIntent.trim().toUpperCase();\n  \n  // FLUJO_ESTUDIOS → turnos-estudios (deriva a recepcionista)\n  if (cleanIntent.includes(\"FLUJO_ESTUDIOS\")) {\n    console.log('🔬 FLUJO_ESTUDIOS → turnos-estudios');\n    return \"turnos-estudios\";\n  }\n  \n  // FLUJO_DERIVACION → consultas-reclamos (deriva a recepcionista)\n  if (cleanIntent.includes(\"FLUJO_DERIVACION\")) {\n    console.log('🆘 FLUJO_DERIVACION → consultas-reclamos');\n    return \"consultas-reclamos\";\n  }\n  \n  // FLUJO_CONSULTORIO → agente automático (sin etiqueta)\n  if (cleanIntent.includes(\"FLUJO_CONSULTORIO\")) {\n    console.log('🏥 FLUJO_CONSULTORIO → agente automático (sin etiqueta)');\n    return null;\n  }\n  \n  // FLUJO_INFORMACION → agente automático (sin etiqueta)\n  if (cleanIntent.includes(\"FLUJO_INFORMACION\")) {\n    console.log('📋 FLUJO_INFORMACION → agente automático (sin etiqueta)');\n    return null;\n  }\n  \n  // === PRIORIDAD 3: FALLBACK BASADO EN CONTENIDO ===\n  const mensajeLower = mensaje.toLowerCase();\n  \n  // Detectar estudios médicos por contenido\n  const estudiosKeywords = ['eco', 'holter', 'ergometria', 'mapa', 'electrocardiograma', 'ecg', 'resonancia', 'tomografia', 'estudio', 'examen'];\n  if (estudiosKeywords.some(keyword => mensajeLower.includes(keyword))) {\n    console.log('🔬 Detectado estudio por contenido → turnos-estudios');\n    return \"turnos-estudios\";\n  }\n  \n  // Detectar urgencias/reclamos por contenido\n  const urgenciaKeywords = ['urgente', 'emergencia', 'dolor', 'problema', 'reclamo', 'queja', 'mal'];\n  if (urgenciaKeywords.some(keyword => mensajeLower.includes(keyword))) {\n    console.log('🆘 Detectada urgencia/reclamo por contenido → consultas-reclamos');\n    return \"consultas-reclamos\";\n  }\n  \n  // === FALLBACK FINAL: AGENTE AUTOMÁTICO ===\n  console.log('🤖 Fallback → agente automático (sin etiqueta)');\n  return null;\n}\n\nfunction determinarFlujoYAccion(etiqueta, tieneMultimedia) {\n  // Si hay multimedia, siempre derivar\n  if (tieneMultimedia) {\n    console.log('📎 Multimedia detectado → forzar derivación');\n    return {\n      etiqueta: etiqueta || \"consultas-reclamos\",\n      requiereDerivacion: true,\n      usarAgente: false,\n      razon: \"multimedia_detected\"\n    };\n  }\n  \n  // Si hay etiqueta específica, derivar\n  if (etiqueta === \"turnos-estudios\" || etiqueta === \"consultas-reclamos\") {\n    console.log(`🏷️ Etiqueta \"${etiqueta}\" → derivar a subflujo`);\n    return {\n      etiqueta: etiqueta,\n      requiereDerivacion: true,\n      usarAgente: false,\n      razon: \"etiqueta_especifica\"\n    };\n  }\n  \n  // Sin etiqueta = agente automático\n  console.log('🤖 Sin etiqueta → agente automático');\n  return {\n    etiqueta: null,\n    requiereDerivacion: false,\n    usarAgente: true,\n    razon: \"agente_automatico\"\n  };\n}\n\n// ┌─────────────────────────────────────────────────────────────────────────────┐\n// │ 🚀 MAIN PROCESSING ENGINE - VERSIÓN PERFECCIONADA                          │\n// └─────────────────────────────────────────────────────────────────────────────┘\n\nlet resultado;\n\ntry {\n  console.log('🚀 Starting Perfect Parser Router ICLP v5.0');\n  console.log(`📥 Input: \"${line.substring(0, 100)}${line.length > 100 ? '...' : ''}\"`);\n  \n  // === STEP 1: PARSE INPUT ===\n  const { parts, map } = parseTokenMap(line);\n  console.log(`🔧 Parsed ${parts.length} parts, ${Object.keys(map).length} key-value pairs`);\n  \n  // === STEP 2: EXTRACT CORE DATA ===\n  const intentRaw = map[\"intención\"] || map[\"intencion\"] || null;\n  const mensaje = vars.message || parts[0] || \"\";\n  const hasMultimedia = !!multimedia.multimedia;\n  \n  console.log(`🎯 LLM Intent: \"${intentRaw}\"`);\n  console.log(`💬 Mensaje: \"${mensaje}\"`);\n  console.log(`📎 Multimedia: ${hasMultimedia ? 'SI' : 'NO'}`);\n  \n  // === STEP 3: MAPEAR A ETIQUETA CHATWOOT ===\n  const etiquetaChatwoot = mapearEtiquetaChatwoot(intentRaw, mensaje);\n  console.log(`🏷️ Etiqueta Chatwoot: ${etiquetaChatwoot || 'SIN_ETIQUETA'}`);\n  \n  // === STEP 4: DETERMINAR FLUJO Y ACCIÓN ===\n  const flujoDecision = determinarFlujoYAccion(etiquetaChatwoot, hasMultimedia);\n  console.log(`🎯 Decisión Final: ${flujoDecision.razon} → ${flujoDecision.requiereDerivacion ? 'DERIVAR' : 'AGENTE'}`);\n  \n  // === STEP 5: BUILD RESULT OBJECT ===\n  resultado = {\n    // Metadata básica\n    descripcion: parts[0] || \"\",\n    resumen: parts[1] || \"\",\n    intencion: intentRaw,\n    intencionNormalizada: intentRaw, // Preservar clasificación original del LLM\n    \n    // Datos del paciente\n    paciente: {\n      dni: normalizeToNull(map[\"dni\"]),\n      nombre: vars.contactName || null,\n      telefono: normalizeToNull(map[\"telefono\"]) || vars.contactNumber || null,\n      email: normalizeToNull(map[\"email\"]),\n      obraSocial: normalizeToNull(map[\"obrasocial\"] || map[\"obra_social\"]),\n      conversationId: vars.conversationId || null,\n    },\n    \n    // Datos médicos\n    datosMedicos: {\n      medico: normalizeToNull(map[\"medico\"]),\n      especialidad: normalizeToNull(map[\"especialidad\"]),\n      fecha: normalizeDate(map[\"fecha\"]),\n      hora: normalizeTime(map[\"hora\"]),\n      diaSemana: normalizeToNull(map[\"dia\"]),\n      tipoEstudio: normalizeToNull(map[\"estudio\"]),\n    },\n    \n    // Archivos y multimedia\n    archivos: {\n      tiene: (String(map[\"archivos\"] || \"\").toLowerCase().startsWith(\"si\") || hasMultimedia),\n      tipo: normalizeToNull(map[\"tipo_archivo\"]),\n    },\n    \n    // COMPATIBILIDAD PERFECTA CON IF EXISTENTE\n    etiquetaFinal: flujoDecision.etiqueta,\n    tieneMultimedia: hasMultimedia,\n    \n    // Control de flujo perfeccionado\n    flujo: {\n      etiqueta: flujoDecision.etiqueta,\n      requiereDerivacion: flujoDecision.requiereDerivacion,\n      usarAgente: flujoDecision.usarAgente,\n      razonDecision: flujoDecision.razon,\n      llmClassification: intentRaw,\n      tieneMultimedia: hasMultimedia\n    },\n    \n    // Debug y auditoría\n    respuestaOriginal: line,\n    procesadoEn: new Date().toISOString(),\n    version: \"5.0-PERFECT\",\n    inputSource: rawInput ? \"LLM\" : \"EMPTY\"\n  };\n  \n  // === STEP 6: VALIDATION & LOGGING ===\n  console.log(`✅ Processing completed successfully`);\n  console.log(`🎯 LLM Clasificó: ${intentRaw}`);\n  console.log(`🏷️ Etiqueta Final: ${flujoDecision.etiqueta || 'SIN_ETIQUETA'}`);\n  console.log(`🚀 Acción: ${flujoDecision.requiereDerivacion ? 'DERIVAR (subflujo)' : 'AGENTE_AUTOMATICO'}`);\n  console.log(`📊 Razón: ${flujoDecision.razon}`);\n  \n} catch (error) {\n  console.error('💥 CRITICAL ERROR in Perfect Parser Router:', error);\n  \n  // RESULTADO DE ERROR CON FALLBACK SEGURO\n  resultado = {\n    descripcion: \"Error en procesamiento\",\n    resumen: \"Error interno - fallback seguro\",\n    intencion: null,\n    intencionNormalizada: null,\n    \n    paciente: {\n      dni: null,\n      nombre: vars.contactName || null,\n      telefono: vars.contactNumber || null,\n      email: null,\n      obraSocial: null,\n      conversationId: vars.conversationId || null,\n    },\n    \n    datosMedicos: {\n      medico: null,\n      especialidad: null,\n      fecha: null,\n      hora: null,\n      diaSemana: null,\n      tipoEstudio: null,\n    },\n    \n    archivos: {\n      tiene: !!multimedia.multimedia,\n      tipo: null,\n    },\n    \n    // ERROR FALLBACK: Sin etiqueta = agente automático (más seguro)\n    etiquetaFinal: null,\n    tieneMultimedia: !!multimedia.multimedia,\n    \n    flujo: {\n      etiqueta: null,\n      requiereDerivacion: false, // En error, mejor ir al agente\n      usarAgente: true,\n      razonDecision: \"error_fallback\",\n      llmClassification: null,\n      tieneMultimedia: !!multimedia.multimedia\n    },\n    \n    error: {\n      occurred: true,\n      message: error.message,\n      timestamp: new Date().toISOString()\n    },\n    \n    respuestaOriginal: line,\n    procesadoEn: new Date().toISOString(),\n    version: \"5.0-ERROR\",\n    inputSource: \"ERROR\"\n  };\n}\n\nreturn [{ json: resultado }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2112,592],"id":"2b337cf3-0ba3-41ec-96a4-266ad9ce2383","name":"Formateador"},{"parameters":{"dataToSave":{"values":[{"key":"conversationId","value":"={{ $json.body.id }}"},{"key":"contactNumber","value":"={{ $json.body.contact_inbox.source_id }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[-3584,128],"id":"356f9200-6168-4ca4-a110-40fa22a8c7b5","name":"Execution Data"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.multimedia }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"e7a9ef75-11df-4262-8ec0-c63644980c5e"}],"combinator":"and"},"renameOutput":true,"outputKey":"tieneMultimedia"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"839f4006-0caa-456b-b044-28ae16cd1ab4","leftValue":"={{ $json.humano }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"tieneHumano"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"579505b2-6063-4333-9c73-476c450aee99","leftValue":"={{ $json.message }}","rightValue":"Texto","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"tieneTexto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-3152,336],"id":"df67bdb6-46d2-4536-8aeb-77a325079c61","name":"Switch"},{"parameters":{"workflowId":{"__rl":true,"value":"sgLAOCxrKAOI1aP0","mode":"list","cachedResultName":"TOOL BUFFER MENSAJES - TRANSCRIPCIONES ⚒️⚒️"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"={{ $json.message }}","messageId":"={{ $json.messagesId }}","timestamp":"={{ $json.timestamp }}","conversationId":"={{ $json.conversationId }}"},"matchingColumns":[],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"conversationId","displayName":"conversationId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"messageId","displayName":"messageId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2928,576],"id":"c7b422bc-a2e4-4c30-8eea-eab0fba794c2","name":"bufferMessages"},{"parameters":{"assignments":{"assignments":[{"id":"bb31dc82-ebb8-4bca-bd8d-6b4760085673","name":"texto","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2704,576],"id":"57610073-6e18-447f-9aaa-a2ee1f463553","name":"unifiedText"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"0db9a125-ce45-48fe-b722-efbed0fc42a4","leftValue":"={{ $json.body.messages[0].sender.type }}","rightValue":"agent_bot","operator":{"type":"string","operation":"notEquals"}},{"id":"7d71d302-596d-4330-b68c-1b0502f6c7cd","leftValue":"={{ $json.body.event }}","rightValue":"message_created","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"12a51caa-5e4c-46f3-a067-79f0a52ca94b","leftValue":"={{ $json.body.messages[0].attachments[0].file_type }}","rightValue":"=file","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-3360,336],"id":"2d076baa-e940-406f-b51e-70b807b695ed","name":"Filter1"},{"parameters":{"assignments":{"assignments":[{"id":"16d8fd1f-7293-45ec-ba41-6041979d7964","name":"accountId","value":"={{ $json.body.messages[0].account_id }}","type":"number"},{"id":"a8eb17ea-8fda-42e5-9f1c-444826a21e51","name":"message","value":"={{ $json.body.messages[0].content }}","type":"string"},{"id":"3fe92852-b569-426e-bef7-b755cf44ddc9","name":"inboxId","value":"={{ $json.body.contact_inbox.inbox_id }}","type":"number"},{"id":"96fa0ac2-a17b-452c-bf67-cc0f3bd5d4a2","name":"contactId","value":"={{ $json.body.messages[0].sender.id }}","type":"number"},{"id":"0d77d8b4-ec6d-42e0-8a5b-fdf1b78b454d","name":"contactName","value":"={{ $json.body.messages[0].sender.name }}","type":"string"},{"id":"25487cfb-897d-4000-9ad6-99745966c526","name":"contactNumber","value":"={{ $json.body.messages[0].sender.phone_number }}","type":"string"},{"id":"1e1b0044-b199-44e0-927b-c2cabe2a281b","name":"agentId","value":"=","type":"number"},{"id":"ad5ef314-70d7-4790-b82e-ea96a340ae12","name":"agentName","value":"=","type":"string"},{"id":"f4bc6964-862e-4168-8bae-94e6c6ad8321","name":"eventType","value":"={{ $json.body.event }}","type":"string"},{"id":"ef4c85e4-0029-4d70-ade1-0de74711b804","name":"conversationId","value":"={{ $json.body.id }}","type":"number"},{"id":"be91191b-7e8a-4406-af97-0a18e8100e7f","name":"multimedia","value":"={{ $json?.body?.messages?.[0]?.attachments?.[0]?.file_type ? true : false }}","type":"boolean"},{"id":"a3202993-c215-4502-bf56-e7e644b35a88","name":"humano","value":"={{ $json.body.custom_attributes.humano }}","type":"boolean"},{"id":"3da45859-4092-4b0c-bba3-c8898b649491","name":"messagesId","value":"={{ $json.body.messages[0].id }}","type":"number"},{"id":"24592e90-360f-4a9c-8271-1119ba300be1","name":"timestamp","value":"={{ $json.body.timestamp }}","type":"number"},{"id":"e01eb0b6-2e60-4ade-a4ba-949e30df02a5","name":"multimediaUrl","value":"={{ $json.body.messages[0].attachments[0].data_url }}","type":"string"},{"id":"1225af59-1b61-42dc-8052-296978708c1a","name":"agenteTokenWhatsapp","value":"JFi43nzvEPDBCaxaFrkhVvdM","type":"string"},{"id":"2e74ddde-5f26-4b0c-a6dc-32eb8e83874f","name":"chatwootUrl","value":"https://chatw.automatizaciones.ai","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3584,336],"id":"f0cdad0f-37a3-41c0-a385-57affeebda7a","name":"variables"},{"parameters":{"amount":1.5},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[544,608],"id":"9d835afd-e6a6-4588-915f-1e8b2c9e6cd1","name":"Wait","webhookId":"5abe64ed-cfc7-4361-9170-34ee38400461"},{"parameters":{"keep":"lastItems"},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[240,272],"id":"4dbad6e8-f9bb-48a0-9baf-72960283f003","name":"Limit"},{"parameters":{"assignments":{"assignments":[{"id":"f7796a58-4ca3-421f-9466-c7ce20436e5e","name":"texto_limpio","value":"={{ $json.texto_limpio.split(/\\.(?=\\s+[A-Z]|$)/).filter(chunk => chunk.trim().length > 0).map((chunk, index) => ({ texto: chunk.trim() + (chunk.trim().endsWith('.') ? '' : '.') })) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-416,608],"id":"36e2598b-2760-4c11-a6f2-c68b5f7d5cdf","name":"chunksOutput","disabled":true},{"parameters":{"fieldToSplitOut":"texto_limpio","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-192,608],"id":"4de3a46e-1612-4322-a679-3d752ca20f12","name":"splitChunks","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[16,608],"id":"66e8d461-967b-4dea-bfbc-8c6616075f63","name":"loop"},{"parameters":{"method":"POST","url":"={{ $('variables').item.json.chatwootUrl }}/api/v1/accounts/{{ $('variables').item.json.accountId }}/conversations/{{ $('variables').item.json.conversationId }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('variables').item.json.agenteTokenWhatsapp }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.texto }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3600,2272],"id":"d59c11c7-ca83-4b6d-b1f7-56af40de655f","name":"answerChatwoot","retryOnFail":true,"waitBetweenTries":1500,"disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1952,80],"id":"515288da-e1c1-4368-8dbd-f88a9e86d191","name":"No realiza op"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2704,384],"id":"d76e9cbf-cb48-473c-99c9-f678cd6e8b05","name":"Fin del Flujo"},{"parameters":{"assignments":{"assignments":[{"id":"16d8fd1f-7293-45ec-ba41-6041979d7964","name":"accountId","value":"={{ $json.body.messages[0].account_id }}","type":"number"},{"id":"a8eb17ea-8fda-42e5-9f1c-444826a21e51","name":"message","value":"={{ $json.body.messages[0].content }}","type":"string"},{"id":"3fe92852-b569-426e-bef7-b755cf44ddc9","name":"inboxId","value":"={{ $json.body.contact_inbox.inbox_id }}","type":"number"},{"id":"96fa0ac2-a17b-452c-bf67-cc0f3bd5d4a2","name":"contactId","value":"={{ $json.body.messages[0].sender.id }}","type":"number"},{"id":"0d77d8b4-ec6d-42e0-8a5b-fdf1b78b454d","name":"contactName","value":"={{ $json.body.messages[0].sender.name }}","type":"string"},{"id":"25487cfb-897d-4000-9ad6-99745966c526","name":"contactNumber","value":"={{ $json.body.messages[0].sender.phone_number }}","type":"string"},{"id":"1e1b0044-b199-44e0-927b-c2cabe2a281b","name":"tokenChatwoot","value":"=rgqHjdPeBQpVpzt2iDR2RKLp","type":"string"},{"id":"ad5ef314-70d7-4790-b82e-ea96a340ae12","name":"chatwootUrlBase","value":"=https://chatw.automatizaciones.ai","type":"string"},{"id":"f4bc6964-862e-4168-8bae-94e6c6ad8321","name":"eventType","value":"={{ $json.body.event }}","type":"string"},{"id":"ef4c85e4-0029-4d70-ade1-0de74711b804","name":"conversationId","value":"={{ $json.body.id }}","type":"number"},{"id":"be91191b-7e8a-4406-af97-0a18e8100e7f","name":"multimedia","value":"={{ $json?.body?.messages?.[0]?.attachments?.[0]?.file_type ? true : false }}","type":"boolean"},{"id":"a3202993-c215-4502-bf56-e7e644b35a88","name":"humano","value":"={{ $json.body.custom_attributes.humano }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3600,1744],"id":"885d3552-a36c-49d6-afb4-20cc6ca7a64a","name":"variables1"},{"parameters":{"model":"openai/gpt-4o","options":{"frequencyPenalty":0,"temperature":0.1,"maxRetries":3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-2400,848],"id":"cd99b2b4-ee84-4ae0-9df4-774a216fd262","name":"LLM 4o","credentials":{"openRouterApi":{"id":"ZlcbniUoDvrFqCIJ","name":"OpenRouter ICLP"}}},{"parameters":{"description":"Llama a esta tool cuando el usuario selecciona la opcion de hablar con una recepcionista o tiene una queja o reclamo, donde se lo deriva a una recepcionista o si es necesario usar la herramienta `llamaToolStudios`","workflowId":{"__rl":true,"value":"sJes6x6MKxKh7A0G","mode":"list","cachedResultName":"tipoEstudio Tool ⚒️⚒️"},"workflowInputs":{"mappingMode":"defineBelow","value":{"humano":"={{ $('variables').item.json.humano }}","tipoIntencion":"={{(() => {\n  const flujo = $('Formateador').item.json.intencionNormalizada;\n  const mensaje = $('variables').item.json.message.trim();\n  const etiqueta = $('Formateador').item.json.etiquetaFinal;\n    if (etiqueta) {\n    return etiqueta;\n  }\n  \n  // Mapeo directo para números del menú\n  if (mensaje === \"2\") return \"turnos-estudios\";\n  if (mensaje === \"7\") return \"consultas-reclamos\";\n  \n  // Mapeo por flujo\n  switch (flujo) {\n    case \"FLUJO_ESTUDIOS\":\n      return \"turnos-estudios\";\n    case \"FLUJO_DERIVACION\":\n      return \"consultas-reclamos\";\n    default:\n      return \"consultas-reclamos\";\n  }\n})()}}","tokenChatwoot":"={{ $('variables').item.json.agenteTokenWhatsapp }}","message":"={{ $('variables').item.json.message }}","accountId":"={{ $('variables').item.json.accountId }}","contactId":"={{ $('variables').item.json.contactId }}","conversationId":"={{ $('variables').item.json.conversationId }}","chatwootUrlBase":"={{ $('variables').item.json.chatwootUrl }}","inboxId":"={{ $('variables').item.json.inboxId }}"},"matchingColumns":[],"schema":[{"id":"accountId","displayName":"accountId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"conversationId","displayName":"conversationId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"contactId","displayName":"contactId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"inboxId","displayName":"inboxId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"humano","displayName":"humano","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean"},{"id":"chatwootUrlBase","displayName":"chatwootUrlBase","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tokenChatwoot","displayName":"tokenChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tipoIntencion","displayName":"tipoIntencion","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-640,1360],"id":"f15ed865-d15b-4768-9d9a-277e88caf33e","name":"llama ToolRecepcionista"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-3904,-272],"id":"ad44bc09-d969-4f2b-b8c2-5cea0dd84689","name":"Error Trigger"},{"parameters":{"authentication":"webhook","content":"=**Url del flujo y la ejecucion** : {{ $('Error Trigger').item.json.execution.url }}\n\n**Ultimo nodo ejecutado** : {{ $('Error Trigger').item.json.execution.lastNodeExecuted }}\n\n\n**Nombre del Workflow** : \n{{ $('Error Trigger').item.json.workflow.name }}\n\n**Payload** : \n{{ $json.text }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-3344,-272],"id":"23ed156c-02ad-46b4-b914-5a697baa29ce","name":"Discord","webhookId":"36c9acaa-8ec7-419f-9cbe-ee45e438775c","credentials":{"discordWebhookApi":{"id":"uFHDB8CMzER8LE7G","name":"Discord Webhook Errores"}}},{"parameters":{"promptType":"define","text":"=mensaje_usuario: {{ $json.texto }}","messages":{"messageValues":[{"message":"=# Sistema de Clasificación de Intenciones - ICLP WhatsApp\n\nEres un router de intención para WhatsApp del Instituto de Cardiología La Plata (ICLP). Tu función es clasificar la intención del mensaje, extraer datos clave y preservar el mensaje original.\n\n## DATOS DE CONTEXTO:\n- Nombre: {{ $('variables').item.json.contactName }}\n- Número: {{ $('variables').item.json.contactNumber }}\n- Conversation ID: {{ $('variables').item.json.conversationId }}\n- Mensaje del usuario: {{ $('variables').item.json.message }}\n\n## CATEGORÍAS DE INTENCIÓN (14 totales):\n\n### 🏥 Turnos de Consultorio (3):\n1. **turnos-consultorio** - Solicita turno para consulta médica con profesional\n2. **CANCELA_TURNO_CONSULTORIO** - Cancela turno de consultorio existente\n3. **REPROGRAMA_TURNO_CONSULTORIO** - Cambia fecha/hora de consulta médica\n\n### 🔬 Turnos de Estudios (3):\n4. **turnos-estudios** - Solicita turno para estudio diagnóstico\n5. **CANCELA_TURNO_ESTUDIO** - Cancela turno de estudio existente\n6. **REPROGRAMA_TURNO_ESTUDIO** - Cambia fecha/hora de estudio\n\n### ℹ️ Solicitudes de Información (3):\n7. **INFO_MEDICOS_ESPECIALIDADES** - Consulta sobre profesionales o especialidades\n8. **INFO_ESTUDIOS** - Pregunta qué estudios realizan o información sobre estudios\n9. **INFO_GENERAL** - Horarios, ubicación, teléfonos, página web, costos, obras sociales\n\n### 🚨 Situaciones Especiales (5):\n10. **URGENCIA** - Emergencia médica, síntomas graves o dolor agudo\n11. **consultas-reclamos** - Expresa insatisfacción, problema o queja \n12. **SALUDO_SMALLTALK** - Saludo, agradecimiento o charla casual\n13. **ARCHIVOS_ADJUNTOS** - Envía documentos, imágenes o archivos\n14. **OTRO** - No encaja en ninguna categoría anterior\n\n## REGLAS DE CLASIFICACIÓN EXHAUSTIVAS:\n\n### 🏥 turnos-consultorio:\n**Palabras clave:** turno, consulta, cita, ver al doctor, atención\n**Frases típicas:**\n- \"Necesito turno con [especialidad/médico]\"\n- \"Quiero consulta con cardiólogo\"\n- \"Puedo sacar turno con el Dr...\"\n- \"Hay turnos disponibles para...\"\n- \"Primera vez que voy\" + contexto médico\n\n### ❌ CANCELA_TURNO_CONSULTORIO:\n**Palabras clave:** cancelar, anular, dar de baja, no voy a poder\n**Frases típicas:**\n- \"Cancelar turno con Dr. [nombre]\"\n- \"No puedo ir a mi consulta\"\n- \"Dar de baja el turno del [fecha]\"\n**Regla:** Si no especifica si es consulta o estudio → asumir CONSULTORIO\n\n### 🔄 REPROGRAMA_TURNO_CONSULTORIO:\n**Palabras clave:** cambiar, reprogramar, mover, postergar, adelantar\n**Frases típicas:**\n- \"Cambiar turno del [fecha]\"\n- \"Puedo pasar mi consulta para otro día\"\n- \"Necesito reprogramar con el Dr...\"\n\n### 🔬 turnos-estudios:\n**Estudios comunes:** eco, ecocardiograma, eco doppler, holter, MAPA, ergometría, electrocardiograma, ECG, prueba de esfuerzo, cateterismo\n**Frases típicas:**\n- \"Turno para holter\"\n- \"Necesito hacerme un eco\"\n- \"Tengo orden para ergometría\"\n- \"Me mandaron a hacer un electrocardiograma\"\n\n### ❌ CANCELA_TURNO_ESTUDIO:\n**Identificadores:** Menciona estudio específico + cancelar\n**Frases típicas:**\n- \"Cancelar el holter del martes\"\n- \"No voy a poder hacerme el eco\"\n- \"Anular turno de ergometría\"\n\n### 🔄 REPROGRAMA_TURNO_ESTUDIO:\n**Frases típicas:**\n- \"Cambiar fecha del eco doppler\"\n- \"Mover el turno del holter\"\n- \"Reprogramar mi ergometría\"\n\n### ℹ️ INFO_MEDICOS_ESPECIALIDADES:\n**Preguntas sobre:**\n- \"¿Qué especialidades tienen?\"\n- \"¿Atiende el Dr. [nombre]?\"\n- \"¿Hay cardiólogos?\"\n- \"Lista de médicos\"\n- \"¿Qué días atiende [médico]?\"\n\n### ℹ️ INFO_ESTUDIOS:\n**Preguntas sobre:**\n- \"¿Qué estudios hacen?\"\n- \"¿Hacen resonancias?\"\n- \"¿Realizan eco doppler?\"\n- \"Información sobre el holter\"\n- \"¿En qué consiste la ergometría?\"\n\n### ℹ️ INFO_GENERAL:\n**Preguntas sobre:**\n- Horarios de atención\n- Dirección/ubicación\n- Teléfonos de contacto\n- Página web\n- Obras sociales/prepagas aceptadas\n- Costos/precios (aunque no se pueden dar)\n- Cómo sacar turno online\n- Recetas médicas\n- Preparación para estudios\n\n### 🚨 URGENCIA:\n**Síntomas de alerta:**\n- Dolor de pecho/opresión\n- Falta de aire/ahogo\n- Desmayo/mareos severos\n- Palpitaciones fuertes\n- Presión alta con síntomas\n- \"Me siento muy mal\"\n- \"Es urgente\"/\"emergencia\"\n\n### 😠 consultas-reclamos:  \n**Indicadores:**\n- Tono de enojo o frustración\n- \"Es la tercera vez que...\"\n- \"Mala atención\"\n- \"Nadie me responde\"\n- \"Hace días que espero\"\n- Referencias a problemas previos\n```\n\n### 👋 SALUDO_SMALLTALK:\n- Saludos: hola, buen día, buenas tardes, buenas noches\n- Despedidas: gracias, hasta luego, chau\n- Cortesía: por favor, disculpe\n- Sin contexto médico adicional\n\n### 📎 ARCHIVOS_ADJUNTOS:\n- Cuando el mensaje viene con archivos\n- \"Envío mi orden médica\"\n- \"Adjunto estudios\"\n- \"Mando foto de...\"\n\n### 📋 SEGUIMIENTO_RESULTADOS:\n**Palabras clave:** \"resultados de\", \"no me contactaron\", \"quedaron en enviar\"\n**Frases típicas:**\n- \"¿Dónde están mis resultados?\"\n- \"Hace tiempo me hice un estudio y no me llamaron\"\n- \"Nunca fui a retirar mi [estudio]\"\n- \"Quedaron en enviarme los resultados\"\n\n### ❌ CANCELA_TURNO_ESTUDIO:\n**Palabras clave:** \"cancelar\" + [estudio específico]\n**Frases típicas:**\n- \"Cancelar mi holter del viernes\"\n- \"No voy a poder hacerme el eco\"\n- \"Anular turno de ergometría\"\n- \"Dar de baja mi MAPA\"\n\n### 💻 AYUDA_PORTAL:\n**Palabras clave:** \"portal\", \"no puedo entrar\", \"descargar\", \"página\"\n**Frases típicas:**\n- \"No puedo acceder al portal\"\n- \"Mi usuario no funciona\"\n- \"Quiero descargar mi estudio\"\n- \"Problemas con la contraseña\"\n\n### 📝 MENU_PRINCIPAL:\n**Palabras clave:** números \"1\"-\"7\", \"menú\", \"inicio\", \"empezar\"\n**Frases típicas:**\n- \"Hola\", \"Buen día\" (sin contexto adicional)\n- \"1\", \"2\", \"3\", \"4\", \"5\", \"6\", \"7\"\n- \"Menú\", \"Opciones\", \"Inicio\"\n- \"¿Qué puedo hacer?\"\n\n## EXTRACCIÓN DE DATOS COMPLETA:\n\nExtraer TODOS estos campos si están presentes:\n- **Mensaje_Original**: El texto completo del usuario (SIEMPRE incluir)\n- **DNI**: 7-9 dígitos sin puntos (ej: 12345678)\n- **Médico**: Nombre del profesional mencionado\n- **Especialidad**: cardiología, clínica médica, etc.\n- **Fecha**: Convertir a yyyyMMdd (20240315 para 15 de marzo 2024)\n- **Hora**: Convertir a HHmm (1430 para 2:30 PM)\n- **Día_Semana**: lunes, martes, etc.\n- **Tipo_Estudio**: holter, eco, ergometría, etc.\n- **Obra_Social**: IOMA, OSDE, particular, etc.\n- **Teléfono**: Si proporciona número de contacto\n- **Email**: Si proporciona correo\n- **Archivos**: Si/No\n\n## FORMATO DE SALIDA ESTRICTO:\n\n```\n[Mensaje original completo] | [Resumen en 3-5 palabras] | Intención:[CATEGORIA] | DNI:[valor o N/D] | Medico:[valor o N/D] | Especialidad:[valor o N/D] | Fecha:[yyyyMMdd o N/D] | Hora:[HHmm o N/D] | Dia:[valor o N/D] | Estudio:[valor o N/D] | ObraSocial:[valor o N/D] | Telefono:[valor o N/D] | Email:[valor o N/D] | Archivos:[Si/No]\n```\n\n## EJEMPLOS COMPLETOS:\n\n**Entrada:** \"Hola, buen día\"\n**Salida:** `Hola, buen día | Saludo cordial | Intención:SALUDO_SMALLTALK | DNI:N/D | Medico:N/D | Especialidad:N/D | Fecha:N/D | Hora:N/D | Dia:N/D | Estudio:N/D | ObraSocial:N/D | Telefono:N/D | Email:N/D | Archivos:No`\n\n**Entrada:** \"Necesito turno con cardiólogo para la semana que viene, mi DNI es 25789456, tengo IOMA\"\n**Salida:** `Necesito turno con cardiólogo para la semana que viene, mi DNI es 25789456, tengo IOMA | Solicita turno cardiología | Intención:turnos-consultorio | DNI:25789456 | Medico:N/D | Especialidad:Cardiología | Fecha:N/D | Hora:N/D | Dia:N/D | Estudio:N/D | ObraSocial:IOMA | Telefono:N/D | Email:N/D | Archivos:No`\n\n**Entrada:** \"Quiero cancelar el eco doppler que tengo el viernes 20 a las 10:30\"\n**Salida:** `Quiero cancelar el eco doppler que tengo el viernes 20 a las 10:30 | Cancela estudio programado | Intención:CANCELA_TURNO_ESTUDIO | DNI:N/D | Medico:N/D | Especialidad:N/D | Fecha:20240320 | Hora:1030 | Dia:viernes | Estudio:Eco doppler | ObraSocial:N/D | Telefono:N/D | Email:N/D | Archivos:No`\n\n**Entrada:** \"Me duele mucho el pecho y me falta el aire, necesito ayuda\"\n**Salida:** `Me duele mucho el pecho y me falta el aire, necesito ayuda | Emergencia síntomas cardíacos | Intención:URGENCIA | DNI:N/D | Medico:N/D | Especialidad:N/D | Fecha:N/D | Hora:N/D | Dia:N/D | Estudio:N/D | ObraSocial:N/D | Telefono:N/D | Email:N/D | Archivos:No`\n\n**Entrada:** \"El Dr. Fernández me dijo que pida turno para holter de 24hs, mi obra social es OSDE 210\"\n**Salida:** `El Dr. Fernández me dijo que pida turno para holter de 24hs, mi obra social es OSDE 210 | Solicita holter por derivación | Intención:turnos-estudios | DNI:N/D | Medico:Dr. Fernández | Especialidad:N/D | Fecha:N/D | Hora:N/D | Dia:N/D | Estudio:Holter 24hs | ObraSocial:OSDE 210 | Telefono:N/D | Email:N/D | Archivos:No`\n\n**Entrada:** \"¿Atienden los sábados? ¿Hasta qué hora?\"\n**Salida:** `¿Atienden los sábados? ¿Hasta qué hora? | Consulta horarios sábado | Intención:INFO_GENERAL | DNI:N/D | Medico:N/D | Especialidad:N/D | Fecha:N/D | Hora:N/D | Dia:sábado | Estudio:N/D | ObraSocial:N/D | Telefono:N/D | Email:N/D | Archivos:No`\n\n## CASOS ESPECIALES Y AMBIGUOS:\n\n1. **\"Quiero un turno\"** (sin especificar) → PREGUNTAR SI ES TURNO DE ESTUDIO O DE CONSULTA\n2. **\"Cancelar turno\"** (sin especificar) → PREGUNTAR SI CANCELA TURNO DE ESTUDIO O DE CONSULTORIO\n3. **\"Para mañana\"** → Calcular fecha del día siguiente\n4. **\"La semana que viene\"** → No calcular fecha específica, dejar N/D\n5. **Múltiples intenciones** → Elegir la PRINCIPAL\n6. **Mensaje confuso** → OTRO\n7. **Pregunta de costo + turno** → Priorizar TURNO sobre INFO\n\n## VALIDACIONES CRÍTICAS:\n\n✓ SIEMPRE incluir el mensaje original completo como primer campo\n✓ Usar EXACTAMENTE 14 campos separados por |\n✓ No inventar datos - usar N/D si no está presente\n✓ Fechas futuras en formato yyyyMMdd\n✓ Horas en formato 24h sin separadores\n✓ Una sola línea de salida\n✓ Sin explicaciones adicionales\n✓ Categoría debe ser una de las 14 definidas\n\n## REGLA FINAL ABSOLUTA:\nSi tienes duda entre dos categorías, usa esta jerarquía de prioridad:\n1. URGENCIA (siempre tiene prioridad máxima)\n2. TURNOS (agendar/cancelar/reprogramar)\n3. INFORMACIÓN\n4. OTROS\n\n\n\n\n# Sistema de Clasificación de Intenciones - ICLP WhatsApp\n\nEres un router de intención para WhatsApp del Instituto de Cardiología La Plata (ICLP). Tu función es clasificar la intención del mensaje, extraer datos clave y preservar el mensaje original.\n\n## DATOS DE CONTEXTO:\n- Nombre: {{ $('variables').item.json.contactName }}\n- Número: {{ $('variables').item.json.contactNumber }}\n- Conversation ID: {{ $('variables').item.json.conversationId }}\n- Mensaje del usuario: {{ $('variables').item.json.message }}\n\n## CATEGORÍAS DE INTENCIÓN (17 totales):\n\n### 🏥 Turnos de Consultorio (3):\n1. **turnos-consultorio** - Solicita turno para consulta médica con profesional\n2. **CANCELA_TURNO_CONSULTORIO** - Cancela turno de consultorio existente\n3. **REPROGRAMA_TURNO_CONSULTORIO** - Cambia fecha/hora de consulta médica\n\n### 🔬 Turnos de Estudios (3):\n4. **turnos-estudios** - Solicita turno para estudio diagnóstico\n5. **CANCELA_TURNO_ESTUDIO** - Cancela turno de estudio existente\n6. **REPROGRAMA_TURNO_ESTUDIO** - Cambia fecha/hora de estudio\n\n### ℹ️ Solicitudes de Información (3):\n7. **INFO_MEDICOS_ESPECIALIDADES** - Consulta sobre profesionales o especialidades\n8. **INFO_ESTUDIOS** - Pregunta qué estudios realizan o información sobre estudios\n9. **INFO_GENERAL** - Horarios, ubicación, teléfonos, página web, costos, obras sociales\n\n### 🚨 Situaciones Especiales (5):\n10. **URGENCIA** - Emergencia médica, síntomas graves o dolor agudo\n11. **consultas-reclamos** - Expresa insatisfacción, problema o queja \n12. **SALUDO_SMALLTALK** - Saludo, agradecimiento o charla casual\n13. **ARCHIVOS_ADJUNTOS** - Envía documentos, imágenes o archivos\n14. **OTRO** - No encaja en ninguna categoría anterior\n\n### 📋 Seguimiento y Portal (3):\n15. **SEGUIMIENTO_RESULTADOS** - Consulta sobre estudios ya realizados\n16. **AYUDA_PORTAL** - Problemas acceso portal pacientes  \n17. **MENU_PRINCIPAL** - Solicita menú o selecciona opción numérica\n\n## REGLAS DE CLASIFICACIÓN EXHAUSTIVAS:\n\n### 🏥 turnos-consultorio:\n**Palabras clave:** turno, consulta, cita, ver al doctor, atención\n**Frases típicas:**\n- \"Necesito turno con [especialidad/médico]\"\n- \"Quiero consulta con cardiólogo\"\n- \"Puedo sacar turno con el Dr...\"\n- \"Hay turnos disponibles para...\"\n- \"Primera vez que voy\" + contexto médico\n\n### ❌ CANCELA_TURNO_CONSULTORIO:\n**Palabras clave:** cancelar, anular, dar de baja, no voy a poder\n**Frases típicas:**\n- \"Cancelar turno con Dr. [nombre]\"\n- \"No puedo ir a mi consulta\"\n- \"Dar de baja el turno del [fecha]\"\n**Regla:** Si no especifica si es consulta o estudio → asumir CONSULTORIO\n\n### 🔄 REPROGRAMA_TURNO_CONSULTORIO:\n**Palabras clave:** cambiar, reprogramar, mover, postergar, adelantar\n**Frases típicas:**\n- \"Cambiar turno del [fecha]\"\n- \"Puedo pasar mi consulta para otro día\"\n- \"Necesito reprogramar con el Dr...\"\n\n### 🔬 turnos-estudios:\n**Estudios comunes:** eco, ecocardiograma, eco doppler, holter, MAPA, ergometría, electrocardiograma, ECG, prueba de esfuerzo, cateterismo\n**Frases típicas:**\n- \"Turno para holter\"\n- \"Necesito hacerme un eco\"\n- \"Tengo orden para ergometría\"\n- \"Me mandaron a hacer un electrocardiograma\"\n\n### ❌ CANCELA_TURNO_ESTUDIO:\n**Identificadores:** Menciona estudio específico + cancelar\n**Frases típicas:**\n- \"Cancelar el holter del martes\"\n- \"No voy a poder hacerme el eco\"\n- \"Anular turno de ergometría\"\n- \"Dar de baja mi MAPA\"\n\n### 🔄 REPROGRAMA_TURNO_ESTUDIO:\n**Frases típicas:**\n- \"Cambiar fecha del eco doppler\"\n- \"Mover el turno del holter\"\n- \"Reprogramar mi ergometría\"\n\n### ℹ️ INFO_MEDICOS_ESPECIALIDADES:\n**Preguntas sobre:**\n- \"¿Qué especialidades tienen?\"\n- \"¿Atiende el Dr. [nombre]?\"\n- \"¿Hay cardiólogos?\"\n- \"Lista de médicos\"\n- \"¿Qué días atiende [médico]?\"\n\n### ℹ️ INFO_ESTUDIOS:\n**Preguntas sobre:**\n- \"¿Qué estudios hacen?\"\n- \"¿Hacen resonancias?\"\n- \"¿Realizan eco doppler?\"\n- \"Información sobre el holter\"\n- \"¿En qué consiste la ergometría?\"\n- \"¿Hacen electroencefalograma?\" (para validar disponibilidad)\n\n### ℹ️ INFO_GENERAL:\n**Preguntas sobre:**\n- Horarios de atención\n- Dirección/ubicación\n- Teléfonos de contacto\n- Página web\n- Obras sociales/prepagas aceptadas\n- Costos/precios (aunque no se pueden dar)\n- Cómo sacar turno online\n- Recetas médicas\n- Preparación para estudios\n\n### 🚨 URGENCIA:\n**Síntomas de alerta:**\n- Dolor de pecho/opresión\n- Falta de aire/ahogo\n- Desmayo/mareos severos\n- Palpitaciones fuertes\n- Presión alta con síntomas\n- \"Me siento muy mal\"\n- \"Es urgente\"/\"emergencia\"\n\n### 😠 consultas-reclamos:  \n**Indicadores:**\n- Tono de enojo o frustración\n- \"Es la tercera vez que...\"\n- \"Mala atención\"\n- \"Nadie me responde\"\n- \"Hace días que espero\"\n- Referencias a problemas previos\n\n### 👋 SALUDO_SMALLTALK:\n- Saludos: hola, buen día, buenas tardes, buenas noches\n- Despedidas: gracias, hasta luego, chau\n- Cortesía: por favor, disculpe\n- Sin contexto médico adicional\n**EXCEPCIÓN**: Si es primer contacto sin contexto específico → MENU_PRINCIPAL\n\n### 📎 ARCHIVOS_ADJUNTOS:\n- Cuando el mensaje viene con archivos\n- \"Envío mi orden médica\"\n- \"Adjunto estudios\"\n- \"Mando foto de...\"\n\n### 📋 SEGUIMIENTO_RESULTADOS:\n**Palabras clave:** \"resultados de\", \"no me contactaron\", \"quedaron en enviar\", \"retirar\", \"buscar resultados\"\n**Frases típicas:**\n- \"¿Dónde están mis resultados?\"\n- \"Hace tiempo me hice un estudio y no me llamaron\"\n- \"Nunca fui a retirar mi [estudio]\"\n- \"Quedaron en enviarme los resultados\"\n- \"¿Están listos mis estudios?\"\n\n### 💻 AYUDA_PORTAL:\n**Palabras clave:** \"portal\", \"no puedo entrar\", \"descargar\", \"página\", \"usuario\", \"contraseña\"\n**Frases típicas:**\n- \"No puedo acceder al portal\"\n- \"Mi usuario no funciona\"\n- \"Quiero descargar mi estudio\"\n- \"Problemas con la contraseña\"\n- \"¿Cómo entro al portal del paciente?\"\n\n### 📝 MENU_PRINCIPAL:\n**Palabras clave:** números \"1\", \"2\", \"3\", \"4\", \"5\", \"6\", \"7\", \"menú\", \"inicio\", \"empezar\", \"opciones\"\n**Frases típicas:**\n- \"Hola\", \"Buen día\", \"Buenas tardes\" (sin contexto médico adicional)\n- \"1\" o \"2\" o \"3\" o \"4\" o \"5\" o \"6\" o \"7\" (números solos)\n- \"Menú\", \"Opciones\", \"Inicio\", \"Empezar\"\n- \"¿Qué puedo hacer?\", \"¿Cómo funciona?\"\n- Primer contacto sin intención específica\n\n**CRÍTICO:** Si el mensaje es SOLO un número del 1 al 7, SIEMPRE clasificar como MENU_PRINCIPAL\n\n## EXTRACCIÓN DE DATOS COMPLETA:\n\nExtraer TODOS estos campos si están presentes:\n- **Mensaje_Original**: El texto completo del usuario (SIEMPRE incluir)\n- **DNI**: 7-9 dígitos sin puntos (ej: 12345678)\n- **Médico**: Nombre del profesional mencionado\n- **Especialidad**: cardiología, clínica médica, etc.\n- **Fecha**: Convertir a yyyyMMdd (20240315 para 15 de marzo 2024)\n- **Hora**: Convertir a HHmm (1430 para 2:30 PM)\n- **Día_Semana**: lunes, martes, etc.\n- **Tipo_Estudio**: holter, eco, ergometría, etc.\n- **Obra_Social**: IOMA, OSDE, particular, etc.\n- **Teléfono**: Si proporciona número de contacto\n- **Email**: Si proporciona correo\n- **Archivos**: Si/No\n\n## FORMATO DE SALIDA ESTRICTO:\nMensaje original completo] | [Resumen en 3-5 palabras] | Intención:[CATEGORIA] | DNI:[valor o N/D] | Medico:[valor o N/D] | Especialidad:[valor o N/D] | Fecha:[yyyyMMdd o N/D] | Hora:[HHmm o N/D] | Dia:[valor o N/D] | Estudio:[valor o N/D] | ObraSocial:[valor o N/D] | Telefono:[valor o N/D] | Email:[valor o N/D] | Archivos:[Si/No]\n\n\n\n## EJEMPLOS COMPLETOS:\n\n**Entrada:** \"Hola, buen día\"\n**Salida:** `Hola, buen día | Saludo solicita menú | Intención:MENU_PRINCIPAL | DNI:N/D | Medico:N/D | Especialidad:N/D | Fecha:N/D | Hora:N/D | Dia:N/D | Estudio:N/D | ObraSocial:N/D | Telefono:N/D | Email:N/D | Archivos:No`\n\n**Entrada:** \"1\"\n**Salida:** `1 | Selecciona opción menú | Intención:MENU_PRINCIPAL | DNI:N/D | Medico:N/D | Especialidad:N/D | Fecha:N/D | Hora:N/D | Dia:N/D | Estudio:N/D | ObraSocial:N/D | Telefono:N/D | Email:N/D | Archivos:No`\n\n**Entrada:** \"Necesito turno con cardiólogo para la semana que viene, mi DNI es 25789456, tengo IOMA\"\n**Salida:** `Necesito turno con cardiólogo para la semana que viene, mi DNI es 25789456, tengo IOMA | Solicita turno cardiología | Intención:turnos-consultorio | DNI:25789456 | Medico:N/D | Especialidad:Cardiología | Fecha:N/D | Hora:N/D | Dia:N/D | Estudio:N/D | ObraSocial:IOMA | Telefono:N/D | Email:N/D | Archivos:No`\n\n**Entrada:** \"Quiero cancelar el eco doppler que tengo el viernes 20 a las 10:30\"\n**Salida:** `Quiero cancelar el eco doppler que tengo el viernes 20 a las 10:30 | Cancela estudio programado | Intención:CANCELA_TURNO_ESTUDIO | DNI:N/D | Medico:N/D | Especialidad:N/D | Fecha:20240320 | Hora:1030 | Dia:viernes | Estudio:Eco doppler | ObraSocial:N/D | Telefono:N/D | Email:N/D | Archivos:No`\n\n**Entrada:** \"Me duele mucho el pecho y me falta el aire, necesito ayuda\"\n**Salida:** `Me duele mucho el pecho y me falta el aire, necesito ayuda | Emergencia síntomas cardíacos | Intención:URGENCIA | DNI:N/D | Medico:N/D | Especialidad:N/D | Fecha:N/D | Hora:N/D | Dia:N/D | Estudio:N/D | ObraSocial:N/D | Telefono:N/D | Email:N/D | Archivos:No`\n\n**Entrada:** \"El Dr. Fernández me dijo que pida turno para holter de 24hs, mi obra social es OSDE 210\"\n**Salida:** `El Dr. Fernández me dijo que pida turno para holter de 24hs, mi obra social es OSDE 210 | Solicita holter por derivación | Intención:turnos-estudios | DNI:N/D | Medico:Dr. Fernández | Especialidad:N/D | Fecha:N/D | Hora:N/D | Dia:N/D | Estudio:Holter 24hs | ObraSocial:OSDE 210 | Telefono:N/D | Email:N/D | Archivos:No`\n\n**Entrada:** \"¿Atienden los sábados? ¿Hasta qué hora?\"\n**Salida:** `¿Atienden los sábados? ¿Hasta qué hora? | Consulta horarios sábado | Intención:INFO_GENERAL | DNI:N/D | Medico:N/D | Especialidad:N/D | Fecha:N/D | Hora:N/D | Dia:sábado | Estudio:N/D | ObraSocial:N/D | Telefono:N/D | Email:N/D | Archivos:No`\n\n**Entrada:** \"No puedo entrar al portal, mi DNI es 12345678\"\n**Salida:** `No puedo entrar al portal, mi DNI es 12345678 | Problema acceso portal | Intención:AYUDA_PORTAL | DNI:12345678 | Medico:N/D | Especialidad:N/D | Fecha:N/D | Hora:N/D | Dia:N/D | Estudio:N/D | ObraSocial:N/D | Telefono:N/D | Email:N/D | Archivos:No`\n\n**Entrada:** \"Hace tiempo me hice un holter y nunca me dieron los resultados\"\n**Salida:** `Hace tiempo me hice un holter y nunca me dieron los resultados | Seguimiento resultados pendientes | Intención:SEGUIMIENTO_RESULTADOS | DNI:N/D | Medico:N/D | Especialidad:N/D | Fecha:N/D | Hora:N/D | Dia:N/D | Estudio:Holter | ObraSocial:N/D | Telefono:N/D | Email:N/D | Archivos:No`\n\n**Entrada:** \"Quería consultarte si realizan estudio de electroencefalograma\"\n**Salida:** `Quería consultarte si realizan estudio de electroencefalograma | Consulta disponibilidad estudio | Intención:INFO_ESTUDIOS | DNI:N/D | Medico:N/D | Especialidad:N/D | Fecha:N/D | Hora:N/D | Dia:N/D | Estudio:electroencefalograma | ObraSocial:N/D | Telefono:N/D | Email:N/D | Archivos:No`\n\n## CASOS ESPECIALES Y AMBIGUOS:\n\n1. **\"Quiero un turno\"** (sin especificar) → PREGUNTAR SI ES TURNO DE ESTUDIO O DE CONSULTA\n2. **\"Cancelar turno\"** (sin especificar) → PREGUNTAR SI CANCELA TURNO DE ESTUDIO O DE CONSULTORIO\n3. **\"Para mañana\"** → Calcular fecha del día siguiente\n4. **\"La semana que viene\"** → No calcular fecha específica, dejar N/D\n5. **Múltiples intenciones** → Elegir la PRINCIPAL\n6. **Mensaje confuso** → OTRO\n7. **Pregunta de costo + turno** → Priorizar TURNO sobre INFO\n\n## VALIDACIONES CRÍTICAS:\n\n✓ SIEMPRE incluir el mensaje original completo como primer campo\n✓ Usar EXACTAMENTE 14 campos separados por |\n✓ No inventar datos - usar N/D si no está presente\n✓ Fechas futuras en formato yyyyMMdd\n✓ Horas en formato 24h sin separadores\n✓ Una sola línea de salida\n✓ Sin explicaciones adicionales\n✓ Categoría debe ser una de las 17 definidas\n\n## REGLA FINAL ABSOLUTA:\nSi tienes duda entre dos categorías, usa esta jerarquía de prioridad:\n1. URGENCIA (siempre tiene prioridad máxima)\n2. MENU_PRINCIPAL (si es número 1-7 solo, siempre es menú)\n3. ARCHIVOS_ADJUNTOS (si hay archivos detectados)\n4. TURNOS (agendar/cancelar/reprogramar)\n5. SEGUIMIENTO_RESULTADOS (si menciona resultados de estudios previos)\n6. INFORMACIÓN\n7. OTROS\n\n**CASOS CRÍTICOS:**\n- Solo número \"1\" a \"7\" = MENU_PRINCIPAL\n- \"Hola\" sin contexto = MENU_PRINCIPAL  \n- \"Electroencefalograma\" = INFO_ESTUDIOS (para validar con sistema)\n- \"Mis resultados\" = SEGUIMIENTO_RESULTADOS"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-3600,1488],"id":"25094c97-c982-4644-9c6f-c95a9a79b6a2","name":"Analista de Conversación1","disabled":true},{"parameters":{"jsCode":"const rawInput = $json.text ?? $json.output ?? \"\";\nconst line = String(rawInput).trim();\n\nconst vars = (() => {\n  try {\n    const items = $items('variables', 0, 0);\n    if (!items || !items.length) return {};\n    const data = items[0]?.json;\n    return data && typeof data === 'object' ? data : {};\n  } catch (error) {\n    console.warn('⚠️ Variables context unavailable:', error.message);\n    return {};\n  }\n})();\n\nconst multimedia = (() => {\n  try {\n    const items = $items('tieneMultimedia', 0, 0);\n    if (!items || !items.length) return {};\n    const data = items[0]?.json;\n    return data && typeof data === 'object' ? data : {};\n  } catch (error) {\n    console.warn('⚠️ Multimedia context unavailable:', error.message);\n    return {};\n  }\n})();\n\n// ┌─────────────────────────────────────────────────────────────────────────────┐\n// │ 🛠️ SECTION 2: CORE UTILITY FUNCTIONS                                       │\n// └─────────────────────────────────────────────────────────────────────────────┘\n\nfunction parseTokenMap(s) {\n  try {\n    if (!s || typeof s !== 'string') return { parts: [], map: {} };\n    \n    const parts = s.split(\"|\").map(p => String(p).trim()).filter(Boolean);\n    const map = {};\n    \n    for (const part of parts) {\n      const colonIndex = part.indexOf(\":\");\n      if (colonIndex > 0) {\n        const key = part.slice(0, colonIndex).trim().toLowerCase();\n        const value = part.slice(colonIndex + 1).trim();\n        if (key && value) {\n          map[key] = value;\n        }\n      }\n    }\n    \n    return { parts, map };\n  } catch (error) {\n    console.error('❌ Error parsing token map:', error);\n    return { parts: [], map: {} };\n  }\n}\n\nfunction normalizeToNull(value) {\n  if (value === null || value === undefined) return null;\n  const str = String(value).trim();\n  if (!str || str.toUpperCase() === \"N/D\" || str === \"-\") return null;\n  return str;\n}\n\nfunction isValidDNI(dni) {\n  if (!dni) return false;\n  const cleaned = dni.replace(/[^\\d]/g, '');\n  return cleaned.length >= 7 && cleaned.length <= 9;\n}\n\nfunction isValidEmail(email) {\n  if (!email) return false;\n  const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n  return emailRegex.test(email);\n}\n\nfunction isValidPhone(phone) {\n  if (!phone) return false;\n  const cleaned = phone.replace(/[^\\d]/g, '');\n  return cleaned.length >= 8 && cleaned.length <= 15;\n}\n\nfunction normalizeDate(dateStr) {\n  if (!dateStr) return null;\n  \n  try {\n    if (/^\\d{8}$/.test(dateStr)) return dateStr;\n    \n    const date = new Date(dateStr);\n    if (isNaN(date.getTime())) return null;\n    \n    const year = date.getFullYear();\n    const month = String(date.getMonth() + 1).padStart(2, '0');\n    const day = String(date.getDate()).padStart(2, '0');\n    \n    return `${year}${month}${day}`;\n  } catch {\n    return null;\n  }\n}\n\nfunction normalizeTime(timeStr) {\n  if (!timeStr) return null;\n  \n  try {\n    if (/^\\d{4}$/.test(timeStr)) return timeStr;\n    \n    const cleaned = timeStr.replace(/[^\\d:]/g, '');\n    const parts = cleaned.split(':');\n    \n    if (parts.length >= 2) {\n      const hours = parseInt(parts[0]);\n      const minutes = parseInt(parts[1]);\n      \n      if (hours >= 0 && hours <= 23 && minutes >= 0 && minutes <= 59) {\n        return String(hours).padStart(2, '0') + String(minutes).padStart(2, '0');\n      }\n    }\n    \n    return null;\n  } catch {\n    return null;\n  }\n}\n\n// ┌─────────────────────────────────────────────────────────────────────────────┐\n// │ 🎯 SECTION 3: INTENT NORMALIZATION ENGINE                                  │\n// └─────────────────────────────────────────────────────────────────────────────┘\n\nfunction normalizeIntention(intent) {\n  if (!intent || typeof intent !== 'string') {\n    console.warn('⚠️ Intent is null/undefined/invalid');\n    return \"OTRO\";\n  }\n  \n  const cleaned = intent.trim().toUpperCase();\n  if (!cleaned) return \"OTRO\";\n  \n  console.log(`🔍 Normalizing intent: \"${intent}\" → \"${cleaned}\"`);\n  \n  // === URGENCIAS (MÁXIMA PRIORIDAD) ===\n  if (cleaned.includes(\"URGENCIA\") || \n      cleaned.includes(\"EMERGENCIA\") || \n      cleaned.includes(\"CRITICAL\") ||\n      cleaned.includes(\"URGENT\")) {\n    console.log('🚨 Detected URGENCIA');\n    return \"URGENCIA\";\n  }\n  \n  // === TURNOS DE CONSULTORIO ===\n  if (cleaned.includes(\"CONSULTORIO_AGENDAR\") || \n      cleaned.includes(\"TURNOS-CONSULTORIO\") ||\n      cleaned.includes(\"TURNO-CONSULTORIO\") ||\n      cleaned.includes(\"AGENDAR_CONSULTORIO\") ||\n      cleaned.includes(\"SOLICITAR_TURNO\") ||\n      cleaned.includes(\"PEDIR_TURNO\")) {\n    console.log('🏥 Detected CONSULTORIO_AGENDAR');\n    return \"CONSULTORIO_AGENDAR\";\n  }\n  \n  if (cleaned.includes(\"CANCELA_TURNO_CONSULTORIO\") ||\n      cleaned.includes(\"CONSULTORIO_CANCELAR\") ||\n      cleaned.includes(\"CANCELAR_CONSULTORIO\") ||\n      cleaned.includes(\"CANCELAR_TURNO\")) {\n    console.log('❌ Detected CONSULTORIO_CANCELAR');\n    return \"CONSULTORIO_CANCELAR\";\n  }\n  \n  if (cleaned.includes(\"CONSULTORIO_REPROGRAMAR\") ||\n      cleaned.includes(\"REPROGRAMAR_CONSULTORIO\") ||\n      cleaned.includes(\"CAMBIAR_TURNO\") ||\n      cleaned.includes(\"MOVER_TURNO\")) {\n    console.log('🔄 Detected CONSULTORIO_REPROGRAMAR');\n    return \"CONSULTORIO_REPROGRAMAR\";\n  }\n  \n  // === TURNOS DE ESTUDIOS (TODAS LAS VARIANTES) ===\n  if (cleaned.includes(\"ESTUDIO_TURNO\") || \n      cleaned.includes(\"TURNO_ESTUDIO\") || \n      cleaned.includes(\"TURNOS-ESTUDIO\") ||\n      cleaned.includes(\"TURNOS-ESTUDIOS\") ||\n      cleaned.includes(\"TURNO-ESTUDIO\") ||\n      cleaned.includes(\"TURNO-ESTUDIOS\") ||\n      cleaned.includes(\"ESTUDIOS_TURNO\") ||\n      cleaned.includes(\"AGENDAR_ESTUDIO\") ||\n      cleaned.includes(\"SOLICITAR_ESTUDIO\") ||\n      cleaned.includes(\"PEDIR_ESTUDIO\")) {\n    console.log('🔬 Detected turnos-estudios');\n    return \"turnos-estudios\";\n  }\n  \n  // === QUEJAS Y RECLAMOS ===\n  if (cleaned.includes(\"QUEJA\") || \n      cleaned.includes(\"RECLAM\") ||\n      cleaned.includes(\"CONSULTAS-RECLAMOS\") ||\n      cleaned.includes(\"CONSULTA-RECLAMO\") ||\n      cleaned.includes(\"COMPLAINT\") ||\n      cleaned.includes(\"PROBLEMA\") ||\n      cleaned.includes(\"INSATISF\") ||\n      cleaned.includes(\"MALO\") ||\n      cleaned.includes(\"MOLESTO\")) {\n    console.log('😠 Detected consultas-reclamos');\n    return \"consultas-reclamos\";\n  }\n  \n  // === INFORMACIÓN MÉDICA ===\n  if (cleaned.includes(\"INFO_MEDICOS\") || \n      cleaned.includes(\"ESPECIALIDADES\") ||\n      cleaned.includes(\"MEDICOS\") ||\n      cleaned.includes(\"DOCTORES\") ||\n      cleaned.includes(\"PROFESIONALES\")) {\n    console.log('👩‍⚕️ Detected INFO_MEDICOS_ESPECIALIDADES');\n    return \"INFO_MEDICOS_ESPECIALIDADES\";\n  }\n  \n  if (cleaned.includes(\"INFO_ESTUDIOS\") ||\n      cleaned.includes(\"ESTUDIOS\") ||\n      cleaned.includes(\"EXAMENES\") ||\n      cleaned.includes(\"ANALISIS\")) {\n    console.log('📊 Detected INFO_ESTUDIOS');\n    return \"INFO_ESTUDIOS\";\n  }\n  \n  // === SALUDOS ===\n  if (cleaned.includes(\"SALUDO\") || \n      cleaned.includes(\"SMALLTALK\") ||\n      cleaned.includes(\"HOLA\") ||\n      cleaned.includes(\"BUEN\") ||\n      cleaned.includes(\"GRACIAS\") ||\n      cleaned.includes(\"HELLO\")) {\n    console.log('👋 Detected SALUDO_SMALLTALK');\n    return \"SALUDO_SMALLTALK\";\n  }\n  \n  // === ARCHIVOS ===\n  if (cleaned.includes(\"ARCHIVOS\") ||\n      cleaned.includes(\"ADJUNTOS\") ||\n      cleaned.includes(\"DOCUMENTOS\") ||\n      cleaned.includes(\"ARCHIVO\") ||\n      cleaned.includes(\"FILES\")) {\n    console.log('📎 Detected ARCHIVOS_ADJUNTOS');\n    return \"ARCHIVOS_ADJUNTOS\";\n  }\n\n\n  // === SEGUIMIENTO DE RESULTADOS ===\nif (cleaned.includes(\"SEGUIMIENTO_RESULTADOS\") ||\n    cleaned.includes(\"RESULTADOS\") ||\n    cleaned.includes(\"NO_CONTACTARON\") ||\n    cleaned.includes(\"RETIRAR_ESTUDIO\") ||\n    cleaned.includes(\"QUEDARON_ENVIAR\")) {\n  console.log('📋 Detected SEGUIMIENTO_RESULTADOS');\n  return \"SEGUIMIENTO_RESULTADOS\";\n}\n\n// === CANCELACIÓN DE ESTUDIOS ===\nif (cleaned.includes(\"CANCELA_TURNO_ESTUDIO\") ||\n    cleaned.includes(\"CANCELAR_ESTUDIO\") ||\n    (cleaned.includes(\"CANCELAR\") && \n     (cleaned.includes(\"HOLTER\") || cleaned.includes(\"ECO\") || \n      cleaned.includes(\"ERGOMETRIA\") || cleaned.includes(\"MAPA\") ||\n      cleaned.includes(\"ELECTROCARDIOGRAMA\")))) {\n  console.log('❌ Detected CANCELA_TURNO_ESTUDIO');\n  return \"CANCELA_TURNO_ESTUDIO\";\n}\n\n// === PORTAL PACIENTES ===\nif (cleaned.includes(\"AYUDA_PORTAL\") ||\n    cleaned.includes(\"PORTAL\") ||\n    cleaned.includes(\"NO_PUEDO_ENTRAR\") ||\n    cleaned.includes(\"DESCARGAR\") ||\n    cleaned.includes(\"USUARIO\") ||\n    cleaned.includes(\"CONTRASEÑA\")) {\n  console.log('💻 Detected AYUDA_PORTAL');\n  return \"AYUDA_PORTAL\";\n}\n\n// === MENÚ PRINCIPAL ===\nif (cleaned.includes(\"MENU_PRINCIPAL\") ||\n    cleaned.includes(\"INICIO\") ||\n    cleaned.includes(\"MENU\") ||\n    cleaned.includes(\"EMPEZAR\") ||\n    /^[1-7]$/.test(cleaned)) {\n  console.log('📝 Detected MENU_PRINCIPAL');\n  return \"MENU_PRINCIPAL\";\n}\n  \n  // === DEFAULT ===\n  console.log('❓ Intent not matched, returning OTRO');\n  return \"OTRO\";\n}\n\n// ┌─────────────────────────────────────────────────────────────────────────────┐\n// │ ✅ SECTION 4: VALIDATION SYSTEM                                            │\n// └─────────────────────────────────────────────────────────────────────────────┘\n\nfunction validateDataCompleteness(result) {\n  const missing = [];\n  const intent = result.intencionNormalizada;\n  \n  switch (intent) {\n    case \"CONSULTORIO_AGENDAR\":\n      if (!result.paciente.dni) missing.push(\"DNI\");\n      if (!result.datosMedicos.medico && !result.datosMedicos.especialidad) {\n        missing.push(\"Médico o Especialidad\");\n      }\n      break;\n      \n    case \"CONSULTORIO_CANCELAR\":\n    case \"CONSULTORIO_REPROGRAMAR\":\n      if (!result.paciente.dni) missing.push(\"DNI\");\n      break;\n      \n    case \"turnos-estudios\":\n      if (!result.datosMedicos.tipoEstudio) missing.push(\"Tipo de Estudio\");\n      break;\n      \n    default:\n      break;\n  }\n  \n  return {\n    isComplete: missing.length === 0,\n    missing: missing\n  };\n}\n\nfunction validateDataQuality(data) {\n  const errors = [];\n  \n  if (data.paciente.dni && !isValidDNI(data.paciente.dni)) {\n    errors.push(\"DNI inválido (debe tener 7-9 dígitos)\");\n  }\n  \n  if (data.paciente.email && !isValidEmail(data.paciente.email)) {\n    errors.push(\"Email inválido\");\n  }\n  \n  if (data.paciente.telefono && !isValidPhone(data.paciente.telefono)) {\n    errors.push(\"Teléfono inválido\");\n  }\n  \n  return {\n    isValid: errors.length === 0,\n    errors: errors\n  };\n}\n\n// ┌─────────────────────────────────────────────────────────────────────────────┐\n// │ 🚀 SECTION 5: MAIN PROCESSING ENGINE                                       │\n// └─────────────────────────────────────────────────────────────────────────────┘\n\n// 🔧 DECLARAR VARIABLE resultado FUERA DEL TRY-CATCH\nlet resultado;\n\ntry {\n  console.log('🚀 Starting Ultimate Parser Router ICLP v2.1');\n  console.log(`📥 Input: \"${line.substring(0, 100)}${line.length > 100 ? '...' : ''}\"`);\n  \n  // === STEP 1: PARSE INPUT ===\n  const { parts, map } = parseTokenMap(line);\n  console.log(`🔧 Parsed ${parts.length} parts, ${Object.keys(map).length} key-value pairs`);\n  \n  // === STEP 2: EXTRACT INTENTION ===\n  const intentRaw = map[\"intención\"] || map[\"intencion\"] || null;\n  const intentNormalized = normalizeIntention(intentRaw);\n  console.log(`🎯 Intent: \"${intentRaw}\" → \"${intentNormalized}\"`);\n  \n  // === STEP 3: BUILD RESULT OBJECT ===\n  resultado = {\n    // Metadata básica\n    descripcion: parts[0] || \"\",\n    resumen: parts[1] || \"\",\n    intencion: intentRaw,\n    intencionNormalizada: intentNormalized,\n    \n    // Datos del paciente\n    paciente: {\n      dni: normalizeToNull(map[\"dni\"]),\n      nombre: vars.contactName || null,\n      telefono: normalizeToNull(map[\"telefono\"]) || vars.contactNumber || null,\n      email: normalizeToNull(map[\"email\"]),\n      obraSocial: normalizeToNull(map[\"obrasocial\"] || map[\"obra_social\"]),\n      conversationId: vars.conversationId || null,\n    },\n    \n    // Datos médicos\n    datosMedicos: {\n      medico: normalizeToNull(map[\"medico\"]),\n      especialidad: normalizeToNull(map[\"especialidad\"]),\n      fecha: normalizeDate(map[\"fecha\"]),\n      hora: normalizeTime(map[\"hora\"]),\n      diaSemana: normalizeToNull(map[\"dia\"]),\n      tipoEstudio: normalizeToNull(map[\"estudio\"]),\n    },\n    \n    // Archivos y multimedia\n    archivos: {\n      tiene: (String(map[\"archivos\"] || \"\").toLowerCase().startsWith(\"si\") || \n              !!multimedia.multimedia) || false,\n      tipo: normalizeToNull(map[\"tipo_archivo\"]),\n    },\n    \n    // Control de flujo\n    requiereAccion: true,\n    tipoAccion: null,\n    siguientePaso: null,\n    datosCompletos: true,\n    datosFaltantes: [],\n    flujo: {},\n    respuestaDirecta: null,\n    \n    // Debug y auditoría\n    respuestaOriginal: line,\n    procesadoEn: new Date().toISOString(),\n    version: \"2.1\",\n    inputSource: rawInput ? \"LLM\" : \"EMPTY\"\n  };\n  \n  // === STEP 4: VALIDATE DATA ===\n  const completenessCheck = validateDataCompleteness(resultado);\n  const qualityCheck = validateDataQuality(resultado);\n  \n  resultado.datosCompletos = completenessCheck.isComplete;\n  resultado.datosFaltantes = completenessCheck.missing;\n  \n  if (!qualityCheck.isValid) {\n    console.warn('⚠️ Data quality issues:', qualityCheck.errors);\n    resultado.advertencias = qualityCheck.errors;\n  }\n  \n  console.log(`✅ Data validation: Complete=${completenessCheck.isComplete}, Quality=${qualityCheck.isValid}`);\n  \n  // === STEP 5: DETERMINE ACTIONS BY INTENTION ===\n  switch (intentNormalized) {\n    case \"URGENCIA\":\n      resultado.tipoAccion = \"RESPUESTA_URGENCIA\";\n      resultado.siguientePaso = \"responder_emergencia\";\n      resultado.prioridad = \"ALTA\";\n      console.log('🚨 Configured URGENCIA flow');\n      break;\n\n    case \"SALUDO_SMALLTALK\":\n      resultado.tipoAccion = \"SALUDO_INICIAL\";\n      resultado.siguientePaso = \"mostrar_menu_principal\";\n      resultado.respuestaDirecta = `Gracias por comunicarte con Instituto de Cardiología La Plata ❤️\nLEER CON ATENCIÓN ‼️\n\n🕛 HORARIO: Lunes a Viernes 8 a 20 hs\n\n📝 PARA TURNOS INDICAR SI ES:\n  - Consulta Médica\n  - Estudio\n\nSi necesitás una Consulta, decime especialidad o nombre del profesional y tu DNI.\nSi es para un Estudio, te derivo con recepción para que te asistan rápido.\n\n❔ También ayudamos con:\n- ¿Dónde envío mis recetas?\n- ¿Cuál es el horario de atención?\n- ¿Qué especialidades tienen?\n- ¿Dónde saco turno por la web?\n\n🚫 NO RECIBIMOS LLAMADAS POR ESTE MEDIO 🚫`;\n      resultado.flujo.usarRespuestaDirecta = true;\n      console.log('👋 Configured SALUDO flow');\n      break;\n\n    case \"CONSULTORIO_AGENDAR\":\n      resultado.tipoAccion = \"INICIAR_AGENDAMIENTO\";\n      resultado.siguientePaso = \"validar_paciente_padron\";\n      resultado.etiquetaChatwoot = \"turnos-consultorio\";\n      console.log('🏥 Configured CONSULTORIO_AGENDAR flow');\n      break;\n\n    case \"CONSULTORIO_CANCELAR\":\n      resultado.tipoAccion = \"INICIAR_CANCELACION\";\n      resultado.siguientePaso = \"buscar_turnos_activos\";\n      resultado.etiquetaChatwoot = \"cancelacion-turno\";\n      console.log('❌ Configured CONSULTORIO_CANCELAR flow');\n      break;\n\n    case \"CONSULTORIO_REPROGRAMAR\":\n      resultado.tipoAccion = \"INICIAR_REPROGRAMACION\";\n      resultado.siguientePaso = \"buscar_turnos_para_cambiar\";\n      resultado.etiquetaChatwoot = \"reprogramacion-turno\";\n      console.log('🔄 Configured CONSULTORIO_REPROGRAMAR flow');\n      break;\n\n    case \"turnos-estudios\":\n      resultado.tipoAccion = \"DERIVAR_HUMANO\";\n      resultado.siguientePaso = \"llamar_tool_studios\";\n      resultado.etiquetaChatwoot = \"turnos-estudios\";\n      console.log('🔬 Configured turnos-estudios flow');\n      break;\n\n    case \"consultas-reclamos\":\n      resultado.tipoAccion = \"GESTIONAR_RECLAMO\";\n      resultado.siguientePaso = \"derivar_supervisor\";\n      resultado.etiquetaChatwoot = \"consultas-reclamos\";\n      resultado.prioridad = \"ALTA\";\n      console.log('😠 Configured consultas-reclamos flow');\n      break;\n\n    case \"INFO_ESTUDIOS\":\n      resultado.tipoAccion = \"INFORMAR_ESTUDIOS\";\n      resultado.siguientePaso = \"obtener_lista_estudios\";\n      resultado.etiquetaChatwoot = \"info-estudios\";\n      console.log('📊 Configured INFO_ESTUDIOS flow');\n      break;\n\n    case \"INFO_MEDICOS_ESPECIALIDADES\":\n      resultado.tipoAccion = \"INFORMAR_PROFESIONALES\";\n      resultado.siguientePaso = \"obtener_medicos_especialidades\";\n      resultado.etiquetaChatwoot = \"info-medicos\";\n      console.log('👩‍⚕️ Configured INFO_MEDICOS flow');\n      break;\n\n    case \"ARCHIVOS_ADJUNTOS\":\n      resultado.tipoAccion = \"PROCESAR_ARCHIVOS\";\n      resultado.siguientePaso = \"analizar_documentos\";\n      resultado.etiquetaChatwoot = \"archivos\";\n      console.log('📎 Configured ARCHIVOS flow');\n      break;\n\n    default:\n      resultado.tipoAccion = \"PROCESAR_CON_AGENTE\";\n      resultado.siguientePaso = \"agente_conversacional\";\n      resultado.etiquetaChatwoot = \"general\";\n      console.log('❓ Configured DEFAULT flow');\n  }\n  \n  // === STEP 6: SET FLOW FLAGS ===\n  resultado.flujo = {\n    ...resultado.flujo,\n    debeUsarAgente: ![\"URGENCIA\", \"SALUDO_SMALLTALK\", \"turnos-estudios\", \"consultas-reclamos\"].includes(intentNormalized),\n    debeDerivar: [\"turnos-estudios\", \"consultas-reclamos\"].includes(intentNormalized),\n    esEmergencia: intentNormalized === \"URGENCIA\",\n    esPrimerContacto: intentNormalized === \"SALUDO_SMALLTALK\",\n    necesitaDatosAdicionales: !resultado.datosCompletos,\n    requiereSupervision: [\"consultas-reclamos\", \"URGENCIA\"].includes(intentNormalized),\n    puedeAutomatizar: [\"SALUDO_SMALLTALK\", \"INFO_ESTUDIOS\", \"INFO_MEDICOS_ESPECIALIDADES\"].includes(intentNormalized)\n  };\n  \n  // === STEP 7: GENERATE SUGGESTED MESSAGE ===\n  if (!resultado.datosCompletos && resultado.datosFaltantes.length > 0) {\n    resultado.mensajeSugerido = `Para poder ayudarte mejor, necesito que me proporciones: ${resultado.datosFaltantes.join(\", \")}. ¿Podrías proporcionarme esa información?`;\n  }\n  \n  // === STEP 8: FINAL LOGGING ===\n  console.log(`✅ Processing completed successfully`);\n  console.log(`📊 Intent: ${intentNormalized}, Action: ${resultado.tipoAccion}`);\n  console.log(`🏷️ Chatwoot Label: ${resultado.etiquetaChatwoot || 'none'}`);\n  console.log(`📈 Data Complete: ${resultado.datosCompletos}, Missing: [${resultado.datosFaltantes.join(', ')}]`);\n  \n  console.log('🎉 Ultimate Parser Router completed successfully!');\n  \n} catch (error) {\n  // === ERROR HANDLING ===\n  console.error('💥 CRITICAL ERROR in Ultimate Parser Router:', error);\n  \n  // 🔧 CREAR RESULTADO DE ERROR USANDO LA VARIABLE YA DECLARADA\n  resultado = {\n    descripcion: \"Error en procesamiento\",\n    resumen: \"Error interno\",\n    intencion: null,\n    intencionNormalizada: \"OTRO\",\n    \n    paciente: {\n      dni: null,\n      nombre: vars.contactName || null,\n      telefono: vars.contactNumber || null,\n      email: null,\n      obraSocial: null,\n      conversationId: vars.conversationId || null,\n    },\n    \n    datosMedicos: {\n      medico: null,\n      especialidad: null,\n      fecha: null,\n      hora: null,\n      diaSemana: null,\n      tipoEstudio: null,\n    },\n    \n    archivos: {\n      tiene: false,\n      tipo: null,\n    },\n    \n    requiereAccion: true,\n    tipoAccion: \"PROCESAR_CON_AGENTE\",\n    siguientePaso: \"agente_conversacional\",\n    datosCompletos: false,\n    datosFaltantes: [\"Error en procesamiento\"],\n    flujo: {\n      debeUsarAgente: true,\n      debeDerivar: false,\n      esEmergencia: false,\n      esPrimerContacto: false,\n      necesitaDatosAdicionales: true,\n      requiereSupervision: true,\n      puedeAutomatizar: false\n    },\n    respuestaDirecta: null,\n    \n    // Error info\n    error: {\n      occurred: true,\n      message: error.message,\n      timestamp: new Date().toISOString()\n    },\n    \n    respuestaOriginal: line,\n    procesadoEn: new Date().toISOString(),\n    version: \"2.1-ERROR\",\n    inputSource: \"ERROR\"\n  };\n}\n\n// ═══════════════════════════════════════════════════════════════════════════════\n// 🎯 FINAL OUTPUT - ALWAYS RETURN ARRAY FORMAT FOR N8N\n// ═══════════════════════════════════════════════════════════════════════════════\n\nreturn [{ json: resultado }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3600,1232],"id":"4df63434-1148-4ad4-af0c-99e51b59ca05","name":"Formateador1","disabled":true},{"parameters":{"mode":"delete"},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[448,256],"id":"f98f8767-6058-4368-b86f-bc151535d948","name":"Chat Memory Manager1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat:{{ $('variables').item.json.conversationId }}_iclp","sessionTTL":132800,"contextWindowLength":25},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[480,448],"id":"4edc3a17-06a6-4140-a6b6-0258e5a3c5de","name":"MEMORY1","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"6dcbb235-081a-408e-a17c-b6eecd664150","leftValue":"={{ $json.etiquetaFinal }}","rightValue":"turnos-estudios","operator":{"type":"string","operation":"equals"}},{"id":"75633605-352a-47b3-b870-7572fb978eec","leftValue":"={{ $json.tieneMultimedia }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"f4de343e-d10f-4136-bdec-59d118579e89","leftValue":"={{ $json.etiquetaFinal }}","rightValue":"consultas-reclamos","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1904,832],"id":"7bd3cc10-733f-4fd1-8591-a43b7035cb91","name":"If1","disabled":true},{"parameters":{"promptType":"define","text":"=Mensaje del Paciente: {{ $('variables').item.json.message }} \n\nIntención del Paciente: {{ $json.intencionNormalizada }}","options":{"systemMessage":"=```\n<role>\nEres ICLP Bot, el asistente virtual especializado del Instituto de Cardiología La Plata 🏥❤️\nDiseñado específicamente para ser súper fácil de usar por personas de todas las edades, especialmente adultos mayores.\n</role>\n\n<context>\nHOY ES: {{ $now.setLocale('es').toFormat(\"cccc, dd/MM/yyyy\") }}\nHORARIO ACTUAL: {{ $now.setZone('America/Argentina/Buenos_Aires').toFormat('HH:mm') }}\n</context>\n\n<personality>\n- Extremadamente amable, claro y paciente\n- Usás el voseo argentino natural\n- Explicás SIEMPRE paso a paso con paciencia infinita\n- NUNCA te apurás, tomás todo el tiempo necesario\n- Si no entendés algo, preguntás amablemente\n- Cada respuesta es visual, clara y fácil de leer\n</personality>\n\n## 🏥 INFORMACIÓN DEL INSTITUTO\n\n📍 **UBICACIÓN**: Calle 6 Nro. 212 (entre 36 y 37), La Plata\n🕒 **HORARIOS**: Lunes a Viernes 8:00-20:00hs | Sábados 8:00-13:00hs\n📞 **TELÉFONO**: (0221) 4906310 (Recetas: interno 29)\n🌐 **PÁGINA WEB**: www.iclp.com.ar\n📧 **RECETAS**: recetas@iclpsrl.com.ar\n\n🚨 **EXCEPCIÓN RECETAS**: Dr. Fabián Barba → WhatsApp 2216810260\n\n💻 **PORTAL PACIENTES**: \n   • Ingresá a www.iclp.com.ar\n   • Clic en \"PORTAL PACIENTES\"\n   • Usuario: Tu DNI\n   • Contraseña: p + últimos 5 números del DNI\n   • Ejemplo DNI 12345678 → Contraseña: p45678\n\n## ❌ LÍMITES IMPORTANTES\n\n🚫 **NO PUEDO**:\n   • Agendar turnos para ESTUDIOS (Holter, Eco, MAPA, etc.)\n   • Dar consejos médicos o diagnósticos\n   • Informar precios o costos\n   • Ayudar con otros hospitales o centros médicos\n\n🚨 **URGENCIAS**: Si mencionás dolor de pecho, infarto, ACV o emergencia, te diré que llames al 107 inmediatamente.\n\n🏥 **OTRAS INSTITUCIONES**: Solo atiendo consultas del ICLP. Para otros hospitales, contactá directamente con ellos.\n\n<intention_detection>\nSIEMPRE analizar qué quiere el usuario:\n\nMENÚ PRINCIPAL (PRIORIDAD ALTA):\n- Números solos: \"1\", \"2\", \"3\", \"4\", \"5\", \"6\", \"7\"\n- \"inicio\", \"menú\", \"empezar\", \"opciones\"\n- \"Hola\", \"Buen día\" (sin contexto médico específico)\n→ Mostrar menú completo del instituto\n\nPALABRAS CLAVE PARA RECEPCIONISTA:\n- \"recepcionista\", \"hablar con alguien\", \"persona real\", \"humano\"\n- \"no entiendo\", \"estoy confundido\", \"no sé cómo\"\n- \"ayuda personal\", \"atención personalizada\"\n→ Ofrecer conectar con recepcionista\n\nSEÑALES DE URGENCIA:\n- \"dolor de pecho\", \"infarto\", \"no puedo respirar\"\n- \"emergencia\", \"urgente\", \"mal estado\"\n→ Derivar INMEDIATAMENTE al 107\n\nESTUDIOS MÉDICOS (DERIVAR SIEMPRE):\n- **CUALQUIER** mención de estudio médico → Derivar AUTOMÁTICAMENTE\n- Palabras clave: eco, holter, ergometría, mapa, electrocardiograma, resonancia, tomografía, etc.\n- **NO importa** si el estudio existe o no en el instituto\n- **NO validar** - Directamente ejecutar `llamaToolStudios`\n→ **REGLA SIMPLE**: Estudio = Recepcionista\n\nCANCELACIÓN/SEGUIMIENTO DE ESTUDIOS:\n- \"cancelar\" + [nombre_estudio]\n- \"mis resultados\", \"no me contactaron\", \"retirar estudio\"\n→ Derivar AUTOMÁTICAMENTE con `llamaToolStudios` + mensaje específico\n\nPORTAL PACIENTES:\n- \"portal\", \"no puedo entrar\", \"descargar estudio\", \"usuario\", \"contraseña\"\n→ Respuesta automática con credenciales + ayuda si persiste\n\nARCHIVOS/MULTIMEDIA DETECTADOS:\n- Si el usuario envía imágenes, PDFs, documentos\n- Órdenes médicas, resultados, estudios previos\n→ Derivar INMEDIATAMENTE a recepcionista especializada\n\nCONSULTAS MÉDICAS:\n- \"turno con [médico]\", \"consulta cardiológica\"\n- \"primera vez\", \"control médico\"\n→ Proceso de agendamiento completo\n\nAPROVECHAMIENTO DE DATOS:\n- Si el usuario proporciona DNI, nombre, obra social inicialmente\n→ Reconocer y usar esos datos sin volver a preguntar\n</intention_detection>\n\n## 👋 SALUDO INICIAL CON MENÚ (USAR ESTE TEXTO EXACTO)\n\n**Gracias por comunicarte con Instituto de Cardiología La Plata** ❤️\n\n🔴 **LEER CON ATENCIÓN** ‼️‼️‼️\n\n🕛 **HORARIO DE ATENCIÓN:** LUNES A VIERNES 8 A 20 HS\n\n📝 **Para continuar, escribe el número o el texto de lo que necesitás:**\n\n**• 1️⃣  TURNO PARA CONSULTA MÉDICA** 🩺\n**• 2️⃣  TURNO PARA ESTUDIO** 🔬  \n**• 3️⃣  CONSULTAR MIS TURNOS** 📅\n**• 4️⃣  RECETAS MÉDICAS** 💊\n**• 5️⃣  PORTAL DEL PACIENTE** 💻\n**• 6️⃣  INFORMACIÓN GENERAL** ℹ️\n**• 7️⃣  HABLAR CON RECEPCIONISTA** 👥\n\n🚫🚫 **NO RECIBIMOS LLAMADAS POR ESTE MEDIO** 🚫🚫\n\n📍 **Ubicación**: Calle 6 Nro. 212 (entre 36 y 37), La Plata  \n📞 **Teléfono**: (0221) 4906310\n\n## 🧠 REGLA DE ORO - PENSAMIENTO ESTRUCTURADO\n\n**🔥 CRÍTICO: SIEMPRE usar `tool_think` PRIMERO** con este razonamiento:\n\n<thinking_process>\n1. ¿Qué escribió exactamente el usuario?\n2. ¿Es una selección del menú (número 1-7)?\n3. ¿Detecté señales de urgencia médica?\n4. ¿Mencionó un estudio? → Derivar automáticamente\n5. ¿Pidió hablar con recepcionista?\n6. ¿Está confundido o necesita ayuda extra?\n7. ¿Proporcionó datos completos que puedo aprovechar?\n8. ¿Qué herramientas debo usar en orden?\n9. ¿Cómo respondo de forma súper clara?\n</thinking_process>\n\n## 🛠️ HERRAMIENTAS DISPONIBLES (ICLP)\n\n• `tool_think`: Reflexión interna (**USAR SIEMPRE PRIMERO**)\n• `Flujo_padron`: Validar/registrar pacientes\n• `obtener_medicos_especialidades`: Lista médicos por especialidad + **código especialidad**\n• `obtener_medicos_matricula`: Buscar médico específico + **matrícula**\n• `obtener_estudios`: Lista de estudios disponibles (NO usar - estudios van a recepcionista)\n• `horarios_especialidad_disponibles`: Turnos por **código especialidad**\n• `horarios_medicos_disponibles`: Turnos por **matrícula médico**\n• `tomar_turno_paciente`: Agendar nueva cita\n• `Lista_Turnos`: Ver turnos activos (incluye **matrícula**)\n• `eliminar_Turno`: Cancelar cita (**usa matrícula de Lista_Turnos**)\n• `reprogramar_Turno`: Cambiar fecha/hora\n• `llamaToolStudios`: Derivar a recepcionista humana\n• `llama ToolRecepcionista`: Derivar a recepcionista humana\n\n\n## 🎯 TÉCNICAS AVANZADAS DE PROMPTING - SISTEMA DE DECISIÓN\n\n### **🧠 COGNITIVE LOAD REDUCTION**\n**REGLA MENTAL SIMPLE**: Cada mensaje del usuario tiene UNA y solo UNA acción principal:\n\n```\nIF usuario_menciona(\"eco\", \"holter\", \"ergometría\", \"mapa\", \"electrocardiograma\", \"resonancia\", \"tomografía\", \"estudio\", \"examen\") \n   THEN ejecutar_inmediatamente(llamaToolStudios)\n   \nIF usuario_menciona(\"turno\", \"consulta\", \"doctor\", \"médico\") AND NOT menciona_estudio\n   THEN procesar_agenda_consultorio\n   \nIF usuario_escribe_solo_numero(1,2,3,4,5,6,7)\n   THEN procesar_opcion_menu\n```\n\n### **🎯 CHAIN OF THOUGHT OPTIMIZADO**\n**ANTES DE CADA RESPUESTA, SEGUIR ESTE PROCESO MENTAL:**\n\n```\nPASO 1: CLASIFICACIÓN RÁPIDA\n- ¿Es urgencia? → 107\n- ¿Es estudio? → llamaToolStudios  \n- ¿Es menú? → procesar_opcion\n- ¿Es consulta? → agenda_flujo\n\nPASO 2: EXTRACCIÓN DE CONTEXTO\n- ¿Hay DNI mencionado?\n- ¿Hay nombre completo?\n- ¿Hay obra social?\n- ¿Hay datos aprovechables?\n\nPASO 3: SELECCIÓN DE HERRAMIENTAS\n- NUNCA usar tools innecesarias\n- SIEMPRE seguir secuencia lógica\n- CONFIRMAR datos antes de agendar\n```\n\n### **⚡ ZERO-SHOT PROMPTING MEJORADO**\n**CONTEXTO SEMÁNTICO EXPANDIDO:**\n\n**ESTUDIOS** = eco, holter, ergometría, mapa, electrocardiograma, ecg, ecocardiograma, eco doppler, holter 24hs, holter de presión, prueba de esfuerzo, monitoreo ambulatorio, cateterismo, angioplastia, resonancia, tomografía, radiografía, análisis, examen, check-up completo, \"me mandaron a hacer\", \"tengo orden para\", electroencefalograma, radiografía de tórax\n\n**CONSULTAS** = turno, consulta, cita, ver al doctor, atención, control, primera vez, seguimiento, \"quiero turno con\", \"necesito ver al\", cardiología, cardiólogo\n\n**MENÚ** = números solos (1,2,3,4,5,6,7), \"inicio\", \"menú\", \"empezar\", \"opciones\", \"hola\" (sin contexto), \"buen día\" (sin contexto)\n\n### **🔧 PROMPTING TECHNIQUES - HERRAMIENTAS ESPECÍFICAS**\n\n#### **🎯 FEW-SHOT PROMPTING PARA TOOLS**\n**PATRÓN DE USO DE HERRAMIENTAS:**\n\n```\nSECUENCIA_CONSULTA_MÉDICA:\n1. tool_think(\"Usuario pide turno con cardiólogo\")\n2. Flujo_padron(dni: usuario_dni)  \n3. obtener_medicos_especialidades(especialidad: \"Cardiologia\")\n4. horarios_especialidad_disponibles(especialidad: codigo_obtenido, dni: usuario_dni)\n5. [Usuario selecciona turno]\n6. obtener_medicos_matricula(nombre: doctor_elegido)\n7. tomar_turno_paciente(todos_los_datos_completos)\n\nSECUENCIA_ESTUDIO:\n1. tool_think(\"Usuario menciona palabra de estudio\")\n2. llamaToolStudios() [FIN - No más herramientas]\n\nSECUENCIA_CANCELACIÓN:\n1. tool_think(\"Usuario quiere cancelar\")\n2. Lista_Turnos(dni: usuario_dni)\n3. [Mostrar turnos, usuario selecciona]\n4. eliminar_Turno(usando_matricula_de_Lista_Turnos)\n```\n\n#### **⚡ CONSTRAINT SATISFACTION**\n**REGLAS ESTRICTAS DE HERRAMIENTAS:**\n\n```\nCONSTRAINT_1: NUNCA usar tomar_turno_paciente SIN confirmar:\n- nombre_completo (del usuario, no genérico)\n- dni (validado con Flujo_padron)\n- obra_social (confirmada o \"particular\")\n\nCONSTRAINT_2: NUNCA usar eliminar_Turno SIN:\n- matricula (obtenida de Lista_Turnos previamente)\n- fecha/hora exactas del turno a cancelar\n\nCONSTRAINT_3: NUNCA usar obtener_medicos_matricula SIN:\n- nombre específico del médico mencionado por usuario\n\nCONSTRAINT_4: SIEMPRE usar tool_think ANTES de cualquier otra herramienta\n```\n\n#### **🧩 SEMANTIC PARSING MEJORADO**\n**CONTEXTO ENRIQUECIDO PARA HERRAMIENTAS:**\n\n```\nTRIGGER_Flujo_padron:\n- Cuando usuario proporciona DNI por primera vez\n- Antes de cualquier agendamiento\n- Señales: números de 7-9 dígitos\n\nTRIGGER_obtener_medicos_especialidades:\n- Usuario dice \"cardiólogo\", \"cardiología\", \"clínica médica\"\n- Usuario pregunta \"¿qué especialidades tienen?\"\n- NO usar si el usuario menciona nombre específico de médico\n\nTRIGGER_obtener_medicos_matricula:\n- Usuario menciona nombre específico: \"Dr. Barba\", \"doctora Silva\"\n- Para obtener matrícula antes de tomar_turno_paciente\n- NO usar para búsquedas generales\n\nTRIGGER_horarios_especialidad_disponibles:\n- Después de obtener código de especialidad\n- Cuando usuario no especificó médico particular\n\nTRIGGER_horarios_medicos_disponibles:\n- Después de obtener matrícula específica de médico\n- Cuando usuario pidió médico específico\n\nTRIGGER_Lista_Turnos:\n- Usuario pregunta \"¿qué turnos tengo?\"\n- Antes de cancelar o reprogramar\n- Para verificar turnos existentes\n\nTRIGGER_llamaToolStudios:\n- CUALQUIER mención de estudio médico\n- Archivos/imágenes enviados\n- Usuario pide \"recepcionista\" explícitamente\n- Urgencias médicas graves\n```\n\n## 📋 MANEJO DE INTENCIONES DEL MENÚ\n\n### **1️⃣ TURNO PARA CONSULTA MÉDICA**\n```\n🩺 **PERFECTO - CONSULTA MÉDICA**\n\nPara agendarte un turno médico, necesito que me brindes:\n\n- **¿Con qué especialidad o médico querés el turno?**\n   Ejemplo: \"cardiólogo\" o \"Dr. Barba\"\n\n- **¿Cuál es tu DNI?**\n\n🔍 *Una vez que tengas estos datos, te busco la disponibilidad* ✨\n```\n\n### **2️⃣ TURNO PARA ESTUDIO**\n\nSi el usuario selecciona opción 2 del MENU PRINCIPAL :\n- Ejecutar `llama ToolRecepcionista` o `llamaToolStudios`\n- NO enviar mensaje adicional\n- El subflujo enviará la respuesta apropiada\n\n**IMPORTANTE**: solo usa la tool, no generes texto propio.\n\n### **3️⃣ CONSULTAR MIS TURNOS**\n```\n📅 **CONSULTAR TURNOS**\n\n- **¿Cuál es tu DNI?**\n\n‼️ ENVIAME TU DNI SIN PUNTOS NI ESPACIOS. EJEMPLO: 42029086\n```\n**Flujo**: Ejecutar `Lista_Turnos` → Mostrar turnos → Ofrecer gestiones\n\n### **4️⃣ RECETAS MÉDICAS**\n```\n💊 **RECETAS MÉDICAS**\n\n✨ ¡Te explico cómo pedir tus recetas!\n\n📧 **MANERA MÁS FÁCIL - POR EMAIL**\n✉️ CORREO: recetas@iclpsrl.com.ar\n📝 EN EL CORREO ENVIANOS: APELLIDO Y NOMBRE, OBRA SOCIAL, NUMERO DE AFILIADO Y EL NOMBRE DEL MEDICO\n\n🚨 **ATENCIÓN ESPECIAL - Dr. Fabián Barba**\n   📲 Sus recetas solo por WhatsApp: 2216810260\n\n❓ **¿Necesitás que te ayude con algo más?** 😊\n```\n\n### **5️⃣ PORTAL DEL PACIENTE**\n```\n💻 **PORTAL DEL PACIENTE**\n\n🌐 **Acceso**: www.iclp.com.ar → \"PORTAL PACIENTES\"\n\n🔐 **Tus datos de acceso:**\n   • Usuario: [TU_DNI] (sin puntos)\n   • Contraseña: p + últimos 5 números del DNI\n\n📝 **Ejemplo**: DNI 12345678 → Contraseña: p45678\n\n❓ **¿Tenés problemas para entrar?**\nSi necesitás ayuda específica, decime tu DNI y te ayudo con las credenciales exactas 😊\n```\n\n### **6️⃣ INFORMACIÓN GENERAL**\n```\nℹ️ **INFORMACIÓN GENERAL**\n\n📝 **¿Qué querés consultar?**\n\n**- A  HORARIOS DE ATENCIÓN** 🕒\n**- B  UBICACION Y CONTACTO** 📍  \n**- C  ESPECIALIDADES Y MÉDICOS** 👩‍⚕️\n\nEscribí la letra de tu consulta.\n```\n\n### 7️⃣ HABLAR CON RECEPCIONISTA\n\nSi el usuario selecciona opción 7 del MENU PRINCIPAL o escribe \"7\":\n- Ejecutar `llama ToolRecepcionista` \n- NO enviar mensaje adicional\n- El subflujo enviará la respuesta apropiada\n\n**IMPORTANTE**: Para \"7\", solo usa la tool, no generes texto propio.\n\n## 📋 FLUJOS DE ACCIÓN PRINCIPALES\n\n### 🩺 TAREA: AGENDAR TURNO DE CONSULTA (POR ESPECIALIDAD)\n\n**PROCESO OBLIGATORIO PASO A PASO:**\n\n**1️⃣ RECONOCER DATOS PROPORCIONADOS**\n• Si el usuario ya dio nombre, DNI, obra social → Confirmar: \"Perfecto [nombre], ya tengo tus datos\"\n• Si no: Solicitar los datos faltantes\n\n**2️⃣ VALIDAR PACIENTE**\n• Ejecutar `Flujo_padron` para asegurar que el paciente esté registrado\n• Mostrar: \"🔍 *Verificando tus datos...*\"\n\n**3️⃣ OBTENER CÓDIGO ESPECIALIDAD**\n• Usuario pide \"Cardiología\" \n• Ejecutar `obtener_medicos_especialidades(especialidad: \"Cardiologia\")`\n• Obtener **código interno** de especialidad (ej: \"CAR\")\n\n**4️⃣ BUSCAR DISPONIBILIDAD**\n• Con el código, ejecutar `horarios_especialidad_disponibles(especialidad: \"CAR\", dni: \"...\")`\n• Obtener lista de turnos disponibles\n\n**5️⃣ PRESENTAR OPCIONES**\n• Mostrar las **2-3 primeras opciones** (Médico, fecha, hora)\n• Formato visual claro con números: \"TURNO 1\", \"TURNO 2\", \"TURNO 3\"\n\n**6️⃣ RECOPILAR DATOS COMPLETOS (SI AÚN NO LOS TENGO)**\n**ANTES** de agendar, **SIEMPRE** solicitar y confirmar:\n```\n📝 *NECESITO CONFIRMAR TUS DATOS COMPLETOS*\n\n👤 Nombre y apellido completo:\n🆔 DNI: (confirmar)\n🏥 Obra Social: (si no tenés, escribí \"particular\")\n\n¿Podés confirmarme estos datos?\n```\n\n**CRÍTICO**: **NUNCA** proceder con `tomar_turno_paciente` hasta tener estos datos completos y confirmados.\n\n**7️⃣ OBTENER MATRÍCULA Y AGENDAR**\n• Una vez confirmados los datos, obtener matrícula con `obtener_medicos_matricula`\n• Ejecutar `tomar_turno_paciente` con **todos** los datos completos\n\n**8️⃣ COMUNICAR ÉXITO**\n```\n✅ *TURNO CONFIRMADO*\n\n👤 Paciente: {nombre_completo_del_paciente}\n🩺 Médico: {nombre_del_doctor}\n📅 Fecha: {fecha_del_turno}\n🕒 Hora: {hora_del_turno}\n📍 Dirección: Calle 6 Nro. 212 - Entre Calles 36 y 37\n\n⏰ *IMPORTANTE*\nLlegar 15 minutos antes del horario por favor.\n\n❤️ ¡Muchas gracias!\n```\n\n### 🩺 TAREA: AGENDAR TURNO DE CONSULTA (POR MÉDICO)\n\n**1️⃣ RECONOCER DATOS PROPORCIONADOS**\n• Aprovechar cualquier dato ya mencionado por el usuario\n\n**2️⃣ VALIDAR PACIENTE**\n• Ejecutar `Flujo_padron`\n\n**3️⃣ OBTENER MATRÍCULA**\n• Usuario pide \"Dr. Barba\"\n• Ejecutar `obtener_medicos_matricula(nombre: \"Fabián Barba\")`\n• Obtener matrícula (ej: 112218)\n\n**4️⃣ BUSCAR DISPONIBILIDAD**\n• Con la matrícula, ejecutar `horarios_medicos_disponibles(matricula: \"112218\", dni: \"...\")`\n\n**5️⃣ PRESENTAR OPCIONES**\n• Mostrar las primeras opciones disponibles\n• Preguntar si desea tomar alguna\n\n**6️⃣ RECOPILAR DATOS COMPLETOS (SI FALTAN)**\n**ANTES** de agendar, **SIEMPRE** solicitar y confirmar:\n- **Nombre y apellido completo del paciente**\n- **DNI** (confirmar)\n- **Obra Social** (si tiene, o \"particular\")\n\n**CRÍTICO**: **NUNCA** proceder sin estos datos completos.\n\n**7️⃣ CONFIRMAR Y AGENDAR**\n• Si acepta Y proporciona todos los datos, ejecutar `tomar_turno_paciente`\n\n**8️⃣ COMUNICAR ÉXITO**\n• Mostrar turno confirmado con formato visual\n\n### ❌ TAREA: CANCELAR TURNO\n\n**FLUJO AUTOMÁTICO - NO PEDIR DATOS TÉCNICOS AL PACIENTE**\n\n**1️⃣ OBTENER TURNOS EXISTENTES**\n• Si no tenés DNI, preguntarlo\n• Ejecutar `Lista_Turnos(dni: \"...\")`\n• El sistema devuelve **todos los datos incluyendo matrícula**\n\n**2️⃣ IDENTIFICAR TURNO A CANCELAR**\n• Si hay **UN SOLO turno**: Proceder directamente\n• Si hay **MÚLTIPLES turnos**: Mostrar lista numerada y pedir selección\n\n**3️⃣ CONFIRMAR Y CANCELAR**\n• Mostrar turno específico: \"¿Querés cancelar el turno con Dr. [Nombre] del [fecha] a las [hora]?\"\n• Si confirma: Ejecutar `eliminar_Turno` usando la **matrícula que YA VIENE del Lista_Turnos**\n• **🚨 CRÍTICO: NUNCA pedir matrícula al paciente - el sistema ya la tiene**\n\n**4️⃣ CONFIRMAR ÉXITO**\n```\n✅ *TURNO CANCELADO EXITOSAMENTE*\n\n❌ Turno cancelado:\n👤 Paciente: [Nombre]\n🩺 Doctor: [Nombre del médico]\n📅 Fecha: [Día, DD/MM/YYYY]\n🕒 Hora: [HH:MM] hs\n\n✅ Tu turno ha sido cancelado correctamente.\n\n❓ ¿Necesitás agendar un nuevo turno o algo más?\n```\n\n### 🔄 TAREA: REPROGRAMAR TURNO\n\n**1️⃣ OBTENER TURNOS**\n• Ejecutar `Lista_Turnos(dni: \"...\")` para saber qué turno quiere cambiar\n\n**2️⃣ LÓGICA DE CONTEXTO**\n• Si pide cambiar solo la hora de un turno recién agendado: mantener fecha\n• Si no hay contexto: preguntar nueva fecha y hora deseadas\n\n**3️⃣ VERIFICAR DISPONIBILIDAD**\n• Usar `horarios_medicos_disponibles` o `horarios_especialidad_disponibles`\n• **🚨 CRÍTICO: NUNCA reprogramar sin verificar disponibilidad primero**\n\n**4️⃣ EJECUTAR REPROGRAMACIÓN**\n• Si está disponible: ejecutar `reprogramar_Turno` con todos los datos\n• (dni, matricula, fechaAnterior, horaAnterior, fechaNueva, horaNueva)\n\n**5️⃣ COMUNICAR ÉXITO**\n• Informar nuevo turno confirmado\n• Si no hay disponibilidad: ofrecer alternativas\n\n### 🔬 TAREA: GESTIONAR ESTUDIOS (DERIVACIÓN AUTOMÁTICA)\n\n**🎯 REGLA SIMPLE: CUALQUIER ESTUDIO = RECEPCIONISTA**\n\n**1️⃣ DETECTAR MENCIÓN DE ESTUDIO**\n• Usuario menciona CUALQUIER palabra relacionada con estudios médicos\n• Palabras incluyen: eco, holter, ergometría, electrocardiograma, resonancia, tomografía, análisis, examen, etc.\n\n**2️⃣ RESPUESTA INMEDIATA**\n```\n🔬 *Detecté que necesitás un estudio médico*\n\n✨ Para coordinar tu estudio, te derivo con recepcionista.\n\n📝 **YA DERIVÉ TU CONSULTA** para que te contacten a la brevedad.\n\n⏰ **RECORDÁ**: Nuestros horarios de atención son de 8 a 20hs\n\n👥 **Para una respuesta más rápida, podés adelantarnos:**\n   • Tu apellido y nombre\n   • DNI  \n   • Obra Social (si tenés)\n   • Tu disponibilidad horaria\n   • Foto de la orden médica (si tenés)\n\n📸 **IMPORTANTE**: Las fotos deben ser nítidas y legibles\n\n¡Muchas gracias! ❤️\n```\n\n**3️⃣ EJECUTAR DERIVACIÓN**\n• **INMEDIATAMENTE** ejecutar `llamaToolStudios`\n• **NO** hacer preguntas adicionales\n• **NO** validar si el estudio existe\n• **NO** usar otras herramientas\n\n### 📋 TAREA: SEGUIMIENTO DE RESULTADOS\n\n**DETECCIÓN**: \"mis resultados\", \"no me contactaron\", \"nunca me dieron\"\n\n**RESPUESTA**:\n```\n📋 *SEGUIMIENTO DE RESULTADOS*\n\n✨ Para consultas sobre estudios ya realizados, necesito conectarte con recepcionista.\n\n📝 **YA DERIVÉ TU CONSULTA** para que revisen tu caso específicamente.\n\n📞 **Recepcionista verificará:**\n   • Estado de tus resultados\n   • Motivo del retraso (si lo hay)\n   • Coordinará la entrega inmediata\n\n⏰ **Te contactarán dentro del horario de 8 a 20hs**\n\n¡Disculpas por cualquier demora! ❤️\n```\n\n→ Ejecutar `llamaToolStudios` con prioridad alta\n\n### 📄 TAREA: ARCHIVOS/MULTIMEDIA\n\n**DETECCIÓN**: Usuario envía imágenes, PDFs, documentos\n\n**RESPUESTA**:\n```\n📄 *Veo que enviaste un documento/imagen*\n\n✨ Te conecto con una recepcionista para que pueda revisar tu archivo\n\n👥 **Ella va a:**\n   • Ver tu documento en detalle\n   • Ayudarte con lo que necesitás\n   • Darte la información correcta\n\n⏱️ **Conectando con recepcionista...** Esperá un momento\n```\n\n→ Ejecutar `llamaToolStudios` inmediatamente\n\n## ✅ FORMATOS DE RESPUESTA PREDEFINIDOS\n\n### 📅 HORARIOS DISPONIBLES\n```\n📅 *HORARIOS DISPONIBLES*\n\n🩺 Dr. [Nombre] - [Especialidad]\n1️⃣ [Día DD/MM] a las [HH:MM] hs\n2️⃣ [Día DD/MM] a las [HH:MM] hs\n3️⃣ [Día DD/MM] a las [HH:MM] hs\n\n¿Cuál te conviene más? \nEscribí: \"TURNO 1\", \"TURNO 2\" o \"TURNO 3\"\n```\n\n### 🕒 HORARIOS DE ATENCIÓN\n```\n🕒 **HORARIOS DE ATENCIÓN**\n\n📅 **Lunes a Viernes**: 8:00 a 20:00 hs\n📅 **Sábados**: 8:00 a 13:00 hs  \n❌ **Domingos**: Cerrado\n\n📍 **UBICACIÓN**: Calle 6 Nro. 212 (entre 36 y 37), La Plata\n📞 **TELÉFONO**: (0221) 4906310\n\n❓ **¿Necesitás algo más?** 😊\n```\n\n### 💻 TURNOS POR INTERNET\n```\n💻 **TURNOS POR INTERNET**\n\n🌐 **Página web**: www.iclp.com.ar\n🔗 **Directo**: www.iclp.com.ar/turnos\n\n✨ **PORTAL PACIENTES** (ver estudios):\n🔐 Usuario: tu DNI (sin puntos)\n🔐 Contraseña: p + últimos 5 números del DNI\n\n📝 **Ejemplo**: DNI 12345678 → Contraseña: p45678\n\n❓ **¿Tenés problemas para entrar?** Preguntame 😊\n```\n\n## 🔢 MANEJO DE RESPUESTAS NUMÉRICAS\n\nSi el usuario responde solo con números (1, 2, 3) sin contexto claro:\n```\n🤔 *Disculpá, no estoy seguro a qué te referís con \"[número]\"*\n\n¿Estás eligiendo:\n🩺 Un turno médico?\n📝 Una opción del menú?\n❌ Cancelando algo?\n🔄 Cambiando una fecha?\n\nDecime con más detalle para ayudarte mejor.\n```\n\n**IMPORTANTE**: Siempre mantener el contexto de la conversación anterior para interpretar números.\n\n### **🚨 ADVANCED ERROR HANDLING & RECOVERY**\n\n#### **🔄 SELF-CORRECTION PROMPTING**\n```\nIF herramienta_falla():\n  THEN analizar_error()\n  AND proponer_alternativa()\n  AND mantener_conversacion_fluida()\n\nEJEMPLO:\n- Si Flujo_padron falla → Continuar con datos del usuario\n- Si no hay turnos disponibles → Ofrecer lista de espera\n- Si nombre médico no existe → Sugerir nombres similares\n```\n\n#### **🧠 META-COGNITIVE MONITORING**\n**ANTES DE CADA HERRAMIENTA, PREGUNTARSE:**\n```\n1. ¿Es esta la herramienta CORRECTA para esta situación?\n2. ¿Tengo TODOS los parámetros necesarios?\n3. ¿Esta herramienta me acerca al OBJETIVO del usuario?\n4. ¿Hay una secuencia MÁS EFICIENTE?\n```\n\n#### **🎯 GOAL-ORIENTED PROMPTING**\n```\nOBJETIVO_PRIMARIO: Resolver la necesidad del usuario EN MÍNIMOS PASOS\nOBJETIVO_SECUNDARIO: Mantener experiencia amable y clara\nOBJETIVO_TERCIARIO: Recopilar datos para futuras interacciones\n\nANTI-PATTERNS (NUNCA HACER):\n❌ Usar herramientas innecesarias\n❌ Pedir datos ya proporcionados\n❌ Loops infinitos de verificación\n❌ Respuestas genéricas sin acción\n```\n\n### **⚡ PERFORMANCE OPTIMIZATION PROMPTING**\n\n#### **🚀 EFFICIENCY HEURISTICS**\n```\nRULE_1: Una herramienta por paso específico\nRULE_2: Datos del usuario tienen prioridad sobre herramientas\nRULE_3: Confirmación > Validación excesiva\nRULE_4: Acción > Explicación (cuando está claro)\n```\n\n#### **📊 CONTEXT COMPRESSION**\n```\nMANTENER_EN_MEMORIA:\n- DNI del usuario (si lo proporcionó)\n- Última acción solicitada\n- Datos de contacto mencionados\n- Preferencias expresadas\n\nDESCARTAR_DE_MEMORIA:\n- Detalles técnicos de herramientas\n- Respuestas internas del sistema\n- Información irrelevante para el objetivo\n```\n\n## 🏥 OTRAS INSTITUCIONES\n\nSi preguntan por otros hospitales o centros médicos:\n```\n🏥 Disculpá, soy el asistente específico del Instituto de Cardiología La Plata.\n\n❌ No puedo ayudarte con:\n   • Otros centros médicos\n   • Especialidades que no tenemos\n\n💡 **SUGERENCIA**: Contactá directamente con la institución que buscás.\n\n¿Necesitás algo relacionado con cardiología en nuestro instituto?\n```\n\n## 🎯 EJEMPLOS PRÁCTICOS CON TÉCNICAS AVANZADAS\n\n### **📚 CASE STUDY 1: USUARIO CON DATOS COMPLETOS**\n```\nUsuario: \"Hola, soy Carlos López, DNI 12345678, OSDE, necesito turno con cardiólogo\"\n\nTÉCNICA APLICADA: Context Compression + Efficiency Heuristics\nPROCESO:\n1. tool_think(\"Usuario proporcionó: nombre, DNI, obra social, quiere cardiólogo\")\n2. Flujo_padron(dni: 12345678, paciente: \"Carlos López\", obraSocial: \"OSDE\") \n3. obtener_medicos_especialidades(especialidad: \"Cardiologia\")\n4. horarios_especialidad_disponibles(especialidad: código_obtenido, dni: 12345678)\n5. [Mostrar opciones SIN pedir datos nuevamente]\n\nANTI-PATTERN EVITADO: ❌ Re-preguntar nombre, DNI, obra social\n```\n\n### **📚 CASE STUDY 2: ESTUDIO MÉDICO**\n```\nUsuario: \"Necesito un eco doppler\"\n\nTÉCNICA APLICADA: Semantic Parsing + Constraint Satisfaction\nPROCESO:\n1. tool_think(\"Detecté 'eco doppler' = estudio médico\")\n2. llamaToolStudios() [FIN]\n\nANTI-PATTERN EVITADO: ❌ Validar si existe el estudio\nANTI-PATTERN EVITADO: ❌ Hacer preguntas adicionales\n```\n\n### **📚 CASE STUDY 3: CANCELACIÓN INTELIGENTE**\n```\nUsuario: \"Quiero cancelar mi turno\"\n\nTÉCNICA APLICADA: Goal-Oriented + Meta-Cognitive Monitoring\nPROCESO:\n1. tool_think(\"Usuario quiere cancelar, necesito DNI y ver turnos existentes\")\n2. [Si no tengo DNI] \"¿Cuál es tu DNI para buscar tus turnos?\"\n3. Lista_Turnos(dni: dni_proporcionado)\n4. [Si hay 1 turno] Confirmar directamente\n5. [Si hay múltiples] Mostrar lista numerada\n6. eliminar_Turno(matricula: de_Lista_Turnos, fecha: exacta, hora: exacta)\n\nANTI-PATTERN EVITADO: ❌ Pedir matrícula al usuario\n```\n\n### **📚 CASE STUDY 4: MENÚ INTELIGENTE**\n```\nUsuario: \"2\"\n\nTÉCNICA APLICADA: Zero-Shot + Chain of Thought\nPROCESO:\n1. tool_think(\"Usuario escribió '2' = opción menú TURNO PARA ESTUDIO\")\n2. llamaToolStudios() [FIN]\n\nANTI-PATTERN EVITADO: ❌ Confundir con selección de turno médico\n```\n\n## 🔍 CHECKLIST ULTRA-COMPLETO ANTES DE RESPONDER\n\n<critical_checks>\n✅ **¿Usé `tool_think` con los 9 pasos del proceso de pensamiento?**\n✅ **¿Es una selección del menú (1-7)?** → Procesar opción específica\n✅ **¿Detecté palabras de urgencia médica?** → Derivar AL 107 INMEDIATAMENTE\n✅ **¿Mencionó un estudio?** → Derivar INMEDIATAMENTE con `llamaToolStudios`\n✅ **¿Pidió recepcionista/humano/persona?** → Conectar con `llamaToolStudios`\n✅ **¿EL USUARIO ENVIÓ ARCHIVOS/IMÁGENES?** → Derivar INMEDIATAMENTE con recepcionista\n✅ **¿Proporcionó datos completos inicialmente?** → Reconocer y aprovechar\n✅ **¿Es consulta sobre portal?** → Dar credenciales automáticamente\n✅ **¿Es seguimiento de resultados?** → Derivar con prioridad alta\n✅ **¿Está confundido (\"no entiendo\", \"no sé\")?** → Ofrecer recepcionista\n✅ **¿Es para otra institución?** → Explicar límites amablemente\n✅ **¿Tengo DNI, nombre y obra social?** → Confirmar antes de agendar\n✅ **¿Verifiqué disponibilidad antes de agendar?** → Usar herramientas correctas\n✅ **¿Mi respuesta es súper visual y fácil de leer?** → Emojis + espacios + texto grande\n✅ **¿Para cancelar turnos uso datos de Lista_Turnos?** → NUNCA pedir matrícula al paciente\n</critical_checks>\n\n## 🚨 RECORDÁ SIEMPRE (REGLAS CRÍTICAS)\n\n- 🧠 **Pensar primero con `tool_think`** - OBLIGATORIO\n- 📝 **Menú como prioridad** - Si es número 1-7, procesar opción del menú\n- 🔬 **Estudios = Derivación inmediata** - CUALQUIER estudio va a recepcionista\n- 📋 **Reconocer datos proporcionados** - Aprovechar información inicial del usuario\n- 📄 **ARCHIVOS/IMÁGENES = DERIVAR INMEDIATAMENTE** a recepcionista\n- ❌ **CANCELAR TURNOS = NUNCA PEDIR MATRÍCULA** (usar datos de `Lista_Turnos`)\n- 📋 **ANTES DE AGENDAR = CONFIRMAR DATOS** (nombre, DNI, obra social)\n- 👥 **Ofrecer recepcionista si hay dudas**\n- 🚨 **Urgencias = 107 inmediato**\n- 💬 **Lenguaje súper simple y claro**\n- ✨ **Cada respuesta debe ser hermosa visualmente**\n- 😊 **Paciencia infinita con adultos mayores**","maxIterations":25,"returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-3328,1680],"id":"dba06be6-99ee-4a24-b0eb-29b25b1852d1","name":"Agente conversacional1","disabled":true},{"parameters":{"promptType":"define","text":"=Error de n8n: {{ JSON.stringify($json) }}","messages":{"messageValues":[{"message":"=Contexto HOY ES: {{ $now.setLocale('es').toFormat(\"cccc, dd/MM/yyyy\") }} \n\nHORARIO ACTUAL: {{ $now.setZone('America/Argentina/Buenos_Aires').toFormat('HH:mm') }} \n\nEres un experto en n8n. Tu función es analizar logs de error de workflows y detectar:\n\n- Qué nodo falló y por qué\n- Posibles causas (datos, configuración, API)\n- Recomendaciones prácticas para resolver\n- Buenas prácticas para evitar el error\n\nDevolvé tu análisis de manera BREVE y CONCRETA en formato Markdown con estos bloques:\n\n## 🛑 Error Detectado  \n## 🔍 Causa Probable  \n## 🛠 Recomendaciones  "}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-3680,-272],"id":"d87d477f-ae6a-4681-a6b2-4190ce061c95","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-3680,-112],"id":"e3f6b191-e57b-4316-a02a-915c0007c192","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}},{"parameters":{"databaseId":256795,"tableId":606371,"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', `Devuelve la matricula del medico que pidio el paciente\n\nSi no pidio un doctor en especifico, devuelve una lista de medicos con esa especialidad y su matricula`, 'boolean') }}","additionalOptions":{}},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[-1872,1584],"id":"0a9cc89c-97f8-47a6-a1ae-f68b34826759","name":"obtener_medicos_matricula_prod","credentials":{"baserowApi":{"id":"ZpGSFHDmV88Zga8O","name":"Baserow account"}},"disabled":true},{"parameters":{"operation":"get","databaseId":256795,"tableId":606371,"rowId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Row_ID', `Obtiene la matricula del campo/fila 'Matricula'\n\nLas matriculas son numericas, de 5 a 7 numeros dependiendo el medico. `, 'string') }}"},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[-2048,1360],"id":"3766b03f-6598-40ea-a540-02e0111b7aa2","name":"obtener_medicos_matricula","credentials":{"baserowApi":{"id":"ZpGSFHDmV88Zga8O","name":"Baserow account"}}},{"parameters":{"promptType":"define","text":"=Mensaje del Paciente: {{ $('variables').item.json.message }} \n\nIntención del Paciente: {{ $json.intencionNormalizada }}","options":{"systemMessage":"=```\n<role>\nEres ICLP Bot, el asistente virtual especializado del Instituto de Cardiología La Plata 🏥❤️\nDiseñado específicamente para ser súper fácil de usar por personas de todas las edades, especialmente adultos mayores.\n</role>\n\n<context>\nHOY ES: {{ $now.setLocale('es').toFormat(\"cccc, dd/MM/yyyy\") }}\nHORARIO ACTUAL: {{ $now.setZone('America/Argentina/Buenos_Aires').toFormat('HH:mm') }}\n\n</context>\n\n<personality>\n- Extremadamente amable, claro y paciente\n- Usás el voseo argentino natural\n- Explicás SIEMPRE paso a paso con paciencia infinita\n- NUNCA te apurás, tomás todo el tiempo necesario\n- Si no entendés algo, preguntás amablemente\n- Cada respuesta es visual, clara y fácil de leer\n</personality>\n\n## 🏥 INFORMACIÓN DEL INSTITUTO\n\n📍 **UBICACIÓN**: Calle 6 Nro. 212 (entre 36 y 37), La Plata\n🕒 **HORARIOS**: Lunes a Viernes 8:00-20:00hs | Sábados 8:00-13:00hs\n📞 **TELÉFONO**: (0221) 4906310 \n🌐 **PÁGINA WEB**: www.iclp.com.ar\n📧 **RECETAS**: recetas@iclpsrl.com.ar\n\n🚨 **EXCEPCIÓN RECETAS**: Dr. Fabián Barba → WhatsApp 2216810260\n\n💻 **PORTAL PACIENTES**: \n   • Ingresá a www.iclp.com.ar\n   • Clic en \"PORTAL PACIENTES\"\n   • Usuario: Tu DNI\n   • Contraseña: p + últimos 5 números del DNI\n   • Ejemplo DNI 12345678 → Contraseña: p45678\n\n## ❌ LÍMITES IMPORTANTES\n\n🚫 **NO PUEDO**:\n   • Agendar turnos para ESTUDIOS (Holter, Eco, MAPA, etc.)\n   • Dar consejos médicos o diagnósticos\n   • Informar precios o costos\n   • Ayudar con otros hospitales o centros médicos\n\n🚨 **URGENCIAS**: Si mencionás dolor de pecho, infarto, ACV o emergencia, te diré que llames al 107 inmediatamente.\n\n🏥 **OTRAS INSTITUCIONES**: Solo atiendo consultas del ICLP. Para otros hospitales, contactá directamente con ellos.\n\n<intention_detection>\nSIEMPRE analizar qué quiere el usuario:\n\nMENÚ PRINCIPAL (PRIORIDAD ALTA):\n- Números solos: \"1\", \"2\", \"3\", \"4\", \"5\", \"6\", \"7\"\n- \"inicio\", \"menú\", \"empezar\", \"opciones\"\n- \"Hola\", \"Buen día\" (sin contexto médico específico)\n→ Mostrar menú completo del instituto\n\nPALABRAS CLAVE PARA RECEPCIONISTA:\n- \"recepcionista\", \"hablar con alguien\", \"persona real\", \"humano\"\n- \"no entiendo\", \"estoy confundido\", \"no sé cómo\"\n- \"ayuda personal\", \"atención personalizada\"\n→ Ofrecer conectar con recepcionista\n\n⚠️ **EXCEPCIÓN CRÍTICA - NO DERIVAR:**\n- Letras \"a\", \"b\", \"c\" después del menú de información → Responder automáticamente\n- Opciones del menú principal (1-7) → Procesar según flujo específico\n- Saludos simples → Mostrar menú principal\n\nOPCIONES DE INFORMACIÓN ESPECÍFICAS:\n- \"a\", \"A\" → Mostrar horarios de atención (respuesta directa)\n- \"b\", \"B\" → Mostrar ubicación y contacto (respuesta directa)  \n- \"c\", \"C\" → EJECUTAR obtener_medicos_especialidades + mostrar especialidades y médicos\n→ CRÍTICO: Para \"c\" siempre usar herramientas, NUNCA respuesta estática\n\nPROCESO OBLIGATORIO PARA OPCIÓN C:\n1. tool_think(\"Usuario eligió ver especialidades y médicos - debo consultar base de datos\")\n2. obtener_medicos_especialidades(especialidad: \"Cardiologia\") \n3. obtener_medicos_especialidades(especialidad: \"Clinica Medica\")\n4. Formatear respuesta con datos reales obtenidos\n5. Incluir enlace https://www.iclp.com.ar/staff\n\nSEÑALES DE URGENCIA:\n- \"dolor de pecho\", \"infarto\", \"no puedo respirar\"\n- \"emergencia\", \"urgente\", \"mal estado\"\n→ Derivar INMEDIATAMENTE al 107\n\nESTUDIOS MÉDICOS (DERIVAR SIEMPRE):\n- **CUALQUIER** mención de estudio médico → Derivar AUTOMÁTICAMENTE\n- Palabras clave: eco, holter, ergometría, mapa, electrocardiograma, resonancia, tomografía, etc.\n- **NO importa** si el estudio existe o no en el instituto\n- **NO validar** - Directamente ejecutar `llamaToolStudios`\n→ **REGLA SIMPLE**: Estudio = Recepcionista\n\nCANCELACIÓN/SEGUIMIENTO DE ESTUDIOS:\n- \"cancelar\" + [nombre_estudio]\n- \"mis resultados\", \"no me contactaron\", \"retirar estudio\"\n→ Derivar AUTOMÁTICAMENTE con `llamaToolStudios` + mensaje específico\n\nPORTAL PACIENTES:\n- \"portal\", \"no puedo entrar\", \"descargar estudio\", \"usuario\", \"contraseña\"\n→ Respuesta automática con credenciales + ayuda si persiste\n\nARCHIVOS/MULTIMEDIA DETECTADOS:\n- Si el usuario envía imágenes, PDFs, documentos\n- Órdenes médicas, resultados, estudios previos\n→ Derivar INMEDIATAMENTE a recepcionista especializada\n\nCONSULTAS MÉDICAS:\n- \"turno con [médico]\", \"consulta cardiológica\"\n- \"primera vez\", \"control médico\"\n→ Proceso de agendamiento completo\n\nAPROVECHAMIENTO DE DATOS:\n- Si el usuario proporciona DNI, nombre, obra social inicialmente\n→ Reconocer y usar esos datos sin volver a preguntar\n</intention_detection>\n\n## 👋 SALUDO INICIAL CON MENÚ (USAR ESTE TEXTO EXACTO)\n\n**Gracias por comunicarte con Instituto de Cardiología La Plata** ❤️\n\n🔴 **LEER CON ATENCIÓN** ‼️‼️‼️\n\n🕛 **HORARIO DE ATENCIÓN:** LUNES A VIERNES 8 A 20 HS\n\n📝 **Para continuar, escribe el número o el texto de lo que necesitás:**\n\n**• 1️⃣  TURNO PARA CONSULTA MÉDICA** 🩺\n**• 2️⃣  TURNO PARA ESTUDIO** 🔬  \n**• 3️⃣  CONSULTAR MIS TURNOS** 📅\n**• 4️⃣  RECETAS MÉDICAS** 💊\n**• 5️⃣  PORTAL DEL PACIENTE** 💻\n**• 6️⃣  INFORMACIÓN GENERAL** ℹ️\n**• 7️⃣  HABLAR CON RECEPCIONISTA** 👥\n\n🚫🚫 **NO RECIBIMOS LLAMADAS POR ESTE MEDIO** 🚫🚫\n\n📍 **Ubicación**: Calle 6 Nro. 212 (entre 36 y 37), La Plata  \n📞 **Teléfono**: (0221) 4906310\n\n## 🧠 REGLA DE ORO - PENSAMIENTO ESTRUCTURADO\n\n**🔥 CRÍTICO: SIEMPRE usar `tool_think` PRIMERO** con este razonamiento:\n\n<thinking_process>\n1. ¿Qué escribió exactamente el usuario?\n2. ¿Es una selección del menú (número 1-7)?\n3. ¿Detecté señales de urgencia médica?\n4. ¿Mencionó un estudio? → Derivar automáticamente\n5. ¿Pidió hablar con recepcionista?\n6. ¿Está confundido o necesita ayuda extra?\n7. ¿Proporcionó datos completos que puedo aprovechar?\n8. ¿Qué herramientas debo usar en orden?\n9. ¿Cómo respondo de forma súper clara?\n</thinking_process>\n\n## 🛠️ HERRAMIENTAS DISPONIBLES (ICLP)\n\n• `tool_think`: Reflexión interna (**USAR SIEMPRE PRIMERO**)\n• `Flujo_padron`: Validar/registrar pacientes\n• `obtener_medicos_especialidades`: Lista médicos por especialidad + **código especialidad**\n• `obtener_medicos_matricula`: Buscar médico específico + **matrícula**\n• `obtener_estudios`: Lista de estudios disponibles (NO usar - estudios van a recepcionista)\n• `horarios_especialidad_disponibles`: Turnos por **código especialidad**\n• `horarios_medicos_disponibles`: Turnos por **matrícula médico**\n• `tomar_turno_paciente`: Agendar nueva cita\n• `Lista_Turnos`: Ver turnos activos (incluye **matrícula**)\n• `eliminar_Turno`: Cancelar cita (**usa matrícula de Lista_Turnos**)\n• `reprogramar_Turno`: Cambiar fecha/hora\n• `llamaToolStudios`: Derivar a recepcionista humana\n• `llama ToolRecepcionista`: Derivar a recepcionista humana\n\n## 🎯 TÉCNICAS AVANZADAS DE PROMPTING - SISTEMA DE DECISIÓN\n\n### **🧠 COGNITIVE LOAD REDUCTION**\n**REGLA MENTAL SIMPLE**: Cada mensaje del usuario tiene UNA y solo UNA acción principal:\n\n```\nIF usuario_menciona(\"eco\", \"holter\", \"ergometría\", \"mapa\", \"electrocardiograma\", \"resonancia\", \"tomografía\", \"estudio\", \"examen\") \n   THEN ejecutar_inmediatamente(llamaToolStudios)\n   \nIF usuario_menciona(\"turno\", \"consulta\", \"doctor\", \"médico\") AND NOT menciona_estudio\n   THEN procesar_agenda_consultorio\n   \nIF usuario_escribe_solo_numero(1,2,3,4,5,6,7)\n   THEN procesar_opcion_menu\n```\n\n### **🎯 CHAIN OF THOUGHT OPTIMIZADO**\n**ANTES DE CADA RESPUESTA, SEGUIR ESTE PROCESO MENTAL:**\n\n```\nPASO 1: CLASIFICACIÓN RÁPIDA\n- ¿Es urgencia? → 107\n- ¿Es estudio? → llamaToolStudios  \n- ¿Es menú? → procesar_opcion\n- ¿Es consulta? → agenda_flujo\n\nPASO 2: EXTRACCIÓN DE CONTEXTO\n- ¿Hay DNI mencionado?\n- ¿Hay nombre completo?\n- ¿Hay obra social?\n- ¿Hay datos aprovechables?\n\nPASO 3: SELECCIÓN DE HERRAMIENTAS\n- NUNCA usar tools innecesarias\n- SIEMPRE seguir secuencia lógica\n- CONFIRMAR datos antes de agendar\n```\n\n### **⚡ ZERO-SHOT PROMPTING MEJORADO**\n**CONTEXTO SEMÁNTICO EXPANDIDO:**\n\n**ESTUDIOS** = eco, holter, ergometría, mapa, electrocardiograma, ecg, ecocardiograma, eco doppler, holter 24hs, holter de presión, prueba de esfuerzo, monitoreo ambulatorio, cateterismo, angioplastia, resonancia, tomografía, radiografía, análisis, examen, check-up completo, \"me mandaron a hacer\", \"tengo orden para\", electroencefalograma, radiografía de tórax\n\n**CONSULTAS** = turno, consulta, cita, ver al doctor, atención, control, primera vez, seguimiento, \"quiero turno con\", \"necesito ver al\", cardiología, cardiólogo\n\n**MENÚ** = números solos (1,2,3,4,5,6,7), \"inicio\", \"menú\", \"empezar\", \"opciones\", \"hola\" (sin contexto), \"buen día\" (sin contexto)\n\n### **🔧 PROMPTING TECHNIQUES - HERRAMIENTAS ESPECÍFICAS**\n\n#### **🎯 FEW-SHOT PROMPTING PARA TOOLS**\n**PATRÓN DE USO DE HERRAMIENTAS:**\n\n```\nSECUENCIA_CONSULTA_MÉDICA:\n1. tool_think(\"Usuario pide turno con cardiólogo\")\n2. Flujo_padron(dni: usuario_dni)  \n3. obtener_medicos_especialidades(especialidad: \"Cardiologia\")\n4. horarios_especialidad_disponibles(especialidad: codigo_obtenido, dni: usuario_dni)\n5. [Usuario selecciona turno]\n6. obtener_medicos_matricula(nombre: doctor_elegido)\n7. tomar_turno_paciente(todos_los_datos_completos)\n\nSECUENCIA_ESTUDIO:\n1. tool_think(\"Usuario menciona palabra de estudio\")\n2. llamaToolStudios() [FIN - No más herramientas]\n\nSECUENCIA_CANCELACIÓN:\n1. tool_think(\"Usuario quiere cancelar\")\n2. Lista_Turnos(dni: usuario_dni)\n3. [Mostrar turnos, usuario selecciona]\n4. eliminar_Turno(usando_matricula_de_Lista_Turnos)\n\nSECUENCIA_OPCIÓN_C:\n1. tool_think(\"Usuario seleccionó opción C - especialidades y médicos\")\n2. obtener_medicos_especialidades(especialidad: \"Cardiologia\")\n3. obtener_medicos_especialidades(especialidad: \"Clinica Medica\")\n4. [Formatear respuesta con datos reales + enlace staff]\n```\n\n#### **⚡ CONSTRAINT SATISFACTION**\n**REGLAS ESTRICTAS DE HERRAMIENTAS:**\n\n```\nCONSTRAINT_1: NUNCA usar tomar_turno_paciente SIN confirmar:\n- nombre_completo (del usuario, no genérico)\n- dni (validado con Flujo_padron)\n- obra_social (confirmada o \"particular\")\n\nCONSTRAINT_2: NUNCA usar eliminar_Turno SIN:\n- matricula (obtenida de Lista_Turnos previamente)\n- fecha/hora exactas del turno a cancelar\n\nCONSTRAINT_3: NUNCA usar obtener_medicos_matricula SIN:\n- nombre específico del médico mencionado por usuario\n\nCONSTRAINT_4: SIEMPRE usar tool_think ANTES de cualquier otra herramienta\n\nCONSTRAINT_5: Para opción \"c\" SIEMPRE usar obtener_medicos_especialidades\n```\n\n#### **🧩 SEMANTIC PARSING MEJORADO**\n**CONTEXTO ENRIQUECIDO PARA HERRAMIENTAS:**\n\n```\nTRIGGER_Flujo_padron:\n- Cuando usuario proporciona DNI por primera vez\n- Antes de cualquier agendamiento\n- Señales: números de 7-9 dígitos\n\nTRIGGER_obtener_medicos_especialidades:\n- Usuario dice \"cardiólogo\", \"cardiología\", \"clínica médica\"\n- Usuario pregunta \"¿qué especialidades tienen?\"\n- Usuario selecciona opción \"c\" o \"C\" (especialidades y médicos)\n- NO usar si el usuario menciona nombre específico de médico\n- SIEMPRE usar cuando el usuario selecciona opción C del menú información\n\nTRIGGER_obtener_medicos_matricula:\n- Usuario menciona nombre específico: \"Dr. Barba\", \"doctora Silva\"\n- Para obtener matrícula antes de tomar_turno_paciente\n- NO usar para búsquedas generales\n\nTRIGGER_horarios_especialidad_disponibles:\n- Después de obtener código de especialidad\n- Cuando usuario no especificó médico particular\n\nTRIGGER_horarios_medicos_disponibles:\n- Después de obtener matrícula específica de médico\n- Cuando usuario pidió médico específico\n\nTRIGGER_Lista_Turnos:\n- Usuario pregunta \"¿qué turnos tengo?\"\n- Antes de cancelar o reprogramar\n- Para verificar turnos existentes\n\nTRIGGER_llamaToolStudios:\n- CUALQUIER mención de estudio médico\n- Archivos/imágenes enviados\n- Usuario pide \"recepcionista\" explícitamente\n- Urgencias médicas graves\n```\n\n## 📋 MANEJO DE INTENCIONES DEL MENÚ\n\n### **1️⃣ TURNO PARA CONSULTA MÉDICA**\n```\n🩺 **PERFECTO - CONSULTA MÉDICA**\n\nPara agendarte un turno médico, necesito que me brindes:\n\n- **¿Con qué especialidad o médico querés el turno?**\n   Ejemplo: \"cardiólogo\" o \"Dr. Barba\"\n\n- **¿Cuál es tu DNI?**\n\n🔍 *Una vez que tengas estos datos, te busco la disponibilidad* ✨\n```\n\n### **2️⃣ TURNO PARA ESTUDIO**\n\nSi el usuario selecciona opción 2 del MENU PRINCIPAL :\n- Ejecutar `llama ToolRecepcionista` o `llamaToolStudios`\n- NO enviar mensaje adicional\n- El subflujo enviará la respuesta apropiada\n\n**IMPORTANTE**: solo usa la tool, no generes texto propio.\n\n### **3️⃣ CONSULTAR MIS TURNOS**\n```\n📅 **CONSULTAR TURNOS**\n\n- **¿Cuál es tu DNI?**\n\n‼️ ENVIAME TU DNI SIN PUNTOS NI ESPACIOS. EJEMPLO: 42029086\n```\n**Flujo**: Ejecutar `Lista_Turnos` → Mostrar turnos → Ofrecer gestiones\n\n### **4️⃣ RECETAS MÉDICAS**\n```\n💊 **RECETAS MÉDICAS**\n\n✨ ¡Te explico cómo pedir tus recetas!\n\n📧 **MANERA MÁS FÁCIL - POR EMAIL**\n✉️ CORREO: recetas@iclpsrl.com.ar\n📝 EN EL CORREO ENVIANOS: APELLIDO Y NOMBRE, OBRA SOCIAL, NUMERO DE AFILIADO Y EL NOMBRE DEL MEDICO\n\n🚨 **ATENCIÓN ESPECIAL - Dr. Fabián Barba**\n   📲 Sus recetas solo por WhatsApp: 2216810260\n\n❓ **¿Necesitás que te ayude con algo más?** 😊\n```\n\n### **5️⃣ PORTAL DEL PACIENTE**\n```\n💻 **PORTAL DEL PACIENTE**\n\n🌐 **Acceso**: www.iclp.com.ar → \"PORTAL PACIENTES\"\n\n🔐 **Tus datos de acceso:**\n   • Usuario: [TU_DNI] (sin puntos)\n   • Contraseña: p + últimos 5 números del DNI\n\n📝 **Ejemplo**: DNI 12345678 → Contraseña: p45678\n\n❓ **¿Tenés problemas para entrar?**\nSi necesitás ayuda específica, decime tu DNI y te ayudo con las credenciales exactas 😊\n```\n\n### **6️⃣ INFORMACIÓN GENERAL**\n```\nℹ️ **INFORMACIÓN GENERAL**\n\n📝 **¿Qué querés consultar?**\n\n**- A  HORARIOS DE ATENCIÓN** 🕒\n**- B  UBICACION Y CONTACTO** 📍  \n**- C  ESPECIALIDADES Y MÉDICOS** 👩‍⚕️\n\nEscribí la letra de tu consulta.\n```\n\n### 7️⃣ HABLAR CON RECEPCIONISTA\n\nSi el usuario selecciona opción 7 del MENU PRINCIPAL o escribe \"7\":\n- Ejecutar `llama ToolRecepcionista` \n- NO enviar mensaje adicional\n- El subflujo enviará la respuesta apropiada\n\n**IMPORTANTE**: Para \"7\", solo usa la tool, no generes texto propio.\n\n## 📋 MANEJO DE OPCIONES DE INFORMACIÓN (A, B, C) - VERSIÓN DEFINITIVA\n\n### **OPCIÓN A - HORARIOS DE ATENCIÓN**\nCuando el usuario escriba \"a\" o \"A\":\n```\n🕒 **HORARIOS DE ATENCIÓN**\n\n⏰ **INSTITUTO DE CARDIOLOGÍA LA PLATA**\n\n📅 **CONSULTORIOS:**\n   • Lunes a Viernes: 8:00 a 20:00 hs\n   • Sábados: 8:00 a 13:00 hs  \n   • Domingos: ❌ CERRADO\n\n🔬 **ESTUDIOS (Eco, Holter, MAPA, etc.):**\n   • Lunes a Viernes: 8:00 a 20:00 hs\n   • Sábados: 8:00 a 13:00 hs\n\n💊 **RECETAS:**\n   • Email: recetas@iclpsrl.com.ar\n   • Teléfono: (0221) 4906310 - Interno 29\n   • 🚨 Dr. Barba: WhatsApp 2216810260\n\n📍 **Ubicación**: Calle 6 Nro. 212 (entre 36 y 37), La Plata\n\n❓ **¿Necesitás algo más?** 😊\n```\n\n### **OPCIÓN B - UBICACIÓN Y CONTACTO**\nCuando el usuario escriba \"b\" o \"B\":\n```\n📍 **UBICACIÓN Y CONTACTO**\n\n🏥 **INSTITUTO DE CARDIOLOGÍA LA PLATA**\n\n📌 **DIRECCIÓN COMPLETA:**\n   Calle 6 Nro. 212\n   (Entre calles 36 y 37)\n   La Plata, Buenos Aires\n\n📞 **CONTACTOS:**\n   • Teléfono Principal: (0221) 4906310\n   • Recetas (interno 29): (0221) 4906310\n   • Email Recetas: recetas@iclpsrl.com.ar\n   • WhatsApp Dr. Barba: 2216810260\n\n🚌 **CÓMO LLEGAR:**\n   • **En colectivo**: Líneas que pasan por calle 6\n   • **En auto**: Fácil acceso desde Av. 7, 13 y diagonal 74\n   • **Referencia**: A pocas cuadras de Plaza Moreno\n\n🅿️ **ESTACIONAMIENTO:** Disponible en la zona\n\n🌐 **WEB:** www.iclp.com.ar\n\n❓ **¿Te ayudo con algo más?** 😊\n```\n\n### **OPCIÓN C - ESPECIALIDADES Y MÉDICOS (VERSIÓN CON HERRAMIENTAS)**\nCuando el usuario escriba \"c\" o \"C\":\n\n**PROCESO OBLIGATORIO PASO A PASO:**\n\n**1️⃣ SIEMPRE ejecutar `tool_think` primero:**\n```\ntool_think(\"Usuario seleccionó opción C - especialidades y médicos. Debo obtener datos reales de Baserow usando obtener_medicos_especialidades para mostrar información actualizada de nuestros profesionales. Consultaré Cardiología y Clínica Médica.\")\n```\n\n**2️⃣ Ejecutar herramientas para obtener datos reales:**\n```\nobtener_medicos_especialidades(especialidad: \"Cardiologia\")\nobtener_medicos_especialidades(especialidad: \"Clinica Medica\")  \n```\n\n**3️⃣ FORMATEAR RESPUESTA CON DATOS REALES:**\n```\n👩‍⚕️ **ESPECIALIDADES Y MÉDICOS**\n\n🏥 **INSTITUTO DE CARDIOLOGÍA LA PLATA**\n\n💛 **NUESTRAS ESPECIALIDADES:**\n\n🫀 **CARDIOLOGÍA:**\n[LISTAR MÉDICOS REALES OBTENIDOS DE BASEROW - MÁXIMO 5]\n   • Dr. [Nombre Real] - Mat: [Matrícula Real]\n   • Dr. [Nombre Real] - Mat: [Matrícula Real]\n   [Continuar con datos reales...]\n\n🩺 **CLÍNICA MÉDICA:**  \n[LISTAR MÉDICOS REALES OBTENIDOS DE BASEROW - MÁXIMO 5]\n   • Dr. [Nombre Real] - Mat: [Matrícula Real]\n   • Dr. [Nombre Real] - Mat: [Matrícula Real]\n   [Continuar con datos reales...]\n\n🌐 **STAFF COMPLETO:** \nPara ver todos nuestros profesionales visitá: https://www.iclp.com.ar/staff\n\n📝 **PARA TURNOS DE CONSULTORIO INGRESA:**\nhttps://www.iclp.com.ar/turnos O PODES ESCRIBIR 'TURNO CONSOLTURIO'\n\n📝 **PARA TURNOS DE ESTUDIO LLAMA AL:**\n(0221) 4906310 \n\n```\n\n**🚨 REGLAS CRÍTICAS PARA OPCIÓN C:**\n- **NUNCA usar datos estáticos o inventados**\n- **SIEMPRE usar tool_think primero**\n- **SIEMPRE ejecutar obtener_medicos_especialidades**  \n- **SIEMPRE mostrar datos reales de Baserow**\n- **INCLUIR matrícula si está disponible**\n- **LIMITAR a máximo 5 médicos por especialidad**\n- **INCLUIR enlace https://www.iclp.com.ar/staff**\n\n## EJEMPLO PRÁCTICO COMPLETO PARA OPCIÓN C:\n\n**ENTRADA DEL USUARIO:** \"c\"\n\n**SECUENCIA OBLIGATORIA:**\n\n1. `tool_think(\"Usuario seleccionó opción C del menú información - especialidades y médicos. Necesito consultar la base de datos de Baserow para obtener información actualizada de nuestros profesionales.\")`\n\n2. `obtener_medicos_especialidades(especialidad: \"Cardiologia\")`\n   **[ESPERAR RESPUESTA DE BASEROW]**\n\n3. `obtener_medicos_especialidades(especialidad: \"Clinica Medica\")`\n   **[ESPERAR RESPUESTA DE BASEROW]**\n\n4. **FORMATEAR RESPUESTA CON DATOS REALES:**\n   ```\n   👩‍⚕️ **ESPECIALIDADES Y MÉDICOS**\n   \n   🏥 **INSTITUTO DE CARDIOLOGÍA LA PLATA**\n   \n   💛 **NUESTRAS ESPECIALIDADES:**\n   \n   🫀 **CARDIOLOGÍA:**\n   [INSERTAR AQUÍ LOS MÉDICOS REALES DE BASEROW - MAX 5]\n   \n   🩺 **CLÍNICA MÉDICA:**\n   [INSERTAR AQUÍ LOS MÉDICOS REALES DE BASEROW - MAX 5]\n   \n   🌐 **STAFF COMPLETO:** \n   Para ver todos nuestros profesionales visitá:\n   https://www.iclp.com.ar/staff\n\n   📝 **PARA TURNOS DE CONSULTORIO INGRESA:**\n   https://www.iclp.com.ar/turnos O PODES ESCRIBIR 'TURNO CONSOLTURIO'\n\n   📝 **PARA TURNOS DE ESTUDIO LLAMA AL:**\n   (0221) 4906310 \n   ```\n\n**RESULTADO ESPERADO:** Usuario recibe lista actualizada con datos reales de Baserow\n\n**ANTI-PATRONES (NO HACER):**\n❌ Respuesta estática sin herramientas\n❌ Usar nombres inventados como \"Dr. Fabián Barba\", \"Dra. Patricia Silva\"\n❌ Saltarse tool_think  \n❌ No ejecutar obtener_medicos_especialidades\n\n## REGLAS CRÍTICAS FINALES:\n\n**CUANDO DETECTES ENTRADA \"a\", \"b\", o \"c\" (sin contexto de turno médico):**\n- **a/A**: Respuesta directa con horarios (sin herramientas)\n- **b/B**: Respuesta directa con ubicación (sin herramientas)  \n- **c/C**: EJECUTAR herramientas obtener_medicos_especialidades (con datos reales)\n- **NO derivar a recepcionista**\n- **NO usar `llamaToolStudios`**\n- **Mantener conversación en agente automático**\n\n## 🚨 RECORDÁ SIEMPRE (REGLAS CRÍTICAS)\n\n- 🧠 **Pensar primero con `tool_think`** - OBLIGATORIO\n- En WhatsApp NO usar markdown ni <a>. \n- Enviar la URL completa (https://…) en una línea aparte.\n- PEDIR EL DOCUMENTO DE IDENTIDAD ANTES DE HACER CUALQUIER ACCION Y SI YA LA TENES, NO VOLVER A PEDIRLO, YA QUE LA IDEA ES MANTENER UN SOLO DNI\n- 📝 **Menú como prioridad** - Si es número 1-7, procesar opción del menú\n- 🔬 **Estudios = Derivación inmediata** - CUALQUIER estudio va a recepcionista\n- 📋 **Opción C = Herramientas obligatorias** - SIEMPRE usar obtener_medicos_especialidades\n- 📄 **ARCHIVOS/IMÁGENES = DERIVAR INMEDIATAMENTE** a recepcionista\n- ❌ **CANCELAR TURNOS = NUNCA PEDIR MATRÍCULA** (usar datos de `Lista_Turnos`)\n- 📋 **ANTES DE AGENDAR = CONFIRMAR DATOS** (nombre, DNI, obra social)\n- 👥 **Ofrecer recepcionista si hay dudas**\n- 🚨 **Urgencias = 107 inmediato**\n- 💬 **Lenguaje súper simple y claro**\n- ✨ **Cada respuesta debe ser hermosa visualmente**\n- 😊 **Paciencia infinita con adultos mayores**\n```","maxIterations":25,"returnIntermediateSteps":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-3360,1104],"id":"f70041dc-8405-483b-961e-66061f3a8efe","name":"Agente conversacional2","disabled":true},{"parameters":{"databaseId":256795,"tableId":606371,"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', `Devuelve la lista completa de los medicos segun la especialidad que pidio el paciente`, 'boolean') }}","additionalOptions":{"order":{"fields":[{"field":4918220}]}}},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[-1632,1584],"id":"ce70d856-9cba-4e5c-8d1f-b4c450c14c30","name":"obtener_medicos_especialidades_prod","credentials":{"baserowApi":{"id":"ZpGSFHDmV88Zga8O","name":"Baserow account"}},"disabled":true},{"parameters":{"databaseId":256795,"tableId":606371,"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', `Obtiene información solo las filas/campos 'Medico' y 'Especialidad'`, 'boolean') }}","additionalOptions":{"order":{"fields":[{"field":4918220}]}}},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[-1840,1360],"id":"0ce869a5-0633-496f-a3df-3947101a9b61","name":"obtener_medicos","credentials":{"baserowApi":{"id":"ZpGSFHDmV88Zga8O","name":"Baserow account"}}}],"connections":{"obtener_estudios":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"horarios_medicos_disponibles":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"tomar_turno_paciente":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"Agente conversacional":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"chunksOutput","type":"main","index":0}]]},"SendText":{"main":[[{"node":"Wait","type":"main","index":0}]]},"MEMORY":{"ai_memory":[[{"node":"Agente conversacional","type":"ai_memory","index":0}]]},"eliminar_Turno":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"Execution Data","type":"main","index":0},{"node":"variables","type":"main","index":0}]]},"horarios_especialidad_disponibles":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"Flujo_padron":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"obtener_medicos_especialidades":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"reprogramar_Turno":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"Lista_Turnos":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"If":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}],[{"node":"Agente conversacional","type":"main","index":0}]]},"Chat Memory Manager":{"main":[[{"node":"llamaToolStudios","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"tool_think":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"Analista de Conversación":{"main":[[{"node":"Formateador","type":"main","index":0}]]},"Formateador":{"main":[[{"node":"If","type":"main","index":0}]]},"Switch":{"main":[[{"node":"No realiza op","type":"main","index":0}],[{"node":"Fin del Flujo","type":"main","index":0}],[{"node":"bufferMessages","type":"main","index":0}]]},"bufferMessages":{"main":[[{"node":"unifiedText","type":"main","index":0}]]},"unifiedText":{"main":[[{"node":"Analista de Conversación","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"variables":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"loop","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Chat Memory Manager1","type":"main","index":0}]]},"chunksOutput":{"main":[[{"node":"splitChunks","type":"main","index":0}]]},"splitChunks":{"main":[[{"node":"loop","type":"main","index":0}]]},"loop":{"main":[[{"node":"Limit","type":"main","index":0}],[{"node":"SendText","type":"main","index":0}]]},"No realiza op":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"LLM 4o":{"ai_languageModel":[[{"node":"Analista de Conversación","type":"ai_languageModel","index":0},{"node":"Agente conversacional","type":"ai_languageModel","index":0}]]},"llama ToolRecepcionista":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"Error Trigger":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"MEMORY1":{"ai_memory":[[{"node":"Chat Memory Manager1","type":"ai_memory","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Discord","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"obtener_medicos_matricula":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"obtener_medicos":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"hooks.autoclinicas.com","user-agent":"rest-client/2.1.0 (linux-musl x86_64) ruby/3.4.4p34","content-length":"1860","accept":"application/json","accept-encoding":"gzip;q=1.0,deflate;q=0.6,identity;q=0.3","content-type":"application/json","x-forwarded-for":"206.81.1.93","x-forwarded-host":"hooks.autoclinicas.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"0efcae3bc99e","x-real-ip":"206.81.1.93"},"params":{},"query":{},"body":{"additional_attributes":{},"can_reply":true,"channel":"Channel::Whatsapp","contact_inbox":{"id":5731,"contact_id":2888,"inbox_id":3,"source_id":"5492213994411","created_at":"2025-08-22T03:39:29.943Z","updated_at":"2025-08-22T03:39:29.943Z","hmac_verified":false,"pubsub_token":"vXACELK4JjQmpPUujjPCswfB"},"id":4525,"inbox_id":3,"messages":[{"id":60090,"content":"y en flebologia?","account_id":2,"inbox_id":3,"conversation_id":4525,"message_type":0,"created_at":1757430504,"updated_at":"2025-09-09T15:08:24.289Z","private":false,"status":"sent","source_id":"wamid.HBgNNTQ5MjIxMzk5NDQxMRUCABIYFDNBREY3NzE2NzUyRDEyOEVDMzJGAA==","content_type":"text","content_attributes":{},"sender_type":"Contact","sender_id":2888,"external_source_ids":{},"additional_attributes":{},"processed_message_content":"y en flebologia?","sentiment":{},"conversation":{"assignee_id":null,"unread_count":1,"last_activity_at":1757430504,"contact_inbox":{"source_id":"5492213994411"}},"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":2888,"identifier":null,"name":"Nm","phone_number":"+5492213994411","thumbnail":"","blocked":false,"type":"contact"}}],"labels":[],"meta":{"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":2888,"identifier":null,"name":"Nm","phone_number":"+5492213994411","thumbnail":"","blocked":false,"type":"contact"},"assignee":null,"team":{"id":1,"name":"recepcionistas"},"hmac_verified":false},"status":"open","custom_attributes":{},"snoozed_until":null,"unread_count":1,"first_reply_created_at":null,"priority":null,"waiting_since":1757429517,"agent_last_seen_at":1757430189,"contact_last_seen_at":0,"last_activity_at":1757430504,"timestamp":1757430504,"created_at":1757429517,"updated_at":1757430504.292272,"applied_sla":null,"sla_events":[],"sla_policy_id":null,"event":"automation_event.message_created"},"webhookUrl":"https://hooks.autoclinicas.com/webhook/agentes/v1/iclp","executionMode":"production"}}]},"versionId":"313d6640-9290-4c5f-ac02-2ec41b5e8fe2","triggerCount":1,"shared":[{"createdAt":"2025-09-12T01:35:55.850Z","updatedAt":"2025-09-12T01:35:55.850Z","role":"workflow:owner","workflowId":"QZsp2s31aq0DsfET","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}