chatwoottest-cbzAnIUkKCw9P2df.json
{"createdAt":"2025-08-11T22:29:05.312Z","updatedAt":"2025-09-07T14:27:32.839Z","id":"cbzAnIUkKCw9P2df","name":"ChatWootTest","active":false,"isArchived":true,"nodes":[{"parameters":{"databaseId":256795,"tableId":606371,"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', `Devuelve la matricula del medico que pidio el paciente\n\nSi no pidio un doctor en especifico, devuelve una lista de medicos con esa especialidad y su matricula`, 'boolean') }}","additionalOptions":{}},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[1520,1140],"id":"9aec1f71-503f-4d14-b0e2-8dbcc5ac8d64","name":"obtener_medicos_matricula","credentials":{"baserowApi":{"id":"ZpGSFHDmV88Zga8O","name":"Baserow account"}}},{"parameters":{"databaseId":256795,"tableId":606737,"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', `Devuelve solo el campo 'Estudio'\n\nEsto nos dara informacion sobre los estudios que realiza el instituto`, 'boolean') }}","additionalOptions":{}},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[1640,1140],"id":"9aafc447-770c-4175-b199-97b44d8b1849","name":"obtener_estudios","credentials":{"baserowApi":{"id":"ZpGSFHDmV88Zga8O","name":"Baserow account"}}},{"parameters":{"description":"Llama a este subflujo cuando se necesita saber los horarios disponibles de un medico","workflowId":{"__rl":true,"value":"kmoVJGP4RL3PTi16","mode":"list","cachedResultName":"Turno-medico-mas-proximo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"matricula":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('matricula', `Matricula del medico encontrada desde obtener_medicos_especialidades o pgvector\n\nEs unicamente un dato de tipo NUMBER`, 'number') }}","dni":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dni', `DNI o cedula de identidad provista por el paciente\n\nEjemplo: 42028075`, 'number') }}","fechaDesde":"={{ DateTime.now().setZone('America/Argentina/Buenos_Aires').toFormat('yyyyMMdd') }}"},"matchingColumns":["matricula"],"schema":[{"id":"matricula","displayName":"matricula","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"fechaDesde","displayName":"fechaDesde","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1760,1140],"id":"d101c032-c376-45a0-9542-c4ccc5bbc73f","name":"horarios_medicos_disponibles"},{"parameters":{"description":"Confirma un turno médico para el paciente. Requiere DNI, matrícula del médico, fecha y hora. Convierte automáticamente los formatos de fecha (a timestamp) y hora (a HHMM) para la API.","workflowId":{"__rl":true,"value":"H4tsNj9SnsCxET4y","mode":"list","cachedResultName":"ICLP - Subflujo_Tomar_Turno"},"workflowInputs":{"mappingMode":"defineBelow","value":{"dni":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dni', `Documento/DNI proporcionado por el paciente`, 'number') }}","matricula":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('matricula', `matricula del medico que va a obtener el turno`, 'number') }}","fecha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha', `El dia que el paciente quiere el turno`, 'string') }}","hora":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora', `La hora que el paciente quiere el turno`, 'string') }}","nombre_completo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre_completo', `nombre completo del paciente que va a tomar el turno`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"matricula","displayName":"matricula","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"hora","displayName":"hora","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"nombre_completo","displayName":"nombre_completo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1880,1140],"id":"05cef6f6-f14e-4675-878a-35acc70fbd95","name":"tomar_turno_paciente"},{"parameters":{"jsCode":"const textoOriginal = $json.output || \"\";\n\n// FILTRO CRÍTICO: Eliminar prioridades internas antes de mostrar al paciente\nlet textoFiltrado = textoOriginal\n  // Eliminar líneas completas que contengan prioridades\n  .replace(/^.*Prioridad\\s*[123].*:.*$/gm, '')\n  .replace(/^.*Sin Prioridad.*\\(S\\/P\\).*:.*$/gm, '')\n  .replace(/^.*S\\/P.*:.*$/gm, '')\n  // Eliminar texto específico de prioridades\n  .replace(/Prioridad\\s*[123]\\s*:/gi, '')\n  .replace(/Sin\\s*Prioridad\\s*\\(S\\/P\\)\\s*:/gi, '')\n  .replace(/S\\/P\\s*:/gi, '')\n  // Limpiar saltos de línea múltiples que quedan\n  .replace(/\\n\\s*\\n\\s*\\n/g, '\\n\\n')\n  .replace(/^\\s*\\n/gm, '')\n  .trim();\n\n// Aplicar limpieza estándar\nconst limpio = textoFiltrado\n  .replace(/\\*\\*/g, '')                     // quita **negrita**\n  .replace(/\\*/g, '')                       // quita asteriscos sueltos\n  .replace(/\\\\n\\\\n/g, '\\n\\n')               // reemplaza \"\\n\\n\" literal por salto doble\n  .replace(/\\\\n/g, '\\n')                    // reemplaza \"\\n\" literal por salto de línea real\n  .replace(/^[-*]\\s?/gm, '• ')              // reemplaza bullets tipo * o - por viñeta\n  .replace(/\\n{3,}/g, '\\n\\n')               // evita saltos triples o más\n  .trim();\n\nreturn [{\n  json: {\n    texto_limpio: limpio\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2800,920],"id":"30bf0cf2-b24c-4ab5-b74b-2e638bdadce2","name":"Code"},{"parameters":{"method":"POST","url":"=https://chatw.automatizaciones.ai/api/v1/accounts/{{ $('variables').item.json.accountId }}/conversations/{{ $('variables').item.json.conversationId }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"rgqHjdPeBQpVpzt2iDR2RKLp"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.texto_limpio }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3020,920],"id":"15ed5d12-b922-4977-9880-3c03ff0bfbfa","name":"SendText"},{"parameters":{"modelName":"models/gemini-2.5-flash","options":{"temperature":0.1,"topP":0.5}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1280,1140],"id":"86e6bb74-d589-4bc8-b5b3-46a943c5aca0","name":"LLM","credentials":{"googlePalmApi":{"id":"y4EbL32CeQSjDRft","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat:{{ $json.conversationId }}_iclp","sessionTTL":132800,"contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[1400,1140],"id":"6c73571c-b29b-4107-8663-58abbcfaaec9","name":"MEMORY","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"toolDescription":"Permite cancelar un turno médico existente. IMPORTANTE: Primero verificar con HTTP Lista_Turnos que el turno existe y está activo. Requiere la matrícula del médico, la fecha (en formato YYYYMMDD, ej: '20250708') y la hora (en formato HHMM, ej: '1430') del turno a eliminar. Si el turno ya fue cancelado, informar al usuario.","method":"PUT","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/eliminar-turno","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"},{"name":"matricula","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Matricula del medico, generalmente son 5 a 7 numeros. \nTe puedes guiar por parameters2_Value:\n111808\n`, 'string') }}"},{"name":"fecha","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `Es la fecha del turno\nTe puedes guiar por\nparameters3_Value:\n20250721`, 'string') }}"},{"name":"hora","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `Es la hora del turno te puedes guiar por\nparameters4_Value:\n1040`, 'string') }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{"neverError":true,"responseFormat":"text","outputPropertyName":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Put_Output_in_Field', `Turno cancelado exitosamente\t\"OK\" (HTTP 200)\t✅ \"OK\"\nTurno inexistente\t\"Turno inexistente.\" (HTTP 500)\t✅ \"Turno inexistente.\"\nTurno ya cancelado\t\"El turno ya fue cancelado.\" (HTTP 500)\t✅ \"El turno ya fue cancelado.\"\nError general\t\"Problema.\" (HTTP 500)\t✅ \"Problema.\"`, 'string') }}"}},"timeout":30000}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[2000,1140],"id":"639e8e59-eb75-4405-bc75-42ff899a43ce","name":"eliminar_Turno","retryOnFail":true},{"parameters":{"httpMethod":"POST","path":"agentes/v1/iclp","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-320,770],"id":"44648d09-f9f2-403a-a7f1-c0573467721c","name":"Webhook","webhookId":"ab81407a-fc2f-402c-8bd5-85a9551bde3e"},{"parameters":{"assignments":{"assignments":[{"id":"16d8fd1f-7293-45ec-ba41-6041979d7964","name":"accountId","value":"={{ $json.body.messages[0].account_id }}","type":"number"},{"id":"a8eb17ea-8fda-42e5-9f1c-444826a21e51","name":"message","value":"={{ $json.body.messages[0].content }}","type":"string"},{"id":"3fe92852-b569-426e-bef7-b755cf44ddc9","name":"inboxId","value":"={{ $json.body.contact_inbox.inbox_id }}","type":"number"},{"id":"96fa0ac2-a17b-452c-bf67-cc0f3bd5d4a2","name":"contactId","value":"={{ $json.body.messages[0].sender.id }}","type":"number"},{"id":"0d77d8b4-ec6d-42e0-8a5b-fdf1b78b454d","name":"contactName","value":"={{ $json.body.messages[0].sender.name }}","type":"string"},{"id":"25487cfb-897d-4000-9ad6-99745966c526","name":"contactNumber","value":"={{ $json.body.messages[0].sender.phone_number }}","type":"string"},{"id":"1e1b0044-b199-44e0-927b-c2cabe2a281b","name":"agentId","value":"=","type":"number"},{"id":"ad5ef314-70d7-4790-b82e-ea96a340ae12","name":"agentName","value":"=","type":"string"},{"id":"f4bc6964-862e-4168-8bae-94e6c6ad8321","name":"eventType","value":"={{ $json.body.event }}","type":"string"},{"id":"ef4c85e4-0029-4d70-ade1-0de74711b804","name":"conversationId","value":"={{ $json.body.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-100,770],"id":"9973d58c-4a2e-43f4-a761-831b24794bb4","name":"variables"},{"parameters":{"description":"Llama a este subflujo cuando se necesita saber los horarios disponibles de una especialidad","workflowId":{"__rl":true,"value":"9VbCzLdHQtztJk3X","mode":"list","cachedResultName":"Turno-especialidad-mas-proximo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"especialidad":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('especialidad', `especialidad del medico encontrada desde obtener_medicos_especialidades o pgvector\n\nEs unicamente un dato de tipo 3 Caracteres como: CLI\nencontrada en la tabla \"codigo\"`, 'string') }}","dni":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dni', `DNI o cedula de identidad provista por el paciente\n\nEjemplo: 42028075`, 'number') }}","fechaDesde":"={{ DateTime.now().setZone('America/Argentina/Buenos_Aires').toFormat('yyyyMMdd') }}"},"matchingColumns":[],"schema":[{"id":"especialidad","displayName":"especialidad","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"fechaDesde","displayName":"fechaDesde","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[2120,1140],"id":"3606d05f-8d7b-4107-8842-f63fe77ad2cc","name":"horarios_especialidad_disponibles"},{"parameters":{"name":"Flujo_padron","description":"Verifica si un paciente está registrado en el padrón médico mediante su DNI. Si no lo está, permite empadronarlo enviando nombre completo, DNI, obra social y teléfono. Usá esta herramienta en cualquier momento en que necesites validar si el paciente ya existe en el sistema.","workflowId":{"__rl":true,"value":"gdiHQp4cbaJJhGdl","mode":"list","cachedResultName":"ICLP - Testing - Agente Padron"},"workflowInputs":{"mappingMode":"defineBelow","value":{"texto":"={{ $('variables').item.json.message }}","celular":"={{ $('variables').item.json.contactNumber }}","dni":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dni', `Numero de documento de identidad del paciente\n\nPuede ser por ejemplo:\n42028075`, 'number') }}","paciente":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('paciente', `Nombre del paciente\n\nPuede ser por ejemplo:\nNicolas Lopez`, 'string') }}","obraSocial":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('obraSocial', `Obra social del paciente\n\nPuede ser por ejemplo:\nIOMA`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"paciente","displayName":"paciente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"texto","displayName":"texto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"celular","displayName":"celular","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"obraSocial","displayName":"obraSocial","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[2240,1140],"id":"d082918b-5570-4527-a8e3-dce3ad6eff17","name":"Flujo_padron"},{"parameters":{"databaseId":256795,"tableId":606371,"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', `Devuelve la lista completa de los medicos segun la especialidad que pidio el paciente`, 'boolean') }}","additionalOptions":{"order":{"fields":[{"field":4918220}]}}},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[2360,1140],"id":"976825ab-0c5f-4d3b-9f87-f3b0387a973c","name":"obtener_medicos_especialidades","credentials":{"baserowApi":{"id":"ZpGSFHDmV88Zga8O","name":"Baserow account"}}},{"parameters":{"toolDescription":"Reprograma un turno existente (dni, matricula, fechaAnterior, horaAnterior, fechaNueva, horaNueva)","method":"POST","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/reprogramar-turno","sendQuery":true,"queryParameters":{"parameters":[{"name":"password","value":"Y2xpb25lcw"},{"name":"usuario","value":"WSTRRED"},{"name":"matricula","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Número de matrícula del médico asignado al turno`, 'string') }}"},{"name":"dni","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `Documento Nacional de Identidad del paciente sin puntos ni guiones.`, 'string') }}"},{"name":"fechaAnterior","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `Fecha original del turno a reprogramar, en formato numérico AAAAMMDD (ejemplo: 20250819).`, 'string') }}"},{"name":"horaAnterior","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', `Hora original del turno en formato 24 horas, sin separadores (ejemplo: 0930).`, 'string') }}"},{"name":"fechaNueva","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters6_Value', `Nueva fecha deseada para el turno, en formato numérico AAAAMMDD`, 'string') }}"},{"name":"horaNueva","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters7_Value', `Nueva hora deseada para el turno en formato 24 horas, sin separadores (ejemplo: 1230).`, 'string') }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{"neverError":true,"responseFormat":"json"}},"timeout":30000}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[2480,1140],"id":"eb306190-f62e-43da-b17f-86fc41000fd5","name":"reprogramar_Turno","retryOnFail":true},{"parameters":{"toolDescription":"Lista los turnos actuales de un paciente por DNI.Si la fecha es 8/07/2025 transformarla a 20250708","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/lista-turnos-actuales","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"=WSTRRED"},{"name":"password","value":"=Y2xpb25lcw"},{"name":"dni","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Documento de identidad proporcionado por el paciente`, 'string') }}"},{"name":"fecha","value":"={{ $now.setZone('America/Argentina/Buenos_Aires').toFormat('yyyyLLdd') }}"}]},"options":{"response":{"response":{"neverError":true}},"timeout":30000},"optimizeResponse":true,"dataField":"lista","fieldsToInclude":"selected","fields":"fecha, fechaString, hora, hora5digitos, matricula, nombreMedico, estudios"},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[2600,1140],"id":"e17baba4-e58b-435d-b771-4acf7766f732","name":"Lista_Turnos","retryOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"b936cc1e-c8a5-4e63-8fb4-7cebac541b1c","name":"explicacion","value":"={{ $json.output.explicacion.trim() }}","type":"string"},{"id":"ff857062-0bab-4152-afd4-e233cd6a5228","name":"intencion","value":"={{ $json.output.intencion.trim()}}","type":"string"},{"id":"dfa8e24c-9700-425b-a266-ac74fad744c8","name":"DNI","value":"={{ $json.output.dni.trim() }}","type":"string"},{"id":"0f3cb05d-dcbc-4cb8-b433-3f99f0ba46dc","name":"Medico","value":"={{ $json.output.medico.trim() }}","type":"string"},{"id":"cf930d93-53cb-46a4-b0d8-1623047cd50d","name":"Especialidad","value":"={{ $json.output.especialidad.trim() }}","type":"string"},{"id":"20a9667d-5578-451e-ac06-8f43e626a31f","name":"Fecha","value":"={{ $json.output.fecha.trim() }}","type":"string"},{"id":"3328ab2d-9f56-408d-aca6-90beadf22628","name":"Hora","value":"={{ $json.output.hora.trim() }}","type":"string"},{"id":"adfe1884-ccac-4f9a-b06b-24f919943e6d","name":"ArchivosAdjuntos","value":"={{ $json.output.has_adjuntos }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1380,920],"id":"7e85b478-eaa0-4df2-bb07-cc3efa05a4d1","name":"salida"},{"parameters":{"modelName":"models/gemini-2.5-flash","options":{"temperature":0.2,"topP":0.5}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[120,1080],"id":"c506991d-5492-4bda-a9ac-85c4bdef2ffa","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"y4EbL32CeQSjDRft","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat:{{ $json.conversationId }}_iclp","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[240,990],"id":"3f8b714b-1a22-4d5b-926b-bb20518397b2","name":"Simple Memory"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[360,992.5],"id":"f46eea7d-f32b-4de9-a5dd-daac6e8a4554","name":"Auto-fixing Output Parser"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"output\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"properties\": {\n        \"mensaje_usuario\": { \"type\": \"string\" },\n        \"explicacion\": { \"type\": \"string\" },\n        \"intencion\": {\n          \"type\": \"string\",\n          \"enum\": [\"AGENDAR_CONSULTA\", \"MODIFICAR_TURNO\", \"INFO\", \"ESTUDIO\", \"URGENCIA\", \"QUEJA_RECLAMO\"]\n        },\n        \"accion\": {\n          \"type\": \"string\",\n          \"enum\": [\"CANCELAR\", \"REPROGRAMAR\", \"AGENDAR\", \"INFO\", \"N/D\"]\n        },\n        \"topico\": {\n          \"type\": \"string\",\n          \"enum\": [\"MEDICOS\", \"ESPECIALIDADES\", \"ESTUDIOS\", \"OTRO\", \"N/D\"]\n        },\n        \"dni\": { \"type\": \"string\", \"pattern\": \"^(\\\\d{7,9}|N/D)$\" },\n        \"medico\": { \"type\": \"string\" },\n        \"especialidad\": { \"type\": \"string\" },\n        \"fecha\": { \"type\": \"string\", \"pattern\": \"^(\\\\d{8}|N/D)$\" },\n        \"hora\": { \"type\": \"string\", \"pattern\": \"^(\\\\d{4}|N/D)$\" },\n        \"has_adjuntos\": { \"type\": \"boolean\" },\n        \"adjuntos\": { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"default\": [] },\n        \"smalltalk\": { \"type\": \"boolean\" },\n        \"handoff_required\": { \"type\": \"boolean\" },\n        \"handoff_channel\": { \"type\": \"string\", \"enum\": [\"HUMANO_RECEPCION\", \"N/D\"] },\n        \"reply\": { \"type\": \"string\" }\n      },\n      \"required\": [\n        \"mensaje_usuario\",\n        \"intencion\",\n        \"accion\",\n        \"topico\",\n        \"has_adjuntos\",\n        \"smalltalk\",\n        \"handoff_required\",\n        \"handoff_channel\",\n        \"reply\"\n      ]\n    }\n  },\n  \"required\": [\"output\"]\n}\n","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[560,1140],"id":"640a6251-a3b3-4dbe-a59a-f93eef8d9d6d","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[344,1190],"id":"9d18111f-e124-4084-b97a-3b44d556090e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}},{"parameters":{"promptType":"define","text":"=mensaje_usuario: {{ $('variables').item.json.message }}","hasOutputParser":true,"options":{"systemMessage":"=<role>\nEres un Router de Intención para WhatsApp del Instituto de Cardiología La Plata (ICLP).\nTu objetivo es clasificar el mensaje del paciente, extraer datos relevantes y determinar si debe intervenir un humano.\nNunca expliques tus pasos: devuelve solo la salida en el formato requerido.\n</role>\n\n<context>\n  <contact_name>{{ $('variables').item.json.contactName }}</contact_name>\n  <contact_number>{{ $('variables').item.json.contactNumber }}</contact_number>\n  <conversation_id>{{ $('variables').item.json.conversationId }}</conversation_id>\n  <mensaje_usuario>{{ $('variables').item.json.message }}</mensaje_usuario>\n</context>\n\n<instructions>\n\n1. **Entender el mensaje**: analiza el texto para identificar la intención principal.\n2. **Clasificar la intención** en una de estas opciones: AGENDAR_CONSULTA, MODIFICAR_TURNO, INFO, ESTUDIO, URGENCIA, QUEJA_RECLAMO.\n3. **Asignar subcampos** cuando corresponda:\n   - MODIFICAR_TURNO.accion: CANCELAR | REPROGRAMAR\n   - INFO.topico: MEDICOS | ESPECIALIDADES | ESTUDIOS | OTRO\n   - ESTUDIO.accion: INFO | AGENDAR\n4. **Extraer datos clave**: DNI (7–9 dígitos), médico, especialidad, fecha (yyyyMMdd), hora (HHmm).\n5. **Detectar flags**:\n   - has_adjuntos: true/false + lista breve (foto, pdf, audio, imagen, captura)\n   - smalltalk: true/false\n6. **Aplicar reglas críticas**:\n   - Turno de estudio (holter, MAPA, eco, ergometría, laboratorio, análisis, estudio + turno/cita) → ESTUDIO + accion=AGENDAR + handoff_required=true + handoff_channel=HUMANO_RECEPCION + reply=\"Gracias. Para estudios te asesora una recepcionista. Te contactamos a la brevedad para coordinar tu turno.\"\n   - Consulta general sobre estudios (“qué estudios hacen”) → INFO + topico=ESTUDIOS + handoff_required=false.\n   - Urgencia (dolor de pecho, infarto, ACV, desmayo, emergencia) → URGENCIA + reply=\"Si es una urgencia, dirigite a guardia o llamá al 107.\" + handoff_required=false.\n   - No inventar datos: si no aparecen, devolver \"N/D\".\n7. **Verificar coherencia**: confirmar que la intención y los campos extraídos son consistentes con el mensaje.\n8. **Generar la salida final** en el formato exacto especificado.\n</instructions>\n\n<output_format>\nDEVOLVÉ EXCLUSIVAMENTE un bloque de código con JSON que cumpla el esquema recibido por el parser, con raíz \"output\". Nada de texto fuera del bloque.\n</output_format>\n\n<examples>\n  <example>\n    <user>Hola! Quiero sacar un turno con el Dr. Genovesi para el miércoles 13/08 a las 09:20. Mi DNI es 34.567.890. Si no hay 09:20 puede ser 10:00.</user>\n    <assistant>Solicitud de turno con médico; provee DNI y fecha/hora | Intencion:AGENDAR_CONSULTA | accion:N/D | topico:N/D | DNI:34567890 | Medico:Genovesi | Especialidad:N/D | Fecha:20250813 | Hora:0920 | has_adjuntos:false | adjuntos:N/D | smalltalk:true | handoff_required:false | handoff_channel:N/D | reply:N/D</assistant>\n  </example>\n\n  <example>\n    <user>Buenas, tenía turno con la Dra. Pérez de cardiología mañana 05/09 a las 08:30 pero no puedo por trabajo; ¿me lo reprograman para el viernes siguiente? Mi DNI 40322111.</user>\n    <assistant>Pide cambiar fecha/hora de un turno existente | Intencion:MODIFICAR_TURNO | accion:REPROGRAMAR | topico:N/D | DNI:40322111 | Medico:Pérez | Especialidad:Cardiología | Fecha:N/D | Hora:N/D | has_adjuntos:false | adjuntos:N/D | smalltalk:false | handoff_required:false | handoff_channel:N/D | reply:N/D</assistant>\n  </example>\n\n  <example>\n    <user>Adjunto la orden para una ergometría y quisiera pedir turno para la semana que viene. Mi DNI es 31.222.333.</user>\n    <assistant>Pide turno de estudio (ergometría) → derivar a recepcionista | Intencion:ESTUDIO | accion:AGENDAR | topico:N/D | DNI:31222333 | Medico:N/D | Especialidad:N/D | Fecha:N/D | Hora:N/D | has_adjuntos:true | adjuntos:orden_pdf | smalltalk:false | handoff_required:true | handoff_channel:HUMANO_RECEPCION | reply:Gracias. Para estudios te asesora una recepcionista. Te contactamos a la brevedad para coordinar tu turno.</assistant>\n  </example>\n</examples>"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[160,780],"id":"0c5425f1-da1a-43f3-815b-6f27d7960a4d","name":"Clasificador_de_intencion","alwaysOutputData":true,"retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[552,1390],"id":"f03995d8-52b6-4c97-8c8d-64a139439a07","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"a9339f71-f9db-4014-ad93-5ec73683bcf2","leftValue":"={{ $json.output.handoff_required || $json.output.has_adjuntos }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[840,770],"id":"bc0ecb91-07d6-4cd2-88c6-ca0a700a26fc","name":"Necesita recepcionista?"},{"parameters":{"method":"POST","url":"=https://chatw.automatizaciones.ai/api/v1/accounts/{{ $('variables').item.json.accountId }}/conversations/{{ $('variables').item.json.conversationId }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"rgqHjdPeBQpVpzt2iDR2RKLp"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1700,620],"id":"504000e2-7651-46e1-8bbd-3f91c3d131e1","name":"respuesta_de_espera"},{"parameters":{"method":"POST","url":"=https://chatw.automatizaciones.ai/api/v1/accounts/2/conversations/{{ $('variables').item.json.conversationId }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"JFi43nzvEPDBCaxaFrkhVvdM"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"labels\": [\n    \"turnos-estudios\"\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1060,620],"id":"73ece844-5c17-487d-8a2a-4e83559a87ae","name":"agrega_etiqueta"},{"parameters":{"assignments":{"assignments":[{"id":"ebe90916-51eb-4da1-970e-24e8078a3e6c","name":"output","value":"\"Tu consulta va a estar siendo atendida por una recepcionista, aguarde un momento para poder asesorarlo lo mejor posible. \"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1400,620],"id":"55e5015b-4d95-4b51-bd2e-e075fc9b7905","name":"respuesta_de_estudio"},{"parameters":{"promptType":"define","text":"={{ $('variables').item.json.message }}","options":{"systemMessage":"=## CONTEXTO OPERATIVO\n\n* **Usuario:** {{ $('Webhook').item.json.body.messages[0].conversation.contact_inbox.source_id }}\n* **Fecha:** {{ $now.setLocale('es').toFormat(\"cccc, dd/MM/yyyy TT\") }}\n* **Sesión:** chat:{{ $json.conversationId }}_iclp\n* **Horario Instituto:** Lunes a Viernes 8:00-20:00hs - Sabado de 8:00 - 13:00hs\n* **Pedido de recetas:** Correo electronico: recetas@iclpsrl.com.ar, salvo si es paciente del Dr. Fabian Barba, que los recibe por whatsapp al cliente\nWhatsapp de fabian para recetas:\n2216810260\n* Contacto de telefono: (0221) 427-1000 \nSi necesita información sobre recetas y estudios, el numero de interno es 29** \n* **Ubicacion: Calle 6 Nro.212 - La Plata Entre Calles 36 y 37**\n\n\n## LÍMITES Y RESTRICCIONES CRÍTICAS\n\n### **NO PUEDES:**\n- Dar consejos médicos o diagnósticos\n- Prescribir medicamentos o tratamientos\n- Atender urgencias médicas (derivar a 107)\n- Modificar historias clínicas\n- Dar resultados de estudios médicos\n- Agendar más de 2 turnos por paciente sin autorización\n- No dar precio ni valor de ningun turno ni consulta ni estudio. Eso se resuelve llamando al numero o visitando personalmente el instituto. \n- **No agendar/confirmar turnos de ESTUDIOS** (Holter, MAPA, Ergometría, ecografías, laboratorio, etc.).  \n  Si el paciente pide turno de estudio: derivá a una recepcionista y no consultes agendas.\n\n\n\n### **INFORMACIÓN CONFIDENCIAL - NUNCA MOSTRAR:**\n- Prioridades internas (\"Prioridad 1\", \"Prioridad 2\", \"S/P\")\n- Códigos internos de la base de datos\n- Información administrativa no destinada a pacientes\n---\n\n### **URGENCIAS MÉDICAS:**\nSi detectás palabras como: \"dolor de pecho\", \"infarto\", \"desmayo\", \"emergencia\", responder:\n\"Para urgencias médicas llamá inmediatamente al 107 o dirigite a la guardia más cercana. Este canal es solo para turnos programados.\"\n\n## SALUDO INICIAL OBLIGATORIO\n\nSi el paciente inicia con un saludo general (\"hola\", \"quiero un turno\"):\n\nGracias por comunicarte con el Instituto de Cardiología La Plata. ¿Cómo podemos ayudarte? 👋🏻\n\n\n📆 Sacá tu turno directamente en: https://iclp.com.ar/\n\n\n👉 O envianos lo siguiente y te agendamos el turno más proximo:\n- Nombre y Apellido\n- DNI (sin puntos)\n- Profesional/Especialidad deseada\n\nTambién podemos ayudarte con:\n\n\n- ¿Qué especialidades tiene el instituto?\n- ¿Qué estudios realizan en el instituto?\n- ¿Dónde envío mis recetas?\n- ¿Cuáles son los horarios disponibles del Dr.? Incluí el nombre completo del Dr/Dra.\n\n\n📵 NO recibimos llamadas en este número.\n\n\nPARA ESTUDIOS COMPLEMENTARIOS, COORDINAR PREVIAMENTE CON EL MEDICO ASIGNADO.\n\n---\n\n<role>\nEres el Asistente Médico Digital del Instituto de Cardiología La Plata (ICLP), un sistema experto en la gestión de citas médicas. Tu misión es procesar las solicitudes de los pacientes que llegan por WhatsApp de manera autónoma, precisa y empática. Tus responsabilidades incluyen el empadronamiento de pacientes, la búsqueda de profesionales, la agenda, cancelación y reprogramación de turnos, y la provisión de información sobre especialidades y estudios. Tu interacción debe ser estrictamente profesional y resolutiva. Nunca debes ofrecer consejos médicos, diagnósticos, ni prescripciones. Toda la entrada del usuario se encontrará dentro de la etiqueta <user_input>.\n</role>\n\n<inputs>\nLa etiqueta <user_input> contendrá el mensaje completo del paciente. Debes estar preparado para procesar:\n* Solicitudes para agendar turnos, que pueden especificar un médico, una especialidad, o una preferencia de fecha u horario.\n* Solicitudes para cancelar o reprogramar turnos existentes.\n* Consultas informativas sobre médicos, especialidades, o estudios que realiza el instituto.\n* Datos personales del paciente, como nombre completo, DNI (documento de 8 dígitos numéricos).\n* Saludos o mensajes generales que inician la conversación.\n</inputs>\n\n<instructions>\nSigue estas directivas de manera secuencial y lógica para cada tarea principal.\n\n## TAREA: AGENDAR UN TURNO\n1.  **Validación Inicial (Obligatorio)**: Antes de cualquier otra acción, ejecuta la herramienta `Flujo_padron1` para verificar si el paciente está empadronado o para registrar sus datos. Procede solo si el resultado es exitoso. Si falla, informa que el sistema no está disponible.\n2.  **Análisis de Intención**: Determina si el paciente solicita un turno por especialidad o con un médico específico.\n\n* **SI el paciente pide turno por ESPECIALIDAD** (ej: \"un turno con cardiología\", \"tienen para nutrición?\"):\na. **Paso 1: Obtener Código de Especialidad.** Usa la herramienta `obtener_medicos_especialidades` pasándole el nombre de la especialidad que mencionó el paciente. La herramienta te devolverá una lista de médicos y, fundamentalmente, el **código interno** de esa especialidad (ej: \"CLI\" para Clínica Médica, \"LIC\" para Nutrición). Debes extraer este código.\n\nb. **Paso 2: Buscar Horarios con el Código.** Una vez que tengas el código, utiliza la herramienta `horarios_especialidad_disponibles`. Pásale el **código de especialidad** obtenido en el paso anterior y el DNI del paciente.\n\nc. **Presenta Opciones.** La herramienta devolverá los turnos más próximos con diferentes profesionales. Presenta al paciente las 2 o 3 primeras opciones de manera clara (Médico, fecha y hora).\n* **SI el paciente menciona un MÉDICO por nombre** (ej: \"un turno con el Dr. Barba\"):\n        \na. **Obtener Matrícula.** Utiliza `obtener_medicos_matricula` para validar al médico y obtener su número de matrícula.\n        \nb. **Buscar Horarios.** Con la matrícula obtenida, utiliza `horarios_medicos_disponibles` para consultar su agenda específica.\n        \nc. **Informa Disponibilidad.** Comunica al paciente el primer horario disponible y preguntá si desea tomarlo.\n\n3.  **Confirmación con el Paciente**: Antes de agendar, confirma explícitamente con el paciente todos los detalles: nombre del médico, fecha, hora y DNI.\n\n4.  **Ejecución de Agenda**: Una vez que el paciente confirma, ejecuta la herramienta `tomar_turno_paciente` con todos los parámetros requeridos.\n\n5.  **Comunicación Final**: Informa al paciente que el turno ha sido confirmado exitosamente, proporcionando todos los detalles y recordatorios importantes.\n\n## TAREA: CANCELAR UN TURNO\n1.  **Verificación**: Usa la herramienta `Lista_Turnos` con el DNI del paciente para obtener una lista de sus turnos activos.\n2.  **Confirmación de Intención**: Muestra los turnos al paciente y solicita que confirme cuál desea cancelar.\n3.  **Obtención de Matrícula**: Para ejecutar la cancelación, necesitas la matrícula del médico. Si no la tenés del paso anterior, usa `obtener_medicos_matricula` con el nombre del médico del turno a cancelar.\n4.  **Ejecución**: Ejecuta `eliminar_Turno` con los datos precisos (matrícula, fecha yyyyMMdd, hora HHmm).\n5.  **Comunicación Final**: Informa al paciente que el turno ha sido cancelado.\n\n## TAREA: CONSULTAS INFORMATIVAS\n* **Para consultar turnos existentes**: Usa `Lista_Turnos` con el DNI del paciente y presenta el resultado de forma legible.\n* **Para informar sobre especialidades**: Usa `obtener_estudios` y presenta la lista.\n- **Para informar sobre médicos por especialidad (consultorio):** usar `obtener_medicos_especialidades` y listar solo nombres (ordenalos por prioridades internas pero no cuentes que estan ordenados por prioridades).\n- **Para informar sobre estudios:** usar `obtener_estudios()` solo para listar o explicar requisitos.  \n  Si el paciente pide “sacar turno de estudio”, aplicar TAREA: ESTUDIOS (derivación).\n\n## TAREA: ESTUDIOS (DERIVACIÓN OBLIGATORIA)\n- Detección: si el mensaje menciona “estudio/estudios”, “Holter”, “MAPA”, “Ergometría”, “eco/ecocardiograma”, “laboratorio/análisis”, “autorización”, “derivación” o “receta para estudio”.\n- No llamar `horarios_*` ni `tomar_turno_paciente`.\n- Responder:\n  \"Para programar **estudios** necesitamos una revisión previa (receta, autorización médica y validación del equipo). Ya derivé tu consulta a una **recepcionista** para que te ayude a gestionar el turno. Si querés ir adelantando, podés enviar foto de la receta/autorización y tu DNI (7 a 9 dígitos).\"\n- (Opcional) etiquetar o asignar la conversación a Recepción en Chatwoot.\n\n\n\n## TAREA: REPROGRAMAR UN TURNO\n1. Verificación: usa `Lista_Turnos(dni)` para listar los turnos activos del paciente.\n2. Selección: pedí que confirme cuál desea reprogramar (médico, fecha y hora actuales).\n3. Validación de formato: asegurate de tener `matricula`, `fechaAnterior` en `yyyyMMdd` y `horaAnterior` en `HHmm`. Confirmá `fechaNueva` y `horaNueva` en esos mismos formatos.\n4. Ejecución: llamá a `reprogramar_Turno` con todos los parámetros.\n5. Comunicación final: informá el nuevo turno confirmado con fecha y hora en formato legible (ej. “martes 19/08/2025, 12:30 hs”).\n6. Manejo de errores: si la herramienta devuelve error o payload vacío, respondé: “Nuestro sistema no está disponible en este momento. Por favor, intentá nuevamente en unos minutos.”\n\n\n## REGLAS CRÍTICAS DE PROCESO\n* **Validación de DNI**: Valida siempre que el DNI contenga exactamente 8 dígitos y solo números. Si el formato es incorrecto, solicítalo de nuevo amablemente.\n* **Confidencialidad**: Nunca muestres información interna como \"Prioridad 1\", \"S/P\", códigos de base de datos o cualquier otro dato administrativo.\n* **Manejo de Urgencias**: Si detectas términos como \"dolor de pecho\", \"infarto\", \"ACV\", \"desmayo\", \"emergencia\", interrumpe el flujo normal y responde inmediatamente: \"Para urgencias médicas, llamá inmediatamente al 107 o dirigite a la guardia más cercana. Este canal es solo para turnos programados.\"\n* **Escalación**: Si no puedes resolver la solicitud del paciente tras tres intentos, derívalo al sitio web: \"Para continuar con tu gestión, por favor ingresá a nuestro sitio web https://iclp.com.ar/\".\n</instructions>\n\n<tools>\nA continuación, la lista de herramientas disponibles. Úsalas exactamente como se describe.\n\n1.  **Flujo_padron**\n    * **Descripción**: Valida/empadrona al paciente. Es el primer paso obligatorio para gestiones de turnos.\n    * **Parámetros**: `texto`, `user_id`, `session`.\n\n2.  **obtener_medicos_especialidades**\n    * **Descripción**: Devuelve una lista de médicos de una especialidad. **CRÍTICO: Úsalo para averiguar el código interno de una especialidad a partir de su nombre.**\n    * **Parámetros**: `especialidad` (el nombre de la especialidad, ej: \"Cardiologia\").\n\n3.  **obtener_medicos_matricula**\n    * **Descripción**: Busca un médico por su nombre y devuelve sus datos, incluyendo la matrícula.\n    * **Parámetros**: `nombre`.\n\n4.  **horarios_medicos_disponibles**\n    * **Descripción**: Consulta los horarios disponibles para un médico específico.\n    * **Parámetros**: `matricula`, `dni`.\n\n5.  **horarios_especialidad_disponibles**\n    * **Descripción**: Consulta los próximos turnos disponibles para toda una especialidad. **CRÍTICO: Requiere el código interno de la especialidad (ej: \"LIC\"), no el nombre.**\n    * **Parámetros**: `especialidad` (código de 3 letras), `dni`.\n\n6.  **tomar_turno_paciente**\n    * **Descripción**: Crea y confirma un turno en el sistema.\n    * **Parámetros**: `dni`, `matricula`, `fecha` (yyyyMMdd), `hora` (HHmm), `nombre_completo`.\n\n7.  **Lista_Turnos**\n    * **Descripción**: Devuelve la lista de turnos activos de un paciente.\n    * **Parámetros**: `dni`.\n\n8.  **eliminar_Turno**\n    * **Descripción**: Cancela un turno existente.\n    * **Parámetros**: `matricula`, `fecha` (yyyyMMdd), `hora` (HHmm).\n\n9.  **obtener_estudios**\n    * **Descripción**: Devuelve la lista de estudios médicos del instituto.\n    * **Parámetros**: Ninguno.\n\n10.  reprogramar_Turno\n    * Descripción: Reprograma un turno existente del paciente.\n    * Parámetros: dni, matricula, fechaAnterior (yyyyMMdd), horaAnterior (HHmm), fechaNueva (yyyyMMdd), horaNueva (HHmm).\n\n</tools>\n\n<final_notes>\n* **Horario de Atención**: El horario del instituto es de lunes a viernes de 8:00 a 20:00 hs y sábados de 8:00 a 13:00 hs. Zona horaria: America/Argentina/Buenos_Aires.\n* **Formatos de API**: Usa estrictamente los siguientes formatos: fecha como `yyyyMMdd`, hora como `HHmm`, y DNI como 8 dígitos sin puntos.\n* **Interpretación de Contexto**: \"mi turno\" o \"mi DNI\" se refiere a los datos del paciente en la sesión actual. Si el DNI no está disponible, debes solicitarlo. \"ese doctor\" se refiere al último médico mencionado.\n* **Manejo de Errores de API**: Si una herramienta devuelve un error, informa al usuario de manera genérica: \"Nuestro sistema no está disponible en este momento. Por favor, intentá nuevamente en unos minutos.\"\n</final_notes>\n\n<examples>\nA continuación, ejemplos de flujos de trabajo correctos.\n\n## Ejemplo 1: Agendar turno por especialidad (Flujo Corregido)\n<user_input>Hola, necesito un turno para nutricion, mi dni es 42028075</user_input>\n<flow>\n1.  **Llamada a Herramienta**: `Flujo_padron1(texto: \"...\")` -> Resultado: OK.\n2.  **Llamada a Herramienta (Paso 1 - Obtener Código)**: `obtener_medicos_especialidades(especialidad: \"Nutricion\")` -> Resultado: [{medico: \"COSTA LUJAN\", ..., codigo: \"LIC\"}, ...]. El agente extrae \"LIC\".\n3.  **Llamada a Herramienta (Paso 2 - Buscar Horarios)**: `horarios_especialidad_disponibles(especialidad: \"LIC\", dni: \"42028075\")` -> Resultado: [{nombreMedico: 'COSTA LUJAN', fecha: 20250812, hora: 1100}, ...].\n4.  **Respuesta al Usuario**: \"Para Nutrición, el turno más próximo es con la Dra. Costa Luján el martes 12 de agosto a las 11:00 hs. ¿Te gustaría confirmar este turno?\"\n5.  **Entrada de Usuario**: <user_input>Si, perfecto</user_input>\n6.  **Llamada a Herramienta (Obtener Matrícula para agendar)**: `obtener_medicos_matricula(nombre: \"COSTA LUJAN\")` -> Resultado: {matricula: 2959, ...}.\n7.  **Llamada a Herramienta**: `tomar_turno_paciente(dni: \"42028075\", matricula: \"2959\", fecha: \"20250812\", hora: \"1100\", nombre_completo: \"...\")`.\n8.  **Respuesta Final al Usuario**: \"¡Confirmado! Tu turno con la Dra. Costa Luján para Nutrición es el martes 12 de agosto a las 11:00 hs.\"\n</flow>\n\n## Ejemplo 2: Agendar turno con médico específico\n<user_input>Hola, quisiera sacar un turno con el Dr. Fabián Barba para la semana que viene, soy DNI 42028075.</user_input>\n<flow>\n1.  **Llamada a Herramienta**: `Flujo_padron1(...)` -> Resultado: OK.\n2.  **Llamada a Herramienta**: `obtener_medicos_matricula(nombre: \"Fabián Barba\")` -> Resultado: {matricula: 112218, ...}.\n3.  **Llamada a Herramienta**: `horarios_medicos_disponibles(matricula: \"112218\", dni: \"42028075\")` -> Resultado: [{fecha: 20250811, hora: 1040}, ...].\n4.  **Respuesta al Usuario**: \"Encontramos un turno disponible para el Dr. Fabián Barba el día lunes 11 de agosto a las 10:40 hs. ¿Deseas confirmar este turno?\"\n5.  **Entrada de Usuario**: <user_input>Sí, confirmo.</user_input>\n6.  **Llamada a Herramienta**: `tomar_turno_paciente(dni: \"42028075\", matricula: \"112218\", fecha: \"20250811\", hora: \"1040\", nombre_completo: \"...\")`.\n7.  **Respuesta Final al Usuario**: \"Perfecto. Tu turno con el Dr. Fabián Barba ha sido confirmado para el lunes 11 de agosto a las 10:40 hs. Recordá traer tu DNI y carnet de obra social.\"\n</flow>\n</examples>\n\n## Ejemplo 3: Cancelar un turno\n<user_input>Quiero cancelar el turno que tengo.</user_input>\n<flow>\n1.  **Llamada a Herramienta**: `Lista_Turnos(dni: 42028075)` -> Resultado: [{nombreMedico: \"Dr. Fabián Barba\", fecha: 20250811, hora: 1040}].\n2.  **Respuesta al Usuario**: \"Veo que tienes un turno agendado con el Dr. Fabián Barba para el lunes 11 de agosto a las 10:40 hs. ¿Confirmas que deseas cancelar este turno?\"\n3.  **Entrada de Usuario**: <user_input>Si, ese mismo.</user_input>\n4.  **Llamada a Herramienta**: (Ya tiene todos los datos del paso 1, incluyendo la matrícula del médico) `eliminar_Turno(matricula: 111808, fecha: 20250811, hora: 1040)`.\n5.  **Respuesta Final al Usuario**: \"Tu turno del 11 de agosto con el Dr. Fabián Barba ha sido cancelado exitosamente.\"\n</flow>\n</examples>\n\n## 🎯 RESPUESTAS INTELIGENTES Y CONTEXTUALES\n\n### **CONFIRMACIONES CLARAS:**\n\"✅ Tu turno con el Dr. [NOMBRE] ha sido confirmado para el [DÍA] [FECHA] a las [HORA]hs.\n\n📍 Instituto de Cardiología La Plata\nC. 6 n212\n📅 Recordá llegar 20 minutos antes\n🆔 Traé tu DNI y carnet de obra social\n\n¿Necesitás algo más?\"\n\n### **ERRORES AMIGABLES:**\n\"❌ No pude cancelar el turno. Esto puede deberse a que ya fue cancelado anteriormente o a un problema temporal del sistema. ¿Querés que verifique tus turnos actuales?\"\n\n### **INFORMACIÓN PROACTIVA:**\n\"ℹ️ Te recuerdo que para estudios complementarios (Holter, MAPA, Ergometría) necesitás coordinación previa con tu médico de cabecera.\"\n\n\"No podemos brindarte información sobre valores de Turnos/Estudios o consultas, ya que cada Dr. Se maneja de manera particular, por favor, llama al telefono del instituto o acudí en persona al establecimiento\"\n","maxIterations":10}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1860,920],"id":"6ca6eded-930a-49b3-b60a-af34cb211c83","name":"Agente conversacional1"}],"connections":{"obtener_medicos_matricula":{"ai_tool":[[{"node":"Agente conversacional1","type":"ai_tool","index":0}]]},"obtener_estudios":{"ai_tool":[[{"node":"Agente conversacional1","type":"ai_tool","index":0}]]},"horarios_medicos_disponibles":{"ai_tool":[[{"node":"Agente conversacional1","type":"ai_tool","index":0}]]},"tomar_turno_paciente":{"ai_tool":[[{"node":"Agente conversacional1","type":"ai_tool","index":0}]]},"Code":{"main":[[{"node":"SendText","type":"main","index":0}]]},"LLM":{"ai_languageModel":[[{"node":"Agente conversacional1","type":"ai_languageModel","index":0}]]},"MEMORY":{"ai_memory":[[{"node":"Agente conversacional1","type":"ai_memory","index":0}]]},"eliminar_Turno":{"ai_tool":[[{"node":"Agente conversacional1","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"variables","type":"main","index":0}]]},"variables":{"main":[[{"node":"Clasificador_de_intencion","type":"main","index":0}]]},"horarios_especialidad_disponibles":{"ai_tool":[[{"node":"Agente conversacional1","type":"ai_tool","index":0}]]},"Flujo_padron":{"ai_tool":[[{"node":"Agente conversacional1","type":"ai_tool","index":0}]]},"obtener_medicos_especialidades":{"ai_tool":[[{"node":"Agente conversacional1","type":"ai_tool","index":0}]]},"reprogramar_Turno":{"ai_tool":[[{"node":"Agente conversacional1","type":"ai_tool","index":0}]]},"Lista_Turnos":{"ai_tool":[[{"node":"Agente conversacional1","type":"ai_tool","index":0}]]},"salida":{"main":[[{"node":"Agente conversacional1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Clasificador_de_intencion","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Clasificador_de_intencion","type":"ai_memory","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Clasificador_de_intencion","type":"ai_outputParser","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"Clasificador_de_intencion":{"main":[[{"node":"Necesita recepcionista?","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Necesita recepcionista?":{"main":[[{"node":"agrega_etiqueta","type":"main","index":0}],[{"node":"salida","type":"main","index":0}]]},"agrega_etiqueta":{"main":[[{"node":"respuesta_de_estudio","type":"main","index":0}]]},"respuesta_de_espera":{"main":[[]]},"respuesta_de_estudio":{"main":[[{"node":"respuesta_de_espera","type":"main","index":0}]]},"Agente conversacional1":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"hooks.autoclinicas.com","user-agent":"rest-client/2.1.0 (linux-musl x86_64) ruby/3.4.4p34","content-length":"1916","accept":"application/json","accept-encoding":"gzip;q=1.0,deflate;q=0.6,identity;q=0.3","content-type":"application/json","x-forwarded-for":"206.81.1.93","x-forwarded-host":"hooks.autoclinicas.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"0efcae3bc99e","x-real-ip":"206.81.1.93"},"params":{},"query":{},"body":{"additional_attributes":{},"can_reply":true,"channel":"Channel::Whatsapp","contact_inbox":{"id":1179,"contact_id":604,"inbox_id":3,"source_id":"5492213994411","created_at":"2025-07-31T03:21:27.355Z","updated_at":"2025-07-31T03:21:27.355Z","hmac_verified":false,"pubsub_token":"e8N3PaFx7sqrYBJ1wm2GK6rJ"},"id":630,"inbox_id":3,"messages":[{"id":20525,"content":"hola","account_id":2,"inbox_id":3,"conversation_id":630,"message_type":0,"created_at":1754715448,"updated_at":"2025-08-09T04:57:28.222Z","private":false,"status":"sent","source_id":"wamid.HBgNNTQ5MjIxMzk5NDQxMRUCABIYFDNBODcxNDQ5MUU5MDE4RjVEMkNDAA==","content_type":"text","content_attributes":{},"sender_type":"Contact","sender_id":604,"external_source_ids":{},"additional_attributes":{},"processed_message_content":"hola","sentiment":{},"conversation":{"assignee_id":2,"unread_count":1,"last_activity_at":1754715448,"contact_inbox":{"source_id":"5492213994411"}},"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":604,"identifier":null,"name":"Nm","phone_number":"+5492213994411","thumbnail":"","blocked":false,"type":"contact"}}],"labels":["turnos-estudios"],"meta":{"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":604,"identifier":null,"name":"Nm","phone_number":"+5492213994411","thumbnail":"","blocked":false,"type":"contact"},"assignee":{"id":2,"name":"Nicolás Lopez","available_name":"Nicolás Lopez","avatar_url":"","type":"user","availability_status":null,"thumbnail":""},"team":null,"hmac_verified":false},"status":"open","custom_attributes":{},"snoozed_until":null,"unread_count":1,"first_reply_created_at":"2025-07-31T03:21:34.959Z","priority":null,"waiting_since":1754188043,"agent_last_seen_at":1754715433,"contact_last_seen_at":0,"last_activity_at":1754715448,"timestamp":1754715448,"created_at":1753932087,"updated_at":1754715448.226537,"event":"automation_event.message_created"},"webhookUrl":"https://hooks.autoclinicas.com/webhook/agentes/v1/iclp","executionMode":"production"}}]},"versionId":"3d4a17db-2b74-4b01-b724-040180c0f51d","triggerCount":1,"shared":[{"createdAt":"2025-08-11T22:29:05.312Z","updatedAt":"2025-08-11T22:29:05.312Z","role":"workflow:owner","workflowId":"cbzAnIUkKCw9P2df","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}