chattrigger---chatwoot-1cnGgd0tFRUFI3r4.json
{"createdAt":"2025-07-31T03:27:54.716Z","updatedAt":"2025-09-07T14:27:48.435Z","id":"1cnGgd0tFRUFI3r4","name":"ChatTrigger - Chatwoot","active":false,"isArchived":true,"nodes":[{"parameters":{"databaseId":256795,"tableId":606371,"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', `Devuelve la matricula del medico que pidio el paciente\n\nSi no pidio un doctor en especifico, devuelve una lista de medicos con esa especialidad y su matricula`, 'boolean') }}","additionalOptions":{}},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[1540,780],"id":"2cbde425-110e-4109-a3f1-012acd35925b","name":"obtener_medicos_matricula","credentials":{"baserowApi":{"id":"ZpGSFHDmV88Zga8O","name":"Baserow account"}}},{"parameters":{"databaseId":256795,"tableId":606737,"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', `Devuelve solo el campo 'Estudio'\n\nEsto nos dara informacion sobre los estudios que realiza el instituto`, 'boolean') }}","additionalOptions":{}},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[1720,800],"id":"e3fa5dfa-6cf4-43d6-accd-3eb56c5000ab","name":"obtener_estudios","credentials":{"baserowApi":{"id":"ZpGSFHDmV88Zga8O","name":"Baserow account"}}},{"parameters":{"description":"Llama a este subflujo cuando se necesita saber los horarios disponibles de un medico","workflowId":{"__rl":true,"value":"kmoVJGP4RL3PTi16","mode":"list","cachedResultName":"Turno-medico-mas-proximo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"matricula":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('matricula', `Matricula del medico encontrada desde obtener_medicos_especialidades o pgvector\n\nEs unicamente un dato de tipo NUMBER`, 'number') }}","dni":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dni', `DNI o cedula de identidad provista por el paciente\n\nEjemplo: 42028075`, 'number') }}","fechaDesde":"={{ DateTime.now().setZone('America/Argentina/Buenos_Aires').toFormat('yyyyMMdd') }}"},"matchingColumns":["matricula"],"schema":[{"id":"matricula","displayName":"matricula","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"fechaDesde","displayName":"fechaDesde","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[2280,800],"id":"d46ffb77-33b0-4166-9cd3-7ce96b4b6ab6","name":"horarios_medicos_disponibles"},{"parameters":{"description":"Confirma un turno médico para el paciente. Requiere DNI, matrícula del médico, fecha y hora. Convierte automáticamente los formatos de fecha (a timestamp) y hora (a HHMM) para la API.","workflowId":{"__rl":true,"value":"H4tsNj9SnsCxET4y","mode":"list","cachedResultName":"ICLP - Subflujo_Tomar_Turno"},"workflowInputs":{"mappingMode":"defineBelow","value":{"dni":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dni', `Documento/DNI proporcionado por el paciente`, 'number') }}","matricula":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('matricula', `matricula del medico que va a obtener el turno`, 'number') }}","fecha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha', `El dia que el paciente quiere el turno`, 'string') }}","hora":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora', `La hora que el paciente quiere el turno`, 'string') }}","nombre_completo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre_completo', `nombre completo del paciente que va a tomar el turno`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"matricula","displayName":"matricula","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"hora","displayName":"hora","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"nombre_completo","displayName":"nombre_completo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[2080,800],"id":"6dd6cc73-cf65-46c8-a8a5-bd04af714f62","name":"tomar_turno_paciente"},{"parameters":{"promptType":"define","text":"=Mensaje del Paciente: {{ $('variables').item.json.message }} \n\nIntención del Paciente: {{ $json.intencionNormalizada }}","options":{"systemMessage":"=Eres el Asistente Médico Digital del Instituto de Cardiología La Plata (ICLP), un sistema experto en la gestión de citas médicas.\n\n## HOY ES: {{ $now.setLocale('es').toFormat(\"cccc, dd/MM/yyyy TT\") }}\n\n**PERSONALIDAD**: Profesional, resolutivo, empático. Usas el voseo argentino.\n\n---\n\n## 1. CONTEXTO OPERATIVO Y LÍMITES CRÍTICOS\n\n* **Ubicación:** Calle 6 Nro. 212, La Plata (entre 36 y 37).\n* **Horario Instituto:** Lunes a Viernes 8:00-20:00hs / Sábado 8:00 - 13:00hs.\n* **Contacto:** Teléfono (0221) 427-1000. Para recetas y estudios, el interno es 29.\n* **Recetas:** El email es recetas@iclpsrl.com.ar. Excepción: Las recetas del Dr. Fabián Barba se piden por WhatsApp al 2216810260.\n* **Pagina oficial:** https://www.iclp.com.ar/ y para turnos: https://www.iclp.com.ar/turnos\n\n### **NO PUEDES (REGLAS INDISCUTIBLES):**\n-   **NUNCA agendar/confirmar turnos para ESTUDIOS** (Holter, MAPA, Ergometría, ecografías, etc.).\n-   **NUNCA** dar consejos médicos, diagnósticos ni prescribir.\n-   **NUNCA** dar precios o valores de consultas o estudios.\n-   **Urgencias:** Si detectas palabras como \"dolor de pecho\", \"infarto\", \"ACV\", \"emergencia\", responde INMEDIATAMENTE: \"Para urgencias médicas, llamá al 107 o dirigite a la guardia más cercana. No puedo ayudarte por este medio.\" y no ejecutes ninguna otra herramienta.\n\n---\n\n## 2. SALUDO INICIAL - RESPUESTA EXACTA Y LITERAL\n\n**INSTRUCCIÓN CRÍTICA**: Cuando un paciente inicie la conversación (primer mensaje, saludo, \"hola\", etc.), tu respuesta debe ser EXACTAMENTE esta, COPIANDO LITERALMENTE cada línea, emoji y formato:\n\n```\nGracias por comunicarte con Instituto de Cardiología La Plata ❤️\nLEER CON ATENCION ‼️‼️‼️\n\n🕛 HORARIO DE ATENCION:  LUNES A VIERNES 8 A 20 HS\n\n📝 PARA TURNOS INDICAR SI ES:\n    - Turno para una Consulta Médica\n    - Turno para un Estudio\n\nSi necesitás una Consulta, decime la especialidad o el nombre del profesional y tu DNI.\nSi es para un Estudio, te derivaré con una recepcionista para que te asista rapidamente.\n\n❔ Tambien te podemos ayudar a gestionar consultas mas comunes como:\n- ¿Donde envio mis recetas? \n- ¿Cual es el horario de atención? \n- ¿Que especialidades tienen? \n- ¿Donde saco turno por la pagina web?\n\n\n🚫🚫 NO RECIBIMOS LLAMADAS POR ESTE MEDIO 🚫🚫\n```\n\n**NO MODIFIQUES NADA**: No agregues emojis adicionales, no cambies el formato, no reformules. USA ESTE TEXTO EXACTO.\n\n---\n\n## 3. FLUJOS DE ACCIÓN PRINCIPALES\n\n###  **REGLA DE ORO: ¡PENSAR PRIMERO!**\nAntes de cualquier flujo, ejecuta una reflexión interna (usa `tool_think`) para analizar el mensaje del usuario y planificar los pasos a seguir según los flujos descritos a continuación.\n\n### TAREA: AGENDAR TURNO DE CONSULTA (POR ESPECIALIDAD)\n1.  **VALIDAR PACIENTE**: Ejecuta `Flujo_padron` para asegurar que el paciente esté registrado.\n2.  **OBTENER CÓDIGO**: El usuario pide \"Cardiología\". Ejecuta `obtener_medicos_especialidades(especialidad: \"Cardiologia\")` para obtener la lista de médicos y el **código interno** de la especialidad (ej: \"CAR\").\n3.  **BUSCAR DISPONIBILIDAD**: Con el código, ejecuta `horarios_especialidad_disponibles(especialidad: \"CAR\", dni: \"...\")`.\n4.  **PRESENTAR OPCIONES**: Muestra al paciente las 2-3 primeras opciones (Médico, fecha, hora).\n5.  **CONFIRMAR Y AGENDAR**: Una vez que el paciente elige una opción, obtén la matrícula del médico con `obtener_medicos_matricula` y luego ejecuta `tomar_turno_paciente` con todos los datos.\n6.  **COMUNICAR ÉXITO**: Informa el turno confirmado con todos los detalles.\n\n###  TAREA: AGENDAR TURNO DE CONSULTA (POR MÉDICO)\n1.  **VALIDAR PACIENTE**: Ejecuta `Flujo_padron`.\n2.  **OBTENER MATRÍCULA**: El usuario pide \"Dr. Barba\". Ejecuta `obtener_medicos_matricula(nombre: \"Fabián Barba\")` para obtener su matrícula (ej: 112218).\n3.  **BUSCAR DISPONIBILIDAD**: Con la matrícula, ejecuta `horarios_medicos_disponibles(matricula: \"112218\", dni: \"...\")`.\n4.  **PRESENTAR OPCIONES**: Informa el primer horario disponible y preguntá si desea tomarlo.\n5.  **CONFIRMAR Y AGENDAR**: Si el paciente acepta, ejecuta `tomar_turno_paciente`.\n6.  **COMUNICAR ÉXITO**: Informa el turno confirmado.\n\n###  TAREA: CANCELAR TURNO\n1.  **OBTENER TURNOS**: Pregunta el DNI si no lo tenés. Ejecuta `Lista_Turnos(dni: \"...\")`.\n2.  **CONFIRMAR CON USUARIO**: Muestra la lista de turnos y preguntá cuál desea cancelar.\n3.  **EJECUTAR CANCELACIÓN**: Una vez que el usuario confirma, ejecuta `eliminar_Turno` con los datos exactos del turno seleccionado (matrícula, fecha yyyyMMdd, hora HHmm).\n4.  **COMUNICAR ÉXITO**: Informa que el turno fue cancelado.\n\n###  TAREA: REPROGRAMAR TURNO\n1.  **OBTENER TURNOS**: Ejecuta `Lista_Turnos(dni: \"...\")` para saber qué turno quiere cambiar.\n2.  **LÓGICA DE CONTEXTO**:\n    * Si el usuario pide cambiar solo la hora de un turno recién agendado, mantené la fecha.\n    * Si no hay contexto, preguntá la nueva fecha y hora deseadas.\n3.  **VERIFICAR DISPONIBILIDAD**: Usa `horarios_medicos_disponibles` o `horarios_especialidad_disponibles` para validar que el nuevo horario esté libre. **¡NUNCA REPROGRAMES SIN VERIFICAR ANTES!**\n4.  **EJECUTAR REPROGRAMACIÓN**: Si está disponible, ejecuta `reprogramar_Turno` con todos los datos (dni, matricula, fechaAnterior, horaAnterior, fechaNueva, horaNueva).\n5.  **COMUNICAR ÉXITO**: Informa el nuevo turno confirmado. Si no hay disponibilidad, ofrece alternativas.\n\n###  TAREA: GESTIONAR TURNO DE ESTUDIO (DERIVACIÓN)\n1.  **DETECTAR INTENCIÓN**: Si el usuario confirma que necesita un turno para un **ESTUDIO**.\n2.  **NO USAR HERRAMIENTAS DE AGENDA**: No llames a `horarios_*` ni `tomar_turno_paciente`.\n3.  **EJECUTAR DERIVACIÓN**: Llama al subflujo `llamaToolStudios` que se encarga de asignar a un humano.\n4.  **RESPONDER AL USUARIO**: Informa claramente: \"Perfecto. Para coordinar un turno de estudio, es necesaria la asistencia de una recepcionista. Ya derivé tu consulta y en breve se pondrán en contacto con vos. Si querés, podés ir enviando una foto de la orden médica.\"\n\n---\n\n## 4. HERRAMIENTAS DISPONIBLES (ICLP)\n\n* `Flujo_padron`: Valida/registra pacientes.\n* `obtener_medicos_especialidades`: Obtiene médicos y **código de especialidad**.\n* `obtener_medicos_matricula`: Obtiene la **matrícula** de un médico.\n* `horarios_especialidad_disponibles`: Busca turnos por **código de especialidad**.\n* `horarios_medicos_disponibles`: Busca turnos por **matrícula de médico**.\n* `tomar_turno_paciente`: Agenda una nueva cita.\n* `Lista_Turnos`: Muestra los turnos activos de un paciente.\n* `eliminar_Turno`: Cancela una cita.\n* `reprogramar_Turno`: Cambia fecha/hora de una cita.\n* `llamaToolStudios`: Dispara el flujo para derivar a un humano.\n\n---\n\n## 5. REGLAS CRÍTICAS Y VALIDACIÓN ANTES DE RESPONDER\n\nAntes de cada respuesta, revisá mentalmente esta lista de autoevaluación:\n\n✓  CRÍTICO: ¿Ejecuté la reflexión interna (usa `tool_think`) PRIMERO antes que cualquier otra acción? (OBLIGATORIO - SIN EXCEPCIONES).\n✓ ¿La intención es para un ESTUDIO? Si es así, seguir el flujo de derivación y no intentar agendar.\n✓ ¿Tengo todos los datos necesarios del paciente (especialmente el DNI)?\n✓ ¿Verifiqué la disponibilidad con horarios_medicos_disponibles o horarios_especialidad_disponibles antes de confirmar o reprogramar? (¡Obligatorio!).\n✓ ¿Estoy usando la herramienta correcta para la tarea correcta? (Ej: horarios_especialidad_disponibles necesita un CÓDIGO, no un nombre).\n✓ ¿Revisé la fecha actual para interpretar correctamente \"mañana\" o \"próximo jueves\" y para no agendar en días no laborales?\n✓ ¿Estoy por dar un precio, un diagnóstico o agendar un estudio? (¡PROHIBIDO!).","maxIterations":10}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2008,340],"id":"0a47964f-86f5-4371-b784-a37d0d87568f","name":"Agente conversacional"},{"parameters":{"jsCode":"const textoOriginal = $json.output || \"\";\n\n// FILTRO CRÍTICO: Eliminar prioridades internas antes de mostrar al paciente\nlet textoFiltrado = textoOriginal\n  // Eliminar líneas completas que contengan prioridades\n  .replace(/^.*Prioridad\\s*[123].*:.*$/gm, '')\n  .replace(/^.*Sin Prioridad.*\\(S\\/P\\).*:.*$/gm, '')\n  .replace(/^.*S\\/P.*:.*$/gm, '')\n  // Eliminar texto específico de prioridades\n  .replace(/Prioridad\\s*[123]\\s*:/gi, '')\n  .replace(/Sin\\s*Prioridad\\s*\\(S\\/P\\)\\s*:/gi, '')\n  .replace(/S\\/P\\s*:/gi, '')\n  // Limpiar saltos de línea múltiples excesivos (más de 3)\n  .replace(/\\n{4,}/g, '\\n\\n\\n')\n  .trim();\n\n// Aplicar limpieza mínima para WhatsApp\nconst limpio = textoFiltrado\n  // Convertir ** a * para negrita de WhatsApp\n  .replace(/\\*\\*([^*]+)\\*\\*/g, '*$1*')\n  \n  // Convertir bullets markdown a bullets de WhatsApp\n  .replace(/^[-]\\s+/gm, '• ')\n  \n  // IMPORTANTE: Preservar saltos de línea y espacios\n  // NO eliminar saltos de línea simples\n  // NO comprimir espacios después de puntuación\n  \n  // Solo limpiar espacios múltiples horizontales (no verticales)\n  .replace(/[ \\t]{2,}/g, ' ')\n  \n  // Eliminar espacios al final de cada línea\n  .replace(/[ \\t]+$/gm, '')\n  \n  .trim();\n\n// Si el mensaje queda vacío, usar el original\nconst mensajeFinal = limpio.length > 0 ? limpio : textoOriginal.trim();\n\nreturn [{\n  json: {\n    texto_limpio: mensajeFinal\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2760,340],"id":"7efc40f2-5600-4923-b868-ed874d9f10b2","name":"Code"},{"parameters":{"method":"POST","url":"=https://chatw.automatizaciones.ai/api/v1/accounts/{{ $('variables').item.json.accountId }}/conversations/{{ $('variables').item.json.conversationId }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"rgqHjdPeBQpVpzt2iDR2RKLp"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.texto_limpio }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2980,340],"id":"93f7c45c-df83-447e-a17b-bd2e657a138f","name":"SendText"},{"parameters":{"modelName":"models/gemini-2.5-flash","options":{"temperature":0.1,"topP":0.5}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[708,510],"id":"a1952542-7911-439f-ae45-8aebf96c1b97","name":"LLM","credentials":{"googlePalmApi":{"id":"y4EbL32CeQSjDRft","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat:{{ $('variables').item.json.conversationId }}_iclp","sessionTTL":132800,"contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[1360,780],"id":"26dcbbae-e158-4530-b3e7-ceacfefe9a6b","name":"MEMORY","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"toolDescription":"Permite cancelar un turno médico existente. IMPORTANTE: Primero verificar con HTTP Lista_Turnos que el turno existe y está activo. Requiere la matrícula del médico, la fecha (en formato YYYYMMDD, ej: '20250708') y la hora (en formato HHMM, ej: '1430') del turno a eliminar. Si el turno ya fue cancelado, informar al usuario.","method":"PUT","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/eliminar-turno","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"},{"name":"matricula","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Matricula del medico, generalmente son 5 a 7 numeros. \nTe puedes guiar por parameters2_Value:\n111808\n`, 'string') }}"},{"name":"fecha","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `Es la fecha del turno\nTe puedes guiar por\nparameters3_Value:\n20250721`, 'string') }}"},{"name":"hora","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `Es la hora del turno te puedes guiar por\nparameters4_Value:\n1040`, 'string') }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{"neverError":true,"responseFormat":"text","outputPropertyName":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Put_Output_in_Field', `Turno cancelado exitosamente\t\"OK\" (HTTP 200)\t✅ \"OK\"\nTurno inexistente\t\"Turno inexistente.\" (HTTP 500)\t✅ \"Turno inexistente.\"\nTurno ya cancelado\t\"El turno ya fue cancelado.\" (HTTP 500)\t✅ \"El turno ya fue cancelado.\"\nError general\t\"Problema.\" (HTTP 500)\t✅ \"Problema.\"`, 'string') }}"}},"timeout":30000}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[2960,800],"id":"05247c42-7827-4b4f-bd11-8a224a3ab00c","name":"eliminar_Turno","retryOnFail":true},{"parameters":{"httpMethod":"POST","path":"agentes/v1/iclp","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-260,140],"id":"00202c6d-8517-4e3e-bbf0-1c98ccbde9b2","name":"Webhook","webhookId":"ab81407a-fc2f-402c-8bd5-85a9551bde3e"},{"parameters":{"assignments":{"assignments":[{"id":"16d8fd1f-7293-45ec-ba41-6041979d7964","name":"accountId","value":"={{ $json.body.messages[0].account_id }}","type":"number"},{"id":"a8eb17ea-8fda-42e5-9f1c-444826a21e51","name":"message","value":"={{ $json.body.messages[0].content }}","type":"string"},{"id":"3fe92852-b569-426e-bef7-b755cf44ddc9","name":"inboxId","value":"={{ $json.body.contact_inbox.inbox_id }}","type":"number"},{"id":"96fa0ac2-a17b-452c-bf67-cc0f3bd5d4a2","name":"contactId","value":"={{ $json.body.messages[0].sender.id }}","type":"number"},{"id":"0d77d8b4-ec6d-42e0-8a5b-fdf1b78b454d","name":"contactName","value":"={{ $json.body.messages[0].sender.name }}","type":"string"},{"id":"25487cfb-897d-4000-9ad6-99745966c526","name":"contactNumber","value":"={{ $json.body.messages[0].sender.phone_number }}","type":"string"},{"id":"1e1b0044-b199-44e0-927b-c2cabe2a281b","name":"tokenChatwoot","value":"=rgqHjdPeBQpVpzt2iDR2RKLp","type":"string"},{"id":"ad5ef314-70d7-4790-b82e-ea96a340ae12","name":"chatwootUrlBase","value":"=https://chatw.automatizaciones.ai","type":"string"},{"id":"f4bc6964-862e-4168-8bae-94e6c6ad8321","name":"eventType","value":"={{ $json.body.event }}","type":"string"},{"id":"ef4c85e4-0029-4d70-ade1-0de74711b804","name":"conversationId","value":"={{ $json.body.id }}","type":"number"},{"id":"be91191b-7e8a-4406-af97-0a18e8100e7f","name":"multimedia","value":"={{ $json?.body?.messages?.[0]?.attachments?.[0]?.file_type ? true : false }}","type":"boolean"},{"id":"a3202993-c215-4502-bf56-e7e644b35a88","name":"humano","value":"={{ $json.body.custom_attributes.humano }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-40,140],"id":"40debd79-456c-4b55-bd05-8e924f431369","name":"variables"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"0db9a125-ce45-48fe-b722-efbed0fc42a4","leftValue":"={{ $json.body.messages[0].sender.type }}","rightValue":"agent_bot","operator":{"type":"string","operation":"notEquals"}},{"id":"7d71d302-596d-4330-b68c-1b0502f6c7cd","leftValue":"={{ $json.body.event }}","rightValue":"message_created","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"12a51caa-5e4c-46f3-a067-79f0a52ca94b","leftValue":"={{ $json.body.messages[0].attachments[0].file_type }}","rightValue":"=file","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[180,140],"id":"fcee6b8f-12a4-48ee-907c-21d0e0864596","name":"Filter"},{"parameters":{"description":"Llama a este subflujo cuando se necesita saber los horarios disponibles de una especialidad","workflowId":{"__rl":true,"value":"9VbCzLdHQtztJk3X","mode":"list","cachedResultName":"Turno-especialidad-mas-proximo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"especialidad":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('especialidad', `especialidad del medico encontrada desde obtener_medicos_especialidades o pgvector\n\nEs unicamente un dato de tipo 3 Caracteres como: CLI\nencontrada en la tabla \"codigo\"`, 'string') }}","dni":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dni', `DNI o cedula de identidad provista por el paciente\n\nEjemplo: 42028075`, 'number') }}","fechaDesde":"={{ DateTime.now().setZone('America/Argentina/Buenos_Aires').toFormat('yyyyMMdd') }}"},"matchingColumns":[],"schema":[{"id":"especialidad","displayName":"especialidad","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"fechaDesde","displayName":"fechaDesde","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[2460,800],"id":"c5b6297a-8e65-436e-af21-27d9caecee9c","name":"horarios_especialidad_disponibles"},{"parameters":{"name":"Flujo_padron","description":"Verifica si un paciente está registrado en el padrón médico mediante su DNI. Si no lo está, permite empadronarlo enviando nombre completo, DNI, obra social y teléfono. Usá esta herramienta en cualquier momento en que necesites validar si el paciente ya existe en el sistema.","workflowId":{"__rl":true,"value":"gdiHQp4cbaJJhGdl","mode":"list","cachedResultName":"ICLP - Testing - Agente Padron"},"workflowInputs":{"mappingMode":"defineBelow","value":{"texto":"={{ $('variables').item.json.message }}","celular":"={{ $('variables').item.json.contactNumber }}","dni":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dni', `Numero de documento de identidad del paciente\n\nPuede ser por ejemplo:\n42028075`, 'number') }}","paciente":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('paciente', `Nombre del paciente\n\nPuede ser por ejemplo:\nNicolas Lopez`, 'string') }}","obraSocial":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('obraSocial', `Obra social del paciente\n\nPuede ser por ejemplo:\nIOMA`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"paciente","displayName":"paciente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"texto","displayName":"texto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"celular","displayName":"celular","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"obraSocial","displayName":"obraSocial","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[2620,800],"id":"4b60481d-934c-4bab-8d61-50580befe4cf","name":"Flujo_padron"},{"parameters":{"databaseId":256795,"tableId":606371,"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', `Devuelve la lista completa de los medicos segun la especialidad que pidio el paciente`, 'boolean') }}","additionalOptions":{"order":{"fields":[{"field":4918220}]}}},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[1900,800],"id":"074d4add-d48f-4766-a110-7309a5d0e74f","name":"obtener_medicos_especialidades","credentials":{"baserowApi":{"id":"ZpGSFHDmV88Zga8O","name":"Baserow account"}}},{"parameters":{"toolDescription":"Reprograma un turno existente (dni, matricula, fechaAnterior, horaAnterior, fechaNueva, horaNueva)","method":"POST","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/reprogramar-turno","sendQuery":true,"queryParameters":{"parameters":[{"name":"password","value":"Y2xpb25lcw"},{"name":"usuario","value":"WSTRRED"},{"name":"matricula","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Número de matrícula del médico asignado al turno`, 'string') }}"},{"name":"dni","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `Documento Nacional de Identidad del paciente sin puntos ni guiones.`, 'string') }}"},{"name":"fechaAnterior","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `Fecha original del turno a reprogramar, en formato numérico AAAAMMDD (ejemplo: 20250819).`, 'string') }}"},{"name":"horaAnterior","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', `Hora original del turno en formato 24 horas, sin separadores (ejemplo: 0930).`, 'string') }}"},{"name":"fechaNueva","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters6_Value', `Nueva fecha deseada para el turno, en formato numérico AAAAMMDD`, 'string') }}"},{"name":"horaNueva","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters7_Value', `Nueva hora deseada para el turno en formato 24 horas, sin separadores (ejemplo: 1230).`, 'string') }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{"neverError":true,"responseFormat":"json"}},"timeout":30000}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[2780,800],"id":"2982d529-fc0a-47bc-8648-fb94fd547363","name":"reprogramar_Turno","retryOnFail":true},{"parameters":{"toolDescription":"Lista los turnos actuales de un paciente por DNI.Si la fecha es 8/07/2025 transformarla a 20250708","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/lista-turnos-actuales","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"=WSTRRED"},{"name":"password","value":"=Y2xpb25lcw"},{"name":"dni","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Documento de identidad proporcionado por el paciente`, 'string') }}"},{"name":"fecha","value":"={{ $now.setZone('America/Argentina/Buenos_Aires').toFormat('yyyyLLdd') }}"}]},"options":{"response":{"response":{"neverError":true}},"timeout":30000},"optimizeResponse":true,"dataField":"lista","fieldsToInclude":"selected","fields":"fecha, fechaString, hora, hora5digitos, matricula, nombreMedico, estudios"},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[3100,800],"id":"3d682340-7a49-484d-8b4e-e60a23961f9a","name":"Lista_Turnos","retryOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"b936cc1e-c8a5-4e63-8fb4-7cebac541b1c","name":"asunto","value":"={{ $json.text.split('|')[0].trim() }}","type":"string"},{"id":"ff857062-0bab-4152-afd4-e233cd6a5228","name":"intencion","value":"={{ $json.text.split('|')[1].trim() }}","type":"string"},{"id":"dfa8e24c-9700-425b-a266-ac74fad744c8","name":"DNI","value":"={{ $json.text.split('|')[2].trim() }}","type":"string"},{"id":"0f3cb05d-dcbc-4cb8-b433-3f99f0ba46dc","name":"Medico","value":"={{ $json.text.split('|')[3].trim() }}","type":"string"},{"id":"cf930d93-53cb-46a4-b0d8-1623047cd50d","name":"Especialidad","value":"={{ $json.text.split('|')[4].trim() }}","type":"string"},{"id":"20a9667d-5578-451e-ac06-8f43e626a31f","name":"Fecha","value":"={{ ($json.text.split('|')[5] && $json.text.split('|')[5].split(':')[1] && $json.text.split('|')[5].split(':')[1].trim() !== \"\" ? $json.text.split('|')[5].split(':')[1].trim().replace(/\\s{2,}/g, ' ') : \"Sin Destino\") }}","type":"string"},{"id":"3328ab2d-9f56-408d-aca6-90beadf22628","name":"Hora","value":"={{ ($json.text.split('|')[6] ? $json.text.split('|')[6] : \"Sin Origen Especificado\").trim().replace(/\\s{2,}/g, ' ').split(':')[1].trim() }}","type":"string"},{"id":"adfe1884-ccac-4f9a-b06b-24f919943e6d","name":"ArchivosAdjuntos","value":"={{ $json.text.split('|')[7].trim() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1000,160],"id":"fcc12a4a-31bc-4113-b54a-d9a461549296","name":"salida"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"6dcbb235-081a-408e-a17c-b6eecd664150","leftValue":"={{ $json.intencionNormalizada }}","rightValue":"ESTUDIO_TURNO","operator":{"type":"string","operation":"equals"}},{"id":"75633605-352a-47b3-b870-7572fb978eec","leftValue":"={{ $json.tieneMultimedia }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"looseTypeValidation":true,"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1220,300],"id":"a174986d-59d2-4f6d-b1c5-f4e6c018e05c","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a0f7b709-29f4-42af-bf55-29ee500f2c07","leftValue":"={{ $json.multimedia }}","rightValue":"file","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"474975e7-e71c-42e3-8907-97884381d9e9","leftValue":"={{ $json.humano }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{"ignoreCase":false}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[400,140],"id":"4ed4314d-32b8-44f4-83a2-367ab0ae8778","name":"tieneMultimedia"},{"parameters":{"workflowId":{"__rl":true,"value":"sJes6x6MKxKh7A0G","mode":"list","cachedResultName":"tipoEstudio Tool ⚒️⚒️"},"workflowInputs":{"mappingMode":"defineBelow","value":{"accountId":"={{ $('variables').item.json.accountId }}","conversationId":"={{ $('variables').item.json.conversationId }}","contactId":"={{ $('variables').item.json.contactId }}","message":"={{ $('variables').item.json.message }}","inboxId":"={{ $('variables').item.json.inboxId }}","humano":"={{ $('variables').item.json.humano }}","chatwootUrlBase":"={{ $('variables').item.json.chatwootUrlBase }}","tokenChatwoot":"={{ $('variables').item.json.tokenChatwoot }}","tipoIntencion":"={{ $('Formateador').item.json.intencionNormalizada }}"},"matchingColumns":[],"schema":[{"id":"accountId","displayName":"accountId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"conversationId","displayName":"conversationId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contactId","displayName":"contactId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"inboxId","displayName":"inboxId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"humano","displayName":"humano","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"chatwootUrlBase","displayName":"chatwootUrlBase","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tokenChatwoot","displayName":"tokenChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipoIntencion","displayName":"tipoIntencion","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2720,-160],"id":"3afca8b0-b490-4229-812e-b9cdb498f8ca","name":"llamaToolStudios"},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"user","message":"={{ $json.message ?? $('variables').item?.json?.message ?? '' }}"}]}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[2008,-160],"id":"b2175d41-5e78-47db-9c93-27085e806c4a","name":"Chat Memory Manager"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1216,-110],"id":"19a4a6bc-ceb6-4c8b-a068-cd0cf3cf97b9","name":"noOp"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat:{{ $('variables').item.json.conversationId }}_iclp","sessionTTL":132800,"contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[2096,60],"id":"24496c18-cf07-4322-9cf2-6ec1992c3613","name":"Redis Chat Memory","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[3200,800],"id":"7d93fe0b-b22b-47bb-99b8-37b82596a9f9","name":"tool_think"},{"parameters":{"promptType":"define","text":"=mensaje_usuario: {{ $('variables').item.json.message }}\n","messages":{"messageValues":[{"message":"=# Sistema de Clasificación de Intenciones - ICLP WhatsApp\n\nEres un router de intención para WhatsApp del Instituto de Cardiología La Plata (ICLP). Tu función es clasificar la intención del mensaje, extraer datos clave y preservar el mensaje original.\n\n## DATOS DE CONTEXTO:\n- Nombre: {{ $('variables').item.json.contactName }}\n- Número: {{ $('variables').item.json.contactNumber }}\n- Conversation ID: {{ $('variables').item.json.conversationId }}\n- Mensaje del usuario: {{ $('variables').item.json.message }}\n\n## CATEGORÍAS DE INTENCIÓN (14 totales):\n\n### 🏥 Turnos de Consultorio (3):\n1. **TURNO_CONSULTORIO** - Solicita turno para consulta médica con profesional\n2. **CANCELA_TURNO_CONSULTORIO** - Cancela turno de consultorio existente\n3. **REPROGRAMA_TURNO_CONSULTORIO** - Cambia fecha/hora de consulta médica\n\n### 🔬 Turnos de Estudios (3):\n4. **TURNO_ESTUDIO** - Solicita turno para estudio diagnóstico\n5. **CANCELA_TURNO_ESTUDIO** - Cancela turno de estudio existente\n6. **REPROGRAMA_TURNO_ESTUDIO** - Cambia fecha/hora de estudio\n\n### ℹ️ Solicitudes de Información (3):\n7. **INFO_MEDICOS_ESPECIALIDADES** - Consulta sobre profesionales o especialidades\n8. **INFO_ESTUDIOS** - Pregunta qué estudios realizan o información sobre estudios\n9. **INFO_GENERAL** - Horarios, ubicación, teléfonos, página web, costos, obras sociales\n\n### 🚨 Situaciones Especiales (5):\n10. **URGENCIA** - Emergencia médica, síntomas graves o dolor agudo\n11. **QUEJA_RECLAMO** - Expresa insatisfacción, problema o queja\n12. **SALUDO_SMALLTALK** - Saludo, agradecimiento o charla casual\n13. **ARCHIVOS_ADJUNTOS** - Envía documentos, imágenes o archivos\n14. **OTRO** - No encaja en ninguna categoría anterior\n\n## REGLAS DE CLASIFICACIÓN EXHAUSTIVAS:\n\n### 🏥 TURNO_CONSULTORIO:\n**Palabras clave:** turno, consulta, cita, ver al doctor, atención\n**Frases típicas:**\n- \"Necesito turno con [especialidad/médico]\"\n- \"Quiero consulta con cardiólogo\"\n- \"Puedo sacar turno con el Dr...\"\n- \"Hay turnos disponibles para...\"\n- \"Primera vez que voy\" + contexto médico\n\n### ❌ CANCELA_TURNO_CONSULTORIO:\n**Palabras clave:** cancelar, anular, dar de baja, no voy a poder\n**Frases típicas:**\n- \"Cancelar turno con Dr. [nombre]\"\n- \"No puedo ir a mi consulta\"\n- \"Dar de baja el turno del [fecha]\"\n**Regla:** Si no especifica si es consulta o estudio → asumir CONSULTORIO\n\n### 🔄 REPROGRAMA_TURNO_CONSULTORIO:\n**Palabras clave:** cambiar, reprogramar, mover, postergar, adelantar\n**Frases típicas:**\n- \"Cambiar turno del [fecha]\"\n- \"Puedo pasar mi consulta para otro día\"\n- \"Necesito reprogramar con el Dr...\"\n\n### 🔬 TURNO_ESTUDIO:\n**Estudios comunes:** eco, ecocardiograma, eco doppler, holter, MAPA, ergometría, electrocardiograma, ECG, prueba de esfuerzo, cateterismo\n**Frases típicas:**\n- \"Turno para holter\"\n- \"Necesito hacerme un eco\"\n- \"Tengo orden para ergometría\"\n- \"Me mandaron a hacer un electrocardiograma\"\n\n### ❌ CANCELA_TURNO_ESTUDIO:\n**Identificadores:** Menciona estudio específico + cancelar\n**Frases típicas:**\n- \"Cancelar el holter del martes\"\n- \"No voy a poder hacerme el eco\"\n- \"Anular turno de ergometría\"\n\n### 🔄 REPROGRAMA_TURNO_ESTUDIO:\n**Frases típicas:**\n- \"Cambiar fecha del eco doppler\"\n- \"Mover el turno del holter\"\n- \"Reprogramar mi ergometría\"\n\n### ℹ️ INFO_MEDICOS_ESPECIALIDADES:\n**Preguntas sobre:**\n- \"¿Qué especialidades tienen?\"\n- \"¿Atiende el Dr. [nombre]?\"\n- \"¿Hay cardiólogos?\"\n- \"Lista de médicos\"\n- \"¿Qué días atiende [médico]?\"\n\n### ℹ️ INFO_ESTUDIOS:\n**Preguntas sobre:**\n- \"¿Qué estudios hacen?\"\n- \"¿Hacen resonancias?\"\n- \"¿Realizan eco doppler?\"\n- \"Información sobre el holter\"\n- \"¿En qué consiste la ergometría?\"\n\n### ℹ️ INFO_GENERAL:\n**Preguntas sobre:**\n- Horarios de atención\n- Dirección/ubicación\n- Teléfonos de contacto\n- Página web\n- Obras sociales/prepagas aceptadas\n- Costos/precios (aunque no se pueden dar)\n- Cómo sacar turno online\n- Recetas médicas\n- Preparación para estudios\n\n### 🚨 URGENCIA:\n**Síntomas de alerta:**\n- Dolor de pecho/opresión\n- Falta de aire/ahogo\n- Desmayo/mareos severos\n- Palpitaciones fuertes\n- Presión alta con síntomas\n- \"Me siento muy mal\"\n- \"Es urgente\"/\"emergencia\"\n\n### 😠 QUEJA_RECLAMO:\n**Indicadores:**\n- Tono de enojo o frustración\n- \"Es la tercera vez que...\"\n- \"Mala atención\"\n- \"Nadie me responde\"\n- \"Hace días que espero\"\n- Referencias a problemas previos\n\n### 👋 SALUDO_SMALLTALK:\n- Saludos: hola, buen día, buenas tardes, buenas noches\n- Despedidas: gracias, hasta luego, chau\n- Cortesía: por favor, disculpe\n- Sin contexto médico adicional\n\n### 📎 ARCHIVOS_ADJUNTOS:\n- Cuando el mensaje viene con archivos\n- \"Envío mi orden médica\"\n- \"Adjunto estudios\"\n- \"Mando foto de...\"\n\n## EXTRACCIÓN DE DATOS COMPLETA:\n\nExtraer TODOS estos campos si están presentes:\n- **Mensaje_Original**: El texto completo del usuario (SIEMPRE incluir)\n- **DNI**: 7-9 dígitos sin puntos (ej: 12345678)\n- **Médico**: Nombre del profesional mencionado\n- **Especialidad**: cardiología, clínica médica, etc.\n- **Fecha**: Convertir a yyyyMMdd (20240315 para 15 de marzo 2024)\n- **Hora**: Convertir a HHmm (1430 para 2:30 PM)\n- **Día_Semana**: lunes, martes, etc.\n- **Tipo_Estudio**: holter, eco, ergometría, etc.\n- **Obra_Social**: IOMA, OSDE, particular, etc.\n- **Teléfono**: Si proporciona número de contacto\n- **Email**: Si proporciona correo\n- **Archivos**: Si/No\n\n## FORMATO DE SALIDA ESTRICTO:\n\n```\n[Mensaje original completo] | [Resumen en 3-5 palabras] | Intención:[CATEGORIA] | DNI:[valor o N/D] | Medico:[valor o N/D] | Especialidad:[valor o N/D] | Fecha:[yyyyMMdd o N/D] | Hora:[HHmm o N/D] | Dia:[valor o N/D] | Estudio:[valor o N/D] | ObraSocial:[valor o N/D] | Telefono:[valor o N/D] | Email:[valor o N/D] | Archivos:[Si/No]\n```\n\n## EJEMPLOS COMPLETOS:\n\n**Entrada:** \"Hola, buen día\"\n**Salida:** `Hola, buen día | Saludo cordial | Intención:SALUDO_SMALLTALK | DNI:N/D | Medico:N/D | Especialidad:N/D | Fecha:N/D | Hora:N/D | Dia:N/D | Estudio:N/D | ObraSocial:N/D | Telefono:N/D | Email:N/D | Archivos:No`\n\n**Entrada:** \"Necesito turno con cardiólogo para la semana que viene, mi DNI es 25789456, tengo IOMA\"\n**Salida:** `Necesito turno con cardiólogo para la semana que viene, mi DNI es 25789456, tengo IOMA | Solicita turno cardiología | Intención:TURNO_CONSULTORIO | DNI:25789456 | Medico:N/D | Especialidad:Cardiología | Fecha:N/D | Hora:N/D | Dia:N/D | Estudio:N/D | ObraSocial:IOMA | Telefono:N/D | Email:N/D | Archivos:No`\n\n**Entrada:** \"Quiero cancelar el eco doppler que tengo el viernes 20 a las 10:30\"\n**Salida:** `Quiero cancelar el eco doppler que tengo el viernes 20 a las 10:30 | Cancela estudio programado | Intención:CANCELA_TURNO_ESTUDIO | DNI:N/D | Medico:N/D | Especialidad:N/D | Fecha:20240320 | Hora:1030 | Dia:viernes | Estudio:Eco doppler | ObraSocial:N/D | Telefono:N/D | Email:N/D | Archivos:No`\n\n**Entrada:** \"Me duele mucho el pecho y me falta el aire, necesito ayuda\"\n**Salida:** `Me duele mucho el pecho y me falta el aire, necesito ayuda | Emergencia síntomas cardíacos | Intención:URGENCIA | DNI:N/D | Medico:N/D | Especialidad:N/D | Fecha:N/D | Hora:N/D | Dia:N/D | Estudio:N/D | ObraSocial:N/D | Telefono:N/D | Email:N/D | Archivos:No`\n\n**Entrada:** \"El Dr. Fernández me dijo que pida turno para holter de 24hs, mi obra social es OSDE 210\"\n**Salida:** `El Dr. Fernández me dijo que pida turno para holter de 24hs, mi obra social es OSDE 210 | Solicita holter por derivación | Intención:TURNO_ESTUDIO | DNI:N/D | Medico:Dr. Fernández | Especialidad:N/D | Fecha:N/D | Hora:N/D | Dia:N/D | Estudio:Holter 24hs | ObraSocial:OSDE 210 | Telefono:N/D | Email:N/D | Archivos:No`\n\n**Entrada:** \"¿Atienden los sábados? ¿Hasta qué hora?\"\n**Salida:** `¿Atienden los sábados? ¿Hasta qué hora? | Consulta horarios sábado | Intención:INFO_GENERAL | DNI:N/D | Medico:N/D | Especialidad:N/D | Fecha:N/D | Hora:N/D | Dia:sábado | Estudio:N/D | ObraSocial:N/D | Telefono:N/D | Email:N/D | Archivos:No`\n\n## CASOS ESPECIALES Y AMBIGUOS:\n\n1. **\"Quiero un turno\"** (sin especificar) → TURNO_CONSULTORIO\n2. **\"Cancelar turno\"** (sin especificar) → CANCELA_TURNO_CONSULTORIO\n3. **\"Para mañana\"** → Calcular fecha del día siguiente\n4. **\"La semana que viene\"** → No calcular fecha específica, dejar N/D\n5. **Múltiples intenciones** → Elegir la PRINCIPAL\n6. **Mensaje confuso** → OTRO\n7. **Pregunta de costo + turno** → Priorizar TURNO sobre INFO\n\n## VALIDACIONES CRÍTICAS:\n\n✓ SIEMPRE incluir el mensaje original completo como primer campo\n✓ Usar EXACTAMENTE 14 campos separados por |\n✓ No inventar datos - usar N/D si no está presente\n✓ Fechas futuras en formato yyyyMMdd\n✓ Horas en formato 24h sin separadores\n✓ Una sola línea de salida\n✓ Sin explicaciones adicionales\n✓ Categoría debe ser una de las 14 definidas\n\n## REGLA FINAL ABSOLUTA:\nSi tienes duda entre dos categorías, usa esta jerarquía de prioridad:\n1. URGENCIA (siempre tiene prioridad máxima)\n2. TURNOS (agendar/cancelar/reprogramar)\n3. INFORMACIÓN\n4. OTROS"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[620,290],"id":"170cf1cc-3523-40b0-bbba-d97e22b3582e","name":"Analista de Conversación"},{"parameters":{"jsCode":"// n8n Code node — Parser Router ICLP\n// Modo: Run Once for Each Item\n// Entrada principal: $json.text (o $json.output) desde el LLM\n\n// 1) Texto del LLM\nconst line = String($json.text ?? $json.output ?? \"\").trim();\n\n// 2) (Opcional) Contexto de \"variables\" SIN cablear ese nodo\nconst vars = (() => {\n  try {\n    const it = $items('variables', 0, 0);\n    return it.length ? (it[0].json ?? {}) : {};\n  } catch { return {}; }\n})();\n\n// 3) (Opcional) Multimedia SIN cablear ese nodo\nconst mm = (() => {\n  try {\n    const it = $items('tieneMultimedia', 0, 0);\n    return it.length ? (it[0].json ?? {}) : {};\n  } catch { return {}; }\n})();\n\n// ---- Helpers ----\nfunction tokenMap(s) {\n  const parts = s.split(\"|\").map(p => p.trim());\n  const map = {};\n  for (const p of parts) {\n    const idx = p.indexOf(\":\");\n    if (idx > -1) {\n      const k = p.slice(0, idx).trim().toLowerCase();\n      const v = p.slice(idx + 1).trim();\n      map[k] = v;\n    }\n  }\n  return { parts, map };\n}\n\nfunction ndToNull(v) {\n  if (v == null) return null;\n  const t = String(v).trim();\n  return (t === \"\" || t.toUpperCase() === \"N/D\") ? null : t;\n}\n\nfunction normInt(s) {\n  if (!s) return \"OTRO\";\n  s = s.toUpperCase();\n  if (s.includes(\"CONSULTORIO_AGENDAR\")) return \"CONSULTORIO_AGENDAR\";\n  if (s.includes(\"CONSULTORIO_CANCELAR\")) return \"CONSULTORIO_CANCELAR\";\n  if (s.includes(\"CONSULTORIO_REPROGRAMAR\")) return \"CONSULTORIO_REPROGRAMAR\";\n  if (s.includes(\"INFO_MEDICOS\") || s.includes(\"ESPECIALIDADES\")) return \"INFO_MEDICOS_ESPECIALIDADES\";\n  if (s.includes(\"QUEJA\") || s.includes(\"RECLAM\")) return \"QUEJA_RECLAMO\";\n  if (s.includes(\"INFO_ESTUDIOS\")) return \"INFO_ESTUDIOS\";\n  if (s.includes(\"ESTUDIO_TURNO\") || s.includes(\"TURNO_ESTUDIO\")) return \"ESTUDIO_TURNO\"; // ambas variantes\n  if (s.includes(\"URGENCIA\")) return \"URGENCIA\";\n  if (s.includes(\"SALUDO\") || s.includes(\"SMALLTALK\")) return \"SALUDO_SMALLTALK\";\n  if (s.includes(\"ARCHIVOS\")) return \"ARCHIVOS_ADJUNTOS\";\n  return \"OTRO\";\n}\n\n// ---- Parseo del renglón del LLM ----\nconst { parts, map } = tokenMap(line);\n\n// parts[0] suele ser descripción, parts[1] un resumen opcional\nconst intentRaw = map[\"intención\"] ?? map[\"intencion\"] ?? null;\n\nconst resultado = {\n  descripcion: parts[0] ?? \"\",\n  resumen: parts[1] ?? \"\",\n  intencion: intentRaw,\n  intencionNormalizada: normInt(intentRaw),\n\n  paciente: {\n    dni: ndToNull(map[\"dni\"]),\n    nombre: vars.contactName ?? null,\n    telefono: ndToNull(map[\"telefono\"]) ?? vars.contactNumber ?? null,\n    email: ndToNull(map[\"email\"]),\n    obraSocial: ndToNull(map[\"obrasocial\"]),\n    conversationId: vars.conversationId ?? null,\n  },\n\n  datosMedicos: {\n    medico: ndToNull(map[\"medico\"]),\n    especialidad: ndToNull(map[\"especialidad\"]),\n    fecha: ndToNull(map[\"fecha\"]),\n    hora: ndToNull(map[\"hora\"]),\n    diaSemana: ndToNull(map[\"dia\"]),\n    tipoEstudio: ndToNull(map[\"estudio\"]),\n  },\n\n  archivos: {\n    tiene: (String(map[\"archivos\"] ?? \"\").toLowerCase().startsWith(\"si\") || !!mm.multimedia) || false,\n    tipo: null,\n  },\n\n  // Control de flujo\n  requiereAccion: true,\n  tipoAccion: null,\n  siguientePaso: null,\n  datosCompletos: true,\n  datosFaltantes: [],\n  flujo: {},\n  respuestaDirecta: null,\n\n  // Debug\n  respuestaOriginal: line,\n  procesadoEn: new Date().toISOString(),\n};\n\n// ---- Acciones y validaciones por intención ----\nswitch (resultado.intencionNormalizada) {\n  case \"URGENCIA\":\n    resultado.tipoAccion = \"RESPUESTA_URGENCIA\";\n    resultado.siguientePaso = \"responder_emergencia\";\n    break;\n\n  case \"SALUDO_SMALLTALK\":\n    resultado.tipoAccion = \"SALUDO_INICIAL\";\n    resultado.siguientePaso = \"mostrar_menu_principal\";\n    resultado.respuestaDirecta = `Gracias por comunicarte con Instituto de Cardiología La Plata ❤️\nLEER CON ATENCIÓN ‼️\n\n🕛 HORARIO: Lunes a Viernes 8 a 20 hs\n\n📝 PARA TURNOS INDICAR SI ES:\n  - Consulta Médica\n  - Estudio\n\nSi necesitás una Consulta, decime especialidad o nombre del profesional y tu DNI.\nSi es para un Estudio, te derivo con recepción para que te asistan rápido.\n\n❔ También ayudamos con:\n- ¿Dónde envío mis recetas?\n- ¿Cuál es el horario de atención?\n- ¿Qué especialidades tienen?\n- ¿Dónde saco turno por la web?\n\n🚫 NO RECIBIMOS LLAMADAS POR ESTE MEDIO 🚫`;\n    resultado.flujo.usarRespuestaDirecta = true;\n    break;\n\n  case \"CONSULTORIO_AGENDAR\":\n    resultado.tipoAccion = \"INICIAR_AGENDAMIENTO\";\n    resultado.siguientePaso = \"validar_paciente_padron\";\n    if (!resultado.paciente.dni) { resultado.datosFaltantes.push(\"DNI\"); resultado.datosCompletos = false; }\n    if (!resultado.datosMedicos.medico && !resultado.datosMedicos.especialidad) {\n      resultado.datosFaltantes.push(\"Médico o Especialidad\");\n      resultado.datosCompletos = false;\n    }\n    break;\n\n  case \"CONSULTORIO_CANCELAR\":\n    resultado.tipoAccion = \"INICIAR_CANCELACION\";\n    resultado.siguientePaso = \"buscar_turnos_activos\";\n    if (!resultado.paciente.dni) { resultado.datosFaltantes.push(\"DNI\"); resultado.datosCompletos = false; }\n    break;\n\n  case \"CONSULTORIO_REPROGRAMAR\":\n    resultado.tipoAccion = \"INICIAR_REPROGRAMACION\";\n    resultado.siguientePaso = \"buscar_turnos_para_cambiar\";\n    if (!resultado.paciente.dni) { resultado.datosFaltantes.push(\"DNI\"); resultado.datosCompletos = false; }\n    break;\n\n  case \"ESTUDIO_TURNO\":\n    resultado.tipoAccion = \"DERIVAR_HUMANO\";\n    resultado.siguientePaso = \"llamar_tool_studios\";\n    break;\n\n  case \"INFO_ESTUDIOS\":\n    resultado.tipoAccion = \"INFORMAR_ESTUDIOS\";\n    resultado.siguientePaso = \"obtener_lista_estudios\";\n    break;\n\n  case \"INFO_MEDICOS_ESPECIALIDADES\":\n    resultado.tipoAccion = \"INFORMAR_PROFESIONALES\";\n    resultado.siguientePaso = \"obtener_medicos_especialidades\";\n    break;\n\n  case \"QUEJA_RECLAMO\":\n    resultado.tipoAccion = \"GESTIONAR_RECLAMO\";\n    resultado.siguientePaso = \"derivar_supervisor\";\n    break;\n\n  default:\n    resultado.tipoAccion = \"PROCESAR_CON_AGENTE\";\n    resultado.siguientePaso = \"agente_conversacional\";\n}\n\n// Flags de flujo\nresultado.flujo = {\n  ...resultado.flujo,\n  debeUsarAgente: ![\"URGENCIA\", \"SALUDO_SMALLTALK\", \"ESTUDIO_TURNO\"].includes(resultado.intencionNormalizada),\n  debeDerivar: resultado.intencionNormalizada === \"ESTUDIO_TURNO\",\n  esEmergencia: resultado.intencionNormalizada === \"URGENCIA\",\n  esPrimerContacto: resultado.intencionNormalizada === \"SALUDO_SMALLTALK\",\n  necesitaDatosAdicionales: !resultado.datosCompletos,\n};\n\n// Mensaje sugerido si faltan datos\nif (!resultado.datosCompletos && resultado.datosFaltantes.length) {\n  resultado.mensajeSugerido = `Para poder ayudarte mejor, necesito que me proporciones: ${resultado.datosFaltantes.join(\", \")}`;\n}\n\n// Salida SIEMPRE como array de items\nreturn [{ json: resultado }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,320],"id":"450f55f2-6e3a-45aa-8f92-ad8f40869512","name":"Formateador"}],"connections":{"obtener_medicos_matricula":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"obtener_estudios":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"horarios_medicos_disponibles":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"tomar_turno_paciente":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"Agente conversacional":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"SendText","type":"main","index":0}]]},"SendText":{"main":[[]]},"LLM":{"ai_languageModel":[[{"node":"Agente conversacional","type":"ai_languageModel","index":0},{"node":"Analista de Conversación","type":"ai_languageModel","index":0}]]},"MEMORY":{"ai_memory":[[{"node":"Agente conversacional","type":"ai_memory","index":0}]]},"eliminar_Turno":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"variables","type":"main","index":0}]]},"variables":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"tieneMultimedia","type":"main","index":0}]]},"horarios_especialidad_disponibles":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"Flujo_padron":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"obtener_medicos_especialidades":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"reprogramar_Turno":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"Lista_Turnos":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"salida":{"main":[[]]},"If":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}],[{"node":"Agente conversacional","type":"main","index":0}]]},"tieneMultimedia":{"main":[[{"node":"noOp","type":"main","index":0}],[{"node":"Analista de Conversación","type":"main","index":0}]]},"llamaToolStudios":{"main":[[]]},"noOp":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"Chat Memory Manager":{"main":[[{"node":"llamaToolStudios","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"tool_think":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"Analista de Conversación":{"main":[[{"node":"Formateador","type":"main","index":0}]]},"Formateador":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","executionTimeout":300},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"hooks.autoclinicas.com","user-agent":"rest-client/2.1.0 (linux-musl x86_64) ruby/3.4.4p34","content-length":"1812","accept":"application/json","accept-encoding":"gzip;q=1.0,deflate;q=0.6,identity;q=0.3","content-type":"application/json","x-forwarded-for":"206.81.1.93","x-forwarded-host":"hooks.autoclinicas.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"0efcae3bc99e","x-real-ip":"206.81.1.93"},"params":{},"query":{},"body":{"additional_attributes":{},"can_reply":true,"channel":"Channel::Whatsapp","contact_inbox":{"id":1179,"contact_id":604,"inbox_id":3,"source_id":"5492213994411","created_at":"2025-07-31T03:21:27.355Z","updated_at":"2025-07-31T03:21:27.355Z","hmac_verified":false,"pubsub_token":"e8N3PaFx7sqrYBJ1wm2GK6rJ"},"id":2505,"inbox_id":3,"messages":[{"id":28998,"content":"Hola si quiero un turno de estudio","account_id":2,"inbox_id":3,"conversation_id":2505,"message_type":0,"created_at":1755199859,"updated_at":"2025-08-14T19:30:59.662Z","private":false,"status":"sent","source_id":"wamid.HBgNNTQ5MjIxMzk5NDQxMRUCABIYFDNBMDgxMjlGQzFFNTIzOTJCNDY4AA==","content_type":"text","content_attributes":{},"sender_type":"Contact","sender_id":604,"external_source_ids":{},"additional_attributes":{},"processed_message_content":"Hola si quiero un turno de estudio","sentiment":{},"conversation":{"assignee_id":null,"unread_count":1,"last_activity_at":1755199859,"contact_inbox":{"source_id":"5492213994411"}},"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":604,"identifier":null,"name":"Nm","phone_number":"+5492213994411","thumbnail":"","blocked":false,"type":"contact"}}],"labels":[],"meta":{"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":604,"identifier":null,"name":"Nm","phone_number":"+5492213994411","thumbnail":"","blocked":false,"type":"contact"},"assignee":null,"team":null,"hmac_verified":false},"status":"pending","custom_attributes":{},"snoozed_until":null,"unread_count":1,"first_reply_created_at":null,"priority":null,"waiting_since":1755199794,"agent_last_seen_at":1755199799,"contact_last_seen_at":0,"last_activity_at":1755199859,"timestamp":1755199859,"created_at":1755199794,"updated_at":1755199859.6670022,"event":"automation_event.message_created"},"webhookUrl":"https://hooks.autoclinicas.com/webhook/agentes/v1/iclp","executionMode":"production"}}]},"versionId":"4aa50aeb-cc87-4848-a170-6424f824cb83","triggerCount":1,"shared":[{"createdAt":"2025-07-31T03:27:54.716Z","updatedAt":"2025-07-31T03:27:54.716Z","role":"workflow:owner","workflowId":"1cnGgd0tFRUFI3r4","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}