error-workflow-☣️☣️-6dh84HOwd5HeezOI.json
{"createdAt":"2025-10-24T18:11:27.656Z","updatedAt":"2025-10-24T20:09:45.535Z","id":"6dh84HOwd5HeezOI","name":"ERROR WORKFLOW ☣️☣️","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[192,96],"id":"026a967f-2d89-45df-ba07-788e9ee699e2","name":"Error Trigger"},{"parameters":{"authentication":"webhook","content":"=**Url del flujo y la ejecucion** : {{ $('Error Trigger').item.json.execution.url.replace('hooks', 'flows') }}\n\n\n**Ultimo nodo ejecutado** : {{ $('Error Trigger').item.json.execution.lastNodeExecuted }}\n\n\n**Nombre del Workflow** : \n{{ $('Error Trigger').item.json.workflow.name }}\n\n**Payload** : \n{{ $json.text }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[768,96],"id":"dbc2309b-e2b5-44c7-807c-ef3718d272f3","name":"Discord","webhookId":"36c9acaa-8ec7-419f-9cbe-ee45e438775c","credentials":{"discordWebhookApi":{"id":"uFHDB8CMzER8LE7G","name":"Discord Webhook Errores"}}},{"parameters":{"promptType":"define","text":"=Error de n8n: {{ JSON.stringify($json) }}","messages":{"messageValues":[{"message":"=Contexto HOY ES: {{ $now.setLocale('es').toFormat(\"cccc, dd/MM/yyyy\") }} \n\nHORARIO ACTUAL: {{ $now.setZone('America/Argentina/Buenos_Aires').toFormat('HH:mm') }} \n\nEres un experto en n8n. Tu función es analizar logs de error de workflows y detectar:\n\n- Qué nodo falló y por qué\n- Posibles causas (datos, configuración, API)\n- Recomendaciones prácticas para resolver\n- Buenas prácticas para evitar el error\n\nDevolvé tu análisis de manera BREVE y CONCRETA en formato Markdown con estos bloques:\n\n## 🛑 Error Detectado  \n## 🔍 Causa Probable  \n## 🛠 Recomendaciones  "}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[416,96],"id":"606ab955-72e2-4ad4-a2fb-604e9d19fa28","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[480,320],"id":"d50aa67f-fef8-4589-ab87-32c37db3916d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Discord","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Error Trigger":[{"json":{"execution":{"id":"42570","url":"https://hooks.autoclinicas.com/workflow/1odVZzIrLtoo46xh/executions/42570","error":{"level":"warning","tags":{},"description":"Error interno del servidor.","errorResponse":{"level":"warning","tags":{},"description":"Error interno del servidor.","timestamp":1761335477340,"context":{"itemIndex":0,"request":{"body":{"dni":"6398761","paciente":"Norma Salvado","obraSocial":"20","celular":"2215406592"},"headers":{"content-type":"application/json","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7"},"method":"POST","uri":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/empadronamiento","gzip":true,"rejectUnauthorized":true,"followRedirect":true,"resolveWithFullResponse":true,"followAllRedirects":true,"timeout":300000,"qs":{"usuario":"WSTRRED","password":"Y2xpb25lcw"},"encoding":null,"json":false,"useStream":true}},"functionality":"regular","name":"NodeApiError","node":{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"POST","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/empadronamiento","authentication":"none","provideSslCertificates":false,"sendQuery":true,"specifyQuery":"keypair","queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"}]},"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"dni\": \"{{ $('Trigger_Flujo_Padron').item.json.dni }}\",\n  \"paciente\": \"{{ $('Trigger_Flujo_Padron').item.json.paciente }}\",\n  \"obraSocial\": \"{{ $('Trigger_Flujo_Padron').item.json.obraSocial }}\",\n  \"celular\": \"{{ $('Trigger_Flujo_Padron').item.json.celular }}\"\n}","options":{},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,160],"id":"ae6b29a2-fbdd-4c3c-a719-fb6cf9257826","name":"API_Empadronar_Paciente"},"messages":["500 - \"Error interno del servidor.\""],"httpCode":"500","message":"The service was not able to process your request","stack":"NodeApiError: The service was not able to process your request\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_1af219c3f47f2a1223ec4ccec249a974/node_modules/n8n-nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts:783:16)\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_5aee33ef851c7de341eb325c6a25e0ff/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1253:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_5aee33ef851c7de341eb325c6a25e0ff/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1427:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_5aee33ef851c7de341eb325c6a25e0ff/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1727:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_5aee33ef851c7de341eb325c6a25e0ff/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2303:11","executionId":"42571","workflowId":"5yeTNub4mGFgBUpp"},"timestamp":1761335477360,"context":{},"functionality":"regular","name":"NodeOperationError","node":{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"POST","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/empadronamiento","authentication":"none","provideSslCertificates":false,"sendQuery":true,"specifyQuery":"keypair","queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"}]},"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"dni\": \"{{ $('Trigger_Flujo_Padron').item.json.dni }}\",\n  \"paciente\": \"{{ $('Trigger_Flujo_Padron').item.json.paciente }}\",\n  \"obraSocial\": \"{{ $('Trigger_Flujo_Padron').item.json.obraSocial }}\",\n  \"celular\": \"{{ $('Trigger_Flujo_Padron').item.json.celular }}\"\n}","options":{},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,160],"id":"ae6b29a2-fbdd-4c3c-a719-fb6cf9257826","name":"API_Empadronar_Paciente"},"messages":[],"executionId":"42571","workflowId":"5yeTNub4mGFgBUpp","message":"The service was not able to process your request","stack":"NodeApiError: The service was not able to process your request\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_1af219c3f47f2a1223ec4ccec249a974/node_modules/n8n-nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts:783:16)\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_5aee33ef851c7de341eb325c6a25e0ff/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1253:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_5aee33ef851c7de341eb325c6a25e0ff/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1427:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_5aee33ef851c7de341eb325c6a25e0ff/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1727:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_5aee33ef851c7de341eb325c6a25e0ff/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2303:11"},"lastNodeExecuted":"POST_PACIENTE","mode":"webhook"},"workflow":{"id":"1odVZzIrLtoo46xh","name":"MASTER"}}}]},"versionId":"bccd1b1f-41f3-4fe7-b1a4-154734e67b33","triggerCount":0,"shared":[{"createdAt":"2025-10-24T18:11:27.656Z","updatedAt":"2025-10-24T18:11:27.656Z","role":"workflow:owner","workflowId":"6dh84HOwd5HeezOI","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}