flujo_backup-RvqVrwPKSYCBE0HA.json
{"createdAt":"2025-06-23T22:45:08.261Z","updatedAt":"2025-06-25T20:02:04.763Z","id":"RvqVrwPKSYCBE0HA","name":"Flujo_backup","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":10,"triggerAtMinute":4}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2400,420],"id":"14d9c7c7-edeb-4527-a6f6-d616eaea6bfa","name":"Cada X tiempo"},{"parameters":{"content":"## 丘멆잺Importante \nEste flujo requiere de las credenciales de GitHub.","height":120,"width":260,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-2400,200],"typeVersion":1,"id":"70f2f1ae-80c2-4994-b42f-1b5b3d206902","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"a866ba19-567e-418a-8d3b-c7aa51d15c4e","name":"nombreRepositorio","value":"=respaldo_{{ $env.N8N_EDITOR_BASE_URL.extractDomain().replaceAll(\".\",\"_\") }}","type":"string"},{"id":"a4daac40-74de-483f-bb31-baa4461cfba9","name":"nombreOwner","value":"ruben18salazar3","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2200,420],"id":"7d417540-27cd-492b-8857-873b36aef9c8","name":"Par치metros"},{"parameters":{"resource":"repository","operation":"get","owner":{"__rl":true,"value":"={{ $json.nombreOwner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json.nombreRepositorio }}","mode":"name"}},"type":"n8n-nodes-base.github","typeVersion":1,"position":[-2000,420],"id":"31a9ee39-b2bc-4bb9-b641-2a89d2412e63","name":"Obtener repositorio","webhookId":"1b60b4c9-d633-4077-b315-67c8dda5a21f","onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.github.com/user/repos","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Par치metros').item.json.nombreRepositorio }}"},{"name":"private","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1800,540],"id":"7376a5cf-d9e6-41e6-b9c1-49412aa334fa","name":"Crear repositorio"},{"parameters":{"command":"rm -rf /home/node/respaldo"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-1600,420],"id":"0552e2b5-88b9-4166-810a-f66a36dced1c","name":"Limpiar carpeta respaldo"},{"parameters":{"command":"n8n export:workflow --backup --output=/home/node/respaldo/workflows"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-1400,140],"id":"a888a7be-7f9e-47bf-a2f5-8bb16b399887","name":"Respaldo workflows"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1800,300],"id":"f619c5d7-3701-431f-bff6-d8a7f9efe325","name":"Ordenar"},{"parameters":{"command":"n8n export:credentials --decrypted --backup --output=/home/node/respaldo/credenciales"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-1400,700],"id":"cdf72230-0633-4fde-9356-8ef09554382b","name":"Respaldo credenciales"},{"parameters":{"fileSelector":"/home/node/respaldo/workflows/*.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-1200,140],"id":"86d029f0-01a6-4fd0-abd1-90b87db4be9c","name":"Obtener workflows"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1000,140],"id":"eeb95759-2a0f-4182-b5f9-c6485c8a17a9","name":"Extraer workflows"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-800,140],"id":"6104ec16-03e0-49ae-9b2b-14869ce3402e","name":"1 a la vez"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"={{ $('Par치metros').item.json.nombreOwner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Par치metros').item.json.nombreRepositorio }}","mode":"name"},"filePath":"=workflows/{{ $json.data.name }}.json","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1,"position":[-620,220],"id":"dc5095a3-bbe6-4161-b737-ac0e63f654cb","name":"Obtener workflow desde GitHub","webhookId":"9548c581-a20f-42e1-ac48-fca8d05f983f","onError":"continueErrorOutput"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Par치metros').item.json.nombreOwner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Par치metros').item.json.nombreRepositorio }}","mode":"name"},"filePath":"=workflows/{{ $('1 a la vez').item.json.data.name }}.json","fileContent":"={{ JSON.stringify($('1 a la vez').item.json.data, null, 2) }}","commitMessage":"=Respaldo de workflow creado el {{ $now }}","additionalParameters":{"branch":{"branch":"main"}}},"type":"n8n-nodes-base.github","typeVersion":1,"position":[-400,320],"id":"e42a3dc7-2f59-40dd-ace9-7aacf1e54c20","name":"Crear workflow GitHub","webhookId":"8fff69f5-c92f-49af-809f-d656d7fee3d5"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-400,120],"id":"aa5b4c90-57e1-4ab3-b1ab-a54c5724e06b","name":"Workflow de binario a json"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"80e84fd1-db01-44c5-afe6-27b12d2ec828","leftValue":"={{ $json.data.updatedAt }}","rightValue":"={{ $('1 a la vez').item.json.data.updatedAt }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-200,120],"id":"45569cdc-282b-4f91-a0f0-125a2d501fde","name":"쮻iferentes?"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Par치metros').item.json.nombreOwner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Par치metros').item.json.nombreRepositorio }}","mode":"name"},"filePath":"=workflows/{{ $('1 a la vez').item.json.data.name }}.json","fileContent":"={{ JSON.stringify($('1 a la vez').item.json.data, null, 2) }}","commitMessage":"=Respaldo de workflow actualizado el {{ $now }}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[0,0],"id":"e36078a8-a7e0-4b8f-b072-60db16a686a0","name":"Editar workflow GitHub","webhookId":"c3598ed8-fd4b-41ea-a208-bb564ec55b4a"},{"parameters":{"amount":0.1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[80,320],"id":"6ca83c48-5623-4c80-ae35-4018ffc8a9e0","name":"Reiniciar","webhookId":"b54e5da2-4cd4-4c83-a80b-76c60285e655"},{"parameters":{"fileSelector":"/home/node/respaldo/credenciales/*.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-1200,700],"id":"6abd705e-739b-4722-842a-64bf07bac0bf","name":"Obtener credenciales"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1000,700],"id":"749e09f4-8615-432d-b7ae-425118356f65","name":"Extraer credenciales"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-800,700],"id":"e1a405c2-4889-4718-9a7e-11fb060fbe07","name":"1 credencial a la vez"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"={{ $('Par치metros').item.json.nombreOwner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Par치metros').item.json.nombreRepositorio }}","mode":"name"},"filePath":"=credenciales/{{ $json.data.name }}.json","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1,"position":[-620,780],"id":"b1258a75-7e3f-4adc-96da-a14d5bdf7c97","name":"Obtener credencial desde GitHub","webhookId":"b521ad5b-db23-4a96-83ac-d4bc8aa1d83a","onError":"continueErrorOutput"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Par치metros').item.json.nombreOwner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Par치metros').item.json.nombreRepositorio }}","mode":"name"},"filePath":"=credenciales/{{ $('1 credencial a la vez').item.json.data.name }}.json","fileContent":"={{ JSON.stringify($('1 credencial a la vez').item.json.data, null, 2) }}","commitMessage":"=Respaldo de credencial creado el {{ $now }}","additionalParameters":{"branch":{"branch":"main"}}},"type":"n8n-nodes-base.github","typeVersion":1,"position":[-400,880],"id":"68e59ef8-2256-402b-9b37-19010866b20b","name":"Crear credencial GitHub","webhookId":"40ec087e-fb32-4ae8-8ac5-ec1149438a99"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-400,680],"id":"aa0432f8-960f-4f3f-82c1-fa44a458a239","name":"Credencial de binario a json"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"80e84fd1-db01-44c5-afe6-27b12d2ec828","leftValue":"={{ $json.data.updatedAt }}","rightValue":"={{ $('1 credencial a la vez').item.json.data.updatedAt }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-200,680],"id":"26d46343-d48b-40cb-aa9d-8fd409ecc380","name":"쮺redenciales Diferentes?"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Par치metros').item.json.nombreOwner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Par치metros').item.json.nombreRepositorio }}","mode":"name"},"filePath":"=credenciales/{{ $('1 credencial a la vez').item.json.data.name }}.json","fileContent":"={{ JSON.stringify($('1 credencial a la vez').item.json.data, null, 2) }}","commitMessage":"=Respaldo de credencial actualizado el {{ $now }}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[0,560],"id":"735531f8-0e88-4179-9e47-3f0119a12479","name":"Editar credencial GitHub","webhookId":"66f5154f-e790-4175-9aee-65939c77e7a3"},{"parameters":{"amount":0.1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[80,880],"id":"a9693a84-34ab-41ea-8360-84377c8d74ca","name":"Repetir","webhookId":"b54e5da2-4cd4-4c83-a80b-76c60285e655"}],"connections":{"Cada X tiempo":{"main":[[{"node":"Par치metros","type":"main","index":0}]]},"Par치metros":{"main":[[{"node":"Obtener repositorio","type":"main","index":0}]]},"Obtener repositorio":{"main":[[{"node":"Ordenar","type":"main","index":0}],[{"node":"Crear repositorio","type":"main","index":0}]]},"Limpiar carpeta respaldo":{"main":[[{"node":"Respaldo credenciales","type":"main","index":0},{"node":"Respaldo workflows","type":"main","index":0}]]},"Crear repositorio":{"main":[[{"node":"Limpiar carpeta respaldo","type":"main","index":0}]]},"Ordenar":{"main":[[{"node":"Limpiar carpeta respaldo","type":"main","index":0}]]},"Respaldo workflows":{"main":[[{"node":"Obtener workflows","type":"main","index":0}]]},"Obtener workflows":{"main":[[{"node":"Extraer workflows","type":"main","index":0}]]},"Extraer workflows":{"main":[[{"node":"1 a la vez","type":"main","index":0}]]},"1 a la vez":{"main":[[],[{"node":"Obtener workflow desde GitHub","type":"main","index":0}]]},"Obtener workflow desde GitHub":{"main":[[{"node":"Workflow de binario a json","type":"main","index":0}],[{"node":"Crear workflow GitHub","type":"main","index":0}]]},"Crear workflow GitHub":{"main":[[{"node":"Reiniciar","type":"main","index":0}]]},"Workflow de binario a json":{"main":[[{"node":"쮻iferentes?","type":"main","index":0}]]},"쮻iferentes?":{"main":[[{"node":"Editar workflow GitHub","type":"main","index":0}],[{"node":"Reiniciar","type":"main","index":0}]]},"Editar workflow GitHub":{"main":[[{"node":"Reiniciar","type":"main","index":0}]]},"Reiniciar":{"main":[[{"node":"1 a la vez","type":"main","index":0}]]},"Respaldo credenciales":{"main":[[{"node":"Obtener credenciales","type":"main","index":0}]]},"Obtener credenciales":{"main":[[{"node":"Extraer credenciales","type":"main","index":0}]]},"Extraer credenciales":{"main":[[{"node":"1 credencial a la vez","type":"main","index":0}]]},"1 credencial a la vez":{"main":[[],[{"node":"Obtener credencial desde GitHub","type":"main","index":0}]]},"Obtener credencial desde GitHub":{"main":[[{"node":"Credencial de binario a json","type":"main","index":0}],[{"node":"Crear credencial GitHub","type":"main","index":0}]]},"Crear credencial GitHub":{"main":[[{"node":"Repetir","type":"main","index":0}]]},"Credencial de binario a json":{"main":[[{"node":"쮺redenciales Diferentes?","type":"main","index":0}]]},"쮺redenciales Diferentes?":{"main":[[{"node":"Editar credencial GitHub","type":"main","index":0}],[{"node":"Repetir","type":"main","index":0}]]},"Editar credencial GitHub":{"main":[[{"node":"Repetir","type":"main","index":0}]]},"Repetir":{"main":[[{"node":"1 credencial a la vez","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"7b979fef-e8aa-44f5-a807-f20c0eefa191","triggerCount":0,"shared":[{"createdAt":"2025-06-23T22:45:08.261Z","updatedAt":"2025-06-23T22:45:08.261Z","role":"workflow:owner","workflowId":"RvqVrwPKSYCBE0HA","projectId":"R66ikVn5xqf0nYcA"}],"tags":[{"createdAt":"2025-06-23T22:44:49.000Z","updatedAt":"2025-06-23T22:44:49.000Z","id":"3Q0y0ZFDSrHBvFkO","name":"游 Backup"}]}