iclp_subflujo_paciente_mes-5CZeD8pm31lefz8v.json
{"createdAt":"2025-07-14T02:06:48.555Z","updatedAt":"2025-08-05T04:19:28.117Z","id":"5CZeD8pm31lefz8v","name":"ICLP_SUBFLUJO_PACIENTE_MES","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"matricula","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[240,-100],"id":"ec50cadd-a3ca-4dc5-b51e-12b8391aed9a","name":"When Executed by Another Workflow"},{"parameters":{"url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/horarios-con-pacientes-mes","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"},{"name":"matricula","value":"={{ $json.matricula }}"},{"name":"fecha","value":"={{ $now.plus().toFormat('yyyyMMdd') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,-100],"id":"cbecade2-d73f-458d-bf43-e80aa8c89beb","name":"HTTP Request"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9422ced1-c288-4384-82d3-bfba48385e43","leftValue":"={{ $json.colorHora }}","rightValue":"8","operator":{"type":"string","operation":"equals"}},{"id":"9fdf27ec-26a6-4c5e-b394-259f261d0f3a","leftValue":"={{ $json.id }}","rightValue":"[null]","operator":{"type":"number","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[680,-100],"id":"014fe32f-38a5-4391-ba6c-c47793adbc02","name":"Filter"},{"parameters":{"assignments":{"assignments":[{"id":"8a3c7647-3630-43f4-98a0-ee9a9df06910","name":"horaLlega5digitos","value":"={{ $json.hora5digitos }}","type":"string"},{"id":"e3c8c5c6-4540-4fbc-a19d-154c87e1aaa2","name":"matFeHo","value":"={{ $json.matFeHo }}","type":"string"},{"id":"681c63be-c526-42d7-818b-4b0e03de4a85","name":"fecha","value":"={{ $json.fecha }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[900,-100],"id":"5c55b502-9d2c-4409-adac-8f92f4b0980b","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"941bc597-be75-4786-bbfc-725bc13eb814","leftValue":"={{ DateTime.fromMillis($json.fecha, { zone: 'utc' }).setZone('America/Buenos_Aires').toFormat('yyyy-MM-dd') }}","rightValue":"={{ $now.plus({ days: 1 }).toFormat('yyyy-MM-dd') }}","operator":{"type":"dateTime","operation":"afterOrEquals"}},{"id":"874db7a1-dba3-4087-948f-58da384e2ade","leftValue":"={{ DateTime.fromMillis($json.fecha, { zone: 'utc' }).setZone('America/Buenos_Aires').toFormat('yyyy-MM-dd') }}","rightValue":"={{ $now.plus({ days: 10 }).toFormat('yyyy-MM-dd') }}","operator":{"type":"dateTime","operation":"beforeOrEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1120,-100],"id":"2e3ba3e1-c08d-40f9-a92b-b7781f124f71","name":"Filter1"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"fechas_libres","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1560,-100],"id":"79c0d759-2b5c-4b6f-b20d-4505330e94b2","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"33114951-3c4e-4a2f-b999-b06c07566240","name":"=fecha_y_hora","value":"={{ DateTime.fromMillis($json.fecha, { zone: 'utc' }).setZone('America/Buenos_Aires').toFormat('yyyy-MM-dd') }},\n{{ $json.horaLlega5digitos }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1340,-100],"id":"2709a8f0-daa7-4f8d-84f9-530ec984a2e6","name":"Edit Fields1"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"matricula":112218}}]},"versionId":"ab9fe238-1c14-4520-a937-ce66746fb300","triggerCount":2,"shared":[{"createdAt":"2025-07-14T02:06:48.555Z","updatedAt":"2025-07-14T02:06:48.555Z","role":"workflow:owner","workflowId":"5CZeD8pm31lefz8v","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}