iclp_prod-9FanzsfQIhS7sH16.json
{"createdAt":"2025-07-14T04:33:39.698Z","updatedAt":"2025-09-25T23:47:47.716Z","id":"9FanzsfQIhS7sH16","name":"ICLP_PROD","active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{"responseFormat":"text","temperature":0.2,"timeout":100000,"maxRetries":3,"topP":0.5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-3104,2256],"id":"503c6765-668d-4367-98e2-d66cabfe1dd2","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}},{"parameters":{"databaseId":256795,"tableId":606371,"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', `Devuelve la matricula del medico que pidio el paciente\n\nSi no pidio un doctor en especifico, devuelve una lista de medicos con esa especialidad y su matricula`, 'boolean') }}","additionalOptions":{}},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[432,1968],"id":"819be6c2-1a25-40cd-a883-a9596e51f675","name":"obtener_medicos_matricula","credentials":{"baserowApi":{"id":"ZpGSFHDmV88Zga8O","name":"Baserow account"}}},{"parameters":{"databaseId":256795,"tableId":606737,"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', `Devuelve solo el campo 'Estudio'\n\nEsto nos dara informacion sobre los estudios que realiza el instituto`, 'boolean') }}","additionalOptions":{}},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[560,1968],"id":"60e28c1e-f8f3-4938-aa17-61acf343d5db","name":"obtener_estudios","credentials":{"baserowApi":{"id":"ZpGSFHDmV88Zga8O","name":"Baserow account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1264,1744],"id":"f42ecb9c-cd84-42cf-9c99-f91dc1d9779f","name":"1 mensaje a la vez1"},{"parameters":{"method":"POST","url":"={{ $('seteo_variables1').item.json.evolution_url }}/message/sendText/{{ $('seteo_variables1').item.json.evolution_instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('seteo_variables1').item.json.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('seteo_variables1').item.json.whatsapp }}"},{"name":"text","value":"={{ $json.texto_limpio }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1488,1744],"id":"bf69cdce-ba2a-46c0-82e7-734c27663117","name":"Respuesta_al_usuario1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('seteo_variables1').item.json.mensaje_tipo }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"a14a0e87-4dc6-4b6b-b5c9-130df82cffb1"}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c52c071e-3b41-4c1a-a29c-2d6205df78f1","leftValue":"={{ $('seteo_variables1').item.json.mensaje_tipo }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"76581f1f-514d-48b7-8f14-3700188cf9ba","leftValue":"={{ $('seteo_variables1').item.json.mensaje_tipo }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagen"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ff59f6c2-f2a4-4344-8d6e-5b6c68db58f1","leftValue":"={{ $('seteo_variables1').item.json.mensaje_tipo }}","rightValue":"reactionMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"reacción"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"otro"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2656,1808],"id":"993c5364-71c3-4c0c-8497-68a968267c47","name":"Tipo de mensaje1"},{"parameters":{"assignments":{"assignments":[{"id":"915e8cae-80aa-4564-9b03-fc7936051b50","name":"evolution_url","value":"={{ $('Entrada').item.json.body.server_url }}","type":"string"},{"id":"b1fac4cf-b394-40a4-a53e-6c1c8b0781a9","name":"evolution_instancia","value":"={{ $('Entrada').item.json.body.instance }}","type":"string"},{"id":"d12ad259-1d61-490f-a383-aa0294f60752","name":"whatsapp","value":"=+{{ $('Entrada').item.json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\",\"\") }}","type":"string"},{"id":"693e89ee-a42d-481a-980c-9fc813bb07bb","name":"enviado_por_mi","value":"={{ $('Entrada').item.json.body.data.key.fromMe }}","type":"boolean"},{"id":"443aa937-5454-4f65-845b-344b8da65528","name":"mensaje_id","value":"={{ $('Entrada').item.json.body.data.key.id }}","type":"string"},{"id":"a21e5305-570c-4153-8b22-b2d56d1f21ee","name":"mensaje_texto","value":"={{ $('Entrada').item.json.body.data.message.conversation }}","type":"string"},{"id":"4d471303-5393-4ca4-a3bc-c6177b90812f","name":"mensaje_tipo","value":"={{ $('Entrada').item.json.body.data.messageType }}","type":"string"},{"id":"70b3ac3c-1aeb-48a5-991c-6278f58a1ae4","name":"mensaje_reaccion","value":"={{ $('Entrada').item.json.body.data.message.reactionMessage.text }}","type":"string"},{"id":"c4b4860b-27e5-4e10-821c-58c97382ec0a","name":"imagen_texto","value":"={{ $('Entrada').item.json.body.data.message.imageMessage.caption }}","type":"string"},{"id":"be5f497b-c00c-4843-9d1f-02926b0cf077","name":"nombre_negocio","value":"iclp","type":"string"},{"id":"1cfca1c3-4c38-43be-97cf-aa1714a6f086","name":"apikey","value":"={{ $json.body.apikey }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2880,1840],"id":"391f899e-426c-4c82-b62a-25968f6f40f2","name":"seteo_variables1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2448,2000],"id":"8024a653-47ea-4063-8b1f-7b860c0fd5c5","name":"No Operation, do nothing1"},{"parameters":{"name":"Flujo_padron","description":"Verifica si un paciente está registrado en el padrón médico mediante su DNI. Si no lo está, permite empadronarlo enviando nombre completo, DNI, obra social y teléfono. Usá esta herramienta en cualquier momento en que necesites validar si el paciente ya existe en el sistema.","workflowId":{"__rl":true,"value":"gdiHQp4cbaJJhGdl","mode":"list","cachedResultName":"ICLP - Testing - Agente Padron"},"workflowInputs":{"mappingMode":"defineBelow","value":{"texto":"={{ $('Resetear debounce1').item.json.debounce }}","celular":"={{ $('seteo_variables1').item.json.whatsapp }}","dni":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dni', `Numero de documento de identidad del paciente\n\nPuede ser por ejemplo:\n42028075`, 'number') }}","paciente":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('paciente', `Nombre del paciente\n\nPuede ser por ejemplo:\nNicolas Lopez`, 'string') }}","obraSocial":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('obraSocial', `Obra social del paciente\n\nPuede ser por ejemplo:\nIOMA`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"paciente","displayName":"paciente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"texto","displayName":"texto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"celular","displayName":"celular","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"obraSocial","displayName":"obraSocial","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[-80,1968],"id":"fd4b11ee-a758-4a74-a123-0fd60dd0eedc","name":"Flujo_padron1"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2000,1648],"id":"30f588c1-ee32-49a0-8350-089942ff203e","name":"Transcribe a recording1","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-2224,1648],"id":"4c7e9124-c7f1-49b6-b500-f14bf87b3f17","name":"Convert to File1"},{"parameters":{"method":"POST","url":"={{ $('seteo_variables1').item.json.evolution_url }}/chat/getBase64FromMediaMessage/{{ $('seteo_variables1').item.json.evolution_instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('seteo_variables1').item.json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('seteo_variables1').item.json.mensaje_id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2448,1648],"id":"3469a9ab-5ae1-4118-a933-4aba8ca4bd40","name":"Descarga_audio_whatsapp1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1344,1744],"id":"636e7e78-2456-4ecc-b170-2d98648b33ca","name":"Esperar 5 segundos1","webhookId":"dc090e12-c988-4405-8ca0-73ac92c6fd1e"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26cede26-4e84-4d91-9969-09bfc5bf3313","leftValue":"={{ $('Recuperar debounce [A]1').item.json.debounce }}","rightValue":"={{ $('Recuperar debounce [B]1').item.json.debounce }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-896,1744],"id":"8498feb8-10e7-4bdc-975d-8b735111d9d1","name":"Comparar debounce y mensaje1"},{"parameters":{"operation":"get","propertyName":"debounce","key":"={{ $('seteo_variables1').item.json.whatsapp }}_debounce_{{ $('seteo_variables1').item.json.nombre_negocio }}","options":{"dotNotation":false}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1568,1744],"id":"8476bc24-9213-4341-b124-8181200e59ae","name":"Recuperar debounce [A]1","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"debounce","key":"={{ $('seteo_variables1').item.json.whatsapp }}_debounce_{{ $('seteo_variables1').item.json.nombre_negocio }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1120,1744],"id":"61c57cb6-004e-4503-b097-411cea19b694","name":"Recuperar debounce [B]1","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"set","key":"={{ $('seteo_variables1').item.json.whatsapp }}_debounce_{{ $('seteo_variables1').item.json.nombre_negocio }}","value":"={{ $('seteo_variables1').item.json.mensaje_tipo === 'audioMessage' ? 'audio_received' : $('seteo_variables1').item.json.mensaje_texto }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-688,1744],"id":"e1cd30d1-a227-4070-ba67-1d34abc0d5c1","name":"Resetear debounce1","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"set","key":"={{ $('seteo_variables1').item.json.whatsapp }}_debounce_{{ $('seteo_variables1').item.json.nombre_negocio }}","value":"={{ $('seteo_variables1').item.json.mensaje_tipo === 'audioMessage' ? 'audio_received' : $('seteo_variables1').item.json.mensaje_texto }}","expire":true,"ttl":86400},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1776,1840],"id":"3294388f-faf7-4aaa-9939-fba25b05ba0c","name":"almacenar_debounce2","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"set","key":"={{ $('seteo_variables1').item.json.whatsapp }}_debounce_{{ $('seteo_variables1').item.json.nombre_negocio }}","value":"={{ $('Transcribe a recording1').item.json.text }}","expire":true,"ttl":86400},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1776,1648],"id":"9bf3e51f-29cd-4829-8f88-a2c91e7e3f8e","name":"almacenar_debounce3","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=user_{{    $('seteo_variables1').item.json.whatsapp.replace('+',    '').replace('@', '') }}_iclp","sessionTTL":132800,"contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-320,1968],"id":"735b65e6-d012-4283-ae5b-a8af4ea1d546","name":"Redis Chat Memory1","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"databaseId":256795,"tableId":606371,"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', `Devuelve la lista completa de los medicos segun la especialidad que pidio el paciente`, 'boolean') }}","additionalOptions":{"order":{"fields":[{"field":4918220}]}}},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[288,1968],"id":"f3015adc-6666-4158-ac88-a8d008bc98a2","name":"obtener_medicos_especialidades1","credentials":{"baserowApi":{"id":"ZpGSFHDmV88Zga8O","name":"Baserow account"}}},{"parameters":{"description":"Llama a este subflujo cuando se necesita saber los horarios disponibles de un medico","workflowId":{"__rl":true,"value":"kmoVJGP4RL3PTi16","mode":"list","cachedResultName":"Turno-medico-mas-proximo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"matricula":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('matricula', `Matricula del medico encontrada desde obtener_medicos_especialidades o pgvector\n\nEs unicamente un dato de tipo NUMBER`, 'number') }}","dni":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dni', `DNI o cedula de identidad provista por el paciente\n\nEjemplo: 42028075`, 'number') }}","fechaDesde":"={{ DateTime.now().setZone('America/Argentina/Buenos_Aires').toFormat('yyyyMMdd') }}"},"matchingColumns":["matricula"],"schema":[{"id":"matricula","displayName":"matricula","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"fechaDesde","displayName":"fechaDesde","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[80,1968],"id":"132f85c4-e6b3-4a22-a84e-c2f6f79f3a75","name":"horarios_medicos_disponibles"},{"parameters":{"description":"Confirma un turno médico para el paciente. Requiere DNI, matrícula del médico, fecha y hora. Convierte automáticamente los formatos de fecha (a timestamp) y hora (a HHMM) para la API.","workflowId":{"__rl":true,"value":"H4tsNj9SnsCxET4y","mode":"list","cachedResultName":"ICLP - Subflujo_Tomar_Turno"},"workflowInputs":{"mappingMode":"defineBelow","value":{"dni":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dni', `Documento/DNI proporcionado por el paciente`, 'number') }}","matricula":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('matricula', `matricula del medico que va a obtener el turno`, 'number') }}","fecha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha', `El dia que el paciente quiere el turno`, 'string') }}","hora":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora', `La hora que el paciente quiere el turno`, 'string') }}","nombre_completo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre_completo', `nombre completo del paciente que va a tomar el turno`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"matricula","displayName":"matricula","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"hora","displayName":"hora","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"nombre_completo","displayName":"nombre_completo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-192,1968],"id":"a5dbf743-2bdd-4c17-a07a-7bbaaa741b11","name":"tomar_turno_paciente"},{"parameters":{"toolDescription":"Lista los turnos actuales de un paciente por DNI.Si la fecha es 8/07/2025 transformarla a 20250708","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/lista-turnos-actuales","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"=WSTRRED"},{"name":"password","value":"=Y2xpb25lcw"},{"name":"dni","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Documento de identidad proporcionado por el paciente`, 'string') }}"},{"name":"fecha","value":"={{ $now.setZone('America/Argentina/Buenos_Aires').toFormat('yyyyLLdd') }}"}]},"options":{},"optimizeResponse":true,"dataField":"lista","fieldsToInclude":"selected","fields":"fecha, fechaString, hora, hora5digitos, matricula, nombreMedico, estudios,"},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[720,1968],"id":"38dae6c6-66c9-40ca-9c3d-005c80c67b7a","name":"HTTP Lista_Turnos"},{"parameters":{"toolDescription":"Permite cancelar un turno médico existente. IMPORTANTE: Primero verificar con HTTP Lista_Turnos que el turno existe y está activo. Requiere la matrícula del médico, la fecha (en formato YYYYMMDD, ej: '20250708') y la hora (en formato HHMM, ej: '1430') del turno a eliminar. Si el turno ya fue cancelado, informar al usuario.","method":"PUT","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/eliminar-turno","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"},{"name":"matricula","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Matricula del medico, generalmente son 5 a 7 numeros. \nTe puedes guiar por parameters2_Value:\n111808\n`, 'string') }}"},{"name":"fecha","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `Es la fecha del turno\nTe puedes guiar por\nparameters3_Value:\n20250721`, 'string') }}"},{"name":"hora","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `Es la hora del turno te puedes guiar por\nparameters4_Value:\n1040`, 'string') }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{"neverError":true,"responseFormat":"text","outputPropertyName":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Put_Output_in_Field', `Turno cancelado exitosamente\t\"OK\" (HTTP 200)\t✅ \"OK\"\nTurno inexistente\t\"Turno inexistente.\" (HTTP 500)\t✅ \"Turno inexistente.\"\nTurno ya cancelado\t\"El turno ya fue cancelado.\" (HTTP 500)\t✅ \"El turno ya fue cancelado.\"\nError general\t\"Problema.\" (HTTP 500)\t✅ \"Problema.\"`, 'string') }}"}}}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[848,1968],"id":"9ec26bae-49fb-4753-920f-3710b6aac3c3","name":"HTTP eliminar_Turno"},{"parameters":{"promptType":"define","text":"={{ $('Resetear debounce1').item.json.debounce }}","options":{"systemMessage":"=# 🏥 ASISTENTE MÉDICO DIGITAL INTELIGENTE - ICLP v9.5\n\n## CONTEXTO OPERATIVO\n\n* **Usuario:** {{ $('seteo_variables1').item.json.whatsapp }}\n* **Mensaje:** {{ $('Resetear debounce1').item.json.debounce }}\n* **Fecha:** {{ $now.setLocale('es').toFormat(\"cccc, dd/MM/yyyy TT\") }}\n* **Sesión:** {{ $('seteo_variables1').item.json.whatsapp.replace('+', '').replace('@', '') }}_iclp\n* **Horario Instituto:** Lunes a Viernes 8:00-20:00hs - Sabado de 8:00 - 20:00hs\n* **Pedido de recetas:** Correo electronico: recetas@iclpsrl.com.ar\n\n---\n\nEres el **Asistente Médico Digital del Instituto de Cardiología La Plata (ICLP)**, especializado en atención médica digital vía WhatsApp. Tu misión es atender de forma autónoma, precisa, empática y eficiente las solicitudes de los pacientes utilizando herramientas específicas.\n\n## 🎯 OBJETIVO PRINCIPAL\n\nGestionar integralmente:\n\n* **Verificación y empadronamiento** de pacientes\n* **Consulta y búsqueda inteligente** de médicos, especialidades y horarios\n* **Agenda automatizada** de turnos médicos\n* **Gestión de cancelaciones y reprogramaciones**\n* **Información clara** sobre médicos, especialidades, estudios y obras sociales\n\n## 🚨 LÍMITES Y RESTRICCIONES CRÍTICAS\n\n### **NO PUEDES:**\n- ❌ Dar consejos médicos o diagnósticos\n- ❌ Prescribir medicamentos o tratamientos\n- ❌ Atender urgencias médicas (derivar a 107)\n- ❌ Modificar historias clínicas\n- ❌ Dar resultados de estudios médicos\n- ❌ Agendar más de 2 turnos por paciente sin autorización\n\n### **🚨 INFORMACIÓN CONFIDENCIAL - NUNCA MOSTRAR:**\n- ❌ Prioridades internas (\"Prioridad 1\", \"Prioridad 2\", \"S/P\")\n- ❌ Códigos internos de la base de datos\n- ❌ Información administrativa no destinada a pacientes\n---\n\n### **URGENCIAS MÉDICAS:**\nSi detectás palabras como: \"dolor de pecho\", \"infarto\", \"desmayo\", \"emergencia\", responder:\n\"🚨 Para urgencias médicas llamá inmediatamente al 107 o dirigite a la guardia más cercana. Este canal es solo para turnos programados.\"\n\n## 👋 SALUDO INICIAL OBLIGATORIO\n\nSi el paciente inicia con un saludo general (\"hola\", \"quiero un turno\"):\n\nGracias por comunicarte con el Instituto de Cardiología La Plata. ¿Cómo podemos ayudarte? 👋🏻\n\n📆 Sacá tu turno directamente en: https://iclp.com.ar/\n\n👉 O envianos lo siguiente y te agendamos el turno más proximo:\n- Nombre y Apellido\n- DNI (sin puntos)\n- Profesional deseado\n\nEjemplo: Nicolás López, DNI 42922375, turno con el Dr. Fabián Barba y te agendamos \n\n\nTambién podemos ayudarte con:\n\n- ¿Qué especialidades tiene el instituto?\n- ¿Qué estudios realizan en el instituto?\n- ¿Dónde envío mis recetas?\n- ¿Cuáles son los horarios disponibles del Dr.? Incluí el nombre completo del Dr/Dra.\n\n📵 NO recibimos llamadas en este número.\n\nPARA ESTUDIOS COMPLEMENTARIOS, COORDINAR PREVIAMENTE CON EL MEDICO ASIGNADO.\n\n---\n\n## HERRAMIENTAS DISPONIBLES\n\n### Flujo_padron1 (Obligatorio SIEMPRE Primero)\n* **Uso:** Validar registro del paciente y empadronamiento automático\n* **Cuándo:** Siempre antes de gestionar turnos\n* **Entrada:** texto, user_id, session\n* **Salida:** Estado y datos completos del paciente\n* **Error:** Si falla, informar que el sistema está momentáneamente no disponible\n\n### obtener_medicos_especialidades1\n* **Uso:** Búsqueda inteligente de médicos por especialidad con prioridades\n\n* ** CRÍTICO ABSOLUTO:** Al presentar médicos, mantener el orden que devuelve la herramienta (basado en prioridades internas) pero NUNCA mostrar las etiquetas de clasificación (\"Prioridad 1\", \"Prioridad 2\", \"Sin Prioridad\", etc.). Solo mostrar la lista de médicos sin mencionar el criterio de ordenamiento.\n\n\n* **Cuándo:** Consultas generales de especialidades o médicos\n* **Salida:** Lista ordenada de médicos con matrícula y especialidad\n\n### obtener_medicos_matricula\n* **Uso:** Búsqueda específica de médicos por nombre\n* **Entrada:** Nombre o apellido del médico\n* **Salida:** Datos completos del médico específico\n* ** CRÍTICO:** OBLIGATORIO usar antes de tomar_turno_paciente y HTTP eliminar_Turno cuando el usuario menciona el nombre de un médico\n* **Validación:** Antes de buscar, verificar que el nombre tenga al menos 3 caracteres y no contenga números\n\n### horarios_medicos_disponibles\n* **Uso:** Consulta disponibilidad real del médico con el turno más próximo\n* **Entrada:** Matrícula del médico, dni del paciente, fecha actual {{ DateTime.now().setZone('America/Argentina/Buenos_Aires').toFormat('yyyyMMdd') }}\n* **Salida:** Horarios disponibles (fecha y hora legibles)\n\n### tomar_turno_paciente\n* **Uso:** Confirmación final del turno\n* **Entrada:** dni, matricula, fecha (yyyyMMdd), hora (HHmm), nombre_completo\n* **Salida:** Confirmación del turno\n* **Validación:** Confirmar TODOS los datos antes de ejecutar\n\n### HTTP Lista_Turnos\n* **Uso:** Consultar turnos existentes del paciente\n* **Entrada:** DNI del paciente (validado: 8 dígitos, solo números)\n* **Salida:** Lista de turnos existentes (fecha, hora, médico, estudios)\n\n### HTTP eliminar_Turno\n* **Uso:** Cancelación directa de turno\n* **Entrada:** matricula, fecha (yyyyMMdd), hora (HHmm)\n* **Salida:** Confirmación de la cancelación\n* **🚨 CRÍTICO:** SIEMPRE usar obtener_medicos_matricula PRIMERO para obtener la matrícula correcta\n\n### obtener_estudios\n* **Uso:** Información sobre estudios médicos disponibles\n* **Salida:** Lista de estudios disponibles\n\n---\n\n## 🧠 MOTOR DE DECISIONES INTELIGENTE\n\n### FASE 1: VALIDACIÓN Y VERIFICACIÓN\n1. **Validar DNI:** 8 dígitos, solo números, sin puntos ni guiones\n2. **Extraer información:** Nombre, DNI, médico/especialidad solicitada\n3. **Ejecutar Flujo_padron1:** OBLIGATORIO antes de cualquier gestión\n4. **Manejar resultado:**\n   - ✅ Empadronado: Continuar\n   - ❌ No empadronado: Informar proceso de empadronamiento\n   - 🔴 Error sistema: \"El sistema está momentáneamente no disponible, intentá más tarde\"\n\n### FASE 2: INTENCIÓN Y ENRUTAMIENTO\n\n* **Consultar turnos:** HTTP Lista_Turnos → Mostrar turnos claros\n\n* **Cancelar turno:** \n  1. HTTP Lista_Turnos (mostrar turnos existentes)\n  2. Usuario selecciona cuál cancelar\n  3. obtener_medicos_matricula (si menciona nombre de médico)\n  4. HTTP eliminar_Turno con datos exactos\n  5. Confirmar cancelación exitosa\n\n* **Turno con médico específico:** \n  1. obtener_medicos_matricula (validar nombre médico)\n  2. horarios_medicos_disponibles\n  3. Usuario confirma fecha/hora\n  4. tomar_turno_paciente\n  5. Confirmar turno exitoso\n\n* **Turno por especialidad:** \n  1. obtener_medicos_especialidades1\n  2. Usuario selecciona médico\n  3. horarios_medicos_disponibles\n  4. tomar_turno_paciente\n\n* **Consultas informativas:** obtener_medicos_especialidades1 / obtener_estudios\n\n### FASE 3: VALIDACIÓN Y CONFIRMACIÓN\n1. **Validar datos:** Formato correcto, información completa\n2. **Ejecutar herramienta:** Con manejo de errores\n3. **Interpretar respuesta:** OK, Error, o datos parciales\n4. **Informar al usuario:** Claro, preciso, siguiente paso\n5. **Confirmación final:** Para acciones críticas (tomar/cancelar turno)\n\n---\n\n## 🛡️ MANEJO DE ERRORES Y CASOS ESPECIALES\n\n### **API NO DISPONIBLE:**\n\"El sistema está momentáneamente no disponible. Por favor intentá nuevamente en unos minutos o comunicarte directamente al instituto.\"\n\n### **PACIENTE NO EMPADRONADO:**\n\"Para poder gestionar turnos necesitás estar empadronado en nuestro sistema. Podes enviarme tu DNI sin puntos para empadronarte.\"\n\n### **MÉDICO NO ENCONTRADO:**\n\"No encontré a ese médico en nuestro sistema. ¿Podrías verificar el nombre? También puedo mostrarte la lista completa de profesionales disponibles.\"\n\n### **SIN TURNOS DISPONIBLES:**\n\"No hay turnos disponibles para ese médico en los próximos días. ¿Te gustaría que te muestre otros profesionales de la misma especialidad con disponibilidad?\"\n\n### **FUERA DE HORARIO:**\n\"Nuestro horario de atención es de Lunes a Viernes de 8:00 a 18:00hs. Te responderemos durante el próximo horario hábil.\"\n\n### **DATOS INCOMPLETOS:**\n\"Para gestionar tu turno necesito:\n- Nombre completo\n- DNI (8 dígitos, sin puntos)\n- Médico o especialidad preferida\n¿Podrías completar la información faltante?\"\n\n### **ESCALACIÓN A HUMANO:**\nSi después de 3 intentos no se resuelve el problema:\n\"Te pido que te dirijas a https://iclp.com.ar/ y gestiones en la pagina web.\"\n\n---\n\n## 📋 VALIDACIONES CRÍTICAS\n\n### **FORMATO DNI:**\n- Exactamente 8 dígitos\n- Solo números (no letras, puntos, guiones)\n- Rango válido: 10000000-99999999\n\n### **NOMBRES DE MÉDICOS:**\n- Mínimo 3 caracteres\n- Solo letras y espacios\n- No números ni caracteres especiales\n- Convertir a formato estándar antes de buscar\n\n### **REFERENCIAS CONTEXTUALES:**\n- \"mi turno\" → Usar DNI del usuario para buscar, SI NO LO ENCUENTRAS, NO LO INVENTES, PEDIRSELO NUEVAMENTE\n- \"ese doctor\" → Usar último médico mencionado, SI NO LO ENCUENTRAS, NO LO INVENTES, PEDIRSELO NUEVAMENTE\n- \"el mismo día\" → Usar última fecha mencionada, SI NO LO ENCUENTRAS, NO LO INVENTES, PEDIRSELO NUEVAMENTE\n\n---\n\n## 🎯 RESPUESTAS INTELIGENTES Y CONTEXTUALES\n\n### **CONFIRMACIONES CLARAS:**\n\"✅ Tu turno con el Dr. [NOMBRE] ha sido confirmado para el [DÍA] [FECHA] a las [HORA]hs.\n\n📍 Instituto de Cardiología La Plata\nC. 6 n212\n📅 Recordá llegar 20 minutos antes\n🆔 Traé tu DNI y carnet de obra social\n\n¿Necesitás algo más?\"\n\n### **ERRORES AMIGABLES:**\n\"❌ No pude cancelar el turno. Esto puede deberse a que ya fue cancelado anteriormente o a un problema temporal del sistema. ¿Querés que verifique tus turnos actuales?\"\n\n### **INFORMACIÓN PROACTIVA:**\n\"ℹ️ Te recuerdo que para estudios complementarios (Holter, MAPA, Ergometría) necesitás coordinación previa con tu médico de cabecera.\"\n\n## 📢 REGLAS DE COMUNICACIÓN\n\n* **Tono:** Profesional, empático y amigable (voseo argentino)\n* **Claridad:** Respuestas precisas y directas\n* **Emojis:** Moderados, para claridad visual\n* **Confirmaciones:** Siempre confirmar datos críticos\n* **Proactividad:** Anticipar necesidades del usuario\n\n---\n\n## 🔧 FORMATOS TÉCNICOS CRÍTICOS\n\n* **Fecha API:** yyyyMMdd (ej. 20250125)\n* **Hora API:** HHmm (ej. 1430)\n* **DNI:** 8 dígitos sin puntos (ej. 42028075)\n* **Fecha legible:** \"lunes 25 de enero de 2025\"\n* **Hora legible:** \"14:30hs\"\n\n---","maxIterations":15}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[224,1744],"id":"2e0bf57f-305e-4dc8-a6a7-2da4e8c989c7","name":"Agente conversacional"},{"parameters":{"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-432,1968],"id":"ba6da48a-a238-405e-9d76-4e9244da712d","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"y4EbL32CeQSjDRft","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"const textoOriginal = $json.output || \"\";\n\n// FILTRO CRÍTICO: Eliminar prioridades internas antes de mostrar al paciente\nlet textoFiltrado = textoOriginal\n  // Eliminar líneas completas que contengan prioridades\n  .replace(/^.*Prioridad\\s*[123].*:.*$/gm, '')\n  .replace(/^.*Sin Prioridad.*\\(S\\/P\\).*:.*$/gm, '')\n  .replace(/^.*S\\/P.*:.*$/gm, '')\n  // Eliminar texto específico de prioridades\n  .replace(/Prioridad\\s*[123]\\s*:/gi, '')\n  .replace(/Sin\\s*Prioridad\\s*\\(S\\/P\\)\\s*:/gi, '')\n  .replace(/S\\/P\\s*:/gi, '')\n  // Limpiar saltos de línea múltiples que quedan\n  .replace(/\\n\\s*\\n\\s*\\n/g, '\\n\\n')\n  .replace(/^\\s*\\n/gm, '')\n  .trim();\n\n// Aplicar limpieza estándar\nconst limpio = textoFiltrado\n  .replace(/\\*\\*/g, '')                     // quita **negrita**\n  .replace(/\\*/g, '')                       // quita asteriscos sueltos\n  .replace(/\\\\n\\\\n/g, '\\n\\n')               // reemplaza \"\\n\\n\" literal por salto doble\n  .replace(/\\\\n/g, '\\n')                    // reemplaza \"\\n\" literal por salto de línea real\n  .replace(/^[-*]\\s?/gm, '• ')              // reemplaza bullets tipo * o - por viñeta\n  .replace(/\\n{3,}/g, '\\n\\n')               // evita saltos triples o más\n  .trim();\n\nreturn [{\n  json: {\n    texto_limpio: limpio\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,1744],"id":"554ddc7e-cdc1-4d95-88e9-a5f4cdb01501","name":"Code"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-3104,1120],"id":"9e257784-dafd-482c-a3e6-af5a68f8b9c6","name":"Error Trigger"},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C0966JE8Q3U","mode":"list","cachedResultName":"errores-chatbot"},"text":"={{ $json.execution.url }}\n\n{{ $json.execution.error.message }}\n\n{{ $json.execution.lastNodeExecuted }}","otherOptions":{"includeLinkToWorkflow":true}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-2880,1120],"id":"03c3a401-8b7a-4abd-b0cd-5ce285030fdf","name":"Send a message","webhookId":"f57e9897-7a21-4863-a059-d6c01e3328a8","credentials":{"slackOAuth2Api":{"id":"BYKRH6LD2ALTuGh7","name":"Slack - ICLP"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"817bcbf8-c683-40d8-bd2f-0a2d54b2a169","leftValue":"={{ $('seteo_variables1').item.json.whatsapp }}","rightValue":"2213994411","operator":{"type":"string","operation":"contains"}},{"id":"057155d2-7320-48de-8ed5-bf00dcc72b38","leftValue":"={{ $('seteo_variables1').item.json.whatsapp }}","rightValue":"+5492214203659","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-464,1744],"id":"dcb112bf-6ab7-4dc6-9e0f-4ce8a760a6d7","name":"Filtrar números de prueba1"},{"parameters":{"httpMethod":"POST","path":"nicotest","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3104,1840],"id":"cb0867f3-eee9-421e-9b71-283a65263aa7","name":"Entrada","webhookId":"d5c2bece-2323-4d9b-9115-70cfc9683afa"},{"parameters":{"method":"POST","url":"=https://chatw.automatizaciones.ai/api/v1/accounts/2/conversations/630/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"F3AjM2zcv1HMa4xeJHJSDQMM"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.texto_limpio }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3104,1392],"id":"8015f908-7177-45eb-b3cd-c428b35b8123","name":"SendText"}],"connections":{"obtener_medicos_matricula":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"obtener_estudios":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"1 mensaje a la vez1":{"main":[[],[{"node":"Respuesta_al_usuario1","type":"main","index":0}]]},"Respuesta_al_usuario1":{"main":[[{"node":"1 mensaje a la vez1","type":"main","index":0}]]},"Tipo de mensaje1":{"main":[[{"node":"almacenar_debounce2","type":"main","index":0}],[{"node":"Descarga_audio_whatsapp1","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"seteo_variables1":{"main":[[{"node":"Tipo de mensaje1","type":"main","index":0}]]},"Flujo_padron1":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"Transcribe a recording1":{"main":[[{"node":"almacenar_debounce3","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Transcribe a recording1","type":"main","index":0}]]},"Descarga_audio_whatsapp1":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Esperar 5 segundos1":{"main":[[{"node":"Recuperar debounce [B]1","type":"main","index":0}]]},"Comparar debounce y mensaje1":{"main":[[{"node":"Resetear debounce1","type":"main","index":0}]]},"Recuperar debounce [A]1":{"main":[[{"node":"Esperar 5 segundos1","type":"main","index":0}]]},"Recuperar debounce [B]1":{"main":[[{"node":"Comparar debounce y mensaje1","type":"main","index":0}]]},"Resetear debounce1":{"main":[[{"node":"Filtrar números de prueba1","type":"main","index":0}]]},"almacenar_debounce2":{"main":[[{"node":"Recuperar debounce [A]1","type":"main","index":0}]]},"almacenar_debounce3":{"main":[[{"node":"Recuperar debounce [A]1","type":"main","index":0}]]},"Redis Chat Memory1":{"ai_memory":[[{"node":"Agente conversacional","type":"ai_memory","index":0}]]},"obtener_medicos_especialidades1":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"horarios_medicos_disponibles":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"tomar_turno_paciente":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"HTTP Lista_Turnos":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"HTTP eliminar_Turno":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"Agente conversacional":{"main":[[{"node":"Code","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Agente conversacional","type":"ai_languageModel","index":0}]]},"Code":{"main":[[{"node":"1 mensaje a la vez1","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Filtrar números de prueba1":{"main":[[{"node":"Agente conversacional","type":"main","index":0}]]},"Entrada":{"main":[[{"node":"seteo_variables1","type":"main","index":0}]]},"SendText":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Entrada":[{"json":{"headers":{"host":"hooks.autoclinicas.com","user-agent":"axios/1.10.0","content-length":"627","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"hooks.autoclinicas.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"0efcae3bc99e","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Nicolas Matias Lopez","data":{"key":{"remoteJid":"5492213994411@s.whatsapp.net","fromMe":true,"id":"3AD589A81C867153DDDE"},"pushName":"Nm","status":"SERVER_ACK","message":{"conversation":"que especialides tienen en nutricion"},"messageType":"conversation","messageTimestamp":1752869220,"instanceId":"0c06d94e-fef1-4290-8f10-fc50fe46c114","source":"ios"},"destination":"https://hooks.autoclinicas.com/webhook/nicotest","date_time":"2025-07-18T17:07:01.256Z","sender":"5492213994411@s.whatsapp.net","server_url":"https://api.autoclinicas.com","apikey":"8D32EAE9C7F6-49ED-A4AE-B9E83DF47788"},"webhookUrl":"https://hooks.autoclinicas.com/webhook/nicotest","executionMode":"production"}}]},"versionId":"34686737-9ea6-4db6-a324-9898d2a98fda","triggerCount":1,"shared":[{"createdAt":"2025-07-14T04:33:39.698Z","updatedAt":"2025-07-14T04:33:39.698Z","role":"workflow:owner","workflowId":"9FanzsfQIhS7sH16","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}