iclp---prod---agente-cancela_reprograma_turnos-QvUJJkQsI3fM0ZWj.json
{"createdAt":"2025-06-23T21:21:29.817Z","updatedAt":"2025-06-23T21:38:36.331Z","id":"QvUJJkQsI3fM0ZWj","name":"ICLP - PROD - Agente cancela_reprograma_turnos","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Agente especializado en cancelar y reprogramar turnos","height":540,"width":660,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-100,20],"typeVersion":1,"id":"88a6335d-584c-4adb-99a5-5efdf4dcc5ef","name":"Sticky Note8"},{"parameters":{"promptType":"define","text":"={{ $json.texto }}","options":{"systemMessage":"=Eres un asistente especializado en cancelación y reprogramación de turnos médicos del Instituto ICLP.\n\nREGLA CRÍTICA: SIEMPRE usa las herramientas disponibles. NO respondas solo con texto.\n\nFECHA Y HORA ACTUAL: {{ new Date().toLocaleString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires' }) }}\n\nHERRAMIENTAS DISPONIBLES:\n1. **consultar_todos_turnos**: Consulta TODOS los turnos de un paciente por DNI\n   - Requiere: dni\n   - Usa SIEMPRE PRIMERO para obtener información de turnos\n\n2. **consultar_turnos_fecha**: Consulta turnos de una fecha específica\n   - Requiere: dni, fecha (YYYYMMDD)\n   - Usa cuando necesites detalles específicos de un día\n\n3. **cancelar_turno**: Cancela un turno médico existente\n   - Requiere: matricula, fecha (YYYY-MM-DD), hora (HH:MM)\n\n4. **reprogramar_turno**: Toma un nuevo turno médico\n   - Requiere: dni, celular, nuevaFecha, nuevaHora, nuevaMatricula, sexo\n\nDATOS DEL USUARIO ACTUAL:\n- DNI: {{ $json.session.datos_recopilados.dni }}\n- Nombre: {{ $json.session.datos_recopilados.nombre }}\n- Celular: {{ $json.session.datos_recopilados.celular }}\n\nFLUJO AUTOMÁTICO OBLIGATORIO:\n\nSi el usuario dice \"quiero cancelar turno\" + DNI:\n1. USAR INMEDIATAMENTE: consultar_todos_turnos(dni=\"17666371\")\n2. Si encuentra turnos: MOSTRAR al usuario y pedir confirmación\n3. Si usuario confirma: USAR INMEDIATAMENTE cancelar_turno con datos exactos\n\nNO preguntes por información que puedes obtener con las herramientas.\nNO solicites fecha/hora/matrícula - BÚSCALOS con consultar_todos_turnos.\n\nEJEMPLO DE FLUJO:\nUsuario: \"confirmo cancelar turno dni 17666371\"\n→ TÚ: consultar_todos_turnos(dni=\"17666371\") \n→ TÚ: \"Encontré turno con Dr. Arregui 21/06 17:45, ¿confirmas cancelar?\"\n→ Usuario: \"sí\"\n→ TÚ: cancelar_turno(matricula=15976, fecha=\"2025-06-21\", hora=\"17:45\")"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[120,200],"id":"c259549d-6e1a-4de7-a984-91dcbcfe377e","name":"Agente cancela_reprograma_turnos"},{"parameters":{"toolDescription":"=Cancela un turno médico existente del paciente. Requiere matricula (número), fecha (formato YYYYMMDD) y hora (formato HHMM) del turno a cancelar. Usá este endpoint cuando el paciente solicite anular un turno confirmado.\n\nEste es el estado de la sesion:\n{{ $('When Executed by Another Workflow').item.json.session.estado_sesion }}\n\n\n\n- **Fecha y hora actual**: {{ new Date().toLocaleString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires', weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) }}\n\n\n## Información del usuario\n- ID: {{ $json.user_id }}\n- Mensaje actual: {{ $json.texto }}\n\n## Estado de la conversación\n- Datos recopilados:{{ $json.session.estado_sesion }}","method":"PUT","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/eliminar-turno","sendQuery":true,"parametersQuery":{"values":[{"name":"usuario","valueProvider":"fieldValue","value":"WSTRRED"},{"name":"password","valueProvider":"fieldValue","value":"Y2xpb25lcws"},{"name":"matricula","valueProvider":"fieldValue","value":"={matricula}"},{"name":"fecha","valueProvider":"fieldValue","value":"={fecha}"},{"name":"hora","valueProvider":"fieldValue","value":"={hora}"}]},"sendHeaders":true,"parametersHeaders":{"values":[{"name":"Content-Type","valueProvider":"fieldValue","value":"application/json"}]},"placeholderDefinitions":{"values":[{"name":"matricula","description":"Matrícula del médico (número entero, ejemplo: 15976)","type":"string"},{"name":"fecha","description":"Fecha del turno en formato YYYYMMDD SIN GUIONES. Si recibes 2025-06-21, convertir a 20250621. Ejemplo: 20250621","type":"string"},{"name":"hora","description":"Hora del turno en formato HHMM (ejemplo: 1745)","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[80,420],"id":"5a40fec6-02ad-4b0e-aa65-0742d24e719d","name":"HTTP cancelar_turno"},{"parameters":{"toolDescription":"Toma un nuevo turno médico para reemplazar uno anterior. Requiere dni, celular, nuevaFecha (YYYY-MM-DD), nuevaHora (HH:MM), nuevaMatricula (número) y sexo del paciente. Usá este endpoint cuando el paciente quiera reprogramar su turno actual.","method":"POST","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/tomar-turno","sendQuery":true,"parametersQuery":{"values":[{"name":"usuario","valueProvider":"fieldValue","value":"WSTRRED"},{"name":"password","valueProvider":"fieldValue","value":"Y2xpb21lcw"},{"name":"canal","valueProvider":"fieldValue","value":"app"}]},"sendHeaders":true,"parametersHeaders":{"values":[{"name":"Content-Type","valueProvider":"fieldValue","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"dni\": \"{{$json.parameters.dni}}\",\n  \"celular\": \"{{$json.parameters.celular}}\",\n  \"fecha\": \"{{ new Date($json.parameters.nuevaFecha).getTime() }}\",\n  \"hora\": \"{{$json.parameters.nuevaHora.replace(':', '')}}\",\n  \"matricula\": \"{{ parseInt($json.parameters.nuevaMatricula) }}\",\n  \"sexo\": \"{{$json.parameters.sexo || 'M'}}\",\n  \"estudios\": \"Consulta\",\n  \"equipo\": \"1\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[200,420],"id":"e70147d9-ebf2-47ad-9af4-54377ca3c655","name":"HTTP reprogramar_turno"},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"texto\": \"Quiero cancelar mi turno del 25 de enero a las 14:00 con el Dr. García\",\n  \"user_id\": \"1234567890\",\n  \"session\": {\n    \"datos_recopilados\": {\n      \"dni\": \"17666371\",\n      \"nombre\": \"Juan Pérez\",\n      \"celular\": \"1123456789\",\n      \"turno_actual\": {\n        \"fecha\": \"2025-01-25\",\n        \"hora\": \"14:00\",\n        \"matricula\": \"15976\",\n        \"medico\": \"Dr. García\"\n      },\n      \"nuevo_turno\": {\n        \"fecha\": \"2025-02-15\",\n        \"hora\": \"16:30\",\n        \"matricula\": \"15976\"\n      }\n    }\n  }\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-280,200],"id":"df1c638b-48c1-4818-afb3-fc9aff83e292","name":"When Executed by Another Workflow"},{"parameters":{"toolDescription":"Consulta turnos de una fecha específica con información detallada de médicos. Requiere dni y fecha en formato YYYYMMDD. Devuelve datos completos incluyendo nombreMedico, matricula, hora exacta para cancelar.","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/lista-turnos-actuales","sendQuery":true,"parametersQuery":{"values":[{"name":"usuario","valueProvider":"fieldValue","value":"WSTRRED"},{"name":"password","valueProvider":"fieldValue","value":"Y2xpb25lcw"},{"name":"dni","valueProvider":"fieldValue","value":"{dni}"},{"name":"fecha","valueProvider":"fieldValue","value":"{fecha}"}]},"placeholderDefinitions":{"values":[{"name":"dni","description":"DNI del paciente sin puntos ni guiones (ejemplo: 17666371)","type":"string"},{"name":"fecha","description":"Fecha en formato YYYYMMDD (ejemplo: 20250621)","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[440,420],"id":"c96e7e27-39fe-4a54-85c5-2ac590f5cf96","name":"HTTP consultar_turnos_fecha"},{"parameters":{"toolDescription":"Consulta TODOS los turnos actuales de un paciente mediante su DNI. No requiere fecha específica. Devuelve vista general de todos los turnos programados del paciente.","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/turnos-actuales","sendQuery":true,"parametersQuery":{"values":[{"name":"usuario","valueProvider":"fieldValue","value":"WSTRRED"},{"name":"password","valueProvider":"fieldValue","value":"Y2xpb25lcw"},{"name":"dni","valueProvider":"fieldValue","value":"{dni}"}]},"placeholderDefinitions":{"values":[{"name":"dni","description":"DNI del paciente sin puntos ni guiones (ejemplo: 17666371)","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[320,420],"id":"29b59ec1-e840-46a0-91b8-79869ebac3b8","name":"HTTP consultar_todos_turnos"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-60,420],"id":"a017f480-9ae1-4a9b-b6f0-24d65ae1dd82","name":"LLM - 4.1 - Nano","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi account"}}}],"connections":{"HTTP cancelar_turno":{"ai_tool":[[{"node":"Agente cancela_reprograma_turnos","type":"ai_tool","index":0}]]},"HTTP reprogramar_turno":{"ai_tool":[[{"node":"Agente cancela_reprograma_turnos","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Agente cancela_reprograma_turnos","type":"main","index":0}]]},"HTTP consultar_turnos_fecha":{"ai_tool":[[{"node":"Agente cancela_reprograma_turnos","type":"ai_tool","index":0}]]},"HTTP consultar_todos_turnos":{"ai_tool":[[{"node":"Agente cancela_reprograma_turnos","type":"ai_tool","index":0}]]},"LLM - 4.1 - Nano":{"ai_languageModel":[[{"node":"Agente cancela_reprograma_turnos","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"texto":"sí, confirmo que quiero cancelar ese turno del 21/06 a las 17:45 con el Dr. Arregui","user_id":"5492213994411","session":{"estado_sesion":"{\n  \"step\": \"inicio\",\n  \"paciente_tipo\": \"\",\n  \"datos_recopilados\": ,\n  \"last_update\": \"2025-06-17T19:17:25.767Z\",\n  \"last_message\": \"He verificado los detalles de tu turno: es con el Dr. Arregui Victor, programado para el 21 de junio de 2025 a las 17:45, matrícula 15976. Para cancelar este turno, necesito que me confirmes la fecha, la hora y la matrícula del doctor.\"\n}"}}}]},"versionId":"1191479c-c3b7-4e0e-b267-f6f9c742aa2e","triggerCount":0,"shared":[{"createdAt":"2025-06-23T21:21:29.817Z","updatedAt":"2025-06-23T21:21:29.817Z","role":"workflow:owner","workflowId":"QvUJJkQsI3fM0ZWj","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}