iclp---scraper-automático-Rxx6OupC8xbigeYf.json
{"createdAt":"2025-06-29T20:37:35.332Z","updatedAt":"2025-06-30T13:30:51.360Z","id":"Rxx6OupC8xbigeYf","name":"ICLP - Scraper Automático","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-180,620],"id":"c1770981-691b-4458-9f16-bf92552ddbfa","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/lista-medicos/all","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[40,315],"id":"ea0494e3-a6c2-4ab4-95ba-93a6c9bd779f","name":"HTTP lista-medicos"},{"parameters":{"url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/lista-especialidades","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[40,515],"id":"2cb35303-a61b-44f6-89b7-24e44b60609d","name":"HTTP lista-especialidades"},{"parameters":{"jsCode":"// ✅ CÓDIGO CORREGIDO - Acceso correcto a datos n8n\nconsole.log('=== PROCESANDO TODOS LOS MÉDICOS SIN FILTROS ===');\n\n// ✅ Acceder a los datos correctamente desde el nodo conectado\nconst inputData = $input.all();\nconsole.log('Input data:', inputData);\n\n// ✅ Extraer la lista de médicos del primer item\nconst medicosRaw = inputData[0]?.json?.lista || [];\nconsole.log(`Total médicos recibidos: ${medicosRaw.length}`);\n\n// ✅ Validar que tenemos datos\nif (!medicosRaw || medicosRaw.length === 0) {\n  console.log('❌ No se recibieron datos de médicos');\n  return [{ json: { error: 'No hay datos de médicos' } }];\n}\n\n// Filtrar SOLO médicos válidos (que tengan datos mínimos)\nconst medicosParaProcesar = medicosRaw.filter(medico => {\n  return medico.codigo !== '0' &&          // No médicos con código 0\n         medico.nombre &&                  // Que tengan nombre\n         medico.nombre.trim() !== '' &&    // Nombre no vacío\n         medico.especialidad &&            // Que tengan especialidad\n         medico.especialidad.trim() !== '' // Especialidad no vacía\n});\n\nconsole.log(`Médicos válidos para procesar: ${medicosParaProcesar.length}`);\n\n// Log de TODOS los médicos que vamos a procesar\nconsole.log('=== MÉDICOS A PROCESAR ===');\nconst especialidadesConteo = {};\n\nmedicosParaProcesar.forEach(medico => {\n  // Contar por especialidad\n  if (!especialidadesConteo[medico.especialidad]) {\n    especialidadesConteo[medico.especialidad] = 0;\n  }\n  especialidadesConteo[medico.especialidad]++;\n  \n  console.log(`- ${medico.nombre} (${medico.especialidad}) - Matrícula: ${medico.codigo}`);\n});\n\nconsole.log('=== RESUMEN POR ESPECIALIDAD ===');\nObject.entries(especialidadesConteo).forEach(([especialidad, cantidad]) => {\n  console.log(`${especialidad}: ${cantidad} médicos`);\n});\n\n// ✅ Crear array completo para split in batches con formato n8n correcto\nconst medicosArray = medicosParaProcesar.map(medico => ({\n  matricula: medico.codigo,\n  nombre: medico.nombre,\n  especialidad: medico.especialidad\n}));\n\nconsole.log(`✅ TOTAL A PROCESAR: ${medicosArray.length} médicos`);\nconsole.log(`📊 Especialidades únicas: ${Object.keys(especialidadesConteo).length}`);\n\n// ✅ RETORNAR en formato n8n correcto\nreturn medicosArray.map(medico => ({ json: medico }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[260,315],"id":"bd201e20-2604-4205-8aee-b13290c4ab5d","name":"Code"},{"parameters":{"jsCode":"// PROCESAMIENTO INDIVIDUAL DE CADA MÉDICO\nconst medicoBasico = $('Loop Over Items').item.json;\nconst medicoDetallado = $('HTTP Request3').item.json;\n\nconsole.log(`✅ Processing: ${medicoBasico.nombre} (${medicoBasico.matricula})`);\n\n// Verificar que tenemos ambos datos\nif (!medicoBasico || !medicoDetallado) {\n  console.log('❌ Error: Faltan datos del médico');\n  return [{ json: { error: 'Datos incompletos', matricula: medicoBasico?.matricula } }];\n}\n\n// Extraer precios\nfunction extraerPrecios(medico) {\n  const precios = { \n    consulta_base: medico.consulta || 0,\n    particular: null,\n    pami: null\n  };\n  \n  const textoCompleto = `${medico.nota || ''} ${medico.notaWeb || ''}`.toUpperCase();\n  \n  const particularMatch = textoCompleto.match(/PARTICULAR\\s*\\$\\s*(\\d+)/);\n  if (particularMatch) precios.particular = parseInt(particularMatch[1]);\n  \n  const pamiMatch = textoCompleto.match(/PAMI\\s*(\\d+)/);\n  if (pamiMatch) precios.pami = parseInt(pamiMatch[1]);\n  \n  return precios;\n}\n\n// Extraer horarios\nfunction extraerHorarios(medico) {\n  const horarios = {};\n  const dias = ['lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado', 'domingo'];\n  \n  dias.forEach(dia => {\n    const diaCapitalizado = dia.charAt(0).toUpperCase() + dia.slice(1);\n    if (medico[`trabaja${diaCapitalizado}`] === 'S') {\n      const inicio = medico[`h${dia}5`];\n      const fin = medico[`h${dia}6`];\n      if (inicio && fin && inicio.trim() !== '' && fin.trim() !== '     ') {\n        horarios[dia] = `${inicio.trim()}-${fin.trim()}`;\n      }\n    }\n  });\n  \n  return horarios;\n}\n\n// Extraer obras sociales\nfunction extraerObrasSociales(medico) {\n  const obrasSociales = { acepta: [], rechaza: [], notas: [] };\n  const textoCompleto = `${medico.nota || ''} ${medico.notaWeb || ''}`.toUpperCase();\n  \n  // Detectar rechazos\n  const rechazos = ['OSPRERA', 'OSTCARA', 'UNION PERSONAL'];\n  rechazos.forEach(rechazo => {\n    if (textoCompleto.includes(`NO ATIENDE ${rechazo}`) || textoCompleto.includes(`NO ${rechazo}`)) {\n      obrasSociales.rechaza.push(rechazo);\n    }\n  });\n  \n  // Detectar aceptaciones\n  if (textoCompleto.includes('TODAS LAS O.S.') || textoCompleto.includes('AGREMIACION MEDICA')) {\n    obrasSociales.acepta.push('AGREMIACION MEDICA');\n  }\n  \n  if (medico.nota) obrasSociales.notas.push(medico.nota);\n  if (medico.notaWeb) obrasSociales.notas.push(medico.notaWeb);\n  \n  return obrasSociales;\n}\n\n// Procesar médico completo\nconst medicoCompleto = {\n  matricula: medicoBasico.matricula,\n  nombre: medicoBasico.nombre,\n  especialidad: medicoBasico.especialidad,\n  online: medicoDetallado.online || false,\n  categoria: medicoDetallado.categoria || '',\n  precios: extraerPrecios(medicoDetallado),\n  horarios: extraerHorarios(medicoDetallado),\n  obras_sociales: extraerObrasSociales(medicoDetallado),\n  contacto: {\n    telefono: medicoDetallado.telefono || '',\n    direccion: medicoDetallado.direccion || ''\n  },\n  timestamp: Date.now(),\n  processed: true\n};\n\nconsole.log(`✅ Procesado completo: ${medicoCompleto.nombre} - Online: ${medicoCompleto.online}`);\n\nreturn [{ json: medicoCompleto }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[920,440],"id":"a0fbd397-eda3-4e36-b543-39b03607ae43","name":"Code1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[480,315],"id":"f992cafc-8631-48ee-a78c-c746b046e734","name":"Loop Over Items"},{"parameters":{"url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/datos-medico","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"},{"name":"matricula","value":"={{ $json.matricula }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,440],"id":"264dad80-13a4-4550-8745-a2c05705b792","name":"HTTP Request3"},{"parameters":{"operation":"set","key":"=especialidades:lista","value":"={{ JSON.stringify($json) }}","expire":true,"ttl":86400},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[480,515],"id":"22e209a8-8716-406d-94ae-d0842076d3c7","name":"Especialidades","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"set","key":"=medico:{{ $json.matricula }}","value":"={{ JSON.stringify($json) }}","expire":true,"ttl":86400},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1140,515],"id":"fd907f4f-6cfd-4abb-a3f3-9e65bacbf1e1","name":"Medicos","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"set","key":"obras_sociales:lista","value":"={{ JSON.stringify($json) }}","expire":true,"ttl":86400},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[480,715],"id":"144d62d7-7080-44c7-ab54-ddf06fe38f09","name":"obras_sociales","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/obras-sociales  ","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[40,715],"id":"1fb2d35f-5fc8-4d5f-be06-93762c3f9cee","name":"HTTP Request obras_sociales"},{"parameters":{"jsCode":"// PROCESAR ESPECIALIDADES\nconst especialidades = $input.first().json.lista || [];\nconsole.log(`✅ Procesando ${especialidades.length} especialidades`);\n\nconst especialidadesProcesadas = {\n  lista: especialidades.map(esp => ({\n    codigo: esp.codigo,\n    nombre: esp.nombre\n  })),\n  total: especialidades.length,\n  timestamp: Date.now()\n};\n\nconsole.log('Especialidades procesadas:', especialidadesProcesadas.lista.map(e => e.nombre));\n\nreturn [{ json: especialidadesProcesadas }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[260,515],"id":"fad47f40-a0b1-4f13-8977-d6eaf61bdc80","name":"Code2"},{"parameters":{"jsCode":"// PROCESAR OBRAS SOCIALES - CORREGIDO PARA MÚLTIPLES ITEMS\nconsole.log('=== PROCESANDO OBRAS SOCIALES ===');\n\n// ✅ La API devuelve múltiples items, no un array único\nconst inputData = $input.all();\nconsole.log(`Input data obras sociales: ${inputData.length} items`);\n\n// ✅ Validar que tenemos datos\nif (!inputData || inputData.length === 0) {\n  console.log('❌ No se recibieron datos de obras sociales');\n  return [{ json: { error: 'No hay datos de obras sociales' } }];\n}\n\n// ✅ Extraer todas las obras sociales de todos los items\nconst obrasSocialesRaw = inputData.map(item => item.json).filter(item => item && item.id);\nconsole.log(`✅ Total obras sociales recibidas: ${obrasSocialesRaw.length}`);\n\n// ✅ Procesar obras sociales con la estructura correcta\nconst obrasSocialesProcesadas = {\n  lista: obrasSocialesRaw.map(os => ({\n    id: os.id || '',\n    codigo: os.obrasocial || '',\n    nombre: os.nobrasoc || '',\n    nombre_completo: os.nobrasoc2 || '',\n    activa: os.activa === 'S' || os.activa === true,\n    direccion: os.direccion || '',\n    localidad: os.localidad || '',\n    telefono: os.telefono || '',\n    cuit: os.cuit || '',\n    tipo: os.tipo || '',\n    nota: os.nota || '',\n    nota2: os.nota2 || ''\n  })),\n  total: obrasSocialesRaw.length,\n  timestamp: Date.now()\n};\n\nconsole.log(`✅ Obras sociales procesadas: ${obrasSocialesProcesadas.total}`);\nconsole.log('Primeras 5 obras sociales:', obrasSocialesProcesadas.lista.slice(0, 5).map(o => o.nombre));\n\n// ✅ Log de algunas obras sociales para verificar\nobrasSocialesProcesadas.lista.slice(0, 10).forEach(os => {\n  console.log(`- ${os.nombre} (${os.codigo}) - Activa: ${os.activa}`);\n});\n\nreturn [{ json: obrasSocialesProcesadas }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[260,715],"id":"60384087-0be5-4c42-8de5-ca08db836301","name":"Code3"},{"parameters":{"jsCode":"// RESUMEN FINAL DEL SCRAPING\nconsole.log('=== SCRAPING ICLP COMPLETADO ===');\n\nconst resumen = {\n  mensaje: '✅ Scraping ICLP completado exitosamente',\n  timestamp: Date.now(),\n  fecha: new Date().toLocaleString('es-AR'),\n  datos_almacenados: {\n    medicos: 'Redis: medico:{matricula}',\n    especialidades: 'Redis: especialidades:lista',\n    obras_sociales: 'Redis: obras_sociales:lista'\n  },\n  instrucciones: 'Datos listos para usar en el bot principal'\n};\n\nconsole.log('✅ Resumen:', resumen);\nreturn [{ json: resumen }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[920,240],"id":"20397af1-01bb-4e53-8181-7a0f48a3c53b","name":"Code4"},{"parameters":{"jsCode":"// GENERAR ÍNDICE COMPLETO DE MÉDICOS PARA BÚSQUEDAS\nconsole.log('=== GENERANDO ÍNDICE COMPLETO DE MÉDICOS ===');\n\n// Obtener todos los médicos procesados del Loop\nconst todosMedicos = $('Loop Over Items').all().map(item => {\n  const medico = item.json;\n  return {\n    matricula: medico.matricula,\n    nombre: medico.nombre,\n    especialidad: medico.especialidad,\n    online: medico.online || false,\n    categoria: medico.categoria || '',\n    precios: medico.precios || {},\n    obras_sociales: medico.obras_sociales || {},\n    timestamp: medico.timestamp\n  };\n});\n\nconsole.log(`📊 Total médicos para índice: ${todosMedicos.length}`);\n\n// Crear índice optimizado para búsquedas\nconst indiceCompleto = {\n  medicos: todosMedicos,\n  total: todosMedicos.length,\n  por_especialidad: {},\n  nombres_normalizados: {},\n  timestamp: Date.now(),\n  version: '1.0'\n};\n\n// Agrupar por especialidad\ntodosMedicos.forEach(medico => {\n  if (!indiceCompleto.por_especialidad[medico.especialidad]) {\n    indiceCompleto.por_especialidad[medico.especialidad] = [];\n  }\n  indiceCompleto.por_especialidad[medico.especialidad].push({\n    matricula: medico.matricula,\n    nombre: medico.nombre,\n    online: medico.online\n  });\n  \n  // Crear índice de nombres normalizados\n  const nombreNormalizado = medico.nombre.toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9\\s]/g, '')\n    .trim();\n  \n  indiceCompleto.nombres_normalizados[nombreNormalizado] = {\n    matricula: medico.matricula,\n    nombre_original: medico.nombre,\n    especialidad: medico.especialidad\n  };\n  \n  // También indexar por palabras individuales\n  const palabras = nombreNormalizado.split(' ');\n  palabras.forEach(palabra => {\n    if (palabra.length > 2) {\n      indiceCompleto.nombres_normalizados[palabra] = {\n        matricula: medico.matricula,\n        nombre_original: medico.nombre,\n        especialidad: medico.especialidad\n      };\n    }\n  });\n});\n\nconsole.log('📋 Especialidades indexadas:', Object.keys(indiceCompleto.por_especialidad));\nconsole.log('🔍 Nombres indexados:', Object.keys(indiceCompleto.nombres_normalizados).length);\n\nreturn [{ json: indiceCompleto }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[700,140],"id":"5513a74f-6f23-443e-807d-5af0c32d7e91","name":"Code_Generar_Indice"},{"parameters":{"operation":"set","key":"medicos:indice_completo","value":"={{ JSON.stringify($json) }}","expire":true,"ttl":"=86400"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[920,40],"id":"437bdb0e-f574-40d1-91e9-4f13e47ec091","name":"Redis_Indice_Medicos","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP lista-medicos","type":"main","index":0},{"node":"HTTP Request obras_sociales","type":"main","index":0},{"node":"HTTP lista-especialidades","type":"main","index":0}]]},"HTTP lista-medicos":{"main":[[{"node":"Code","type":"main","index":0}]]},"HTTP lista-especialidades":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Code_Generar_Indice","type":"main","index":0}],[{"node":"HTTP Request3","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Medicos","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Code1","type":"main","index":0}]]},"HTTP Request obras_sociales":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Especialidades","type":"main","index":0}]]},"Code3":{"main":[[{"node":"obras_sociales","type":"main","index":0}]]},"Medicos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code_Generar_Indice":{"main":[[{"node":"Code4","type":"main","index":0},{"node":"Redis_Indice_Medicos","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cc0bd035-bcbe-4039-8110-1e55e838754e","triggerCount":0,"shared":[{"createdAt":"2025-06-29T20:37:35.332Z","updatedAt":"2025-06-29T20:37:35.332Z","role":"workflow:owner","workflowId":"Rxx6OupC8xbigeYf","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}