iclp---testing---agente-medico-OOcPO6EGho1zjYg0.json
{"createdAt":"2025-06-25T20:07:07.102Z","updatedAt":"2025-07-10T12:23:19.650Z","id":"OOcPO6EGho1zjYg0","name":"ICLP - Testing - Agente medico","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"texto\": \"Quiero ver médicos de cardiología\",\n  \"user_id\": \"5491123456789\",\n  \"session\": {\n    \"datos_recopilados\": {\n      \"especialidad\": \"CAR\",\n      \"matricula\": \"112218\",\n      \"fecha\": \"2025-06-17\",\n      \"soloOcupados\": false\n    }\n  }\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-680,220],"id":"14717644-47f4-46ac-865f-2f72394d513e","name":"When Executed by Another Workflow"},{"parameters":{"operation":"get","propertyName":"medicos:indice_completo","key":"medicos:indice_completo","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-440,220],"id":"570b99cf-4664-4707-b4e6-24c7cc431ad8","name":"Redis_Buscar_Medicos","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/horarios-con-pacientes","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"},{"name":"matricula","value":"={{ $('Buscar_Medicos_Inteligente').first().json.medicos_encontrados[0].matricula }}"},{"name":"fecha","value":"={{ $now.plus({ days: 1 }).toFormat('yyyyMMdd') }}"},{"name":"soloOcupados","value":"false"}]},"options":{"batching":{"batch":{}},"queryParameterArrays":"brackets","response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,220],"id":"eebc9d36-72fe-4d78-bcca-3b43ea1c496a","name":"HTTP_HORARIOS1","executeOnce":false,"onError":"continueRegularOutput"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[400,460],"id":"cd90f2ec-af3d-4cf3-9f18-7b3803b4e57e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}},{"parameters":{"jsCode":"// 🏥 PROCESADOR DE HORARIOS MÉDICOS ICLP - N8N\n// Procesa respuesta HTTP para identificar horarios disponibles\n// Incluye información del médico encontrado\n\nconsole.log('🔄 Iniciando procesamiento de horarios...');\n\n// Obtener datos de horarios del HTTP_HORARIOS1\nconst allInputs = $input.all();\nlet horariosData = [];\n\n// Obtener datos del médico del nodo Redis_Buscar_Medicos\nlet medicoInfo = null;\ntry {\n  const codeData = $('Buscar_Medicos_Inteligente').first().json;\n  if (codeData && codeData.medicos_encontrados && codeData.medicos_encontrados.length > 0) {\n    const medicoEncontrado = codeData.medicos_encontrados[0];\n    medicoInfo = {\n      matricula: medicoEncontrado.matricula,\n      nombre: medicoEncontrado.nombre_original,\n      especialidad: medicoEncontrado.especialidad\n    };\n    console.log('👨‍⚕️ Médico encontrado:', medicoInfo.nombre);\n  }\n} catch (error) {\n  console.log('⚠️ No se pudo obtener datos del médico:', error.message);\n}\n\nconsole.log(`📥 Total de inputs recibidos: ${allInputs.length}`);\n\n// Procesar todos los items que vienen del HTTP Request\nif (allInputs.length > 0) {\n  horariosData = allInputs.map(input => input.json);\n  console.log('✅ Datos obtenidos de múltiples items HTTP');\n} else {\n  console.error('❌ No se recibieron datos del HTTP Request');\n  return [{\n    json: {\n      error: true,\n      mensaje: \"No se recibieron datos del servidor de horarios.\",\n      horarios_disponibles: [],\n      total_disponibles: 0\n    }\n  }];\n}\n\nconsole.log(`📊 Procesando ${horariosData.length} registros de horarios...`);\n\n// Debug: Mostrar estructura de los primeros registros\nif (horariosData.length > 0) {\n  console.log('🔍 Estructura del primer registro:');\n  console.log('   Keys disponibles:', Object.keys(horariosData[0]));\n  console.log('   Paciente:', horariosData[0].paciente);\n  console.log('   Hora5digitos:', horariosData[0].hora5digitos);\n}\n\n// Función para determinar si un horario está disponible\nfunction esHorarioDisponible(paciente) {\n  if (!paciente) return true;\n  \n  // Limpiar espacios y convertir a string\n  const pacienteLimpio = paciente.toString().trim();\n  \n  // Casos donde se considera DISPONIBLE:\n  if (pacienteLimpio === '') return true;\n  if (pacienteLimpio.length === 0) return true;\n  if (/^[\\s]+$/.test(pacienteLimpio)) return true; // Solo espacios\n  \n  // Casos específicos de tu sistema que indican disponibilidad\n  const indicadoresDisponibles = [\n    'DISPONIBLE',\n    'LIBRE',\n    'S/D', // Sin datos\n    'SIN PACIENTE',\n    'TURNO LIBRE'\n  ];\n  \n  for (let indicador of indicadoresDisponibles) {\n    if (pacienteLimpio.toUpperCase().includes(indicador)) {\n      return true;\n    }\n  }\n  \n  // Si tiene un nombre real de paciente, está ocupado\n  return false;\n}\n\n// Función para formatear hora\nfunction formatearHora(hora5digitos) {\n  if (!hora5digitos || hora5digitos.length < 4) return hora5digitos;\n  \n  // Formato HH:MM\n  if (hora5digitos.includes(':')) {\n    return hora5digitos;\n  }\n  \n  // Formato HHMM -> HH:MM\n  if (hora5digitos.length === 4) {\n    return `${hora5digitos.substring(0, 2)}:${hora5digitos.substring(2, 4)}`;\n  }\n  \n  return hora5digitos;\n}\n\n// Función para determinar si es mañana o tarde\nfunction esMañana(hora) {\n  const horaNum = parseInt(hora.replace(':', ''));\n  return horaNum < 1200; // Antes del mediodía\n}\n\n// Procesar horarios\nconst horariosDisponibles = [];\nconst horariosOcupados = [];\nlet fechaConsulta = '';\n\nhorariosData.forEach((turno, index) => {\n  try {\n    const esDisponible = esHorarioDisponible(turno.paciente);\n    const horaFormateada = formatearHora(turno.hora5digitos || turno.hora);\n    \n    // Obtener fecha de consulta\n    if (!fechaConsulta && turno.fecha) {\n      const fecha = new Date(turno.fecha);\n      fechaConsulta = fecha.toLocaleDateString('es-AR');\n    }\n    \n    const horarioInfo = {\n      hora: horaFormateada,\n      hora_original: turno.hora5digitos || turno.hora,\n      disponible: esDisponible,\n      paciente: turno.paciente ? turno.paciente.trim() : '',\n      id: turno.id,\n      matricula: turno.matricula || turno.matricula2,\n      es_manana: esMañana(horaFormateada)\n    };\n    \n    if (esDisponible) {\n      horariosDisponibles.push(horarioInfo);\n    } else {\n      horariosOcupados.push(horarioInfo);\n    }\n    \n  } catch (error) {\n    console.error(`❌ Error procesando turno ${index}:`, error);\n  }\n});\n\n// Separar horarios por mañana y tarde\nconst horariosMañana = horariosDisponibles.filter(h => h.es_manana);\nconst horariosTarde = horariosDisponibles.filter(h => !h.es_manana);\n\n// Generar mensaje de respuesta con información del médico\nlet mensajeFinal = '';\nlet tieneHorariosDisponibles = horariosDisponibles.length > 0;\n\nif (tieneHorariosDisponibles) {\n  mensajeFinal = `✅ *Horarios disponibles encontrados*\\n\\n`;\n  \n  if (medicoInfo) {\n    mensajeFinal += `👨‍⚕️ *Dr. ${medicoInfo.nombre}*\\n`;\n    mensajeFinal += `🏥 *Especialidad:* ${medicoInfo.especialidad}\\n`;\n  }\n  \n  if (fechaConsulta) {\n    mensajeFinal += `📅 *Fecha:* ${fechaConsulta}\\n\\n`;\n  }\n  \n  if (horariosMañana.length > 0) {\n    mensajeFinal += `🌅 *MAÑANA:*\\n`;\n    horariosMañana.forEach(h => {\n      mensajeFinal += `• ${h.hora}\\n`;\n    });\n    mensajeFinal += '\\n';\n  }\n  \n  if (horariosTarde.length > 0) {\n    mensajeFinal += `🌆 *TARDE:*\\n`;\n    horariosTarde.forEach(h => {\n      mensajeFinal += `• ${h.hora}\\n`;\n    });\n    mensajeFinal += '\\n';\n  }\n  \n  mensajeFinal += `📊 *Total disponibles:* ${horariosDisponibles.length} turnos`;\n  \n} else {\n  mensajeFinal = `❌ *No hay horarios disponibles*\\n\\n`;\n  \n  if (medicoInfo) {\n    mensajeFinal += `👨‍⚕️ *Dr. ${medicoInfo.nombre}*\\n`;\n    mensajeFinal += `🏥 *Especialidad:* ${medicoInfo.especialidad}\\n`;\n  }\n  \n  if (fechaConsulta) {\n    mensajeFinal += `📅 *Fecha consultada:* ${fechaConsulta}\\n\\n`;\n  }\n  \n  mensajeFinal += `Todos los horarios están ocupados. Te sugerimos consultar otra fecha.`;\n}\n\n// Resultado final con información del médico\nconst resultado = {\n  horarios_disponibles: horariosDisponibles.map(h => h.hora),\n  total_disponibles: horariosDisponibles.length,\n  medico_nombre: medicoInfo ? `Dr. ${medicoInfo.nombre}` : 'Médico no especificado',\n  medico_especialidad: medicoInfo ? medicoInfo.especialidad : 'Consulta General',\n  medico_matricula: medicoInfo ? medicoInfo.matricula : null,\n  fecha_consulta: fechaConsulta || 'Fecha no especificada',\n  mensaje_final: mensajeFinal,\n  \n  // Detalle adicional para debugging\n  horarios_manana: horariosMañana.map(h => h.hora),\n  horarios_tarde: horariosTarde.map(h => h.hora),\n  total_manana: horariosMañana.length,\n  total_tarde: horariosTarde.length,\n  total_procesados: horariosData.length,\n  total_ocupados: horariosOcupados.length,\n  \n  // Para compatibilidad con el flujo existente\n  success: true,\n  procesado_local: true,\n  timestamp: new Date().toISOString()\n};\n\nconsole.log(`✅ Procesamiento completado:`);\nconsole.log(`   👨‍⚕️ Médico: ${resultado.medico_nombre}`);\nconsole.log(`   📊 Total procesados: ${horariosData.length}`);\nconsole.log(`   ✅ Disponibles: ${horariosDisponibles.length}`);\nconsole.log(`   ❌ Ocupados: ${horariosOcupados.length}`);\n\nreturn [{ json: resultado }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[220,220],"id":"ee6720b2-69e1-4f7c-8212-06565d5ff752","name":"Procesador_Horarios_Local"},{"parameters":{"assignments":{"assignments":[{"id":"e6d316aa-de5e-4673-9c16-861847f70c77","name":"mensaje","value":"={{ $json.output.mensaje_final }}","type":"string"},{"id":"fb43e51c-f6fd-4820-927a-5f8f3e94a6a3","name":"medico_nombre","value":"={{ $json.output.medico_nombre }}","type":"string"},{"id":"48987211-7f81-4f67-9136-ce24e098d6de","name":"medico_especialidad","value":"={{ $json.output.medico_especialidad }}","type":"string"},{"id":"e509085e-4066-43f6-b5f1-46089e22f7ef","name":"horarios_disponibles","value":"={{ $json.output.horarios_disponibles }}","type":"string"},{"id":"9d47466e-5786-44af-a865-5986b999d7d5","name":"horarios_manana","value":"={{ $json.output.horarios_manana }}","type":"string"},{"id":"ccb6bd01-467d-4336-b5a3-2b65589e93c4","name":"horarios_tarde","value":"={{ $json.output.horarios_tarde }}","type":"string"},{"id":"0230e72f-5600-41eb-b12f-13a8f88b10a9","name":"fecha_consultada","value":"={{ $json.output.fecha_consultada }}","type":"string"},{"id":"ac4505a0-8607-485c-998f-d26ed2191b42","name":"success","value":"={{ $('Procesador_Horarios_Local').item.json.success }}","type":"string"},{"id":"006c629f-74cf-41a8-8e1c-535105c5d381","name":"tipo_respuesta","value":"horarios_medico","type":"string"},{"id":"4c90609f-2e05-46de-8fb9-f08fb3e374b6","name":"text","value":"={{ $json.output.mensaje_final }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,220],"id":"105b245e-f50b-4af5-b637-8203966f4328","name":"Output_Agente_Medico"},{"parameters":{"text":"={{ JSON.stringify($('Procesador_Horarios_Local').item.json) }}","attributes":{"attributes":[{"name":"horarios_disponibles","description":"Lista de horarios libres separados por comas (ej: '09:30, 10:15, 14:30')"},{"name":"total_disponibles","type":"number","description":"Cantidad total de horarios disponibles encontrados"},{"name":"medico_nombre","description":"Nombre completo del médico consultado"},{"name":"medico_especialidad","description":"Especialidad médica del doctor"},{"name":"mensaje_final","description":"Mensaje formateado y amigable para mostrar al usuario final con emojis y formato"},{"name":"fecha_consultada","description":"Fecha para la cual se consultaron los horarios en formato legible"},{"name":"horarios_manana","description":"Horarios disponibles de mañana (8:00-12:00) separados por comas"},{"name":"horarios_tarde","description":"Horarios disponibles de tarde (ej 13:00-18:00) separados por comas"}]},"options":{"systemPromptTemplate":"=# EXTRACTOR DE HORARIOS MÉDICOS ICLP\n\n## CONTEXTO\nProcesas la salida del procesador local de horarios médicos ICLP. Los datos ya vienen procesados y clasificados.\n\n## DATOS DE ENTRADA\nRecibes un objeto JSON con:\n- horarios_disponibles: Array de horarios [\"08:30\", \"10:50\", \"13:50\"]\n- total_disponibles: Número de horarios disponibles\n- medico_nombre: Nombre del médico o \"Médico no especificado\"\n- fecha_consulta: Fecha consultada\n- mensaje_final: Mensaje ya formateado para WhatsApp\n- horarios_manana: Array de horarios de mañana\n- horarios_tarde: Array de horarios de tarde\n\n## TRANSFORMACIONES REQUERIDAS\n\n### FORMATEO DE LISTAS\n- horarios_disponibles: Convertir array a string separado por comas\n- horarios_manana: Convertir array a string separado por comas  \n- horarios_tarde: Convertir array a string separado por comas\n\n### MAPEO DE CAMPOS\n- medico_especialidad: Extraer de medico_nombre o usar \"Consulta General\" por defecto\n- fecha_consultada: Usar fecha_consulta del input\n\n### VALIDACIONES\n- Si total_disponibles = 0: horarios_disponibles = \"No hay horarios disponibles\"\n- Si arrays están vacíos: usar strings vacíos \"\"\n\n## FORMATO DE SALIDA\nMantener el mensaje_final exactamente como viene (ya tiene formato WhatsApp perfecto)."}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[440,220],"id":"5dc2a4ee-a147-401a-903a-d754d4a1c13c","name":"Extractor_Info_Horarios"},{"parameters":{"jsCode":"// ✅ CÓDIGO CORREGIDO PARA N8N - NODO: Buscar_Medicos_Inteligente\n// Sigue las mejores prácticas de N8N Code Node\n\n// ✅ OBTENER DATOS DE ENTRADA \nconst allInputs = $input.all();\n\nconsole.log('📊 Total inputs recibidos:', allInputs.length);\n\n// ✅ BUSCAR TEXTO DEL USUARIO Y DATOS DE REDIS\nlet textoUsuario = null;\nlet redisData = null;\n\n// Buscar en todos los inputs\nfor (const input of allInputs) {\n  // Buscar texto del usuario\n  if (!textoUsuario && input.json?.texto) {\n    textoUsuario = input.json.texto;\n    console.log('✅ Texto encontrado en input:', input.node_name || 'unknown');\n  }\n  \n  // Buscar datos de Redis\n  if (!redisData && input.json && 'medicos:indice_completo' in input.json) {\n    redisData = input.json['medicos:indice_completo'];\n    console.log('✅ Datos de Redis encontrados en input:', input.node_name || 'unknown');\n  }\n}\n\n// ✅ TEXTO DE PRUEBA PARA TESTING (remover en producción)\nif (!textoUsuario) {\n  textoUsuario = \"quiero con un medico clinico\"; // Para testing\n  console.log('🧪 Usando texto de prueba:', textoUsuario);\n}\n\n// ✅ VALIDACIONES\nif (!textoUsuario) {\n  console.log('❌ No se encontró texto del usuario');\n  return [{\n    json: {\n      tipo_operacion: \"error_input\",\n      mensaje_usuario: \"No se pudo obtener el texto del usuario.\",\n      siguiente_accion: \"revisar_conexiones\"\n    }\n  }];\n}\n\nif (!redisData) {\n  console.log('❌ No se encontraron datos de Redis');\n  return [{\n    json: {\n      tipo_operacion: \"error_redis\",\n      mensaje_usuario: \"No se pudieron obtener los datos de médicos.\",\n      siguiente_accion: \"revisar_redis\"\n    }\n  }];\n}\n\n// ✅ PARSEAR DATOS DE REDIS\nlet indice;\ntry {\n  indice = typeof redisData === 'string' ? JSON.parse(redisData) : redisData;\n  console.log('✅ Índice de médicos cargado:', indice.medicos?.length || 0, 'médicos');\n} catch (error) {\n  console.log('❌ Error parseando Redis:', error.message);\n  return [{\n    json: {\n      tipo_operacion: \"error_parsing\",\n      mensaje_usuario: \"Error al procesar los datos de médicos.\",\n      siguiente_accion: \"revisar_formato_redis\"\n    }\n  }];\n}\n\nconst texto = textoUsuario.toLowerCase();\nconsole.log('🔍 Texto procesado:', texto);\n\n// ✅ MAPEO DE ESPECIALIDADES SINÓNIMOS\nconst especialidadesSinonimos = {\n  'medico clinico': 'CLINICA MEDICA',\n  'medico clínico': 'CLINICA MEDICA',\n  'clinico': 'CLINICA MEDICA', \n  'clínico': 'CLINICA MEDICA',\n  'clinica medica': 'CLINICA MEDICA',\n  'clinica médica': 'CLINICA MEDICA',\n  'cardiologo': 'CARDIOLOGIA',\n  'cardiólogo': 'CARDIOLOGIA',\n  'neurologo': 'NEUROLOGIA',\n  'neurólogo': 'NEUROLOGIA',\n  'dermatologo': 'DERMATOLOGIA',\n  'dermatólogo': 'DERMATOLOGIA',\n  'pediatra': 'PEDIATRIA',\n  'ginecologo': 'GINECOLOGIA',\n  'ginecólogo': 'GINECOLOGIA',\n  'traumatologo': 'TRAUMATOLOGIA',\n  'traumatólogo': 'TRAUMATOLOGIA'\n};\n\n// ✅ BÚSQUEDA POR NOMBRES DE MÉDICOS\nconst nombres_mencionados = [];\nindice.medicos.forEach(medico => {\n  const nombreCompleto = medico.nombre.toLowerCase();\n  const apellidos = nombreCompleto.split(' ').filter(palabra => palabra.length > 2);\n  \n  apellidos.forEach(apellido => {\n    if (texto.includes(apellido)) {\n      nombres_mencionados.push({\n        matricula: medico.matricula,\n        nombre_original: medico.nombre,\n        especialidad: medico.especialidad,\n        palabra_encontrada: apellido\n      });\n    }\n  });\n});\n\n// Si encontró médico específico, devolver resultado\nif (nombres_mencionados.length > 0) {\n  console.log('✅ Médico específico encontrado:', nombres_mencionados[0].nombre_original);\n  return [{\n    json: {\n      tipo_operacion: \"medico_encontrado\",\n      medicos_encontrados: nombres_mencionados,\n      mensaje_usuario: `Encontré información del ${nombres_mencionados[0].nombre_original}. ¿Necesitas horarios o información específica?`,\n      siguiente_accion: \"solicitar_horarios\"\n    }\n  }];\n}\n\n// ✅ BÚSQUEDA POR ESPECIALIDAD\nconst especialidades_mencionadas = [];\nconst especialidades_unicas = [...new Set(indice.medicos.map(m => m.especialidad))];\n\nconsole.log('🔍 Buscando especialidades en:', texto);\n\n// Buscar por sinónimos\nlet especialidadEncontrada = false;\nfor (const [sinonimo, especialidadReal] of Object.entries(especialidadesSinonimos)) {\n  console.log(`🔍 Verificando: \"${sinonimo}\"`);\n  if (texto.includes(sinonimo)) {\n    console.log(`✅ ENCONTRADO: \"${sinonimo}\" → ${especialidadReal}`);\n    const medicosEspecialidad = indice.medicos.filter(m => m.especialidad === especialidadReal);\n    if (medicosEspecialidad.length > 0) {\n      especialidades_mencionadas.push({\n        especialidad: especialidadReal,\n        medicos: medicosEspecialidad,\n        encontrado_por: sinonimo,\n        total_medicos: medicosEspecialidad.length\n      });\n      especialidadEncontrada = true;\n      break;\n    }\n  }\n}\n\n// Buscar por nombre exacto si no encontró por sinónimos\nif (!especialidadEncontrada) {\n  console.log('🔍 Buscando por nombres exactos...');\n  especialidades_unicas.forEach(especialidad => {\n    const especialidadLower = especialidad.toLowerCase();\n    if (texto.includes(especialidadLower)) {\n      console.log(`✅ ENCONTRADO exacto: ${especialidad}`);\n      const medicosEspecialidad = indice.medicos.filter(m => m.especialidad === especialidad);\n      especialidades_mencionadas.push({\n        especialidad: especialidad,\n        medicos: medicosEspecialidad,\n        encontrado_por: 'exacto',\n        total_medicos: medicosEspecialidad.length\n      });\n      especialidadEncontrada = true;\n    }\n  });\n}\n\n// ✅ RESULTADO DE ESPECIALIDAD\nif (especialidades_mencionadas.length > 0) {\n  const especialidadInfo = especialidades_mencionadas[0];\n  console.log('✅ Especialidad encontrada:', especialidadInfo.especialidad);\n  console.log('✅ Total médicos:', especialidadInfo.total_medicos);\n  \n  return [{\n    json: {\n      tipo_operacion: \"especialidad_con_medicos\",\n      medicos_encontrados: especialidadInfo.medicos.map(m => ({\n        matricula: m.matricula,\n        nombre_original: m.nombre,\n        especialidad: m.especialidad\n      })),\n      especialidad_solicitada: especialidadInfo.especialidad,\n      total_medicos: especialidadInfo.medicos.length,\n      encontrado_por: especialidadInfo.encontrado_por,\n      mensaje_usuario: `Encontré ${especialidadInfo.medicos.length} médicos en ${especialidadInfo.especialidad}. Consultando horarios disponibles...`,\n      siguiente_accion: \"solicitar_horarios\"\n    }\n  }];\n}\n\n// ✅ BÚSQUEDA GENERAL (no encontró nada específico)\nconsole.log('❌ No se encontraron especialidades ni médicos específicos');\nreturn [{\n  json: {\n    tipo_operacion: \"busqueda_general\",\n    total_medicos: indice.medicos?.length || 0,\n    especialidades_disponibles: especialidades_unicas,\n    texto_buscado: texto,\n    mensaje_usuario: \"¿Qué médico o especialidad estás buscando?\",\n    siguiente_accion: \"especificar_busqueda\"\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-220,220],"id":"efd38f17-ac8f-47a2-82c8-7195506c51b5","name":"Buscar_Medicos_Inteligente"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Redis_Buscar_Medicos","type":"main","index":0}]]},"Redis_Buscar_Medicos":{"main":[[{"node":"Buscar_Medicos_Inteligente","type":"main","index":0}]]},"HTTP_HORARIOS1":{"main":[[{"node":"Procesador_Horarios_Local","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Extractor_Info_Horarios","type":"ai_languageModel","index":0}]]},"Procesador_Horarios_Local":{"main":[[{"node":"Extractor_Info_Horarios","type":"main","index":0}]]},"Extractor_Info_Horarios":{"main":[[{"node":"Output_Agente_Medico","type":"main","index":0}]]},"Buscar_Medicos_Inteligente":{"main":[[{"node":"HTTP_HORARIOS1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"texto":"Quiero con el dr genovesi","user_id":"+5492213994411","session":{"step":"consulta_horarios","timestamp":"3/7/2025, 12:10:13","user_id":"+5492213994411"}}}]},"versionId":"54275222-3c75-42a3-82f9-ca77c62f11f3","triggerCount":0,"shared":[{"createdAt":"2025-06-25T20:07:07.102Z","updatedAt":"2025-06-25T20:07:07.102Z","role":"workflow:owner","workflowId":"OOcPO6EGho1zjYg0","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}