iclp---prod---consultar-turnos-actuales-jqDxysl7sepO12jo.json
{"createdAt":"2025-06-23T21:22:48.537Z","updatedAt":"2025-06-23T21:39:05.384Z","id":"jqDxysl7sepO12jo","name":"ICLP - PROD - Consultar Turnos Actuales","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"dni\": \"17666371\",\n  \"fecha\": \"20250621\"\n}"},"id":"91b9b9c4-89e2-4ed3-8ea1-90ffb7cec942","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[200,40]},{"parameters":{"promptType":"define","text":"=Consultar turnos para DNI: {{ $json.dni }}{{ $json.fecha ? ', fecha: ' + $json.fecha : '' }}","options":{"systemMessage":"=Eres un consultor de turnos médicos. Tu función es consultar turnos usando las herramientas disponibles.\n\nHERRAMIENTAS:\n- consultar_todos_turnos: Para obtener todos los turnos de un DNI\n- consultar_turnos_fecha: Para obtener turnos de una fecha específica\n\nINSTRUCCIONES:\n1. Si recibes solo DNI: usa consultar_todos_turnos\n2. Si recibes DNI y fecha: usa consultar_turnos_fecha\n3. Devuelve la información clara y estructurada incluyendo: médico, fecha, hora, matrícula\n\nProcesa la consulta y devuelve los resultados con todos los detalles necesarios para cancelar turnos.\n\n\nFECHA Y HORA ACTUAL: {{ new Date().toLocaleString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires' }) }}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[452,40],"id":"0151f383-bbee-4e12-9180-1c74f101ff49","name":"AI Agent"},{"parameters":{"toolDescription":"Consulta turnos de una fecha específica con información detallada de médicos. Requiere dni y fecha en formato YYYYMMDD. Devuelve datos completos incluyendo nombreMedico, matricula, hora exacta para cancelar.","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/lista-turnos-actuales","sendQuery":true,"parametersQuery":{"values":[{"name":"usuario","valueProvider":"fieldValue","value":"WSTRRED"},{"name":"password","valueProvider":"fieldValue","value":"Y2xpb25lcw"},{"name":"dni","valueProvider":"fieldValue","value":"{dni}"},{"name":"fecha","valueProvider":"fieldValue","value":"{fecha}"}]},"placeholderDefinitions":{"values":[{"name":"dni","description":"DNI del paciente sin puntos ni guiones (ejemplo: 17666371)","type":"string"},{"name":"fecha","description":"Fecha en formato YYYYMMDD (ejemplo: 20250621)","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[460,260],"id":"9c473e1f-f1e1-4447-a5f7-750d05f46f36","name":"HTTP consultar_turnos_fecha"},{"parameters":{"toolDescription":"Consulta TODOS los turnos actuales de un paciente mediante su DNI. No requiere fecha específica. Devuelve vista general de todos los turnos programados del paciente.","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/turnos-actuales","sendQuery":true,"parametersQuery":{"values":[{"name":"usuario","valueProvider":"fieldValue","value":"WSTRRED"},{"name":"password","valueProvider":"fieldValue","value":"Y2xpb25lcw"},{"name":"dni","valueProvider":"fieldValue","value":"{dni}"}]},"placeholderDefinitions":{"values":[{"name":"dni","description":"DNI del paciente sin puntos ni guiones (ejemplo: 17666371)","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[660,260],"id":"d40c2e98-3731-4da0-b9c2-8942d672036d","name":"HTTP consultar_todos_turnos"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[260,280],"id":"6d590fe9-d9a2-419e-9ca6-7b396103a02b","name":"LLM - 4.1 - Nano","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"HTTP consultar_turnos_fecha":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"HTTP consultar_todos_turnos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"LLM - 4.1 - Nano":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"dni":"17666371","fecha":""}}]},"versionId":"ab36d69b-f3c7-4de9-ac99-386aedbde903","triggerCount":0,"shared":[{"createdAt":"2025-06-23T21:22:48.537Z","updatedAt":"2025-06-23T21:22:48.537Z","role":"workflow:owner","workflowId":"jqDxysl7sepO12jo","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}