iclp---testing---agente-padron-gdiHQp4cbaJJhGdl.json
{"createdAt":"2025-06-25T19:55:29.897Z","updatedAt":"2025-10-12T05:14:07.358Z","id":"gdiHQp4cbaJJhGdl","name":"ICLP - Testing - Agente Padron","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"dni"},{"name":"paciente"},{"name":"direccion"},{"name":"celular"},{"name":"obraSocial"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-656,-192],"id":"52f8f30b-2da3-4e52-9495-d3dee0c822e0","name":"Trigger_Flujo_Padron"},{"parameters":{"url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/verificar-padron","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"},{"name":"dni","value":"={{ $json.dni }}"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true}},"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-224,-192],"id":"ba9b305f-43ac-4aff-98e1-dae5d6980aa2","name":"API_Verificar_Padron"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bdc3a715-ba83-4d71-90e7-f199a5ba5999","leftValue":"={{ $json.body.documento }}","rightValue":"is true","operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"encontrado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"151824a6-9660-4596-91cb-30e0cdc255fe","leftValue":"={{ $json.statusCode }}","rightValue":500,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"no_encontrado"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[0,-192],"id":"e962d5b7-1047-4540-926a-754eab9d8fcf","name":"Router_Paciente_Encontrado"},{"parameters":{"method":"POST","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/empadronamiento","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"dni\": \"{{ $('Trigger_Flujo_Padron').item.json.dni }}\",\n  \"paciente\": \"{{ $('Code').item.json.paciente }}\",\n  \"obraSocial\": \"{{ $('Code').item.json.obraSocial }}\",\n  \"celular\": \"{{ $('Trigger_Flujo_Padron').item.json.celular }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,-48],"id":"348c524a-6abf-460d-92ba-9758a7664793","name":"API_Empadronar_Paciente"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[688,-224],"id":"46270bb7-ce7b-46aa-8fd7-0cf24d0155d5","name":"Merge_Ambas_Ramas"},{"parameters":{"text":"={{ JSON.stringify($json) }}","attributes":{"attributes":[{"name":"status_verificacion","description":"Estado de la verificación: 'encontrado' si el paciente existe en el padrón, 'no_encontrado' si no está registrado, 'error' si hubo problema técnico"},{"name":"paciente_nombre","description":"Nombre completo del paciente extraído del campo apellido de la respuesta del API"},{"name":"paciente_dni","type":"number","description":"Número de DNI del paciente extraído del campo documento de la respuesta"},{"name":"paciente_telefono","description":"Teléfono principal del paciente extraído del campo telefono de la respuesta"},{"name":"paciente_celular","description":"Número de celular del paciente extraído del campo celular de la respuesta"},{"name":"paciente_email","description":"Email del paciente extraído del campo email de la respuesta"},{"name":"mensaje_usuario","description":"Mensaje claro y amigable para mostrar al usuario, explicando si está registrado o qué pasos seguir"},{"name":"siguiente_accion","description":"Próxima acción recomendada: 'continuar_con_turno' si está empadronado, 'iniciar_empadronamiento' si no está registrado"},{"name":"esta_empadronado","type":"boolean","description":"True si el paciente está registrado en el padrón, False si no está registrado"}]},"options":{"systemPromptTemplate":"Extrae información de los datos del padrón médico de ICLP. Los datos pueden venir de:\n1. API verificación (si el paciente existe)\n2. API empadronamiento (si se registró nuevo paciente)\n\nPara datos de verificación (tiene campos como \"apellido\", \"documento\"):\n- status_verificacion: \"encontrado\"\n- paciente_nombre: del campo \"apellido\"\n- siguiente_accion: \"continuar_con_turno\"\n- esta_empadronado: true\n\nPara datos de empadronamiento (respuesta de registro):\n- status_verificacion: \"empadronado_nuevo\"  \n- paciente_nombre: del campo \"paciente\" o \"nombre\"\n- siguiente_accion: \"continuar_con_turno\"\n- esta_empadronado: true\n\nSiempre extrae dni, telefono, celular, email si están disponibles."}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[896,-224],"id":"5ec11d9e-e34e-4719-9baf-e9a98027a0d1","name":"Extraer_Datos_Estructurados"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[896,0],"id":"181c74dd-9f7d-45d3-bf63-029a948f55c8","name":"LLM_Nano_Extractor","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}},{"parameters":{"assignments":{"assignments":[{"id":"529d1203-b831-4029-8740-0e69daab8f4b","name":"=output","value":"={\n  \"status\": \"{{ $json.output.status_verificacion || 'error' }}\",\n  \"accion\": \"{{ $json.output.status_verificacion === 'encontrado' ? 'verificacion_exitosa' : 'empadronamiento_exitoso' }}\",\n  \"paciente\": {\n    \"dni\": {{ $json.output.paciente_dni || 0 }},\n    \"nombre\": \"{{ $json.output.paciente_nombre || 'Sin nombre' }}\",\n    \"telefono\": \"{{ $json.output.paciente_telefono || '' }}\",\n    \"celular\": \"{{ $json.output.paciente_celular || '' }}\",\n    \"email\": \"{{ $json.output.paciente_email || '' }}\"\n  },\n  \"mensaje\": \"{{ $json.output.mensaje_usuario || 'Proceso completado' }}\",\n  \"siguiente_accion\": \"{{ $json.output.siguiente_accion || 'continuar_con_turno' }}\",\n  \"empadronado\": {{ $json.output.esta_empadronado || true }}\n}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1696,-224],"id":"d4259126-af95-4573-b9a8-3230014e0440","name":"Output_Final_Padron"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ac36dc3c-6672-453b-bd91-bb77c139d577","leftValue":"={{ !!($json.session?.datos_recopilados?.nombre && $json.session?.datos_recopilados?.telefono) }}","rightValue":"","operator":{"type":"boolean","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,-32],"id":"41a047fe-8dd2-4c8a-9625-f3a38130affd","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"b33af0fe-cd95-43bf-a96c-94d2f2f884a3","name":"output","value":"Para poder registrarte en el sistema necesito algunos datos adicionales.  📌 Por favor indicame: 1. Tu nombre completo 2. Un número de teléfono de contacto 3. Tu obra social si tenes. Luego intentaré empadronarte nuevamente 😊","type":"string"}]},"options":{"ignoreConversionErrors":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[464,176],"id":"ba45593c-7ad0-4220-8466-af66802822e6","name":"Set_Mensaje_Faltan_Datos"},{"parameters":{"jsCode":"const texto = ($json.texto || \"\").toLowerCase();\nconst dni = $json.dni ? String($json.dni) : null;\nconst pacienteInput = $json.paciente || null;\n\n// Separar por saltos de línea o numeraciones (1), 2), 1. etc.)\n// Mejorado: solo cortar en numeraciones seguidas de espacio/paréntesis, no puntos sueltos\nconst partes = texto\n  .split(/\\n|\\r|\\d\\)\\s?|\\d\\.\\s+/)\n  .map(p => p.trim().replace(/\\.$/, '')) // Remover puntos finales\n  .filter(p => p.length > 0);\n\n// Intentar identificar datos con mejor prioridad\nlet celular = null;\nlet obraSocial = null;\n\nfor (const parte of partes) {\n  // PRIMERO: Buscar números largos para celular (10-15 dígitos)\n  if (!celular && /^\\d{10,15}$/.test(parte)) {\n    celular = parte;\n  }\n  // SEGUNDO: Obra social con palabras clave específicas o patrones largos\n  else if (!obraSocial && (/obra\\s+social/i.test(parte) || \n                           /atsa|osde|swiss|ioma|pami|galeno/i.test(parte) ||\n                           (/^[a-záéíóúñü\\s]{4,}$/i.test(parte) && !/consulta|turno|cita/i.test(parte)))) {\n    // Limpiar \"obra social\" del inicio si existe\n    obraSocial = parte.replace(/^obra\\s+social\\s*/i, '').trim().toUpperCase();\n  }\n  // TERCERO: Si no hay celular, buscar números más cortos (7-9 dígitos) \n  else if (!celular && /^\\d{7,9}$/.test(parte)) {\n    celular = parte;\n  }\n}\n\n// Validaciones mínimas\nfunction validarCelular(c) {\n  return /^\\d{8,15}$/.test(c);\n}\n\nfunction validarDni(d) {\n  return /^\\d{7,8}$/.test(d);\n}\n\n// Output\nreturn [{\n  json: {\n    dni: validarDni(dni) ? dni : null,\n    paciente: pacienteInput || \"Paciente sin nombre\",\n    obraSocial: obraSocial || \"GENERAL\",\n    celular: validarCelular(celular) ? celular : \"Sin número\"\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,-192],"id":"097dee4e-0523-42f6-9efb-94b2fdafc180","name":"Code"},{"parameters":{"operation":"set","key":"=user_{{ $json.body.celular }}_iclp_padron_ok","value":"=true","expire":true,"ttl":86400},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[336,-288],"id":"517fc399-43db-42f9-9f98-f03fdbfc3de6","name":"Redis","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"method":"POST","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/empadronamiento","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"dni\": \"{{ $('Trigger_Flujo_Padron').item.json.dni }}\",\n  \"paciente\": \"{{ $('Code').item.json.paciente }}\",\n  \"obraSocial\": \"{{ $('Code').item.json.obraSocial }}\",\n  \"celular\": \"{{ $('Trigger_Flujo_Padron').item.json.celular }}\"\"{{ $('Code').item.json.celular }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,208],"id":"00bb6fce-d1af-48dd-a264-2be007b86d19","name":"API_Empadronar_Paciente1","disabled":true},{"parameters":{"operation":"set","key":"=DNI_USUARIO:{{ $json.output.paciente_celular }}","value":"={{ $json.output.paciente_dni }}","expire":true,"ttl":300},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1248,-224],"id":"8d2c5a60-bac6-43f3-9f4d-fbb9ebbe15ca","name":"Redis1","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}}],"connections":{"Trigger_Flujo_Padron":{"main":[[{"node":"Code","type":"main","index":0}]]},"API_Verificar_Padron":{"main":[[{"node":"Router_Paciente_Encontrado","type":"main","index":0}]]},"Router_Paciente_Encontrado":{"main":[[{"node":"Redis","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"API_Empadronar_Paciente":{"main":[[{"node":"Merge_Ambas_Ramas","type":"main","index":1}]]},"Merge_Ambas_Ramas":{"main":[[{"node":"Extraer_Datos_Estructurados","type":"main","index":0}]]},"Extraer_Datos_Estructurados":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"LLM_Nano_Extractor":{"ai_languageModel":[[{"node":"Extraer_Datos_Estructurados","type":"ai_languageModel","index":0}]]},"If":{"main":[[{"node":"API_Empadronar_Paciente","type":"main","index":0}],[{"node":"Set_Mensaje_Faltan_Datos","type":"main","index":0}]]},"Code":{"main":[[{"node":"API_Verificar_Padron","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Merge_Ambas_Ramas","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"Output_Final_Padron","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Trigger_Flujo_Padron":[{"json":{"dni":"35946257","paciente":"Fernando Cassera","direccion":"alcon 335","celular":"2254423359","obraSocial":"sancor"}}]},"versionId":"5fa14938-841c-4eae-971b-60f2dade602d","triggerCount":0,"shared":[{"createdAt":"2025-06-25T19:55:29.897Z","updatedAt":"2025-06-25T19:55:29.897Z","role":"workflow:owner","workflowId":"gdiHQp4cbaJJhGdl","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}