iclp---testing---agente-cancela_reprograma_turnos-wDWo84wbN5QdY6Rm.json
{"createdAt":"2025-06-25T20:03:21.319Z","updatedAt":"2025-07-10T12:23:32.317Z","id":"wDWo84wbN5QdY6Rm","name":"ICLP - Testing - Agente cancela_reprograma_turnos","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"texto\": \"Quiero cancelar mi turno del 25 de enero a las 14:00 con el Dr. García\",\n  \"user_id\": \"1234567890\",\n  \"session\": {\n    \"datos_recopilados\": {\n      \"dni\": \"17666371\",\n      \"nombre\": \"Juan Pérez\",\n      \"celular\": \"1123456789\",\n      \"turno_actual\": {\n        \"fecha\": \"2025-01-25\",\n        \"hora\": \"14:00\",\n        \"matricula\": \"15976\",\n        \"medico\": \"Dr. García\"\n      },\n      \"nuevo_turno\": {\n        \"fecha\": \"2025-02-15\",\n        \"hora\": \"16:30\",\n        \"matricula\": \"15976\"\n      }\n    }\n  }\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1040,300],"id":"f9904e74-e480-4f70-a7e8-b93d26ec27ec","name":"When Executed by Another Workflow"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"=   {{ $json.texto.toLowerCase().includes('ver') || $json.texto.toLowerCase().includes('listar') || $json.texto.toLowerCase().includes('consultar') || $json.texto.toLowerCase().includes('mis turnos') || $json.texto.toLowerCase().includes('turnos actuales') }}","rightValue":"true","operator":{"type":"string","operation":"equals"},"id":"ea5530f6-eaa3-4103-a03d-b602cfa8d290"}],"combinator":"and"},"renameOutput":true,"outputKey":"consultar_turnos"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"8eb8ef45-3fab-409a-9952-949b805f8839","leftValue":"=   {{ $json.texto.toLowerCase().includes('cancelar') || $json.texto.toLowerCase().includes('eliminar') || $json.texto.toLowerCase().includes('anular') || $json.texto.toLowerCase().includes('confirmo') && $json.texto.toLowerCase().includes('cancelar') }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cancelar_turno"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b7501404-3f0a-44bc-bcc5-7473ae8355cc","leftValue":"=   {{ $json.texto.toLowerCase().includes('reprogramar') || $json.texto.toLowerCase().includes('cambiar') || $json.texto.toLowerCase().includes('mover') || $json.texto.toLowerCase().includes('reagendar') }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"reprogramar_turno"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-780,300],"id":"9a3a8716-0d7b-41b2-98e2-34541ccac9a3","name":"Switch"},{"parameters":{"url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/turnos-actuales","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"},{"name":"dni","value":"={{ $json.session.datos_recopilados.dni }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-340,96.5],"id":"78707def-ea75-4c7e-936e-2dec49b52d4b","name":"HTTP_Consultar_Turnos"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-120,296.5],"id":"c89bafe1-01f7-4b84-a565-a7805333f9f8","name":"Merge"},{"parameters":{"method":"PUT","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/eliminar-turno","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"},{"name":"matricula","value":"={{ $json.session.datos_recopilados.turno_actual.matricula }}"},{"name":"fecha","value":"={{ $json.session.datos_recopilados.turno_actual.fecha.replace(/-/g, '') }}"},{"name":"hora","value":"={{ $json.session.datos_recopilados.turno_actual.hora.replace(':', '') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-340,296.5],"id":"48df92b7-58b8-4cd3-8755-9d83ed2ba656","name":"HTTP_Cancelar_Turno"},{"parameters":{"method":"PUT","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/eliminar-turno","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"},{"name":"matricula","value":"={{ $json.session.datos_recopilados.turno_actual.matricula }}"},{"name":"fecha","value":"={{ $json.session.datos_recopilados.turno_actual.fecha.replace(/-/g, '') }}"},{"name":"hora","value":"={{ $json.session.datos_recopilados.turno_actual.hora.replace(':', '') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-560,496.5],"id":"5e40782e-e75f-410f-9b45-4c5a3baefb0b","name":"HTTP_Cancelar_Existente"},{"parameters":{"method":"POST","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/tomar-turno","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"},{"name":"canal","value":"whatsapp"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"dni\": \"{{ $json.session.datos_recopilados.dni }}\",\n  \"matricula\": {{ parseInt($json.session.datos_recopilados.nuevo_turno.matricula) }},\n  \"fecha\": {{ new Date($json.session.datos_recopilados.nuevo_turno.fecha + 'T00:00:00').getTime() }},\n  \"hora\": \"{{ $json.session.datos_recopilados.nuevo_turno.hora.replace(':', '') }}\",\n  \"celular\": \"{{ $json.session.datos_recopilados.celular }}\",\n  \"sexo\": \"M\",\n  \"estudios\": \"Consulta\",\n  \"equipo\": \"1\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-340,500],"id":"b6d6df19-35a7-4be0-a820-3ac51a54652b","name":"HTTP_Tomar_Nuevo"},{"parameters":{"text":"={{ JSON.stringify($json) }}","attributes":{"attributes":[{"name":"status_operacion","description":"\"exitoso\" si la operación fue correcta, \"error\" si hubo algún problema en cualquier paso"},{"name":"tipo_operacion","description":"\"turnos_consultados\" si se consultaron turnos, \"turno_cancelado\" si se canceló un turno, \"turno_reprogramado_completo\" si se completó la reprogramación (cancelar + tomar nuevo)"},{"name":"cantidad_turnos","type":"number","description":"Número de turnos encontrados en la consulta (solo para consultas, 0 para otros casos)"},{"name":"turno_cancelado_confirmado","type":"boolean","description":"True si la cancelación fue exitosa, False si falló o no aplica"},{"name":"turno_nuevo_id","description":"ID del nuevo turno creado (solo para reprogramación exitosa, null para otros casos)"},{"name":"mensaje_usuario","description":"Mensaje claro y amigable en español argentino explicando el resultado completo de la operación"},{"name":"siguiente_accion","description":"Próxima acción recomendada: \"operacion_completada\", \"revisar_error\", \"consultar_nuevamente\", etc."}]},"options":{"systemPromptTemplate":"Analiza las respuestas de las APIs de gestión de turnos médicos ICLP y determina el tipo de operación realizada.\n\nDETECCIÓN DE OPERACIÓN:\nExamina los datos de entrada para identificar qué endpoint fue llamado:\n\n1. **CONSULTA TURNOS** (/turnos-actuales):\n   - Respuesta: Número \"0\" = no hay turnos\n   - Respuesta: Datos de turnos = turnos encontrados\n   - tipo_operacion: \"turnos_consultados\"\n   - cantidad_turnos: número real de turnos\n\n2. **CANCELACIÓN SIMPLE** (/eliminar-turno):\n   - Respuesta exitosa típica: confirmación de eliminación\n   - tipo_operacion: \"turno_cancelado\"\n   - turno_cancelado_confirmado: true si exitoso\n\n3. **REPROGRAMACIÓN** (secuencia /eliminar-turno + /tomar-turno):\n   - Debe haber DOS respuestas en secuencia\n   - Validar que AMBAS fueron exitosas\n   - tipo_operacion: \"turno_reprogramado_completo\"\n   - turno_cancelado_confirmado: true si primer paso OK\n   - turno_nuevo_id: extraer del segundo paso\n\nMANEJO DE ERRORES:\n- HTTP 4xx/5xx = status_operacion: \"error\"\n- Respuestas con campo \"error\" = status_operacion: \"error\"\n- Para reprogramación: si falla cualquier paso = \"error\"\n\nMENSAJES EN ESPAÑOL ARGENTINO:\n- Usar \"vos\" en lugar de \"tú\"\n- Ejemplos: \"Tu turno fue cancelado exitosamente\", \"Se encontraron 2 turnos programados\"\n\nSIGUIENTE_ACCIÓN:\n- \"operacion_completada\": Todo salió bien\n- \"consultar_nuevamente\": Para consultas exitosas\n- \"contactar_soporte\": Para errores críticos\n- \"intentar_nuevamente\": Para errores temporales"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[100,296.5],"id":"946ecd1f-1581-4d4d-8462-0af1b89c9995","name":"Information Extractor"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[20,580],"id":"b8862e0c-1376-40c5-93a2-e992a3fda3a5","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}},{"parameters":{"assignments":{"assignments":[{"id":"b0b96fb5-0fcf-4a43-933f-cc66737d28ee","name":"output","value":"={   \"status\": \"{{ $json.output.status_operacion }}\",   \"accion\": \"{{ $json.output.tipo_operacion }}\",   \"turnos\": {     \"cantidad\": {{ $json.output.cantidad_turnos || 0 }},     \"cancelado_confirmado\": {{ $json.output.turno_cancelado_confirmado || false }},     \"nuevo_id\": \"{{ $json.output.turno_nuevo_id || null }}\"   },   \"mensaje\": \"{{ $json.output.mensaje_usuario }}\",   \"siguiente_accion\": \"{{ $json.output.siguiente_accion }}\",   \"timestamp\": \"{{ new Date().toISOString() }}\" }","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[460,300],"id":"5ce037c4-d126-47b2-9648-04793b457853","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"HTTP_Consultar_Turnos","type":"main","index":0}],[{"node":"HTTP_Cancelar_Turno","type":"main","index":0}],[{"node":"HTTP_Cancelar_Existente","type":"main","index":0}]]},"HTTP_Consultar_Turnos":{"main":[[{"node":"Merge","type":"main","index":0}]]},"HTTP_Cancelar_Turno":{"main":[[{"node":"Merge","type":"main","index":1}]]},"HTTP_Cancelar_Existente":{"main":[[{"node":"HTTP_Tomar_Nuevo","type":"main","index":0}]]},"HTTP_Tomar_Nuevo":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Merge":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Information Extractor":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a19b341a-1376-43e6-aab2-b262e15e21e1","triggerCount":0,"shared":[{"createdAt":"2025-06-25T20:03:21.319Z","updatedAt":"2025-06-25T20:03:21.319Z","role":"workflow:owner","workflowId":"wDWo84wbN5QdY6Rm","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}