iclp_testing_simple-GVvD0l0MtnY0ASMp.json
{"createdAt":"2025-07-06T00:43:46.030Z","updatedAt":"2025-09-07T14:29:16.406Z","id":"GVvD0l0MtnY0ASMp","name":"ICLP_Testing_Simple","active":false,"isArchived":true,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-224,1800],"id":"33f09d8a-1f9c-45db-9235-3d49adb173cd","name":"1 mensaje a la vez"},{"parameters":{"method":"POST","url":"={{ $('seteo_variables').item.json.evolution_url }}/message/sendText/{{ $('seteo_variables').item.json.evolution_instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('seteo_variables').item.json.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('seteo_variables').item.json.whatsapp }}"},{"name":"text","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4,1800],"id":"b8a955ed-1a32-402a-8bfb-b50d9a1b5202","name":"Respuesta_al_usuario"},{"parameters":{"httpMethod":"POST","path":"nicotest","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-4280,1900],"id":"7fdf4e15-5530-44aa-aa9e-ae66b050d9c3","name":"Webhook","webhookId":"d5c2bece-2323-4d9b-9115-70cfc9683afa"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('seteo_variables').item.json.mensaje_tipo }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"a14a0e87-4dc6-4b6b-b5c9-130df82cffb1"}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c52c071e-3b41-4c1a-a29c-2d6205df78f1","leftValue":"={{ $('seteo_variables').item.json.mensaje_tipo }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"76581f1f-514d-48b7-8f14-3700188cf9ba","leftValue":"={{ $('seteo_variables').item.json.mensaje_tipo }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagen"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ff59f6c2-f2a4-4344-8d6e-5b6c68db58f1","leftValue":"={{ $('seteo_variables').item.json.mensaje_tipo }}","rightValue":"reactionMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"reacción"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"otro"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-3620,1858],"id":"6e944a18-6bf1-47d3-91f8-40522b3594b4","name":"Tipo de mensaje"},{"parameters":{"keys":{"key":[{"currentKey":"content","newKey":"body"}]},"additionalOptions":{}},"type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[-4060,1900],"id":"fbefe2e6-f53f-40e0-9892-07994da5188e","name":"Mensaje de entrada1"},{"parameters":{"assignments":{"assignments":[{"id":"915e8cae-80aa-4564-9b03-fc7936051b50","name":"evolution_url","value":"={{ $('Mensaje de entrada1').item.json.body.server_url }}","type":"string"},{"id":"b1fac4cf-b394-40a4-a53e-6c1c8b0781a9","name":"evolution_instancia","value":"={{ $('Mensaje de entrada1').item.json.body.instance }}","type":"string"},{"id":"d12ad259-1d61-490f-a383-aa0294f60752","name":"whatsapp","value":"=+{{ $('Mensaje de entrada1').item.json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\",\"\") }}","type":"string"},{"id":"693e89ee-a42d-481a-980c-9fc813bb07bb","name":"enviado_por_mi","value":"={{ $('Mensaje de entrada1').item.json.body.data.key.fromMe }}","type":"boolean"},{"id":"443aa937-5454-4f65-845b-344b8da65528","name":"mensaje_id","value":"={{ $('Mensaje de entrada1').item.json.body.data.key.id }}","type":"string"},{"id":"a21e5305-570c-4153-8b22-b2d56d1f21ee","name":"mensaje_texto","value":"={{ $('Mensaje de entrada1').item.json.body.data.message.conversation }}","type":"string"},{"id":"4d471303-5393-4ca4-a3bc-c6177b90812f","name":"mensaje_tipo","value":"={{ $('Mensaje de entrada1').item.json.body.data.messageType }}","type":"string"},{"id":"70b3ac3c-1aeb-48a5-991c-6278f58a1ae4","name":"mensaje_reaccion","value":"={{ $('Mensaje de entrada1').item.json.body.data.message.reactionMessage.text }}","type":"string"},{"id":"c4b4860b-27e5-4e10-821c-58c97382ec0a","name":"imagen_texto","value":"={{ $('Mensaje de entrada1').item.json.body.data.message.imageMessage.caption }}","type":"string"},{"id":"be5f497b-c00c-4843-9d1f-02926b0cf077","name":"nombre_negocio","value":"iclp","type":"string"},{"id":"1cfca1c3-4c38-43be-97cf-aa1714a6f086","name":"apikey","value":"={{ $json.body.apikey }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3840,1900],"id":"8f151676-a381-4780-ba51-ee63fa7ceb78","name":"seteo_variables"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3400,2050],"id":"ec5b1fa8-806f-4feb-a30d-b56468ec7de1","name":"No Operation, do nothing"},{"parameters":{"name":"Flujo_padron","description":"Verifica si un paciente está registrado en el padrón médico mediante su DNI. Si no lo está, permite empadronarlo enviando nombre completo, DNI, obra social y teléfono. Usá esta herramienta en cualquier momento en que necesites validar si el paciente ya existe en el sistema.","workflowId":{"__rl":true,"value":"gdiHQp4cbaJJhGdl","mode":"list","cachedResultName":"ICLP - Testing - Agente Padron"},"workflowInputs":{"mappingMode":"defineBelow","value":{"texto":"={{ $('Resetear debounce').item.json.debounce }}","user_id":"={{ $('seteo_variables').item.json.whatsapp }}","session":"={\n  \"step\": \"inicio\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\",\n  \"user_id\": \"{{ $('seteo_variables').item.json.whatsapp }}\"\n}"},"matchingColumns":[],"schema":[{"id":"texto","displayName":"texto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"session","displayName":"session","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[-940,2140],"id":"2448dfc0-2114-4967-9f26-5b71337b9685","name":"Flujo_padron"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2960,1700],"id":"27dfc833-c476-4983-b6c0-b9d9f9a196f1","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-3180,1700],"id":"2ad30cf1-4e51-4db3-83b6-72ab05a1dc01","name":"Convert to File"},{"parameters":{"method":"POST","url":"={{ $('seteo_variables').item.json.evolution_url }}/chat/getBase64FromMediaMessage/{{ $('seteo_variables').item.json.evolution_instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('seteo_variables').item.json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('seteo_variables').item.json.mensaje_id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3400,1700],"id":"4d7d7617-4c5f-485d-a073-846d86f9c07e","name":"Descarga_audio_whatsapp"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"bec41ef4-f8fd-4f3d-87b1-6ceb586de6fc","leftValue":"={{ $('seteo_variables').item.json.whatsapp }}","rightValue":"+5492213994411","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"4a24b288-50a4-41fe-b4f7-f0e5d8d24b20","leftValue":"={{ $('seteo_variables').item.json.whatsapp }}","rightValue":"+34695208760","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"436045c0-02c1-4827-b949-7ce84b20cab3","leftValue":"={{ $('seteo_variables').item.json.whatsapp }}","rightValue":"+5492213163549","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"c4e42ee9-9a8f-44e3-ac96-2a3d8344a7a4","leftValue":"={{ $('seteo_variables').item.json.whatsapp }}","rightValue":"+5492215402436","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1420,1800],"id":"21a19aa0-45ea-4ed4-b2f6-18492d9a8c7b","name":"Filtrar números de prueba1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2300,1800],"id":"60e4edd8-3050-4a9f-afed-6f33d4de4545","name":"Esperar 5 segundos","webhookId":"dc090e12-c988-4405-8ca0-73ac92c6fd1e"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26cede26-4e84-4d91-9969-09bfc5bf3313","leftValue":"={{ $('Recuperar debounce [A]').item.json.debounce }}","rightValue":"={{ $('Recuperar debounce [B]').item.json.debounce }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1860,1800],"id":"c77d83a7-f584-4876-926e-01637c595b9f","name":"Comparar debounce y mensaje"},{"parameters":{"operation":"get","propertyName":"debounce","key":"={{ $('seteo_variables').item.json.whatsapp }}_debounce_{{ $('seteo_variables').item.json.nombre_negocio }}","options":{"dotNotation":false}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2520,1800],"id":"57b7dde9-e708-4c51-b383-a3596ea2b223","name":"Recuperar debounce [A]","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"debounce","key":"={{ $('seteo_variables').item.json.whatsapp }}_debounce_{{ $('seteo_variables').item.json.nombre_negocio }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2080,1800],"id":"add12ddd-414b-4a80-a023-42882f8e80ce","name":"Recuperar debounce [B]","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"set","key":"={{ $('seteo_variables').item.json.whatsapp }}_debounce_{{ $('seteo_variables').item.json.nombre_negocio }}","value":"={{ $('seteo_variables').item.json.mensaje_tipo === 'audioMessage' ? 'audio_received' : $('seteo_variables').item.json.mensaje_texto }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1640,1800],"id":"e99f9853-778a-4d26-a133-b4c9f9c069c5","name":"Resetear debounce","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"set","key":"={{ $('seteo_variables').item.json.whatsapp }}_debounce_{{ $('seteo_variables').item.json.nombre_negocio }}","value":"={{ $('seteo_variables').item.json.mensaje_tipo === 'audioMessage' ? 'audio_received' : $('seteo_variables').item.json.mensaje_texto }}","expire":true,"ttl":15},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2740,1900],"id":"c7e022c7-775a-402f-a1f8-dd9e4cf965bf","name":"almacenar_debounce1","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"set","key":"={{ $('seteo_variables').item.json.whatsapp }}_debounce_{{ $('seteo_variables').item.json.nombre_negocio }}","value":"={{ $('Transcribe a recording').item.json.text }}","expire":true,"ttl":15},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2740,1700],"id":"5a31d5a6-2bec-402a-93c2-25855229308e","name":"almacenar_debounce","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"promptType":"define","text":"={{ $('Resetear debounce').item.json.debounce }}","options":{"systemMessage":"=\nSYSTEM MESSAGE – ASISTENTE MÉDICO DIGITAL ICLP\nCONTEXTO DE USUARIO\n\nUsuario: {{ $('seteo_variables').item.json.whatsapp }}\n\nMensaje: {{ $('Resetear debounce').item.json.debounce }}\n\nFecha: {{ $now.setLocale('es').toFormat(\"cccc, dd/MM/yyyy TT\") }}\n\nROL\n\nSos el Asistente Médico Digital del Instituto de Cardiología La Plata (ICLP).\nTu objetivo es gestionar de forma autónoma, eficiente y empática toda la atención relacionada con turnos médicos a través de WhatsApp, utilizando herramientas integradas, respetando las reglas de negocio, y con un trato humano y profesional.\n\nSi el paciente saluda con un \"hola\", \"hola quiero un turno\" etc, saludalo de esta manera:\n\nGracias por comunicarte con el INSTITUTO DE CARDIOLOGÍA LA PLATA ¿Cómo podemos ayudarte? 👋🏻\n\n📆 Si necesitas un turno podes sacarlo a través de este Link donde verás todos los turnos disponibles \nhttp://iclp.ddns.net:7080/Turnos/\n\n👉 O bien decinos: \nTu nombre, apellido, DNI (sin puntos), profesional que busca y te agendamos en el turno mas próximo!\nEjemplo:\nPaciente: Nicolas Lopez, DNI 42028075, quiero un turno con el Dr. Fabian Barba\n\nTambien te podemos ayudar con otras gestiones como:\n- Que especialidades cuenta el instituto\n- Envio de Recetas\nEntre otras opciones.\n\nRecibimos audios SOLAMENTE si es necesario.\nOBJETIVO PRINCIPAL\n\nAsistir al paciente en:\n\nSolicitar, confirmar, cancelar, reprogramar o consultar turnos médicos\n\nConsultar información sobre especialidades, horarios y médicos del ICLP\n\nDerivar a canales humanos si la consulta excede tu alcance o si ocurre un error técnico\n\nTECNOLOGÍA DISPONIBLE\n\nUSÁ SOLO ESTAS HERRAMIENTAS. No inventes respuestas.\n\nFlujo_padron\nFunción: verificar si un paciente está empadronado por su DNI\nUso obligatorio: al inicio de toda conversación\nError 500 “Documento no encontrado”: el paciente no está registrado\n\nMCP Client\nFunción: única vía válida para gestionar turnos\nCapacidades: solicitar, confirmar, cancelar, reprogramar, listar turnos; consultar disponibilidad de médicos, especialidades y médicos por especialidad\nEs importante que utilices el subflujo 'horarios_medicos_disponibles' cuando se necesita saber los horarios disponibles de un médico\nEndpoint: https://hooks.autoclinicas.com/mcp/turno-mcp\n- Regla: no respondas al paciente si no recibiste confirmación exitosa de MCP\n\nobtener_medicos_especialidades\nFunción: responder preguntas sobre que medicos atienden en la especialidad que pide el paciente\n\nobtener_especialidades\nFunción: devolver lista completa o parcial de especialidades médicas que pide el paciente\n\nobtener_estudios\nFunción: devolver lista completa de los estudios médicos que pide el paciente\n\nSi el paciente quiere sacar un turno por un estudio:\nLOS UNICOS Estudios permitidos para turnos online:\nApto fisico/Ergometria \nHolter y mapa\nElectrocardiograma y examen prequirurgico\n\n\n\nMOTOR DE DECISIONES\n\nFASE 1 – Verificación inicial\nExtraer DNI del mensaje\nEjecutar Flujo_padron\n\nSolo continuar si el paciente está empadronado\n\nFASE 2 – Ruta según intención\n\nIntención del Usuario:\n\n“mis turnos”, “consultar turnos” → MCP Client - listar turnos\n\n“cancelar turno”, “cambiar turno” → MCP Client - cancelar o reprogramar\n\n“quiero un turno” sin especificar médico → MCP Client - solicitar turno\n\n“qué especialidades hay” → Postgres Especialidad\n\n“quiero un cardiólogo”, “médicos disponibles” → obtener_medicos_especialidades - médicos por especialidad o todos\n\n“horarios del Dr. X” o “turno con Dr. X” → seguir flujo detallado abajo\n\nFlujo para turnos con médico específico:\n\nObtener matrícula\n\nUTILIZA la tool: 'obtener_medicos_especialidades' → búsqueda por nombre\n\ntambien puedes UTILIZAR: 'obtener_medicos_matricula' y buscar allí. \n\nSi falla: MCP Client → consultar todos los médicos\n\nSi no se encuentra: responder al usuario que verifique el nombre\n\nConsultar horarios disponibles\n\nMCP Client (modo: disponibilidad por matrícula)\n\nPresentar horarios y solicitar datos restantes\n\nConfirmar turno\n\nMCP Client (modo: confirmar turno)\n\nInformar resultado al paciente\n\nFASE 3 – Validación y respuesta\n\nEjecutar herramienta\n\nValidar éxito\n\nResponder al paciente o pedir más información\n\nREGLAS DE COMUNICACIÓN\n\nTono: profesional, cálido, empático y directo. Usar voseo argentino\n\nNunca inventes datos ni respondas sin ejecutar la herramienta adecuada\n\nPlantillas de respuesta:\n\nConfirmación de turno: \"Listo, tu turno fue confirmado para el [día], [fecha] a las [hora] con el Dr./Dra. [nombre].\"\n\nSin disponibilidad: \"No hay disponibilidad para ese horario. ¿Querés que busquemos otro día u otro médico?\"\n\nError técnico: \"Estoy teniendo un problema técnico. Probá en unos minutos o llamá al (0221) 427-1000.\"\n\nSolicitar DNI: \"Para poder ayudarte, necesito tu número de DNI. ¿Me lo enviarias, por favor?\"\n\nPaciente no empadronado: \"No encontré un paciente con ese DNI. Verificá que esté bien o comunicate con el ICLP para empadronarte.\"\n\n\nDATOS INSTITUCIONALES ICLP\nNombre: Instituto de Cardiología La Plata (ICLP)\nDirección: Calle 6 N° 212, entre 36 y 37, La Plata\nTeléfono: (0221) 427-1000\nTurnos Web: http://iclp.ddns.net:7080/Turnos/\n\nRecetas: recetas@iclpsrl.com.ar\nPacientes del Dr. Fabián Barba: WhatsApp exclusivo al 2216810260\n\nHorarios: lunes a viernes de 08:00 a 20:00 hs, sábados de 08:00 a 13:00 hs\n\nSEGURIDAD Y PRECISIÓN\nNunca debés:\nConfirmar turnos sin validación del backend\nInventar información\nUsar herramientas no autorizadas\nNUNCA pero NUNCA devolver el valor de la consulta. Eso es un dato interno\n\n\nSiempre debés:\nValidar empadronamiento antes de actuar\nConfirmar con herramientas antes de comunicar decisiones\nDerivar al teléfono general ante consultas fuera de tu alcance","maxIterations":15}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-988,1800],"id":"18e1a4af-3bdb-4d29-ab34-e92ca1878ed4","name":"Agente conversacional"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=user_{{    $('seteo_variables').item.json.whatsapp.replace('+',    '').replace('@', '') }}_iclp","sessionTTL":86400,"contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-1080,2140],"id":"95ae4f8a-90fc-4f51-9511-70e0d05c3bc3","name":"Redis Chat Memory","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"databaseId":256795,"tableId":606371,"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', `Devuelve la lista completa de los medicos segun la especialidad que pidio el paciente`, 'boolean') }}","additionalOptions":{"order":{"fields":[{"field":4918220}]}}},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[-640,2140],"id":"2220620f-4e3b-494a-b1f1-61ca3c9aef91","name":"obtener_medicos_especialidades","credentials":{"baserowApi":{"id":"ZpGSFHDmV88Zga8O","name":"Baserow account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{"responseFormat":"text","temperature":0.2,"timeout":100000,"maxRetries":3,"topP":0.5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1420,2140],"id":"71406225-2a98-46c0-90cb-a67331a43bba","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}},{"parameters":{"databaseId":256795,"tableId":606371,"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', `Devuelve la matricula del medico que pidio el paciente\n\nSi no pidio un doctor en especifico, devuelve una lista de medicos con esa especialidad y su matricula`, 'boolean') }}","additionalOptions":{"search":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Term', `Numero de matricula del DR/DRA que el paciente pidió`, 'string') }}"}},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[-460,2140],"id":"31b8cad4-ee6f-458d-bd71-6c89fb1e2853","name":"obtener_medicos_matricula","credentials":{"baserowApi":{"id":"ZpGSFHDmV88Zga8O","name":"Baserow account"}}},{"parameters":{"databaseId":256795,"tableId":606737,"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', `Devuelve SOLAMENTE los nombres de los estudios que realiza el instituto actualmente, sin mencionar los medicos, ni matricula`, 'boolean') }}","additionalOptions":{"search":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Term', `Devuelve estudios como Ergometria, Holter, MAPA`, 'string') }}"}},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[-280,2140],"id":"cbda7358-ae71-4b68-ae95-f0643a67f5c5","name":"obtener_estudios","credentials":{"baserowApi":{"id":"ZpGSFHDmV88Zga8O","name":"Baserow account"}}},{"parameters":{"modelName":"models/gemini-2.5-flash","options":{"temperature":0.2,"topP":0.5}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1240,2140],"id":"6d4e8e3f-dae1-4f36-88b2-7dc09f4d8afe","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"y4EbL32CeQSjDRft","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sseEndpoint":"https://hooks.autoclinicas.com/mcp/turno-mcp"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[-800,2140],"id":"c849c44e-5691-4f08-a5a5-1f796f09aaa6","name":"MCP Client"}],"connections":{"1 mensaje a la vez":{"main":[[],[{"node":"Respuesta_al_usuario","type":"main","index":0}]]},"Respuesta_al_usuario":{"main":[[{"node":"1 mensaje a la vez","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Mensaje de entrada1","type":"main","index":0}]]},"Tipo de mensaje":{"main":[[{"node":"almacenar_debounce1","type":"main","index":0}],[{"node":"Descarga_audio_whatsapp","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Mensaje de entrada1":{"main":[[{"node":"seteo_variables","type":"main","index":0}]]},"seteo_variables":{"main":[[{"node":"Tipo de mensaje","type":"main","index":0}]]},"Flujo_padron":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"Transcribe a recording":{"main":[[{"node":"almacenar_debounce","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Descarga_audio_whatsapp":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Filtrar números de prueba1":{"main":[[{"node":"Agente conversacional","type":"main","index":0}]]},"Esperar 5 segundos":{"main":[[{"node":"Recuperar debounce [B]","type":"main","index":0}]]},"Comparar debounce y mensaje":{"main":[[{"node":"Resetear debounce","type":"main","index":0}]]},"Recuperar debounce [A]":{"main":[[{"node":"Esperar 5 segundos","type":"main","index":0}]]},"Recuperar debounce [B]":{"main":[[{"node":"Comparar debounce y mensaje","type":"main","index":0}]]},"Resetear debounce":{"main":[[{"node":"Filtrar números de prueba1","type":"main","index":0}]]},"almacenar_debounce1":{"main":[[{"node":"Recuperar debounce [A]","type":"main","index":0}]]},"almacenar_debounce":{"main":[[{"node":"Recuperar debounce [A]","type":"main","index":0}]]},"Agente conversacional":{"main":[[{"node":"1 mensaje a la vez","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"Agente conversacional","type":"ai_memory","index":0}]]},"obtener_medicos_especialidades":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Agente conversacional","type":"ai_languageModel","index":0}]]},"obtener_medicos_matricula":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"obtener_estudios":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6d0e9956-9e52-49c5-8255-4159fc5946b8","triggerCount":1,"shared":[{"createdAt":"2025-07-06T00:43:46.030Z","updatedAt":"2025-07-06T00:43:46.030Z","role":"workflow:owner","workflowId":"GVvD0l0MtnY0ASMp","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}