iclp---testing---agente-padre-W5QKMDDUF2J3nDUV.json
{"createdAt":"2025-06-25T14:27:22.549Z","updatedAt":"2025-07-10T12:24:04.986Z","id":"W5QKMDDUF2J3nDUV","name":"ICLP - Testing - Agente Padre","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"nicotest","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-780,-240],"id":"262c077f-ef10-4142-9d15-47e4954f2e1c","name":"Webhook","webhookId":"d5c2bece-2323-4d9b-9115-70cfc9683afa"},{"parameters":{"method":"POST","url":"={{ $('seteo_variables').item.json.evolution_url }}/message/sendText/{{ $('seteo_variables').item.json.evolution_instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('seteo_variables').item.json.whatsapp }}"},{"name":"text","value":"={{ $('AI Agent').item.json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3880,-440],"id":"70940588-290a-4e08-bb46-7ea54058547f","name":"HTTP Request"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[540,-140],"id":"232f6fbd-2a4b-4fe0-a141-53480d90b9ff","name":"Final"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fee09f3c-637a-4864-a7ed-1af87e72e30f","leftValue":"={{ $('seteo_variables').item.json.whatsapp }}","rightValue":"+5492213994411","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"f93b5d30-5d64-436f-a4b2-766fac9338b1","leftValue":"={{ $('seteo_variables').item.json.whatsapp }}","rightValue":"+34695208760","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[100,-240],"id":"e5ffb810-2c6c-4d1f-a472-8082e339191e","name":"Filtrar números de prueba"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('seteo_variables').item.json.mensaje_tipo }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"a14a0e87-4dc6-4b6b-b5c9-130df82cffb1"}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c52c071e-3b41-4c1a-a29c-2d6205df78f1","leftValue":"={{ $('seteo_variables').item.json.mensaje_tipo }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"76581f1f-514d-48b7-8f14-3700188cf9ba","leftValue":"={{ $('seteo_variables').item.json.mensaje_tipo }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagen"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ff59f6c2-f2a4-4344-8d6e-5b6c68db58f1","leftValue":"={{ $('seteo_variables').item.json.mensaje_tipo }}","rightValue":"reactionMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"reacción"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"otro"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[320,-282],"id":"f06543ca-4e8a-4c53-94f9-b3c7cb95f1bf","name":"Tipo de mensaje"},{"parameters":{"operation":"delete","key":"={{ $('seteo_variables').item.json.whatsapp }}_estado_bot_{{ $('seteo_variables').item.json.nombre_negocio }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-120,-240],"id":"f9ce96b9-2fc7-42db-9a2c-9cd01fc74825","name":"Resetear historial","notesInFlow":false,"credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"keys":{"key":[{"currentKey":"content","newKey":"body"}]},"additionalOptions":{}},"type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[-560,-240],"id":"1ed505e1-6f75-4a75-949e-94b1caf99738","name":"Mensaje de entrada1"},{"parameters":{"assignments":{"assignments":[{"id":"915e8cae-80aa-4564-9b03-fc7936051b50","name":"evolution_url","value":"={{ $('Mensaje de entrada1').item.json.body.server_url }}","type":"string"},{"id":"b1fac4cf-b394-40a4-a53e-6c1c8b0781a9","name":"evolution_instancia","value":"={{ $('Mensaje de entrada1').item.json.body.instance }}","type":"string"},{"id":"d12ad259-1d61-490f-a383-aa0294f60752","name":"whatsapp","value":"=+{{ $('Mensaje de entrada1').item.json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\",\"\") }}","type":"string"},{"id":"693e89ee-a42d-481a-980c-9fc813bb07bb","name":"enviado_por_mi","value":"={{ $('Mensaje de entrada1').item.json.body.data.key.fromMe }}","type":"boolean"},{"id":"443aa937-5454-4f65-845b-344b8da65528","name":"mensaje_id","value":"={{ $('Mensaje de entrada1').item.json.body.data.key.id }}","type":"string"},{"id":"a21e5305-570c-4153-8b22-b2d56d1f21ee","name":"mensaje_texto","value":"={{ $('Mensaje de entrada1').item.json.body.data.message.conversation }}","type":"string"},{"id":"4d471303-5393-4ca4-a3bc-c6177b90812f","name":"mensaje_tipo","value":"={{ $('Mensaje de entrada1').item.json.body.data.messageType }}","type":"string"},{"id":"70b3ac3c-1aeb-48a5-991c-6278f58a1ae4","name":"mensaje_reaccion","value":"={{ $('Mensaje de entrada1').item.json.body.data.message.reactionMessage.text }}","type":"string"},{"id":"c4b4860b-27e5-4e10-821c-58c97382ec0a","name":"imagen_texto","value":"={{ $('Mensaje de entrada1').item.json.body.data.message.imageMessage.caption }}","type":"string"},{"id":"be5f497b-c00c-4843-9d1f-02926b0cf077","name":"nombre_negocio","value":"iclp","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-340,-240],"id":"ca46d0c1-e8b9-4e7e-9878-06e78fedee40","name":"seteo_variables"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fee09f3c-637a-4864-a7ed-1af87e72e30f","leftValue":"={{ $('seteo_variables').item.json.whatsapp }}","rightValue":"@g.us","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-780,120],"id":"c7383c54-657d-429a-980c-4eec38dca102","name":"Filtrar solo grupos"},{"parameters":{"promptType":"define","text":"={{ $('Resetear debounce1').item.json.debounce }}","options":{"systemMessage":"=# Descripción general\nSos el asistente médico principal de ICLP. Tu trabajo es guiar al paciente a través del proceso de gestión de turnos médicos, de forma profesional, paso a paso, y con memoria persistente.\n\n# Información del usuario\n⁠ID: {{ $('seteo_variables').item.json.whatsapp }}\n⁠Mensaje actual: {{ $('Resetear debounce1').item.json.debounce }}\n\n# Herramientas disponibles (agentes)\nFlujo_padron: Verifica si el paciente está empadronado o lo registra si no lo está.\n\nflujo_especialidades_y_horarios: Devuelve especialidades, médicos y horarios disponibles.\n\nFlujo_tomar_turno: Toma un turno médico, una vez confirmados todos los datos.\n\nflujo_cancelar_reprogramar_turnos: Cancela o reprograma turnos existentes.\n\n# Reglas de uso de herramientas\nSIEMPRE usa las herramientas disponibles, NO respondas solo con texto\n\nDespués de verificar padrón → LLAMA a flujo_especialidades_y_horarios\n\n⁠Después de seleccionar médico → LLAMA a Flujo_tomar_turno\n\n⁠NO hagas preguntas que las herramientas pueden resolver\n# Flujo obligatorio\n1.⁠ ⁠Usuario pide turno → Llama Flujo_padron\n2.⁠ ⁠Padrón confirmado → Llama flujo_especialidades_y_horarios \n3.⁠ ⁠Médico seleccionado → Llama Flujo_tomar_turno\n\n# Instrucciones inteligentes\n1.⁠ ⁠ANALIZAR INTENCIÓN: Si el usuario menciona una especialidad específica (como \"cardiólogo\"), NO preguntes por especialidades\n2.⁠ ⁠DETECTAR DNI: Si el usuario proporciona su DNI, úsalo directamente\n3.⁠ ⁠FLUJO DIRECTO: Si el usuario dice \"quiero un turno de cardiología con DNI X\", ve directo al flujo de padrón\n4.⁠ ⁠*SER EFICIENTE*: No hagas preguntas innecesarias si ya tienes la información\n\n## Reglas específicas\n⁠Si el usuario dice \"quiero un cardiólogo\" → Llama directamente a Flujo_padron\n\nSi el usuario da su DNI → Usa esa información\n\n⁠Si el usuario es específico → Sé específico en tu respuesta\n\n⁠Revisa la memoria para entender el contexto de conversaciones anteriores\n\n# Contexto temporal\nFecha y hora actual: {{ new Date().toLocaleString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires' }) }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2792,-440],"id":"f40a3d6b-8912-46af-b2da-2d4168d7c0d0","name":"AI Agent"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[540,-340],"id":"aab8b335-9564-4929-ad44-255543736ee3","name":"Final1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[760,-340],"id":"4f737141-8030-4da0-87d9-c9ba8dd73ed4","name":"Final2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[980,-340],"id":"4beb8961-0328-42f6-821c-61b899dec6c9","name":"Final3"},{"parameters":{"operation":"set","key":"={{ $('seteo_variables').item.json.whatsapp }}_debounce_{{ $('seteo_variables').item.json.nombre_negocio }}","value":"={{\n// ### Si el mensaje es de tipo texto\n$('seteo_variables').item.json.mensaje_tipo === \"conversation\" ? $('seteo_variables').item.json.mensaje_texto : \n// ### Si el mensaje es de tipo audio\n$('seteo_variables').item.json.mensaje_tipo === \"audioMessage\" ? $json.text : \n// ### Si es otro tipo de mensaje (debería ser imágen solamente)\n(\"*Descripción imagen:* \" + $json.content) + ($('seteo_variables').item.json.imagen_texto ? \"\\n\\n*Mensaje del usuario sobre la imágen:* \" + $('seteo_variables').item.json.imagen_texto: \"\")\n}}","expire":true,"ttl":15},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1200,-440],"id":"a8aa2764-e895-41fa-be90-91750e6b513e","name":"almacenar_debounce","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"push","list":"=memoria:{{ $('seteo_variables').item.json.whatsapp }}","messageData":"={\n \"timestamp\": \"{{ new Date().toLocaleString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires' }) }}\",\n \"role\": \"user\", \n \"message\": \"{{ $('seteo_variables').item.json.mensaje_texto }}\",\n \"from\": \"{{ $('seteo_variables').item.json.whatsapp }}\",\n \"message_id\": \"{{ $('seteo_variables').item.json.mensaje_id }}\"\n}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1200,-240],"id":"29ddbf85-1156-46e4-938a-886fb6cb09a6","name":"almacenar_memoria","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1420,-240],"id":"68bb3c39-226d-42ad-a0ca-939c98eeb299","name":"Final4"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1640,-440],"id":"132a07ab-ceb6-417a-a48f-108db9f8fcfc","name":"Esperar 5 segundos1","webhookId":"dc090e12-c988-4405-8ca0-73ac92c6fd1e"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26cede26-4e84-4d91-9969-09bfc5bf3313","leftValue":"={{ $('Recuperar debounce [A]1').item.json.debounce }}","rightValue":"={{ $('Recuperar debounce [B]1').item.json.debounce }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2080,-440],"id":"e852ac0c-52e1-4161-ad4f-c92567de3155","name":"Comparar debounce y mensaje1"},{"parameters":{"operation":"get","propertyName":"debounce","key":"={{ $('seteo_variables').item.json.whatsapp }}_debounce_{{ $('seteo_variables').item.json.nombre_negocio }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1420,-440],"id":"ae3691e8-9e2d-4eda-9008-53a3a9ececdc","name":"Recuperar debounce [A]1","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"debounce","key":"={{ $('seteo_variables').item.json.whatsapp }}_debounce_{{ $('seteo_variables').item.json.nombre_negocio }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1860,-440],"id":"39bafa6c-6688-4887-bee5-d44870d10b68","name":"Recuperar debounce [B]1","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"={{ $('seteo_variables').item.json.whatsapp }}_debounce_{{ $('seteo_variables').item.json.nombre_negocio }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2300,-440],"id":"73e1ea9a-6836-4116-9639-eae21bf3830d","name":"Resetear debounce1","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"name":"Flujo_padron","description":"Verifica si un paciente está registrado en el padrón médico mediante su DNI. Si no lo está, permite empadronarlo enviando nombre completo, DNI, obra social y teléfono. Usá esta herramienta en cualquier momento en que necesites validar si el paciente ya existe en el sistema.","workflowId":{"__rl":true,"value":"gdiHQp4cbaJJhGdl","mode":"list","cachedResultName":"ICLP - Testing - Agente Padron"},"workflowInputs":{"mappingMode":"defineBelow","value":{"texto":"={{ $('Resetear debounce1').item.json.debounce }}","user_id":"={{ $('seteo_variables').item.json.whatsapp }}","session":"={\n  \"step\": \"inicio\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\",\n  \"user_id\": \"{{ $('seteo_variables').item.json.whatsapp }}\"\n}"},"matchingColumns":[],"schema":[{"id":"texto","displayName":"texto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"session","displayName":"session","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[2760,-220],"id":"93c0c693-7c8d-46d8-b6d9-0a5249202906","name":"Flujo_padron"},{"parameters":{"name":"flujo_especialidades_y_horarios","description":"=Devuelve las especialidades disponibles, los médicos correspondientes a cada especialidad y los horarios para cada médico. Usá esta herramienta para guiar al paciente paso a paso en la selección del turno: primero la especialidad, luego el médico, y por último el horario.","workflowId":{"__rl":true,"value":"OOcPO6EGho1zjYg0","mode":"list","cachedResultName":"ICLP - Testing - Agente medico"},"workflowInputs":{"mappingMode":"defineBelow","value":{"texto":"={{ $('Resetear debounce1').item.json.debounce }}","user_id":"={{ $('seteo_variables').item.json.whatsapp }}","session":"={\n  \"step\": \"especialidades\",\n  \"timestamp\": \"{{ new Date().toLocaleString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires' }) }}\",\n  \"user_id\": \"{{ $('seteo_variables').item.json.whatsapp }}\"\n}"},"matchingColumns":[],"schema":[{"id":"texto","displayName":"texto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"session","displayName":"session","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[2880,-220],"id":"6ac79527-d823-46e5-bd69-2deb39b4f387","name":"flujo_especialidades_y_horarios"},{"parameters":{"name":"flujo_cancelar_reprogramar_turnos","description":"Permite cancelar un turno médico existente o solicitar uno nuevo si el paciente quiere reprogramar. Usá esta herramienta si el usuario menciona que desea cancelar o cambiar un turno.","workflowId":{"__rl":true,"value":"wDWo84wbN5QdY6Rm","mode":"list","cachedResultName":"ICLP - Testing - Agente cancela_reprograma_turnos"},"workflowInputs":{"mappingMode":"defineBelow","value":{"texto":"={{ $('Resetear debounce1').item.json.debounce }}","user_id":"={{ $('seteo_variables').item.json.whatsapp }}","session":"={\n  \"step\": \"cancelar_reprogramar\",\n  \"timestamp\": \"{{ new Date().toLocaleString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires' }) }}\",\n  \"user_id\": \"{{ $('seteo_variables').item.json.whatsapp }}\"\n}"},"matchingColumns":[],"schema":[{"id":"texto","displayName":"texto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"session","displayName":"session","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[3000,-220],"id":"bd836ba9-973a-4873-ad25-ebe0eccbbd67","name":"flujo_cancelar_reprogramar_turnos"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[3120,-220],"id":"ce74d19b-4317-4dc3-88d5-8631326b4233","name":"Think"},{"parameters":{"name":"tomar_turno","description":"Permite confirmar un nuevo turno médico o consultar los turnos actuales del paciente. Usá esta herramienta cuando el paciente quiera agendar un nuevo turno (con todos los datos completos) o si solicita ver sus turnos ya asignados.","workflowId":{"__rl":true,"value":"tGn116vReTRTV7Tn","mode":"list","cachedResultName":"ICLP - Testing - Agente tomar_turno"},"workflowInputs":{"mappingMode":"defineBelow","value":{"texto":"={{ $('Resetear debounce1').item.json.debounce }}","user_id":"={{ $('seteo_variables').item.json.whatsapp }}","session":"={\n  \"step\": \"tomar_turno\",\n  \"timestamp\": \"{{ new Date().toLocaleString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires' }) }}\",\n  \"user_id\": \"{{ $('seteo_variables').item.json.whatsapp }}\"\n}"},"matchingColumns":[],"schema":[{"id":"texto","displayName":"texto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"session","displayName":"session","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[3240,-220],"id":"44bd293f-956b-4659-83db-8a4fa80c33c4","name":"Flujo_tomar_turno"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2520,-220],"id":"6a69f977-1707-4da2-8ef4-78af4569f161","name":"LLM - 4.1 - Nano","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('seteo_variables').item.json.whatsapp }}_historial_{{ $('seteo_variables').item.json.nombre_negocio }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[2640,-220],"id":"b813edb4-b6da-4118-b217-54a406e8aa02","name":"Historial","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3660,-440],"id":"322023e0-6105-4824-bb6f-f38878b41676","name":"1 mensaje a la vez1"},{"parameters":{"jsCode":"// Importar texto completo del AI Agent\nlet texto = $('AI Agent').first().json.output;\n\n// Verificar que el texto existe\nif (!texto) {\n  return [{ mensaje: \"No hay texto para dividir\" }];\n}\n\n// Dividir texto si es necesario\nlet mensaje = texto.split(\"\\n\\n\").map(item => ({ mensaje: item.trim() }));\n\n// Filtrar mensajes vacíos\nmensaje = mensaje.filter(item => item.mensaje.length > 0);\n\n// Si no hay divisiones, devolver el texto completo\nif (mensaje.length === 0) {\n  mensaje = [{ mensaje: texto }];\n}\n\n// Devolver mensajes\nreturn mensaje;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3440,-440],"id":"d900ad0d-20bb-4ff8-9963-5eb1448c51db","name":"Dividir texto1"},{"parameters":{"name":"consultar_turnos_actuales","description":"Consulta los turnos actuales de un paciente mediante su DNI. Requiere dni (string sin puntos ni guiones). Devuelve una lista de turnos con fecha, hora, matrícula, médico y especialidad. Úsalo SIEMPRE antes de cancelar para obtener los datos exactos del turno.","workflowId":{"__rl":true,"value":"2Gh0G9J0ZSFdG4pD","mode":"list","cachedResultName":"ICLP - Consultar Turnos Actuales"},"workflowInputs":{"mappingMode":"defineBelow","value":{"dni":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dni', ``, 'string') }}","fecha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[-780,380],"id":"3d716cc5-6106-47b0-9ac0-983dbb3b6a55","name":"flujo_consultar_turnos"}],"connections":{"Webhook":{"main":[[{"node":"Mensaje de entrada1","type":"main","index":0}]]},"Filtrar números de prueba":{"main":[[{"node":"Tipo de mensaje","type":"main","index":0}]]},"Resetear historial":{"main":[[{"node":"Filtrar números de prueba","type":"main","index":0}]]},"Mensaje de entrada1":{"main":[[{"node":"seteo_variables","type":"main","index":0}]]},"Tipo de mensaje":{"main":[[{"node":"Final1","type":"main","index":0}],[],[{"node":"Final","type":"main","index":0}],[{"node":"Final","type":"main","index":0}],[{"node":"Final","type":"main","index":0}]]},"seteo_variables":{"main":[[{"node":"Resetear historial","type":"main","index":0}]]},"Final1":{"main":[[{"node":"Final2","type":"main","index":0}]]},"Final2":{"main":[[{"node":"Final3","type":"main","index":0}]]},"almacenar_debounce":{"main":[[{"node":"Recuperar debounce [A]1","type":"main","index":0}]]},"Final3":{"main":[[{"node":"almacenar_debounce","type":"main","index":0},{"node":"almacenar_memoria","type":"main","index":0}]]},"almacenar_memoria":{"main":[[{"node":"Final4","type":"main","index":0}]]},"Esperar 5 segundos1":{"main":[[{"node":"Recuperar debounce [B]1","type":"main","index":0}]]},"Recuperar debounce [A]1":{"main":[[{"node":"Esperar 5 segundos1","type":"main","index":0}]]},"Recuperar debounce [B]1":{"main":[[{"node":"Comparar debounce y mensaje1","type":"main","index":0}]]},"Comparar debounce y mensaje1":{"main":[[{"node":"Resetear debounce1","type":"main","index":0}]]},"Resetear debounce1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Dividir texto1","type":"main","index":0}]]},"LLM - 4.1 - Nano":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Flujo_padron":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"flujo_especialidades_y_horarios":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"flujo_cancelar_reprogramar_turnos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Flujo_tomar_turno":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Historial":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Dividir texto1":{"main":[[{"node":"1 mensaje a la vez1","type":"main","index":0}]]},"1 mensaje a la vez1":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"1 mensaje a la vez1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"hooks.autoclinicas.com","user-agent":"axios/1.10.0","content-length":"601","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"hooks.autoclinicas.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"834f57821b29","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Nicolas Matias Lopez","data":{"key":{"remoteJid":"5492213994411@s.whatsapp.net","fromMe":true,"id":"3AA9D92A1412946A2B3D"},"pushName":"Nico Lopez","status":"SERVER_ACK","message":{"conversation":"si"},"messageType":"conversation","messageTimestamp":1750883206,"instanceId":"0c06d94e-fef1-4290-8f10-fc50fe46c114","source":"ios"},"destination":"https://hooks.autoclinicas.com/webhook/nicotest","date_time":"2025-06-25T17:26:46.173Z","sender":"5492213994411@s.whatsapp.net","server_url":"https://api.autoclinicas.com","apikey":"8D32EAE9C7F6-49ED-A4AE-B9E83DF47788"},"webhookUrl":"https://hooks.autoclinicas.com/webhook/nicotest","executionMode":"production"}}]},"versionId":"f05a8e24-ed76-4f35-b827-5b7629af66ac","triggerCount":1,"shared":[{"createdAt":"2025-06-25T14:27:22.549Z","updatedAt":"2025-06-25T14:27:22.549Z","role":"workflow:owner","workflowId":"W5QKMDDUF2J3nDUV","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}