iclp---testing---consulta_turnos_actuales-oGNsrylORT3UXoW9.json
{"createdAt":"2025-06-25T20:01:22.957Z","updatedAt":"2025-07-10T12:23:47.380Z","id":"oGNsrylORT3UXoW9","name":"ICLP - Testing - Consulta_turnos_actuales","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"dni\": \"17666371\",\n  \"fecha\": \"20250621\"\n}"},"id":"ed1f25fb-b233-451d-b7d9-3a0a01989ff5","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-80,0]},{"parameters":{"promptType":"define","text":"=Consultar turnos para DNI: {{ $json.dni }}{{ $json.fecha ? ', fecha: ' + $json.fecha : '' }}","options":{"systemMessage":"=Eres un consultor de turnos médicos. Tu función es consultar turnos usando las herramientas disponibles.\n\nHERRAMIENTAS:\n- consultar_todos_turnos: Para obtener todos los turnos de un DNI\n- consultar_turnos_fecha: Para obtener turnos de una fecha específica\n\nINSTRUCCIONES:\n1. Si recibes solo DNI: usa consultar_todos_turnos\n2. Si recibes DNI y fecha: usa consultar_turnos_fecha\n3. Devuelve la información clara y estructurada incluyendo: médico, fecha, hora, matrícula\n\nProcesa la consulta y devuelve los resultados con todos los detalles necesarios para cancelar turnos.\n\n\nFECHA Y HORA ACTUAL: {{ new Date().toLocaleString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires' }) }}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[180,0],"id":"1ceb103a-0f55-4738-88bc-6ed9b69cb086","name":"AI Agent"},{"parameters":{"toolDescription":"Consulta turnos de una fecha específica con información detallada de médicos. Requiere dni y fecha en formato YYYYMMDD. Devuelve datos completos incluyendo nombreMedico, matricula, hora exacta para cancelar.","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/lista-turnos-actuales","sendQuery":true,"parametersQuery":{"values":[{"name":"usuario","valueProvider":"fieldValue","value":"WSTRRED"},{"name":"password","valueProvider":"fieldValue","value":"Y2xpb25lcw"},{"name":"dni","valueProvider":"fieldValue","value":"{dni}"},{"name":"fecha","valueProvider":"fieldValue","value":"{fecha}"}]},"placeholderDefinitions":{"values":[{"name":"dni","description":"DNI del paciente sin puntos ni guiones (ejemplo: 17666371)","type":"string"},{"name":"fecha","description":"Fecha en formato YYYYMMDD (ejemplo: 20250621)","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[180,220],"id":"9ae76ea6-df61-4bb1-80c9-f90d575db550","name":"HTTP consultar_turnos_fecha"},{"parameters":{"toolDescription":"Consulta TODOS los turnos actuales de un paciente mediante su DNI. No requiere fecha específica. Devuelve vista general de todos los turnos programados del paciente.","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/turnos-actuales","sendQuery":true,"parametersQuery":{"values":[{"name":"usuario","valueProvider":"fieldValue","value":"WSTRRED"},{"name":"password","valueProvider":"fieldValue","value":"Y2xpb25lcw"},{"name":"dni","valueProvider":"fieldValue","value":"{dni}"}]},"placeholderDefinitions":{"values":[{"name":"dni","description":"DNI del paciente sin puntos ni guiones (ejemplo: 17666371)","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[380,220],"id":"80de850b-bdcf-438f-933d-39b291414bc9","name":"HTTP consultar_todos_turnos"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-20,240],"id":"8a48e5da-1167-4a65-8c08-b612fe0560b1","name":"LLM - 4.1 - Nano","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"HTTP consultar_turnos_fecha":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"HTTP consultar_todos_turnos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"LLM - 4.1 - Nano":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"dni":"17666371","fecha":""}}]},"versionId":"cc345d71-f824-4597-b81b-15c2e7a4df83","triggerCount":0,"shared":[{"createdAt":"2025-06-25T20:01:22.957Z","updatedAt":"2025-06-25T20:01:22.957Z","role":"workflow:owner","workflowId":"oGNsrylORT3UXoW9","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}