iclp---prod---agente_tomar_turno-ZKFmNquIJMhpVG7I.json
{"createdAt":"2025-06-23T21:27:22.311Z","updatedAt":"2025-06-23T21:36:07.950Z","id":"ZKFmNquIJMhpVG7I","name":"ICLP - PROD - Agente_tomar_turno","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"texto\": \"Quiero confirmar mi turno\",\n  \"user_id\": \"5491123456789\",\n  \"session\": {\n    \"datos_recopilados\": {\n      \"dni\": \"17666371\",\n      \"matricula\": \"15976\",\n      \"fecha\": \"2025-06-21\",\n      \"hora\": \"17:45\",\n      \"celular\": \"1123456789\"\n    }\n  }\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-140,0],"id":"d3f67f7d-f2f0-48a9-a91f-4560bad97b39","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"={{ $json.texto }}","options":{"systemMessage":"=# Descripción general\nSos un asistente especializado en la toma y consulta de turnos médicos. Tu función es verificar que el paciente haya completado correctamente toda la información necesaria para tomar un turno, confirmar el turno de manera clara y profesional, o listar los turnos existentes si lo solicita.\n\n## Información del usuario\n- ID: {{ $json.user_id }}\n- Mensaje actual: {{ $json.texto }}\n\n## Estado de la conversación\n- Paso actual: {{ $json.session.step }}\n- Datos recopilados: {{ JSON.stringify($json.session.datos_recopilados) }}\n\n## Herramientas disponibles\n- **HTTP tomar_turno**: Toma un turno médico con los datos recopilados.\n- **HTTP listar_turno**: Lista los turnos actuales del paciente.\n\n\n## Requisitos para tomar el turno\nPara confirmar un turno, necesitás estos datos:\n- DNI\n- Nombre completo\n- Obra social\n- Teléfono\n- Especialidad\n- Médico elegido (la matrícula se obtiene internamente)\n- Fecha y hora del turno\n\n## Instrucciones\n1. Si el paciente quiere tomar un turno:\n   - Verificá que todos los datos requeridos estén presentes.\n   - Mostrá un resumen y pedí confirmación.\n   - Si confirma, llamá a `tomar_turno2`.\n2. Si el paciente quiere ver sus turnos actuales:\n   - Llamá a `listar_turno` usando su DNI.\n3. Si falta algún dato, pedilo antes de avanzar.\n4. Permití correcciones si el usuario lo solicita.\n5. Respondé siempre con claridad, respeto y amabilidad.\n\n## Notas finales\nEsta es la fecha y hora actual: {{ new Date().toLocaleString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires' }) }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[160,0],"id":"a20a1cad-ec0b-4dc2-a714-b6a5ebbe3961","name":"Agente tomar_turnos"},{"parameters":{"content":"## Agente especializado en tomar y listar turnos ","height":540,"width":660,"color":3},"type":"n8n-nodes-base.stickyNote","position":[0,-120],"typeVersion":1,"id":"b1799859-6bce-4873-a2ea-e53f621ac3ce","name":"Sticky Note5"},{"parameters":{"toolDescription":"Obtiene la lista de turnos actuales del paciente por DNI y fecha. Convierte automáticamente el formato de fecha de YYYY-MM-DD a YYYYMMDD según especificación de la API.","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/lista-turnos-actuales","sendQuery":true,"parametersQuery":{"values":[{"name":"usuario","valueProvider":"fieldValue","value":"WSTRRED"},{"name":"password","valueProvider":"fieldValue","value":"Y2xpb25lcw"},{"name":"dni","valueProvider":"fieldValue","value":"={{ $json.parameters.dni }}"},{"name":"fecha","valueProvider":"fieldValue","value":"=={{ new Date().toISOString().slice(0,10).replace(/-/g, '') }}"}]},"sendHeaders":true,"parametersHeaders":{"values":[{"name":"Content-Type","valueProvider":"fieldValue","value":"application/json"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[480,240],"id":"43cc85a2-be9b-43d6-80ef-74812e5525a0","name":"HTTP listar_turno"},{"parameters":{"toolDescription":"Confirma un turno médico para el paciente. Requiere DNI, matrícula del médico, fecha y hora. Convierte automáticamente los formatos de fecha (a timestamp) y hora (a HHMM) para la API.","method":"POST","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/tomar-turno","sendQuery":true,"parametersQuery":{"values":[{"name":"usuario","valueProvider":"fieldValue","value":"WSTRRED"},{"name":"password","valueProvider":"fieldValue","value":"Y2xpb25lcw"},{"name":"canal","valueProvider":"fieldValue","value":"whatsapp"}]},"sendHeaders":true,"parametersHeaders":{"values":[{"name":" Content-Type","valueProvider":"fieldValue","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"dni\": \"={{ $json.session.datos_recopilados.dni }}\",\n  \"matricula\": \"={{ parseInt($json.session.datos_recopilados.matricula) }}\",\n  \"fecha\": \"={{ new Date($json.session.datos_recopilados.fecha + 'T00:00:00').getTime() }}\",\n  \"hora\": \"={{ $json.session.datos_recopilados.hora.replace(':', '') }}\",\n  \"celular\": \"={{ $json.session.datos_recopilados.celular || '' }}\",\n  \"sexo\": \"\",\n  \"estudios\": \"\",\n  \"equipo\": \"\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[300,240],"id":"c6ca3f57-bc2e-4d9c-95bf-1b1be017bb0a","name":"HTTP tomar_turno"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[80,260],"id":"8e17c5e7-fe9d-4957-8124-6549200f8ef7","name":"LLM - 4.1 - Nano","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Agente tomar_turnos","type":"main","index":0}]]},"HTTP listar_turno":{"ai_tool":[[{"node":"Agente tomar_turnos","type":"ai_tool","index":0}]]},"HTTP tomar_turno":{"ai_tool":[[{"node":"Agente tomar_turnos","type":"ai_tool","index":0}]]},"LLM - 4.1 - Nano":{"ai_languageModel":[[{"node":"Agente tomar_turnos","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3a9068b8-ff62-4fba-acb4-1c6f14675e1f","triggerCount":0,"shared":[{"createdAt":"2025-06-23T21:27:22.311Z","updatedAt":"2025-06-23T21:27:22.311Z","role":"workflow:owner","workflowId":"ZKFmNquIJMhpVG7I","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}