iclp---prod---agente_padron-k4RpPYjLInwMJMcG.json
{"createdAt":"2025-06-23T21:26:59.081Z","updatedAt":"2025-06-23T21:35:48.731Z","id":"k4RpPYjLInwMJMcG","name":"ICLP - PROD - Agente_Padron","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.texto }}","options":{"systemMessage":"=# Descripción general\nSos un asistente especializado en padrón de pacientes. Tu función es verificar si el paciente ya está empadronado en el sistema de salud y, si no lo está, guiarlo para registrarse de manera ordenada y profesional.\n\n## Información del usuario\n- ID: {{ $json.user_id }}\n- Mensaje actual: {{ $json.texto }}\n\n## Estado de la conversación (DEBUG)\nEstado completo: {{ JSON.stringify($json.session) }}\n\n## Herramientas disponibles\n- **HTTP verificar_padron**: Consulta si un paciente ya está empadronado usando su DNI. SIEMPRE especifica el parámetro \"dni\" con el número exacto.\n- **HTTP empadronar_paciente**: Registra al paciente si aún no está en el sistema. Requiere nombre completo, DNI, obra social y teléfono.\n\n## Instrucciones paso a paso\n1. **EXTRAER DNI**: Del mensaje del usuario, extrae el DNI (ejemplo: \"mi dni es 42028075\" → usar \"42028075\")\n2. **VERIFICAR PADRÓN**: Usa `verificar_padron` especificando el DNI extraído\n3. **ANALIZAR RESULTADO**: Si está empadronado, confirma. Si no, procede al empadronamiento\n4. **RECOPILAR DATOS**: Si no está empadronado, pedí los datos faltantes UNO A UNO:\n   - Nombre completo\n   - Obra social\n   - Teléfono\n5. **CONFIRMAR INFORMACIÓN**: Mostra un resumen completo antes de proceder\n6. **EMPADRONAR**: Solo llama a `empadronar_paciente` cuando tengas TODOS los datos confirmados\n\n## Uso correcto de herramientas\n- Para verificar_padron: Siempre especifica el parámetro \"dni\" con el número exacto\n- Ejemplo: Si el usuario dice \"mi DNI es 42028075\", usa verificar_padron con dni: \"42028075\"\n\n## Reglas importantes\n- SIEMPRE extrae el DNI del mensaje antes de usar verificar_padron\n- NUNCA pidas datos que ya están confirmados\n- SIEMPRE confirma la información antes de empadronar\n- Permite correcciones en cualquier momento\n- Mantené un tono claro, cordial y profesional\n\n## Contexto temporal\nFecha y hora actual: {{ new Date().toLocaleString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires' }) }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[120,40],"id":"d9941db5-5b0b-42fb-8e5a-cce7be9d3f72","name":"Agente_padron"},{"parameters":{"content":"## Agente especializado en verificar padron y hacer empadronamiento de paciente","height":540,"width":660,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-40,-80],"typeVersion":1,"id":"2d11a4f3-5360-4372-aa1e-b7a55747ad11","name":"Sticky Note6"},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"texto\": \"Mi DNI es 42028075\",\n  \"user_id\": \"5491123456789\",\n  \"session\": {\n    \"datos_recopilados\": {\n      \"dni\": \"42028075\",\n      \"nombre\": \"Juan Perez\",\n      \"obra_social\": \"OSDE\", \n      \"telefono\": \"1123456789\"\n    }\n  }\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-260,40],"id":"af75be73-3c1e-4def-8dac-7c088fc4fae0","name":"When Executed by Another Workflow"},{"parameters":{"toolDescription":"Consulta si el paciente con el DNI proporcionado ya está empadronado en el sistema. Usá este endpoint cuando necesites verificar si un paciente existe en el padrón antes de continuar con el proceso de turnos.","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/verificar-padron","sendQuery":true,"parametersQuery":{"values":[{"name":"usuario","valueProvider":"fieldValue","value":"WSTRRED"},{"name":"password","valueProvider":"fieldValue","value":"Y2xpb25lcw"},{"name":"dni","valueProvider":"fieldValue","value":"={dni}"}]},"placeholderDefinitions":{"values":[{"name":"dni","description":"NI del paciente a verificar (sin puntos ni guiones)","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[240,300],"id":"c867db0e-dfa6-4a25-971a-6deb9395d502","name":"HTTP verificar_padron"},{"parameters":{"toolDescription":"Registra a un nuevo paciente en el sistema de padrón. Requiere nombre completo, DNI, obra social y teléfono. Usá este endpoint cuando el paciente aún no esté empadronado y haya proporcionado todos los datos requeridos.","method":"POST","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/empadronamiento","sendQuery":true,"parametersQuery":{"values":[{"name":"usuario","valueProvider":"fieldValue","value":"WSTRRED"},{"name":"password","valueProvider":"fieldValue","value":"Y2xpb25lcw"}]},"sendHeaders":true,"parametersHeaders":{"values":[{"name":"Content-Type","valueProvider":"fieldValue","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"dni\": \"{{ $json.session.datos_recopilados.dni }}\",\n  \"paciente\": \"{{ $json.session.datos_recopilados.nombre }}\",\n  \"obraSocial\": \"{{ $json.session.datos_recopilados.obra_social }}\",\n  \"celular\": \"{{ $json.session.datos_recopilados.telefono }}\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[400,300],"id":"fc7f9127-8266-4faf-8bb6-f4e87f69a334","name":"HTTP empadronar_paciente"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[20,320],"id":"13f833fb-d9d5-47b8-97b0-3b680985d48c","name":"LLM - 4.1 - Nano","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Agente_padron","type":"main","index":0}]]},"HTTP verificar_padron":{"ai_tool":[[{"node":"Agente_padron","type":"ai_tool","index":0}]]},"HTTP empadronar_paciente":{"ai_tool":[[{"node":"Agente_padron","type":"ai_tool","index":0}]]},"LLM - 4.1 - Nano":{"ai_languageModel":[[{"node":"Agente_padron","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"texto":"hola quiero un tunro mi dni es 42028075 y quiero un cardiologo por favor","user_id":"5492213994411","session":{"estado_sesion":"{\n  \"step\": \"seleccionando_medico\",\n  \"paciente_tipo\": \"\",\n  \"datos_recopilados\": ,\n  \"last_update\": \"2025-06-16T23:10:37.434Z\",\n  \"last_message\": \"¡Hola! Estoy a tu disposición para ayudarte con tus turnos médicos en ICLP. ¿Qué necesitás hacer hoy? ¿Querés sacar, cancelar o reprogramar un turno?\"\n}"}}}]},"versionId":"8548bc16-aa3f-4b04-b069-9c037c7efe6d","triggerCount":0,"shared":[{"createdAt":"2025-06-23T21:26:59.081Z","updatedAt":"2025-06-23T21:26:59.081Z","role":"workflow:owner","workflowId":"k4RpPYjLInwMJMcG","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}