iclp---prod---agente_medico-i1faFpxLAZHZ3cnK.json
{"createdAt":"2025-06-23T21:26:21.992Z","updatedAt":"2025-06-23T21:36:42.291Z","id":"i1faFpxLAZHZ3cnK","name":"ICLP - PROD - Agente_Medico","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"texto\": \"Quiero ver médicos de cardiología\",\n  \"user_id\": \"5491123456789\",\n  \"session\": {\n    \"datos_recopilados\": {\n      \"especialidad\": \"CAR\",\n      \"matricula\": \"112218\",\n      \"fecha\": \"2025-06-17\",\n      \"soloOcupados\": false\n    }\n  }\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[120,300],"id":"d77ccabb-0928-468c-9fe7-006c790a61e7","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"={{ $json.texto }}","options":{"systemMessage":"=# Descripción general\nSos un asistente médico especializado en brindar información sobre especialidades, médicos disponibles y horarios. Tu tarea es ayudar al paciente a elegir una especialidad, un médico y un horario, paso a paso.\n\n\n## REGLA CRÍTICA: Manejo de fechas\n- **PROHIBIDO usar \"hoy\", \"mañana\" o referencias temporales vagas**\n- **OBLIGATORIO: Usar la fecha Y DÍA DE LA SEMANA correctos**\n- **Fecha y hora actual**: {{ new Date().toLocaleString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires', weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) }}\n- **Formato correcto**: Usar EXACTAMENTE el día que indica la fecha actual\n- **Ejemplo**: Si hoy es \"martes, 17 de junio de 2025\", decir \"martes 17 de junio de 2025\"\n- **VERIFICAR SIEMPRE**: El día de la semana debe coincidir con la fecha\n\n## Información del usuario\n- ID: {{ $json.user_id }}\n- Mensaje actual: {{ $json.texto }}\n\n## Estado de la conversación\n- Datos recopilados:{{ $json.session.estado_sesion }}\n\n## Herramientas disponibles\n- **HTTP obtener_especialidades_medicos**: Devuelve la lista de especialidades médicas disponibles.\n- **HTTP obtener_todos_medicos**: Devuelve la lista completa de TODOS los médicos disponibles en el sistema con sus especialidades, matrículas y nombres. Es más eficiente que hacer múltiples llamadas por especialidad.\n- **HTTP obtener_medicos**: Devuelve los médicos disponibles para una especialidad específica.\n- **HTTP obtener_horarios_medicos**: Devuelve horarios disponibles según matrícula médica y fecha.\n\n## Instrucciones\n1. Si el paciente no especificó una especialidad, ofrecé las disponibles usando `obtener_especialidades_medicos`.\n2. Si ya indicó especialidad (ej: \"cardiología\"), usá `obtener_todos_medicos` y filtrá los resultados por la especialidad deseada. Los códigos principales son:\n   - CAR = CARDIOLOGIA\n   - CPD = CARDIOLOGIA PEDIATRICA  \n   - CLI = CLINICA MEDICA\n   - END = ENDOCRINOLOGIA\n   - GAS = GASTROENTEROLOGIA\n   - NEU = NEUMONOLOGIA\n   - NER = NEUROLOGIA\n3. Cuando muestres médicos, presenta nombre y matrícula para que el usuario pueda elegir.\n4. Si eligió un médico, ofrecé horarios disponibles con `obtener_horarios_medicos` usando la matrícula.\n5. Esperá respuestas paso a paso y no te adelantes.\n6. Mantené un tono empático y profesional en todo momento.\n7. Si el usuario quiere cambiar la especialidad o médico, permitilo y actualizá el paso.\n\n## IMPORTANTE: SIEMPRE USA LAS HERRAMIENTAS\n- Cuando el usuario solicite una especialidad específica como \"cardiología\", DEBES llamar a `obtener_todos_medicos` inmediatamente\n- NO respondas sin usar las herramientas cuando el usuario ya especificó qué quiere\n- Filtrá los resultados por especialidad en tu respuesta al usuario\n\n## Optimización\n- Preferí usar `obtener_todos_medicos` sobre múltiples llamadas a especialidades específicas\n- Filtrá los resultados en tu respuesta según la especialidad solicitada\n- Usá los códigos de matrícula para las siguientes operaciones\n\n\n## Notas finales\nEsta es la fecha y hora actual: {{ new Date().toLocaleString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires' }) }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[552,300],"id":"71966001-caf9-4a5a-96da-80810a0386a9","name":"Agente_medicos"},{"parameters":{"toolDescription":"Devuelve los horarios disponibles para un médico en una fecha determinada. Requiere matrícula del médico y la fecha. Usá este endpoint cuando el paciente ya eligió un médico y se debe mostrar disponibilidad.","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/horarios-con-pacientes","sendQuery":true,"parametersQuery":{"values":[{"name":"usuario","valueProvider":"fieldValue","value":"WSTRRED"},{"name":"password","valueProvider":"fieldValue","value":"Y2xpb25lcw"},{"name":"matricula","valueProvider":"fieldValue","value":"={matricula}"},{"name":"fecha","valueProvider":"fieldValue","value":"={fecha}"},{"name":"soloOcupados","valueProvider":"fieldValue","value":"={soloOcupados}"}]},"placeholderDefinitions":{"values":[{"name":"matricula","description":"Matrícula del médico seleccionado","type":"string"},{"name":"fecha","description":"Fecha en formato YYYYMMDD (ej: 20250620)","type":"string"},{"name":"soloOcupados","description":"Mostrar solo horarios ocupados (true/false)","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[360,500],"id":"f7820df3-02fe-40cf-af8b-cc7d44141e1c","name":"HTTP obtener_horarios_medicos"},{"parameters":{"toolDescription":"Devuelve la lista de especialidades médicas disponibles. Usá este endpoint cuando el paciente no haya indicado aún una especialidad o solicite ver las opciones disponibles.","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/lista-especialidades","sendQuery":true,"parametersQuery":{"values":[{"name":"usuario","valueProvider":"fieldValue","value":"WSTRRED"},{"name":"password","valueProvider":"fieldValue","value":"Y2xpb25lcw"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[540,500],"id":"36300a69-7b44-445e-a0fc-e136997c8a45","name":"HTTP obtener especialidades_medicos"},{"parameters":{"content":"## Agente especializado en obtener especialidades, obtener medicos y obtener horarios de los medicos ","height":660,"width":1000,"color":4},"type":"n8n-nodes-base.stickyNote","position":[60,0],"typeVersion":1,"id":"327c004d-e4f8-491e-920b-ffaa37f83758","name":"Sticky Note"},{"parameters":{"toolDescription":"Devuelve los médicos disponibles para una especialidad específica. Requiere el nombre o código de la especialidad. Usá este endpoint cuando el paciente ya eligió una especialidad y necesita ver los médicos disponibles.","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/lista-medicos/especialidad","sendQuery":true,"parametersQuery":{"values":[{"name":"usuario","valueProvider":"fieldValue","value":"WSTRRED"},{"name":"password","valueProvider":"fieldValue","value":"Y2xpb25lcw"},{"name":"especialidad","valueProvider":"fieldValue","value":"={especialidad}"}]},"placeholderDefinitions":{"values":[{"name":"especialidad","description":"Código o nombre de la especialidad médica (ej: CARDIOLOGIA)","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[740,500],"id":"970937cb-7ff5-499c-890b-7f10b43953a5","name":"HTTP obtener_medicos"},{"parameters":{"toolDescription":"Devuelve la lista completa de TODOS los médicos disponibles en el sistema con sus especialidades, matrículas y nombres. Este endpoint es más eficiente que hacer múltiples llamadas por especialidad. Úsalo cuando necesites mostrar médicos disponibles o cuando el paciente solicite una especialidad específica - simplemente filtra los resultados por la especialidad deseada.","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/lista-medicos/all","sendQuery":true,"parametersQuery":{"values":[{"name":"usuario","valueProvider":"fieldValue","value":"WSTRRED"},{"name":"password","valueProvider":"fieldValue","value":"Y2xpb25lcw"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[920,480],"id":"13547bd1-0d88-4ff3-bd53-9cd75e932011","name":"HTTP obtener_todos_medicos"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[940,340],"id":"0b7bbcb6-988a-43fd-932b-fbcbbbd0c9bd","name":"Think"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[200,520],"id":"bfa4f256-33d4-4653-b496-195ba51cedce","name":"LLM - 4.1 - Nano","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Agente_medicos","type":"main","index":0}]]},"HTTP obtener_horarios_medicos":{"ai_tool":[[{"node":"Agente_medicos","type":"ai_tool","index":0}]]},"HTTP obtener especialidades_medicos":{"ai_tool":[[{"node":"Agente_medicos","type":"ai_tool","index":0}]]},"HTTP obtener_medicos":{"ai_tool":[[{"node":"Agente_medicos","type":"ai_tool","index":0}]]},"HTTP obtener_todos_medicos":{"ai_tool":[[{"node":"Agente_medicos","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"Agente_medicos","type":"ai_tool","index":0}]]},"LLM - 4.1 - Nano":{"ai_languageModel":[[{"node":"Agente_medicos","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"texto":"hola quieor turno con fabian barba que horarios tiene","user_id":"5492213994411","session":{"estado_sesion":"{\n  \"step\": \"solicitando_especialidad\",\n  \"paciente_tipo\": \"\",\n  \"datos_recopilados\": ,\n  \"last_update\": \"2025-06-17T02:58:42.415Z\",\n  \"last_message\": \"Estos son los médicos que atienden en la especialidad de cardiología en ICLP:\n\n1. ARREGUI VICTOR\n2. BARBA PABLO FABIAN\n3. BARBIERI MARIA BEATRIZ\n4. BELTRANO CECILIA\n5. BLEIZ JORGE (Cardiología Pediátrica)\n6. CALI LEONEL\n7. CARDENAS MARIA LAURA\n8. CARBIA RICARDO\n9. CERRARI (ECO)\n10. CABELLEIRA MARTIN\n11. GODOY LEANDRO\n12. GOMEZ DANIELA\n13. FONTANA JUAN JOSE\n14. GONZALEZ MARTIN\n15. GARCIA PABLITO\n16. GIL GUSTAVO\n\n¿Querés que te reserve el próximo turno disponible con alguno de estos médicos, o preferís que te muestre los horarios de un profesional en particular? Decime cómo te gustaría avanzar.\"\n}"}}}]},"versionId":"a5d050ae-b04a-4f14-9fce-8d6938d8c69c","triggerCount":0,"shared":[{"createdAt":"2025-06-23T21:26:21.992Z","updatedAt":"2025-06-23T21:26:21.992Z","role":"workflow:owner","workflowId":"i1faFpxLAZHZ3cnK","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}