iclp---subflujo---especialidades-L5B1KXdwFpnG358z.json
{"createdAt":"2025-07-03T16:06:18.731Z","updatedAt":"2025-07-10T12:23:13.644Z","id":"L5B1KXdwFpnG358z","name":"ICLP - Subflujo - Especialidades","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"texto"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,20],"id":"404c4d81-109d-4c16-8106-e3de2c682531","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":" const allInputs = $input.all();\n  let especialidad = null;\n  let indiceMedicos = null;\n\n  // Debug: Ver qué datos llegan\n  console.log('DEBUG - Todos los inputs:',\n  JSON.stringify(allInputs, null, 2));\n\n  for (const input of allInputs) {\n    if (input.json?.especialidad_solicitada) {\n      especialidad = input.json.especialidad_solicitada;\n    }\n\n    // Buscar datos de médicos de Redis\n    if (input.json?.medicos) {\n      indiceMedicos = input.json.medicos;\n      console.log('DEBUG - Médicos encontrados:',\n  indiceMedicos.length);\n    }\n  }\n\n  if (!especialidad || !indiceMedicos) {\n    return [{ json: { error: true, mensaje: `Faltan datos - \n  especialidad: ${especialidad}, médicos: ${indiceMedicos ? \n  'ok' : 'null'}` } }];\n  }\n\n  // Filtrar médicos por especialidad\n  const medicosEspecialidad = indiceMedicos.filter(m =>\n  m.especialidad === especialidad);\n\n  console.log('DEBUG - Médicos de', especialidad, ':',\n  medicosEspecialidad.length);\n\n  return [{\n    json: {\n      especialidad,\n      medicos: medicosEspecialidad\n    }\n  }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,20],"id":"a9dafec4-58b7-4cd5-894f-6dc96698cef8","name":"Code"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.tipo_operacion }}","rightValue":"=busqueda_especialidad","operator":{"type":"string","operation":"equals"},"id":"0642f08c-f928-4e6e-8c49-e2dafc161323"}],"combinator":"and"},"renameOutput":true,"outputKey":"buscar_especialidad"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"dae2fabb-7433-4513-8157-a87c99f5b3a0","leftValue":"={{ $json.tipo_operacion }}","rightValue":"especialidad_no_encontrada","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"sugerir_especialidad"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1100,20],"id":"6840177c-b788-47ea-9ccc-193b75a9062c","name":"Switch"},{"parameters":{"operation":"get","propertyName":"=","key":"medicos:indice_completo","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[440,20],"id":"4a40f4ba-88a3-4bb0-b459-f5433765cb9b","name":"Redis Get - medicos:indice_completo","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"=","key":"especialidades:lista","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[220,20],"id":"6701ec3c-f31b-45b4-9dfc-c89e1c44ce27","name":"Redis Get - especialidades:lista","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"jsCode":"const allInputs = $input.all();\n  let especialidad = null;\n  let indiceMedicos = null;\n\n  // Debug: Ver qué datos llegan\n  console.log('DEBUG - Todos los inputs:', JSON.stringify(allInputs,\n  null, 2));\n\n  for (const input of allInputs) {\n    if (input.json?.especialidad_solicitada) {\n      especialidad = input.json.especialidad_solicitada;\n    }\n\n    // Buscar datos de médicos\n    if (Array.isArray(input.json)) {\n      indiceMedicos = input.json;\n    }\n    if (input.json?.medicos) {\n      indiceMedicos = input.json.medicos;\n    }\n    if (typeof input.json === 'string') {\n      try {\n        const parsed = JSON.parse(input.json);\n        if (Array.isArray(parsed)) indiceMedicos = parsed;\n      } catch (e) {}\n    }\n  }\n\n  // DATOS DE PRUEBA si Redis está vacío\n  if (!indiceMedicos) {\n    console.log('DEBUG - Usando datos de prueba');\n    indiceMedicos = [\n      {\n        \"matricula\": \"15976\",\n        \"nombre\": \"ARREGUI VICTOR\",\n        \"especialidad\": \"CARDIOLOGIA\",\n        \"categoria\": \"A\",\n        \"precios\": {\"consulta_base\": 25000}\n      },\n      {\n        \"matricula\": \"12345\",\n        \"nombre\": \"GONZALEZ MARIA\",\n        \"especialidad\": \"CARDIOLOGIA\",\n        \"categoria\": \"B\",\n        \"precios\": {\"consulta_base\": 20000}\n      }\n    ];\n  }\n\n  if (!especialidad || !indiceMedicos) {\n    return [{ json: { error: true, mensaje: `Faltan datos - \n  especialidad: ${especialidad}, médicos: ${indiceMedicos ? 'ok' : \n  'null'}` } }];\n  }\n\n  const medicosEspecialidad = indiceMedicos.filter(m => m.especialidad\n   === especialidad);\n\n  const categoriaOrder = { 'A': 3, 'B': 2, 'C': 1, '': 0 };\n  const medicosOrdenados = medicosEspecialidad.sort((a, b) =>\n  {\n    const catA = categoriaOrder[a.categoria] || 0;\n    const catB = categoriaOrder[b.categoria] || 0;\n    if (catA !== catB) return catB - catA;\n    const precioA = a.precios?.consulta_base ||\n  a.precios?.particular || 999999;\n    const precioB = b.precios?.consulta_base ||\n  b.precios?.particular || 999999;\n    return precioA - precioB;\n  });\n\n  return [{\n    json: {\n      especialidad,\n      mejores_medicos: medicosOrdenados.slice(0, 15)\n    }\n  }];\n\n  // POR ESTO:\n  return [{\n    json: {\n      especialidad,\n      medicos: medicosEspecialidad \n    }\n  }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,-80],"id":"213267a2-2a55-4237-ba90-60a9c9b3ef6d","name":"Buscar_Mejores_Medicos_Especialidad"},{"parameters":{"jsCode":"const data = $json;\nconst medicos = data.medicos_con_horarios || [];\nconst especialidad = data.especialidad || '';\nlet mensaje = '';\n\nif (medicos.length === 0 || medicos.every(m => m.horarios_disponibles.length === 0)) {\n  mensaje = `❌ No hay horarios disponibles para ${especialidad}. ¿Quieres que busque otra especialidad o fecha?`;\n} else {\n  mensaje = `✅ Encontré ${medicos.filter(m => m.horarios_disponibles.length > 0).length} ${especialidad.toLowerCase()}s con horarios disponibles:\\n\\n`;\n  medicos.forEach((medico, idx) => {\n    if (medico.horarios_disponibles.length > 0) {\n      mensaje += `👨‍⚕️ *${idx + 1}. ${medico.nombre}* (Cat. ${medico.categoria})\\n`;\n      mensaje += `💲 $${medico.precios?.consulta_base || medico.precios?.particular || 'N/A'}\\n`;\n      mensaje += `🕑 Horarios: ${medico.horarios_disponibles.slice(0, 5).join(', ')}\\n\\n`;\n    }\n  });\n  mensaje += `¿Con cuál médico te gustaría agendar?`;\n}\n\nreturn [{ json: { mensaje_final: mensaje, especialidad, medicos } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,-80],"id":"7dd9c13e-a2c9-4ef8-a1c4-dddc502c11b1","name":"Code1"},{"parameters":{"assignments":{"assignments":[{"id":"3cd06e7f-fc39-4ac6-b0bc-33c17b480d83","name":"mensaje_final","value":"={{ $json.mensaje_final }}","type":"string"},{"id":"96038d7c-19fd-4de0-a6fd-6a2ab540d90f","name":"especialidad","value":"={{ $json.especialidad }}","type":"string"},{"id":"d4c14307-baf4-4b9a-9594-386ca01d866f","name":"medicos","value":"={{ $json.medicos }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1980,-80],"id":"b002ed0c-1dff-4e45-bcf1-c49a73b5d79f","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"41059b73-f713-4a3b-a881-00181d774f89","name":"texto","value":"={{ $json[''] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,20],"id":"62460f50-a6e0-46fa-8860-fdd1aa9cb1df","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"b3438ec9-2c9d-4a1b-81dc-bea2c8911ebd","name":"mensaje_usuario","value":"\"No encontré la especialidad. ¿Podés escribirla de otra forma?\"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1320,120],"id":"cfd71906-d348-44a9-87dd-6d3ca97dacdf","name":"sugerir_especialidad"},{"parameters":{"fieldToSplitOut":"mejores_medicos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1540,-80],"id":"72e9eb5a-c2cd-418a-8bb4-2ea924aa5e82","name":"Split Out"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Redis Get - especialidades:lista","type":"main","index":0}]]},"Code":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Buscar_Mejores_Medicos_Especialidad","type":"main","index":0}],[{"node":"sugerir_especialidad","type":"main","index":0}]]},"Redis Get - medicos:indice_completo":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Redis Get - especialidades:lista":{"main":[[{"node":"Redis Get - medicos:indice_completo","type":"main","index":0}]]},"Buscar_Mejores_Medicos_Especialidad":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Code1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"texto":"cardiología"}}]},"versionId":"acee1bc7-7714-4336-a557-a88fa96134e4","triggerCount":0,"shared":[{"createdAt":"2025-07-03T16:06:18.731Z","updatedAt":"2025-07-03T16:06:18.731Z","role":"workflow:owner","workflowId":"L5B1KXdwFpnG358z","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}