jira---tickets-jbBxoPdQAv7rrrDJ.json
{"createdAt":"2025-07-10T13:05:28.784Z","updatedAt":"2025-08-19T00:47:55.339Z","id":"jbBxoPdQAv7rrrDJ","name":"Jira - Tickets","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"crear-ticket","options":{"responseData":"={   \"text\": \"✅ Ticket registrado en Google Sheets. ¡Gracias!\" }"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-240,0],"id":"a356fcd5-fb6c-4105-a129-498b79a6c834","name":"Mensaje desde Teams","webhookId":"7dbdef2b-88c2-499c-9ce8-aac4f310199d"},{"parameters":{"options":{"systemMessage":"=🔎 CONTEXTO DE USUARIO\nFecha y hora: {{ $now.setLocale('es').toFormat(\"cccc, dd/MM/yyyy TT\") }}\n\n1. ROL\nSos el Agente de Soporte Inteligente de Prosegur.\nTu misión es asistir al equipo interno en la gestión de errores, reportes y análisis de calidad del software, utilizando el historial de tickets técnicos cargados en el sistema.\n\n2. OBJETIVO PRINCIPAL\nAyudar a los equipos de producto, soporte y desarrollo a:\n\nConsultar el estado o contenido de un bug/ticket previamente cargado.\n\nDetectar áreas del sistema con más errores o recurrencia.\n\nIdentificar funcionalidades con más problemas o retrabajos.\n\nObtener métricas sobre frecuencia, prioridad o responsables de los bugs.\n\nVisualizar mejoras o sugerencias abiertas reportadas por los usuarios.\n\n3. TECNOLOGÍA DISPONIBLE\n3.1. Base Vectorial: prosegur_bugs\nContiene tickets extraídos de mensajes en Teams y almacenados desde n8n.\nCada registro incluye:\n\nFecha de creación\n\nTítulo del bug\n\nDescripción\n\nPrioridad\n\nRemitente\n\nOrigen del mensaje\n\n3.2. Google Sheets (Soporte de Tickets)\nPermite registrar, visualizar y actualizar el estado de los tickets.\n\n4. FUNCIONALIDADES Y FLUJOS\nTipos de consultas que podés resolver:\nPregunta del Usuario\tAcción esperada del Agente\n“¿Qué bugs se reportaron esta semana?”\tBuscar por fecha y devolver lista de títulos/descripciones\n“¿Dónde hay más errores últimamente?”\tAgrupar y contar por palabra clave o funcionalidad\n“¿Qué prioridad tienen los últimos tickets?”\tMostrar prioridades recientes\n“¿Quién reportó más errores en junio?”\tAgrupar por remitente\n“¿Ya se reportó este bug?” + descripción del bug\tBuscar en base vectorial si hay coincidencias\n\n5. COMUNICACIÓN\nTono: Profesional, directo y analítico.\n\nFormato: Claro y conciso; usar listas o tablas si hay varios resultados.\n\nSi no encontrás información suficiente, indicá que no hay registros relacionados.\n\nEjemplos de respuestas:\n“Estos son los tickets de prioridad ALTA esta semana:…”\n\n“Se registraron 4 bugs relacionados con ‘SIG2’. El más reciente fue…”\n\n“No encontré un ticket similar al que describiste. Podés crearlo desde Teams con ‘CrearTicket’.”\n\n6. POLÍTICAS Y REGLAS\nNUNCA:\nInvente información o especule respuestas.\n\nResponda sin buscar antes en la base vectorial.\n\nSuponga funcionalidades o fuentes si no están en los datos.\n\nSIEMPRE:\nPriorice la búsqueda por relevancia y similitud semántica.\n\nSi hay múltiples resultados, mostrar los más recientes.\n\nAclare que la fuente de los datos son tickets registrados vía Teams/n8n.\n\n7. IDENTIDAD EMPRESARIAL\nEmpresa: Prosegur\n\nDepartamento: Soporte interno\n\nUsuarios: Staff técnico y administrativo de Prosegur\n\nFlujos habilitados: Recepción vía Teams, carga automática en Google Sheets, vectorización para búsqueda semántica con IA.\n\n8. Si te preguntan de que equipo de futbol sos hincha:\nSos de Independiente y tu jugador favorito es Enrique Bochini\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-20,1040],"id":"9dc8ea0b-20e8-4882-933f-2034e629e7df","name":"AI Agent"},{"parameters":{"public":true,"initialMessages":"Mi nombre es Pepe. \n¿Como te puedo ayudar hoy?","options":{"subtitle":"Hola soy Ticketbot! 👋","title":"Soporte Interno - Prosegur","customCss":":root {\n  /* Colors */\n  --chat--color-primary: #e74266;\n  --chat--color-primary-shade-50: #db4061;\n  --chat--color-primary-shade-100: #cf3c5c;\n  --chat--color-secondary: #20b69e;\n  --chat--color-secondary-shade-50: #1ca08a;\n  --chat--color-white: #ffffff;\n  --chat--color-light: #f2f4f8;\n  --chat--color-light-shade-50: #e6e9f1;\n  --chat--color-light-shade-100: #c2c5cc;\n  --chat--color-medium: #d2d4d9;\n  --chat--color-dark: #101330;\n  --chat--color-disabled: #777980;\n  --chat--color-typing: #404040;\n\n  /* Base Layout */\n  --chat--spacing: 1rem;\n  --chat--border-radius: 0.25rem;\n  --chat--transition-duration: 0.15s;\n  --chat--font-family: (\n    -apple-system,\n    BlinkMacSystemFont,\n    'Segoe UI',\n    Roboto,\n    Oxygen-Sans,\n    Ubuntu,\n    Cantarell,\n    'Helvetica Neue',\n    sans-serif\n  );\n\n  /* Window Dimensions */\n  --chat--window--width: 400px;\n  --chat--window--height: 600px;\n  --chat--window--bottom: var(--chat--spacing);\n  --chat--window--right: var(--chat--spacing);\n  --chat--window--z-index: 9999;\n  --chat--window--border: 1px solid var(--chat--color-light-shade-50);\n  --chat--window--border-radius: var(--chat--border-radius);\n  --chat--window--margin-bottom: var(--chat--spacing);\n\n  /* Header Styles */\n  --chat--header-height: auto;\n  --chat--header--padding: var(--chat--spacing);\n  --chat--header--background: var(--chat--color-dark);\n  --chat--header--color: var(--chat--color-light);\n  --chat--header--border-top: none;\n  --chat--header--border-bottom: none;\n  --chat--header--border-left: none;\n  --chat--header--border-right: none;\n  --chat--heading--font-size: 2em;\n  --chat--subtitle--font-size: inherit;\n  --chat--subtitle--line-height: 1.8;\n\n  /* Message Styles */\n  --chat--message--font-size: 1rem;\n  --chat--message--padding: var(--chat--spacing);\n  --chat--message--border-radius: var(--chat--border-radius);\n  --chat--message-line-height: 1.5;\n  --chat--message--margin-bottom: calc(var(--chat--spacing) * 1);\n  --chat--message--bot--background: var(--chat--color-white);\n  --chat--message--bot--color: var(--chat--color-dark);\n  --chat--message--bot--border: none;\n  --chat--message--user--background: var(--chat--color-secondary);\n  --chat--message--user--color: var(--chat--color-white);\n  --chat--message--user--border: none;\n  --chat--message--pre--background: rgba(0, 0, 0, 0.05);\n  --chat--messages-list--padding: var(--chat--spacing);\n\n  /* Toggle Button */\n  --chat--toggle--size: 64px;\n  --chat--toggle--width: var(--chat--toggle--size);\n  --chat--toggle--height: var(--chat--toggle--size);\n  --chat--toggle--border-radius: 50%;\n  --chat--toggle--background: var(--chat--color-primary);\n  --chat--toggle--hover--background: var(--chat--color-primary-shade-50);\n  --chat--toggle--active--background: var(--chat--color-primary-shade-100);\n  --chat--toggle--color: var(--chat--color-white);\n\n  /* Input Area */\n  --chat--textarea--height: 50px;\n  --chat--textarea--max-height: 30rem;\n  --chat--input--font-size: inherit;\n  --chat--input--border: 0;\n  --chat--input--border-radius: 0;\n  --chat--input--padding: 0.8rem;\n  --chat--input--background: var(--chat--color-white);\n  --chat--input--text-color: initial;\n  --chat--input--line-height: 1.5;\n  --chat--input--placeholder--font-size: var(--chat--input--font-size);\n  --chat--input--border-active: 0;\n  --chat--input--left--panel--width: 2rem;\n\n  /* Button Styles */\n  --chat--button--color: var(--chat--color-light);\n  --chat--button--background: var(--chat--color-primary);\n  --chat--button--padding: calc(var(--chat--spacing) * 1 / 2) var(--chat--spacing);\n  --chat--button--border-radius: var(--chat--border-radius);\n  --chat--button--hover--color: var(--chat--color-light);\n  --chat--button--hover--background: var(--chat--color-primary-shade-50);\n  --chat--close--button--color-hover: var(--chat--color-primary);\n\n  /* Send and File Buttons */\n  --chat--input--send--button--background: var(--chat--color-white);\n  --chat--input--send--button--color: var(--chat--color-light);\n  --chat--input--send--button--background-hover: var(--chat--color-primary-shade-50);\n  --chat--input--send--button--color-hover: var(--chat--color-secondary-shade-50);\n  --chat--input--file--button--background: var(--chat--color-white);\n  --chat--input--file--button--color: var(--chat--color-secondary);\n  --chat--input--file--button--background-hover: var(--chat--input--file--button--background);\n  --chat--input--file--button--color-hover: var(--chat--color-secondary-shade-50);\n  --chat--files-spacing: 0.25rem;\n\n  /* Body and Footer */\n  --chat--body--background: var(--chat--color-light);\n  --chat--footer--background: var(--chat--color-light);\n  --chat--footer--color: var(--chat--color-dark);\n}\n\n\n/* You can override any class styles, too. Right-click inspect in Chat UI to find class to override. */\n.chat-message {\n\tmax-width: 50%;\n}"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-360,1060],"id":"38ca77e3-58bd-4c30-975d-30d690ff5c0c","name":"When chat message received","webhookId":"aac2e70b-c5c0-4cdf-bb99-899fba221935"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-80,1380],"id":"33f08643-fba3-4c75-b07c-aa8db22fa686","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}},{"parameters":{"contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[80,1380],"id":"19fd0823-8c01-4bce-8adc-378d0b2f3a40","name":"Simple Memory"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1000,240],"id":"52bc40c1-3b8d-42d4-b21e-fa181de07de1","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[300,1400],"id":"5aff9779-0b37-4ba7-b068-3536984bca09","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}},{"parameters":{"jsCode":"const decode = (str) => str.replace(/&quot;/g, '\"')\n                           .replace(/&amp;/g, '&')\n                           .replace(/&lt;/g, '<')\n                           .replace(/&gt;/g, '>')\n                           .replace(/&nbsp;/g, ' ')\n                           .replace(/&#39;/g, \"'\");\n\nconst results = items.map(item => {\n  const raw = item.json.body?.text || item.json.attachments?.[0]?.content || '';\n\n  const clean = decode(\n    raw\n      .replace(/<[^>]+>/g, '')            // Quita HTML\n      .replace(/\\s*\\n\\s*/g, ' ')          // Unifica líneas\n      .replace(/\\s+/g, ' ')               // Elimina dobles espacios\n      .replace(/^(CrearTicket\\s*)/i, '')  // Quita mención al bot\n      .trim()\n  );\n\n  const tituloMatch = clean.match(/titulo\\s*:\\s*(.+?)(?=\\s*descripcion\\s*:)/i);\n  const descripcionMatch = clean.match(/descripcion\\s*:\\s*(.+?)(?=\\s*prioridad\\s*:)/i);\n  const prioridadMatch = clean.match(/prioridad\\s*:\\s*(.+)$/i);\n\n  const titulo = tituloMatch ? tituloMatch[1].trim().replace(/^\"|\"$/g, '') : 'Sin título';\n  const descripcion = descripcionMatch ? descripcionMatch[1].trim() : clean;\n  const prioridad = prioridadMatch ? prioridadMatch[1].trim().toUpperCase() : 'NO DEFINIDA';\n  const fecha = item.json.body?.timestamp || new Date().toISOString();\n  const remitente = item.json.body?.from?.name || 'desconocido';\n\n  return {\n    json: {\n      fecha,\n      titulo,\n      descripcion,\n      prioridad,\n      remitente,\n      origen: clean,\n    }\n  };\n});\n\nreturn results;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[100,0],"id":"afbf2b10-06ee-4c5e-bbbe-5822012b916f","name":"Formatea la respuesta"},{"parameters":{"assignments":{"assignments":[{"id":"851c18c7-7ba7-404d-b48c-d1c46abd1d28","name":"titulo","value":"={{ $json.titulo }}","type":"string"},{"id":"68bd7106-8f20-497d-b240-17280c224dad","name":"descripcion","value":"={{ $json.descripcion }}","type":"string"},{"id":"d71b7982-245a-4b1e-8794-70b2e7b31869","name":"prioridad","value":"={{ $json.prioridad }}","type":"string"},{"id":"77a4710f-fea1-489b-9019-36e5b4b22250","name":"remitente","value":"={{ $json.remitente }}","type":"string"},{"id":"90f1e0f4-f7e0-4d56-b643-76bf8a5b051d","name":"fecha","value":"={{ $json.fecha }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,0],"id":"87c2fa5c-2c83-4202-99ad-24c24bf3556e","name":"Formatea los campos"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1li7PXDZBlkmIRdYlqmEKxhPwJfRjCKJRrOzltlSayNo","mode":"list","cachedResultName":"Incidencias/Mejoras: SIG2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1li7PXDZBlkmIRdYlqmEKxhPwJfRjCKJRrOzltlSayNo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Bugs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1li7PXDZBlkmIRdYlqmEKxhPwJfRjCKJRrOzltlSayNo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $json.fecha }}","Titulo":"={{ $json.titulo }}","Descripcion":"={{ $json.descripcion }}","Prioridad":"={{ $json.prioridad }}","Remitente":"={{ $json.remitente }}"},"matchingColumns":["Fecha"],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Titulo","displayName":"Titulo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Descripcion","displayName":"Descripcion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Prioridad","displayName":"Prioridad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Remitente","displayName":"Remitente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[640,0],"id":"8a399fda-5d15-4630-a5d3-9ad60910240b","name":"Añade/Actualiza una fila","credentials":{"googleSheetsOAuth2Api":{"id":"VWqufq8KarePOAFl","name":"Google Sheets account"}}},{"parameters":{"mode":"insert","tableName":"prosegur_bugs","embeddingBatchSize":50,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[1120,0],"id":"8f4142b8-71f9-4e09-b00b-7821419449f8","name":"Guardado en Base Vectorial","credentials":{"postgres":{"id":"nsOiHzh3N4NwMXr4","name":"Postgres account - ICLP"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"=Fecha: {{ $json.Fecha }} - Titulo: {{ $json.Titulo }} - Descripcion: {{ $json.Descripcion }} -  Prioridad: {{ $json.Prioridad }} - Remitente: {{ $json.Remitente }}","textSplittingMode":"custom","options":{"metadata":{"metadataValues":[{"name":"fecha","value":"={{ $json.Fecha }}"},{"name":"titulo","value":"={{ $json.Titulo }}"},{"name":"Descripcion","value":"={{ $json.Descripcion }}"},{"name":"Prioridad","value":"={{ $json.Prioridad }}"},{"name":"Remitente","value":"={{ $json.Remitente }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[1160,180],"id":"3ff8dc2c-17f6-41ed-96ca-ebc0db626d6b","name":"Carga la documentacion"},{"parameters":{"chunkSize":800,"options":{"splitCode":"markdown"}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1160,340],"id":"b06117f8-865c-41e2-a750-d954e1f26587","name":"Chunkea la documentacion"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Busca en la base vectorial documentacion respecto a los incidentes o bugs que se obtuvieron. \n\npueden contener: \n\nTitulo, Fecha, Descripcion, Remitente y Prioridad","tableName":"prosegur_bugs","topK":15,"options":{"distanceStrategy":"cosine"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[280,1180],"id":"9c67a07f-1f56-423e-aaf1-e02b9d27a467","name":"Obtiene informacion de la DB","credentials":{"postgres":{"id":"nsOiHzh3N4NwMXr4","name":"Postgres account - ICLP"}}},{"parameters":{"content":"## TicketBot - Soporte interno ","height":640,"width":940},"type":"n8n-nodes-base.stickyNote","position":[-380,980],"typeVersion":1,"id":"2e051174-b925-4229-8383-9dc555959dd4","name":"Sticky Note"},{"parameters":{"content":"## Receptor de tickets \n","height":740,"width":1960},"type":"n8n-nodes-base.stickyNote","position":[-360,-180],"typeVersion":1,"id":"4355f057-35a0-4b78-b0a5-114370aa1abb","name":"Sticky Note1"},{"parameters":{"content":"## Estructura la respuesta de una manera mas legible","height":320,"width":440,"color":3},"type":"n8n-nodes-base.stickyNote","position":[40,-100],"typeVersion":1,"id":"497a4843-db0e-49c5-939a-7f662c09a1d0","name":"Sticky Note2"},{"parameters":{"content":"## Guarda la informacion en una base Vectorial\nGuarda los datos en vectores y los splittea, eso significa que va guardando de a \"pedacitos\" para luego hacer una busqueda mucho más rapida","height":640,"width":700,"color":5},"type":"n8n-nodes-base.stickyNote","position":[860,-120],"typeVersion":1,"id":"37f10466-17f3-4b32-a96d-a7da7971aa30","name":"Sticky Note3"}],"connections":{"Mensaje desde Teams":{"main":[[{"node":"Formatea la respuesta","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Guardado en Base Vectorial","type":"ai_embedding","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Obtiene informacion de la DB","type":"ai_embedding","index":0}]]},"Formatea la respuesta":{"main":[[{"node":"Formatea los campos","type":"main","index":0}]]},"Formatea los campos":{"main":[[{"node":"Añade/Actualiza una fila","type":"main","index":0}]]},"Añade/Actualiza una fila":{"main":[[{"node":"Guardado en Base Vectorial","type":"main","index":0}]]},"Carga la documentacion":{"ai_document":[[{"node":"Guardado en Base Vectorial","type":"ai_document","index":0}]]},"Chunkea la documentacion":{"ai_textSplitter":[[{"node":"Carga la documentacion","type":"ai_textSplitter","index":0}]]},"Obtiene informacion de la DB":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Mensaje desde Teams":[{"json":{"headers":{"host":"hooks.autoclinicas.com","content-length":"2553","accept":"application/json","authorization":"HMAC Tid/gd3ayc6AldXUe7uX/jxnPFgv+peB3NXbfKRJWj0=","content-type":"application/json; charset=utf-8","referer":"https://teams.microsoft.com/","request-id":"|76456ea2108e68dc48a54ccb3e2bb3cc.73466279273b7406.","traceparent":"00-76456ea2108e68dc48a54ccb3e2bb3cc-73466279273b7406-00","x-forwarded-for":"52.123.159.28","x-forwarded-host":"hooks.autoclinicas.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"0efcae3bc99e","x-real-ip":"52.123.159.28","accept-encoding":"gzip"},"params":{},"query":{},"body":{"type":"message","id":"1753277295177","timestamp":"2025-07-23T13:28:15.1979475+00:00","localTimestamp":"2025-07-23T10:28:15.1979475-03:00","localTimezone":"America/Buenos_Aires","serviceUrl":"https://smba.trafficmanager.net/emea/68485601-fbbc-47c6-b156-3e1a7e0a4434/","channelId":"msteams","from":{"id":"29:1zr81cCO2y8Dv6eqUJX4RJhj7e7oTYLfj1bxw91QCI4gTMxehr1dnFMh-9skYj13kXrh-g3afIJxVH1odx90D0g","name":"Nicolas Matias Lopez","aadObjectId":"0f68c69d-2bcc-4115-8415-27739d2bd814","role":null},"conversation":{"isGroup":true,"conversationType":"channel","id":"19:MZH_UsYjlxtLj1Y33sR8W74ZQMC_jvo34bQlTnynHbc1@thread.tacv2;messageid=1753277295177","name":null,"aadObjectId":null,"role":null,"tenantId":"68485601-fbbc-47c6-b156-3e1a7e0a4434"},"recipient":null,"textFormat":"plain","attachmentLayout":null,"membersAdded":null,"membersRemoved":null,"reactionsAdded":null,"reactionsRemoved":null,"topicName":null,"historyDisclosed":null,"locale":"es-ES","text":"<p><at>CrearTicket</at></p>\r\n<p><at>Titulo: &quot;Que los logs de error en Edicion de remitos este en español&quot;&nbsp;</at></p>\r\n<p><at>Descripcion: &nbsp;Actualmente estan en spanglish</at></p>\r\n<p><at>Prioridad: Media</at></p>","speak":null,"inputHint":null,"summary":null,"suggestedActions":null,"attachments":[{"contentType":"text/html","contentUrl":null,"content":"<p><span itemtype=\"http://schema.skype.com/Mention\" itemscope=\"\" itemid=\"0\">CrearTicket</span></p>\r\n<p><span style=\"font-size:inherit\">Titulo: &quot;Que los logs de error en Edicion de remitos este en español&quot;&nbsp;</span></p>\r\n<p><span style=\"font-size:inherit\">Descripcion: &nbsp;Actualmente estan en spanglish</span></p>\r\n<p><span style=\"font-size:inherit\">Prioridad: Media</span></p>","name":null,"thumbnailUrl":null}],"entities":[{"type":"clientInfo","locale":"es-ES","country":"ES","platform":"Web","timezone":"America/Buenos_Aires"}],"channelData":{"teamsChannelId":"19:MZH_UsYjlxtLj1Y33sR8W74ZQMC_jvo34bQlTnynHbc1@thread.tacv2","teamsTeamId":"19:MZH_UsYjlxtLj1Y33sR8W74ZQMC_jvo34bQlTnynHbc1@thread.tacv2","channel":{"id":"19:MZH_UsYjlxtLj1Y33sR8W74ZQMC_jvo34bQlTnynHbc1@thread.tacv2"},"team":{"id":"19:MZH_UsYjlxtLj1Y33sR8W74ZQMC_jvo34bQlTnynHbc1@thread.tacv2"},"tenant":{"id":"68485601-fbbc-47c6-b156-3e1a7e0a4434"}},"action":null,"replyToId":null,"label":null,"valueType":null,"value":null,"name":null,"relatesTo":null,"code":null,"expiration":null,"importance":null,"deliveryMode":null,"listenFor":null,"textHighlights":null,"semanticAction":null,"callerId":"urn:botframework:azure"},"webhookUrl":"https://hooks.autoclinicas.com/webhook/crear-ticket","executionMode":"production"}}]},"versionId":"c47ba81d-4e75-4345-89d9-639b27b43758","triggerCount":2,"shared":[{"createdAt":"2025-07-10T13:05:28.784Z","updatedAt":"2025-07-10T13:05:28.784Z","role":"workflow:owner","workflowId":"jbBxoPdQAv7rrrDJ","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}