listar_turnos_paciente-PYrNMn6sc4oOufR0.json
{"createdAt":"2025-08-08T05:10:22.846Z","updatedAt":"2025-09-07T14:34:24.586Z","id":"PYrNMn6sc4oOufR0","name":"listar_turnos_paciente","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"dni","type":"any"}]}},"id":"65ab9ba3-64f8-4751-84cc-415beb60c7bf","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[1900,840]},{"parameters":{"jsCode":"// El HTTP anterior puso la respuesta en $json.data (string)\nconst raw = $json.data;\n\n// 1) Si no vino nada\nif (!raw || typeof raw !== 'string') {\n  return [{\n    json: {\n      directOutput: true,\n      text: \"No pude leer la respuesta del sistema. Probemos de nuevo en un momento.\",\n      options: []\n    }\n  }];\n}\n\n// 2) Detectar HTML/500 de Tomcat\nconst lower = raw.toLowerCase();\nconst looksHtml =\n  lower.includes('<!doctype html') ||\n  lower.includes('estado http 500') ||\n  lower.includes('servletexception') ||\n  lower.includes('setobrasocial');\n\nif (looksHtml) {\n  return [{\n    json: {\n      directOutput: true,\n      text:\n        \"Ahora no puedo listar tus turnos porque el sistema del proveedor devolvió un error interno. \" +\n        \"Si querés, igual te ayudo: decime la fecha y hora del turno que querés mover y la nueva fecha/hora.\",\n      options: []\n    }\n  }];\n}\n\n// 3) Intentar parsear JSON\nlet payload;\ntry {\n  payload = JSON.parse(raw);\n} catch (e) {\n  return [{\n    json: {\n      directOutput: true,\n      text:\n        \"No pude interpretar la respuesta al listar turnos. \" +\n        \"Podemos reprogramar manualmente si me decís fecha/hora actual y la nueva.\",\n      options: []\n    }\n  }];\n}\n\n// 4) Extraer lista tolerante\nlet data = [];\nif (payload && Array.isArray(payload.lista)) data = payload.lista;\nelse if (Array.isArray(payload)) data = payload;\nelse if (payload && Array.isArray(payload.data)) data = payload.data;\n\n// 5) Sin datos\nif (!Array.isArray(data) || data.length === 0) {\n  return [{\n    json: {\n      directOutput: true,\n      text: \"No encontré turnos activos para ese DNI/fecha.\",\n      options: []\n    }\n  }];\n}\n\n// 6) Armar lista numerada (máx 5)\nconst top = data.slice(0, 5);\nconst lineas = top.map((t, i) => {\n  const idx = i + 1;\n  const f = t.fechaString || t.fecha || \"Fecha s/d\";\n  const h = t.hora5digitos || t.hora || \"Hora s/d\";\n  const med = t.nombreMedico || \"Sin nombre\";\n  const est = t.estudios ? ` – ${t.estudios}` : \"\";\n  return `${idx}. ${f} ${h} – ${med}${est}`;\n});\n\n// 7) Salida para el agente\nreturn [{\n  json: {\n    directOutput: true,\n    text:\n      \"Elegí una opción respondiendo con un número:\\n\\n\" +\n      lineas.join(\"\\n\") +\n      \"\\n\\nDecime solo el número (1–5).\",\n    options: top.map((t, i) => ({\n      n: i + 1,\n      fecha: t.fecha ?? null,\n      fechaString: t.fechaString ?? null,\n      hora: t.hora ?? null,\n      hora5: t.hora5digitos ?? null,\n      matricula: t.matricula ?? null,\n      nombreMedico: t.nombreMedico ?? null,\n      estudios: t.estudios ?? null\n    }))\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2340,840],"id":"a545c95f-78c0-4a6d-afdc-d80ebc083e69","name":"Code"},{"parameters":{"url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/lista-turnos-actuales","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"},{"name":"dni","value":"={{ $json.dni }}"},{"name":"fecha","value":"={{ $now.setZone('America/Argentina/Buenos_Aires').toFormat('yyyyLLdd') }}"}]},"options":{"response":{"response":{"neverError":true,"responseFormat":"text"}},"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2120,840],"id":"add24ead-d294-4c5c-ab2f-c32b1b972bd3","name":"Lista_turnos"}],"connections":{"Start":{"main":[[{"node":"Lista_turnos","type":"main","index":0}]]},"Lista_turnos":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Start":[{"json":{"dni":42028075}}]},"versionId":"ac37514d-67a9-4641-bbc1-2f08848cb12f","triggerCount":0,"shared":[{"createdAt":"2025-08-08T05:10:22.846Z","updatedAt":"2025-08-08T05:10:22.846Z","role":"workflow:owner","workflowId":"PYrNMn6sc4oOufR0","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}