master---refactorizacion-8VrPRe6QIA2YUcff.json
{"createdAt":"2025-10-20T00:59:07.395Z","updatedAt":"2025-10-23T12:44:47.727Z","id":"8VrPRe6QIA2YUcff","name":"MASTER - REFACTORIZACION","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"agentes/v1/iclp","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2448,-128],"id":"7f0460ee-e93b-4dc6-9404-a9d09c0de3f3","name":"Entrada","webhookId":"c750562d-ea1f-43c4-abd9-173117a9f97f"},{"parameters":{"assignments":{"assignments":[{"id":"account-id","name":"accountId","value":"={{ $json.body.messages[0].account_id }}","type":"number"},{"id":"message","name":"message","value":"={{ $json.body.messages[0].content }}","type":"string"},{"id":"inbox-id","name":"inboxId","value":"={{ $json.body.contact_inbox.inbox_id }}","type":"number"},{"id":"contact-id","name":"contactId","value":"={{ $json.body.messages[0].sender.id }}","type":"number"},{"id":"contact-name","name":"contactName","value":"={{ $json.body.messages[0].sender.name }}","type":"string"},{"id":"contact-number","name":"contactNumber","value":"={{ $json.body.messages[0].sender.phone_number }}","type":"string"},{"id":"conversation-id","name":"conversationId","value":"={{ $json.body.id }}","type":"number"},{"id":"multimedia","name":"multimedia","value":"={{ $json?.body?.messages?.[0]?.attachments?.[0]?.file_type ? true : false }}","type":"boolean"},{"id":"humano","name":"humano","value":"={{ $json.body.custom_attributes.humano }}","type":"boolean"},{"id":"chatwoot-url","name":"chatwootUrl","value":"https://chatw.automatizaciones.ai","type":"string"},{"id":"token-bot","name":"agenteBotTokenWhatsapp","value":"JFi43nzvEPDBCaxaFrkhVvdM","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2224,-128],"id":"d4a7787e-5c4b-46c8-9faa-79dafb0ae86f","name":"Variables"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.multimedia }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"multimedia-check"}],"combinator":"and"},"renameOutput":true,"outputKey":"tieneMultimedia"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"humano-check","leftValue":"={{ $json.humano }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"tieneHumano"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"texto-check","leftValue":"={{ $json.message }}","rightValue":"Texto","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"tieneTexto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1696,-32],"id":"321e5885-d8cb-4ff0-a3d9-fd63b6dde797","name":"Filtro Tipo Mensaje"},{"parameters":{"operation":"get","propertyName":"status","key":"=status:{{ $('Filtro Tipo Mensaje').item.json.contactNumber }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-832,112],"id":"32883aee-1849-4832-8e4b-4223db655d0d","name":"🔍 Get Estado Actual","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Variables').first().json.contactNumber }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"header\": {\n      \"type\": \"image\",\n      \"image\": {\n        \"link\": \"https://i.imgur.com/cSVuheF.png\"\n      }\n    },\n    \"body\": {\n      \"text\": \"👋 ¡HOLA! BIENVENIDO AL ICLP\\n\\n🤖 BOT: DISPONIBLE 24/7\\n\\n📞 ATENCIÓN TELEFÓNICA Y ADMINISTRATIVA:\\nLUNES A VIERNES 8-20HS | SÁBADO 8-13HS\\n\\nSELECCIONÁ UNA OPCIÓN:\\n\\n📅 TURNOS (BOT)\\n- AGENDAR, CONSULTAR O CANCELAR\\n\\nℹ️ INFO GENERAL (BOT)\\n- HORARIOS, UBICACIÓN Y MÁS\\n\\n🏢 ADMINISTRACIÓN (PERSONAL ADMINISTRATIVO)\\n* CONSULTAS Y RECLAMOS\\n* RESPUESTA EN HORARIO DE ATENCIÓN\"\n    },\n    \"footer\": {\n      \"text\": \"SELECCIONÁ UNA OPCIÓN 👇\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"turnos\",\n            \"title\": \"📅 TURNOS\"\n          }\n        },\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"info-general\",\n            \"title\": \"ℹ️ INFO GENERAL\"\n          }\n        },\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"administracion\",\n            \"title\": \"🏢 ADMINISTRACION\"\n          }\n        }\n      ]\n    }\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,-1184],"id":"cc44b8d2-ce48-40ad-8375-01900720ae58","name":"📱 Mensaje Menu Principal","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"operation":"set","key":"=status:{{ $('Variables').first().json.contactNumber }}","value":"={{ $('msg_clasificador').item.json.nuevoEstado }}","expire":true,"ttl":600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2192,-1184],"id":"5ed22b10-8fa2-4a37-b1d3-582ba390b7a9","name":"💾 Set Estado MENU","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"jsCode":"// Router para gestión de turnos\nconst categoria = $('msg_clasificador').first().json.categoria;\nconst contactNumber = $('Variables').first().json.contactNumber;\n\n// Mapeo de acciones\nconst accion = {\n  categoria: categoria,\n  contactNumber: contactNumber,\n  // Determinar qué hacer\n  accion: null\n};\n\nswitch(categoria) {\n  case 'NUEVO_PACIENTE':\n    accion.accion = 'MOSTRAR_FORM_NUEVO_PACIENTE';\n    break;\n  case 'PACIENTE_REGISTRADO':\n    accion.accion = 'SOLICITAR_DNI';\n    break;\n  case 'INICIAR_TOMAR_TURNO':\n    accion.accion = 'MENU_TOMAR_TURNO';\n    break;\n  case 'INICIAR_CANCELAR_TURNO':\n    accion.accion = 'LISTAR_TURNOS_CANCELAR';\n    break;\n  case 'LISTAR_MIS_TURNOS':\n    accion.accion = 'MOSTRAR_MIS_TURNOS';\n    break;\n  default:\n    accion.accion = 'DESCONOCIDO';\n}\n\nreturn [{ json: accion }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2736,112],"id":"1c6aa878-2021-404c-89ee-873ead06ebd6","name":"🎫 Router Gestión Turnos"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Variables').first().json.contactNumber }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"list\",\n    \"header\": {\n      \"type\": \"text\",\n      \"text\": \"🫀 INSTITUTO DE CARDIOLOGÍA LA PLATA\"\n    },\n    \"body\": {\n      \"text\": \"📋 MENÚ PRINCIPAL\\n\\nPRESIONÁ 'ABRIR MENÚ' Y ELEGÍ UNA OPCIÓN:\\n\\n→ 🕐 HORARIOS DE ATENCIÓN\\n\\n→ 📍 UBICACIÓN DE LA CLÍNICA\\n\\n→ 💻 PORTAL DE PACIENTES\\n\\n→ 📧 SOLICITAR RECETAS\\n\\n→ 👨‍⚕️ NUESTROS MÉDICOS\\n\\n→ 🩺 ESPECIALIDADES MÉDICAS\"\n    },\n    \"footer\": {\n      \"text\": \"📅 LUN-VIE 8-20HS\"\n    },\n    \"action\": {\n      \"button\": \"ABRIR MENÚ\",\n      \"sections\": [\n        {\n          \"title\": \"ELEGÍ UNA OPCIÓN 👇\",\n          \"rows\": [\n            {\n              \"id\": \"horarios\",\n              \"title\": \"🕐 HORARIOS\",\n              \"description\": \"→ HORARIOS DE ATENCIÓN\"\n            },\n            {\n              \"id\": \"direccion\",\n              \"title\": \"📍 DIRECCIÓN\",\n              \"description\": \"→ UBICACIÓN ICLP\"\n            },\n            {\n              \"id\": \"portal-paciente\",\n              \"title\": \"💻 PORTAL PACIENTES\",\n              \"description\": \"→ ACCESO AL PORTAL\"\n            },\n            {\n              \"id\": \"email-recetas\",\n              \"title\": \"📧 EMAIL RECETAS\",\n              \"description\": \"→ SOLICITAR RECETAS\"\n            },\n            {\n              \"id\": \"medicos\",\n              \"title\": \"👨‍⚕️ MÉDICOS\",\n              \"description\": \"→ VER ESPECIALISTAS\"\n            },\n            {\n              \"id\": \"especialidades\",\n              \"title\": \"🩺 ESPECIALIDADES\",\n              \"description\": \"→ LISTA COMPLETA\"\n            },\n            {\n              \"id\": \"menu-principal\",\n              \"title\": \"VOLVER AL MENU PRINCIPAL\",\n              \"description\": \"MENU PRINCIPAL\"\n            }\n          ]\n        }\n      ]\n    }\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1984,-688],"id":"445bf7a9-31ea-4e7c-a8af-9e0ce4399d3c","name":"📱 Mensaje Info General","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $json.contactNumber }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"header\": {\n      \"type\": \"text\",\n      \"text\": \"🫀 INSTITUTO DE CARDIOLOGÍA LA PLATA\"\n    },\n    \"body\": {\n      \"text\": \"📋 PARA SACAR UN TURNO, SELECCIONÁ:\\n\\n🆕 NUEVO PACIENTE\\n→ Si es tu primera vez\\n\\n👤 PACIENTE REGISTRADO\\n→ Si ya tenés historial con nosotros\\n\\n🏠 MENÚ PRINCIPAL\\n→ Ver horarios, ubicación y más info\"\n    },\n    \"footer\": {\n      \"text\": \"LUN-VIE 8-20HS\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"primera-vez\",\n            \"title\": \"NUEVO PACIENTE\"\n          }\n        },\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"ya-atendido\",\n            \"title\": \"PACIENTE REGISTRADO\"\n          }\n        },\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"volver-atras\",\n            \"title\": \"MENU PRINCIPAL\"\n          }\n        }\n      ]\n    }\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1984,-912],"id":"92b01ece-32a7-4c75-baa8-62e3314433e0","name":"📅 Turnos - PACIENTE NUEVO - PACIENTE REGISTRADO - ","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"operation":"set","key":"=status:{{ $('Variables').first().json.contactNumber }}","value":"={{ $('msg_clasificador').item.json.nuevoEstado }}","expire":true,"ttl":600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2208,-912],"id":"dee7cf0d-c22b-4833-972e-9b94936408ae","name":"💾 Set Estado MENU1","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"set","key":"=status:{{ $('msg_clasificador').first().json.contactNumber }}","value":"={{ $('msg_clasificador').item.json.nuevoEstado }}","expire":true,"ttl":600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3184,112],"id":"2112788a-bf93-48f3-9ddc-c58aed9ea6d6","name":"⏱️ STATUS PRIMERA VEZ","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $json.contactNumber }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"*📝 REGISTRO DE NUEVO PACIENTE*\\n\\n*AL SER TU PRIMERA VEZ, NECESITAMOS TUS DATOS:*\\n\\n→ NOMBRE Y APELLIDO\\n→ DNI\\n→ OBRA SOCIAL\\n→ TELÉFONO\\n→ DOMICILIO\\n\\n*📋 FORMATO:*\\nENVIÁ TUS DATOS EN UN SOLO MENSAJE, ASÍ:\\n\\n_JUAN PEREZ_\\n_35946257_\\n_OSDE_\\n_2214567890_\\n_CALLE 50 N°123, LA PLATA_\\n\\n👇 *ESCRIBÍ TUS DATOS Y ENVIALOS*\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"volver-atras\",\n            \"title\": \"MENU PRINCIPAL\"\n          }\n        }\n      ]\n    }\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2960,112],"id":"04e7b8ed-b84a-4e9c-808a-698a5ab62dc4","name":"CREAR PACIENTE","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"operation":"set","key":"=status:{{ $('Variables').first().json.contactNumber }}","value":"={{ $('msg_clasificador').item.json.nuevoEstado }}","expire":true,"ttl":600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2208,-688],"id":"63ac7807-1a5d-4965-bcb9-0fecf98882a3","name":"💾 Set Estado MENU2","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"jsCode":"// ============================================\n// PREPARADOR DE MENSAJES DE INFORMACIÓN\n// ============================================\n// Prepara el body del HTTP Request según la categoría\n// ============================================\n\n// Obtener datos del nodo anterior\nconst categoria = $json.categoria;\nconst contactNumber = $json.contactNumber;\nconst mensaje = $json.mensaje || '';\n\n// Categorías que requieren flujos especiales (no mensajes directos)\nconst FLUJOS_ESPECIALES = {\n  INFO_MEDICOS: 'medicos',\n  INFO_ESPECIALIDADES: 'especialidades'\n};\n\n// Mapeo de categorías a mensajes directos\nconst MENSAJES = {\n  INFO_PORTAL: {\n    \"messaging_product\": \"whatsapp\",\n    \"recipient_type\": \"individual\",\n    \"to\": contactNumber,\n    \"type\": \"text\",\n    \"text\": {\n      \"preview_url\": true,\n      \"body\": \"💻 *PORTAL DEL PACIENTE*\\n\\n🌐 *Acceso:*\\nwww.iclp.com.ar → \\\"PORTAL PACIENTES\\\"\\n\\n🔐 *Tus datos de acceso:*\\n• Usuario: [TU DNI] (sin puntos)\\n• Contraseña: p + últimos 5 números del DNI\\n\\n📝 *Ejemplo:*\\nDNI 12345678 → Contraseña: p45678\\n\\n¿Necesitás ayuda? ¡Contactanos! 💙\"\n    }\n  },\n  \n  INFO_DIRECCION: {\n    \"messaging_product\": \"whatsapp\",\n    \"recipient_type\": \"individual\",\n    \"to\": contactNumber,\n    \"type\": \"text\",\n    \"text\": {\n      \"preview_url\": true,\n      \"body\": \"📍 *UBICACIÓN*\\n\\n🏥 *INSTITUTO DE CARDIOLOGÍA LA PLATA*\\n\\n📌 *Dirección:*\\nCalle 6 N°212 (entre 36 y 37)\\nLa Plata, Buenos Aires\\n\\n🗺️ *Ver en Google Maps:*\\nhttps://maps.app.goo.gl/ij23zZscf3vTKQV56\\n\\n📞 *Teléfono:*\\n(0221) 4906310\\n\\n¡Te esperamos! 💚\"\n    }\n  },\n  \n  INFO_RECETAS: {\n    \"messaging_product\": \"whatsapp\",\n    \"recipient_type\": \"individual\",\n    \"to\": contactNumber,\n    \"type\": \"text\",\n    \"text\": {\n      \"preview_url\": false,\n      \"body\": \"💊 *RECETAS MÉDICAS*\\n\\n✨ ¡Te explico cómo pedir tus recetas!\\n\\n📧 *MANERA MÁS FÁCIL - POR EMAIL*\\n✉️ Correo: recetas@iclpsrl.com.ar\\n\\n📝 *Envianos:*\\n• Apellido y nombre\\n• Obra social\\n• Número de afiliado\\n• Nombre del médico\\n\\n🚨 *ATENCIÓN ESPECIAL - Dr. Fabián Barba*\\n📲 Sus recetas solo por WhatsApp:\\n2216810260\\n\\n¿Necesitás ayuda? ¡Estamos para ayudarte! 💚\"\n    }\n  },\n  \n  INFO_HORARIOS: {\n    \"messaging_product\": \"whatsapp\",\n    \"recipient_type\": \"individual\",\n    \"to\": contactNumber,\n    \"type\": \"text\",\n    \"text\": {\n      \"preview_url\": false,\n      \"body\": \"🕒 *HORARIO DE ATENCIÓN*\\n\\n📅 *Nuestros horarios son:*\\n• Lunes a Viernes: 08:00 - 20:00hs\\n• Sábados: 08:00 - 13:00hs\\n• Domingos: CERRADO\\n\\n📞 *Contacto:*\\nTeléfono: (0221) 4906310\\n\\n¡Te esperamos! 💙\"\n    }\n  }\n};\n\n// ============================================\n// DETERMINAR TIPO DE FLUJO\n// ============================================\n\n// 1. Verificar si es un flujo especial (médicos o especialidades)\nif (FLUJOS_ESPECIALES[categoria]) {\n  const tipoFlujo = FLUJOS_ESPECIALES[categoria];\n  \n  console.log('━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━');\n  console.log('🔀 FLUJO ESPECIAL DETECTADO');\n  console.log('🎯 Categoría:', categoria);\n  console.log('📋 Tipo de flujo:', tipoFlujo);\n  console.log('📱 Destinatario:', contactNumber);\n  console.log('━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━');\n  \n  return [{\n    json: {\n      tipoFlujo: tipoFlujo,           // \"medicos\" o \"especialidades\"\n      categoria: categoria,\n      contactNumber: contactNumber,\n      esFlujoDirecto: false           // Requiere procesamiento adicional\n    }\n  }];\n}\n\n// 2. Si tiene mensaje predefinido, usarlo\nif (MENSAJES[categoria]) {\n  const mensajeBody = MENSAJES[categoria];\n  \n  console.log('━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━');\n  console.log('📤 MENSAJE DIRECTO');\n  console.log('🎯 Categoría:', categoria);\n  console.log('📱 Destinatario:', contactNumber);\n  console.log('━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━');\n  \n  return [{\n    json: {\n      body: mensajeBody,\n      categoria: categoria,\n      contactNumber: contactNumber,\n      esFlujoDirecto: true,           // Mensaje listo para enviar\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// 3. Mensaje de texto simple (fallback)\nconst mensajeBody = {\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": contactNumber,\n  \"type\": \"text\",\n  \"text\": {\n    \"preview_url\": false,\n    \"body\": mensaje\n  }\n};\n\nconsole.log('━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━');\nconsole.log('📝 MENSAJE TEXTO SIMPLE');\nconsole.log('🎯 Categoría:', categoria);\nconsole.log('📱 Destinatario:', contactNumber);\nconsole.log('━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━');\n\nreturn [{\n  json: {\n    body: mensajeBody,\n    categoria: categoria,\n    contactNumber: contactNumber,\n    esFlujoDirecto: true,\n    timestamp: new Date().toISOString()\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,2512],"id":"b6b81698-e7c3-4e20-ae2f-0e15c9516f5c","name":"Code"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"messaging_product","value":"={{ $json.body.messaging_product }}"},{"name":"recipient_type","value":"={{ $json.body.recipient_type }}"},{"name":"to","value":"={{ $json.body.to }}"},{"name":"type","value":"={{ $json.body.type }}"},{"name":"text","value":"={{ $json.body.text }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,2912],"id":"15b46270-a94a-4cc1-9b15-ff5e9770f44e","name":"Medicos","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"operation":"set","key":"=status:{{ $('msg_clasificador').first().json.contactNumber }}","value":"={{ $('msg_clasificador').item.json.nuevoEstado }}","expire":true,"ttl":600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1600,2912],"id":"30595c54-ca8f-4fe3-97c1-f8c61fb42552","name":"⏱️ STATUS PRIMERA VEZ1","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"status\": \"read\",\n  \"message_id\": \"{{ $('Entrada').item.json.body.messages[0].source_id }}\",\n  \"typing_indicator\": {\n    \"type\": \"text\"\n  }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2432,-688],"id":"5341b5b0-ed14-4e60-b0a7-ee4e86ff1c62","name":"HTTP Request1","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"status\": \"read\",\n  \"message_id\": \"{{ $('Entrada').item.json.body.messages[0].source_id }}\",\n  \"typing_indicator\": {\n    \"type\": \"text\"\n  }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2400,-1184],"id":"b9a182ea-575a-43ba-9004-69159d8ca5de","name":"HTTP Request2","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"status\": \"read\",\n  \"message_id\": \"{{ $('Entrada').item.json.body.messages[0].source_id }}\",\n  \"typing_indicator\": {\n    \"type\": \"text\"\n  }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2432,-912],"id":"f8c2c71b-7b68-4ec8-b01b-f90d7d31afdc","name":"HTTP Request3","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"status\": \"read\",\n  \"message_id\": \"{{ $('Entrada').first().json.body.messages[0].source_id }}\",\n  \"typing_indicator\": {\n    \"type\": \"text\"\n  }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1072,-64],"id":"b4f1959a-34ac-4d3c-ae07-87d69c718985","name":"HTTP Request4","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"jsCode":"// ============================================\n// CLASIFICADOR DE MENSAJES - SISTEMA JERÁRQUICO\n// ============================================\n// Autor: Sistema de Gestión de Turnos ICLP\n// Versión: 2.0\n// ============================================\n\n// ============================================\n// 1. CONFIGURACIÓN Y CONSTANTES\n// ============================================\n\nconst PATRONES = {\n  MENU: {\n    TURNOS: '📅 TURNOS',\n    INFO: 'ℹ️ INFO GENERAL',\n    ADMIN: '🏢 ADMINISTRACION',\n    VOLVER: 'MENU PRINCIPAL'\n  },\n  \n  TURNOS: {\n    NUEVO: 'NUEVO PACIENTE',\n    REGISTRADO: 'PACIENTE REGISTRADO',\n    TOMAR: 'TOMAR TURNO',\n    CANCELAR: 'CANCELAR TURNO',\n    MIS_TURNOS: 'MIS TURNO/S'\n  },\n  \n  TIPOS: {\n    CONSULTORIO: 'TURNOS CONSULTORIO',\n    ESTUDIO: 'TURNOS ESTUDIO'\n  },\n  \n  INFO: {\n    HORARIOS: '🕐 HORARIOS',\n    DIRECCION: '📍 DIRECCIÓN',\n    PORTAL: '💻 PORTAL PACIENTES',\n    RECETAS: '📧 EMAIL RECETAS',\n    MEDICOS: '👨‍⚕️ MÉDICOS',\n    ESPECIALIDADES: '🩺 ESPECIALIDADES'\n  },\n  \n  ACCION: {\n    CONTINUAR: ['CONTINUAR', 'SI, CONFIRMO', 'SÍ, CONFIRMO', 'CONFIRMAR TURNO'],\n    VOLVER: ['VOLVER ATRAS', 'VOLVER ATRÁS', 'MENU PRINCIPAL', 'VOLVER AL MENU PRINCIPAL', '⬅️ VOLVER ATRAS']\n  }\n};\n\n\n// ============================================\n// 2. UTILIDADES - VALIDACIÓN DE FORMATOS\n// ============================================\n\n/**\n * Valida si el texto es una selección de lista (formato: TEXTO-COD o TEXTO-123)\n * @param {string} texto - Texto a validar\n * @returns {boolean}\n */\nfunction esSeleccionLista(texto) {\n  // Acepta formatos: CARDIOLOGÍA-CAR, NEUROLOGÍA-123, etc.\n  return /^[A-ZÀ-ÚÑ\\s]+-[A-Z0-9]+$/i.test(texto);\n}\n\n/**\n * Valida si el texto es una selección de horario (formato: MIÉ 22/10 - 15:40)\n * @param {string} texto - Texto a validar\n * @returns {boolean}\n */\nfunction esSeleccionHorario(texto) {\n  return /^[A-ZÉ]{3}\\s\\d{1,2}\\/\\d{1,2}\\s-\\s\\d{2}:\\d{2}$/.test(texto);\n}\n\n/**\n * Extrae el DNI de un texto, ignorando palabras y caracteres adicionales\n * @param {string} texto - Texto que puede contener un DNI\n * @returns {string|null} - DNI encontrado o null\n */\nfunction extraerDNI(texto) {\n  // Convertir a string\n  const textoStr = texto.toString().trim();\n  \n  // Remover TODOS los caracteres que no sean dígitos\n  const soloDigitos = textoStr.replace(/\\D/g, '');\n  \n  // Buscar secuencia de 7-8 dígitos consecutivos\n  const patron = /\\d{7,8}/;\n  const match = soloDigitos.match(patron);\n  \n  if (!match) return null;\n  \n  // Retornar los primeros 7-8 dígitos encontrados\n  const dni = match[0];\n  \n  // Si tiene más de 8 dígitos, tomar solo los primeros 8\n  return dni.length > 8 ? dni.substring(0, 8) : dni;\n}\n\n/**\n * Valida si el texto contiene un DNI válido (7-8 dígitos)\n * @param {string} texto - Texto a validar\n * @returns {boolean}\n */\nfunction esDNI(texto) {\n  return extraerDNI(texto) !== null;\n}\n\n/**\n * Valida si el texto es un identificador de turno para cancelar\n * @param {string} texto - Texto a validar\n * @returns {boolean}\n */\nfunction esTurnoParaCancelar(texto) {\n  return /^[A-Z]+-\\d{2}-\\d{2}-\\d{4}(-\\d+)?/.test(texto) || \n         /^turno-\\d{8}-\\d{4}-\\d+/.test(texto);\n}\n\n// ============================================\n// 3. GESTIÓN DE ESTADOS\n// ============================================\n\n/**\n * Normaliza el estado al formato jerárquico\n * @param {string} estado - Estado a normalizar\n * @returns {string} Estado normalizado\n */\nfunction normalizarEstado(estado) {\n  // Sin estado\n  if (!estado || estado === '') return '';\n  \n  // Ya está normalizado (formato: SECCION:SUBSECCION)\n  if (estado.includes(':')) return estado;\n  \n  // Estados con DNI (formato especial: DNI:12345678)\n  if (estado.startsWith('DNI:')) {\n    const dni = estado.replace('DNI:', '');\n    return `DATOS:DNI_VALIDADO:${dni}`;\n  }\n  \n  // Retornar el estado tal cual si no requiere normalización\n  return estado;\n}\n\n/**\n * Extrae el contexto del estado jerárquico\n * @param {string} estado - Estado en formato jerárquico\n * @returns {object} Contexto con sección, subsección y datos\n */\nfunction obtenerContexto(estado) {\n  if (!estado) {\n    return { seccion: null, subseccion: null, datos: null };\n  }\n  \n  const partes = estado.split(':');\n  return {\n    seccion: partes[0] || null,\n    subseccion: partes[1] || null,\n    datos: partes[2] || null\n  };\n}\n\n// ============================================\n// 4. REGLAS DE CLASIFICACIÓN\n// ============================================\n\n/**\n * Reglas para el menú principal\n */\nfunction clasificarMenuPrincipal(mensaje, estado) {\n  if (estado !== 'MENU_PRINCIPAL' && estado !== 'MENU_INICIAL') return null;\n  \n  if (mensaje === PATRONES.MENU.TURNOS) {\n    return { categoria: 'NAV_TURNOS', nuevoEstado: 'TURNOS:TIPO_PACIENTE' };\n  }\n  \n  if (mensaje === PATRONES.MENU.INFO) {\n    return { categoria: 'NAV_INFO', nuevoEstado: 'INFO:MENU' };\n  }\n  \n  if (mensaje === PATRONES.MENU.ADMIN) {\n    return { categoria: 'NAV_ADMIN', nuevoEstado: 'ADMIN:CONFIRMAR' };\n  }\n  \n  if (esDNI(mensaje)) {\n    return { \n      categoria: 'INGRESO_DNI', \n      nuevoEstado: `DATOS:DNI_VALIDADO:${mensaje}` \n    };\n  }\n  \n  return null;\n}\n\n/**\n * Reglas para gestión de turnos\n */\nfunction clasificarGestionTurnos(mensaje, estado, ctx) {\n  // Tipo de paciente\n  if (estado === 'TURNOS:TIPO_PACIENTE') {\n    if (mensaje === PATRONES.TURNOS.NUEVO) {\n      return { categoria: 'NUEVO_PACIENTE', nuevoEstado: 'DATOS:RECOLECCION' };\n    }\n    if (mensaje === PATRONES.TURNOS.REGISTRADO) {\n      return { categoria: 'PACIENTE_REGISTRADO', nuevoEstado: 'DATOS:SOLICITAR_DNI' };\n    }\n  }\n  \n  // Usuario con DNI validado\n  if (ctx.seccion === 'DATOS' && ctx.subseccion === 'DNI_VALIDADO') {\n    const dni = ctx.datos;\n    \n    // Usuario confirma sus datos después de validar DNI\n    if (PATRONES.ACCION.CONTINUAR.includes(mensaje)) {\n      return { \n        categoria: 'CONFIRMAR_DATOS_DNI', \n        nuevoEstado: 'TURNOS:TIPO_TURNO', \n        metadata: { dni } \n      };\n    }\n    \n    if (mensaje === PATRONES.TURNOS.TOMAR) {\n      return { \n        categoria: 'INICIAR_TOMAR_TURNO', \n        nuevoEstado: 'TURNOS:TIPO_TURNO', \n        metadata: { dni } \n      };\n    }\n    \n    if (mensaje === PATRONES.TURNOS.CANCELAR) {\n      return { \n        categoria: 'INICIAR_CANCELAR_TURNO', \n        nuevoEstado: 'CANCELAR:LISTAR', \n        metadata: { dni } \n      };\n    }\n    \n    if (mensaje === PATRONES.TURNOS.MIS_TURNOS) {\n      return { \n        categoria: 'LISTAR_MIS_TURNOS', \n        nuevoEstado: estado, \n        metadata: { dni } \n      };\n    }\n  }\n  \n  // Tipo de turno\n  if (estado === 'TURNOS:TIPO_TURNO') {\n    if (mensaje === PATRONES.TIPOS.CONSULTORIO) {\n      return { categoria: 'TURNO_CONSULTORIO', nuevoEstado: 'TURNOS:ESPECIALIDADES' };\n    }\n    if (mensaje === PATRONES.TIPOS.ESTUDIO) {\n      return { categoria: 'TURNO_ESTUDIO', nuevoEstado: 'TURNOS:ESPECIALIDADES_ESTUDIO' };\n    }\n  }\n  \n  return null;\n}\n\n/**\n * Reglas para selecciones (especialidad, médico, horario)\n */\nfunction clasificarSelecciones(mensaje, estado) {\n  // Botón VER MÁS ESPECIALIDADES (Chatwoot envía el title)\n  if (estado === 'TURNOS:ESPECIALIDADES' && mensaje === '➕ VER MÁS ESPECIALIDADES') {\n    return { \n      categoria: 'VER_MAS_ESPECIALIDADES', \n      nuevoEstado: 'TURNOS:ESPECIALIDADES:VER_MAS'\n    };\n  }\n  \n  // Botón VER ANTERIORES (desde segundo bloque)\n  const esBotonVolver = mensaje === '⬅️ VER ANTERIORES' || \n                        mensaje === 'VER ANTERIORES' ||\n                        mensaje.includes('VER ANTERIORES') ||\n                        mensaje.toLowerCase().includes('ver anteriores');\n  \n  if (estado === 'TURNOS:ESPECIALIDADES:VER_MAS' && esBotonVolver) {\n    console.log('✅ Detectado botón VER ANTERIORES - Volviendo al primer bloque');\n    console.log('📩 Mensaje recibido:', mensaje);\n    return { \n      categoria: 'TURNO_CONSULTORIO', \n      nuevoEstado: 'TURNOS:ESPECIALIDADES'\n    };\n  }\n  \n  // Especialidad (primer bloque)\n  if (estado === 'TURNOS:ESPECIALIDADES' && esSeleccionLista(mensaje)) {\n    console.log('✅ Especialidad seleccionada (primer bloque):', mensaje);\n    // Extraer código de especialidad (ejemplo: CARDIOLOGÍA-CAR → CAR)\n    const codigoEspecialidad = mensaje.split('-').pop();\n    return { \n      categoria: 'SELECCION_ESPECIALIDAD', \n      nuevoEstado: 'TURNOS:MEDICOS', \n      metadata: { \n        especialidad: mensaje,\n        codigoEspecialidad: codigoEspecialidad\n      } \n    };\n  }\n  \n  // Especialidad (segundo bloque - VER MÁS)\n  if (estado === 'TURNOS:ESPECIALIDADES:VER_MAS' && esSeleccionLista(mensaje)) {\n    console.log('✅ Especialidad seleccionada (segundo bloque):', mensaje);\n    // Extraer código de especialidad (ejemplo: CARDIOLOGÍA-CAR → CAR)\n    const codigoEspecialidad = mensaje.split('-').pop();\n    return { \n      categoria: 'SELECCION_ESPECIALIDAD', \n      nuevoEstado: 'TURNOS:MEDICOS', \n      metadata: { \n        especialidad: mensaje,\n        codigoEspecialidad: codigoEspecialidad\n      } \n    };\n  }\n  \n  // Botón VER MÁS MÉDICOS (primer bloque)\n  if (estado === 'TURNOS:MEDICOS' && mensaje === '➕ VER MÁS MÉDICOS') {\n    // Preservar código de especialidad y especialidad del metadata previo\n    const metadata = {};\n    if (globalThis._metadataPrevio?.codigoEspecialidad) {\n      metadata.codigoEspecialidad = globalThis._metadataPrevio.codigoEspecialidad;\n    }\n    if (globalThis._metadataPrevio?.especialidadSeleccionada) {\n      metadata.especialidad = globalThis._metadataPrevio.especialidadSeleccionada;\n    }\n    console.log('📦 Preservando metadata para VER_MAS_MEDICOS:', JSON.stringify(metadata));\n    \n    return { \n      categoria: 'VER_MAS_MEDICOS', \n      nuevoEstado: 'TURNOS:MEDICOS:VER_MAS',\n      metadata: metadata\n    };\n  }\n  \n  // Botón VER ANTERIORES MÉDICOS (desde segundo bloque)\n  const esBotonVolverMedicos = mensaje === '⬅️ VER ANTERIORES' || \n                                mensaje === 'VER ANTERIORES' ||\n                                mensaje.includes('VER ANTERIORES') ||\n                                mensaje.toLowerCase().includes('ver anteriores');\n  \n  if (estado === 'TURNOS:MEDICOS:VER_MAS' && esBotonVolverMedicos) {\n    console.log('✅ Detectado botón VER ANTERIORES - Volviendo al primer bloque de médicos');\n    \n    // Preservar código de especialidad y especialidad del metadata previo\n    const metadata = {};\n    if (globalThis._metadataPrevio?.codigoEspecialidad) {\n      metadata.codigoEspecialidad = globalThis._metadataPrevio.codigoEspecialidad;\n    }\n    if (globalThis._metadataPrevio?.especialidadSeleccionada) {\n      metadata.especialidad = globalThis._metadataPrevio.especialidadSeleccionada;\n    }\n    \n    return { \n      categoria: 'SELECCION_ESPECIALIDAD', \n      nuevoEstado: 'TURNOS:MEDICOS',\n      metadata: metadata\n    };\n  }\n  \n  // Médico (primer bloque)\n  if (estado === 'TURNOS:MEDICOS' && esSeleccionLista(mensaje)) {\n    console.log('✅ Médico seleccionado (primer bloque):', mensaje);\n    // Extraer matrícula (ejemplo: PONCE VENA-112196 → 112196)\n    const matricula = mensaje.split('-').pop().trim();\n    console.log('🔢 Matrícula extraída:', matricula);\n    \n    return { \n      categoria: 'SELECCION_MEDICO', \n      nuevoEstado: 'TURNOS:HORARIOS', \n      metadata: { \n        medico: mensaje,\n        matricula: matricula\n      } \n    };\n  }\n  \n  // Médico (segundo bloque - VER MÁS)\n  if (estado === 'TURNOS:MEDICOS:VER_MAS' && esSeleccionLista(mensaje)) {\n    console.log('✅ Médico seleccionado (segundo bloque):', mensaje);\n    const matricula = mensaje.split('-').pop().trim();\n    console.log('🔢 Matrícula extraída:', matricula);\n    \n    return { \n      categoria: 'SELECCION_MEDICO', \n      nuevoEstado: 'TURNOS:HORARIOS', \n      metadata: { \n        medico: mensaje,\n        matricula: matricula\n      } \n    };\n  }\n  \n  // Horario\n  if (estado === 'TURNOS:HORARIOS' && esSeleccionHorario(mensaje)) {\n    return { \n      categoria: 'SELECCION_HORARIO', \n      nuevoEstado: 'TURNOS:CONFIRMAR', \n      metadata: { horario: mensaje } \n    };\n  }\n  \n  // Confirmar turno\n  if (estado === 'TURNOS:CONFIRMAR' && PATRONES.ACCION.CONTINUAR.includes(mensaje)) {\n    return { categoria: 'CONFIRMAR_TURNO', nuevoEstado: 'MENU_PRINCIPAL' };\n  }\n  \n  return null;\n}\n\n/**\n * Reglas para recolección de datos\n */\nfunction clasificarDatos(mensaje, estado) {\n  // Solicitar DNI - Usuario ingresa DNI para validación (primera vez)\n  if (estado === 'DATOS:SOLICITAR_DNI') {\n    const dniExtraido = extraerDNI(mensaje);\n    if (dniExtraido) {\n      console.log('✅ DNI extraído:', dniExtraido, 'del mensaje:', mensaje);\n      return { \n        categoria: 'VALIDAR_DNI', \n        nuevoEstado: `DATOS:DNI_VALIDADO:${dniExtraido}`,\n        metadata: { dni: dniExtraido }\n      };\n    }\n  }\n  \n  // DNI no encontrado (0) - Usuario reintenta con otro DNI\n  if (estado === 'DATOS:DNI_VALIDADO:0') {\n    const dniExtraido = extraerDNI(mensaje);\n    if (dniExtraido) {\n      console.log('🔄 Reintentando validación de DNI:', dniExtraido);\n      return { \n        categoria: 'VALIDAR_DNI', \n        nuevoEstado: `DATOS:DNI_VALIDADO:${dniExtraido}`,\n        metadata: { dni: dniExtraido }\n      };\n    }\n  }\n  \n  // Recolección inicial de datos\n  if (estado === 'DATOS:RECOLECCION') {\n    if (!PATRONES.ACCION.VOLVER.includes(mensaje) && mensaje !== 'CONTINUAR') {\n      return { categoria: 'INGRESO_DATOS_PACIENTE', nuevoEstado: 'DATOS:RECOLECTADOS' };\n    }\n  }\n  \n  // Datos ya recolectados, esperando confirmación\n  if (estado === 'DATOS:RECOLECTADOS') {\n    if (PATRONES.ACCION.CONTINUAR.includes(mensaje)) {\n      return { categoria: 'CONFIRMAR_PACIENTE_NUEVO', nuevoEstado: 'DATOS:PACIENTE_NUEVO' };\n    }\n  }\n  \n  return null;\n}\n\n/**\n * Reglas para cancelación de turnos\n */\nfunction clasificarCancelacion(mensaje, estado) {\n  if (estado === 'CANCELAR:LISTAR' && esTurnoParaCancelar(mensaje)) {\n    return { \n      categoria: 'EJECUTAR_CANCELACION_TURNO', \n      nuevoEstado: 'MENU_PRINCIPAL', \n      metadata: { turno_id: mensaje } \n    };\n  }\n  \n  return null;\n}\n\n/**\n * Reglas para información general\n */\nfunction clasificarInformacion(mensaje, estado) {\n  const infoMap = {\n    [PATRONES.INFO.HORARIOS]: 'INFO_HORARIOS',\n    [PATRONES.INFO.DIRECCION]: 'INFO_DIRECCION',\n    [PATRONES.INFO.PORTAL]: 'INFO_PORTAL',\n    [PATRONES.INFO.RECETAS]: 'INFO_RECETAS',\n    [PATRONES.INFO.MEDICOS]: 'INFO_MEDICOS',\n    [PATRONES.INFO.ESPECIALIDADES]: 'INFO_ESPECIALIDADES'\n  };\n  \n  if (infoMap[mensaje]) {\n    return { categoria: infoMap[mensaje], nuevoEstado: estado };\n  }\n  \n  return null;\n}\n\n/**\n * Reglas para navegación hacia atrás\n */\nfunction clasificarVolverAtras(mensaje, estado) {\n  if (!PATRONES.ACCION.VOLVER.includes(mensaje)) return null;\n  \n  const navegacionAtras = {\n    'TURNOS:HORARIOS': 'TURNOS:MEDICOS',\n    'TURNOS:MEDICOS': 'TURNOS:ESPECIALIDADES',\n    'TURNOS:MEDICOS:VER_MAS': 'TURNOS:MEDICOS',\n    'TURNOS:ESPECIALIDADES': 'TURNOS:TIPO_TURNO',\n    'TURNOS:ESPECIALIDADES:VER_MAS': 'TURNOS:ESPECIALIDADES',\n    'TURNOS:CONFIRMAR': 'TURNOS:HORARIOS',\n    'CANCELAR:LISTAR': 'MENU_PRINCIPAL',\n    'DATOS:RECOLECTADOS': 'DATOS:RECOLECCION',\n    'INFO:MENU': 'MENU_PRINCIPAL'\n  };\n  \n  const nuevoEstado = navegacionAtras[estado] || 'MENU_PRINCIPAL';\n  \n  // Si volvemos al menú principal, usar categoría MENU_INICIAL\n  const categoria = (nuevoEstado === 'MENU_PRINCIPAL') ? 'MENU_INICIAL' : 'VOLVER_ATRAS';\n  \n  return { categoria, nuevoEstado };\n}\n\n/**\n * Reglas para administración\n */\nfunction clasificarAdmin(mensaje, estado) {\n  if (estado === 'ADMIN:CONFIRMAR' && mensaje === 'SI, CONFIRMO') {\n    return { categoria: 'DERIVAR_HUMANO', nuevoEstado: 'ADMIN:HUMANO_ACTIVO' };\n  }\n  \n  return null;\n}\n\n// ============================================\n// 5. CLASIFICADOR PRINCIPAL\n// ============================================\n\n/**\n * Clasificador principal - Ejecuta todas las reglas en orden\n * @param {string} mensaje - Mensaje del usuario\n * @param {string} estado - Estado actual\n * @returns {object} Resultado con categoría y nuevo estado\n */\nfunction clasificar(mensaje, estado) {\n  const ctx = obtenerContexto(estado);\n  \n  // 1. INICIO / SIN ESTADO\n  if (!estado || estado === '') {\n    return { categoria: 'MENU_INICIAL', nuevoEstado: 'MENU_PRINCIPAL' };\n  }\n  \n  // 2. VOLVER AL MENÚ PRINCIPAL\n  if (mensaje === 'MENU PRINCIPAL') {\n    return { categoria: 'MENU_INICIAL', nuevoEstado: 'MENU_PRINCIPAL' };\n  }\n  \n  // 3. BOTÓN ADMINISTRACIÓN (desde cualquier estado)\n  if (mensaje === '🏢 ADMINISTRACION') {\n    return { categoria: 'NAV_ADMIN', nuevoEstado: 'ADMIN:CONFIRMAR' };\n  }\n  \n  // 4. EJECUTAR REGLAS EN ORDEN\n  const reglas = [\n    clasificarMenuPrincipal,\n    clasificarGestionTurnos,\n    clasificarSelecciones,\n    clasificarDatos,\n    clasificarCancelacion,\n    clasificarInformacion,\n    clasificarVolverAtras,\n    clasificarAdmin\n  ];\n  \n  for (const regla of reglas) {\n    const resultado = regla(mensaje, estado, ctx);\n    if (resultado) return resultado;\n  }\n  \n  // 5. FALLBACK\n  return { categoria: 'FALLBACK', nuevoEstado: estado };\n}\n\n// ============================================\n// 6. EJECUCIÓN Y LOGGING\n// ============================================\n\n/**\n * Registra información de depuración\n */\nfunction logDebug(mensaje, estadoRaw, estado, resultado) {\n  const dniExtraido = extraerDNI(mensaje);\n  \n  console.log('━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━');\n  console.log('📱 Mensaje:', mensaje);\n  console.log('📏 Longitud:', mensaje.length);\n  console.log('🔤 Tipo:', typeof mensaje);\n  console.log('🧪 Es DNI?:', esDNI(mensaje));\n  if (dniExtraido) {\n    console.log('🆔 DNI Extraído:', dniExtraido);\n  }\n  console.log('🏷️  Estado Raw:', estadoRaw || '(sin estado)');\n  console.log('🏷️  Estado Normalizado:', estado || '(sin estado)');\n  console.log('🎯 Categoría:', resultado.categoria);\n  console.log('🔄 Nuevo Estado:', resultado.nuevoEstado);\n  if (resultado.metadata) {\n    console.log('📦 Metadata:', JSON.stringify(resultado.metadata));\n  }\n  console.log('━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━');\n}\n\n/**\n * Construye el contexto enriquecido\n */\nfunction construirContexto(resultado) {\n  const nuevoCtx = obtenerContexto(resultado.nuevoEstado);\n  \n  return {\n    seccion: nuevoCtx.seccion,\n    subseccion: nuevoCtx.subseccion,\n    es_usuario_registrado: resultado.nuevoEstado.startsWith('DATOS:DNI_VALIDADO'),\n    en_proceso_turno: resultado.nuevoEstado.startsWith('TURNOS:'),\n    en_cancelacion: resultado.nuevoEstado.startsWith('CANCELAR:')\n  };\n}\n\n// ============================================\n// 7. MAIN - PUNTO DE ENTRADA\n// ============================================\n\n// Obtener datos de entrada\nconst estadoRaw = $json.status || $json.value || $json.result || '';\nconst mensajeRaw = $('Variables').first().json.message;\nconst mensaje = mensajeRaw.toString().trim();\nconst contactNumber = $('Variables').first().json.contactNumber;\n\n// Intentar obtener metadata del nodo anterior (para preservar código de especialidad, etc.)\nlet metadataPrevio = {};\ntry {\n  // Intentar del nodo Get Estado Actual\n  metadataPrevio = $('Get Estado Actual').first().json.metadata || {};\n} catch (e) {\n  try {\n    // Intentar del nodo LISTA_MEDICOS\n    metadataPrevio = $('LISTA_MEDICOS').first().json;\n  } catch (e2) {\n    try {\n      // Intentar del nodo LISTA_ESPECIALIDADES\n      metadataPrevio = $('LISTA_ESPECIALIDADES').first().json;\n    } catch (e3) {\n      metadataPrevio = {};\n    }\n  }\n}\n\nconsole.log('📦 Metadata previo encontrado:', JSON.stringify(metadataPrevio));\n\n// Hacer metadata previo disponible globalmente para las funciones clasificadoras\nglobalThis._metadataPrevio = metadataPrevio;\n\n// Normalizar estado\nconst estado = normalizarEstado(estadoRaw);\n\n// Log de entrada\nconst dniEnMensaje = extraerDNI(mensaje);\nconsole.log('━━━━━━ ENTRADA ━━━━━━');\nconsole.log('📩 Mensaje raw:', JSON.stringify(mensajeRaw));\nconsole.log('📩 Mensaje procesado:', mensaje);\nconsole.log('📏 Longitud:', mensaje.length);\nconsole.log('📏 Tipo:', typeof mensajeRaw);\nconsole.log('🧪 Es DNI?:', esDNI(mensaje));\nif (dniEnMensaje) {\n  console.log('🆔 DNI encontrado:', dniEnMensaje);\n}\nconsole.log('🏷️  Estado raw:', estadoRaw);\nconsole.log('🏷️  Estado normalizado:', estado);\nconsole.log('━━━━━━━━━━━━━━━━━━━━━');\n\n// Clasificar\nconst resultado = clasificar(mensaje, estado);\n\n// Log de depuración\nlogDebug(mensaje, estadoRaw, estado, resultado);\n\n// Retornar resultado estructurado\nreturn [{\n  json: {\n    // Datos principales\n    categoria: resultado.categoria,\n    mensaje: mensaje,\n    contactNumber: contactNumber,\n    \n    // Estados para Redis\n    estadoActual: resultado.nuevoEstado,      // Estado a guardar en Redis\n    estadoAnterior: estado,                   // Estado previo (para volver atrás)\n    \n    // Metadata\n    metadata: resultado.metadata || {},\n    \n    // Redis keys (compatibilidad)\n    redisKey: `state:${contactNumber}`,\n    redisValue: resultado.nuevoEstado,\n    \n    // Alias para compatibilidad con código existente\n    nuevoEstado: resultado.nuevoEstado,\n    \n    // Contexto enriquecido\n    _context: construirContexto(resultado)\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-96,112],"id":"be7af86a-fb4e-4f76-8e67-56ad00872cf3","name":"msg_clasificador"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('msg_clasificador').item.json.contactNumber }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"header\": {\n      \"type\": \"text\",\n      \"text\": \"🫀 INSTITUTO DE CARDIOLOGÍA LA PLATA\"\n    },\n    \"body\": {\n      \"text\": \"🏢 ADMINISTRACIÓN\\n\\nTE CONECTAREMOS CON UNA RECEPCIONISTA PARA:\\n\\n✅ REPROGRAMAR UN TURNO\\n✅ CONSULTAS O RECLAMOS URGENTES\\n✅ DERIVACIÓN URGENTE\\n\\n⏰ HORARIO DE RESPUESTA:\\nLUNES A VIERNES: 8-20HS | SÁBADO 8-13HS\\n\\n💡 SI NECESITÁS:\\n- AGENDAR UN TURNO NUEVO → USÁ EL BOT (MÁS RÁPIDO)\\n- CANCELAR UN TURNO → USÁ EL BOT\\n- INFO GENERAL → USÁ EL BOT\\n\\n📞 OTRO MEDIO DONDE PODÉS RECIBIR ASISTENCIA:\\n221 4906310\\n\\n¿QUERÉS CONTINUAR?\"\n    },\n    \"footer\": {\n      \"text\": \"LUN-VIE 8-20HS\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"si-confirmo\",\n            \"title\": \"SI, CONFIRMO\"\n          }\n        },\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"volver-atras\",\n            \"title\": \"MENU PRINCIPAL\"\n          }\n        }\n      ]\n    }\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1984,-464],"id":"26e246f5-067d-4aa9-8653-c495166328a6","name":"🏢 Administración","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"status\": \"read\",\n  \"message_id\": \"{{ $('Entrada').item.json.body.messages[0].source_id }}\",\n  \"typing_indicator\": {\n    \"type\": \"text\"\n  }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3408,112],"id":"0332d240-49de-49b1-942c-8bb7c2eb5ead","name":"HTTP Request5","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"status\": \"read\",\n  \"message_id\": \"{{ $('Entrada').item.json.body.messages[0].source_id }}\",\n  \"typing_indicator\": {\n    \"type\": \"text\"\n  }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2208,-464],"id":"00ba9251-b278-4ed1-8ead-4c49ecb2c6aa","name":"HTTP Request6","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"057155d2-7320-48de-8ed5-bf00dcc72b38","leftValue":"={{ $json.body.messages[0].sender.phone_number }}","rightValue":"+5492213994411","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"d0c07208-2eca-4ffc-ae49-063a0363cf6e","leftValue":"={{ $json.body.messages[0].sender.phone_number }}","rightValue":"+595985624358","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"c20fad56-f470-4653-b327-8ce2b684deaa","leftValue":"={{ $json.body.messages[0].sender.phone_number }}","rightValue":"+5492254596618","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"41ecf46b-61e9-4d1b-9bc9-9ed63e9817e3","leftValue":"={{ $json.body.messages[0].sender.phone_number }}","rightValue":"+34629235015","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1968,-112],"id":"8ee72fc7-6c34-40ef-a2b7-c3b9f802f58a","name":"Filtrar números de prueba","disabled":true},{"parameters":{"dataToSave":{"values":[{"key":"conversationId","value":"={{ $json.body.id }}"},{"key":"contactNumber","value":"={{ $json.body.contact_inbox.source_id }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[-2224,-304],"id":"9b1fc2c7-b46a-4553-a33f-711a73e27ff7","name":"Execution Data1"},{"parameters":{"operation":"set","key":"=status:{{ $('Variables').first().json.contactNumber }}","value":"={{ $('msg_clasificador').item.json.nuevoEstado }}","expire":true,"ttl":600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2432,-464],"id":"9ab5a912-5ae5-48f9-8b44-abf7b3274795","name":"💾 Set Estado MENU3","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"gsbUq8JFSpw8U7yR","mode":"list","cachedResultName":"SUB - ETIQUETA: CONSULTA_RECLAMO"},"workflowInputs":{"mappingMode":"defineBelow","value":{"humano":true,"accountId":"={{ $('Filtro Tipo Mensaje').item.json.accountId }}","conversationId":"={{ $('Filtro Tipo Mensaje').item.json.conversationId.toString() }}","contactId":"={{ $('Filtro Tipo Mensaje').item.json.contactId.toString() }}","message":"={{ $('Filtro Tipo Mensaje').item.json.message }}","inboxId":"={{ $('Filtro Tipo Mensaje').item.json.inboxId.toString() }}","chatwootUrlBase":"={{ $('Filtro Tipo Mensaje').item.json.chatwootUrl }}","tokenChatwoot":"={{ $('Filtro Tipo Mensaje').item.json.agenteBotTokenWhatsapp }}","tipoIntencion":"consultas-reclamos"},"matchingColumns":[],"schema":[{"id":"accountId","displayName":"accountId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"conversationId","displayName":"conversationId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"contactId","displayName":"contactId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"inboxId","displayName":"inboxId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"humano","displayName":"humano","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean"},{"id":"chatwootUrlBase","displayName":"chatwootUrlBase","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tokenChatwoot","displayName":"tokenChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tipoIntencion","displayName":"tipoIntencion","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1968,-192],"id":"1d1af00c-f9b8-4ebb-8a40-e3d2ba0c2933","name":"ETIQUETA CONSULTA-RECLAMO"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"status\": \"read\",\n  \"message_id\": \"{{ $('Entrada').item.json.body.messages[0].source_id }}\",\n  \"typing_indicator\": {\n    \"type\": \"text\"\n  }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2320,-192],"id":"41af88c8-c24f-4f73-86b5-ddd5291891ab","name":"HTTP Request7","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"status\": \"read\",\n  \"message_id\": \"{{ $('Entrada').first().json.body.messages[0].source_id }}\",\n  \"typing_indicator\": {\n    \"type\": \"text\"\n  }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-880,-224],"id":"62281503-d003-4dfd-8c3c-ec8fac293344","name":"HTTP Request8","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"method":"POST","url":"={{ $('Filtro Tipo Mensaje').item.json.chatwootUrl }}/api/v1/accounts/{{ $('Filtro Tipo Mensaje').item.json.accountId }}/conversations/{{ $('Filtro Tipo Mensaje').item.json.conversationId }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Filtro Tipo Mensaje').item.json.agenteBotTokenWhatsapp }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=✅ *Tu consulta está en buenas manos*\n\nHemos derivado tu mensaje a un integrante de nuestro equipo administrativo. \n\n🏷️ Tu consulta ya quedó registrada y etiquetada correctamente.\n\n👤 En breve recibirás atención personalizada de un profesional.\n\n⏸️ Mientras tanto, las opciones del menú automático quedarán deshabilitadas temporalmente.\n\n❤️ Gracias por tu comprensión y confianza.\n\n_Instituto de Cardiología La Plata_"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-640,-304],"id":"664a885f-979b-4f09-9efb-ffab9f68b270","name":"sendRespondCw"},{"parameters":{"operation":"incr","key":"=contador:{{ $('Filtro Tipo Mensaje').item.json.contactNumber }}","expire":true,"ttl":3600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-416,-224],"id":"17fb185c-3038-4953-9404-f802210eada9","name":"contador","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"mensaje_enviado","key":"=contador:{{ $('Filtro Tipo Mensaje').item.json.contactNumber }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1360,-304],"id":"8246ac61-77c9-47c4-8e46-765154552c59","name":"MSG ENVIADO?","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"28730a7e-22e0-4e24-9233-e808f6b6826c","leftValue":"={{ $json.mensaje_enviado >= 1 && $json.mensaje_enviado !== null }}","rightValue":"null","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1120,-304],"id":"fb1c0a3d-df33-4c6a-b4d5-e0526f4e7659","name":"If"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Filtro Tipo Mensaje').first().json.contactNumber }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"preview_url\": false,\n    \"body\": {{ JSON.stringify($json.mensaje) }}\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,2544],"id":"4c3d07e6-0db6-4a78-b5c0-c809ee4ebf47","name":"ESPECIALIDADES2","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"content":"## INFO GENERAL - MEDICOS","height":304,"width":992,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1200,2112],"typeVersion":1,"id":"b31bb134-5094-4763-8474-31d76ccff2f3","name":"Sticky Note2"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Filtro Tipo Mensaje').first().json.contactNumber }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"preview_url\": false,\n    \"body\": {{ JSON.stringify($json.mensaje) }}\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1776,2192],"id":"b97de3db-fa92-456a-aa67-4792c8a38940","name":"MEDICOS","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"jsCode":"// Obtener todos los médicos\nconst items = $input.all();\n\n// Crear un objeto para agrupar médicos por especialidad\nconst medicosPorEspecialidad = {};\n\nitems.forEach(item => {\n  const medico = item.json.Medico;\n  const especialidad = item.json.Especialidad;\n  \n  if (!medicosPorEspecialidad[especialidad]) {\n    medicosPorEspecialidad[especialidad] = [];\n  }\n  \n  // Evitar duplicados\n  if (!medicosPorEspecialidad[especialidad].includes(medico)) {\n    medicosPorEspecialidad[especialidad].push(medico);\n  }\n});\n\n// Ordenar especialidades alfabéticamente\nconst especialidadesOrdenadas = Object.keys(medicosPorEspecialidad).sort();\n\n// Crear el listado formateado\nlet listadoMedicos = '';\nespecialidadesOrdenadas.forEach(especialidad => {\n  listadoMedicos += `\\n📌 *${especialidad}*\\n`;\n  \n  // Ordenar médicos alfabéticamente\n  const medicos = medicosPorEspecialidad[especialidad].sort();\n  \n  medicos.forEach(medico => {\n    listadoMedicos += `   • Dr./Dra. ${medico}\\n`;\n  });\n});\n\n// Crear el mensaje completo con las nuevas instrucciones\nconst mensaje = `👨‍⚕️ *NUESTROS PROFESIONALES*\\n\\n🏥 *CONTAMOS CON LOS SIGUIENTES MÉDICOS ESPECIALISTAS:*${listadoMedicos}\\n\\n📞 *CONTACTO:*\\n(0221) 4906310\\nLUNES A VIERNES: 8:00-20:00HS`;\n\n// Mensaje para botón interactivo\nconst mensajeBoton = `📋 IR AL MENÚ PRINCIPAL O DIRECTAMENTE SACAR TURNO`;\n\n// Retornar el resultado en JSON\nreturn [{\n  json: {\n    listadoMedicos: listadoMedicos.trim(),\n    mensaje: mensaje,\n    mensajeBoton: mensajeBoton,\n    medicosPorEspecialidad: medicosPorEspecialidad,\n    totalEspecialidades: especialidadesOrdenadas.length,\n    totalMedicos: items.length,\n    // Estructura completa para mensaje interactivo\n    interactive_body: mensajeBoton,\n    interactive_button_id: \"menu_principal\",\n    interactive_button_title: \"MENU PRINCIPAL\"\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1552,2192],"id":"daf541a2-ab35-4f47-a3bd-7451ee974456","name":"Msg preparado"},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","workspaceId":"wfe9btuw","projectId":"p304m8tufpug3oy","table":"mhwp4qt6r2d7ymm","returnAll":true,"options":{}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[1328,2192],"id":"743e97d8-6f23-4286-b085-fb9b4be2a6b5","name":"get_medicos1","credentials":{"nocoDbApiToken":{"id":"CERoQkqIgqq5Hzwe","name":"ICLP_MEDICOS"}}},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","workspaceId":"wfe9btuw","projectId":"p304m8tufpug3oy","table":"mi8p2u7tvuplzt5","returnAll":true,"options":{}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[1344,2544],"id":"a4e3ceeb-5777-49be-9c5c-8cdc174931ab","name":"get_especialidades","credentials":{"nocoDbApiToken":{"id":"CERoQkqIgqq5Hzwe","name":"ICLP_MEDICOS"}}},{"parameters":{"jsCode":"// Obtener todas las especialidades\nconst items = $input.all();\n\n// Extraer las especialidades y eliminar duplicados\nconst especialidades = [...new Set(items.map(item => item.json.Especialidad))];\n\n// Ordenar alfabéticamente\nespecialidades.sort();\n\n// Crear el listado formateado para WhatsApp\nconst listadoEspecialidades = especialidades\n  .map((esp, index) => `${index + 1}. ${esp.toUpperCase()}`)\n  .join('\\n');\n\n// Crear el mensaje completo en mayúsculas\nconst mensaje = `🏥 *ESPECIALIDADES DISPONIBLES*\\n\\n📋 *CONTAMOS CON LAS SIGUIENTES ESPECIALIDADES:*\\n\\n${listadoEspecialidades}\\n\\n👇 *PRESIONE SI QUIERE SACAR UN TURNO Y SIGA LAS INDICACIONES*\\n\\n📞 *CONTACTO:*\\n(0221) 4906310\\nLUNES A VIERNES: 8:00-20:00HS`;\n\n// Mensaje para botón interactivo\nconst mensajeBoton = `📋 SACAR UN TURNO O IR AL  MENU PRINCIPAL`;\n\n// Retornar tanto el array como el mensaje\nreturn [{\n  json: {\n    especialidades: especialidades,\n    total: especialidades.length,\n    listadoEspecialidades: listadoEspecialidades,\n    mensaje: mensaje,\n    mensajeBoton: mensajeBoton,\n    // Estructura completa para mensaje interactivo\n    interactive_body: mensajeBoton,\n    interactive_button_id: \"menu_principal\",\n    interactive_button_title: \"MENU PRINCIPAL\"\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,2544],"id":"96519ceb-0561-402b-bce5-92b51e88c08a","name":"Msg preparado1"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Filtro Tipo Mensaje').first().json.contactNumber }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"{{ $('Msg preparado1').item.json.mensajeBoton }}\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"sacar_turno\",\n            \"title\": \"TOMAR TURNO\"\n          }\n        },\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"menu_principal\",\n            \"title\": \"MENU PRINCIPAL\"\n          }\n        }\n      ]\n    }\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,2544],"id":"8df8e911-bff8-402b-b644-90d1ae1cd0af","name":"ENVIA-> MENU-SACAR TURNO","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Filtro Tipo Mensaje').first().json.contactNumber }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"{{ $('Msg preparado').item.json.mensajeBoton }}\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"sacar_turno\",\n            \"title\": \"SACAR TURNO\"\n          }\n        },\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"menu_principal\",\n            \"title\": \"MENU PRINCIPAL\"\n          }\n        }\n      ]\n    }\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1984,2192],"id":"a253c152-5e2d-4bd9-932c-851685bda3bb","name":"ENVIA-> MENU-SACAR TURNO1","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"content":"## INFO GENERAL - ESPECIALIDADES","height":304,"width":992,"color":5},"type":"n8n-nodes-base.stickyNote","position":[1200,2448],"typeVersion":1,"id":"d6a7f070-f3bb-4d2b-a8a5-e6824da78490","name":"Sticky Note3"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"flujo-medicos","leftValue":"={{ $json.tipoFlujo }}","rightValue":"medicos","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"👨‍⚕️ MÉDICOS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"flujo-especialidades","leftValue":"={{ $json.tipoFlujo }}","rightValue":"especialidades","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"🩺 ESPECIALIDADES"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"flujo-directo","leftValue":"={{ $json.esFlujoDirecto }}","rightValue":"","operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"renameOutput":true,"outputKey":"💬 MENSAJE DIRECTO"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[992,2528],"id":"c2d83724-7d8d-4462-905c-a171120feb75","name":"🔀 SWITCH INFO FLUJOS"},{"parameters":{"content":"## INFO GENERAL - OTROS MENSAJES","height":304,"width":992,"color":5},"type":"n8n-nodes-base.stickyNote","position":[1200,2784],"typeVersion":1,"id":"022a0ab6-24d7-46cf-860d-d285fe443493","name":"Sticky Note"},{"parameters":{"operation":"set","key":"=status:{{ $('msg').item.json.body.to }}","value":"={{ $('msg').item.json.estadoActual }}","expire":true,"ttl":600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3184,560],"id":"65009246-8d47-4893-b845-7af772255cea","name":"STATUS:MENU=1","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"jsCode":"\n\nconst contactNumber = $json.contactNumber;\n\n// Mensaje con botones para elegir tipo de turno\nconst mensajeBody = {\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": contactNumber,\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"header\": {\n      \"type\": \"text\",\n      \"text\": \"🫀 INSTITUTO DE CARDIOLOGÍA LA PLATA\"\n    },\n    \"body\": {\n      \"text\": \"Recuerda que MOMENTÁNEAMENTE SOLO DAMOS LOS TURNOS MÁS PRÓXIMOS\\n\\nSi necesita una fecha más lejana elija la opción de administración\"\n    },\n    \"footer\": {\n      \"text\": \"📅 Lun-Vie 8-20hs\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"con-consultorio\",\n            \"title\": \"TURNOS CONSULTORIO\"\n          }\n        },\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"con-estudio\",\n            \"title\": \"TURNOS ESTUDIO\"\n          }\n        },\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"volver-atras\",\n            \"title\": \"MENU PRINCIPAL\"\n          }\n        }\n      ]\n    }\n  }\n};\n\n// Log\nconsole.log('━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━');\nconsole.log('📅 SELECCIONAR TIPO DE TURNO');\nconsole.log('📱 Destinatario:', contactNumber);\nconsole.log('🎯 Estado: TURNOS:TIPO_TURNO');\nconsole.log('━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━');\n\n// Retornar\nreturn [{\n  json: {\n    body: mensajeBody,\n    categoria: 'INICIAR_TOMAR_TURNO',\n    contactNumber: contactNumber,\n    estadoActual: 'TURNOS:TIPO_TURNO'\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2032,1696],"id":"ad3d084f-5b15-4d44-8152-23c4f3bb7146","name":"🎫 Router Gestión Turnos1"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"messaging_product","value":"={{ $json.body.messaging_product }}"},{"name":"recipient_type","value":"={{ $json.body.recipient_type }}"},{"name":"to","value":"={{ $json.body.to }}"},{"name":"type","value":"={{ $json.body.type }}"},{"name":"interactive","value":"={{ $json.body.interactive }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2256,1696],"id":"95627efb-875d-464c-be57-aa5322dc9ad2","name":"PACIENTE REGISTRADO","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"operation":"set","key":"=status:{{ $('msg_clasificador').first().json.contactNumber }}","value":"={{ $('🎫 Router Gestión Turnos1').item.json.estadoActual }}","expire":true,"ttl":600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2496,1696],"id":"7cf07c89-4a04-461b-9882-dc57ae7070fc","name":"⏱️ STATUS PRIMERA VEZ2","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"068a964d-25b6-4a1f-8e05-c47dd2fea4b7","leftValue":"={{ $json.output.ERROR }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6000,16],"id":"49be0202-5819-45ce-9bd0-aab5c51b1ba1","name":"Error informacion de usuario1"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Filter1').first().json.contactNumber }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"preview_url\": false,\n    \"body\": \"⚠️ {{ $json.output.ERROR_MESSAGE }}\"\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6240,-112],"id":"0428e392-e051-48db-948b-d641f1e0816f","name":"⚠️ DATOS INCORRECTOS1","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d4f5d9a-5ad9-495c-82f0-043f7f0ef5d6","leftValue":"={{ $json.output.esta_empadronado }}","rightValue":"verificacion_exitosa","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6448,112],"id":"44558107-4aed-488b-ac6e-0d2d84edd773","name":"Exito1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[5424,-128],"id":"f0b5e659-7ec3-4ca9-be3c-415774533acc","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"ZlcbniUoDvrFqCIJ","name":"OpenRouter ICLP"}}},{"parameters":{"jsonSchemaExample":"{  \n  \"DNI\": \"string\",  \n  \"ERROR\": false,\n  \"ERROR_MESSAGE\": \"\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[5840,-160],"id":"7ac029c9-8762-4529-9956-06f651e566e2","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"=dni usuario :{{ $('Filter1').first().json.message }}","hasOutputParser":true,"options":{"systemMessage":"=# TAREA\n\n- Analizar el contido que llega y ordenarlo en un objeto JSON\n\n{\n  \n  \"DNI\":\"\"\n \n}\n\n# IMPORTANTE\n\n- Debes analizar si el dni esta bien escrito, debe contener entre 7 y 8 digitos ya que los usuarios mayores poseen 7 digitos y los mas actuales 8 digitos.\n- No deben contener espacios"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[5600,16],"id":"cc242a0d-143d-429e-9a09-689a5e286864","name":"AI Agent1"},{"parameters":{"workflowId":{"__rl":true,"value":"oB7pjyME2Gvo5moH","mode":"list","cachedResultName":"SUB - GET_PACIENTE"},"workflowInputs":{"mappingMode":"defineBelow","value":{"dni":"={{ $json.output.DNI || $('DNI').item.json.status.replace('DNI:', '') ||$('YA SE ACTIVO MENU?').item.json.status.replace('DNI:', '')  }}","telefono":"={{ $('Filter1').first().json.contactNumber }}"},"matchingColumns":["dni"],"schema":[{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[6256,240],"id":"02cf07da-bea0-4545-aa8d-b1c5437158f1","name":"Get_Paciente"},{"parameters":{"operation":"set","key":"=DNI:{{ $('Filter1').first().json.contactNumber.replace('+', '') }}","value":"=DNI:{{ $('Get_Paciente').first().json.output.paciente_dni }}","expire":true,"ttl":600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[7008,-48],"id":"718ee584-d494-4f4d-b979-f4cdd155a1bd","name":"DNI","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Filter1').first().json.contactNumber }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"header\": {\n      \"type\": \"text\",\n      \"text\": \"🫀 ICLP - GESTIÓN DE TURNOS\"\n    },\n    \"body\": {\n      \"text\": \"*HOLA {{ $json.output.paciente_nombre }} ✅*\\n\\n*📋 SUS DATOS EN NUESTRO SISTEMA:*\\n\\n👤 *NOMBRE:* *{{ $json.output.paciente_nombre }}*\\n\\n🆔 *DNI:* *{{ $json.output.paciente_dni }}*\\n\\n📞 *TELÉFONO:* *{{ $json.output.paciente_celular }}*\\n\\n✅ *SI LOS DATOS SON CORRECTOS, PRESIONE CONTINUAR*\\n\\n⚠️ *¿HAY ALGÚN ERROR?*\\nCOMUNÍQUESE CON ADMINISTRACIÓN:\\n📞 (0221) 490-6310\"\n    },\n    \"footer\": {\n      \"text\": \"📅 LUN-VIE 8-20HS\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"CONTINUAR\",\n            \"title\": \"CONTINUAR\"\n          }\n        },\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"MENU-PRINCIPAL\",\n            \"title\": \"MENU PRINCIPAL\"\n          }\n        }\n      ]\n    }\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6752,-48],"id":"f3893d57-d476-427f-925f-3b7709630314","name":"✅ DATOS VALIDADOS2","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","workspaceId":"wfe9btuw","projectId":"p304m8tufpug3oy","table":"m1kjf7ed0befl04","returnAll":true,"options":{}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[5008,48],"id":"1ca021c6-3734-4275-9db9-2f05abb2ec24","name":"obra_social","credentials":{"nocoDbApiToken":{"id":"CERoQkqIgqq5Hzwe","name":"ICLP_MEDICOS"}}},{"parameters":{"jsCode":"return {\n    total: $input.all().length,\n    obrasociales: $input.all().map(item => ({\n        Id_os: item.json.Id,\n        nombre_obrasocial: item.json.nombre_obrasocial,\n        obrasocial: item.json.obrasocial\n    }))\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5232,48],"id":"302cc46d-c8ef-42e7-a5c4-3fa798e625d0","name":"Code7"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"validar-dni","leftValue":"={{ $json.categoria }}","rightValue":"VALIDAR_DNI","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"🔍 VALIDAR DNI (IA)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"ingreso-dni-menu","leftValue":"={{ $json.categoria }}","rightValue":"INGRESO_DNI","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"📋 DNI DESDE MENU"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"ingreso-datos","leftValue":"={{ $json.categoria }}","rightValue":"INGRESO_DATOS_PACIENTE","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"📝 INGRESO DATOS"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1808,1776],"id":"d2abe3fd-7370-453b-91a6-7de35ee307da","name":"🔀 SWITCH DATOS PACIENTE"},{"parameters":{"jsCode":"// ============================================\n// MENSAJE: SOLICITAR DNI\n// ============================================\n// Solicita al usuario que ingrese su DNI para validación\n// ============================================\n\nconst contactNumber = $json.contactNumber;\n\n// Mensaje solicitando DNI\nconst mensajeBody = {\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": contactNumber,\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"*📋 PACIENTE REGISTRADO*\\n\\n*PARA CONTINUAR CON SU TURNO, NECESITO SU DNI:*\\n\\n*📝 FORMATO:*\\nENVÍE SOLO SU NÚMERO DE DNI (SIN PUNTOS NI ESPACIOS)\\n\\n*EJEMPLO:*\\n_35987654_\\n\\n👇 *ESCRIBA SU DNI Y ENVÍELO*\"\n    },\n    \"footer\": {\n      \"text\": \"📅 LUN-VIE 8-20HS\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"volver-atras\",\n            \"title\": \"MENU PRINCIPAL\"\n          }\n        }\n      ]\n    }\n  }\n};\n\n// Log\nconsole.log('━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━');\nconsole.log('📝 SOLICITAR DNI');\nconsole.log('📱 Destinatario:', contactNumber);\nconsole.log('🎯 Estado: DATOS:SOLICITAR_DNI');\nconsole.log('━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━');\n\n// Retornar\nreturn [{\n  json: {\n    body: mensajeBody,\n    categoria: 'PACIENTE_REGISTRADO',\n    contactNumber: contactNumber,\n    estadoActual: 'DATOS:SOLICITAR_DNI'\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2736,336],"id":"ecc2bbd0-43cc-455e-8962-4756fd795971","name":"PACIENTE REGISTRADO1"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"messaging_product","value":"={{ $json.body.messaging_product }}"},{"name":"recipient_type","value":"={{ $json.body.recipient_type }}"},{"name":"to","value":"={{ $json.body.to }}"},{"name":"type","value":"={{ $json.body.type }}"},{"name":"interactive","value":"={{ $json.body.interactive }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2960,336],"id":"884034b4-7a4d-4bc0-88fb-1ec491fd8980","name":"SOLICITAR DNI","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"operation":"set","key":"=status:{{ $('msg_clasificador').first().json.contactNumber }}","value":"={{ $('🔀 SWITCH GESTIÓN TURNOS').item.json.estadoActual }}","expire":true,"ttl":600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3184,336],"id":"3d3af60d-a4d4-43a3-a78f-7bae395bffe4","name":"⏱️ STATUS PRIMERA VEZ3","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"068a964d-25b6-4a1f-8e05-c47dd2fea4b7","leftValue":"={{ $json.output.ERROR }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2640,-1712],"id":"36c5ee11-3dbe-40ce-8a68-37b1ae245873","name":"Error informacion de usuario"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Variables').item.json.contactNumber }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"preview_url\": false,\n    \"body\": \"⚠️ {{ $json.output.ERROR_MESSAGE }}\"\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2880,-1840],"id":"0bf599b8-473a-442f-b76e-ebc2637481c2","name":"⚠️ DATOS INCORRECTOS","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d4f5d9a-5ad9-495c-82f0-043f7f0ef5d6","leftValue":"={{ $json.output.esta_empadronado }}","rightValue":"verificacion_exitosa","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3088,-1616],"id":"604fd048-eada-4a6a-81bf-2ae6ada07e09","name":"Exito"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2064,-1856],"id":"85ff4eba-251d-48e5-a2ad-c5ad24207aec","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"ZlcbniUoDvrFqCIJ","name":"OpenRouter ICLP"}}},{"parameters":{"jsonSchemaExample":"{  \n  \"DNI\": \"string\",  \n  \"ERROR\": false,\n  \"ERROR_MESSAGE\": \"\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2480,-1888],"id":"c1ba7b57-6ac9-4667-9953-c61526cc5835","name":"Structured Output Parser1"},{"parameters":{"promptType":"define","text":"=dni usuario :{{ $('🔀 ROUTER PRINCIPAL').first().json.mensaje }}","hasOutputParser":true,"options":{"systemMessage":"=# TAREA\n\n- Analizar el contido que llega y ordenarlo en un objeto JSON\n\n{\n  \n  \"DNI\":\"\"\n \n}\n\n# IMPORTANTE\n\n- Debes analizar si el dni esta bien escrito, debe contener entre 7 y 8 digitos ya que los usuarios mayores poseen 7 digitos y los mas actuales 8 digitos.\n- No deben contener espacios"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[2240,-1712],"id":"d3245d33-53b0-43b7-9de2-6970f16405e0","name":"AI Agent"},{"parameters":{"workflowId":{"__rl":true,"value":"oB7pjyME2Gvo5moH","mode":"list","cachedResultName":"SUB - GET_PACIENTE"},"workflowInputs":{"mappingMode":"defineBelow","value":{"dni":"={{ $json.output.DNI || $('DNI1').item.json.status.replace('DNI:', '') ||$('YA SE ACTIVO MENU?').item.json.status.replace('DNI:', '')  }}","telefono":"={{ $('Variables').first().json.contactNumber }}"},"matchingColumns":["dni"],"schema":[{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2896,-1488],"id":"93422bb5-f62b-45cf-b757-b4b965c059db","name":"Get_Paciente1"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Variables').first().json.contactNumber }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"header\": {\n      \"type\": \"text\",\n      \"text\": \"🫀 ICLP - GESTIÓN DE TURNOS\"\n    },\n    \"body\": {\n      \"text\": \"*HOLA {{ $json.output.paciente_nombre }} ✅*\\n\\n*📋 SUS DATOS EN NUESTRO SISTEMA:*\\n\\n👤 *NOMBRE:* *{{ $json.output.paciente_nombre }}*\\n\\n🆔 *DNI:* *{{ $json.output.paciente_dni }}*\\n\\n📞 *TELÉFONO:* *{{ $json.output.paciente_celular }}*\\n\\n✅ *SI LOS DATOS SON CORRECTOS, PRESIONE CONTINUAR*\\n\\n⚠️ *¿HAY ALGÚN ERROR?*\\nCOMUNÍQUESE CON ADMINISTRACIÓN:\\n📞 (0221) 490-6310\"\n    },\n    \"footer\": {\n      \"text\": \"📅 LUN-VIE 8-20HS\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"CONTINUAR\",\n            \"title\": \"CONTINUAR\"\n          }\n        },\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"MENU-PRINCIPAL\",\n            \"title\": \"MENU PRINCIPAL\"\n          }\n        }\n      ]\n    }\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3296,-1760],"id":"994db28e-c554-4f3b-9720-725854d958d7","name":"✅ DATOS VALIDADOS","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","workspaceId":"wfe9btuw","projectId":"p304m8tufpug3oy","table":"m1kjf7ed0befl04","returnAll":true,"options":{}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[1728,-1712],"id":"1c1bf86d-87b1-457f-9d95-9ed60b4bbf7b","name":"obra_social1","credentials":{"nocoDbApiToken":{"id":"CERoQkqIgqq5Hzwe","name":"ICLP_MEDICOS"}}},{"parameters":{"jsCode":"return {\n    total: $input.all().length,\n    obrasociales: $input.all().map(item => ({\n        Id_os: item.json.Id,\n        nombre_obrasocial: item.json.nombre_obrasocial,\n        obrasocial: item.json.obrasocial\n    }))\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1952,-1712],"id":"2336d331-cb28-4583-913b-e808cfe87fe7","name":"Code8"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Variables').first().json.contactNumber }}","sessionTTL":600,"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[2064,-1440],"id":"0fb578ec-250c-460d-ba65-a9235310d642","name":"Redis Chat Memory","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"jsCode":"// ============================================\n// MENSAJE: DNI NO ENCONTRADO\n// ============================================\n// Mensaje cuando el DNI es válido pero no está registrado\n// ============================================\n\nconst contactNumber = $json.contactNumber || $('Variables').first().json.contactNumber;\nconst dni = $json.dni || $json.mensaje;\n\n// Mensaje de DNI no encontrado\nconst mensajeBody = {\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": contactNumber,\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"header\": {\n      \"type\": \"text\",\n      \"text\": \"⚠️ DNI NO REGISTRADO\"\n    },\n    \"body\": {\n      \"text\": `❌ *DNI NO ENCONTRADO*\\n\\n🆔 *DNI INGRESADO:* ${dni}\\n\\n*El DNI que ingresaste no se encuentra registrado en nuestro sistema.*\\n\\n📋 *¿QUÉ HACER?*\\n\\n🔄 *¿TE EQUIVOCASTE AL ESCRIBIR EL DNI?*\\nSimplemente vuelve a escribir tu DNI correcto (sin puntos ni espacios) y lo verificaremos nuevamente.\\n\\n💬 *¿ES TU PRIMERA VEZ?*\\nRegresa al menú principal y selecciona \"NUEVO PACIENTE\" para registrarte.\\n\\n🏢 *¿CREES QUE HAY UN ERROR?*\\nContacta con Administración y te ayudaremos.\\n\\n📞 Teléfono: (0221) 490-6310\\n⏰ Lun-Vie 8-20hs | Sáb 8-13hs`\n    },\n    \"footer\": {\n      \"text\": \"👇 Selecciona una opción o escribe tu DNI\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"menu-principal\",\n            \"title\": \"MENU PRINCIPAL\"\n          }\n        },\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"contactar-admin\",\n            \"title\": \"🏢 ADMINISTRACION\"\n          }\n        }\n      ]\n    }\n  }\n};\n\n// Log\nconsole.log('━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━');\nconsole.log('⚠️ DNI NO ENCONTRADO');\nconsole.log('📱 Destinatario:', contactNumber);\nconsole.log('🆔 DNI:', dni);\nconsole.log('━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━');\n\n// Retornar\nreturn [{\n  json: {\n    body: mensajeBody,\n    categoria: 'DNI_NO_ENCONTRADO',\n    contactNumber: contactNumber,\n    dni: dni,\n    estadoActual: 'DATOS:SOLICITAR_DNI'  // Mantener estado para reintentar\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3328,-1488],"id":"3315cc3d-0b18-4910-a62e-45853a4c1c59","name":"Code1"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"messaging_product","value":"={{ $json.body.messaging_product }}"},{"name":"recipient_type","value":"={{ $json.body.recipient_type }}"},{"name":"to","value":"={{ $json.body.to }}"},{"name":"type","value":"={{ $json.body.type }}"},{"name":"interactive","value":"={{ $json.body.interactive }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3520,-1488],"id":"12cf96b7-ca98-4ad3-ba1b-1b91e032d9a8","name":"DNI INCORRECTO","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"operation":"set","key":"=status:{{ $('Variables').first().json.contactNumber }}","value":"=DATOS:DNI_VALIDADO:{{ $('Get_Paciente1').item.json.output.paciente_dni }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3504,-1760],"id":"73f4850a-c918-44de-85b8-ebe3fc6b2db2","name":"DNI VERIFICADO","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"set","key":"=status:{{ $('Variables').first().json.contactNumber }}","value":"=DATOS:DNI_VALIDADO:{{ $('Get_Paciente1').item.json.output.paciente_dni }}","expire":true,"ttl":600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3728,-1488],"id":"7a89faa9-17df-46d8-997b-8b1641a05dd1","name":"DNI INCORRECTO1","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"estado-solicitar-dni","leftValue":"={{ $json.categoria }}","rightValue":"=VALIDAR_DNI","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"🔍 VALIDAR DNI (IA)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"menu-inicial","leftValue":"={{ $json.categoria }}","rightValue":"MENU_INICIAL","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"🏠 MENU INICIAL"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"nav-turnos","leftValue":"={{ $json.categoria }}","rightValue":"NAV_TURNOS","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"📅 NAVEGACIÓN TURNOS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"nav-info","leftValue":"={{ $json.categoria }}","rightValue":"NAV_INFO","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ℹ️ NAVEGACIÓN INFO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"nav-admin","leftValue":"={{ $json.categoria }}","rightValue":"NAV_ADMIN","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"🏢 ADMINISTRACIÓN"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"derivar-humano","leftValue":"={{ $json.categoria }}","rightValue":"DERIVAR_HUMANO","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"👤 DERIVAR HUMANO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"gestion-turnos","leftValue":"={{ ['NUEVO_PACIENTE', 'PACIENTE_REGISTRADO', 'INICIAR_TOMAR_TURNO', 'CONFIRMAR_DATOS_DNI', 'INICIAR_CANCELAR_TURNO', 'LISTAR_MIS_TURNOS', 'TURNO_CONSULTORIO', 'TURNO_ESTUDIO'].includes($json.categoria) }}\n","rightValue":"","operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"renameOutput":true,"outputKey":"🎫 GESTIÓN TURNOS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"selecciones","leftValue":"={{ ['SELECCION_ESPECIALIDAD', 'SELECCION_MEDICO', 'SELECCION_HORARIO', 'VER_MAS_ESPECIALIDADES'].includes($json.categoria) }}","rightValue":"","operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"renameOutput":true,"outputKey":"📋 SELECCIONES"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"datos-paciente","leftValue":"={{ ['INGRESO_DNI', 'INGRESO_DATOS_PACIENTE'].includes($json.categoria) }}","rightValue":"","operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"renameOutput":true,"outputKey":"📝 DATOS PACIENTE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"confirmaciones","leftValue":"={{ $json.categoria.includes('CONFIRMAR') || $json.categoria.includes('CONTINUAR') }}","rightValue":"","operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"renameOutput":true,"outputKey":"✅ CONFIRMACIONES"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"info-opciones","leftValue":"={{ $json.categoria.startsWith('INFO_') }}","rightValue":"","operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"renameOutput":true,"outputKey":"💡 INFO OPCIONES"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"volver","leftValue":"={{ $json.categoria }}","rightValue":"VOLVER_ATRAS","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"⬅️ VOLVER"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[864,-48],"id":"2c81164a-f6d8-47f3-9972-276f336da75b","name":"🔀 ROUTER PRINCIPAL"},{"parameters":{"jsCode":"// ============================================\n// MENSAJE: SELECCIONAR TIPO DE TURNO\n// ============================================\n// Muestra las opciones: Turnos Consultorio o Turnos Estudio\n// ============================================\n\nconst contactNumber = $json.contactNumber;\n\n// Mensaje con botones para elegir tipo de turno\nconst mensajeBody = {\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": contactNumber,\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"header\": {\n      \"type\": \"text\",\n      \"text\": \"🫀 INSTITUTO DE CARDIOLOGÍA LA PLATA\"\n    },\n    \"body\": {\n      \"text\": \"Recuerda que MOMENTÁNEAMENTE SOLO DAMOS LOS TURNOS MÁS PRÓXIMOS\\n\\nSi necesita una fecha más lejana elija la opción de administración\"\n    },\n    \"footer\": {\n      \"text\": \"📅 Lun-Vie 8-20hs\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"con-consultorio\",\n            \"title\": \"TURNOS CONSULTORIO\"\n          }\n        },\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"con-estudio\",\n            \"title\": \"TURNOS ESTUDIO\"\n          }\n        },\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"volver-atras\",\n            \"title\": \"MENU PRINCIPAL\"\n          }\n        }\n      ]\n    }\n  }\n};\n\n// Log\nconsole.log('━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━');\nconsole.log('📅 SELECCIONAR TIPO DE TURNO');\nconsole.log('📱 Destinatario:', contactNumber);\nconsole.log('🎯 Estado: TURNOS:TIPO_TURNO');\nconsole.log('━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━');\n\n// Retornar\nreturn [{\n  json: {\n    body: mensajeBody,\n    categoria: 'INICIAR_TOMAR_TURNO',\n    contactNumber: contactNumber,\n    estadoActual: 'TURNOS:TIPO_TURNO'\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2736,560],"id":"8a0cef42-f45e-487a-b298-bd35eef350ba","name":"msg"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"messaging_product","value":"={{ $json.body.messaging_product }}"},{"name":"recipient_type","value":"={{ $json.body.recipient_type }}"},{"name":"to","value":"={{ $json.body.to }}"},{"name":"type","value":"={{ $json.body.type }}"},{"name":"interactive","value":"={{ $json.body.interactive }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2960,560],"id":"2b009323-dd80-4df9-8fd6-ddd72fdc1d38","name":"[MENU] - TURNOS","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"operation":"set","key":"=status:{{ $('LISTA_ESPECIALIDADES_BLOQUES').item.json.to }}","value":"={{ $('LISTA_ESPECIALIDADES_BLOQUES').item.json.estadoActual }}","expire":true,"ttl":600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3408,784],"id":"92db1650-1a41-458a-a712-fb1bd9d6a576","name":"ESPECIALIDADES1","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"messaging_product","value":"={{ $json.messaging_product }}"},{"name":"recipient_type","value":"={{ $json.recipient_type }}"},{"name":"to","value":"={{ $json.to }}"},{"name":"type","value":"={{ $json.type }}"},{"name":"interactive","value":"={{ $json.interactive }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3184,784],"id":"3f828dec-b753-47f6-8cd9-1dae9a15d7de","name":"🩻 ESPECIALIDADES1","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","workspaceId":"wfe9btuw","projectId":"p304m8tufpug3oy","table":"mi8p2u7tvuplzt5","returnAll":true,"options":{"sort":{"property":[{"field":"Especialidad"}]}}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[2736,784],"id":"2981e37f-0ede-4c94-893c-fc6ccd1cf360","name":"Get_Especialidades1","credentials":{"nocoDbApiToken":{"id":"CERoQkqIgqq5Hzwe","name":"ICLP_MEDICOS"}}},{"parameters":{"jsCode":"// ============================================\n// LISTA DE ESPECIALIDADES CON BLOQUES\n// ============================================\n// Divide las especialidades en dos bloques:\n// - Primer bloque: 9 especialidades + botón VER MÁS\n// - Segundo bloque: Especialidades restantes\n// ============================================\n\n// Obtener todas las especialidades del input\nconst items = $input.all();\n\n// Obtener contactNumber desde múltiples fuentes posibles\nlet contactNumber;\ntry {\n  // Intentar obtener del nodo clasificador\n  contactNumber = $('msg_clasificador').first().json.contactNumber;\n} catch (e) {\n  try {\n    // Si no, intentar del router principal\n    contactNumber = $('ROUTER PRINCIPAL').first().json.contactNumber;\n  } catch (e2) {\n    try {\n      // Si no, intentar del switch gestión turnos\n      contactNumber = $('SWITCH GESTIÓN TURNOS').first().json.contactNumber;\n    } catch (e3) {\n      // Último recurso: buscar en cualquier item del input\n      contactNumber = items[0]?.json?.contactNumber || $json.contactNumber;\n    }\n  }\n}\n\n// Verificar el estado actual para determinar qué bloque mostrar\nlet estadoActual;\ntry {\n  estadoActual = $('msg_clasificador').first().json.estadoActual || \n                 $('msg_clasificador').first().json.nuevoEstado || \n                 $json.estadoActual || \n                 $json.nuevoEstado || \n                 'TURNOS:ESPECIALIDADES';\n} catch (e) {\n  estadoActual = $json.estadoActual || $json.nuevoEstado || 'TURNOS:ESPECIALIDADES';\n}\n\nconst esVerMas = estadoActual === 'TURNOS:ESPECIALIDADES:VER_MAS';\n\nconsole.log('━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━');\nconsole.log('🩺 PREPARANDO ESPECIALIDADES');\nconsole.log('📱 Contact Number:', contactNumber);\nconsole.log('📊 Estado actual:', estadoActual);\nconsole.log('📋 Bloque:', esVerMas ? 'VER MÁS (segundo)' : 'PRINCIPAL (primero)');\nconsole.log('📦 Total especialidades:', items.length);\nconsole.log('━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━');\n\n// Crear el array de rows para TODAS las especialidades\nconst todasLasRows = items.map(item => {\n  const especialidad = item.json.Especialidad;\n  const codigo = item.json.Codigo;\n  \n  // Convertir a mayúsculas\n  let nombreEspecialidad = especialidad.toUpperCase();\n  \n  // Si tiene paréntesis, tomar solo lo que está antes\n  if (nombreEspecialidad.includes('(')) {\n    nombreEspecialidad = nombreEspecialidad.split('(')[0].trim();\n  }\n  \n  // Si tiene barra, tomar solo la primera parte\n  if (nombreEspecialidad.includes('/')) {\n    nombreEspecialidad = nombreEspecialidad.split('/')[0].trim();\n  }\n  \n  // Si tiene múltiples palabras, tomar solo la primera palabra\n  if (nombreEspecialidad.includes(' ')) {\n    nombreEspecialidad = nombreEspecialidad.split(' ')[0];\n  }\n  \n  // Crear el title con formato: ESPECIALIDAD-CODIGO\n  let title = `${nombreEspecialidad}-${codigo}`;\n  \n  // Si aún es muy largo, cortar a 24 caracteres\n  if (title.length > 24) {\n    title = title.substring(0, 21) + '...';\n  }\n  \n  // Crear descripción completa\n  let description = especialidad;\n  \n  // WhatsApp permite MÁXIMO 72 caracteres en ROW_DESCRIPTION\n  if (description.length > 72) {\n    description = description.substring(0, 69) + '...';\n  }\n  \n  return {\n    id: codigo,\n    title: title,\n    description: description\n  };\n});\n\n// Dividir en dos bloques\nconst primerBloque = todasLasRows.slice(0, 9);\nconst segundoBloque = todasLasRows.slice(9);\n\n// Seleccionar qué bloque mostrar\nlet rows;\nlet headerText;\nlet bodyText;\nlet nuevoEstado;\n\nif (esVerMas) {\n  // SEGUNDO BLOQUE (VER MÁS)\n  rows = segundoBloque;\n  headerText = \"📋 MÁS ESPECIALIDADES\";\n  bodyText = \"*Estas son las especialidades restantes:*\\n\\n👇 *SELECCIONÁ LA ESPECIALIDAD QUE NECESITÁS*\\n\\nLuego podrás elegir el médico y horario disponible.\";\n  nuevoEstado = 'TURNOS:ESPECIALIDADES:VER_MAS';\n  \n  // Agregar botón \"VOLVER\" para regresar al primer bloque\n  rows.push({\n    id: \"volver-especialidades-anterior\",\n    title: \"⬅️ VER ANTERIORES\",\n    description: \"Regresar a las primeras especialidades\"\n  });\n  \n  console.log('✅ Mostrando segundo bloque:', segundoBloque.length, 'especialidades + botón VOLVER');\n} else {\n  // PRIMER BLOQUE (con botón VER MÁS)\n  rows = primerBloque;\n  headerText = \"🩺 ESPECIALIDADES\";\n  bodyText = \"*📋 ¿CÓMO FUNCIONA?*\\n\\n*1️⃣ ELEGÍ LA ESPECIALIDAD*\\nPRESIONÁ EL BOTÓN Y SELECCIONÁ LA ESPECIALIDAD MÉDICA QUE NECESITÁS\\n\\n*2️⃣ ELEGÍ EL MÉDICO*\\nLUEGO PODRÁS VER Y SELECCIONAR LOS PROFESIONALES DISPONIBLES EN ESA ESPECIALIDAD\\n\\n👇 *PRESIONÁ PARA COMENZAR*\";\n  nuevoEstado = 'TURNOS:ESPECIALIDADES';\n  \n  // Agregar botón \"VER MÁS\" solo si hay más especialidades\n  if (segundoBloque.length > 0) {\n    rows.push({\n      id: \"ver-mas\",\n      title: \"➕ VER MÁS ESPECIALIDADES\",\n      description: \"Ver más opciones disponibles\"\n    });\n    console.log('✅ Mostrando primer bloque:', primerBloque.length, 'especialidades + botón VER MÁS');\n  } else {\n    console.log('✅ Mostrando todas las especialidades:', rows.length, '(no hay botón VER MÁS)');\n  }\n}\n\n// Retornar el JSON completo con la estructura de WhatsApp\nreturn [{\n  json: {\n    messaging_product: \"whatsapp\",\n    recipient_type: \"individual\",\n    to: contactNumber,\n    type: \"interactive\",\n    interactive: {\n      type: \"list\",\n      header: {\n        type: \"text\",\n        text: headerText\n      },\n      body: {\n        text: bodyText\n      },\n      footer: {\n        text: \"📅 LUN-VIE 8-20HS\"\n      },\n      action: {\n        button: \"VER ESPECIALIDADES\",\n        sections: [\n          {\n            title: \"ELEGIR UNA OPCIÓN\",\n            rows: rows\n          }\n        ]\n      }\n    },\n    \n    // Metadatos para el siguiente nodo\n    contactNumber: contactNumber,\n    estadoActual: nuevoEstado,\n    bloqueActual: esVerMas ? 'segundo' : 'primero',\n    totalEspecialidades: todasLasRows.length\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2960,784],"id":"3f3e05bb-766d-4d80-af28-a58ac6170d5c","name":"LISTA_ESPECIALIDADES_BLOQUES"},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","workspaceId":"wfe9btuw","projectId":"p304m8tufpug3oy","table":"mhwp4qt6r2d7ymm","returnAll":true,"options":{"fields":[],"where":"=(Codigo,eq,{{ $json.metadata.codigoEspecialidad }})"}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[2736,1040],"id":"bd947efa-7c29-4405-92a1-4b51f0926b6b","name":"get_medicos2","credentials":{"nocoDbApiToken":{"id":"CERoQkqIgqq5Hzwe","name":"ICLP_MEDICOS"}}},{"parameters":{"operation":"set","key":"=status:{{ $('LISTA_MEDICOS').item.json.to }}","value":"={{ $('LISTA_MEDICOS').first().json.estadoActual }}","expire":true,"ttl":600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3408,1040],"id":"e5af7b92-7091-40da-a289-2ee245883866","name":"🩺 MEDICOS2","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"jsCode":"// ============================================\n// LISTA DE MÉDICOS POR ESPECIALIDAD\n// ============================================\n// Muestra los médicos disponibles para la especialidad seleccionada\n// ============================================\n\n// Obtener todos los médicos del input\nconst items = $input.all();\n\n// Obtener contactNumber desde múltiples fuentes posibles\nlet contactNumber;\ntry {\n  // Intentar obtener del nodo clasificador\n  contactNumber = $('msg_clasificador').first().json.contactNumber;\n} catch (e) {\n  try {\n    // Si no, intentar del router principal\n    contactNumber = $('ROUTER PRINCIPAL').first().json.contactNumber;\n  } catch (e2) {\n    try {\n      // Si no, intentar del switch gestión turnos\n      contactNumber = $('SWITCH GESTIÓN TURNOS').first().json.contactNumber;\n    } catch (e3) {\n      // Último recurso: buscar en cualquier item del input\n      contactNumber = items[0]?.json?.contactNumber || $json.contactNumber;\n    }\n  }\n}\n\n// Obtener estado actual y metadata\nlet estadoActual;\nlet especialidadSeleccionada;\nlet codigoEspecialidad;\ntry {\n  const clasificador = $('msg_clasificador').first().json;\n  estadoActual = clasificador.estadoActual || clasificador.nuevoEstado || 'TURNOS:MEDICOS';\n  especialidadSeleccionada = clasificador.metadata?.especialidad || 'Especialidad';\n  codigoEspecialidad = clasificador.metadata?.codigoEspecialidad || '';\n} catch (e) {\n  estadoActual = $json.estadoActual || $json.nuevoEstado || 'TURNOS:MEDICOS';\n  especialidadSeleccionada = $json.especialidad || 'Especialidad';\n  codigoEspecialidad = $json.codigoEspecialidad || '';\n}\n\nconsole.log('━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━');\nconsole.log('👨‍⚕️ PREPARANDO LISTA DE MÉDICOS');\nconsole.log('📱 Contact Number:', contactNumber);\nconsole.log('📊 Estado actual:', estadoActual);\nconsole.log('🩺 Especialidad:', especialidadSeleccionada);\nconsole.log('🔢 Código especialidad:', codigoEspecialidad);\nconsole.log('📦 Total médicos:', items.length);\nconsole.log('━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━');\n\n// Determinar qué bloque mostrar basado en el estado\nconst MEDICOS_POR_BLOQUE = 9;\nlet indiceInicio = 0;\nlet indiceFin = MEDICOS_POR_BLOQUE;\nlet mostrarBotonVerMas = false;\nlet mostrarBotonVerAnteriores = false;\n\nif (estadoActual === 'TURNOS:MEDICOS') {\n  // Primer bloque: médicos 0-8\n  indiceInicio = 0;\n  indiceFin = MEDICOS_POR_BLOQUE;\n  mostrarBotonVerMas = items.length > MEDICOS_POR_BLOQUE;\n  mostrarBotonVerAnteriores = false;\n  console.log('📍 Mostrando PRIMER BLOQUE (médicos 1-9)');\n} else if (estadoActual === 'TURNOS:MEDICOS:VER_MAS') {\n  // Segundo bloque: médicos 9 en adelante\n  indiceInicio = MEDICOS_POR_BLOQUE;\n  indiceFin = items.length; // Mostrar todos los restantes\n  mostrarBotonVerMas = false;\n  mostrarBotonVerAnteriores = true;\n  console.log(`📍 Mostrando SEGUNDO BLOQUE (médicos ${indiceInicio + 1}-${indiceFin})`);\n}\n\nconsole.log(`🎯 Rango a mostrar: ${indiceInicio} a ${indiceFin}`);\nconsole.log(`➕ Ver Más: ${mostrarBotonVerMas}`);\nconsole.log(`⬅️ Ver Anteriores: ${mostrarBotonVerAnteriores}`);\n\n// Filtrar médicos del bloque actual\nconst medicosBloque = items.slice(indiceInicio, indiceFin);\nconsole.log(`✂️ Médicos filtrados para este bloque: ${medicosBloque.length}`);\n\n// Crear el array de rows dinámicamente\nconst rows = medicosBloque.map(item => {\n  const medico = item.json.Medico;\n  const matricula = item.json.Matricula;\n  \n  // Convertir a mayúsculas\n  let nombreMedico = medico.toUpperCase();\n  \n  // Si tiene paréntesis, tomar solo lo que está antes\n  if (nombreMedico.includes('(')) {\n    nombreMedico = nombreMedico.split('(')[0].trim();\n  }\n  \n  // Si tiene barra, tomar solo la primera parte\n  if (nombreMedico.includes('/')) {\n    nombreMedico = nombreMedico.split('/')[0].trim();\n  }\n  \n  // Si tiene múltiples palabras, tomar solo las primeras 2 palabras\n  const palabras = nombreMedico.split(' ');\n  if (palabras.length > 2) {\n    nombreMedico = palabras.slice(0, 2).join(' ');\n  }\n  \n  // Crear el title con formato: NOMBRE-MATRICULA\n  let title = `${nombreMedico}-${matricula}`;\n  \n  // Si aún es muy largo, cortar a 24 caracteres\n  if (title.length > 24) {\n    title = title.substring(0, 21) + '...';\n  }\n  \n  // Crear descripción completa en mayúsculas\n  let description = medico.toUpperCase();\n  \n  // WhatsApp permite MÁXIMO 72 caracteres en ROW_DESCRIPTION\n  if (description.length > 72) {\n    description = description.substring(0, 69) + '...';\n  }\n  \n  return {\n    id: matricula,\n    title: title,\n    description: description\n  };\n});\n\nconsole.log('✅ Médicos procesados:', rows.length);\n\n// Agregar botones de navegación si es necesario\nconst botonesNavegacion = [];\n\nif (mostrarBotonVerAnteriores) {\n  botonesNavegacion.push({\n    id: 'ver-anteriores',\n    title: '⬅️ VER ANTERIORES',\n    description: 'Ver médicos anteriores'\n  });\n}\n\nif (mostrarBotonVerMas) {\n  botonesNavegacion.push({\n    id: 'ver-mas',\n    title: '➕ VER MÁS MÉDICOS',\n    description: 'Ver más médicos disponibles'\n  });\n}\n\n// Agregar botones al final de las rows\nconst rowsFinales = [...rows, ...botonesNavegacion];\nconsole.log(`🔘 Botones agregados: ${botonesNavegacion.length}`);\n\n// Preparar texto del body según el bloque\nlet bodyText;\nif (estadoActual === 'TURNOS:MEDICOS') {\n  bodyText = `*✅ ENCONTRAMOS ${items.length} MÉDICO${items.length > 1 ? 'S' : ''} DISPONIBLE${items.length > 1 ? 'S' : ''}*\\n\\n*🩺 ESPECIALIDAD:*\\n${especialidadSeleccionada}\\n\\n*👇 MOSTRANDO ${medicosBloque.length} DE ${items.length} PROFESIONALES:*`;\n} else {\n  bodyText = `*👨‍⚕️ MÁS PROFESIONALES DISPONIBLES*\\n\\n*🩺 ESPECIALIDAD:*\\n${especialidadSeleccionada}\\n\\n*👇 MOSTRANDO MÉDICOS ${indiceInicio + 1} AL ${indiceFin} (TOTAL: ${items.length}):*`;\n}\n\n// Retornar el JSON completo con la estructura de WhatsApp\nreturn [{\n  json: {\n    messaging_product: \"whatsapp\",\n    recipient_type: \"individual\",\n    to: contactNumber,\n    type: \"interactive\",\n    interactive: {\n      type: \"list\",\n      header: {\n        type: \"text\",\n        text: \"👨‍⚕️ PROFESIONALES\"\n      },\n      body: {\n        text: bodyText\n      },\n      footer: {\n        text: \"📅 LUN-VIE 8-20HS\"\n      },\n      action: {\n        button: \"VER MÉDICOS\",\n        sections: [\n          {\n            title: \"ELEGIR PROFESIONAL\",\n            rows: rowsFinales\n          }\n        ]\n      }\n    },\n    \n    // Metadatos para el siguiente nodo\n    contactNumber: contactNumber,\n    estadoActual: estadoActual,\n    especialidadSeleccionada: especialidadSeleccionada,\n    codigoEspecialidad: codigoEspecialidad,\n    totalMedicos: items.length,\n    medicosMostrados: medicosBloque.length\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2960,1040],"id":"d31673de-2d91-4349-9ccc-d82931bb9283","name":"LISTA_MEDICOS"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"messaging_product","value":"={{ $json.messaging_product }}"},{"name":"recipient_type","value":"={{ $json.recipient_type }}"},{"name":"to","value":"={{ $json.to }}"},{"name":"type","value":"={{ $json.type }}"},{"name":"interactive","value":"={{ $json.interactive }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3184,1040],"id":"e3338fb9-f018-4f9b-95b7-d326b1cb618a","name":"Medicos2","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"workflowId":{"__rl":true,"value":"kmoVJGP4RL3PTi16","mode":"list","cachedResultName":"SUB - HORARIOS_TURNOS_PROXIMOS"},"workflowInputs":{"mappingMode":"defineBelow","value":{"matricula":"={{ $json.matricula }}","dni":"={{ $json.dni }}","fechaDesde":"={{ $json.fecha }}"},"matchingColumns":[],"schema":[{"id":"matricula","displayName":"matricula","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"fechaDesde","displayName":"fechaDesde","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2976,1264],"id":"b5c8709d-2468-4435-9b29-6f17a28d8aaf","name":"📅 Horarios Proximos"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"messaging_product","value":"={{ $json.messaging_product }}"},{"name":"recipient_type","value":"={{ $json.recipient_type }}"},{"name":"to","value":"={{ $json.to }}"},{"name":"type","value":"={{ $json.type }}"},{"name":"interactive","value":"={{ $json.interactive }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3408,1264],"id":"fee38fc6-e9b0-4e14-a0f5-4bdb01aeef72","name":"🕐 Fechas disponibles ","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"jsCode":"// Obtener todos los horarios del input\nconst fechasLibres = $input.first().json.fechas_libres;\n\n// Si no hay fechas disponibles, devolver mensaje con botones\nif (!fechasLibres || fechasLibres.length === 0) {\n  return [{\n    json: {\n      messaging_product: \"whatsapp\",\n      recipient_type: \"individual\",\n      to: $('Filter1').first().json.contactNumber,\n      type: \"interactive\",\n      interactive: {\n        type: \"button\",\n        header: {\n          type: \"text\",\n          text: \"❌ SIN TURNOS DISPONIBLES\"\n        },\n        body: {\n          text: \"*LO SENTIMOS, NO HAY TURNOS DISPONIBLES EN ESTE MOMENTO*\\n\\n*💙 CONTACTANOS DIRECTAMENTE:*\\n📞 *(0221) 490-6310*\\n📅 *LUN-VIE 8-20HS*\"\n        },\n        footer: {\n          text: \"❤️ CUIDAMOS TU SALUD CARDIOVASCULAR\"\n        },\n        action: {\n          buttons: [\n                     {\n              type: \"reply\",\n              reply: {\n                id: \"menu-principal\",\n                title: \"MENU PRINCIPAL\"\n              }\n            }\n          ]\n        }\n      }\n    }\n  }];\n}\n\n// Limitar a máximo 9 horarios\nconst fechasLimitadas = fechasLibres.slice(0, 9);\n\n// Crear el array de rows dinámicamente\nconst rows = fechasLimitadas.map(item => {\n  // Obtener la fecha y hora del formato \"2025-10-14,\\n 11:20\"\n  const fechaHoraRaw = item.fecha_y_hora;\n  \n  // Limpiar y separar fecha y hora\n  const [fecha, hora] = fechaHoraRaw.replace(/\\n/g, '').split(',').map(s => s.trim());\n  \n  // Crear objeto DateTime\n  const dt = DateTime.fromISO(`${fecha}T${hora}`, { \n    zone: 'America/Argentina/Buenos_Aires' \n  });\n  \n  // Obtener día de la semana en español\n  const diasSemana = ['DOM', 'LUN', 'MAR', 'MIÉ', 'JUE', 'VIE', 'SÁB'];\n  const diaSemana = diasSemana[dt.weekday % 7];\n  \n  // Formatear fecha como DD/MM\n  const fechaFormateada = dt.toFormat('dd/MM');\n  \n  // Crear el title: DÍA DD/MM - HH:MM\n  let title = `${diaSemana} ${fechaFormateada} - ${hora}`;\n  \n  // Si aún es muy largo, cortar a 24 caracteres\n  if (title.length > 24) {\n    title = title.substring(0, 21) + '...';\n  }\n  \n  // Crear descripción completa EN MAYÚSCULAS\n  let description = `${diaSemana} ${dt.toFormat('dd/MM/yyyy')} A LAS ${hora} HS`;\n  \n  // WhatsApp permite MÁXIMO 72 caracteres en ROW_DESCRIPTION\n  if (description.length > 72) {\n    description = description.substring(0, 69) + '...';\n  }\n  \n  // ID único: combinar fecha y hora sin separadores\n  const id = `${fecha.replace(/-/g, '')}-${hora.replace(/:/g, '')}`;\n  \n  return {\n    id: id,\n    title: title,\n    description: description\n  };\n});\n\n// Retornar el JSON completo con la estructura de WhatsApp\nreturn [{\n  json: {\n    messaging_product: \"whatsapp\",\n    recipient_type: \"individual\",\n    to: $('Filter1').first().json.contactNumber,\n    type: \"interactive\",\n    interactive: {\n      type: \"list\",\n      header: {\n        type: \"text\",\n        text: \"🏥 TURNOS DISPONIBLES\"\n      },\n      body: {\n        text: `*ENCONTRAMOS ${fechasLimitadas.length} TURNO${fechasLimitadas.length > 1 ? 'S' : ''} DISPONIBLE${fechasLimitadas.length > 1 ? 'S' : ''}*\\n\\n*📅 SELECCIONÁ LA FECHA Y HORA DE TU PREFERENCIA*\\n\\n👇 *TOCÁ EL BOTÓN PARA VER LOS HORARIOS*`\n      },\n      footer: {\n        text: \"❤️ ICLP - INSTITUTO CARDIOLÓGICO\"\n      },\n      action: {\n        button: \"VER TURNOS\",\n        sections: [\n          {\n            title: \"SELECCIONAR TURNO\",\n            rows: rows\n          }\n        ]\n      }\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3184,1264],"id":"b88e5a82-2539-4fd1-84c4-24fd18ebeae6","name":"🕐 LISTA-HORARIOS"},{"parameters":{"operation":"set","key":"=status:{{ $('Filter1').first().json.contactNumber }}","value":"HORARIOS=1","expire":true,"ttl":600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3632,1264],"id":"5c540310-421f-4bd5-83f3-3547156813bc","name":"🩺 MEDICOS1","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"jsCode":"// Obtener datos del nodo get_datos_usuario\nconst inputData = $('DATOS_PACIENTE:').first().json;\nconsole.log('Input completo:', JSON.stringify(inputData, null, 2));\n\n// Intentar diferentes rutas para encontrar el DNI\nlet dni = null;\n\n// Opción 1: Datos.paciente_dni\nif (inputData.Datos && inputData.Datos.paciente_dni) {\n  dni = Number(inputData.Datos.paciente_dni);\n  console.log('DNI encontrado en Datos.paciente_dni:', dni);\n}\n// Opción 2: paciente_dni directo\nelse if (inputData.paciente_dni) {\n  dni = Number(inputData.paciente_dni);\n  console.log('DNI encontrado en paciente_dni:', dni);\n}\n// Opción 3: DNI directo (sin objeto Datos)\nelse if (inputData.DNI) {\n  dni = Number(inputData.DNI);\n  console.log('DNI encontrado en DNI directo:', dni);\n}\n// Opción 4: Datos como string que hay que parsear\nelse if (typeof inputData.Datos === 'string') {\n  try {\n    const datosParsed = JSON.parse(inputData.Datos);\n    dni = Number(datosParsed.paciente_dni);\n    console.log('DNI encontrado parseando Datos:', dni);\n  } catch (error) {\n    console.log('Error al parsear Datos:', error.message);\n    console.log('Datos sin parsear:', inputData.Datos);\n    // Intentar extraer DNI si tiene formato \"DNI:35946257\"\n    if (inputData.Datos.includes(':')) {\n      dni = Number(inputData.Datos.split(':')[1].trim());\n      console.log('DNI extraído del formato DNI:valor:', dni);\n    }\n  }\n}\n\nconsole.log('DNI final:', dni);\n\n// Validar que se encontró el DNI\nif (!dni || isNaN(dni)) {\n  throw new Error('No se pudo encontrar el DNI en los datos de entrada');\n}\n\n// Obtener el mensaje que contiene NOMBRE-MATRICULA\nconst mensaje = $('Filter1').first().json.message;\n\n// Extraer solo la MATRICULA (número después del guión)\nconst matricula = Number(mensaje.split('-').pop().trim());\n\n// Obtener la fecha actual en formato yyyyMMdd\nconst fecha = Number(DateTime.now()\n  .setZone('America/Argentina/Buenos_Aires')\n  .toFormat('yyyyMMdd'));\n\n// Retornar el resultado\nreturn [{\n  json: {\n    dni: dni,\n    matricula: matricula,\n    fecha: fecha\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2736,1264],"id":"57f4d294-6736-46c0-b283-a508b0bbdf87","name":"Code2"},{"parameters":{"operation":"set","key":"=DNI:{{ $('Variables').first().json.contactNumber }}","value":"={{ $('Get_Paciente1').item.json.output.paciente_dni.toString() }}","expire":true,"ttl":14400},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3728,-1760],"id":"1f13cdea-d39b-4e92-b792-9c8f9da06087","name":"DNI_PERMANENTE","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"DNI","key":"=DNI:{{ $json.contactNumber }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2432,1264],"id":"8b647559-7ce4-47ea-937b-943a28d16200","name":"DATOS","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d1b9696-f935-4e73-91ea-ff5b6429ad5e","leftValue":"={{ $json.contactNumber === \n'+5492254596618'}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1408,48],"id":"23930459-aed3-4418-a7b9-87afe0b2b2f7","name":"If1"},{"parameters":{"method":"POST","url":"={{ $('Variables').item.json.chatwootUrl }}/api/v1/accounts/{{ $('Variables').item.json.accountId }}/conversations/{{ $('Variables').item.json.conversationId }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Variables').item.json.agenteBotTokenWhatsapp }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=🛠️🏥 ESTAMOS TRABAJANDO EN LA AUTOMATIZACIÓN DE LA CLÍNICA\n☎️ *ADMINISTRACIÓN:* 221 490 6310\n🤝 DISCULPÁ LAS MOLESTIAS"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1088,240],"id":"27b88e90-a266-4c9d-853e-c6353bd4cd75","name":"sendRespondCw1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"nuevo-paciente","leftValue":"={{ $json.categoria }}","rightValue":"NUEVO_PACIENTE","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"➕ NUEVO PACIENTE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"paciente-registrado","leftValue":"={{ $json.categoria }}","rightValue":"PACIENTE_REGISTRADO","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"✅ PACIENTE REGISTRADO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"tomar-turno","leftValue":"={{ ['INICIAR_TOMAR_TURNO', 'CONFIRMAR_DATOS_DNI'].includes($json.categoria) }}","rightValue":"","operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"renameOutput":true,"outputKey":"📅 TOMAR TURNO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cancelar-turno","leftValue":"={{ $json.categoria }}","rightValue":"INICIAR_CANCELAR_TURNO","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"❌ CANCELAR TURNO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"listar-turnos","leftValue":"={{ $json.categoria }}","rightValue":"LISTAR_MIS_TURNOS","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"📋 MIS TURNOS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"turno-consultorio","leftValue":"={{ $json.categoria }}","rightValue":"TURNO_CONSULTORIO","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"🩺 TURNO CONSULTORIO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"turno-estudio","leftValue":"={{ $json.categoria }}","rightValue":"TURNO_ESTUDIO","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"🔬 TURNO ESTUDIO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"ver-mas-especialidades","leftValue":"={{ $json.categoria }}","rightValue":"VER_MAS_ESPECIALIDADES","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"➕ VER MÁS ESPECIALIDADES"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"ver-mas-medicos","leftValue":"={{ $json.categoria }}","rightValue":"VER_MAS_MEDICOS","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"➕ VER MÁS MÉDICOS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"seleccion-especialidad","leftValue":"={{ $json.categoria }}","rightValue":"SELECCION_ESPECIALIDAD","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"🩺 SELECCIÓN ESPECIALIDAD"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"seleccion-medico","leftValue":"={{ $json.categoria }}","rightValue":"SELECCION_MEDICO","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"👨‍⚕️ SELECCIÓN MÉDICO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"seleccion-horario","leftValue":"={{ $json.categoria }}","rightValue":"SELECCION_HORARIO","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"⏰ SELECCIÓN HORARIO"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1728,192],"id":"08575102-ee0b-4a50-adb6-87adff76cd7d","name":"🔀 SWITCH GESTIÓN TURNOS"},{"parameters":{"jsCode":"// ============================================\n// REDIS GET - PARSER\n// ============================================\n// Parsea el JSON almacenado en Redis para extraer:\n// - status (estadoActual)\n// - metadata (codigoEspecialidad, dni, etc.)\n// ============================================\n\nconst redisOutput = $input.first().json.status; // Viene del nodo Redis GET\n\nlet estado = null;\nlet metadata = {};\n\n// Si Redis devuelve algo, parsearlo\nif (redisOutput) {\n  try {\n    // Intentar parsear como JSON\n    const parsed = JSON.parse(redisOutput);\n    estado = parsed.status || null;\n    metadata = parsed.metadata || {};\n    \n    console.log('✅ Redis parseado correctamente');\n    console.log('📊 Estado:', estado);\n    console.log('📦 Metadata:', JSON.stringify(metadata));\n  } catch (e) {\n    // Si no es JSON válido, usar el valor directo como estado\n    console.log('⚠️ Redis no es JSON, usando valor directo');\n    estado = redisOutput;\n    metadata = {};\n  }\n} else {\n  console.log('ℹ️ Redis vacío (primera conversación)');\n  estado = null;\n  metadata = {};\n}\n\n// Retornar en formato que msg_clasificador espera\nreturn [{\n  json: {\n    status: estado,           // Estado actual para el clasificador\n    metadata: metadata,       // Metadata preservado\n    contactNumber: $('Filtro Tipo Mensaje').first().json.contactNumber\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-416,112],"id":"f239c8e3-4f6d-4b9d-b7a3-7c640fab09fb","name":"Parsear Redis"},{"parameters":{"jsCode":"// ============================================\n// REDIS SET - PREPARADOR\n// ============================================\n// Prepara los datos que se guardarán en Redis:\n// - status (estadoActual)\n// - metadata (codigoEspecialidad, dni, especialidad, etc.)\n// - timestamp\n// ============================================\n\nconst contactNumber = $json.contactNumber;\nconst estadoActual = $json.estadoActual || $json.nuevoEstado;\nconst metadata = $json.metadata || {};\n\n// Construir el valor a guardar en Redis (formato JSON)\nconst redisValue = JSON.stringify({\n  status: estadoActual,\n  metadata: metadata,\n  timestamp: new Date().toISOString()\n});\n\n// Construir la key de Redis\nconst redisKey = `status:${contactNumber}`;\n\nconsole.log('━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━');\nconsole.log('💾 PREPARANDO DATOS PARA REDIS');\nconsole.log('🔑 Key:', redisKey);\nconsole.log('📊 Estado:', estadoActual);\nconsole.log('📦 Metadata:', JSON.stringify(metadata));\nconsole.log('💿 Valor completo:', redisValue);\nconsole.log('━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━');\n\n// Retornar AMBOS: datos para Redis Y datos del clasificador\nreturn [{\n  json: {\n    // Datos para Redis SET\n    key: redisKey,\n    value: redisValue,\n    ttl: 600,  // 10 minutos de expiración\n    \n    // Datos del clasificador (para ROUTER PRINCIPAL)\n    categoria: $json.categoria,\n    mensaje: $json.mensaje,\n    contactNumber: contactNumber,\n    estadoActual: estadoActual,\n    estadoAnterior: $json.estadoAnterior,\n    metadata: metadata,\n    nuevoEstado: estadoActual,\n    \n    // Alias para compatibilidad\n    redisKey: redisKey,\n    redisValue: estadoActual,\n    _context: $json._context || {}\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,112],"id":"b1d0e05b-5614-4a2b-b7a4-fb0d4a4a0b6f","name":"Preparar Redis"},{"parameters":{"operation":"set","key":"={{ $json.key }}","value":"={{ $json.value }}","expire":true,"ttl":"={{ $json.ttl }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[544,112],"id":"cd74984a-9638-4651-967f-557c8505578b","name":"Redis","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}}],"connections":{"Entrada":{"main":[[{"node":"Variables","type":"main","index":0},{"node":"Execution Data1","type":"main","index":0}]]},"Variables":{"main":[[{"node":"Filtrar números de prueba","type":"main","index":0}]]},"Filtro Tipo Mensaje":{"main":[[],[{"node":"MSG ENVIADO?","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"🔍 Get Estado Actual":{"main":[[{"node":"Parsear Redis","type":"main","index":0}]]},"📱 Mensaje Menu Principal":{"main":[[{"node":"💾 Set Estado MENU","type":"main","index":0}]]},"📅 Turnos - PACIENTE NUEVO - PACIENTE REGISTRADO - ":{"main":[[{"node":"💾 Set Estado MENU1","type":"main","index":0}]]},"CREAR PACIENTE":{"main":[[{"node":"⏱️ STATUS PRIMERA VEZ","type":"main","index":0}]]},"🎫 Router Gestión Turnos":{"main":[[{"node":"CREAR PACIENTE","type":"main","index":0}]]},"📱 Mensaje Info General":{"main":[[{"node":"💾 Set Estado MENU2","type":"main","index":0}]]},"Code":{"main":[[{"node":"🔀 SWITCH INFO FLUJOS","type":"main","index":0}]]},"Medicos":{"main":[[{"node":"⏱️ STATUS PRIMERA VEZ1","type":"main","index":0}]]},"💾 Set Estado MENU2":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"💾 Set Estado MENU":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"💾 Set Estado MENU1":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"🔍 Get Estado Actual","type":"main","index":0}]]},"msg_clasificador":{"main":[[{"node":"Preparar Redis","type":"main","index":0}]]},"⏱️ STATUS PRIMERA VEZ":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"🏢 Administración":{"main":[[{"node":"HTTP Request6","type":"main","index":0}]]},"Filtrar números de prueba":{"main":[[{"node":"Filtro Tipo Mensaje","type":"main","index":0}]]},"HTTP Request6":{"main":[[{"node":"💾 Set Estado MENU3","type":"main","index":0}]]},"ETIQUETA CONSULTA-RECLAMO":{"main":[[{"node":"HTTP Request7","type":"main","index":0}]]},"HTTP Request8":{"main":[[{"node":"sendRespondCw","type":"main","index":0}]]},"sendRespondCw":{"main":[[{"node":"contador","type":"main","index":0}]]},"MSG ENVIADO?":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[],[{"node":"HTTP Request8","type":"main","index":0}]]},"ESPECIALIDADES2":{"main":[[{"node":"ENVIA-> MENU-SACAR TURNO","type":"main","index":0}]]},"MEDICOS":{"main":[[{"node":"ENVIA-> MENU-SACAR TURNO1","type":"main","index":0}]]},"Msg preparado":{"main":[[{"node":"MEDICOS","type":"main","index":0}]]},"get_medicos1":{"main":[[{"node":"Msg preparado","type":"main","index":0}]]},"get_especialidades":{"main":[[{"node":"Msg preparado1","type":"main","index":0}]]},"Msg preparado1":{"main":[[{"node":"ESPECIALIDADES2","type":"main","index":0}]]},"🔀 SWITCH INFO FLUJOS":{"main":[[{"node":"get_medicos1","type":"main","index":0}],[{"node":"get_especialidades","type":"main","index":0}],[{"node":"Medicos","type":"main","index":0}]]},"🎫 Router Gestión Turnos1":{"main":[[{"node":"PACIENTE REGISTRADO","type":"main","index":0}]]},"PACIENTE REGISTRADO":{"main":[[{"node":"⏱️ STATUS PRIMERA VEZ2","type":"main","index":0}]]},"Error informacion de usuario1":{"main":[[{"node":"⚠️ DATOS INCORRECTOS1","type":"main","index":0}],[{"node":"Get_Paciente","type":"main","index":0}]]},"Exito1":{"main":[[{"node":"✅ DATOS VALIDADOS2","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"AI Agent1":{"main":[[{"node":"Error informacion de usuario1","type":"main","index":0}]]},"Get_Paciente":{"main":[[{"node":"Exito1","type":"main","index":0}]]},"✅ DATOS VALIDADOS2":{"main":[[{"node":"DNI","type":"main","index":0}]]},"obra_social":{"main":[[{"node":"Code7","type":"main","index":0}]]},"Code7":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"🔀 SWITCH DATOS PACIENTE":{"main":[[{"node":"🎫 Router Gestión Turnos1","type":"main","index":0}]]},"PACIENTE REGISTRADO1":{"main":[[{"node":"SOLICITAR DNI","type":"main","index":0}]]},"SOLICITAR DNI":{"main":[[{"node":"⏱️ STATUS PRIMERA VEZ3","type":"main","index":0}]]},"Error informacion de usuario":{"main":[[{"node":"⚠️ DATOS INCORRECTOS","type":"main","index":0}],[{"node":"Get_Paciente1","type":"main","index":0}]]},"Exito":{"main":[[{"node":"✅ DATOS VALIDADOS","type":"main","index":0}],[{"node":"Code1","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Error informacion de usuario","type":"main","index":0}]]},"Get_Paciente1":{"main":[[{"node":"Exito","type":"main","index":0}]]},"✅ DATOS VALIDADOS":{"main":[[{"node":"DNI VERIFICADO","type":"main","index":0}]]},"obra_social1":{"main":[[{"node":"Code8","type":"main","index":0}]]},"Code8":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Code1":{"main":[[{"node":"DNI INCORRECTO","type":"main","index":0}]]},"DNI INCORRECTO":{"main":[[{"node":"DNI INCORRECTO1","type":"main","index":0}]]},"🔀 ROUTER PRINCIPAL":{"main":[[{"node":"obra_social1","type":"main","index":0}],[{"node":"📱 Mensaje Menu Principal","type":"main","index":0}],[{"node":"📅 Turnos - PACIENTE NUEVO - PACIENTE REGISTRADO - ","type":"main","index":0}],[{"node":"📱 Mensaje Info General","type":"main","index":0}],[{"node":"🏢 Administración","type":"main","index":0}],[{"node":"ETIQUETA CONSULTA-RECLAMO","type":"main","index":0}],[{"node":"🔀 SWITCH GESTIÓN TURNOS","type":"main","index":0}],[],[{"node":"🔀 SWITCH DATOS PACIENTE","type":"main","index":0}],[],[{"node":"Code","type":"main","index":0}]]},"msg":{"main":[[{"node":"[MENU] - TURNOS","type":"main","index":0}]]},"[MENU] - TURNOS":{"main":[[{"node":"STATUS:MENU=1","type":"main","index":0}]]},"🩻 ESPECIALIDADES1":{"main":[[{"node":"ESPECIALIDADES1","type":"main","index":0}]]},"Get_Especialidades1":{"main":[[{"node":"LISTA_ESPECIALIDADES_BLOQUES","type":"main","index":0}]]},"LISTA_ESPECIALIDADES_BLOQUES":{"main":[[{"node":"🩻 ESPECIALIDADES1","type":"main","index":0}]]},"get_medicos2":{"main":[[{"node":"LISTA_MEDICOS","type":"main","index":0}]]},"LISTA_MEDICOS":{"main":[[{"node":"Medicos2","type":"main","index":0}]]},"Medicos2":{"main":[[{"node":"🩺 MEDICOS2","type":"main","index":0}]]},"📅 Horarios Proximos":{"main":[[{"node":"🕐 LISTA-HORARIOS","type":"main","index":0}]]},"🕐 Fechas disponibles ":{"main":[[{"node":"🩺 MEDICOS1","type":"main","index":0}]]},"🕐 LISTA-HORARIOS":{"main":[[{"node":"🕐 Fechas disponibles ","type":"main","index":0}]]},"Code2":{"main":[[{"node":"📅 Horarios Proximos","type":"main","index":0}]]},"DNI VERIFICADO":{"main":[[{"node":"DNI_PERMANENTE","type":"main","index":0}]]},"DATOS":{"main":[[{"node":"Code2","type":"main","index":0}]]},"If1":{"main":[[{"node":"HTTP Request4","type":"main","index":0}],[{"node":"sendRespondCw1","type":"main","index":0}]]},"🔀 SWITCH GESTIÓN TURNOS":{"main":[[{"node":"🎫 Router Gestión Turnos","type":"main","index":0}],[{"node":"PACIENTE REGISTRADO1","type":"main","index":0}],[{"node":"msg","type":"main","index":0}],[],[],[{"node":"Get_Especialidades1","type":"main","index":0}],[],[{"node":"Get_Especialidades1","type":"main","index":0}],[{"node":"get_medicos2","type":"main","index":0}],[{"node":"get_medicos2","type":"main","index":0}],[{"node":"DATOS","type":"main","index":0}]]},"Parsear Redis":{"main":[[{"node":"msg_clasificador","type":"main","index":0}]]},"Preparar Redis":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Redis":{"main":[[{"node":"🔀 ROUTER PRINCIPAL","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Argentina/Buenos_Aires","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Entrada":[{"json":{"headers":{"host":"hooks.autoclinicas.com","user-agent":"rest-client/2.1.0 (linux-musl x86_64) ruby/3.4.4p34","content-length":"2151","accept":"application/json","accept-encoding":"gzip;q=1.0,deflate;q=0.6,identity;q=0.3","content-type":"application/json","x-forwarded-for":"206.81.1.93","x-forwarded-host":"hooks.autoclinicas.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f2c799d0c305","x-real-ip":"206.81.1.93"},"params":{},"query":{},"body":{"additional_attributes":{},"can_reply":true,"channel":"Channel::Whatsapp","contact_inbox":{"id":11730,"contact_id":6099,"inbox_id":13,"source_id":"5492254596618","created_at":"2025-10-06T23:09:25.001Z","updated_at":"2025-10-06T23:09:25.001Z","hmac_verified":false,"pubsub_token":"72kqoh9Mvmbyd7NJRvsQTtnR"},"id":8576,"inbox_id":13,"messages":[{"id":113983,"content":"➕ VER MÁS MÉDICOS","account_id":2,"inbox_id":13,"conversation_id":8576,"message_type":0,"created_at":1761156167,"updated_at":"2025-10-22T18:02:47.535Z","private":false,"status":"sent","source_id":"wamid.HBgNNTQ5MjI1NDU5NjYxOBUCABIYFjNFQjBDNjhCRTk1MDVFN0Y0QzY2ODEA","content_type":"text","content_attributes":{"in_reply_to_external_id":null,"in_reply_to":null},"sender_type":"Contact","sender_id":6099,"external_source_ids":{},"additional_attributes":{},"processed_message_content":"➕ VER MÁS MÉDICOS","sentiment":{},"conversation":{"assignee_id":null,"unread_count":8,"last_activity_at":1761156167,"contact_inbox":{"source_id":"5492254596618"}},"sender":{"additional_attributes":{"city":"","country":"","description":"","company_name":"","country_code":"","social_profiles":{}},"custom_attributes":{},"email":null,"id":6099,"identifier":null,"name":"Fer 🤖","phone_number":"+5492254596618","thumbnail":"","blocked":false,"type":"contact"}}],"labels":[],"meta":{"sender":{"additional_attributes":{"city":"","country":"","description":"","company_name":"","country_code":"","social_profiles":{}},"custom_attributes":{},"email":null,"id":6099,"identifier":null,"name":"Fer 🤖","phone_number":"+5492254596618","thumbnail":"","blocked":false,"type":"contact"},"assignee":null,"team":{"id":1,"name":"recepcionistas"},"hmac_verified":false},"status":"open","custom_attributes":{},"snoozed_until":null,"unread_count":8,"first_reply_created_at":"2025-10-22T17:09:40.469Z","priority":null,"waiting_since":1761153562,"agent_last_seen_at":1761155391,"contact_last_seen_at":0,"last_activity_at":1761156167,"timestamp":1761156167,"created_at":1761126060,"updated_at":1761156167.5381062,"applied_sla":null,"sla_events":[],"sla_policy_id":null,"event":"automation_event.message_created"},"webhookUrl":"https://hooks.autoclinicas.com/webhook/agentes/v1/iclp","executionMode":"production"}}]},"versionId":"477a7b3c-ac20-4712-ba1a-d6915662c942","triggerCount":1,"shared":[{"createdAt":"2025-10-20T00:59:07.395Z","updatedAt":"2025-10-20T00:59:07.395Z","role":"workflow:owner","workflowId":"8VrPRe6QIA2YUcff","projectId":"R66ikVn5xqf0nYcA"}],"tags":[{"createdAt":"2025-10-18T05:48:24.047Z","updatedAt":"2025-10-18T05:48:24.047Z","id":"9MPkCQDvT4HFCUIK","name":"ClinicAI-v1.33"}]}