mencion-fantasma-Jhg5kS8wJEi7bmsk.json
{"updatedAt":"2025-11-09T20:36:45.232Z","createdAt":"2025-06-28T03:55:45.572Z","id":"Jhg5kS8wJEi7bmsk","name":"Mencion fantasma","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// Obtener todos los participantes desde el input\nconst participantes = $input.first().json.participants || [];\nconst config = $node[\"vars1\"].json;\n\n// Filtrar solo los que son números de WhatsApp\nconst numerosTelefono = participantes\n  .filter(p => p && p.jid && p.jid.endsWith('@s.whatsapp.net'))\n  .map(p => p.jid);\n\n// Retornar el objeto para Evolution API - FORMATO CORRECTO\nreturn {\n  json: {\n    number: config.number,           // el grupo destino\n    text: config.text,               // el mensaje que querés enviar\n    delay: config.options?.delay || 1200,\n    presence: config.options?.presence || \"composing\",\n    linkPreview: false,\n    mentionsEveryOne: false,         // false porque vamos a usar mentioned\n    mentioned: numerosTelefono       // Array de JIDs para menciones fantasma\n  }\n};"},"name":"Preparar Mensaje","type":"n8n-nodes-base.code","typeVersion":1,"position":[-2816,-400],"id":"6036c74c-8077-421d-a60b-ea2e115ecdc5"},{"parameters":{"method":"POST","url":"=https://gate.whapi.cloud/messages/text","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"typing_time","value":"={{1}}"},{"name":"body","value":"={{ $json.body }}"},{"name":"to","value":"=5491138677828-1439064022@g.us"},{"name":"mentions","value":"={{ $json.mentions }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1696,16],"id":"b653112a-bf0c-4c0c-8430-3bcb8c6b56f6","name":"Texto","credentials":{"httpHeaderAuth":{"id":"ekaTMbiKps3wYx80","name":"Whapi - Fer"}}},{"parameters":{"assignments":{"assignments":[{"id":"23189e14-968e-44f2-be6c-32e7889d5294","name":"number","value":"=120363403639330017@g.us","type":"string"},{"id":"c403ade0-2efe-493c-96e6-a45fcb270920","name":"url","value":"=https://evo.qeva.xyz","type":"string"},{"id":"237b606f-962f-485e-8945-2409e46b5ed8","name":"apikey","value":"=0B7C4E05F589-499F-A318-DA1AF7EC1E5E","type":"string"},{"id":"6b637992-7137-4ec6-adb4-db6fa6706671","name":"instance","value":"=fernando","type":"string"},{"id":"c584414f-8f84-450d-8999-3071701de88c","name":"options","value":"={delay: 1200,presence: 'composing'}","type":"object"},{"id":"d7e9739d-f087-4f35-bd14-b39bb38ab224","name":"text","value":"={{ $json.chatInput }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3264,-400],"id":"993491aa-eb67-4e86-80a2-e8123176b1cc","name":"vars1"},{"parameters":{"url":"=https://evo.qeva.xyz/group/participants/fer?groupJid={{ $json.number }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"name":"get_participantes","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-3040,-400],"id":"aac34276-b477-4aff-a29c-c3a00f5d7c47","credentials":{"httpBasicAuth":{"id":"OpgdvMlLy6Zxc6ii","name":"NOCODB"},"httpHeaderAuth":{"id":"AyfwVfJv24ug21lX","name":"EVOLUTION API - FER"}}},{"parameters":{"httpMethod":"POST","path":"whapi","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3312,1264],"id":"24e49c75-20d2-4dad-82f7-5f9bf681bd67","name":"Datos","webhookId":"9ba09d30-2eb8-4bdf-8785-2bfc45e3f63d"},{"parameters":{"method":"POST","url":"=https://evo.qeva.xyz/message/sendText/fer","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('vars1').item.json.number }}"},{"name":"text","value":"={{ $json.text }}"},{"name":"delay","value":"={{ $json.delay }}"},{"name":"presence","value":"={{ $json.presence }}"},{"name":"mentionsEveryOne","value":"={{ $json.mentionsEveryOne }}"},{"name":"mentioned","value":"={{ $json.mentioned }}"}]},"options":{}},"name":"FERNANDO","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-2592,-400],"id":"948a1325-ab71-4e2d-8f04-80084d5e3137","credentials":{"httpBasicAuth":{"id":"OpgdvMlLy6Zxc6ii","name":"NOCODB"},"httpHeaderAuth":{"id":"AyfwVfJv24ug21lX","name":"EVOLUTION API - FER"}}},{"parameters":{"content":"##  Evo","height":240,"width":1072,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-3424,-480],"typeVersion":1,"id":"5bf18bc7-c00b-4b6c-b523-37b75b7a93e0","name":"Sticky Note3"},{"parameters":{"content":"##  Whapi","height":240,"width":256,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-3344,1184],"typeVersion":1,"id":"48dd3898-a2a5-43cd-b644-eea6d328d990","name":"Sticky Note4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94746291-c0f3-44f3-b635-1fe696d7d74e","leftValue":"={{ $json.msg.from_me }}","rightValue":"false","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"b803fc93-ecb7-4c67-aa13-b63d6e8c1b6d","name":"Form Me1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2592,1840]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"41aafda0-2ad8-4a37-b160-1e7255bc75d5","leftValue":"={{ $json.body.data.key.remoteJid.includes('@g.us')}}","rightValue":"={{ $json.body.data.key.remoteJid.includes('@g.us')}}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"936d3e30-432e-4ea6-a6b4-d2e583994081","name":"If1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2464,2016]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"60065893-74f7-4b64-bc1a-d891202efa78","leftValue":"={{ $json.msg.type }}","rightValue":"text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.msg.type }}","rightValue":"voice","operator":{"type":"string","operation":"equals"},"id":"900368e1-63d9-419c-9dd3-20cd105a527d"}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e8cf47df-5e30-4c52-b55a-fe45ec8ad1d2","leftValue":"={{ $json.msg.type }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{}},"id":"20d65deb-e691-4f0b-bb4e-3a94bd59c701","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2144,1840]},{"parameters":{"chatId":"164729397","text":"={{ $('v1').item.json.msg.name }} :{{ $json.content }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1472,1936],"id":"34cf8cc9-3d9a-4ab1-91c1-86ba080cccbe","name":"Send a text message1","webhookId":"86f792a6-5bf4-47da-b6ec-43e30195274e","credentials":{"telegramApi":{"id":"9g3zPwxX46iLtGJa","name":"Qeva AI"}}},{"parameters":{"assignments":{"assignments":[{"id":"92fb845f-5bed-49d7-8669-27488a26e4cb","name":"content","value":"={{ $json.content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1696,1936],"id":"2a86ba02-1601-4dec-8e81-7ac6d2a8eefb","name":"Audio Transcrito"},{"parameters":{"resource":"audio","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"audioUrls":"={{ $json.msg.audio }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-1920,1936],"id":"9d0b4604-140a-4209-8ae3-108415fa0ff8","name":"Transcribe a recording1","credentials":{"googlePalmApi":{"id":"oyklsGr4taCEzllG","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"chatId":"164729397","text":"={{ $json.msg.name }} : {{ $json.msg.text.body }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1920,1744],"id":"640bbbbc-d3fa-4a3e-8d75-a595b5a0e82d","name":"Send a text message","webhookId":"86f792a6-5bf4-47da-b6ec-43e30195274e","credentials":{"telegramApi":{"id":"9g3zPwxX46iLtGJa","name":"Qeva AI"}}},{"parameters":{"assignments":{"assignments":[{"id":"49899b93-c98a-4d90-b1ff-b37ef596616d","name":"msg.text","value":"={{ JSON.stringify($json.body.messages[0].text) }}","type":"object"},{"id":"d20f8953-2b98-4751-ae16-2d4f04417f0c","name":"msg.chat_id","value":"={{ $json.body.messages[0].chat_id }}","type":"string"},{"id":"2c156620-559f-4dda-a7c5-d38a4d31f90c","name":"msg.from_me","value":"={{ $json.body.messages[0].from_me }}","type":"boolean"},{"id":"73491507-1f21-4d29-b12a-0e264dde4c7b","name":"msg.id","value":"={{ $json.body.messages[0].id }}","type":"string"},{"id":"59d48482-68b4-4689-8160-7598b6057408","name":"grupo.buitres","value":"5491138677828-1439064022@g.us","type":"string"},{"id":"70af929e-923d-40d7-b685-a1817f5e1acc","name":"grupo.general","value":"120363409752146229@g.us","type":"string"},{"id":"812361b1-319b-4602-b159-324ca5a92b0c","name":"grupo.traid","value":"120363347362371229@g.us","type":"string"},{"id":"14ca3cc3-59fa-4428-afa5-8f92bf5dd6ca","name":"grupo.ruben","value":"120363150353486693@g.us","type":"string"},{"id":"d733af1e-8b0b-417b-a4df-200508d54cb9","name":"grupo.cyber","value":"120363419074159638@g.us","type":"string"},{"id":"8ce2d0a9-2f32-42b5-842a-2fea1360360c","name":"grupo.testing","value":"120363403639330017@g.us","type":"string"},{"id":"f0df6b30-563c-4dba-99f7-43907c8ebddd","name":"grupo.plomeros","value":"5492267528908-1463533065@g.us","type":"string"},{"id":"c3f08290-38f9-44cf-bf85-d7bbba5e5cdb","name":"msg.type","value":"={{ $json.body.messages[0].type }}","type":"string"},{"id":"5e80bade-de61-4868-99f9-28061375afe1","name":"grupo.sexto","value":"=5492267669169-1519918025@g.us","type":"string"},{"id":"1a67290d-8f8f-49ef-aa40-d3b67d483b40","name":"msg.name","value":"={{ $json.body.messages[0].from_name }}","type":"string"},{"id":"a166626f-9bf1-4665-84ba-bcf1189f03e3","name":"msg.audio","value":"={{ $json.body.messages[0].voice.link }}","type":"string"},{"id":"be465a63-34ca-454c-b03b-66b9e0c6bf12","name":"grupo.rpa","value":"120363158859966525@g.us","type":"string"},{"id":"1b7d6e3e-aa80-4b7c-8c29-b8447a327ce4","name":"grupo.trading","value":"120363401646254540@g.us","type":"string"},{"id":"3cbcbf87-d752-47a8-b6e1-c6ee7b2771f8","name":"grupo.orion","value":"120363417274592911@g.us","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3040,1264],"id":"fb125208-5ae8-4473-a971-3e569d357a21","name":"v1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.msg.text.body.includes(\"@grupos\") }}","rightValue":"@grupos","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"f948d1ed-0c30-4886-b605-d49b66eb7677"}],"combinator":"and"},"renameOutput":true,"outputKey":"Grupos listados"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6bfe102c-a2f3-4a61-8322-f4b4aeb05759","leftValue":"={{ $json.msg.text.body.includes(\"@buitres\") }}","rightValue":"@buitres","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Buitres"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a69547b-42f5-4b5d-91dc-590831228b2a","leftValue":"={{ $json.msg.text.body.includes(\"@general\") }}","rightValue":"@general","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"General"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4924549d-1024-4093-a50e-d2f17ed12392","leftValue":"={{ $json.msg.text.body.includes(\"@traid\") }}","rightValue":"@traid","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"traid"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e56d24ab-a837-4882-a202-95f3cea2b0b5","leftValue":"={{ $json.msg.text.body.includes(\"@ruben\") }}","rightValue":"@ruben","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ruben"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"413d6176-5ba5-4afd-ab56-28c2b0638dfb","leftValue":"={{ $json.msg.text.body.includes(\"@cyber\") }}","rightValue":"@cyber","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"cyber"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"50abe5fb-faf3-49b1-a2df-6ba230cf07db","leftValue":"={{ $json.msg.text.body.includes(\"@testing\") }}","rightValue":"@testing","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Testing"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fc488711-03a2-4a29-83b8-0b4e27afc4a1","leftValue":"={{ $json.msg.text.body.includes(\"@plomeros\") }}","rightValue":"@plomeros","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Plomeros"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d37fe60e-2451-40fe-a11c-5093fb682364","leftValue":"={{ $json.msg.text.body.includes(\"@sexto\") }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Sexto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"824586ed-b2a8-437a-8457-710d8c2081ac","leftValue":"={{ $json.msg.text.body.includes(\"@rpa\") }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Rpa"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2592,544],"id":"7959f3d9-9b14-48d6-b5b6-fedd53ef50e1","name":"Switch1"},{"parameters":{"method":"POST","url":"=https://gate.whapi.cloud/messages/text","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"typing_time","value":"={{1}}"},{"name":"body","value":"={{ $json.mensaje }}"},{"name":"to","value":"={{ $('v1').item.json.msg.chat_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2144,-176],"id":"321aa6cd-a41c-477c-9fd9-754a44048ce9","name":"Texto1","credentials":{"httpHeaderAuth":{"id":"ekaTMbiKps3wYx80","name":"Whapi - Fer"}}},{"parameters":{"jsCode":"// Obtener el objeto de grupos desde el input\nconst grupos = $input.first().json.grupo;\n\n// Construir el mensaje\nlet mensaje = \"📋 *Lista de grupos disponibles:*\\n\\n\";\nfor (const [nombre, id] of Object.entries(grupos)) {\n  mensaje += `🔹 *${nombre}* → ${id}\\n`;\n}\n\nreturn {\n  json: {\n    mensaje\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2368,-176],"id":"6e83637e-5066-432b-93cf-51ea46be3064","name":"Code"},{"parameters":{"jsCode":"// Texto recibido\nconst texto = $input.item.json.msg.text.body;\n\n// Objeto con los grupos (viene en la variable)\nconst grupos = $input.item.json.grupo;\n\n// Buscar si el texto contiene un @grupo\nlet grupoEncontrado = null;\nfor (const nombre in grupos) {\n  if (texto.toLowerCase().includes(\"@\" + nombre.toLowerCase())) {\n    grupoEncontrado = nombre;\n    break;\n  }\n}\n\n// Limpiar el texto (sacar el @grupo encontrado)\nlet textoLimpio = texto;\nif (grupoEncontrado) {\n  const regex = new RegExp(\"@\" + grupoEncontrado + \"\\\\s*\", \"i\");\n  textoLimpio = texto.replace(regex, \"\").trim();\n}\n\n// Devolver resultado\nreturn {\n  json: {\n    texto: textoLimpio,\n    grupoId: grupoEncontrado ? String(grupos[grupoEncontrado]) : null\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2368,16],"id":"80b5c920-0dd4-4cb9-9cc7-ccd70d1aae1e","name":"Grupos"},{"parameters":{"jsCode":"// VERSIÓN SIMPLE Y DIRECTA\nconst group = $input.item.json;\nconst config = $node[\"Grupos\"].json;\n\n// Extraer números de los participantes\nconst mentions = group.participants\n  .map(p => p.id.replace('@s.whatsapp.net', ''))\n  .filter(num => num && num !== 'status@broadcast');\n\n// Crear mensaje\nconst body = $('Grupos').first().json.texto;\n\n// Devolver objeto para WhAPI\nreturn {\n  json: {\n    to: group.id,\n    body: body,\n    mentions: mentions,\n    typing_time: 3\n  }\n};"},"name":"Preparing msg","type":"n8n-nodes-base.code","typeVersion":1,"position":[-1920,16],"id":"defc02ce-d3af-4ac7-a379-9452879d920d"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93453f5b-368d-4807-b8aa-93f00a033fa9","leftValue":"={{ $json.msg.chat_id }}","rightValue":"120363403639330017@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2816,1264],"id":"3629cd25-8e0f-470c-89ef-a2916e72a923","name":"If"},{"parameters":{"url":"=https://gate.whapi.cloud/groups/5491138677828-1439064022@g.us","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"count","value":"400"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2144,16],"id":"f2bc2863-9838-43f8-91de-48ab11953d39","name":"Buitres","credentials":{"httpHeaderAuth":{"id":"ekaTMbiKps3wYx80","name":"Whapi - Fer"}}},{"parameters":{"jsCode":"// Texto recibido\nconst texto = $input.item.json.msg.text.body;\n\n// Objeto con los grupos (viene en la variable)\nconst grupos = $input.item.json.grupo;\n\n// Buscar si el texto contiene un @grupo\nlet grupoEncontrado = null;\nfor (const nombre in grupos) {\n  if (texto.toLowerCase().includes(\"@\" + nombre.toLowerCase())) {\n    grupoEncontrado = nombre;\n    break;\n  }\n}\n\n// Limpiar el texto (sacar el @grupo encontrado)\nlet textoLimpio = texto;\nif (grupoEncontrado) {\n  const regex = new RegExp(\"@\" + grupoEncontrado + \"\\\\s*\", \"i\");\n  textoLimpio = texto.replace(regex, \"\").trim();\n}\n\n// Devolver resultado\nreturn {\n  json: {\n    texto: textoLimpio,\n    grupoId: grupoEncontrado ? String(grupos[grupoEncontrado]) : null\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2368,208],"id":"000e9b65-c793-4f71-91e1-1ea76ce2c590","name":"Grupos1"},{"parameters":{"url":"=https://gate.whapi.cloud/groups/120363409752146229@g.us","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"count","value":"400"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2144,208],"id":"89bdfa32-40b5-4114-bd10-097f9a47843e","name":"General","credentials":{"httpHeaderAuth":{"id":"ekaTMbiKps3wYx80","name":"Whapi - Fer"}}},{"parameters":{"jsCode":"// Texto recibido\nconst texto = $input.item.json.msg.text.body;\n\n// Objeto con los grupos (viene en la variable)\nconst grupos = $input.item.json.grupo;\n\n// Buscar si el texto contiene un @grupo\nlet grupoEncontrado = null;\nfor (const nombre in grupos) {\n  if (texto.toLowerCase().includes(\"@\" + nombre.toLowerCase())) {\n    grupoEncontrado = nombre;\n    break;\n  }\n}\n\n// Limpiar el texto (sacar el @grupo encontrado)\nlet textoLimpio = texto;\nif (grupoEncontrado) {\n  const regex = new RegExp(\"@\" + grupoEncontrado + \"\\\\s*\", \"i\");\n  textoLimpio = texto.replace(regex, \"\").trim();\n}\n\n// Devolver resultado\nreturn {\n  json: {\n    texto: textoLimpio,\n    grupoId: grupoEncontrado ? String(grupos[grupoEncontrado]) : null\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2368,400],"id":"017f7973-71ee-401f-9875-0989ff9ddd4c","name":"Grupos2"},{"parameters":{"url":"=https://gate.whapi.cloud/groups/120363347362371229@g.us","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"count","value":"400"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2144,400],"id":"87364afc-d301-43a3-86b1-b4a64a0f0eb1","name":"Traid","credentials":{"httpHeaderAuth":{"id":"ekaTMbiKps3wYx80","name":"Whapi - Fer"}}},{"parameters":{"jsCode":"// Texto recibido\nconst texto = $input.item.json.msg.text.body;\n\n// Objeto con los grupos (viene en la variable)\nconst grupos = $input.item.json.grupo;\n\n// Buscar si el texto contiene un @grupo\nlet grupoEncontrado = null;\nfor (const nombre in grupos) {\n  if (texto.toLowerCase().includes(\"@\" + nombre.toLowerCase())) {\n    grupoEncontrado = nombre;\n    break;\n  }\n}\n\n// Limpiar el texto (sacar el @grupo encontrado)\nlet textoLimpio = texto;\nif (grupoEncontrado) {\n  const regex = new RegExp(\"@\" + grupoEncontrado + \"\\\\s*\", \"i\");\n  textoLimpio = texto.replace(regex, \"\").trim();\n}\n\n// Devolver resultado\nreturn {\n  json: {\n    texto: textoLimpio,\n    grupoId: grupoEncontrado ? String(grupos[grupoEncontrado]) : null\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2368,592],"id":"7e2089af-37b5-4930-81cf-91da7d358d1d","name":"Grupos3"},{"parameters":{"url":"=https://gate.whapi.cloud/groups/120363150353486693@g.us","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"count","value":"400"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2144,592],"id":"587b8b32-8579-4a5b-a7b6-b3ca452a6f10","name":"Ruben","credentials":{"httpHeaderAuth":{"id":"ekaTMbiKps3wYx80","name":"Whapi - Fer"}}},{"parameters":{"jsCode":"// Texto recibido\nconst texto = $input.item.json.msg.text.body;\n\n// Objeto con los grupos (viene en la variable)\nconst grupos = $input.item.json.grupo;\n\n// Buscar si el texto contiene un @grupo\nlet grupoEncontrado = null;\nfor (const nombre in grupos) {\n  if (texto.toLowerCase().includes(\"@\" + nombre.toLowerCase())) {\n    grupoEncontrado = nombre;\n    break;\n  }\n}\n\n// Limpiar el texto (sacar el @grupo encontrado)\nlet textoLimpio = texto;\nif (grupoEncontrado) {\n  const regex = new RegExp(\"@\" + grupoEncontrado + \"\\\\s*\", \"i\");\n  textoLimpio = texto.replace(regex, \"\").trim();\n}\n\n// Devolver resultado\nreturn {\n  json: {\n    texto: textoLimpio,\n    grupoId: grupoEncontrado ? String(grupos[grupoEncontrado]) : null\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2368,784],"id":"cbf1741e-e91b-45cd-b1ff-ff4f354b2c6b","name":"Grupos4"},{"parameters":{"url":"=https://gate.whapi.cloud/groups/120363419074159638@g.us","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"count","value":"400"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2144,784],"id":"275adb12-9279-4818-8538-f3bf056a0793","name":"Cyber","credentials":{"httpHeaderAuth":{"id":"ekaTMbiKps3wYx80","name":"Whapi - Fer"}}},{"parameters":{"jsCode":"// Texto recibido\nconst texto = $input.item.json.msg.text.body;\n\n// Objeto con los grupos (viene en la variable)\nconst grupos = $input.item.json.grupo;\n\n// Buscar si el texto contiene un @grupo\nlet grupoEncontrado = null;\nfor (const nombre in grupos) {\n  if (texto.toLowerCase().includes(\"@\" + nombre.toLowerCase())) {\n    grupoEncontrado = nombre;\n    break;\n  }\n}\n\n// Limpiar el texto (sacar el @grupo encontrado)\nlet textoLimpio = texto;\nif (grupoEncontrado) {\n  const regex = new RegExp(\"@\" + grupoEncontrado + \"\\\\s*\", \"i\");\n  textoLimpio = texto.replace(regex, \"\").trim();\n}\n\n// Devolver resultado\nreturn {\n  json: {\n    texto: textoLimpio,\n    grupoId: grupoEncontrado ? String(grupos[grupoEncontrado]) : null\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2368,976],"id":"174d36bc-028e-42a5-9b7f-bd3f9078b1e2","name":"Grupos5"},{"parameters":{"url":"=https://gate.whapi.cloud/groups/120363403639330017@g.us","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"count","value":"400"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2144,976],"id":"92196ced-9489-4ac7-adaa-bf14cbd559ec","name":"Testing","credentials":{"httpHeaderAuth":{"id":"ekaTMbiKps3wYx80","name":"Whapi - Fer"}}},{"parameters":{"jsCode":"// Texto recibido\nconst texto = $input.item.json.msg.text.body;\n\n// Objeto con los grupos (viene en la variable)\nconst grupos = $input.item.json.grupo;\n\n// Buscar si el texto contiene un @grupo\nlet grupoEncontrado = null;\nfor (const nombre in grupos) {\n  if (texto.toLowerCase().includes(\"@\" + nombre.toLowerCase())) {\n    grupoEncontrado = nombre;\n    break;\n  }\n}\n\n// Limpiar el texto (sacar el @grupo encontrado)\nlet textoLimpio = texto;\nif (grupoEncontrado) {\n  const regex = new RegExp(\"@\" + grupoEncontrado + \"\\\\s*\", \"i\");\n  textoLimpio = texto.replace(regex, \"\").trim();\n}\n\n// Devolver resultado\nreturn {\n  json: {\n    texto: textoLimpio,\n    grupoId: grupoEncontrado ? String(grupos[grupoEncontrado]) : null\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2368,1168],"id":"8269fd5b-627e-4995-ab15-280dbc67e313","name":"Grupos6"},{"parameters":{"url":"=https://gate.whapi.cloud/groups/5492267528908-1463533065@g.us","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"count","value":"400"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2144,1168],"id":"aa03edcb-c686-4507-9ec4-dbd0d8e3512e","name":"Plomeros","credentials":{"httpHeaderAuth":{"id":"ekaTMbiKps3wYx80","name":"Whapi - Fer"}}},{"parameters":{"jsCode":"// Texto recibido\nconst texto = $input.item.json.msg.text.body;\n\n// Objeto con los grupos (viene en la variable)\nconst grupos = $input.item.json.grupo;\n\n// Buscar si el texto contiene un @grupo\nlet grupoEncontrado = null;\nfor (const nombre in grupos) {\n  if (texto.toLowerCase().includes(\"@\" + nombre.toLowerCase())) {\n    grupoEncontrado = nombre;\n    break;\n  }\n}\n\n// Limpiar el texto (sacar el @grupo encontrado)\nlet textoLimpio = texto;\nif (grupoEncontrado) {\n  const regex = new RegExp(\"@\" + grupoEncontrado + \"\\\\s*\", \"i\");\n  textoLimpio = texto.replace(regex, \"\").trim();\n}\n\n// Devolver resultado\nreturn {\n  json: {\n    texto: textoLimpio,\n    grupoId: grupoEncontrado ? String(grupos[grupoEncontrado]) : null\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2368,1360],"id":"f8e58fe7-dde2-4f88-9f73-56d245bfcf89","name":"Grupos7"},{"parameters":{"url":"=https://gate.whapi.cloud/groups/5492267669169-1519918025@g.us","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"count","value":"400"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2144,1360],"id":"2b6afc9b-c49d-49dc-a750-0b30643a91b0","name":"Sexto","credentials":{"httpHeaderAuth":{"id":"ekaTMbiKps3wYx80","name":"Whapi - Fer"}}},{"parameters":{"jsCode":"// Texto recibido\nconst texto = $input.item.json.msg.text.body;\n\n// Objeto con los grupos (viene en la variable)\nconst grupos = $input.item.json.grupo;\n\n// Buscar si el texto contiene un @grupo\nlet grupoEncontrado = null;\nfor (const nombre in grupos) {\n  if (texto.toLowerCase().includes(\"@\" + nombre.toLowerCase())) {\n    grupoEncontrado = nombre;\n    break;\n  }\n}\n\n// Limpiar el texto (sacar el @grupo encontrado)\nlet textoLimpio = texto;\nif (grupoEncontrado) {\n  const regex = new RegExp(\"@\" + grupoEncontrado + \"\\\\s*\", \"i\");\n  textoLimpio = texto.replace(regex, \"\").trim();\n}\n\n// Devolver resultado\nreturn {\n  json: {\n    texto: textoLimpio,\n    grupoId: grupoEncontrado ? String(grupos[grupoEncontrado]) : null\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2368,1552],"id":"2a6d426f-4ea4-42e5-a29e-1feacd370430","name":"Grupos8"},{"parameters":{"url":"=https://gate.whapi.cloud/groups/120363158859966525@g.us","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"count","value":"400"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2144,1552],"id":"876b9bd5-2ca5-474d-8247-d0842041f74f","name":"Rpa","credentials":{"httpHeaderAuth":{"id":"ekaTMbiKps3wYx80","name":"Whapi - Fer"}}},{"parameters":{"method":"POST","url":"=https://gate.whapi.cloud/messages/text","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"typing_time","value":"={{1}}"},{"name":"body","value":"={{ $json.body }}"},{"name":"to","value":"=120363409752146229@g.us"},{"name":"mentions","value":"={{ $json.mentions }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1696,208],"id":"7daab267-8e7f-43bd-a2da-5a7ea34ee3aa","name":"Texto2","credentials":{"httpHeaderAuth":{"id":"ekaTMbiKps3wYx80","name":"Whapi - Fer"}}},{"parameters":{"jsCode":"// VERSIÓN SIMPLE Y DIRECTA\nconst group = $input.item.json;\nconst config = $('Grupos1').first().json.grupoId\n\n// Extraer números de los participantes\nconst mentions = group.participants\n  .map(p => p.id.replace('@s.whatsapp.net', ''))\n  .filter(num => num && num !== 'status@broadcast');\n\n// Crear mensaje\nconst body = $('Grupos1').first().json.texto;\n\n// Devolver objeto para WhAPI\nreturn {\n  json: {\n    to: group.id,\n    body: body,\n    mentions: mentions,\n    typing_time: 3\n  }\n};"},"name":"Preparing msg1","type":"n8n-nodes-base.code","typeVersion":1,"position":[-1920,208],"id":"e71dd067-0b79-4917-a78d-d1dcd274f2c5"},{"parameters":{"method":"POST","url":"=https://gate.whapi.cloud/messages/text","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"typing_time","value":"={{1}}"},{"name":"body","value":"=Bueno, perdón que los moleste por acá, pero me gustaria que ahora los que tengan tiempo me den feedback al agente que se conecta al sistema, el que quiera probarlo y vulnerarlo me avisa :D"},{"name":"to","value":"=120363347362371229@g.us"},{"name":"mentions","value":"={{ $json.mentions }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1696,400],"id":"a7475d07-6513-4b64-8575-2aec4a80ba42","name":"Texto3","credentials":{"httpHeaderAuth":{"id":"ekaTMbiKps3wYx80","name":"Whapi - Fer"}}},{"parameters":{"jsCode":"// VERSIÓN SIMPLE Y DIRECTA\nconst group = $input.item.json;\nconst config = $node[\"Grupos2\"].json;\n\n// Extraer números de los participantes\nconst mentions = group.participants\n  .map(p => p.id.replace('@s.whatsapp.net', ''))\n  .filter(num => num && num !== 'status@broadcast');\n\n// Crear mensaje\nconst body = $('Grupos2').first().json.texto;\n\n// Devolver objeto para WhAPI\nreturn {\n  json: {\n    to: group.id,\n    body: body,\n    mentions: mentions,\n    typing_time: 3\n  }\n};"},"name":"Preparing msg2","type":"n8n-nodes-base.code","typeVersion":1,"position":[-1920,400],"id":"52f84f81-fd68-44b0-b1c3-d90ab1d77d13"},{"parameters":{"method":"POST","url":"=https://gate.whapi.cloud/messages/text","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"typing_time","value":"={{1}}"},{"name":"body","value":"={{ $json.body }}"},{"name":"to","value":"=120363150353486693@g.us"},{"name":"mentions","value":"={{ $json.mentions }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1696,592],"id":"7b6d1a59-820f-40cb-ba0c-a96b39d03939","name":"Texto4","credentials":{"httpHeaderAuth":{"id":"ekaTMbiKps3wYx80","name":"Whapi - Fer"}}},{"parameters":{"jsCode":"// VERSIÓN SIMPLE Y DIRECTA\nconst group = $input.item.json;\nconst config = $node[\"Grupos3\"].json;\n\n// Extraer números de los participantes\nconst mentions = group.participants\n  .map(p => p.id.replace('@s.whatsapp.net', ''))\n  .filter(num => num && num !== 'status@broadcast');\n\n// Crear mensaje\nconst body = $('Grupos3').first().json.texto;\n\n// Devolver objeto para WhAPI\nreturn {\n  json: {\n    to: group.id,\n    body: body,\n    mentions: mentions,\n    typing_time: 3\n  }\n};"},"name":"Preparing msg3","type":"n8n-nodes-base.code","typeVersion":1,"position":[-1920,592],"id":"00506d8c-3d3d-4c3e-8bf0-e04abde89675"},{"parameters":{"method":"POST","url":"=https://gate.whapi.cloud/messages/text","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"typing_time","value":"={{1}}"},{"name":"body","value":"={{ $json.body }}"},{"name":"to","value":"={{ $json.to }}"},{"name":"mentions","value":"={{ $json.mentions }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1696,784],"id":"cdca8bf1-2d19-4dc6-85fb-6e6dd616d59e","name":"Texto5","credentials":{"httpHeaderAuth":{"id":"ekaTMbiKps3wYx80","name":"Whapi - Fer"}}},{"parameters":{"jsCode":"// VERSIÓN SIMPLE Y DIRECTA\nconst group = $input.item.json;\nconst config = $node[\"Grupos4\"].json;\n\n// Extraer números de los participantes\nconst mentions = group.participants\n  .map(p => p.id.replace('@s.whatsapp.net', ''))\n  .filter(num => num && num !== 'status@broadcast');\n\n// Crear mensaje\nconst body = $('Grupos4').first().json.texto;\n\n// Devolver objeto para WhAPI\nreturn {\n  json: {\n    to: group.id,\n    body: body,\n    mentions: mentions,\n    typing_time: 3\n  }\n};"},"name":"Preparing msg4","type":"n8n-nodes-base.code","typeVersion":1,"position":[-1920,784],"id":"009d8507-2e52-4b79-b062-f2086186bca9"},{"parameters":{"method":"POST","url":"=https://gate.whapi.cloud/messages/text","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"typing_time","value":"={{1}}"},{"name":"body","value":"={{ $json.body }}"},{"name":"to","value":"=120363403639330017@g.us"},{"name":"mentions","value":"={{ $json.mentions }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1696,976],"id":"23b900c4-4201-4cb4-bbb0-a43f88083829","name":"Texto6","credentials":{"httpHeaderAuth":{"id":"ekaTMbiKps3wYx80","name":"Whapi - Fer"}}},{"parameters":{"jsCode":"// VERSIÓN SIMPLE Y DIRECTA\nconst group = $input.item.json;\nconst config = $node[\"Grupos5\"].json;\n\n// Extraer números de los participantes\nconst mentions = group.participants\n  .map(p => p.id.replace('@s.whatsapp.net', ''))\n  .filter(num => num && num !== 'status@broadcast');\n\n// Crear mensaje\nconst body = $('Grupos5').first().json.texto;\n\n// Devolver objeto para WhAPI\nreturn {\n  json: {\n    to: group.id,\n    body: body,\n    mentions: mentions,\n    typing_time: 3\n  }\n};"},"name":"Preparing msg5","type":"n8n-nodes-base.code","typeVersion":1,"position":[-1920,976],"id":"11c5e326-d253-4d36-afc4-7f93064b2d6c"},{"parameters":{"method":"POST","url":"=https://gate.whapi.cloud/messages/text","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"typing_time","value":"={{1}}"},{"name":"body","value":"={{ $json.body }}"},{"name":"to","value":"=5492267528908-1463533065@g.us"},{"name":"mentions","value":"={{ $json.mentions }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1696,1168],"id":"de5b1912-494e-4618-9e35-719c1866a4e2","name":"Texto7","credentials":{"httpHeaderAuth":{"id":"ekaTMbiKps3wYx80","name":"Whapi - Fer"}}},{"parameters":{"jsCode":"// VERSIÓN SIMPLE Y DIRECTA\nconst group = $input.item.json;\nconst config = $node[\"Grupos6\"].json;\n\n// Extraer números de los participantes\nconst mentions = group.participants\n  .map(p => p.id.replace('@s.whatsapp.net', ''))\n  .filter(num => num && num !== 'status@broadcast');\n\n// Crear mensaje\nconst body = $('Grupos6').first().json.texto;\n\n// Devolver objeto para WhAPI\nreturn {\n  json: {\n    to: group.id,\n    body: body,\n    mentions: mentions,\n    typing_time: 3\n  }\n};"},"name":"Preparing msg6","type":"n8n-nodes-base.code","typeVersion":1,"position":[-1920,1168],"id":"faa4f3ee-38c5-450d-a2bb-bf0f198711c2"},{"parameters":{"method":"POST","url":"=https://gate.whapi.cloud/messages/text","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"typing_time","value":"={{1}}"},{"name":"body","value":"={{ $json.body }}"},{"name":"to","value":"=5492267669169-1519918025@g.us"},{"name":"mentions","value":"={{ $json.mentions }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1696,1360],"id":"44fd492e-7311-45f0-b4b0-b3ac2085c6b0","name":"Texto8","credentials":{"httpHeaderAuth":{"id":"ekaTMbiKps3wYx80","name":"Whapi - Fer"}}},{"parameters":{"jsCode":"// VERSIÓN SIMPLE Y DIRECTA\nconst group = $input.item.json;\nconst config = $node[\"Grupos7\"].json;\n\n// Extraer números de los participantes\nconst mentions = group.participants\n  .map(p => p.id.replace('@s.whatsapp.net', ''))\n  .filter(num => num && num !== 'status@broadcast');\n\n// Crear mensaje\nconst body = $('Grupos7').first().json.texto;\n\n// Devolver objeto para WhAPI\nreturn {\n  json: {\n    to: group.id,\n    body: body,\n    mentions: mentions,\n    typing_time: 3\n  }\n};"},"name":"Preparing msg7","type":"n8n-nodes-base.code","typeVersion":1,"position":[-1920,1360],"id":"e440c778-e771-4bc4-8caf-fa3b9ffd1e4a"},{"parameters":{"method":"POST","url":"=https://gate.whapi.cloud/messages/text","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"typing_time","value":"={{1}}"},{"name":"body","value":"={{ $json.body }}"},{"name":"to","value":"=120363158859966525@g.us"},{"name":"mentions","value":"={{ $json.mentions }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1696,1552],"id":"22701dba-69d2-48e3-a602-b8dbbe4ba3fd","name":"Texto9","credentials":{"httpHeaderAuth":{"id":"ekaTMbiKps3wYx80","name":"Whapi - Fer"}}},{"parameters":{"jsCode":"// VERSIÓN SIMPLE Y DIRECTA\nconst group = $input.item.json;\nconst config = $node[\"Grupos8\"].json;\n\n// Extraer números de los participantes\nconst mentions = group.participants\n  .map(p => p.id.replace('@s.whatsapp.net', ''))\n  .filter(num => num && num !== 'status@broadcast');\n\n// Crear mensaje\nconst body = $('Grupos8').first().json.texto;\n\n// Devolver objeto para WhAPI\nreturn {\n  json: {\n    to: group.id,\n    body: body,\n    mentions: mentions,\n    typing_time: 3\n  }\n};"},"name":"Preparing msg8","type":"n8n-nodes-base.code","typeVersion":1,"position":[-1920,1552],"id":"fde26043-45ea-4422-bcb7-34d34cec6621"},{"parameters":{"operation":"sendPhoto","chatId":"164729397","file":"={{ $('Datos').item.json.body.messages[0].image.preview }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1920,2144],"id":"674bbba5-9816-4835-ab12-ecb179241189","name":"Send a photo message","webhookId":"019473ef-25ca-49c3-8302-8e9b555562bf","credentials":{"telegramApi":{"id":"VI6ccesjlTwys1zE","name":"Telegram account"}},"disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-3760,1584],"id":"38d31a70-9f49-4241-943c-dfd8cfe32840","name":"When chat message received","webhookId":"ff14b5b7-bb27-40e1-9606-b71a868cdd36"},{"parameters":{"url":"=https://gate.whapi.cloud/groups/120363409752146229@g.us","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"count","value":"400"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3440,1584],"id":"2f81f391-5f13-40c2-95e8-82c72b15ff88","name":"Rpa1","credentials":{"httpHeaderAuth":{"id":"ekaTMbiKps3wYx80","name":"Whapi - Fer"}}},{"parameters":{"method":"POST","url":"=https://gate.whapi.cloud/messages/text","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"typing_time","value":"={{1}}"},{"name":"body","value":"={{ $json.body }}"},{"name":"to","value":"={{ $json.to }}"},{"name":"mentions","value":"={{ $json.mentions }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2688,1584],"id":"17b5fd4b-3f73-490c-ad85-7e17530aa6be","name":"Texto10","credentials":{"httpHeaderAuth":{"id":"ekaTMbiKps3wYx80","name":"Whapi - Fer"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3232,1584],"id":"87cae67a-61bb-4978-a994-40d120e062bb","name":"Wait","webhookId":"d831c4ce-c2f1-421e-bd8a-72ff4d159e1b"},{"parameters":{"jsCode":"// VERSIÓN SIMPLE Y DIRECTA\nconst group = $input.item.json;\n\n\n// Extraer números de los participantes\nconst mentions = group.participants\n  .map(p => p.id.replace('@s.whatsapp.net', ''))\n  .filter(num => num && num !== 'status@broadcast');\n\n// Crear mensaje\nconst body = $('When chat message received').first().json.chatInput\n\n// Devolver objeto para WhAPI\nreturn {\n  json: {\n    to: group.id,\n    body: body,\n    mentions: mentions,\n    typing_time: 3\n  }\n};"},"name":"Preparing msg9","type":"n8n-nodes-base.code","typeVersion":1,"position":[-2976,1584],"id":"eea5a8a2-7e5e-44e4-9708-c52163bcfba0"}],"connections":{"Preparar Mensaje":{"main":[[{"node":"FERNANDO","type":"main","index":0}]]},"vars1":{"main":[[{"node":"get_participantes","type":"main","index":0}]]},"get_participantes":{"main":[[{"node":"Preparar Mensaje","type":"main","index":0}]]},"Datos":{"main":[[]]},"Form Me1":{"main":[[],[{"node":"Switch","type":"main","index":0}]]},"If1":{"main":[[],[]]},"Switch":{"main":[[{"node":"Send a text message","type":"main","index":0}],[{"node":"Transcribe a recording1","type":"main","index":0}],[{"node":"Send a photo message","type":"main","index":0}]]},"Audio Transcrito":{"main":[[{"node":"Send a text message1","type":"main","index":0}]]},"Transcribe a recording1":{"main":[[{"node":"Audio Transcrito","type":"main","index":0}]]},"v1":{"main":[[{"node":"If","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Grupos","type":"main","index":0}],[{"node":"Grupos1","type":"main","index":0}],[{"node":"Grupos2","type":"main","index":0}],[{"node":"Grupos3","type":"main","index":0}],[{"node":"Grupos4","type":"main","index":0}],[{"node":"Grupos5","type":"main","index":0}],[{"node":"Grupos6","type":"main","index":0}],[{"node":"Grupos7","type":"main","index":0}],[{"node":"Grupos8","type":"main","index":0}],[]]},"Code":{"main":[[{"node":"Texto1","type":"main","index":0}]]},"Grupos":{"main":[[{"node":"Buitres","type":"main","index":0}]]},"Preparing msg":{"main":[[{"node":"Texto","type":"main","index":0}]]},"If":{"main":[[{"node":"Switch1","type":"main","index":0}],[]]},"Buitres":{"main":[[{"node":"Preparing msg","type":"main","index":0}]]},"Grupos1":{"main":[[{"node":"General","type":"main","index":0}]]},"Grupos2":{"main":[[{"node":"Traid","type":"main","index":0}]]},"Grupos3":{"main":[[{"node":"Ruben","type":"main","index":0}]]},"Grupos4":{"main":[[{"node":"Cyber","type":"main","index":0}]]},"Grupos5":{"main":[[{"node":"Testing","type":"main","index":0}]]},"Grupos6":{"main":[[{"node":"Plomeros","type":"main","index":0}]]},"Grupos7":{"main":[[{"node":"Sexto","type":"main","index":0}]]},"Grupos8":{"main":[[{"node":"Rpa","type":"main","index":0}]]},"Preparing msg1":{"main":[[{"node":"Texto2","type":"main","index":0}]]},"Preparing msg2":{"main":[[{"node":"Texto3","type":"main","index":0}]]},"Preparing msg3":{"main":[[{"node":"Texto4","type":"main","index":0}]]},"Preparing msg4":{"main":[[]]},"Preparing msg5":{"main":[[{"node":"Texto6","type":"main","index":0}]]},"Preparing msg6":{"main":[[{"node":"Texto7","type":"main","index":0}]]},"Preparing msg7":{"main":[[{"node":"Texto8","type":"main","index":0}]]},"General":{"main":[[{"node":"Preparing msg1","type":"main","index":0}]]},"Traid":{"main":[[{"node":"Preparing msg2","type":"main","index":0}]]},"Ruben":{"main":[[{"node":"Preparing msg3","type":"main","index":0}]]},"Cyber":{"main":[[{"node":"Preparing msg4","type":"main","index":0}]]},"Testing":{"main":[[{"node":"Preparing msg5","type":"main","index":0}]]},"Plomeros":{"main":[[{"node":"Preparing msg6","type":"main","index":0}]]},"Sexto":{"main":[[{"node":"Preparing msg7","type":"main","index":0}]]},"Preparing msg8":{"main":[[{"node":"Texto9","type":"main","index":0}]]},"Rpa":{"main":[[{"node":"Preparing msg8","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Rpa1","type":"main","index":0}]]},"Rpa1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Preparing msg9","type":"main","index":0}]]},"Preparing msg9":{"main":[[{"node":"Texto10","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","errorWorkflow":"2kOn0Oz7c2uvczPK"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Datos":[{"json":{"headers":{"host":"n8nw.qeva.xyz","content-length":"1360","accept":"application/json","baggage":"sentry-environment=prod,sentry-public_key=22217dc31eef5d21afad60404664acb9,sentry-trace_id=4a2db5ec3df3a8097e194a137e1c9c7b","content-type":"application/json","sentry-trace":"4a2db5ec3df3a8097e194a137e1c9c7b-8b8be13fe69729f3","x-forwarded-for":"37.27.140.235","x-forwarded-host":"n8nw.qeva.xyz","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"c2bcff1bac6c","x-real-ip":"37.27.140.235","accept-encoding":"gzip"},"params":{},"query":{},"body":{"messages":[{"id":"rHiS05fmDMvBcFM9duffhg-gN9oLk8fLg","from_me":false,"type":"video","chat_id":"447453536046@s.whatsapp.net","timestamp":1760881301,"source":"mobile","chat_name":"Quena Uk","video":{"id":"mp4-ac7892d397e60ccbc170533d76e7df86-80df682e4f1f2e","mime_type":"video/mp4","file_size":31144371,"sha256":"Ci6lyZJkkxmD3sohTVeyQjSK4s+gQ0D338C8O1cwKes=","caption":"Après avec bonus le chat","width":478,"height":850,"seconds":127,"preview":"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEABsbGxscGx4hIR4qLSgtKj04MzM4PV1CR0JHQl2NWGdYWGdYjX2Xe3N7l33gsJycsOD/2c7Z//////////////8BGxsbGxwbHiEhHiotKC0qPTgzMzg9XUJHQkdCXY1YZ1hYZ1iNfZd7c3uXfeCwnJyw4P/Zztn////////////////CABEIAEgAKAMBIgACEQEDEQH/xAAwAAADAQEBAQAAAAAAAAAAAAAAAQQDAgUGAQADAQEAAAAAAAAAAAAAAAACAwQAAf/aAAwDAQACEAMQAAAAcNscNrQzDoRuVS1TLal1ma0TjQ9qWuNDeJdomrDgcH0eG0clEsdE9KEAY/QShJT5uYVTgBB//8QAIBAAAgICAgMBAQAAAAAAAAAAAAECEQMhEDESIiNBUf/aAAgBAQABPwDO6wyISuIhiM6+MiMajSEih6RnfyYuhD7JTVGXeJkUMb2yTHFOLR4uOmSZLISlZEd+bMjom98J0rMrTar+GUfYhy9ZH4zI9j4duMqL9WZHt8//xAAeEQACAgEFAQAAAAAAAAAAAAABAgAQIRESIjFxMv/aAAgBAgEBPwBNNh9tPmgsQcW9iCkOCIgoDEXqv//EABwRAAICAgMAAAAAAAAAAAAAAAECABARISIxMv/aAAgBAwEBPwB/Vv3DMxzyWMacbBjUx3Gr/9k="},"context":{"forwarded":true,"forwarding_score":1},"from":"447453536046","from_name":"Quena♥️"}],"event":{"type":"messages","event":"post"},"channel_id":"DRSTRG-R2GAJ"},"webhookUrl":"https://n8nw.qeva.xyz/webhook/whapi","executionMode":"production"}}]},"versionId":"0aa14951-c4ad-4356-9b9c-35f145e65fb1","triggerCount":2,"shared":[{"updatedAt":"2025-06-28T03:55:45.572Z","createdAt":"2025-06-28T03:55:45.572Z","role":"workflow:owner","workflowId":"Jhg5kS8wJEi7bmsk","projectId":"DNT3QDRWLFfadzy4"}],"tags":[{"updatedAt":"2025-08-25T00:24:11.170Z","createdAt":"2025-08-25T00:24:11.170Z","id":"19ioWlFLcLHUZ8EP","name":"Mencion-Fantasma"},{"updatedAt":"2025-11-04T18:24:15.943Z","createdAt":"2025-11-04T18:23:40.332Z","id":"5tTDT5tJygwlXPi9","name":"Qeva⚙️"}]}