monitoreo_iclp-TJpFrU0EXnnOUIry.json
{"createdAt":"2025-08-18T03:35:03.938Z","updatedAt":"2025-09-07T14:23:55.735Z","id":"TJpFrU0EXnnOUIry","name":"Monitoreo_ICLP","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-540,100],"id":"873b5a0f-09cf-4bb6-8d1b-673c53b6552f","name":"Every_15_Minutes"},{"parameters":{"assignments":{"assignments":[{"id":"health_check_init","name":"health_check","value":"{\n  \"timestamp\": \"{{ new Date().toISOString() }}\",\n  \"system\": \"ICLP-Chatbot\",\n  \"version\": \"2.0\",\n  \"checks\": {\n    \"baserow\": { \"status\": \"pending\", \"response_time_ms\": null },\n    \"chatwoot\": { \"status\": \"pending\", \"response_time_ms\": null },\n    \"redis\": { \"status\": \"pending\", \"available\": null },\n    \"workflows\": { \"status\": \"pending\", \"active_count\": null }\n  }\n}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,100],"id":"ce42952f-7dad-4763-9d66-cee7cb3df9fc","name":"Initialize_Health_Check"},{"parameters":{"url":"https://api.baserow.io/api/database/256795/table/606371/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token {{ $vars.BASEROW_TOKEN }}"}]},"options":{"timeout":5000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[40,0],"id":"75ce9116-610c-4c49-b0fd-da335c841f28","name":"Check_Baserow","disabled":true},{"parameters":{"url":"https://chatw.automatizaciones.ai/api/v1/accounts/2/conversations","sendQuery":true,"queryParameters":{"parameters":[{"name":"page","value":"1"},{"name":"limit","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"{{ $vars.CHATWOOT_ACCOUNT_TOKEN || 'JFi43nzvEPDBCaxaFrkhVvdM' }}"}]},"options":{"timeout":5000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[40,200],"id":"2eddf78f-1b10-4fd1-826c-3c565b58f15e","name":"Check_Chatwoot"},{"parameters":{"jsCode":"// Compilar resultados de health checks\nconst healthData = JSON.parse($('Initialize_Health_Check').item.json.health_check);\nconst startTime = Date.now();\n\n// Inicializar variables de estado\nlet baserowStatus = 'error';\nlet chatwootStatus = 'error';\nlet baserowResponseTime = null;\nlet chatwootResponseTime = null;\n\n// Verificar Baserow\ntry {\n  const baserowData = $('Check_Baserow').all();\n  if (baserowData && baserowData.length > 0) {\n    const baserowResponse = baserowData[0].json;\n    if (baserowResponse && !baserowResponse.error) {\n      baserowStatus = 'healthy';\n      baserowResponseTime = baserowResponse.response_time || 0;\n    }\n  }\n} catch (error) {\n  baserowStatus = 'error';\n}\n\n// Verificar Chatwoot\ntry {\n  const chatwootData = $('Check_Chatwoot').all();\n  if (chatwootData && chatwootData.length > 0) {\n    const chatwootResponse = chatwootData[0].json;\n    if (chatwootResponse && chatwootResponse.data) {\n      chatwootStatus = 'healthy';\n      chatwootResponseTime = chatwootResponse.response_time || 0;\n    }\n  }\n} catch (error) {\n  chatwootStatus = 'error';\n}\n\n// Verificar Redis (simulado)\nlet redisStatus = 'unknown';\ntry {\n  if (global.redisSimulator) {\n    redisStatus = 'simulated';\n  } else {\n    redisStatus = 'not_available';\n  }\n} catch (error) {\n  redisStatus = 'error';\n}\n\n// Estado general del sistema\nconst overallHealth = (baserowStatus === 'healthy' && chatwootStatus === 'healthy') ? 'healthy' : 'degraded';\n\n// Crear reporte de salud\nconst healthReport = {\n  timestamp: new Date().toISOString(),\n  system: 'ICLP-Chatbot',\n  version: '2.0',\n  overall_status: overallHealth,\n  checks: {\n    baserow: {\n      status: baserowStatus,\n      response_time_ms: baserowResponseTime,\n      endpoint: 'api.baserow.io'\n    },\n    chatwoot: {\n      status: chatwootStatus,\n      response_time_ms: chatwootResponseTime,\n      endpoint: 'chatw.automatizaciones.ai'\n    },\n    redis: {\n      status: redisStatus,\n      available: redisStatus === 'simulated' || redisStatus === 'healthy'\n    },\n    workflows: {\n      status: 'active',\n      monitoring: true,\n      check_interval_minutes: 15\n    }\n  },\n  metrics: {\n    total_check_time_ms: Date.now() - startTime,\n    services_healthy: [baserowStatus, chatwootStatus].filter(s => s === 'healthy').length,\n    services_total: 2\n  }\n};\n\nreturn [{\n  json: healthReport\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[260,100],"id":"d2d60ff0-8558-484d-9c92-02d9bde92f2b","name":"Compile_Health_Report"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"health_status_check","leftValue":"={{ $json.overall_status }}","rightValue":"degraded","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[440,240],"id":"6019e26b-e910-4c57-9c56-38979c41693a","name":"Check_If_Alert_Needed"},{"parameters":{"assignments":{"assignments":[{"id":"alert_message","name":"alert_message","value":"🚨 ALERTA SISTEMA ICLP 🚨\n\nEstado: {{ $json.overall_status }}\nTimestamp: {{ $json.timestamp }}\n\nServicios:\n• Baserow: {{ $json.checks.baserow.status }}\n• Chatwoot: {{ $json.checks.chatwoot.status }}\n• Redis: {{ $json.checks.redis.status }}\n\nServicios saludables: {{ $json.metrics.services_healthy }}/{{ $json.metrics.services_total }}\n\n⚠️ Revisar sistema inmediatamente","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[700,225],"id":"096997aa-d175-4a43-9470-92e48e96a7e0","name":"Create_Alert"},{"parameters":{"method":"POST","url":"{{ $vars.SLACK_WEBHOOK_URL || 'https://hooks.slack.com/services/your/webhook/url' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"text\": \"{{ $json.alert_message }}\",\n  \"channel\": \"#iclp-monitoring\",\n  \"username\": \"Health Monitor\",\n  \"icon_emoji\": \":hospital:\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[920,220],"id":"20f8195a-a6af-4659-8cff-45823a0e53a0","name":"Send_Alert"},{"parameters":{"method":"POST","url":"{{ $vars.HEALTH_LOG_ENDPOINT || 'http://localhost:3000/api/health' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer {{ $vars.HEALTH_LOG_TOKEN }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,0],"id":"d02a8526-0c16-4ea1-ace6-f7b9f88a8536","name":"Log_Health_Status"}],"connections":{"Every_15_Minutes":{"main":[[{"node":"Initialize_Health_Check","type":"main","index":0}]]},"Initialize_Health_Check":{"main":[[{"node":"Check_Baserow","type":"main","index":0},{"node":"Check_Chatwoot","type":"main","index":0}]]},"Check_Baserow":{"main":[[{"node":"Compile_Health_Report","type":"main","index":0}]]},"Check_Chatwoot":{"main":[[{"node":"Compile_Health_Report","type":"main","index":0}]]},"Compile_Health_Report":{"main":[[{"node":"Check_If_Alert_Needed","type":"main","index":0},{"node":"Log_Health_Status","type":"main","index":0}]]},"Check_If_Alert_Needed":{"main":[[{"node":"Log_Health_Status","type":"main","index":0},{"node":"Create_Alert","type":"main","index":0}]]},"Create_Alert":{"main":[[{"node":"Send_Alert","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"389be0f8-e5f1-49be-b4e9-1b59a487def5","triggerCount":0,"shared":[{"createdAt":"2025-08-18T03:35:03.938Z","updatedAt":"2025-08-18T03:35:03.938Z","role":"workflow:owner","workflowId":"TJpFrU0EXnnOUIry","projectId":"R66ikVn5xqf0nYcA"}],"tags":[{"createdAt":"2025-08-18T03:34:52.259Z","updatedAt":"2025-08-18T03:34:52.259Z","id":"cvrzuDctfYWcr9Ji","name":"Health_Check"},{"createdAt":"2025-08-18T03:34:52.258Z","updatedAt":"2025-08-18T03:34:52.258Z","id":"EAmigiYqUR6pAJwo","name":"Monitoring"},{"createdAt":"2025-08-12T02:10:29.356Z","updatedAt":"2025-08-12T02:10:29.356Z","id":"OsMujd4oglQ3g7SY","name":"ICLP"}]}