multiagente---semiasistido-d4lZt41zHEpubZHM.json
{"createdAt":"2025-06-28T20:07:02.813Z","updatedAt":"2025-07-10T12:23:36.862Z","id":"d4lZt41zHEpubZHM","name":"MultiAgente - SemiAsistido","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1700,885],"id":"d543f214-507d-4c1f-aff0-e4fb60a7d3db","name":"No Operation, do nothing"},{"parameters":{"inputText":"={{ $('Resetear debounce1').item.json.debounce }}\n\nConversación previa: {{ JSON.stringify($('Obtener_historial').item.json.messages.slice(-2)) }}\n\nMensaje actual: {{ $('Resetear debounce1').item.json.debounce }}","categories":{"categories":[{"category":"sacar_turno","description":"\"Usuario quiere sacar turno, menciona DNI, médico específico. Ejemplos: 'quiero turno', 'mi dni', 'Dr. Genovesi'\""},{"category":"cancelar_turno","description":"\"Usuario quiere cancelar turno. Ejemplos: 'cancelar', 'anular', 'eliminar turno'\""},{"category":"coordinador","description":"Saludos, consultas generales, dudas o mensajes que no son específicamente para sacar o cancelar turnos. Ejemplos: 'hola', 'buenos días', 'que puedo hacer', 'ayuda'"}]},"options":{"fallback":"other","systemPromptTemplate":"Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[-664,660],"id":"6f252f7f-da80-4eb9-8101-d38e2b356a2f","name":"Text Classifier"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[972,585],"id":"46f62d55-c2f9-4034-ad9b-9e4aac5df275","name":"1 mensaje a la vez"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[-1040,660],"id":"34885585-1637-4710-9a3f-f91f1d53bf37","name":"Obtener_historial"},{"parameters":{"method":"POST","url":"={{ $('seteo_variables').item.json.evolution_url }}/message/sendText/{{ $('seteo_variables').item.json.evolution_instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('seteo_variables').item.json.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('seteo_variables').item.json.whatsapp }}"},{"name":"text","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1192,585],"id":"15c2ee8b-6d31-495a-b00d-8b1c31da9bb3","name":"Respuesta_al_usuario"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=user_{{ $('seteo_variables').item.json.whatsapp.replace('+', '').replace('@', '') }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-168,380],"id":"b6a8a00f-a342-4c08-96ee-8a3e685b987d","name":"Simple Memory"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-288,380],"id":"ee7005d2-6131-4c91-9458-ee4358e3a989","name":"LLM 4.1-Nano","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1260,585],"id":"8ba8ee43-bd41-48db-b921-eb4658ee4d53","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1480,585],"id":"7d80b506-6ba3-4ae1-8ef3-b901e2f428bf","name":"Convert to File"},{"parameters":{"method":"POST","url":"={{ $('seteo_variables').item.json.evolution_url }}/chat/getBase64FromMediaMessage/{{ $('seteo_variables').item.json.evolution_instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('seteo_variables').item.json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('seteo_variables').item.json.mensaje_id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1700,585],"id":"5d334d62-31ab-44c6-adfa-885575942610","name":"Descarga_audio_whatsapp"},{"parameters":{"promptType":"define","text":"={{ $('Resetear debounce1').item.json.debounce }}","options":{"systemMessage":"=Eres TurnoBot, especialista en agendamiento del Instituto ICLP\n\n# TurnoBot - Especialista en Reserva de Turnos ICLP\n\nHERRAMIENTAS DISPONIBLES:\n- HTTP verificar_padron: validar pacientes registrados  \n- HTTP empadronar_paciente: registrar nuevos pacientes\n- HTTP obtener_especialidades_medicos: listar especialidades\n- HTTP obtener_todos_medicos: buscar médicos específicos\n- HTTP obtener_horarios_medicos: consultar disponibilidad\n- reservar_turno: confirmar reserva final\n\n## FLUJO PASO A PASO:\n1. **Extraer DNI** del mensaje automáticamente\n2. **Verificar con HTTP verificar_padron**\n3. **Si no registrado**: usar HTTP empadronar_paciente  \n4. **Buscar médico** con HTTP obtener_todos_medicos\n5. **Obtener horarios** con HTTP obtener_horarios_medicos\n6. **Confirmar datos** y llamar reservar_turno\n\nFORMATOS CRÍTICOS:\n- fecha: YYYYMMDD (ej: 20250125)  \n- hora: HHMM (ej: 1430)\n- dni: sin puntos (ej: 42028075)\n\n# FLUJO PASO A PASO \n## Paso 1: DNI del cliente\n- Validar con HTTP verificar_padron\n- Si no válido: \"DNI no registrado. Contactá al instituto.\"\n\n## Paso 2: Médico específico\n- Usar HTTP obtener_todos_medicos \n- Mostrar lista: \"Médicos disponibles: [LISTA]\"\n- Usuario elige o menciona nombre específico\n\n## Paso 3: Horarios disponibles\n- Usar HTTP obtener_horarios_medicos\n- Mostrar: \"Horarios del Dr. [NOMBRE]: [LISTA]\"\n- Usuario selecciona horario\n\n## Paso 4: Confirmación completa\n\"📋 CONFIRMAR TURNO\n👤 [NOMBRE] - DNI: [DNI]\n👨‍⚕️ Dr. [MÉDICO] - Matrícula: [MATRICULA] \n📅 [FECHA] - 🕐 [HORA]\n¿Confirmo? (Sí/No)\"\n\n## Paso 5: Envío al subflujo\n- \"Sí\" → llamar reservar_turno con TODOS los datos\n- Mostrar resultado del subflujo\n\nVALIDACIONES REQUERIDAS:\n- DNI: 7-8 dígitos numéricos\n- Fecha: formato YYYYMMDD, fecha futura\n- Hora: formato HHMM, horario laboral (0800-1800)\n\nREGLA CRÍTICA PARA MOSTRAR MÉDICOS:\nCuando uses HTTP obtener_todos_medicos, DEBES mostrar TODOS los médicos de la especialidad exacta solicitada.\n\nEJEMPLO: Si usuario pide \"clínico\", filtrar SOLO por \"CLINICA MEDICA\" y mostrar TODOS:\n- AMBROSSINI LUCIANA (114163)\n- CUELLAR SERGIO (19489)  \n- de la SERNA MARIANO (114206)\n- GENOVESI LUIS (111808)\n- MIJAILOFF DANIEL (18317)\n\nNUNCA omitas médicos. NUNCA incluyas especialidades diferentes.\n\n\n# HERRAMIENTAS DISPONIBLES:\n- Buscar_medicos_por_nombre: búsqueda inteligente por nombre/apellido\n- Redis_consultar_medico_scraping: datos completos por matrícula\n- Redis_consultar_obras_sociales: lista de 151 obras sociales\n- HTTP verificar_padron: validar pacientes registrados  \n- HTTP obtener_horarios_medicos: consultar disponibilidad\n- reservar_turno: confirmar reserva final\n\n# FLUJO OPTIMIZADO CON SCRAPING:\n\n## Paso 1: Búsqueda Inteligente de Médicos\n- Si usuario menciona nombre: usar Buscar_medicos_por_nombre\n- Ejemplos: \"fabian barba\" → encuentra BARBA FABIAN (112218)\n- \"genovesi\" → encuentra GENOVESI LUIS (111808)\n- \"arregui\" → encuentra ARREGUI VICTOR (15976)\n\n## Paso 2: Datos Completos del Médico\n- Usar Redis_consultar_medico_scraping con la matrícula\n- Obtener: precios, horarios, obras sociales aceptadas/rechazadas\n- Validar disponibilidad online para turnos web\n\n## Paso 3: Validación de Obras Sociales\n- Usar Redis_consultar_obras_sociales para verificar\n- CRÍTICO: Verificar si médico rechaza obras sociales específicas\n- Ejemplo: Muchos médicos rechazan OSTCARA y OSPRERA\n\n## Paso 4: Información de Precios Actualizada\n- Consulta base: $15.000 (mayoría médicos categoría B)\n- Dr. Arregui (15976): PARTICULAR $15.000, PAMI $5.000\n- Informar precios antes de reservar\n\n## FORMATOS CRÍTICOS:\n- fecha: YYYYMMDD (ej: 20250125)  \n- hora: HHMM (ej: 1430)\n- dni: sin puntos (ej: 42028075)\n\n## MÉDICOS DISPONIBLES (Datos del Scraping):\nCLÍNICA MÉDICA:\n- ARREGUI VICTOR (15976) - Precios diferenciados\n- BARBA FABIAN (112218) \n- GENOVESI LUIS (111808)\n- AMBROSSINI LUCIANA (114163)\n- CUELLAR SERGIO (19489)\n- DE LA SERNA MARIANO (114206)\n- MIJAILOFF DANIEL (18317)\n\nSIEMPRE usa las herramientas de scraping para datos actualizados.\n\nFecha actual: {{ new Date().toLocaleString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires' }) }}\n\nNUNCA des informacion de los celulares o telefonos de los medicos \n\nFecha actual: {{ new Date().toLocaleString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires' }) }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[44,160],"id":"153d4d18-655b-4f52-b9d7-abb80274161a","name":"TurnoBot"},{"parameters":{"keys":{"key":[{"currentKey":"content","newKey":"body"}]},"additionalOptions":{}},"type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[-3900,735],"id":"204f6c7c-fd32-4185-b547-1bff60aff44a","name":"Mensaje de entrada1"},{"parameters":{"operation":"set","key":"={{ $('seteo_variables').item.json.whatsapp }}_debounce_{{ $('seteo_variables').item.json.nombre_negocio }}","value":"={{\n  $('seteo_variables').item.json.mensaje_tipo === 'audioMessage' ? 'audio_received' :\n  $('seteo_variables').item.json.mensaje_tipo === 'imageMessage' ? ($('seteo_variables').item.json.imagen_texto || 'imagen_recibida') :\n  $('seteo_variables').item.json.mensaje_tipo === 'reactionMessage' ? $('seteo_variables').item.json.mensaje_reaccion :\n  $('seteo_variables').item.json.mensaje_texto || 'mensaje_sin_texto'\n}}","expire":true,"ttl":15},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3460,735],"id":"24516b87-02d3-4437-9a27-1c471e95fae2","name":"almacenar_debounce","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"set","key":"={ $('seteo_variables').item.json.whatsapp }}_debounce_{{ $('seteo_variables').item.json.nombre_negocio }}","value":"={{\n  $('seteo_variables').item.json.mensaje_tipo === 'audioMessage' ? 'audio_received' :\n  $('seteo_variables').item.json.mensaje_tipo === 'imageMessage' ? ($('seteo_variables').item.json.imagen_texto || 'imagen_recibida') :\n  $('seteo_variables').item.json.mensaje_tipo === 'reactionMessage' ? $('seteo_variables').item.json.mensaje_reaccion :\n  $('seteo_variables').item.json.mensaje_texto || 'mensaje_sin_texto'\n}}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2360,735],"id":"cdcf0a2b-3c0c-49c0-99c6-101172b164dd","name":"Resetear debounce1","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"debounce","key":"={{ $('seteo_variables').item.json.whatsapp }}_debounce_{{ $('seteo_variables').item.json.nombre_negocio }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2800,735],"id":"916ed2aa-ad9b-492d-bbc6-614c511aa9b9","name":"Recuperar debounce [B]1","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"debounce","key":"={{ $('seteo_variables').item.json.whatsapp }}_debounce_{{ $('seteo_variables').item.json.nombre_negocio }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3240,735],"id":"270c6219-12e3-445a-941c-686630c33f3c","name":"Recuperar debounce [A]1","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26cede26-4e84-4d91-9969-09bfc5bf3313","leftValue":"={{ $('Recuperar debounce [A]1').item.json.debounce }}","rightValue":"={{ $('Recuperar debounce [B]1').item.json.debounce }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2580,735],"id":"fc2674fc-8bd4-4d26-b689-3b5fb190b572","name":"Comparar debounce y mensaje1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3020,735],"id":"b4f4bce4-149e-4596-9e27-1c8ac1585f57","name":"Esperar 5 segundos1","webhookId":"dc090e12-c988-4405-8ca0-73ac92c6fd1e"},{"parameters":{"assignments":{"assignments":[{"id":"915e8cae-80aa-4564-9b03-fc7936051b50","name":"evolution_url","value":"={{ $('Mensaje de entrada1').item.json.body.server_url }}","type":"string"},{"id":"b1fac4cf-b394-40a4-a53e-6c1c8b0781a9","name":"evolution_instancia","value":"={{ $('Mensaje de entrada1').item.json.body.instance }}","type":"string"},{"id":"d12ad259-1d61-490f-a383-aa0294f60752","name":"whatsapp","value":"=+{{ $('Mensaje de entrada1').item.json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\",\"\") }}","type":"string"},{"id":"693e89ee-a42d-481a-980c-9fc813bb07bb","name":"enviado_por_mi","value":"={{ $('Mensaje de entrada1').item.json.body.data.key.fromMe }}","type":"boolean"},{"id":"443aa937-5454-4f65-845b-344b8da65528","name":"mensaje_id","value":"={{ $('Mensaje de entrada1').item.json.body.data.key.id }}","type":"string"},{"id":"a21e5305-570c-4153-8b22-b2d56d1f21ee","name":"mensaje_texto","value":"={{ $('Mensaje de entrada1').item.json.body.data.message.conversation }}","type":"string"},{"id":"4d471303-5393-4ca4-a3bc-c6177b90812f","name":"mensaje_tipo","value":"={{ $('Mensaje de entrada1').item.json.body.data.messageType }}","type":"string"},{"id":"70b3ac3c-1aeb-48a5-991c-6278f58a1ae4","name":"mensaje_reaccion","value":"={{ $('Mensaje de entrada1').item.json.body.data.message.reactionMessage.text }}","type":"string"},{"id":"c4b4860b-27e5-4e10-821c-58c97382ec0a","name":"imagen_texto","value":"={{ $('Mensaje de entrada1').item.json.body.data.message.imageMessage.caption }}","type":"string"},{"id":"be5f497b-c00c-4843-9d1f-02926b0cf077","name":"nombre_negocio","value":"iclp","type":"string"},{"id":"1cfca1c3-4c38-43be-97cf-aa1714a6f086","name":"apikey","value":"={{ $json.body.apikey }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3680,735],"id":"9227a24c-d27d-4c9e-a1cc-cd46350fb9ee","name":"seteo_variables"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fee09f3c-637a-4864-a7ed-1af87e72e30f","leftValue":"={{ $('seteo_variables').item.json.whatsapp }}","rightValue":"+5492213994411","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2140,735],"id":"d6736607-4bd9-47c6-915e-a2984163b8a6","name":"Filtrar números de prueba"},{"parameters":{"httpMethod":"POST","path":"nicotest","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-4120,735],"id":"3ff96ac8-ad75-4817-9df7-200331244af1","name":"Webhook","webhookId":"d5c2bece-2323-4d9b-9115-70cfc9683afa"},{"parameters":{"toolDescription":"=Cancela un turno médico existente del paciente. Requiere matricula (número), fecha (formato YYYYMMDD) y hora (formato HHMM) del turno a cancelar. Usá este endpoint cuando el paciente solicite anular un turno confirmado.\n\nEste es el estado de la sesion:\n{{ $('When Executed by Another Workflow').item.json.session.estado_sesion }}\n\n\n\n- **Fecha y hora actual**: {{ new Date().toLocaleString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires', weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) }}\n\n\n## Información del usuario\n- ID: {{ $json.user_id }}\n- Mensaje actual: {{ $json.texto }}\n\n## Estado de la conversación\n- Datos recopilados:{{ $json.session.estado_sesion }}","method":"PUT","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/eliminar-turno","sendQuery":true,"parametersQuery":{"values":[{"name":"usuario","valueProvider":"fieldValue","value":"WSTRRED"},{"name":"password","valueProvider":"fieldValue","value":"Y2xpb25lcws"},{"name":"matricula","valueProvider":"fieldValue","value":"={matricula}"},{"name":"fecha","valueProvider":"fieldValue","value":"={fecha}"},{"name":"hora","valueProvider":"fieldValue","value":"={hora}"}]},"sendHeaders":true,"parametersHeaders":{"values":[{"name":"Content-Type","valueProvider":"fieldValue","value":"application/json"}]},"placeholderDefinitions":{"values":[{"name":"matricula","description":"Matrícula del médico (número entero, ejemplo: 15976)","type":"string"},{"name":"fecha","description":"Fecha del turno en formato YYYYMMDD SIN GUIONES. Si recibes 2025-06-21, convertir a 20250621. Ejemplo: 20250621","type":"string"},{"name":"hora","description":"Hora del turno en formato HHMM (ejemplo: 1745)","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[72,780],"id":"b890b4f3-e0f3-4d0c-ad6c-40e03f0f9c49","name":"HTTP cancelar_turno"},{"parameters":{"toolDescription":"Devuelve los horarios disponibles para un médico en una fecha determinada. Requiere matrícula del médico y la fecha. Usá este endpoint cuando el paciente ya eligió un médico y se debe mostrar disponibilidad.","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/horarios-con-pacientes","sendQuery":true,"parametersQuery":{"values":[{"name":"usuario","valueProvider":"fieldValue","value":"WSTRRED"},{"name":"password","valueProvider":"fieldValue","value":"Y2xpb25lcw"},{"name":"matricula","valueProvider":"fieldValue","value":"={matricula}"},{"name":"fecha","valueProvider":"fieldValue","value":"={fecha}"},{"name":"soloOcupados","valueProvider":"fieldValue","value":"={soloOcupados}"}]},"placeholderDefinitions":{"values":[{"name":"matricula","description":"Matrícula del médico seleccionado","type":"string"},{"name":"fecha","description":"Fecha en formato YYYYMMDD (ej: 20250620)","type":"string"},{"name":"soloOcupados","description":"Mostrar solo horarios ocupados (true/false)","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-48,380],"id":"d65c64f1-1296-4b25-a0a1-2ae654ab5497","name":"HTTP obtener_horarios_medicos"},{"parameters":{"toolDescription":"Devuelve la lista completa de TODOS los médicos disponibles en el sistema con sus especialidades, matrículas y nombres. Este endpoint es más eficiente que hacer múltiples llamadas por especialidad. Úsalo cuando necesites mostrar médicos disponibles o cuando el paciente solicite una especialidad específica - simplemente filtra los resultados por la especialidad deseada.","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/lista-medicos/all","sendQuery":true,"parametersQuery":{"values":[{"name":"usuario","valueProvider":"fieldValue","value":"WSTRRED"},{"name":"password","valueProvider":"fieldValue","value":"Y2xpb25lcw"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[72,380],"id":"9bbdd7c7-c95a-4325-bf0c-e15f01169b25","name":"HTTP obtener_todos_medicos"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('seteo_variables').item.json.mensaje_tipo }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"a14a0e87-4dc6-4b6b-b5c9-130df82cffb1"}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c52c071e-3b41-4c1a-a29c-2d6205df78f1","leftValue":"={{ $('seteo_variables').item.json.mensaje_tipo }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"76581f1f-514d-48b7-8f14-3700188cf9ba","leftValue":"={{ $('seteo_variables').item.json.mensaje_tipo }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagen"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ff59f6c2-f2a4-4344-8d6e-5b6c68db58f1","leftValue":"={{ $('seteo_variables').item.json.mensaje_tipo }}","rightValue":"reactionMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"reacción"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"otro"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1920,693],"id":"3213f646-8004-482a-88a8-d1d0dd756db5","name":"Tipo de mensaje"},{"parameters":{"promptType":"define","text":"={{ $('Resetear debounce1').item.json.debounce }}","options":{"systemMessage":"=Eres CancelBot, especialista en cancelación del Instituto ICLP.\n\nHERRAMIENTAS:\n- HTTP cancelar_turno: cancelar específico\n- Think: reflexionar\n\n# FLUJO DIRECTO\n1. DNI → mostrar turnos\n2. Usuario elige → cancelar inmediatamente\n3. Confirmar resultado\n\nFecha actual: {{ new Date().toLocaleString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires' }) }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[44,560],"id":"7570c84c-0eb3-4fba-9502-08df848c58ac","name":"CancelBot"},{"parameters":{"toolDescription":"Consulta si el paciente con el DNI proporcionado ya está empadronado en el sistema. Usá este endpoint cuando necesites verificar si un paciente existe en el padrón antes de continuar con el proceso de turnos.","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/verificar-padron","sendQuery":true,"parametersQuery":{"values":[{"name":"usuario","valueProvider":"fieldValue","value":"WSTRRED"},{"name":"password","valueProvider":"fieldValue","value":"Y2xpb25lcw"},{"name":"dni","valueProvider":"fieldValue","value":"={dni}"}]},"placeholderDefinitions":{"values":[{"name":"dni","description":"NI del paciente a verificar (sin puntos ni guiones)","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[192,380],"id":"0cb6c4d6-47fe-4f38-8e3c-dc2c9fb9c57e","name":"HTTP verificar_padron"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[312,380],"id":"20733cbd-9ad2-4aa0-b809-3ef4d72cae28","name":"Think"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[192,780],"id":"af3c884d-1156-4d31-b443-383d92dcfd5e","name":"Think1"},{"parameters":{"workflowId":{"__rl":true,"value":"IGIgKeF0ep3CS1wL","mode":"list","cachedResultName":"Semi-Asistido: tomar_turno"},"workflowInputs":{"mappingMode":"defineBelow","value":{"dni":"={{ $fromAI('dni', 'DNI del paciente sin puntos', 'string') }}","matricula":"={{ $fromAI('matricula', 'Matrícula del médico', 'string') }}","fecha":"={{ $fromAI('fecha', 'Fecha en formato YYYYMMDD', 'string') }}","hora":"={{ $fromAI('hora', 'Hora en formato HHMM', 'string') }}","celular":"={{ $fromAI('celular', 'Número de celular', 'string') }}","nombrePaciente":"={{ $fromAI('nombrePaciente', 'Nombre completo', 'string') }}","nombreMedico":"={{ $fromAI('nombreMedico', 'Nombre del médico', 'string') }}"},"matchingColumns":[],"schema":[{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"matricula","displayName":"matricula","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"hora","displayName":"hora","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"celular","displayName":"celular","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nombrePaciente","displayName":"nombrePaciente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nombreMedico","displayName":"nombreMedico","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[432,380],"id":"3a08fdfc-dcdd-4b92-8ba9-a2ed87a17c13","name":"reservar_turno"},{"parameters":{"toolDescription":"Registra a un nuevo paciente en el sistema de padrón. Requiere nombre completo, DNI, obra social y teléfono. Usá este endpoint cuando el paciente aún no esté empadronado y haya proporcionado todos los datos requeridos.","method":"POST","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/empadronamiento","sendQuery":true,"parametersQuery":{"values":[{"name":"usuario","valueProvider":"fieldValue","value":"WSTRRED"},{"name":"password","valueProvider":"fieldValue","value":"Y2xpb25lcw"}]},"sendHeaders":true,"parametersHeaders":{"values":[{"name":"Content-Type","valueProvider":"fieldValue","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"dni\": \"{{ $json.session.datos_recopilados.dni }}\",\n  \"paciente\": \"{{ $json.session.datos_recopilados.nombre }}\",\n  \"obraSocial\": \"{{ $json.session.datos_recopilados.obra_social }}\",\n  \"celular\": \"{{ $json.session.datos_recopilados.telefono }}\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[552,380],"id":"96fe557b-daec-4906-835c-48e266ed3fac","name":"HTTP empadronar_paciente"},{"parameters":{"promptType":"define","text":"={{ $('Resetear debounce1').item.json.debounce }}","options":{"systemMessage":"=Eres el Coordinador del Instituto ICLP, especialista en información de médicos.\n\nFUNCIÓN PRINCIPAL: Dar información valiosa y específica sobre médicos.\n\nCASOS DE USO DE HERRAMIENTAS:\n\n1. BÚSQUEDA POR NOMBRE DE MÉDICO\nCuando mencionen nombres: \"Dr. Genovesi\", \"doctor barba\", \"quiero turno con arregui\"\n→ USAR: Buscar_medicos_por_nombre para obtener índice completo\n→ Procesar JSON para encontrar el médico específico\n\n2. DATOS COMPLETOS POR MATRÍCULA\nCuando tengas matrícula específica:\n→ USAR: Redis_consultar_medico_scraping con matrícula exacta\n\nMÉDICOS PRIORITARIOS:\n- GENOVESI LUIS (111808) - CLINICA MEDICA - $15.000\n- BARBA FABIAN (112218) - CARDIOLOGIA - $15.000\n- ARREGUI VICTOR (15976) - CARDIOLOGIA - PARTICULAR $15.000, PAMI $5.000\n- AMBROSSINI LUCIANA (114163) - CLINICA MEDICA - $15.000\n\nFORMATO DE RESPUESTA PARA MÉDICOS ENCONTRADOS:\n```\n✅ **Dr. [NOMBRE]** - [ESPECIALIDAD]\n💰 Consulta: $[PRECIO] (PARTICULAR $[PRECIO_PARTICULAR], PAMI $[PRECIO_PAMI] si son diferentes)\n📅 Horarios: [DÍAS Y HORARIOS ESPECÍFICOS]\n\n¿Te ayudo a coordinar el turno?\n```\n\nINFORMACIÓN QUE SIEMPRE INCLUIR:\n- Nombre completo del médico\n- Especialidad\n- Precios específicos (PARTICULAR y PAMI si son diferentes)\n- Horarios de atención por día\n- Cómo agendar turno\n\nINFORMACIÓN QUE NUNCA MENCIONAR:\n- \"modalidad online\" o \"disponibilidad online\"\n- \"no especificamos horarios exactos\" \n- Información vaga o imprecisa\n\nCASOS SIN HERRAMIENTAS (solo saludos):\nPara \"hola\", \"buenos días\" sin mencionar médicos:\n\n¡Buenos días! Soy el asistente virtual del Instituto ICLP ❤️\n\n🤖 Bot disponible 24/7 Para Turnos | 🏥 Instituto: Lunes a Viernes 8-20hs Y Sabados de 8 a 13hs\n\n¿En qué puedo ayudarte?\n🔹 **Sacar un turno nuevo** \n🔹 **Cancelar un turno existente**\n\nFLUJO OBLIGATORIO:\n1. Usuario menciona médico → Buscar_medicos_por_nombre\n2. Encontrar médico en JSON → Redis_consultar_medico_scraping  \n3. Dar respuesta con TODA la información valiosa\n\nEJEMPLO DE USO DE HERRAMIENTAS:\nUsuario: \"dr genovesi\"\n1. Usar Buscar_medicos_por_nombre → obtener JSON con todos los médicos\n2. Buscar \"genovesi\" en el JSON → encontrar GENOVESI LUIS (111808)\n3. Usar Redis_consultar_medico_scraping(\"111808\") → obtener datos completos\n4. Responder con formato específico\n\nIMPORTANTE:\n- SIEMPRE dar precios específicos\n- SIEMPRE mencionar especialidad\n- SIEMPRE dar horarios si están disponibles\n- NUNCA dar información vaga\n- NUNCA mencionar \"online\" o \"modalidad\"\n\nFecha actual: {{ new Date().toLocaleString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires' }) }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[44,1060],"id":"8d1535ae-f329-4eea-8b0d-0d509f4e85ef","name":"Coordinador"},{"parameters":{"descriptionType":"manual","toolDescription":"Consulta datos completos de un médico específico desde Redis usando su matrícula exacta. Devuelve información del scraping ICLP: precios (consulta_base, particular, PAMI), horarios detallados por día, obras sociales aceptadas/rechazadas, disponibilidad online. Ejemplo: matrícula 15976 = Dr. ARREGUI con precios diferenciados.\"","operation":"get","propertyName":"datos_medico","key":"=medico:{{ $fromAI('matricula', 'Matrícula del médico a consultar (ej: 15976, 112218)', 'string') }}","options":{}},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[12,1280],"id":"d77717a0-df63-4cfd-8617-9a0bb560a1fd","name":"Redis_consultar_medico_scraping","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Consulta datos completos de un médico específico desde Redis usando su matrícula exacta. Devuelve información del scraping ICLP: precios (consulta_base, particular, PAMI), horarios detallados por día, obras sociales aceptadas/rechazadas, disponibilidad online. Ejemplo: matrícula 15976 = Dr. ARREGUI con precios diferenciados.","operation":"get","propertyName":"obras_sociales","key":"=obras_sociales:lista","options":{}},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[132,1280],"id":"a5fdf745-c282-4fae-bdc7-cb719659aa58","name":"Redis_consultar_obras_sociales","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"jsCode":"// CÓDIGO N8N COMPLIANT - SIGUIENDO MEJORES PRÁCTICAS OFICIALES\n// Basado en documentación oficial de n8n para nodos Code\n\n// ============================================================================\n// MEJORES PRÁCTICAS N8N IMPLEMENTADAS:\n// - Uso correcto de $input.all() como método principal\n// - Manejo de errores sin romper el flujo\n// - Return format correcto [{ json: {...} }]\n// - Evitar referencias circulares (documentación de AI Agent common issues)\n// - Logging para debugging (recomendación oficial)\n// ============================================================================\n\nconsole.log('=== N8N CODE NODE - EXTRACCIÓN AI AGENTS ===');\n\n// Variables principales\nlet textoExtraido = '';\nlet fuenteDatos = '';\nlet success = false;\n\ntry {\n  // ===== MÉTODO PRINCIPAL: INPUT DIRECTO =====\n  // Según documentación n8n, $input.all() es la forma recomendada\n  const items = $input.all();\n  console.log(`📥 Items recibidos: ${items.length}`);\n  \n  // Validar que tenemos datos\n  if (!items || items.length === 0) {\n    console.log('⚠️ No hay items en el input');\n    return [{\n      json: {\n        mensaje: 'Error: No se recibieron datos en el nodo.',\n        error: true,\n        codigo_error: 'NO_INPUT_DATA'\n      }\n    }];\n  }\n  \n  // Procesar cada item del input\n  for (let index = 0; index < items.length; index++) {\n    const item = items[index];\n    \n    // Validar estructura del item\n    if (!item || !item.json) {\n      console.log(`❌ Item ${index} no tiene estructura json válida`);\n      continue;\n    }\n    \n    console.log(`🔍 Procesando item ${index}`);\n    console.log(`   Propiedades: [${Object.keys(item.json).join(', ')}]`);\n    \n    // Buscar texto en propiedades estándar de AI Agents\n    // Según documentación, AI Agents pueden usar diferentes campos de output\n    const camposTexto = [\n      'output',    // Campo principal AI Agent\n      'text',      // Campo alternativo común\n      'content',   // Campo de contenido\n      'response',  // Campo de respuesta\n      'mensaje'    // Campo personalizado\n    ];\n    \n    for (const campo of camposTexto) {\n      const valor = item.json[campo];\n      \n      // Validar que el campo existe y es string válido\n      if (valor && \n          typeof valor === 'string' && \n          valor.trim().length > 0) {\n        \n        textoExtraido = valor.trim();\n        fuenteDatos = `item[${index}].json.${campo}`;\n        success = true;\n        \n        console.log(`✅ Texto encontrado en ${campo}`);\n        console.log(`   Longitud: ${textoExtraido.length} caracteres`);\n        console.log(`   Preview: \"${textoExtraido.substring(0, 100)}...\"`);\n        \n        break; // Salir del loop de campos\n      }\n    }\n    \n    // Si encontramos texto, salir del loop de items\n    if (success) break;\n  }\n  \n  // ===== MÉTODO FALLBACK: NODOS ESPECÍFICOS =====\n  // Solo si no hay texto en input directo\n  if (!success) {\n    console.log('\\n🔄 Fallback: Buscando en nodos específicos...');\n    \n    const nodosAgentes = ['Coordinador', 'TurnoBot', 'CancelBot'];\n    \n    for (const nombreNodo of nodosAgentes) {\n      try {\n        console.log(`🤖 Verificando nodo: ${nombreNodo}`);\n        \n        // Usar función $ de n8n para acceder a otros nodos\n        const nodoData = $(nombreNodo);\n        \n        // Verificar que el nodo existe y tiene datos\n        if (nodoData && typeof nodoData.first === 'function') {\n          const nodoItem = nodoData.first();\n          \n          if (nodoItem && nodoItem.json) {\n            console.log(`   Propiedades ${nombreNodo}: [${Object.keys(nodoItem.json).join(', ')}]`);\n            \n            // Buscar en campos estándar\n            for (const campo of ['output', 'text', 'content', 'response']) {\n              const valor = nodoItem.json[campo];\n              \n              if (valor && \n                  typeof valor === 'string' && \n                  valor.trim().length > 0) {\n                \n                textoExtraido = valor.trim();\n                fuenteDatos = `${nombreNodo}.json.${campo}`;\n                success = true;\n                \n                console.log(`✅ Texto encontrado en ${nombreNodo}.${campo}`);\n                break;\n              }\n            }\n          }\n        }\n        \n        // Si encontramos texto, salir\n        if (success) break;\n        \n      } catch (nodeError) {\n        // Manejo de errores sin romper el flujo (best practice n8n)\n        console.log(`⚠️ Error accediendo a ${nombreNodo}: ${nodeError.message}`);\n        continue; // Continuar con siguiente nodo\n      }\n    }\n  }\n  \n} catch (globalError) {\n  // Manejo de errores globales\n  console.log(`❌ Error global: ${globalError.message}`);\n  \n  return [{\n    json: {\n      mensaje: 'Error interno del nodo. Revise los logs para más detalles.',\n      error: true,\n      codigo_error: 'INTERNAL_ERROR',\n      detalles: globalError.message\n    }\n  }];\n}\n\n// ===== VALIDACIÓN Y PROCESAMIENTO FINAL =====\nconsole.log('\\n=== RESULTADO FINAL ===');\n\nif (!success || !textoExtraido) {\n  console.log('❌ No se pudo extraer texto válido');\n  \n  return [{\n    json: {\n      mensaje: 'No se encontró respuesta válida de los agentes AI. Verifique la configuración del flujo.',\n      error: true,\n      codigo_error: 'NO_TEXT_FOUND',\n      debug_info: {\n        items_procesados: items ? items.length : 0,\n        nodos_verificados: ['Coordinador', 'TurnoBot', 'CancelBot']\n      }\n    }\n  }];\n}\n\n// Procesamiento del texto (cleaning)\n// Reemplazar secuencias de escape comunes\ntextoExtraido = textoExtraido\n  .replace(/\\\\n/g, '\\n')     // Newlines\n  .replace(/\\\\t/g, '\\t')     // Tabs\n  .replace(/\\\\r/g, '\\r')     // Carriage returns\n  .trim();\n\n// Validación final\nif (textoExtraido.length === 0) {\n  console.log('❌ Texto vacío después del procesamiento');\n  \n  return [{\n    json: {\n      mensaje: 'El texto está vacío después del procesamiento.',\n      error: true,\n      codigo_error: 'EMPTY_AFTER_PROCESSING'\n    }\n  }];\n}\n\n// Logging de éxito\nconsole.log(`✅ Extracción exitosa:`);\nconsole.log(`   Fuente: ${fuenteDatos}`);\nconsole.log(`   Caracteres: ${textoExtraido.length}`);\nconsole.log(`   Primera línea: \"${textoExtraido.split('\\n')[0]}\"`);\n\n// ===== RETURN SEGÚN ESTÁNDAR N8N =====\n// Format: array de objetos con propiedad json\nreturn [{\n  json: {\n    mensaje: textoExtraido,\n    success: true,\n    metadata: {\n      fuente: fuenteDatos,\n      caracteres: textoExtraido.length,\n      lineas: textoExtraido.split('\\n').length,\n      timestamp: new Date().toISOString(),\n      version_nodo: '2.0'\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,585],"id":"87af709a-d0f9-4c90-98cc-d2c259397f56","name":"Code"},{"parameters":{"descriptionType":"manual","toolDescription":"Busca médicos por nombre o apellido usando el índice completo del scraping ICLP. Contiene todos los médicos con nombres normalizados, matrículas, especialidades y precios actualizados. Úsala cuando el usuario mencione nombres específicos como \"genovesi\", \"barba\", \"arregui\" para encontrar la información del médico solicitado.","operation":"get","propertyName":"indice_medicos","key":"medicos:indice_completo","options":{}},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[252,1280],"id":"d9752f9c-e3b8-4a4b-9bcf-473a2d3da92e","name":"Buscar_medicos_por_nombre","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}}],"connections":{"Text Classifier":{"main":[[{"node":"TurnoBot","type":"main","index":0}],[{"node":"CancelBot","type":"main","index":0}],[{"node":"Coordinador","type":"main","index":0}],[{"node":"Coordinador","type":"main","index":0}],[],[],[],[],[],[]]},"1 mensaje a la vez":{"main":[[],[{"node":"Respuesta_al_usuario","type":"main","index":0}]]},"Obtener_historial":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Respuesta_al_usuario":{"main":[[{"node":"1 mensaje a la vez","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"CancelBot","type":"ai_memory","index":0},{"node":"TurnoBot","type":"ai_memory","index":0},{"node":"Obtener_historial","type":"ai_memory","index":0},{"node":"Coordinador","type":"ai_memory","index":0}]]},"LLM 4.1-Nano":{"ai_languageModel":[[{"node":"TurnoBot","type":"ai_languageModel","index":0},{"node":"CancelBot","type":"ai_languageModel","index":0},{"node":"Text Classifier","type":"ai_languageModel","index":0},{"node":"Coordinador","type":"ai_languageModel","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Obtener_historial","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Descarga_audio_whatsapp":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"TurnoBot":{"main":[[{"node":"Code","type":"main","index":0}]]},"Mensaje de entrada1":{"main":[[{"node":"seteo_variables","type":"main","index":0}]]},"almacenar_debounce":{"main":[[{"node":"Recuperar debounce [A]1","type":"main","index":0}]]},"Resetear debounce1":{"main":[[{"node":"Filtrar números de prueba","type":"main","index":0}]]},"Recuperar debounce [B]1":{"main":[[{"node":"Comparar debounce y mensaje1","type":"main","index":0}]]},"Recuperar debounce [A]1":{"main":[[{"node":"Esperar 5 segundos1","type":"main","index":0}]]},"Comparar debounce y mensaje1":{"main":[[{"node":"Resetear debounce1","type":"main","index":0}]]},"Esperar 5 segundos1":{"main":[[{"node":"Recuperar debounce [B]1","type":"main","index":0}]]},"seteo_variables":{"main":[[{"node":"almacenar_debounce","type":"main","index":0}]]},"Filtrar números de prueba":{"main":[[{"node":"Tipo de mensaje","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Mensaje de entrada1","type":"main","index":0}]]},"HTTP cancelar_turno":{"ai_tool":[[{"node":"CancelBot","type":"ai_tool","index":0}]]},"HTTP obtener_horarios_medicos":{"ai_tool":[[{"node":"TurnoBot","type":"ai_tool","index":0}]]},"HTTP obtener_todos_medicos":{"ai_tool":[[{"node":"TurnoBot","type":"ai_tool","index":0}]]},"Tipo de mensaje":{"main":[[{"node":"Obtener_historial","type":"main","index":0}],[{"node":"Descarga_audio_whatsapp","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"CancelBot":{"main":[[{"node":"Code","type":"main","index":0}]]},"HTTP verificar_padron":{"ai_tool":[[{"node":"TurnoBot","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"TurnoBot","type":"ai_tool","index":0}]]},"Think1":{"ai_tool":[[{"node":"CancelBot","type":"ai_tool","index":0}]]},"reservar_turno":{"ai_tool":[[{"node":"TurnoBot","type":"ai_tool","index":0}]]},"HTTP empadronar_paciente":{"ai_tool":[[{"node":"TurnoBot","type":"ai_tool","index":0}]]},"Coordinador":{"main":[[{"node":"Code","type":"main","index":0}]]},"Redis_consultar_medico_scraping":{"ai_tool":[[]]},"Redis_consultar_obras_sociales":{"ai_tool":[[]]},"Code":{"main":[[{"node":"1 mensaje a la vez","type":"main","index":0}]]},"Buscar_medicos_por_nombre":{"ai_tool":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"hooks.autoclinicas.com","user-agent":"axios/1.10.0","content-length":"603","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"hooks.autoclinicas.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"834f57821b29","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Nicolas Matias Lopez","data":{"key":{"remoteJid":"5492213994411@s.whatsapp.net","fromMe":true,"id":"3AE89D71421A50B1FAE5"},"pushName":"Nico Lopez","status":"SERVER_ACK","message":{"conversation":"hola"},"messageType":"conversation","messageTimestamp":1751294172,"instanceId":"0c06d94e-fef1-4290-8f10-fc50fe46c114","source":"ios"},"destination":"https://hooks.autoclinicas.com/webhook/nicotest","date_time":"2025-06-30T11:36:12.677Z","sender":"5492213994411@s.whatsapp.net","server_url":"https://api.autoclinicas.com","apikey":"8D32EAE9C7F6-49ED-A4AE-B9E83DF47788"},"webhookUrl":"https://hooks.autoclinicas.com/webhook/nicotest","executionMode":"production"}}]},"versionId":"ce4a5a1e-6d7a-4d55-918a-9f4186eec16d","triggerCount":1,"shared":[{"createdAt":"2025-06-28T20:07:02.813Z","updatedAt":"2025-06-28T20:07:02.813Z","role":"workflow:owner","workflowId":"d4lZt41zHEpubZHM","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}