multiagente---testing-Ysq7i8EY24X8VrUq.json
{"createdAt":"2025-06-27T21:54:54.322Z","updatedAt":"2025-07-10T12:23:27.221Z","id":"Ysq7i8EY24X8VrUq","name":"MultiAgente - Testing","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"nicotest","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-4420,595],"id":"bc3b18f2-0f77-486a-ae38-aadeede0e1c4","name":"Webhook","webhookId":"d5c2bece-2323-4d9b-9115-70cfc9683afa"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bec41ef4-f8fd-4f3d-87b1-6ceb586de6fc","leftValue":"={{ $('seteo_variables').item.json.whatsapp }}","rightValue":"+5492213994411","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2440,595],"id":"ff1031cc-d8e6-4814-abc0-bc67772ab336","name":"Filtrar números de prueba"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('seteo_variables').item.json.mensaje_tipo }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"a14a0e87-4dc6-4b6b-b5c9-130df82cffb1"}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c52c071e-3b41-4c1a-a29c-2d6205df78f1","leftValue":"={{ $('seteo_variables').item.json.mensaje_tipo }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"76581f1f-514d-48b7-8f14-3700188cf9ba","leftValue":"={{ $('seteo_variables').item.json.mensaje_tipo }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagen"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ff59f6c2-f2a4-4344-8d6e-5b6c68db58f1","leftValue":"={{ $('seteo_variables').item.json.mensaje_tipo }}","rightValue":"reactionMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"reacción"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"otro"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2220,553],"id":"dd747387-37ff-4689-8956-0045d2c8d65a","name":"Tipo de mensaje"},{"parameters":{"keys":{"key":[{"currentKey":"content","newKey":"body"}]},"additionalOptions":{}},"type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[-4200,595],"id":"fbec0b1b-22d3-416c-8573-573a88618fc8","name":"Mensaje de entrada1"},{"parameters":{"assignments":{"assignments":[{"id":"915e8cae-80aa-4564-9b03-fc7936051b50","name":"evolution_url","value":"={{ $('Mensaje de entrada1').item.json.body.server_url }}","type":"string"},{"id":"b1fac4cf-b394-40a4-a53e-6c1c8b0781a9","name":"evolution_instancia","value":"={{ $('Mensaje de entrada1').item.json.body.instance }}","type":"string"},{"id":"d12ad259-1d61-490f-a383-aa0294f60752","name":"whatsapp","value":"=+{{ $('Mensaje de entrada1').item.json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\",\"\") }}","type":"string"},{"id":"693e89ee-a42d-481a-980c-9fc813bb07bb","name":"enviado_por_mi","value":"={{ $('Mensaje de entrada1').item.json.body.data.key.fromMe }}","type":"boolean"},{"id":"443aa937-5454-4f65-845b-344b8da65528","name":"mensaje_id","value":"={{ $('Mensaje de entrada1').item.json.body.data.key.id }}","type":"string"},{"id":"a21e5305-570c-4153-8b22-b2d56d1f21ee","name":"mensaje_texto","value":"={{ $('Mensaje de entrada1').item.json.body.data.message.conversation }}","type":"string"},{"id":"4d471303-5393-4ca4-a3bc-c6177b90812f","name":"mensaje_tipo","value":"={{ $('Mensaje de entrada1').item.json.body.data.messageType }}","type":"string"},{"id":"70b3ac3c-1aeb-48a5-991c-6278f58a1ae4","name":"mensaje_reaccion","value":"={{ $('Mensaje de entrada1').item.json.body.data.message.reactionMessage.text }}","type":"string"},{"id":"c4b4860b-27e5-4e10-821c-58c97382ec0a","name":"imagen_texto","value":"={{ $('Mensaje de entrada1').item.json.body.data.message.imageMessage.caption }}","type":"string"},{"id":"be5f497b-c00c-4843-9d1f-02926b0cf077","name":"nombre_negocio","value":"iclp","type":"string"},{"id":"1cfca1c3-4c38-43be-97cf-aa1714a6f086","name":"apikey","value":"={{ $json.body.apikey }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3980,595],"id":"812f14b2-2e63-4d14-8090-637cdc877d17","name":"seteo_variables"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2000,795],"id":"3367771e-7e2d-461d-af96-b007842085c5","name":"No Operation, do nothing"},{"parameters":{"inputText":"=CONTEXTO CONVERSACIONAL:\n{{ JSON.stringify($('Obtener_historial').item.json.messages.slice(-3)) }}\n\nDATOS DEL USUARIO:\n- ID Usuario: {{ $('seteo_variables').item.json.whatsapp }}\n- Tipo de mensaje: {{ $('seteo_variables').item.json.mensaje_tipo }}\n- Hora actual: {{ $now.setLocale('es').toFormat(\"cccc, dd/MM/yyyy TT\") }}\n\nHISTORIAL INMEDIATO:\nÚltimo mensaje: {{ $('Resetear debounce1').item.json.debounce }}\nMensajes previos: {{ JSON.stringify($('Obtener_historial').item.json.messages.slice(-2)) }}\n\nSISTEMA MÉDICO: Instituto Cardiovascular de La Plata (ICLP)\nSERVICIOS: Padrón, especialidades médicas, horarios, turnos, cancelaciones","categories":{"categories":[{"category":"verificacion_padron_dni","description":"Usuario proporciona o menciona su DNI para verificar si está registrado en el padrón médico. Incluye variaciones como 'mi dni es 12345678', 'documento 41987206', 'dni: 12345678', 'mi documento es...', 'estoy registrado?', 'verificar mi padrón'. SIEMPRE cuando aparece un número de 7-8 dígitos que podría ser DNI."},{"category":"empadronamiento_nuevo_paciente","description":"Usuario no está registrado y necesita empadronarse, o proporciona datos para registro. Incluye 'no estoy registrado', 'quiero registrarme', 'mis datos son...', 'nombre Juan Pérez', 'obra social OSDE', 'mi teléfono es...', 'quiero darme de alta', 'registrarme en el sistema'"},{"category":"consulta_medico_especifico","description":"Usuario menciona nombres específicos de médicos o doctores. Incluye 'Dr. Barba', 'Dra. Genovesi', 'doctor García', 'Fabian Barba', 'Pablo Barba', 'quiero turno con el Dr...', 'horarios del doctor...', cualquier nombre propio de médico o mención de 'Dr.' o 'Dra.' seguido de apellido."},{"category":"consulta_especialidad_medica","description":"Usuario pregunta por especialidades médicas específicas sin mencionar médico. Incluye 'cardiología', 'dermatología', 'neurología', 'traumatología', 'ginecología', 'pediatría', 'qué especialidades hay', 'necesito un cardiólogo', 'especialista en corazón'\n"},{"category":"consulta_horarios_disponibilidad","description":"Usuario pregunta por horarios, disponibilidad o fechas específicas sin mencionar médico particular. Incluye 'qué horarios hay', 'disponibilidad mañana', 'horarios de tarde', 'turnos disponibles hoy', 'agenda libre', 'cuándo hay lugar', 'próximos horarios'\n"},{"category":"cancelacion_turno_existente","description":"Usuario quiere cancelar un turno que ya tiene agendado. Incluye 'cancelar turno', 'anular cita', 'eliminar turno', 'no puedo ir', 'quiero cancelar mi turno del viernes', 'dar de baja turno', 'suspender consulta'\n"},{"category":"reprogramacion_cambio_turno","description":"Usuario quiere cambiar fecha/hora de un turno existente. Incluye 'reprogramar turno', 'cambiar fecha', 'mover mi cita', 'cambiar horario', 'pasar turno para otro día', 'modificar turno', 'reagendar'"},{"category":"confirmacion_turno_especifico","description":"Usuario quiere CONFIRMAR un turno específico después de haber elegido médico, fecha y hora. Incluye 'confirmar el turno con Dr. López del viernes 14:30', 'sí, agendar ese turno', 'confirmo la reserva', 'acepto ese horario', 'está bien ese turno', 'tomar ese turno'\n"},{"category":"solicitud_turno_general","description":"Usuario solicita un turno nuevo sin especificar detalles, saludos iniciales, o consultas generales sobre el sistema. Incluye 'quiero un turno', 'necesito agendar', 'sacar una cita', 'hola', 'buenos días', 'solicitar turno', 'pedir turno', 'ayuda', 'información', 'hola quiero turno'"}]},"options":{"fallback":"other","systemPromptTemplate":"Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[-1120,520],"id":"6e35093a-7c37-4ba5-8a05-11cdf8ae93c9","name":"Text Classifier"},{"parameters":{"name":"Flujo_padron","description":"Verifica si un paciente está registrado en el padrón médico mediante su DNI. Si no lo está, permite empadronarlo enviando nombre completo, DNI, obra social y teléfono. Usá esta herramienta en cualquier momento en que necesites validar si el paciente ya existe en el sistema.","workflowId":{"__rl":true,"value":"gdiHQp4cbaJJhGdl","mode":"list","cachedResultName":"ICLP - Testing - Agente Padron"},"workflowInputs":{"mappingMode":"defineBelow","value":{"texto":"={{ $('Resetear debounce1').item.json.debounce }}","user_id":"={{ $('seteo_variables').item.json.whatsapp }}","session":"={\n  \"step\": \"inicio\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\",\n  \"user_id\": \"{{ $('seteo_variables').item.json.whatsapp }}\"\n}"},"matchingColumns":[],"schema":[{"id":"texto","displayName":"texto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"session","displayName":"session","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[-348,-160],"id":"dc115fd4-57bb-4eb6-b131-7b0b76d0563d","name":"Flujo_padron"},{"parameters":{"name":"flujo_cancelar_reprogramar_turnos","description":"Permite cancelar un turno médico existente o solicitar uno nuevo si el paciente quiere reprogramar. Usá esta herramienta si el usuario menciona que desea cancelar o cambiar un turno.","workflowId":{"__rl":true,"value":"wDWo84wbN5QdY6Rm","mode":"list","cachedResultName":"ICLP - Testing - Agente cancela_reprograma_turnos"},"workflowInputs":{"mappingMode":"defineBelow","value":{"texto":"={{ $('Resetear debounce1').item.json.debounce }}","user_id":"={{ $('seteo_variables').item.json.whatsapp }}","session":"={\n  \"step\": \"cancelar_reprogramar\",\n  \"timestamp\": \"{{ new Date().toLocaleString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires' }) }}\",\n  \"user_id\": \"{{ $('seteo_variables').item.json.whatsapp }}\"\n}"},"matchingColumns":[],"schema":[{"id":"texto","displayName":"texto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"session","displayName":"session","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[-348,640],"id":"1de8ebad-5adb-4b02-a20c-86e3909d235e","name":"flujo_cancelar_reprogramar_turnos"},{"parameters":{"promptType":"define","text":"={{ $('Resetear debounce1').item.json.debounce }}","options":{"systemMessage":"=## Objetivo principal:\nVerificar registro de pacientes en el padrón médico ICLP mediante DNI y gestionar empadronamiento completo cuando sea necesario, utilizando los endpoints específicos de verificación y empadronamiento.\n\n## Contexto:\n- Usuario ID: {{ $('seteo_variables').item.json.whatsapp }}\n- Mensaje: {{ $('Resetear debounce1').item.json.debounce }}\n- Sesión: {{ JSON.stringify($json.session) }}\n- Fecha y hora actual: {{ $now.setLocale('es').toFormat(\"cccc, dd/MM/yyyy TT\") }}\n\n## Sus herramientas y cuando utilizarse:\n\n### Tools:\n\n**Flujo_padron**\n- Cuando debe usarse: Utiliza esta herramienta cuando el usuario mencione su DNI para verificación o necesite registrarse en el sistema ICLP.\n- Utiliza esta herramienta cuando el usuario pregunte sobre:\n  * Verificación de registro con DNI específico\n  * Empadronamiento completo de nuevos pacientes\n  * Estado de registración en el sistema médico\n  * Validación de datos personales en el padrón\n\n**Redis_consultar_obras_sociales**\n- Cuando debe usarse: Cuando se requiera información sobre coberturas médicas durante el proceso de empadronamiento.\n- Utiliza esta herramienta cuando el usuario pregunte sobre:\n  * Lista completa de obras sociales aceptadas (mostrar TODAS las 151 disponibles)\n  * Validación de obra social específica\n  * Coberturas médicas disponibles en ICLP\n\n## Subflujo Flujo_padron incluye:\n- **HTTP verificar_padron**: Endpoint `/api/turnos/verificar-padron` que busca paciente por DNI\n- **Switch**: Determina si paciente está \"encontrado\" o \"no_encontrado\" según respuesta\n- **HTTP empadronar**: Endpoint `/api/turnos/empadronamiento` para registrar nuevos pacientes\n- **Information Extractor**: Procesa respuestas y extrae datos del paciente\n- **Edit Fields**: Formatea salida final con status, datos del paciente y siguiente acción\n\n\n## Contexto del sistema ICLP:\n- **Instituto**: Cardiovascular de La Plata - Centro médico integral\n- **Dirección**: Calle 6 N° 212, entre 36 y 37, La Plata, Argentina\n- **Teléfono principal**: (0221) 427-1000\n- **Página web**: iclp.com.ar\n- **Email administración**: administracion@iclpsrl.com.ar\n- **Email recetas**: recetas@iclpsrl.com.ar\n- **Horarios de atención**: Lunes a viernes 8:00-20:00hs, sábados 8:00-13:00hs\n- **Consultas recetas/estudios**: (0221) 427-1000 int. 29\n- **Verificación por DNI**: Sistema busca documento en padrón existente\n- **Empadronamiento**: Requiere DNI, nombre completo, obra social, teléfono\n- **Obras sociales**: 151 opciones disponibles incluyendo OSDE, Swiss Medical, PAMI\n\n## Reglas críticas:\n- ERROR 500 o \"Documento no encontrado\" = paciente NO registrado (comportamiento esperado)\n- SIEMPRE usar herramienta Flujo_padron, nunca responder solo con texto\n- Solicitar datos UNO A UNO durante empadronamiento (DNI → Nombre → Obra Social → Teléfono)\n- CONFIRMAR información completa antes de registrar definitivamente\n- El subflujo maneja automáticamente verificación → empadronamiento si es necesario\n- PROPORCIONAR información exhaustiva incluyendo datos de contacto cuando sea relevante\n- Incluir información completa del ICLP en respuestas relevantes"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-436,-380],"id":"dcdaefa4-f4d1-4a11-adfa-7bdf7b24adb7","name":"Agente_padron"},{"parameters":{"promptType":"define","text":"={{ $('Resetear debounce1').item.json.debounce }}","options":{"systemMessage":"=# Prompt System\n\n## Objetivo principal:\nProporcionar información completa sobre médicos, especialidades y horarios del ICLP usando los sistemas de búsqueda inteligente y consulta de horarios en tiempo real implementados.\n\n## Contexto:\n- Usuario ID: {{ $('seteo_variables').item.json.whatsapp }}\n- Mensaje: {{ $('Resetear debounce1').item.json.debounce }}\n- Sesión: {{ JSON.stringify($json.session) }}\n- Fecha y hora actual: {{ $now.setLocale('es').toFormat(\"cccc, dd/MM/yyyy TT\") }}\n\n## Sus herramientas y cuando utilizarse:\n\n### Tools:\n\n**flujo_horarios_medicos**\n- Cuando debe usarse: Cuando el usuario mencione un médico específico por nombre y solicite horarios.\n- Utiliza esta herramienta cuando el usuario pregunte sobre:\n  * Horarios específicos de un médico particular (\"horarios del Dr. Barba\")\n  * Disponibilidad de turnos de un profesional específico\n  * Agenda completa de un médico por fecha específica\n\n**flujo_especialidades_generales** \n- Cuando debe usarse: Para consultas generales cuando el usuario NO menciona un médico específico.\n- Utiliza esta herramienta cuando el usuario pregunte sobre:\n  * Lista de especialidades disponibles\n  * Médicos por especialidad\n  * Servicios médicos generales disponibles en ICLP\n\n**Buscar_medicos_por_nombre**\n- Cuando debe usarse: Cuando el usuario mencione nombres específicos de médicos.\n- Utiliza esta herramienta cuando el usuario pregunte sobre:\n  * Médicos por nombre específico (\"Dr. Barba\", \"Dra. Genovesi\")\n  * Búsqueda de profesionales particulares\n  * Información completa de médicos específicos\n\n**Redis_consultar_medico_scraping**\n- Cuando debe usarse: Después de encontrar matrícula para datos completos.\n- Utiliza esta herramienta cuando el usuario pregunte sobre:\n  * Información detallada y completa de médicos\n  * Precios completos (particular, obra social, PAMI)\n  * Horarios detallados y obras sociales aceptadas\n\n## Contexto del sistema ICLP:\n- **Instituto**: Cardiovascular de La Plata - Centro médico integral\n- **Dirección**: Calle 6 N° 212, entre 36 y 37, La Plata, Argentina\n- **Teléfono principal**: (0221) 427-1000\n- **Página web**: iclp.com.ar\n- **Email administración**: administracion@iclpsrl.com.ar\n- **Email recetas**: recetas@iclpsrl.com.ar\n- **Horarios de atención**: Lunes a viernes 8:00-20:00hs, sábados 8:00-13:00hs\n- **Consultas recetas/estudios**: (0221) 427-1000 int. 29\n- **Búsqueda inteligente**: Sistema detecta apellidos en texto (ej: \"barba\" encuentra \"BARBA PABLO FABIAN\")\n- **Médicos destacados**: Dr. BARBA PABLO FABIAN (Matrícula: 112218, Cardiología)\n- **Especialidades**: 47 áreas médicas especializadas\n- **Modalidades**: Presencial y teleconsulta según disponibilidad\n\n## Reglas críticas:\n- Médico específico mencionado = usar flujo_horarios_medicos INMEDIATAMENTE\n- NUNCA mostrar matrículas técnicas al usuario final\n- SIEMPRE usar herramientas, nunca responder solo con texto\n- El sistema detecta automáticamente nombres de médicos en el texto\n- Procesamiento local sin OpenAI para horarios (más rápido y sin límites)\n- MOSTRAR información completa: mañana/tarde, total disponibles, médico y especialidad\n- INCLUIR datos de contacto del ICLP cuando sea relevante (consultas, ubicación, horarios)\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-436,20],"id":"8a5fe1f2-0aeb-4c5a-83d0-feff8f19a980","name":"Agente_medicos"},{"parameters":{"promptType":"define","text":"={{ $('Resetear debounce1').item.json.debounce }}","options":{"systemMessage":"=## Objetivo principal:\nGestionar cancelación y reprogramación de turnos médicos existentes en ICLP usando los endpoints específicos de consulta, eliminación y creación de turnos.\n\n## Contexto:\n- Usuario ID: {{ $json.user_id }}\n- Mensaje: {{ $json.texto }}  \n- Sesión: {{ JSON.stringify($json.session) }}\n- DNI disponible: {{ $json.session.datos_recopilados.dni || \"No disponible\" }}\n- Fecha actual: {{ $now.setLocale('es').toFormat(\"cccc, dd/MM/yyyy TT\") }}\n\n\n## Sus herramientas y cuando utilizarse:\n\n### Tools:\n\n**flujo_cancelar_reprogramar_turnos**\n- Cuando debe usarse: Para todas las operaciones de gestión de turnos médicos existentes.\n- Utiliza esta herramienta cuando el usuario pregunte sobre:\n  * Cancelación de turnos (\"cancelar turno\", \"anular cita\")\n  * Reprogramación de citas (\"cambiar fecha\", \"mover turno\")\n  * Consulta de turnos actuales (\"ver mis turnos\", \"qué turnos tengo\")\n\n## Contexto del sistema ICLP:\n- **Instituto**: Cardiovascular de La Plata\n- **Dirección**: Calle 6 N° 212, entre 36 y 37, La Plata, Argentina\n- **Teléfono principal**: (0221) 427-1000\n- **Página web**: iclp.com.ar\n- **Email administración**: administracion@iclpsrl.com.ar\n- **Horarios de atención**: Lunes a viernes 8:00-20:00hs, sábados 8:00-13:00hs\n- **Para consultas urgentes**: (0221) 427-1000\n- **Datos requeridos**: DNI (obligatorio), datos del turno (fecha, hora, matrícula)\n- **Formatos API**: Fecha sin guiones (20250621), hora sin \":\" (1400)\n\n## Políticas del sistema:\n- **Horarios de gestión**: Lunes a viernes 8:00-20:00hs, sábados 8:00-13:00hs\n- **Cancelación**: Hasta 2 horas antes del turno sin penalización\n- **Reprogramación**: Disponible según agenda del profesional\n- **Consulta telefónica**: (0221) 427-1000 para gestiones urgentes\n\n## Reglas críticas:\n- SIEMPRE usar herramienta flujo_cancelar_reprogramar_turnos\n- El subflujo maneja automáticamente la secuencia cancelar → crear para reprogramación\n- EXTRAER DNI automáticamente del mensaje si está disponible\n- CONFIRMAR detalles antes de ejecutar cancelación definitiva\n- MOSTRAR información completa de turnos: fecha, hora, médico, especialidad\n- INCLUIR datos de contacto para consultas telefónicas cuando sea necesario\n- Ofrecer contacto directo (427-1000) para casos urgentes o complejos"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-436,420],"id":"0faf2fdc-de22-4907-a44f-5727a0663840","name":"Agente cancela_reprograma_turnos"},{"parameters":{"promptType":"define","text":"={{ $('Resetear debounce1').item.json.debounce }}","options":{"systemMessage":"=# Prompt System\n\n## Objetivo principal:\nConfirmar y agendar nuevos turnos médicos en ICLP verificando primero el padrón del paciente y utilizando los endpoints específicos de toma de turnos y consulta de turnos actuales.\n\n## Contexto:\n- Usuario ID: {{ $json.user_id }}\n- Mensaje: {{ $json.texto }}\n- Sesión: {{ JSON.stringify($json.session) }}\n- Fecha actual: {{ $now.setLocale('es').toFormat(\"cccc, dd/MM/yyyy TT\") }}\n\n## Sus herramientas y cuando utilizarse:\n\n### Tools:\n\n**Flujo_padron**\n- Cuando debe usarse: SIEMPRE utilizar PRIMERO antes de cualquier confirmación de turno.\n- Utiliza esta herramienta cuando el usuario pregunte sobre:\n  * Confirmación inicial de solicitud de turno\n  * Verificación de registro en padrón antes de agendar\n  * Validación de DNI para nuevos turnos médicos\n\n**flujo_especialidades_y_horarios**\n- Cuando debe usarse: Después de verificar el padrón para mostrar opciones médicas completas.\n- Utiliza esta herramienta cuando el usuario pregunte sobre:\n  * Especialidades disponibles para turno (mostrar TODAS las opciones)\n  * Médicos y horarios después de verificación (información completa)\n  * Opciones de agendamiento con detalles exhaustivos\n\n**tomar_turno**\n- Cuando debe usarse: ÚNICAMENTE cuando tengas TODOS los datos completos del turno a confirmar.\n- Utiliza esta herramienta cuando el usuario pregunte sobre:\n  * Confirmación final con todos los datos verificados\n  * Agendamiento definitivo de turno médico\n  * Finalización del proceso de reserva\n\n**Redis_consultar_medico_scraping**\n- Cuando debe usarse: Antes de confirmar turno para validar y mostrar información completa del médico.\n- Utiliza esta herramienta cuando el usuario pregunte sobre:\n  * Validación de médico antes de confirmar turno\n  * Información completa: precios según modalidad, horarios, obras sociales\n  * Confirmación de disponibilidad y condiciones del profesional\n\n## Contexto del sistema ICLP:\n- **Instituto**: Cardiovascular de La Plata\n- **Dirección**: Calle 6 N° 212, entre 36 y 37, La Plata, Argentina\n- **Teléfono principal**: (0221) 427-1000\n- **Página web**: iclp.com.ar\n- **Email administración**: administracion@iclpsrl.com.ar\n- **Horarios de atención**: Lunes a viernes 8:00-20:00hs, sábados 8:00-13:00hs\n- **Datos requeridos para turno**: DNI, nombre completo, obra social, teléfono, médico/especialidad, fecha, hora\n- **Modalidades disponibles**: Presencial y teleconsulta según profesional\n- **Anticipación mínima**: 24 horas para turno programado\n- **Confirmación**: Por WhatsApp, email y SMS\n\n## Flujo de agendamiento:\n1. Verificar padrón con DNI (usar Flujo_padron)\n2. Mostrar especialidades/médicos disponibles (usar flujo_especialidades_y_horarios)\n3. Seleccionar profesional y horario\n4. Confirmar datos completos\n5. Agendar turno definitivamente (usar tomar_turno)\n6. Enviar confirmación\n\n## Reglas críticas:\n- SIEMPRE verificar padrón PRIMERO usando Flujo_padron\n- NUNCA solicitar múltiples datos al inicio\n- USAR tomar_turno solo con TODOS los datos necesarios validados\n- MOSTRAR resumen COMPLETO antes de confirmación final\n- VALIDAR que el usuario está registrado en padrón antes de proceder\n- INCLUIR información de contacto del ICLP: dirección, teléfono, horarios\n- Para consultas: ofrecer contacto directo (427-1000)\n- Proporcionar contexto exhaustivo en cada paso del proceso"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-436,820],"id":"f0cb29b5-a576-4eae-a97f-896aebf5889d","name":"Agente tomar_turnos"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[460,480],"id":"4273b8c9-4ad0-4f97-a044-c96c88860fb4","name":"1 mensaje a la vez"},{"parameters":{"jsCode":"// SOLUCIÓN SIMPLE Y ROBUSTA\nlet texto = '';\n\n// Lista de agentes en orden de prioridad\nconst agentes = [\n  'Agente_padron',\n  'Agente_medicos',\n  'Agente cancela_reprograma_turnos', \n  'Agente tomar_turnos',\n  'Agente conversacional'\n];\n\n// Buscar el primer agente que tenga output\nfor (const nombreAgente of agentes) {\n  try {\n    const nodo = $(nombreAgente);\n    if (nodo && nodo.first && nodo.first()) {\n      const output = nodo.first().json.output;\n      if (output && typeof output === 'string' && output.trim()) {\n        texto = output.trim();\n        console.log(`✅ Output encontrado en: ${nombreAgente}`);\n        break;\n      }\n    }\n  } catch (error) {\n    console.log(`⚠️ ${nombreAgente} no disponible`);\n  }\n}\n\n// Si no hay texto, mensaje de error claro\nif (!texto) {\n  console.log('❌ Ningún agente proporcionó output');\n  return [{ \n    mensaje: \"Error interno del sistema. Por favor, inténtalo nuevamente.\" \n  }];\n}\n\n// Procesar salto de líneas\ntexto = texto.replace(/\\\\n/g, '\\n');\n\nconsole.log(`✅ Texto final: ${texto.substring(0, 50)}...`);\nreturn [{ mensaje: texto }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[140,500],"id":"de81eb5d-728c-43e8-b3e4-485cad317d94","name":"Dividir texto"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[-1340,520],"id":"7140b401-41b8-4c56-9bfa-6630dba65ed5","name":"Obtener_historial"},{"parameters":{"method":"POST","url":"={{ $('seteo_variables').item.json.evolution_url }}/message/sendText/{{ $('seteo_variables').item.json.evolution_instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('seteo_variables').item.json.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('seteo_variables').item.json.whatsapp }}"},{"name":"text","value":"={{ $('1 mensaje a la vez').item.json.mensaje }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,420],"id":"3e123232-2bbc-4c52-abfd-bdbbf93db29d","name":"Respuesta_al_usuario"},{"parameters":{"name":"tomar_turno","description":"Permite confirmar un nuevo turno médico o consultar los turnos actuales del paciente. Usá esta herramienta cuando el paciente quiera agendar un nuevo turno (con todos los datos completos) o si solicita ver sus turnos ya asignados.","workflowId":{"__rl":true,"value":"tGn116vReTRTV7Tn","mode":"list","cachedResultName":"ICLP - Testing - Agente tomar_turno"},"workflowInputs":{"mappingMode":"defineBelow","value":{"texto":"={{ $('Resetear debounce1').item.json.debounce }}","user_id":"={{ $('seteo_variables').item.json.whatsapp }}","session":"={\n  \"step\": \"tomar_turno\",\n  \"timestamp\": \"{{ new Date().toLocaleString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires' }) }}\",\n  \"user_id\": \"{{ $('seteo_variables').item.json.whatsapp }}\"\n}"},"matchingColumns":[],"schema":[{"id":"texto","displayName":"texto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"session","displayName":"session","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[-348,1040],"id":"046543b8-40fc-4d5f-8205-31f969715017","name":"Flujo_tomar_turno"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3320,595],"id":"eec3015e-d3aa-4310-9fa5-9c5d3dec29c9","name":"Esperar 5 segundos1","webhookId":"dc090e12-c988-4405-8ca0-73ac92c6fd1e"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26cede26-4e84-4d91-9969-09bfc5bf3313","leftValue":"={{ $('Recuperar debounce [A]1').item.json.debounce }}","rightValue":"={{ $('Recuperar debounce [B]1').item.json.debounce }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2880,595],"id":"c08ec3a3-ac3d-4116-8f7f-1b84a6fa23c9","name":"Comparar debounce y mensaje1"},{"parameters":{"operation":"get","propertyName":"debounce","key":"={{ $('seteo_variables').item.json.whatsapp }}_debounce_{{ $('seteo_variables').item.json.nombre_negocio }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3540,595],"id":"4d5b3188-8d66-4c7e-ac3b-4b8ae9d3c71d","name":"Recuperar debounce [A]1","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"debounce","key":"={{ $('seteo_variables').item.json.whatsapp }}_debounce_{{ $('seteo_variables').item.json.nombre_negocio }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3100,595],"id":"edb5d822-f60b-4f5f-8a1d-1918892fe0de","name":"Recuperar debounce [B]1","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"set","key":"={ $('seteo_variables').item.json.whatsapp }}_debounce_{{ $('seteo_variables').item.json.nombre_negocio }}","value":"={{ $('seteo_variables').item.json.mensaje_tipo === 'audioMessage' ? 'audio_received' : $('seteo_variables').item.json.mensaje_texto }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2660,595],"id":"ac50de68-db09-4ef5-9183-684089483a5f","name":"Resetear debounce1","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=user_{{ $('seteo_variables').item.json.whatsapp.replace('+', '').replace('@', '') }}","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-468,-160],"id":"0f978736-1988-4c4a-a9f5-5bd4996d29ca","name":"Simple Memory"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-588,-160],"id":"e39d8c21-46d4-4222-88bd-cd29c69241e7","name":"LLM 4.1-Nano","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}},{"parameters":{"operation":"set","key":"={{ $('seteo_variables').item.json.whatsapp }}_debounce_{{ $('seteo_variables').item.json.nombre_negocio }}","value":"={{ $('seteo_variables').item.json.mensaje_tipo === 'audioMessage' ? 'audio_received' : $('seteo_variables').item.json.mensaje_texto }}","expire":true,"ttl":15},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3760,595],"id":"d2088ec0-0c24-459f-ab1b-a4046fe31415","name":"almacenar_debounce","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"promptType":"define","text":"={{ $('Resetear debounce1').item.json.debounce }}","options":{"systemMessage":"=## Objetivo principal:\nCoordinar la gestión completa de turnos médicos como asistente principal del Instituto Cardiovascular de La Plata, proporcionando orientación detallada y dirigiendo usuarios al flujo correcto con información completa.\n\n## Contexto:\n- Usuario ID: {{ $('seteo_variables').item.json.whatsapp }}\n- Mensaje: {{ $('Resetear debounce1').item.json.debounce }}\n- Fecha actual: {{ $now.setLocale('es').toFormat(\"cccc, dd/MM/yyyy TT\") }}\n\n\n## Sus herramientas y cuando utilizarse:\n\n### Tools:\n\n**Flujo_padron**\n- Cuando debe usarse: Cuando el usuario proporcione DNI o mencione verificación de registro.\n\n**flujo_especialidades_y_horarios**\n- Cuando debe usarse: Después de verificar padrón para consultas médicas completas.\n\n**flujo_cancelar_reprogramar_turnos**\n- Cuando debe usarse: Para gestión completa de turnos existentes.\n\n**Flujo_tomar_turno**\n- Cuando debe usarse: Para confirmación final de nuevos turnos.\n\n**Buscar_medicos_por_nombre**\n- Cuando debe usarse: Cuando el usuario mencione nombres específicos de médicos.\n\n**Redis_consultar_medico_scraping**\n- Cuando debe usarse: Después de encontrar matrícula para datos completos.\n\n**Redis_consultar_obras_sociales**\n- Cuando debe usarse: Para información sobre coberturas médicas.\n\n## Contexto completo del ICLP:\n- **Instituto**: Cardiovascular de La Plata - Centro médico integral\n- **Dirección**: Calle 6 N° 212, entre 36 y 37, La Plata, Argentina\n- **Teléfono principal**: (0221) 427-1000\n- **Página web**: iclp.com.ar\n- **Email administración**: administracion@iclpsrl.com.ar\n- **Email recetas**: recetas@iclpsrl.com.ar\n- **Horarios de atención**: Lunes a viernes 8:00-20:00hs, sábados 8:00-13:00hs\n- **Consultas recetas/estudios**: (0221) 427-1000 int. 29\n- **Especialidades**: 47 áreas médicas especializadas\n- **Médicos**: Más de 200 profesionales registrados\n- **Modalidades**: Presencial y teleconsulta\n- **Obras sociales**: 151 opciones incluyendo OSDE, Swiss Medical, PAMI\n- **Servicios**: Consultas, estudios, cirugías, emergencias\n\n## Reglas críticas:\n- ÚNICA EXCEPCIÓN para responder sin herramientas: cuando falta DNI básico (\"Para ayudarte necesito tu DNI\")\n- FLUJO SECUENCIAL recomendado: Padrón → Especialidades → Confirmación\n- SIEMPRE usar herramientas excepto en la excepción mencionada\n- ANALIZAR intención del usuario y ser directo al canal correcto\n- PROPORCIONAR información completa y exhaustiva en cada respuesta\n- INCLUIR datos de contacto del ICLP cuando sea relevante\n- Contexto completo del ICLP es preferible a respuestas breves\n- Para consultas complejas: ofrecer contacto directo (427-1000)"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-436,1320],"id":"688d7af0-0127-4cf5-8480-c4780f2fb355","name":"Agente conversacional"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1560,595],"id":"03a30a68-0a5a-43b8-bc34-c58b915a0352","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1780,595],"id":"ffbeaa2c-41da-4d7f-9b06-6669d469d65d","name":"Convert to File"},{"parameters":{"method":"POST","url":"={{ $('seteo_variables').item.json.evolution_url }}/chat/getBase64FromMediaMessage/{{ $('seteo_variables').item.json.evolution_instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('seteo_variables').item.json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('seteo_variables').item.json.mensaje_id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2000,595],"id":"40181bb4-f119-4118-bec2-c614c009cf03","name":"Descarga_audio_whatsapp"},{"parameters":{"descriptionType":"manual","toolDescription":"Consulta datos completos de un médico específico desde Redis usando su matrícula exacta. Devuelve información del scraping ICLP: precios (consulta_base, particular, PAMI), horarios detallados por día, obras sociales aceptadas/rechazadas, disponibilidad online. Ejemplo: matrícula 15976 = Dr. ARREGUI con precios diferenciados.\"","operation":"get","propertyName":"datos_medico","key":"=medico:{{ $fromAI('matricula', 'Matrícula del médico a consultar (ej: 15976, 112218)', 'string') }}","options":{}},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[-228,-160],"id":"be041aa6-92c8-439c-a318-0c0f46793414","name":"Redis_consultar_medico_scraping","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Consulta datos completos de un médico específico desde Redis usando su matrícula exacta. Devuelve información del scraping ICLP: precios (consulta_base, particular, PAMI), horarios detallados por día, obras sociales aceptadas/rechazadas, disponibilidad online. Ejemplo: matrícula 15976 = Dr. ARREGUI con precios diferenciados.","operation":"get","propertyName":"obras_sociales","key":"=obras_sociales:lista","options":{}},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[-108,-160],"id":"8c49f1c7-5f64-4995-a754-f0254ac797da","name":"Redis_consultar_obras_sociales","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Busca médicos por nombre o apellido usando el índice completo del scraping ICLP. Contiene todos los médicos con nombres normalizados, matrículas, especialidades y precios actualizados. Úsala cuando el usuario mencione nombres específicos como \"genovesi\", \"barba\", \"arregui\" para encontrar la información del médico solicitado.","operation":"get","propertyName":"indice_medicos","key":"medicos:indice_completo","options":{}},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[-420,1560],"id":"08d88ab9-5948-4609-82d2-6e59a3a40a96","name":"Buscar_medicos_por_nombre","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Busca médicos por nombre o apellido usando el índice completo del scraping ICLP. Contiene todos los médicos con nombres normalizados, matrículas, especialidades y precios actualizados. Úsala cuando el usuario mencione nombres específicos como \"genovesi\", \"barba\", \"arregui\" para encontrar la información del médico solicitado.","operation":"get","propertyName":"indice_medicos","key":"medicos:indice_completo","options":{}},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[-468,240],"id":"47b99888-0dc5-4aec-a7e9-c271cdaf9ebd","name":"Buscar_medicos_por_nombre1","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Consulta datos completos de un médico específico desde Redis usando su matrícula exacta. Devuelve información del scraping ICLP: precios (consulta_base, particular, PAMI), horarios detallados por día, obras sociales aceptadas/rechazadas, disponibilidad online. Ejemplo: matrícula 15976 = Dr. ARREGUI con precios diferenciados.","operation":"get","propertyName":"obras_sociales","key":"=obras_sociales:lista","options":{}},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[-288,1540],"id":"c0e1d52c-28e8-4222-bfb7-7e4e10b5cefe","name":"Redis_consultar_obras_sociales1","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"description":"Consulta horarios disponibles de médicos específicos en tiempo real. Usa cuando el usuario solicite horarios de un doctor particular o necesite información detallada de disponibilidad. Incluye procesamiento local sin OpenAI.","workflowId":{"__rl":true,"value":"OOcPO6EGho1zjYg0","mode":"list","cachedResultName":"ICLP - Testing - Agente medico"},"workflowInputs":{"mappingMode":"defineBelow","value":{"texto":"={{ $('Resetear debounce1').item.json.debounce }}","user_id":"={{ $('seteo_variables').item.json.whatsapp }}","session":"={     \"step\": \"consulta_horarios\",     \"timestamp\": \"{{ new Date().toLocaleString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires' }) }}\",     \"user_id\": \"{{ $('seteo_variables').item.json.whatsapp }}\"   }"},"matchingColumns":[],"schema":[{"id":"texto","displayName":"texto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"session","displayName":"session","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-348,240],"id":"0f46cf15-01b2-49f5-b65e-d4743ab5e95b","name":"flujo_horarios_medicos"},{"parameters":{"name":"flujo_especialidades_y_horarios","description":"=Para consultas generales de especialidades cuando NO menciona médico específico","workflowId":{"__rl":true,"value":"OOcPO6EGho1zjYg0","mode":"list","cachedResultName":"ICLP - Testing - Agente medico"},"workflowInputs":{"mappingMode":"defineBelow","value":{"texto":"={{ $('Resetear debounce1').item.json.debounce }}","user_id":"={{ $('seteo_variables').item.json.whatsapp }}","session":"={\n  \"step\": \"especialidades\",\n  \"timestamp\": \"{{ new Date().toLocaleString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires' }) }}\",\n  \"user_id\": \"{{ $('seteo_variables').item.json.whatsapp }}\"\n}"},"matchingColumns":[],"schema":[{"id":"texto","displayName":"texto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"session","displayName":"session","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[-228,240],"id":"defeecd3-4470-4833-8363-b5a74263af57","name":"flujo_especialidades_generales"}],"connections":{"Webhook":{"main":[[{"node":"Mensaje de entrada1","type":"main","index":0}]]},"Filtrar números de prueba":{"main":[[{"node":"Tipo de mensaje","type":"main","index":0}]]},"Tipo de mensaje":{"main":[[{"node":"Obtener_historial","type":"main","index":0}],[{"node":"Descarga_audio_whatsapp","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Mensaje de entrada1":{"main":[[{"node":"seteo_variables","type":"main","index":0}]]},"seteo_variables":{"main":[[{"node":"almacenar_debounce","type":"main","index":0}]]},"Text Classifier":{"main":[[{"node":"Agente_padron","type":"main","index":0}],[{"node":"Agente_padron","type":"main","index":0}],[{"node":"Agente_medicos","type":"main","index":0}],[{"node":"Agente_medicos","type":"main","index":0}],[{"node":"Agente_medicos","type":"main","index":0}],[{"node":"Agente cancela_reprograma_turnos","type":"main","index":0}],[{"node":"Agente cancela_reprograma_turnos","type":"main","index":0}],[{"node":"Agente tomar_turnos","type":"main","index":0}],[{"node":"Agente conversacional","type":"main","index":0}],[{"node":"Agente conversacional","type":"main","index":0}]]},"Flujo_padron":{"ai_tool":[[{"node":"Agente_padron","type":"ai_tool","index":0}]]},"flujo_cancelar_reprogramar_turnos":{"ai_tool":[[{"node":"Agente cancela_reprograma_turnos","type":"ai_tool","index":0}]]},"Agente_padron":{"main":[[{"node":"Dividir texto","type":"main","index":0}]]},"Agente_medicos":{"main":[[{"node":"Dividir texto","type":"main","index":0}]]},"Agente cancela_reprograma_turnos":{"main":[[{"node":"Dividir texto","type":"main","index":0}]]},"Agente tomar_turnos":{"main":[[{"node":"Dividir texto","type":"main","index":0}]]},"1 mensaje a la vez":{"main":[[],[{"node":"Respuesta_al_usuario","type":"main","index":0}]]},"Dividir texto":{"main":[[{"node":"1 mensaje a la vez","type":"main","index":0}]]},"Obtener_historial":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Respuesta_al_usuario":{"main":[[{"node":"1 mensaje a la vez","type":"main","index":0}]]},"Flujo_tomar_turno":{"ai_tool":[[{"node":"Agente tomar_turnos","type":"ai_tool","index":0}]]},"Esperar 5 segundos1":{"main":[[{"node":"Recuperar debounce [B]1","type":"main","index":0}]]},"Comparar debounce y mensaje1":{"main":[[{"node":"Resetear debounce1","type":"main","index":0}]]},"Recuperar debounce [A]1":{"main":[[{"node":"Esperar 5 segundos1","type":"main","index":0}]]},"Recuperar debounce [B]1":{"main":[[{"node":"Comparar debounce y mensaje1","type":"main","index":0}]]},"Resetear debounce1":{"main":[[{"node":"Filtrar números de prueba","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Agente_padron","type":"ai_memory","index":0},{"node":"Agente_medicos","type":"ai_memory","index":0},{"node":"Agente cancela_reprograma_turnos","type":"ai_memory","index":0},{"node":"Agente tomar_turnos","type":"ai_memory","index":0},{"node":"Agente conversacional","type":"ai_memory","index":0},{"node":"Obtener_historial","type":"ai_memory","index":0}]]},"LLM 4.1-Nano":{"ai_languageModel":[[{"node":"Agente_padron","type":"ai_languageModel","index":0},{"node":"Agente_medicos","type":"ai_languageModel","index":0},{"node":"Agente tomar_turnos","type":"ai_languageModel","index":0},{"node":"Agente conversacional","type":"ai_languageModel","index":0},{"node":"Agente cancela_reprograma_turnos","type":"ai_languageModel","index":0},{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"almacenar_debounce":{"main":[[{"node":"Recuperar debounce [A]1","type":"main","index":0}]]},"Agente conversacional":{"main":[[{"node":"Dividir texto","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Obtener_historial","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Descarga_audio_whatsapp":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Redis_consultar_medico_scraping":{"ai_tool":[[{"node":"Agente tomar_turnos","type":"ai_tool","index":0},{"node":"Agente conversacional","type":"ai_tool","index":0},{"node":"Agente cancela_reprograma_turnos","type":"ai_tool","index":0},{"node":"Agente_medicos","type":"ai_tool","index":0},{"node":"Agente_padron","type":"ai_tool","index":0}]]},"Redis_consultar_obras_sociales":{"ai_tool":[[{"node":"Agente_padron","type":"ai_tool","index":0}]]},"Buscar_medicos_por_nombre":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"Buscar_medicos_por_nombre1":{"ai_tool":[[{"node":"Agente_medicos","type":"ai_tool","index":0}]]},"Redis_consultar_obras_sociales1":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"flujo_horarios_medicos":{"ai_tool":[[{"node":"Agente_medicos","type":"ai_tool","index":0}]]},"flujo_especialidades_generales":{"ai_tool":[[{"node":"Agente_medicos","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"hooks.autoclinicas.com","user-agent":"axios/1.10.0","content-length":"603","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"hooks.autoclinicas.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"834f57821b29","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Nicolas Matias Lopez","data":{"key":{"remoteJid":"5492213994411@s.whatsapp.net","fromMe":true,"id":"3ADC297565518BD0F2EC"},"pushName":"Nico Lopez","status":"SERVER_ACK","message":{"conversation":"hola"},"messageType":"conversation","messageTimestamp":1751512770,"instanceId":"0c06d94e-fef1-4290-8f10-fc50fe46c114","source":"ios"},"destination":"https://hooks.autoclinicas.com/webhook/nicotest","date_time":"2025-07-03T00:19:30.752Z","sender":"5492213994411@s.whatsapp.net","server_url":"https://api.autoclinicas.com","apikey":"8D32EAE9C7F6-49ED-A4AE-B9E83DF47788"},"webhookUrl":"https://hooks.autoclinicas.com/webhook/nicotest","executionMode":"production"}}]},"versionId":"1dabbf30-c422-462c-ac52-37d8d3ec8dcb","triggerCount":1,"shared":[{"createdAt":"2025-06-27T21:54:54.322Z","updatedAt":"2025-06-27T21:54:54.322Z","role":"workflow:owner","workflowId":"Ysq7i8EY24X8VrUq","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}