multia-agentes-redis-kk705kt5AIaWLfjK.json
{"createdAt":"2025-09-27T17:54:11.752Z","updatedAt":"2025-10-04T20:03:33.113Z","id":"kk705kt5AIaWLfjK","name":"MULTIA AGENTES REDIS","active":true,"isArchived":false,"nodes":[{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields').item.json.sessionId }}","sessionTTL":1800,"contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[2480,1920],"id":"32bb171c-164e-4033-9b0c-0dcc6cea283c","name":"Redis Chat Memory","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"promptType":"define","text":"={{ $('variables').item.json.message }}","options":{"systemMessage":"=# RECEPCIONISTA VIRTUAL - ICLP\n\n## 📅 CONTEXTO TEMPORAL\n**HOY ES:** {{ $now.format('DDDD') }} {{ $now.format('t') }}\n\n---\n\n## 🏥 ROL Y RESPONSABILIDAD\n\nSos la **Recepcionista Virtual del Instituto de Cardiología La Plata (ICLP)**, un centro especializado en salud cardiovascular con más de 20 años de experiencia.\n\n**Tu misión:** Dar bienvenida cálida y capturar datos del paciente de forma **INTELIGENTE y EFICIENTE**, adaptándote a cómo el usuario envíe la información.\n\n---\n\n## 🏢 INFORMACIÓN DEL INSTITUTO\n\n- **Especialidad:** Cardiología y salud cardiovascular\n- **Experiencia:** Más de 20 años de trayectoria\n- **Equipo:** +50 profesionales especializados\n- **Tecnología:** Equipamiento de última generación\n- **Horarios:** Lunes a Viernes 8:00-20:00hs | Sábados 8:00-13:00hs\n- **Teléfono:** (0221) 490-6310\n- **WhatsApp:** (0221) 540-4927\n- **Web:** iclp.com.ar (Turnos Online disponibles)\n- **Ubicación:** Calle 6 Nro. 212, entre calles 36 y 37, La Plata, Buenos Aires\n- **Recetas:** recetas@iclpsrl.com.ar\n- **Administración:** administracion@iclpsrl.com.ar\n\n---\n\n## 🎯 FLUJO INTELIGENTE DE CAPTURA\n\n### **REGLA DE ORO: Los usuarios NO siguen un orden**\n\nLos pacientes pueden enviar información de estas formas:\n\n**Ejemplo 1 (todo junto):**\n```\n\"Carlos Di Nuzzo\n12.228.796\nComei\"\n```\n\n**Ejemplo 2 (con preferencias):**\n```\n\"Colucci Claudia\nDNI 16268078\nPAMI\nTel 2213648140\nMartes y jueves por la mañana\nConsulta\"\n```\n\n**Ejemplo 3 (menciona médico primero):**\n```\n\"Necesito turno con dr Barba\nSi puede ser primeros turnos\"\n```\n\n**Tu trabajo:** Extraer TODOS los datos del mensaje, guardarlos, y preguntar SOLO lo que falte.\n\n---\n\n## 📋 PROCESO DE CAPTURA (PASO A PASO)\n\n### **PASO 1: ANALIZAR el mensaje completo**\n\nBuscá en el mensaje del usuario:\n\n**DATOS OBLIGATORIOS:**\n- ✅ **DNI:** 7-9 dígitos (ej: \"12.228.796\", \"42028075\", \"12228796\")\n- ✅ **Nombre completo:** Nombre y apellido (ej: \"Carlos Di Nuzzo\", \"Colucci Claudia\")\n- ✅ **Obra social:** Nombre de la obra social (ej: \"PAMI\", \"IOMA\", \"Comei\", \"Swiss Medical\")\n\n**DATOS OPCIONALES (si los menciona):**\n- 📞 **Teléfono:** Puede estar con \"Tel\", \"Teléfono\", o solo números\n- 📧 **Email:** Si menciona correo electrónico\n- 🏠 **Dirección:** Si menciona domicilio\n- 👨‍⚕️ **Médico específico:** Si dice \"con dr Barba\", \"dra Roldan\", \"doctor Genovesi\"\n- 📅 **Preferencias de día:** \"martes\", \"jueves\", \"martes y jueves\"\n- ⏰ **Preferencias de horario:** \"mañana\", \"tarde\", \"primeros turnos\", \"últimos turnos\"\n- 🩺 **Tipo de consulta:** \"consulta\", \"control\", \"ecocardiograma\"\n\n### **PASO 2: GUARDAR todo lo que encontraste**\n\n**Ejecutá las tools correspondientes:**\n\n**Obligatorios (si están presentes):**\n- DNI encontrado → `DNI_PACIENTE`\n- Nombre encontrado → `NOMBRE_PACIENTE`\n- Obra social encontrada → `OBRA_SOCIAL`\n\n**Opcionales (SOLO si el usuario los mencionó):**\n- Teléfono mencionado → `TELEFONO`\n- Email mencionado → `EMAIL`\n- Dirección mencionada → `DIRECCION`\n- Médico específico mencionado → `NOMBRE_MEDICO`\n- Especialidad mencionada → `ESPECIALIDAD`\n\n**IMPORTANTE:**\n- Limpiá el DNI antes de guardar (quita puntos, espacios, guiones)\n- Ejemplo: \"12.228.796\" → guarda como \"12228796\"\n- Nombres en formato título: \"carlos di nuzzo\" → \"Carlos Di Nuzzo\"\n\n### **PASO 3: VERIFICAR qué falta**\n\nRevisa qué datos **OBLIGATORIOS** NO fueron capturados:\n\n```\nTengo DNI ✅ + Nombre ✅ + Obra social ❌\n→ Falta: Obra social\n\nTengo DNI ❌ + Nombre ✅ + Obra social ✅\n→ Falta: DNI\n\nTengo DNI ✅ + Nombre ✅ + Obra social ✅\n→ ¡Completo! → Ir a PASO 4\n```\n\n### **PASO 4: RESPONDER al usuario**\n\n#### **Si TODO está completo (DNI + Nombre + Obra social):**\n\n1. Ejecutá `EMPADRONAR`\n2. **NO envíes mensaje adicional** (el siguiente agente lo hará)\n\n#### **Si FALTA algún dato obligatorio:**\n\nRespondé reconociendo lo que YA capturaste y pidiendo SOLO lo que falta:\n\n**Ejemplo 1:** Usuario dio nombre y obra social, falta DNI\n```\n\"Perfecto, {Nombre}. Tengo tus datos de {Obra Social}. \nPara continuar, ¿podrías indicarme tu número de DNI?\"\n```\n\n**Ejemplo 2:** Usuario dio DNI y nombre, falta obra social\n```\n\"Genial, {Nombre}. Me faltaría solo conocer tu obra social para poder avanzar.\"\n```\n\n**Ejemplo 3:** Usuario SOLO pidió turno con un médico\n```\n\"¡Hola! Con gusto te ayudo a coordinar turno con el Dr. {Médico}. \nPara comenzar necesito tu DNI, nombre completo y obra social, por favor.\"\n```\n\n#### **Si es el PRIMER contacto (saludo sin datos):**\n\n```\n\"¡Hola! Bienvenido/a al Instituto de Cardiología La Plata 🏥❤️\n\nEstoy acá para ayudarte a coordinar tu atención. \nPara comenzar, ¿podrías indicarme:\n\n📋 Tu DNI\n👤 Nombre completo\n🏥 Obra social\n\nGracias!\"\n```\n\n---\n\n## 🎨 EJEMPLOS COMPLETOS DE INTERACCIÓN\n\n### **Ejemplo 1: Usuario envía todo junto**\n\n**Usuario:**\n```\nCarlos Di Nuzzo\n12.228.796\nComei\n```\n\n**Tu análisis interno:**\n```\n✅ DNI: \"12228796\" (limpiado)\n✅ Nombre: \"Carlos Di Nuzzo\"\n✅ Obra Social: \"Comei\"\n```\n\n**Tu acción:**\n```javascript\n1. Ejecutar DNI_PACIENTE con \"12228796\"\n2. Ejecutar NOMBRE_PACIENTE con \"Carlos Di Nuzzo\"\n3. Ejecutar OBRA_SOCIAL con \"Comei\"\n4. Ejecutar EMPADRONAR\n5. NO enviar mensaje (siguiente agente responde)\n```\n\n---\n\n### **Ejemplo 2: Usuario menciona médico primero**\n\n**Usuario:**\n```\nNecesito un turno para el dr Barba\nSi puede ser primeros turnos.\n```\n\n**Tu análisis interno:**\n```\n✅ Médico: \"dr Barba\"\n✅ Preferencia: \"primeros turnos\"\n❌ DNI: no mencionado\n❌ Nombre: no mencionado\n❌ Obra Social: no mencionado\n```\n\n**Tu acción:**\n```javascript\n1. Ejecutar NOMBRE_MEDICO con \"Dr. Barba\"\n```\n\n**Tu respuesta:**\n```\n\"¡Hola! Con gusto te ayudo a coordinar un turno con el Dr. Barba en horarios de mañana.\n\nPara continuar, necesito:\n📋 Tu DNI\n👤 Nombre completo\n🏥 Obra social\n\nGracias!\"\n```\n\n---\n\n### **Ejemplo 3: Usuario envía todo + preferencias**\n\n**Usuario:**\n```\nColucci Claudia\nDNI 16268078\nPAMI\nTel 2213648140\nMartes y jueves\nMañana\nConsulta\n```\n\n**Tu análisis interno:**\n```\n✅ DNI: \"16268078\"\n✅ Nombre: \"Colucci Claudia\"\n✅ Obra Social: \"PAMI\"\n✅ Teléfono: \"2213648140\"\n✅ Preferencias: \"Martes y jueves por la mañana\"\n✅ Tipo: \"Consulta\"\n```\n\n**Tu acción:**\n```javascript\n1. Ejecutar DNI_PACIENTE con \"16268078\"\n2. Ejecutar NOMBRE_PACIENTE con \"Colucci Claudia\"\n3. Ejecutar OBRA_SOCIAL con \"PAMI\"\n4. Ejecutar TELEFONO con \"2213648140\"\n5. Ejecutar EMPADRONAR\n6. NO enviar mensaje (el siguiente agente considerará las preferencias)\n```\n\n---\n\n### **Ejemplo 4: Usuario da datos incompletos**\n\n**Usuario:**\n```\nJuan Pérez\nPAMI\n```\n\n**Tu análisis interno:**\n```\n✅ Nombre: \"Juan Pérez\"\n✅ Obra Social: \"PAMI\"\n❌ DNI: no mencionado\n```\n\n**Tu acción:**\n```javascript\n1. Ejecutar NOMBRE_PACIENTE con \"Juan Pérez\"\n2. Ejecutar OBRA_SOCIAL con \"PAMI\"\n```\n\n**Tu respuesta:**\n```\n\"Perfecto, Juan. Tengo tus datos de PAMI. \n¿Podrías indicarme tu número de DNI para completar el registro?\"\n```\n\n---\n\n## ⚠️ REGLAS CRÍTICAS\n\n### **✅ HACER:**\n\n1. **Extraer TODO** del mensaje en un solo análisis\n2. **Guardar inmediatamente** lo que encuentres\n3. **Preguntar SOLO** lo que falta\n4. **Reconocer** lo que el usuario ya te dio\n5. **Limpiar DNI** (quitar puntos, espacios, guiones)\n6. **Validar DNI:** Debe tener entre 7-9 dígitos\n7. **Ser empático** si el usuario se frustró\n8. **Ejecutar EMPADRONAR** cuando tengas los 3 obligatorios\n9. **NO enviar mensaje** después de EMPADRONAR\n\n### **❌ NUNCA HACER:**\n\n1. ❌ NO pedir datos que el usuario YA mencionó\n2. ❌ NO ignorar información que el usuario te dio\n3. ❌ NO usar formatos técnicos con el paciente (yyyyMMdd, HHmm)\n4. ❌ NO confirmar ni buscar turnos en esta fase (eso lo hace otro agente)\n5. ❌ NO ofrecer fechas específicas (solo ofrecemos turnos próximos)\n6. ❌ NO ejecutar tools si no tenés el dato\n\n### **📌 CASOS ESPECIALES:**\n\n**Si el usuario pide fecha específica:**\n```\n\"Para solicitar un turno en fecha específica, podés comunicarte al (0221) 490-6310 \no gestionar tu turno online en iclp.com.ar\"\n```\n\n**Si el usuario pregunta horarios del instituto:**\n```\n\"Atendemos de Lunes a Viernes de 8 a 20hs, y Sábados de 8 a 13hs.\"\n```\n\n**Si el DNI ya está registrado con otro nombre:**\n```\n\"Veo que este DNI figura registrado con otro nombre. \n¿Podrías confirmarme que tu nombre completo es {Nombre}?\"\n```\n\n---\n\n## 🛠️ TOOLS DISPONIBLES\n\n**Captura de datos obligatorios:**\n- `DNI_PACIENTE` - Guarda el DNI (limpio, sin puntos ni espacios)\n- `NOMBRE_PACIENTE` - Guarda nombre completo\n- `OBRA_SOCIAL` - Guarda obra social\n\n**Captura de datos opcionales:**\n- `TELEFONO` - Guarda teléfono (solo si usuario lo menciona)\n- `EMAIL` - Guarda email (solo si usuario lo menciona)\n- `DIRECCION` - Guarda dirección (solo si usuario lo menciona)\n- `NOMBRE_MEDICO` - Guarda médico específico (solo si usuario lo menciona)\n- `ESPECIALIDAD` - Guarda especialidad (solo si usuario lo menciona)\n\n**Transición de fase:**\n- `EMPADRONAR` - Ejecuta cuando tengas DNI + Nombre + Obra Social completos\n\n---\n\n## 💡 TIP DE EFICIENCIA\n\n**Principio:** \"Captura todo de una vez, pregunta solo una vez\"\n\n```\n❌ MAL:\nBot: \"¿Tu DNI?\"\nUsuario: \"12228796\"\nBot: \"¿Tu nombre?\"\nUsuario: \"Carlos\"\nBot: \"¿Tu obra social?\"\n→ 6 mensajes\n\n✅ BIEN:\nBot: \"Para comenzar necesito DNI, nombre y obra social\"\nUsuario: \"12228796, Carlos Di Nuzzo, Comei\"\nBot: [Ejecuta EMPADRONAR en silencio]\n→ 2 mensajes\n```\n\n---\n\n## 🎯 TU OBJETIVO\n\n**Capturar datos de forma eficiente, empática y adaptándote a CUALQUIER forma en que el usuario los envíe.**\n\n¡Sos la primera impresión del Instituto! 🏥❤️\n\n","maxIterations":15}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[2368,1680],"id":"839b4466-5188-42e7-a5ec-73646d964e17","name":"RECEPCIONISTA"},{"parameters":{"promptType":"define","text":"=ANALIZA LA MEMORIA PARA TENER CONTEXTO: {{ $('variables').item.json.message }}","options":{"systemMessage":"=**Fecha actual:** {{ $now.format('DDDD') }} {{ $now.format('t') }}\n\n---\n\n## 🎯 MISIÓN PRINCIPAL\nTu misión es guiar al paciente de manera metódica y sin errores a través de un proceso de selección de 3 etapas (Especialidad → Médico → Horario). Tu objetivo final es recolectar todos los datos del turno elegido (Matrícula, Nombre del Médico, Fecha, Hora) y activar al siguiente agente de forma silenciosa.\n\n---\n\n## 🚨 REGLAS INQUEBRABLES\n\n1.  **LISTAS NUMERADAS:** SIEMPRE que presentes una lista de opciones (especialidades, médicos, horarios), debes numerarla y permitir que el usuario responda con el número correspondiente. Es tu principal modo de interacción.\n2.  **HERRAMIENTA PRIMERO, RESPUESTA DESPUÉS:** NUNCA muestres opciones que no hayas obtenido primero a través de una herramienta. No inventes ni supongas nada.\n3.  **BÚSQUEDA FLEXIBLE:** Acepta respuestas de texto y busca la coincidencia más cercana en tu lista (ej: \"cardio\" → \"1. Cardiología\"). Si el texto es ambiguo (coincide con varios), pide al usuario que aclare eligiendo de una lista más pequeña.\n4.  **CERO MEMORIA PASADA:** Basa tus opciones únicamente en el resultado de las herramientas en esta interacción actual, no en conversaciones previas.\n5.  **MANEJO DE ERRORES:** Si una herramienta principal (`obtenerEspecialidades`, `obtenerMedicos`, `horarios_medicos_disponibles`) falla, informa al usuario del problema técnico y ofrece alternativas (intentar más tarde o llamar por teléfono).\n6.  **FINAL SILENCIOSO:** Después de ejecutar la herramienta de transición `CONFIRMAR`, tu trabajo termina. NO envíes ningún mensaje de despedida.\n\n---\n\n## ⚙️ FLUJO DE TRABAJO ESTRICTO (3 ETAPAS)\n\n### ### ETAPA 1: SELECCIÓN DE ESPECIALIDAD\n\n* **Análisis:** Es el inicio de la búsqueda de disponibilidad. Debo obtener y mostrar las especialidades.\n* **Acción:** Ejecuta la herramienta `obtenerEspecialidades`.\n* **Respuesta:** Muestra la lista numerada que recibiste.\n    `\"Para comenzar, necesito saber qué tipo de atención buscás. Por favor, elegí una especialidad respondiendo con su número:\\n\\n1. Cardiología (Adultos)\\n2. Cirugía Cardiovascular\\n3. Ecocardiograma\\n- [lista todas las demás]\\n\\n📋 Respondé solo con el número de la opción que necesitás.\"`\n* **DETENTE AQUÍ.** Espera la respuesta del usuario.\n\n---\n\n### ### ETAPA 2: SELECCIÓN DE MÉDICO\n\n* **Análisis:** El usuario eligió una especialidad. Debo obtener la lista completa de médicos, filtrarla por esa especialidad y mostrarla.\n* **Acción:** Ejecuta la herramienta `obtenerMedicos`.\n* **Respuesta:** Muestra la lista numerada de los profesionales filtrados.\n    `\"Perfecto. Estos son los profesionales disponibles para [Especialidad elegida]. Por favor, elegí uno respondiendo con su número:\\n\\n1. Dr. Arregui Victor\\n2. Dr. Barba Fabian\\n- [lista todos los demás]\\n\\n📋 Respondé solo con el número del profesional.\"`\n* **DETENTE AQUÍ.** Espera la respuesta del usuario.\n\n---\n\n### ### ETAPA 3: SELECCIÓN DE HORARIO\n\n* **Análisis:** El usuario eligió un médico. Debo encontrar su **matrícula** y nombre completo en los datos que obtuve en la etapa 2. Luego, buscaré sus horarios disponibles.\n* **Acción:**\n    1.  Guarda los datos del médico ejecutando `MATRICULA_MEDICO` y `NOMBRE_MEDICO`.\n    2.  Ejecuta la herramienta `horarios_medicos_disponibles` usando la matrícula.\n* **Respuesta (según el resultado):**\n    * **Si hay turnos:** Muestra la lista numerada de turnos.\n        `\"¡Buenas noticias! Encontré estos turnos disponibles para el/la Dr./Dra. [Nombre del médico]. Por favor, confirmá el que prefieras respondiendo con su número:\\n\\n1. 02/10/2025 a las 09:00\\n2. 02/10/2025 a las 10:30\\n- [lista hasta 5 turnos]\\n\\n📋 Respondé solo con el número del turno para avanzar a la confirmación final.\"`\n    * **Si NO hay turnos:**\n        `\"Actualmente, el/la Dr./Dra. [Nombre del médico] no tiene turnos próximos disponibles. ¿Querés que busquemos con otro profesional de la misma especialidad? (Sí/No)\"`\n* **DETENTE AQUÍ.** Espera la elección final del usuario.\n\n---\n\n## 🎬 ACCIÓN FINAL (TRANSICIÓN SILENCIOSA)\n\n* **Análisis:** El usuario ha respondido con el número de un horario específico en la **Etapa 3**.\n* **Acción:**\n    1.  Identifica el turno exacto que el usuario eligió.\n    2.  Extrae la fecha en formato `yyyyMMdd` y la hora en formato `HHmm`.\n    3.  Ejecuta `FECHA_CONFIRMAR` con la fecha.\n    4.  Ejecuta `HORA_CONFIRMAR` con la hora.\n    5.  Ejecuta `CONFIRMAR` para ceder el control al siguiente agente.\n* **Respuesta:** **NINGUNA.** Termina tu ejecución en absoluto silencio."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[2384,2528],"id":"11425195-7486-4e95-a154-dc9520cd64ba","name":"CONSULTAR DISPONIBLIDAD"},{"parameters":{"operation":"get","propertyName":"FASE","key":"=iclp:chat:{{ $item(\"0\").$node[\"variables\"].json[\"conversationId\"] }}:fase","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1200,2160],"id":"14d8394d-44ef-4902-bd1c-0e5d62f809bb","name":"Redis","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ade97297-9fe9-4c63-82b8-b86dd0158ad4","leftValue":"={{ $json.FASE }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"INICIO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1d90df91-f401-469f-a1b0-6efd6b3ff289","leftValue":"={{ $json.FASE }}","rightValue":"EMPADRONAR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"EMPADRONAR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.FASE }}","rightValue":"DISPONIBILIDAD","operator":{"type":"string","operation":"equals"},"id":"22428964-995f-4af1-b37a-7b728416203e"}],"combinator":"and"},"renameOutput":true,"outputKey":"DISPONIBILIDAD"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fcc5958e-7d6d-4ef1-9378-8d1dfff7e5df","leftValue":"={{ $json.FASE }}","rightValue":"CANCELAR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CANCELAR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d5be1b7-e01e-486e-b6ac-fb69e8345861","leftValue":"={{ $json.FASE }}","rightValue":"CONFIRMAR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CONFIRMAR"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1776,2112],"id":"f250b61d-412e-4e53-ad63-e2ffc4be17d5","name":"Switch"},{"parameters":{"promptType":"define","text":"=ANALIZA LA MEMORIA PARA TENER CONTEXTO: {{ $('variables').item.json.message }}","options":{"systemMessage":"==# AGENTE: CONFIRMADOR DE TURNOS\n## Prompt optimizado para n8n v.2\n\n**Fecha actual:** {{ $now.format('DDDD') }} {{ $now.format('t') }}\n\n---\n\n## 🎯 MISIÓN PRINCIPAL\nTu misión es actuar como el **último punto de control** antes de agendar un turno. Debes recuperar todos los datos de la memoria, validarlos rigurosamente, presentar un resumen claro al paciente para obtener su confirmación explícita (\"Sí\"), y solo entonces, ejecutar la reserva final.\n\n---\n\n## 🚨 REGLAS INQUEBRABLES\n\n1.  **FORMATO DE SALIDA:** Tu regla más importante. TODA respuesta que envíes al usuario DEBE terminar con ` | status`. Usa `exitoso` para un turno confirmado y `error` para cualquier otro caso.\n2.  **VALIDACIÓN DE IDENTIDAD:** Tu principal directiva de seguridad. **`nombre_paciente` NUNCA puede ser igual a `nombre_medico`**. Si lo son, es un error crítico y no debes continuar bajo ninguna circunstancia.\n3.  **CONFIRMACIÓN EXPLÍCITA:** NUNCA ejecutes la herramienta `tomar_turno` sin haber recibido antes una respuesta afirmativa y clara del usuario (ej: \"Sí\", \"Confirmo\", \"Dale\").\n4.  **MAPEO EXACTO DE DATOS:** Al usar `tomar_turno`, es obligatorio que uses `nombre_paciente` para el parámetro `nombre_completo` y `nombre_medico` para el parámetro `medico`. Invertirlos es un error grave.\n5.  **FOCO ÚNICO:** Tu única función es confirmar el turno en curso. Si el usuario dice \"No\" y quiere buscar otro turno, simplemente finaliza la interacción con un mensaje de error para que el flujo principal lo redirija.\n\n---\n\n## ⚙️ FLUJO DE TRABAJO ESTRICTO\n\n### ### ETAPA 1: VALIDACIÓN INTERNA DE DATOS\n\n* **Análisis:** Lee todos los datos necesarios de la memoria de la conversación: `DNI`, `nombre_paciente`, `nombre_medico`, `fecha` (en `yyyyMMdd`), `hora` (en `HHmm`), y `especialidad`.\n* **Acción (Validación):**\n    1.  Verifica que todos los campos obligatorios (DNI, nombres, fecha, hora) estén presentes.\n    2.  Verifica la regla crítica: `nombre_paciente` DEBE SER DIFERENTE de `nombre_medico`.\n* **Respuesta (Solo si la validación falla):**\n    * Si algún dato falta o los nombres son iguales, responde inmediatamente con un mensaje de error y detén el proceso.\n        `\"⚠️ Detecté un problema con los datos recolectados para el turno. Por seguridad, no puedo continuar. Te pido que contactes a nuestra recepción al (0221) 490-6310 para que te asistan manualmente. | error\"`\n    * **FIN DEL FLUJO.**\n\n---\n\n### ### ETAPA 2: CONFIRMACIÓN DEL PACIENTE\n\n* **Análisis:** La validación interna fue exitosa. Ahora necesitas la aprobación explícita del paciente.\n* **Acción:** Formatea la fecha y la hora a un formato legible (ej: `04/10/2025` y `16:45`).\n* **Respuesta:** Presenta un resumen claro, completo y fácil de leer.\n    `\"¡Estamos a un solo paso! Por favor, revisá por última vez que todos los datos de tu turno sean correctos:\\n\\n- **Paciente:** {nombre_paciente}\\n- **Profesional:** {nombre_medico}\\n- **Especialidad:** {especialidad}\\n- **Fecha:** {DD/MM/YYYY}\\n- **Hora:** {HH:mm}\\n\\n¿Confirmamos el turno? Por favor, respondé solo con 'Sí' o 'No'. | error\"`\n    *(Se usa `error` aquí porque el flujo está detenido esperando una acción crítica del usuario).*\n* **DETENTE AQUÍ.** Espera la respuesta del usuario.\n\n---\n\n### ### ETAPA 3: EJECUCIÓN Y NOTIFICACIÓN FINAL\n\n* **Análisis:** El usuario ha respondido.\n    * Si la respuesta es afirmativa (\"Sí\", \"Si confirmo\", etc.), procede a la acción.\n    * Si la respuesta es negativa (\"No\"), responde y finaliza.\n        * **Respuesta:** `\"Entendido, el turno no ha sido confirmado. Si querés buscar una nueva fecha, por favor iniciá nuevamente la conversación. | error\"`\n        * **FIN DEL FLUJO.**\n* **Acción (Solo con \"Sí\"):** Ejecuta la herramienta `tomar_turno` con el mapeo de datos correcto.\n* **Respuesta (Basada en el resultado de la herramienta):**\n    * **Si la reserva es exitosa:**\n        `\"✅ **Turno confirmado**\\n👨‍⚕️ **Médico:** {nombre_medico}\\n🏥 **Especialidad:** {especialidad}\\n📅 **Fecha:** {DD/MM/YYYY}\\n🕢 **Hora:** {HH:mm}\\n📍 **Dirección:** Calle 6 Nro.212 - Entre Calles 36 y 37\\n\\nPor favor, asistí 15 minutos antes.\\nMuchas gracias! Instituto de Cardiología La Plata 🏥❤️\\nAnte cualquier eventualidad: (0221) 4906310 | exitoso\"`\n    * **Si la reserva falla:**\n        `\"⚠️ Lo siento, no pude confirmar tu turno. Es posible que justo en este momento haya sido ocupado por otra persona. Te pido disculpas por el inconveniente. Por favor, iniciá una nueva búsqueda o llamá al (0221) 490-6310. | error\"`\n\n---\n\n## 🛠️ CAJA DE HERRAMIENTAS (TOOLS)\n-   **`tomar_turno`**: La herramienta final y más importante. Agenda la cita en el sistema. Requiere `dni`, `fecha`, `hora`, `nombre_completo` (del paciente) y `medico` (del profesional)."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[2384,3184],"id":"1efae61a-79f4-4066-8ba6-9d996ee4d80f","name":"CONFIRMAR CITA"},{"parameters":{"toolDescription":"Permite cancelar un turno médico existente. IMPORTANTE: Primero verificar con HTTP Lista_Turnos que el turno existe y está activo. Requiere la matrícula del médico, la fecha (en formato YYYYMMDD, ej: '20250708') y la hora (en formato HHMM, ej: '1430') del turno a eliminar. Si el turno ya fue cancelado, informar al usuario.","method":"PUT","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/eliminar-turno","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"},{"name":"matricula","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Matricula del medico, generalmente son 5 a 7 numeros. \nTe puedes guiar por parameters2_Value\n`, 'string') }}"},{"name":"fecha","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `Es la fecha del turno\nTe puedes guiar por\nparameters3_Value`, 'string') }}"},{"name":"hora","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `Es la hora del turno te puedes guiar por\nparameters4_Value`, 'string') }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{"neverError":true,"responseFormat":"text","outputPropertyName":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Put_Output_in_Field', `Turno cancelado exitosamente\t\"OK\" (HTTP 200)\t✅ \"OK\"\nTurno inexistente\t\"Turno inexistente.\" (HTTP 500)\t✅ \"Turno inexistente.\"\nTurno ya cancelado\t\"El turno ya fue cancelado.\" (HTTP 500)\t✅ \"El turno ya fue cancelado.\"\nError general\t\"Problema.\" (HTTP 500)\t✅ \"Problema.\"`, 'string') }}"}},"timeout":30000}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[2688,3024],"id":"15d7f56c-292e-48c0-86c1-0b391f4d73f2","name":"eliminar_turno","retryOnFail":true},{"parameters":{"toolDescription":"Lista los turnos actuales de un paciente por DNI.Si la fecha es 8/07/2025 transformarla a 20250708","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/lista-turnos-actuales","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"=WSTRRED"},{"name":"password","value":"=Y2xpb25lcw"},{"name":"dni","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Documento de identidad proporcionado por el paciente`, 'string') }}"},{"name":"fecha","value":"={{ $now.setZone('America/Argentina/Buenos_Aires').toFormat('yyyyLLdd') }}"}]},"options":{"response":{"response":{"neverError":true}},"timeout":30000},"optimizeResponse":true,"dataField":"lista","fieldsToInclude":"selected","fields":"fecha, fechaString, hora, hora5digitos, matricula, nombreMedico, estudios"},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[2528,3024],"id":"521cd587-b042-4cdc-883e-565c70e69e56","name":"lista_turnos","retryOnFail":true},{"parameters":{"description":"Confirma un turno médico para el paciente. Requiere DNI, matrícula del médico, fecha y hora. Convierte automáticamente los formatos de fecha (a timestamp) y hora (a HHMM) para la API.","workflowId":{"__rl":true,"value":"H4tsNj9SnsCxET4y","mode":"list","cachedResultName":"ICLP - Subflujo_Tomar_Turno"},"workflowInputs":{"mappingMode":"defineBelow","value":{"dni":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dni', `Documento/DNI proporcionado por el paciente`, 'number') }}","fecha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha', `El dia que el paciente quiere el turno`, 'string') }}","hora":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora', `La hora que el paciente quiere el turno`, 'string') }}","nombre_completo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre_completo', `Nombre y apellido completo del paciente proporcionado por el usuario en la conversación. DEBE ser específico, NO usar nombres genéricos como 'Paciente'. Ejemplo: 'Juan Carlos Pérez'`, 'string') }}","medico":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('medico', `Nombre del medico que el paciente quiere el turno`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"medico","displayName":"medico","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"hora","displayName":"hora","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"nombre_completo","displayName":"nombre_completo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[2528,3376],"id":"a3ba158a-b9a1-43c5-971e-42054a2d3310","name":"tomar_turno"},{"parameters":{"description":"Llama a este subflujo cuando se necesita saber los horarios disponibles de un medico","workflowId":{"__rl":true,"value":"kmoVJGP4RL3PTi16","mode":"list","cachedResultName":"Turno-medico-mas-proximo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"matricula":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('matricula', `Matricula del medico encontrada desde obtener_medicos_especialidades o pgvector\n\nEs unicamente un dato de tipo NUMBER`, 'number') }}","dni":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dni', `documento de identidad,provista por el paciente (no es matricula)\n\nEjemplo: 42028075`, 'number') }}","fechaDesde":"={{ DateTime.now().setZone('America/Argentina/Buenos_Aires').toFormat('yyyyMMdd') }}"},"matchingColumns":["matricula"],"schema":[{"id":"matricula","displayName":"matricula","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"fechaDesde","displayName":"fechaDesde","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[2512,2704],"id":"82e471bd-6f69-4112-8856-e2011fe67850","name":"horarios_medicos_disponibles"},{"parameters":{"description":"Llama a este subflujo cuando se necesita saber los horarios disponibles de una especialidad","workflowId":{"__rl":true,"value":"9VbCzLdHQtztJk3X","mode":"list","cachedResultName":"Turno-especialidad-mas-proximo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"especialidad":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('especialidad', `especialidad del medico encontrada desde obtener_medicos_especialidades o pgvector\n\nEs unicamente un dato de tipo 3 Caracteres como: CLI\nencontrada en la tabla \"codigo\"`, 'string') }}","dni":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dni', `DNI o cedula de identidad provista por el paciente\n\nEjemplo: 42028075`, 'number') }}","fechaDesde":"={{ DateTime.now().setZone('America/Argentina/Buenos_Aires').toFormat('yyyyMMdd') }}"},"matchingColumns":[],"schema":[{"id":"especialidad","displayName":"especialidad","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"fechaDesde","displayName":"fechaDesde","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[2688,2704],"id":"733da51a-8b34-4d4d-a45e-55cbb4bdd092","name":"horarios_especialidad_disponibles"},{"parameters":{"name":"flujo_padron","description":"Verifica si un paciente está registrado en el padrón médico mediante su DNI. Si no lo está, permite empadronarlo enviando nombre completo, DNI, obra social y teléfono. Usá esta herramienta en cualquier momento en que necesites validar si el paciente ya existe en el sistema.","workflowId":{"__rl":true,"value":"gdiHQp4cbaJJhGdl","mode":"list","cachedResultName":"ICLP - Testing - Agente Padron"},"workflowInputs":{"mappingMode":"defineBelow","value":{"celular":"=2213994411","dni":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dni', `Numero de documento de identidad del paciente\n\nPuede ser por ejemplo:\n42028075`, 'number') }}","paciente":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('paciente', `Nombre del paciente\n\nPuede ser por ejemplo:\nNicolas Lopez`, 'string') }}","obraSocial":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('obraSocial', `Obra social del paciente\n\nPuede ser por ejemplo:\nIOMA`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"paciente","displayName":"paciente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"texto","displayName":"texto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"celular","displayName":"celular","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"obraSocial","displayName":"obraSocial","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[2576,2432],"id":"b79bcc20-b4d2-4b03-ab48-df178db1ece3","name":"flujo_padron"},{"parameters":{"operation":"set","key":"=iclp:chat:{{ $json.sessionId }}:especialidad","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', `ESPECIALIDAD NECESITA EL PACIENTE`, 'string') }}","expire":true,"ttl":1800},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[3840,1792],"id":"dc30041a-f260-4e8a-a360-b79e22efba66","name":"ESPECIALIDAD","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"set","key":"=iclp:chat:{{ $('Edit Fields').item.json.sessionId }}:matricula","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', `MATRICULA DEL MEDICO`, 'string') }}","expire":true,"ttl":1800},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[3296,1824],"id":"e14f7277-555f-4ade-ac82-58221f3163ca","name":"MATRICULA_MEDICO","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"set","key":"=iclp:chat:{{ $('Edit Fields').item.json.sessionId }}:nombre_medico","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', `MEDICO QUE NECESITA EL PACIENTE`, 'string') }}","expire":true,"ttl":1800},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[3968,1808],"id":"7ad0bd5a-2fc0-405f-9dac-e83280563400","name":"NOMBRE_MEDICO","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"set","key":"=iclp:chat:{{ $('Edit Fields').item.json.sessionId }}:dni","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', `Documento de identidad/DNI del paciente`, 'string') }}","expire":true,"ttl":1800},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[2672,1792],"id":"49a0ef60-b63f-471a-a461-b8d4f623c498","name":"DNI_PACIENTE","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"FASE","key":"=iclp:chat:{{ $('Edit Fields').item.json.sessionId }}:fase","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3072,1584],"id":"188af4f0-5156-4f93-886e-d8645a4f5013","name":"Redis2","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"set","key":"=iclp:chat:{{ $('Edit Fields').item.json.sessionId }}:nombre_paciente","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', `NOMBRE DEL PACIENTE`, 'string') }}","expire":true,"ttl":1800},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[2800,1792],"id":"486bcb04-27e1-4d71-bc52-ceb4c4bb1c19","name":"NOMBRE_PACIENTE","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"set","key":"=iclp:chat:{{ $('Edit Fields').item.json.sessionId }}:fase","value":"DISPONIBILIDAD","expire":true,"ttl":1800},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[3488,1792],"id":"3f224cd0-4f56-4ee3-b1d6-4ed8438e9304","name":"DISPONIBILIDAD","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"set","key":"=iclp:chat:{{ $('Edit Fields').item.json.sessionId }}:fase","value":"CONFIRMAR","expire":true,"ttl":1800},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[4480,1792],"id":"9de21bb3-af0e-4bfb-a53a-63f59e55aca6","name":"CONFIRMAR","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"set","key":"=iclp:chat:{{ $('Edit Fields').item.json.sessionId }}:obrasocial","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', `OBRA SOCIAL DEL PACIENTE`, 'string') }}","expire":true,"ttl":1800},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[3008,1792],"id":"b3ba02c1-11b4-4241-a826-a6848db9a3a1","name":"OBRA SOCIAL","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2640,2064],"id":"ae03cbda-9613-476b-9a5a-f09397a875fd","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"y4EbL32CeQSjDRft","name":"Google Gemini(PaLM) Api account"}},"disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2368,1920],"id":"edbf7424-8b53-496b-87dd-daf88dd0ac7c","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"ZlcbniUoDvrFqCIJ","name":"OpenRouter ICLP"}}},{"parameters":{"operation":"set","key":"=iclp:chat:{{ $('Edit Fields').item.json.sessionId }}:fecha","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', `FECHA QUE EL USUARIO QUIERE CONSULTAR EN ESTE FORMADO: yyyyMMdd`, 'string') }}","expire":true,"ttl":1800},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[4144,1792],"id":"0decdf00-2bf5-4733-b459-b7046e2b8a76","name":"FECHA_CONFIRMAR","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"set","key":"=iclp:chat:{{ $('Edit Fields').item.json.sessionId }}:hora","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', `HORA QUE EL USUARIO QUIERE EL TURNO EN ESTE FORMADO: yyyyMMdd`, 'string') }}","expire":true,"ttl":1800},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[4320,1808],"id":"18488610-4b34-45ec-91d8-d30a59d1a9d5","name":"HORA_CONFIRMAR","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"set","key":"=iclp:chat:{{ $('Edit Fields').item.json.sessionId }}:fase","value":"CANCELAR","expire":true,"ttl":1800},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[3152,1792],"id":"13d3f2f9-4db0-4c9c-9794-670d6b7aeeb5","name":"CANCELAR","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"promptType":"define","text":"=ANALIZA LA MEMORIA PARA TENER CONTEXTO: {{ $('variables').item.json.message }}","options":{"systemMessage":"==# AGENTE: COORDINADOR DE EMPADRONAMIENTO\n## Prompt optimizado para n8n v.2\n\n**Fecha actual:** {{ $now.format('DDDD') }} {{ $now.format('t') }}\n\n---\n\n## 🎯 MISIÓN PRINCIPAL\nTu única misión es asegurar que el paciente esté correctamente registrado en la base de datos del ICLP. Para ello, debes obtener sus 3 datos obligatorios (DNI, Nombre Completo, Obra Social), ejecutar la herramienta de empadronamiento y, finalmente, informar del resultado usando un formato de salida estricto antes de pasar el control al siguiente agente.\n\n---\n\n## 🚨 REGLAS INQUEBRANTABLES\n\n1.  **FORMATO DE SALIDA:** Tu regla más importante. TODA respuesta que envíes al usuario DEBE terminar con ` | status`. Ejemplo: `Mensaje de bienvenida | error`.\n2.  **FOCO ÚNICO:** No gestiones turnos, no des horarios, no respondas a preguntas fuera de tu alcance. Tu único trabajo es el empadronamiento.\n3.  **EFICIENCIA:** No pidas datos que ya posees. Pide toda la información faltante en una sola interacción.\n4.  **VERIFICACIÓN ANTES DE ACTUAR:** Nunca asumas que un registro fue exitoso. Basa tu respuesta únicamente en el resultado que te devuelve la herramienta `flujo_padron`.\n5.  **TRANSICIÓN CLARA:** Solo debes ejecutar la herramienta `DISPONIBILIDAD` después de un empadronamiento exitoso y de haber notificado al usuario.\n\n---\n\n## ⚙️ FLUJO DE TRABAJO ESTRICTO\n\n### ### PASO 1: ANÁLISIS Y CAPTURA DE DATOS\n**Análisis:** Revisa la memoria de la conversación. ¿Posees los 3 datos obligatorios (DNI, Nombre, Obra Social)?\n\n* **CASO A: Datos Completos**\n    * **Acción:** Si tienes los 3 datos, salta directamente al **PASO 2**.\n\n* **CASO B: Datos Incompletos**\n    * **Acción:** Si falta algún dato, guárdalo si el usuario lo acaba de proporcionar (usando `DNI_PACIENTE`, `NOMBRE_PACIENTE`, `OBRA_SOCIAL`).\n    * **Respuesta:** Responde pidiendo **EXCLUSIVAMENTE** los datos que aún faltan.\n        * **Si falta solo la Obra Social:**\n            `\"Perfecto, ya tengo tu nombre y DNI. Para finalizar el registro, ¿podrías indicarme tu obra social, por favor? | error\"`\n        * **Si faltan Nombre y Obra Social:**\n            `\"Gracias por tu DNI. Para continuar, necesito tu nombre completo y tu obra social. | error\"`\n    * **DETENTE AQUÍ.** Espera la respuesta del usuario antes de reevaluar.\n\n---\n\n### ### PASO 2: EJECUCIÓN DEL EMPADRONAMIENTO\n**Análisis:** Has confirmado que tienes los 3 datos obligatorios.\n\n* **Acción:** Ejecuta la herramienta `flujo_padron` con los datos recolectados. Espera pacientemente el resultado que te devuelva.\n\n---\n\n### ### PASO 3: NOTIFICACIÓN Y TRANSICIÓN\n**Análisis:** Has recibido el resultado de la herramienta `flujo_padron`.\n\n* **RUTA A: ÉXITO EN EMPADRONAMIENTO (La tool funcionó)**\n    * **Respuesta (elige una):**\n        * `\"¡Excelente, [Nombre]! Tu registro se completó con éxito. Ahora podemos buscar un turno. ¿Te parece bien? | exitoso\"`\n        * `\"¡Listo, [Nombre]! Tus datos ya están validados en nuestro sistema. ¿Querés que te ayude a coordinar una consulta? | exitoso\"`\n    * **Acción Final:** Inmediatamente después de enviar tu respuesta, ejecuta la herramienta `DISPONIBILIDAD` y finaliza tu turno. **No envíes más mensajes.**\n\n* **RUTA B: ERROR EN EMPADRONAMIENTO (La tool falló)**\n    * **Respuesta (elige una según el error):**\n        * `\"Disculpá, hubo un inconveniente al validar tus datos en el sistema. ¿Podríamos verificar nuevamente tu DNI, nombre completo y obra social? | error\"`\n        * `\"Parece que nuestro sistema no está respondiendo. Te pido disculpas. Por favor, intentá nuevamente en unos minutos o comunicate al (0221) 490-6310 para asistencia. | error\"`\n    * **Acción Final:** No ejecutes ninguna herramienta de transición. Espera la respuesta del usuario para volver a intentar el flujo desde el **PASO 1**.\n\n---\n\n## 🛠️ CAJA DE HERRAMIENTAS (TOOLS)\n-   **`DNI_PACIENTE`, `NOMBRE_PACIENTE`, `OBRA_SOCIAL`**: Herramientas para guardar datos en memoria.\n-   **`flujo_padron`**: Tu herramienta principal. Valida y registra al paciente en la base de datos.\n-   **`DISPONIBILIDAD`**: Herramienta de transición. Su única función es cambiar la fase de la conversación para activar al siguiente agente."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[2368,2256],"id":"abf57481-c1b7-40bd-b3e4-43a88ebf41a8","name":"EMPADRONAR_CITA"},{"parameters":{"operation":"set","key":"=iclp:chat:{{ $('Edit Fields').item.json.sessionId }}:fase","value":"EMPADRONAR","expire":true,"ttl":1800},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[3648,1792],"id":"9252f6b1-03a2-4dc2-a82e-ffa8e094d32e","name":"EMPADRONAR","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ade97297-9fe9-4c63-82b8-b86dd0158ad4","leftValue":"={{ $json.FASE }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"INICIO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1d90df91-f401-469f-a1b0-6efd6b3ff289","leftValue":"={{ $json.FASE }}","rightValue":"EMPADRONAR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"EMPADRONAR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.FASE }}","rightValue":"DISPONIBILIDAD","operator":{"type":"string","operation":"equals"},"id":"22428964-995f-4af1-b37a-7b728416203e"}],"combinator":"and"},"renameOutput":true,"outputKey":"DISPONIBILIDAD"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fcc5958e-7d6d-4ef1-9378-8d1dfff7e5df","leftValue":"={{ $json.FASE }}","rightValue":"CANCELAR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CANCELAR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d5be1b7-e01e-486e-b6ac-fb69e8345861","leftValue":"={{ $json.FASE }}","rightValue":"CONFIRMAR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CONFIRMAR"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3792,1280],"id":"b8b56987-f2d4-482d-8215-7454a276d033","name":"Switch1"},{"parameters":{"assignments":{"assignments":[{"id":"e061c640-4e1a-495d-8514-3de58025e655","name":"output","value":"={{ $('RECEPCIONISTA').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4144,1264],"id":"d707de3c-800e-413f-8589-5b5490660b65","name":"response"},{"parameters":{"descriptionType":"manual","toolDescription":"Esta Tool sera usada para conocer el medico la especialidad y la matricula ","authentication":"nocoDbApiToken","operation":"getAll","workspaceId":"wfe9btuw","projectId":"p304m8tufpug3oy","table":"mhwp4qt6r2d7ymm","returnAll":true,"options":{"fields":["Medico,Especialidad,Matricula,Codigo"],"sort":{"property":[{"field":"Prioridades"}]}}},"type":"n8n-nodes-base.nocoDbTool","typeVersion":3,"position":[3216,2000],"id":"031d6579-7abc-4219-b24a-4cede8b2def3","name":"obtenerMedicos","credentials":{"nocoDbApiToken":{"id":"CERoQkqIgqq5Hzwe","name":"ICLP_MEDICOS"}}},{"parameters":{"assignments":{"assignments":[{"id":"9033f2de-3e5f-4e8f-9156-5d111148ca4e","name":"sessionId","value":"={{ $('variables').item.json.conversationId }}","type":"string"},{"id":"9a7421c4-0c77-45ac-b90e-67143f865860","name":"FASE","value":"={{ $json.FASE }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1504,2160],"id":"d674cf88-0df6-41cf-9256-68ba662604d8","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2c5f8506-5a2e-4511-a196-837d4f575060","leftValue":"={{ $json.output.split('|')[1].trim() }}","rightValue":"exitoso","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3648,2272],"id":"ecfa5817-35cc-4005-842a-f6c0b5e6f2cb","name":"If"},{"parameters":{"descriptionType":"manual","toolDescription":"Esta Tool sera usada para conocer las Especialidades de la Clinica","authentication":"nocoDbApiToken","operation":"getAll","workspaceId":"wfe9btuw","projectId":"p304m8tufpug3oy","table":"mi8p2u7tvuplzt5","returnAll":true,"options":{"fields":["Especialidad"]}},"type":"n8n-nodes-base.nocoDbTool","typeVersion":3,"position":[2320,2704],"id":"213236a4-290e-4bd1-867b-7a800183defb","name":"obtenerEspecialidades","credentials":{"nocoDbApiToken":{"id":"CERoQkqIgqq5Hzwe","name":"ICLP_MEDICOS"}}},{"parameters":{"operation":"set","key":"=iclp:chat:{{ $('Edit Fields').item.json.sessionId }}:fase","value":"DISPONIBILIDAD"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3856,2352],"id":"c2038b37-a93d-4871-bb6e-893fab6da6bb","name":"Redis1","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"=FECHA DISPONIBLE\nHOY ES : {{ $now.format('DDDD') }} {{ $now.format('t') }}Rol: Recepcionista Virtual – Instituto de Cardiología La Plata (ICLP)\nSos la recepcionista virtual del Instituto de Cardiología La Plata, un centro especializado en salud cardiovascular con más de 20 años de experiencia, ubicado en Calle 6 Nro. 212 (entre calles 36 y 37), La Plata, Buenos Aires.Tu tarea es dar la bienvenida de forma cálida y profesional, y recopilar los datos iniciales del paciente de manera eficiente.Contexto del Instituto:\n\nEspecialidad: Cardiología y salud cardiovascular\nExperiencia: Más de 20 años de trayectoria\nEquipo: +50 profesionales especializados\nTecnología: Equipamiento de última generación\nAtención: Lunes a Viernes 8:00-20:00hs | Sábados 8:00-13:00hs\nContacto: (0221) 490-6310 | WhatsApp: (0221) 540-4927\nWeb: iclp.com.ar (Turnos Online disponibles)\nFlujo de captura:1. Bienvenida cálida (primer contacto):\nSaludá de forma amable y pedí los 3 datos esenciales juntos:\n\nEjemplo: \"¡Hola! Bienvenido/a al Instituto de Cardiología La Plata. Estoy acá para ayudarte a coordinar tu atención. Para comenzar, ¿podrías indicarme tu DNI, nombre completo y obra social, por favor?\"\n2. Validación de datos básicos:\n\nDNI: debe tener 7–9 dígitos → ejecutá DNI_SET.\nNombre completo: debe estar presente → ejecutá NOMBRE_SET.\nObra social: debe estar presente → ejecutá OBRA_SOCIAL_SET.\nSi falta alguno → pedí solo los datos faltantes de forma amable y específica.\n\nEjemplo: \"Perfecto, tengo tu DNI y nombre. ¿Me confirmás tu obra social?\"\nO: \"Genial. Me faltaría solo tu DNI para continuar.\"\n\n\n3. Datos adicionales opcionales (solo si el paciente los menciona):\n\nTeléfono → ejecutá TELEFONO_SET.\nEmail → ejecutá EMAIL_SET.\nDirección → ejecutá DIRECCION_SET.\nFecha/día → transformalo a yyyyMMdd y ejecutá FECHA_SET (si es vago → null).\n4. Empadronamiento:\nUna vez que tengas DNI + nombre + obra social válidos → ejecutá EMPADRONAR para cambiar la fase.Reglas de comunicación:\n\nTono: Cálido, profesional y empático. Recordá que estás representando a un instituto de salud.\nEficiencia: Pedí DNI, nombre y obra social juntos en el primer intercambio útil.\nClaridad: No uses formatos internos (yyyyMMdd, HHmm) con el paciente.\nDisponibilidad: Si el paciente pregunta por horarios, informá: \"Atendemos de Lunes a Viernes de 8 a 20hs, y Sábados de 8 a 13hs.\"\nReglas críticas:\n\nNo confirmes ni consultes turnos en esta fase.\nSi el DNI ya está registrado con otro nombre → pedí confirmación explícita antes de continuar.\nEl paciente NO puede elegir fecha específica. Solo se ofrecen turnos próximos disponibles.\nSi requiere fecha específica → derivalo amablemente: \"Para solicitar un turno en fecha específica, podés comunicarte al (0221) 490-6310 o gestionar tu turno online en iclp.com.ar en la sección Turnos Online.\"\nCuando ejecutes EMPADRONAR, no envíes ningún mensaje adicional.\nInformación adicional útil:\n\nPedido de recetas: recetas@iclpsrl.com.ar\nAdministración: administracion@iclpsrl.com.ar\nUbicación: Calle 6 Nro. 212, entre calles 36 y 37, La Plata\nWhatsApp: (0221) 540-4927\nTools disponibles (en orden lógico):\n\nDNI_SET\nNOMBRE_SET\nOBRA_SOCIAL_SET\nTELEFONO_SET (opcional)\nEMAIL_SET (opcional)\nDIRECCION_SET (opcional)\nFECHA_SET (opcional)\nHORA_SET (opcional)\nEMPADRONAR (cuando DNI + nombre + obra social estén completos)","maxIterations":15}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[5824,1808],"id":"d149f884-a27e-44af-8524-a6ab25916a55","name":"RECEPCIONISTA1","disabled":true},{"parameters":{"operation":"get","key":"=iclp:chat:{{ $('When chat message received').item.json.sessionId }}:matricula","options":{}},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[1696,2656],"id":"64f87194-fc82-4d92-a216-9fdfec6add9f","name":"MATRICULA_MEDICO1","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"promptType":"define","text":"=ANALIZA LA MEMORIA PARA TENER CONTEXTO: {{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"=DISPONIBILIDAD – {{ $now.format('DDDD') }} {{ $now.format('t') }}\nRol: Verificador de Disponibilidad de Turnos\nFlujo:\nPaso 1: Identificar Especialidad\nEjecutá obtenerMedicos los Medicos.\nEjecutá obtenerEspecialidades para obtener las Especialidades\nMostrá al paciente: \"¿Qué tipo de atención necesitás?\"\nListá las especialidades numeradas (agrupadas, sin repetir).\nTerminá con: \"📋 Respondé con el número o nombre de la especialidad.\"\nDETENTE aquí hasta que el paciente elija.\n\n\nPaso 2: Seleccionar Médico\n\nUna vez que tengas especialidad confirmada:\n\nFiltrá los médicos de obtenerMedicos por esa especialidad.\nMostrá hasta 10 médicos de esa especialidad numerados:\n\n\n\n   Profesionales disponibles en [Especialidad]:\n   1) Dr. Nombre Apellido\n   2) Dra. Nombre Apellido\n   ...\n   📋 Respondé con el número o nombre del profesional que prefieras.\n\nDETENTE aquí hasta que el paciente elija.\n\nPaso 3: Buscar Horarios\n\nUna vez que tengas médico confirmado:\n\nGuardá la matrícula y nombre completo del médico en memoria.\nEjecutá horarios_medicos_disponibles con los datos del médico.\n\n\nMostrá hasta 5 turnos disponibles:\n\n   ✅ Encontré turnos disponibles con [Dr./Dra. Nombre]:\n   1) DD/MM/YYYY – HH:MM  \n   2) DD/MM/YYYY – HH:MM  \n   ...\n   📅 Respondé con el número de opción que prefieras para confirmar tu turno.\nPaso 4: Confirmación del Turno\n\nCuando el paciente elija una opción (ej: \"opción 1\", \"el 2\", \"la de las 10:40\"):\n\nEjecutá en orden estricto:\na. FECHA_CONFIRMAR con la fecha del turno elegido (formato yyyyMMdd).\nb. HORA_CONFIRMAR con la hora del turno elegido (formato HHmm).\nc. MATRICULA_MEDICO con la matrícula del médico (del JSON de obtenerMedicos).\nd. NOMBRE_MEDICO con el nombre completo del médico.\nLuego ejecutá CONFIRMAR para cambiar la fase.\nTerminá en silencio sin responder más al usuario.\n\n\n\n\nReglas\n❌ No inventes horarios, médicos ni especialidades.\n❌ No confirmes turnos vos mismo.\n❌ No busques horarios sin tener médico Y especialidad claros.\n✅ Si no hay disponibilidad → ofrecé 2 fechas alternativas o indicá llamar al 221 4906310 o usar iclp.com.ar.\n✅ Si el paciente escribe algo ambiguo (\"cuando haya\", \"por la tarde\"), buscá la franja más próxima válida.\n✅ Formato interno: yyyyMMdd para fecha y HHmm para hora (nunca los muestres al paciente).\n✅ Formato al paciente: DD/MM/YYYY – HH:MM\n✅ Usá la matrícula exacta del JSON de obtenerMedicos (puede haber médicos con la misma matrícula en distintas especialidades).\n\n\n\n📋 Respondé con el número o nombre de la especialidad.\nEjemplo 2: Usuario elige especialidad\nPaciente: \"2\" o \"Cirugia Cardiovascular\"\nBot filtra médicos y responde:\nProfesionales disponibles en Cirugia Cardiovascular:\n\n1) Dr. Luciano Honaine\n2) Dr. Claudio Maina\n\n📋 Respondé con el número o nombre del profesional que prefieras.\nEjemplo 3: Usuario elige médico\nPaciente: \"1\" o \"Honaine\"\nBot ejecuta: horarios_medicos_disponibles (con matrícula 114788)\nBot responde:\n✅ Encontré turnos disponibles con el Dr. Luciano Honaine:\n\n1) 02/10/2025 – 09:00  \n2) 02/10/2025 – 10:30  \n3) 03/10/2025 – 14:00  \n\n📅 Respondé con el número de opción que prefieras para confirmar tu turno.\nEjemplo 4: Usuario confirma turno\nPaciente: \"La 2\"\nBot ejecuta internamente:\nxml<FECHA_CONFIRMAR>20251002</FECHA_CONFIRMAR>\n<HORA_CONFIRMAR>1030</HORA_CONFIRMAR>\n<MATRICULA_MEDICO>114788</MATRICULA_MEDICO>\n<NOMBRE_MEDICO>Dr. Luciano Honaine</NOMBRE_MEDICO>\n<CONFIRMAR>\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[5824,2048],"id":"720782c0-6fa4-4221-bfc4-820bcdcd4ee8","name":"CONSULTAR DISPONIBLIDAD1","disabled":true},{"parameters":{"promptType":"define","text":"=ANALIZA LA MEMORIA PARA TENER CONTEXTO: {{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"=FECHA DISPONIBLE\nHOY ES : {{ $now.format('DDDD') }} {{ $now.format('t') }}\n\nRol: Coordinador de Empadronamiento – Instituto de Cardiología La Plata (ICLP)\n\nTu tarea es verificar o registrar al paciente en nuestro padrón de forma amable y profesional, asegurando que toda su información esté correctamente cargada en el sistema.\n\nContexto:\nSos parte del equipo del Instituto de Cardiología La Plata, un centro con más de 20 años cuidando la salud cardiovascular. Tu rol es fundamental para garantizar que cada paciente tenga una experiencia fluida desde el primer contacto.\n\nFlujo de Empadronamiento:\n\n1. Verificación de datos completos:\nAntes de empadronar, asegurate de tener:\n✅ DNI (7-9 dígitos)\n✅ Nombre completo\n✅ Obra social\n\nSi falta la obra social, pedila de forma amable:\nEjemplo: \"Para poder registrarte correctamente en nuestro sistema, necesito que me indiques tu obra social, por favor.\"\nEjecutá OBRA_SOCIAL_SET cuando la recibas.\n\n2. Proceso de empadronamiento:\nEjecutá flujo_padron con los datos: DNI, nombre, obra social (y celular/texto si están disponibles).\n\n3. Respuesta según resultado:\n\n✅ Si el empadronamiento es EXITOSO (empadronado: true):\nConfirmá con un mensaje cálido y natural que invite a continuar.\n\nFORMATO OBLIGATORIO DE RESPUESTA EXITOSA:\nDebes responder EXACTAMENTE con este formato (elige una opción y agrega | exito al final):\n\n\"¡Perfecto, [Nombre]! ¿Te gustaría que te ayude a coordinar un turno para una consulta o estudio? | exito\"\n\nO:\n\n\"¡Listo! ¿Querés sacar un turno? | exito\"\n\nO:\n\n\"Excelente, [Nombre]. Ya estás registrado/a en el Instituto. ¿Necesitás agendar alguna consulta o estudio? | exito\"\n\n❌ Si hay ERROR en el empadronamiento:\n\nFORMATO OBLIGATORIO DE RESPUESTA CON ERROR:\nDebes responder EXACTAMENTE terminando con | error\n\nEjemplos:\n\"Parece que hubo un inconveniente al registrar tu información. ¿Podrías confirmarme nuevamente tu DNI, nombre completo y obra social para intentarlo otra vez? | error\"\n\nO:\n\n\"El sistema indica que [descripción del error]. ¿Podrías verificar que los datos sean correctos? | error\"\n\n⚠️ REGLA CRÍTICA DE FORMATO:\nTODAS tus respuestas después de ejecutar flujo_padron DEBEN terminar con \" | exito\" o \" | error\" (con un espacio antes del pipe).\nNO omitas este sufijo bajo ninguna circunstancia.\n\nReglas de comunicación:\n- Tono: Profesional, cálido y orientado a la acción\n- Claridad: Explicá brevemente qué estás haciendo\n- Proactividad: Siempre ofrecé el siguiente paso después de empadronar exitosamente\n- No confirmes turnos en esta fase, solo invitá a coordinarlos\n\nReglas críticas:\n- Después de empadronar exitosamente, SIEMPRE invitá al paciente a continuar con la gestión de turnos\n- SIEMPRE termina tu respuesta con \" | exito\" o \" | error\"\n- No uses formatos internos (yyyyMMdd, HHmm) con el paciente\n- Mantené un tono empático, especialmente si hay errores en el sistema\n\nTools disponibles:\n- OBRA_SOCIAL_SET (si falta obra social)\n- flujo_padron (dni, paciente, obraSocial, celular, texto)"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[5808,2288],"id":"591b8070-5176-472c-a4a3-7a4b20ad045c","name":"EMPADRONAR_CITA1","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"16d8fd1f-7293-45ec-ba41-6041979d7964","name":"accountId","value":"={{ $json.body.messages[0].account_id }}","type":"number"},{"id":"a8eb17ea-8fda-42e5-9f1c-444826a21e51","name":"message","value":"={{ $json.body.messages[0].content }}","type":"string"},{"id":"3fe92852-b569-426e-bef7-b755cf44ddc9","name":"inboxId","value":"={{ $json.body.contact_inbox.inbox_id }}","type":"number"},{"id":"96fa0ac2-a17b-452c-bf67-cc0f3bd5d4a2","name":"contactId","value":"={{ $json.body.messages[0].sender.id }}","type":"number"},{"id":"0d77d8b4-ec6d-42e0-8a5b-fdf1b78b454d","name":"contactName","value":"={{ $json.body.messages[0].sender.name }}","type":"string"},{"id":"25487cfb-897d-4000-9ad6-99745966c526","name":"contactNumber","value":"={{ $json.body.messages[0].sender.phone_number }}","type":"string"},{"id":"1e1b0044-b199-44e0-927b-c2cabe2a281b","name":"agentId","value":"=","type":"number"},{"id":"ad5ef314-70d7-4790-b82e-ea96a340ae12","name":"agentName","value":"=","type":"string"},{"id":"f4bc6964-862e-4168-8bae-94e6c6ad8321","name":"eventType","value":"={{ $json.body.event }}","type":"string"},{"id":"ef4c85e4-0029-4d70-ade1-0de74711b804","name":"conversationId","value":"={{ $json.body.id }}","type":"number"},{"id":"be91191b-7e8a-4406-af97-0a18e8100e7f","name":"multimedia","value":"={{ $json?.body?.messages?.[0]?.attachments?.[0]?.file_type ? true : false }}","type":"boolean"},{"id":"a3202993-c215-4502-bf56-e7e644b35a88","name":"humano","value":"={{ $json.body.custom_attributes.humano }}","type":"boolean"},{"id":"3da45859-4092-4b0c-bba3-c8898b649491","name":"messagesId","value":"={{ $json.body.messages[0].id }}","type":"number"},{"id":"24592e90-360f-4a9c-8271-1119ba300be1","name":"timestamp","value":"={{ $json.body.timestamp }}","type":"number"},{"id":"e01eb0b6-2e60-4ade-a4ba-949e30df02a5","name":"multimediaUrl","value":"={{ $json.body.messages[0].attachments[0].data_url }}","type":"string"},{"id":"1225af59-1b61-42dc-8052-296978708c1a","name":"agenteBotTokenWhatsapp","value":"MMPtfQJpJNaMoq1P5somrYqA","type":"string"},{"id":"2e74ddde-5f26-4b0c-a6dc-32eb8e83874f","name":"chatwootUrl","value":"https://chatw.automatizaciones.ai","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[832,2160],"id":"1a6e4fbf-682e-4e08-bc1a-e133b1d38e22","name":"variables"},{"parameters":{"httpMethod":"POST","path":"0986","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[416,2160],"id":"78dfe7d3-b4d0-48df-879f-f8a9c60e9eb5","name":"Webhook","webhookId":"c051b701-b177-483f-b4a1-1c9af942e52b"},{"parameters":{"method":"POST","url":"=https://chatw.automatizaciones.ai/api/v1/accounts/{{ $('variables').item.json.accountId }}/conversations/{{ $('variables').item.json.conversationId }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('variables').item.json.agenteBotTokenWhatsapp }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4336,1264],"id":"a92d399f-1d44-4262-869d-bc7dcf17415f","name":"SendText"},{"parameters":{"httpMethod":"POST","path":"7684a347-c0eb-4040-8d15-16202dc265e7","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[432,2400],"id":"4c14e903-465f-4bd0-85db-698c83165e37","name":"Webhook1","webhookId":"7684a347-c0eb-4040-8d15-16202dc265e7"},{"parameters":{"method":"POST","url":"https://flows.autoclinicas.com/webhook-test/0986","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{$json.body}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[832,2400],"id":"2c79ea29-ce2a-482b-9c84-6fa5fd9936cb","name":"HTTP Request"},{"parameters":{"operation":"get","propertyName":"FASE","key":"=iclp:chat:7020:fase","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1200,2336],"id":"18470ded-6a9e-41a0-b3a5-241b7ed7de0c","name":"Redis4","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e061c640-4e1a-495d-8514-3de58025e655","name":"output","value":"={{ $('EMPADRONAR_CITA').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4080,2288],"id":"cc8a4516-e8ec-4ef9-b932-001582eb24bf","name":"response_false"},{"parameters":{"assignments":{"assignments":[{"id":"e3a91ba8-82f5-4053-a250-26ae481f0680","name":"cleanedOutput","value":"={{ $json.cleanedOutput }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4080,2112],"id":"dbc36edf-1c02-4241-8a9a-9aa35d54f65a","name":"response_true"},{"parameters":{"jsCode":"// Obtiene todos los items que llegan al nodo\nconst items = $input.all();\n\n// Itera sobre cada item (aunque usualmente será solo uno)\nfor (const item of items) {\n  // 1. Obtiene la salida completa del agente (ej: \"Mensaje | exitoso\")\n  const agentOutput = item.json.output;\n\n  // 2. Verifica que la salida no esté vacía antes de procesar\n  if (agentOutput && typeof agentOutput === 'string') {\n    // 3. Divide el texto por el carácter '|' y toma la primera parte [0]\n    //    .trim() elimina espacios en blanco al principio y al final.\n    const cleanedMessage = agentOutput.split('|')[0].trim();\n    \n    // 4. Crea un nuevo campo en el JSON con el mensaje limpio\n    item.json.cleanedOutput = cleanedMessage;\n  } else {\n    // Si no hay salida o no es un texto, deja el campo vacío o usa el original\n    item.json.cleanedOutput = agentOutput;\n  }\n}\n\n// Devuelve el item modificado, ahora con el nuevo campo 'cleanedOutput'\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3856,2176],"id":"0be77751-85fb-4668-a81d-2e058fcce121","name":"formatea_output"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2c5f8506-5a2e-4511-a196-837d4f575060","leftValue":"={{ $json.output.split('|')[1].trim() }}","rightValue":"exitoso","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3680,2688],"id":"419c637e-dc5f-4bf6-a787-55b0cd0ec0ad","name":"If2"},{"parameters":{"operation":"set","key":"=iclp:chat:{{ $('Edit Fields').item.json.sessionId }}:fase","value":"CONFIRMAR"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3888,2768],"id":"2aeb5972-4211-4f8d-a3d4-f6ecfddc7b25","name":"Redis5","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e061c640-4e1a-495d-8514-3de58025e655","name":"output","value":"={{ $('CONSULTAR DISPONIBLIDAD').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4112,2704],"id":"171c17a9-1f32-4221-be10-8e3b6ac9280a","name":"response_false1"},{"parameters":{"jsCode":"// Obtiene todos los items que llegan al nodo\nconst items = $input.all();\n\n// Itera sobre cada item (aunque usualmente será solo uno)\nfor (const item of items) {\n  // 1. Obtiene la salida completa del agente (ej: \"Mensaje | exitoso\")\n  const agentOutput = item.json.output;\n\n  // 2. Verifica que la salida no esté vacía antes de procesar\n  if (agentOutput && typeof agentOutput === 'string') {\n    // 3. Divide el texto por el carácter '|' y toma la primera parte [0]\n    //    .trim() elimina espacios en blanco al principio y al final.\n    const cleanedMessage = agentOutput.split('|')[0].trim();\n    \n    // 4. Crea un nuevo campo en el JSON con el mensaje limpio\n    item.json.cleanedOutput = cleanedMessage;\n  } else {\n    // Si no hay salida o no es un texto, deja el campo vacío o usa el original\n    item.json.cleanedOutput = agentOutput;\n  }\n}\n\n// Devuelve el item modificado, ahora con el nuevo campo 'cleanedOutput'\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3888,2592],"id":"00f9b75c-739f-4b6f-93df-93d69469be52","name":"formatea_output1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2c5f8506-5a2e-4511-a196-837d4f575060","leftValue":"={{ $json.output.split('|')[1].trim() }}","rightValue":"exitoso","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3728,3120],"id":"1f0b203f-6ec1-4557-a08b-45bf3faee6d8","name":"If3"},{"parameters":{"operation":"set","key":"=iclp:chat:{{ $('Edit Fields').item.json.sessionId }}:fase","value":"CANCELAR"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3936,3200],"id":"f5349a82-5932-4d94-8eff-c2f766998ff7","name":"Redis6","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e061c640-4e1a-495d-8514-3de58025e655","name":"output","value":"={{ $('CANCELAR_CITA').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4160,3136],"id":"f25c97ee-e4cf-4cb1-bbf7-d978b926e620","name":"response_false2"},{"parameters":{"jsCode":"// Obtiene todos los items que llegan al nodo\nconst items = $input.all();\n\n// Itera sobre cada item (aunque usualmente será solo uno)\nfor (const item of items) {\n  // 1. Obtiene la salida completa del agente (ej: \"Mensaje | exitoso\")\n  const agentOutput = item.json.output;\n\n  // 2. Verifica que la salida no esté vacía antes de procesar\n  if (agentOutput && typeof agentOutput === 'string') {\n    // 3. Divide el texto por el carácter '|' y toma la primera parte [0]\n    //    .trim() elimina espacios en blanco al principio y al final.\n    const cleanedMessage = agentOutput.split('|')[0].trim();\n    \n    // 4. Crea un nuevo campo en el JSON con el mensaje limpio\n    item.json.cleanedOutput = cleanedMessage;\n  } else {\n    // Si no hay salida o no es un texto, deja el campo vacío o usa el original\n    item.json.cleanedOutput = agentOutput;\n  }\n}\n\n// Devuelve el item modificado, ahora con el nuevo campo 'cleanedOutput'\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3936,3024],"id":"fa79096c-8148-45db-91f7-db3fe6bd322a","name":"formatea_output2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2c5f8506-5a2e-4511-a196-837d4f575060","leftValue":"={{ $json.output.split('|')[1].trim() }}","rightValue":"exitoso","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3760,3568],"id":"ab665b04-8360-4250-ade1-89be120aae8f","name":"If4"},{"parameters":{"operation":"set","key":"=iclp:chat:{{ $('Edit Fields').item.json.sessionId }}:fase","value":"CANCELAR"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3968,3648],"id":"0d7d9009-9c04-4b1a-86ae-16c91ca7cb75","name":"Redis7","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"jsCode":"// Obtiene todos los items que llegan al nodo\nconst items = $input.all();\n\n// Itera sobre cada item (aunque usualmente será solo uno)\nfor (const item of items) {\n  // 1. Obtiene la salida completa del agente (ej: \"Mensaje | exitoso\")\n  const agentOutput = item.json.output;\n\n  // 2. Verifica que la salida no esté vacía antes de procesar\n  if (agentOutput && typeof agentOutput === 'string') {\n    // 3. Divide el texto por el carácter '|' y toma la primera parte [0]\n    //    .trim() elimina espacios en blanco al principio y al final.\n    const cleanedMessage = agentOutput.split('|')[0].trim();\n    \n    // 4. Crea un nuevo campo en el JSON con el mensaje limpio\n    item.json.cleanedOutput = cleanedMessage;\n  } else {\n    // Si no hay salida o no es un texto, deja el campo vacío o usa el original\n    item.json.cleanedOutput = agentOutput;\n  }\n}\n\n// Devuelve el item modificado, ahora con el nuevo campo 'cleanedOutput'\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3968,3472],"id":"3d40c2b3-203b-4da2-a57b-cad65fabc280","name":"formatea_output3"},{"parameters":{"assignments":{"assignments":[{"id":"e061c640-4e1a-495d-8514-3de58025e655","name":"output","value":"={{ $('CONFIRMAR CITA').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4208,3584],"id":"19effbc5-2c7b-433e-ab81-728760386e36","name":"response_false3"},{"parameters":{"promptType":"define","text":"=ANALIZA LA MEMORIA PARA TENER CONTEXTO: {{ $('variables').item.json.message }}","options":{"systemMessage":"=**Fecha actual:** {{ $now.format('DDDD') }} {{ $now.format('t') }}\n\n---\n\n## 🎯 MISIÓN PRINCIPAL\nTu única misión es ayudar al paciente a identificar y cancelar un turno activo de forma segura y verificada. Debes guiarlo para que seleccione un turno de una lista y solo confirmar la cancelación después de que la herramienta correspondiente te devuelva un resultado exitoso.\n\n---\n\n## 🚨 REGLAS INQUEBRABLES\n\n1.  **FORMATO DE SALIDA:** Tu regla más importante. TODA respuesta final que envíes al usuario DEBE terminar con ` | status`. Usa `exitoso` para cancelaciones confirmadas y `error` para cualquier otro caso.\n2.  **LISTAS NUMERADAS:** Para evitar errores, SIEMPRE que muestres los turnos del paciente, hazlo en una lista numerada y pedile que responda con el número de la opción.\n3.  **VERIFICACIÓN ABSOLUTA:** NUNCA confirmes una cancelación sin antes haber ejecutado la herramienta `eliminar_turno` y haber recibido la respuesta exacta `\"OK\"`. Tu credibilidad depende de esto.\n4.  **FOCO ÚNICO:** No ofrezcas agendar nuevos turnos ni respondas a otras consultas. Si el paciente lo pide, indícale amablemente que inicie una nueva conversación para esa gestión.\n5.  **HERRAMIENTA PRIMERO:** Siempre ejecuta `lista_turnos` ANTES de mostrarle cualquier opción al paciente. No asumas ni inventes turnos.\n\n---\n\n## ⚙️ FLUJO DE TRABAJO ESTRICTO\n\n### ### ETAPA 1: BÚSQUEDA DE TURNOS\n\n* **Análisis:** Revisa si ya conoces el DNI del paciente.\n    * **Si NO tienes el DNI:** Pídelo de forma directa.\n        * **Respuesta:** `\"Para poder buscar tus turnos y cancelarlos, necesito tu número de DNI, por favor. | error\"`\n        * **DETENTE AQUÍ.** Espera la respuesta.\n    * **Si SÍ tienes el DNI:**\n        * **Acción:** Ejecuta la herramienta `lista_turnos` con el DNI del paciente.\n        * **Análisis del Resultado:**\n            * Si la herramienta devuelve una lista con uno o más turnos, avanza a la **ETAPA 2**.\n            * Si la herramienta devuelve una lista vacía `[]` o un error:\n                * **Respuesta:** `\"No encontré turnos activos registrados con ese DNI. Si crees que se trata de un error, te recomiendo llamar al (0221) 490-6310. | error\"`\n                * **FIN DEL FLUJO.**\n\n---\n\n### ### ETAPA 2: SELECCIÓN DE TURNO A CANCELAR\n\n* **Análisis:** La herramienta `lista_turnos` te ha devuelto los turnos activos del paciente.\n* **Respuesta:** Muestra los turnos en una lista clara y numerada.\n    `\"Encontré estos turnos activos a tu nombre. Por favor, respondé con el número del turno que querés cancelar:\\n\\n1. 📅 08/10/2025 a las 09:45 con Dr. Ponce Vena Leonel\\n2. 📅 15/10/2025 a las 14:30 con Dra. Roldan Miriam\\n- [lista todos los demás]\\n\\n📋 Respondé solo con el número de la opción (ej: 1).\"`\n* **DETENTE AQUÍ.** Espera a que el usuario elija un número.\n\n---\n\n### ### ETAPA 3: EJECUCIÓN Y CONFIRMACIÓN FINAL\n\n* **Análisis:** El usuario ha respondido con un número. Identifica a qué turno corresponde en la lista que mostraste y extrae sus datos técnicos (`matricula`, `fecha` en `yyyyMMdd`, `hora` en `HHmm`).\n* **Acción:** Ejecuta la herramienta `eliminar_turno` con los datos del turno seleccionado.\n* **Respuesta (basada en el resultado de la herramienta):**\n    * **Si el resultado es `\"OK\"`:**\n        `\"✅ ¡Listo! Tu turno con el/la Dr./Dra. [Nombre Médico] del día [Fecha legible] a las [Hora legible] fue cancelado correctamente. ¿Necesitás algo más? | exitoso\"`\n    * **Si el resultado es `\"Turno inexistente\"` o `\"El turno ya fue cancelado\"`:**\n        `\"El turno que seleccionaste ya no se encuentra activo. Es posible que haya sido cancelado previamente. Si necesitás, podemos volver a revisar tus turnos activos. | error\"`\n    * **Si el resultado es `\"Problema\"` o cualquier otro error:**\n        `\"Hubo un problema técnico al intentar procesar la cancelación. Por favor, intentá nuevamente en unos minutos o llamá al (0221) 490-6310 para recibir asistencia. | error\"`\n\n---\n\n## 🛠️ CAJA DE HERRAMIENTAS (TOOLS)\n-   **`lista_turnos`**: Busca y devuelve todos los turnos activos de un paciente a partir de su DNI.\n-   **`eliminar_turno`**: Envía la solicitud para cancelar un turno específico. Devuelve el estado de la operación."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[2384,2864],"id":"a2431219-9553-493b-aafa-de05d42db85a","name":"CANCELAR CITA"},{"parameters":{"assignments":{"assignments":[{"id":"e3a91ba8-82f5-4053-a250-26ae481f0680","name":"cleanedOutput","value":"={{ $json.cleanedOutput }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4112,2544],"id":"2d3b89be-c34a-428b-b8a9-afd0347b9fa1","name":"response_true4"},{"parameters":{"assignments":{"assignments":[{"id":"e3a91ba8-82f5-4053-a250-26ae481f0680","name":"cleanedOutput","value":"={{ $json.cleanedOutput }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4160,2976],"id":"9eb8a5be-d9d6-486f-97dc-9f441562172e","name":"response_true1"},{"parameters":{"assignments":{"assignments":[{"id":"e3a91ba8-82f5-4053-a250-26ae481f0680","name":"cleanedOutput","value":"={{ $json.cleanedOutput }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4208,3424],"id":"97be0109-f287-4013-82b2-f6ae54a97711","name":"response_true2"}],"connections":{"Redis Chat Memory":{"ai_memory":[[{"node":"RECEPCIONISTA","type":"ai_memory","index":0},{"node":"CANCELAR CITA","type":"ai_memory","index":0},{"node":"CONSULTAR DISPONIBLIDAD","type":"ai_memory","index":0},{"node":"CONFIRMAR CITA","type":"ai_memory","index":0},{"node":"EMPADRONAR_CITA","type":"ai_memory","index":0}]]},"RECEPCIONISTA":{"main":[[{"node":"Redis2","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Switch":{"main":[[{"node":"RECEPCIONISTA","type":"main","index":0}],[{"node":"EMPADRONAR_CITA","type":"main","index":0}],[{"node":"CONSULTAR DISPONIBLIDAD","type":"main","index":0}],[{"node":"CANCELAR CITA","type":"main","index":0}],[{"node":"CONFIRMAR CITA","type":"main","index":0}]]},"eliminar_turno":{"ai_tool":[[{"node":"CANCELAR CITA","type":"ai_tool","index":0}]]},"lista_turnos":{"ai_tool":[[{"node":"CANCELAR CITA","type":"ai_tool","index":0}]]},"tomar_turno":{"ai_tool":[[{"node":"CONFIRMAR CITA","type":"ai_tool","index":0}]]},"horarios_medicos_disponibles":{"ai_tool":[[{"node":"CONSULTAR DISPONIBLIDAD","type":"ai_tool","index":0}]]},"horarios_especialidad_disponibles":{"ai_tool":[[{"node":"CONSULTAR DISPONIBLIDAD","type":"ai_tool","index":0}]]},"flujo_padron":{"ai_tool":[[{"node":"EMPADRONAR_CITA","type":"ai_tool","index":0}]]},"ESPECIALIDAD":{"ai_tool":[[{"node":"CONSULTAR DISPONIBLIDAD","type":"ai_tool","index":0},{"node":"RECEPCIONISTA","type":"ai_tool","index":0}]]},"MATRICULA_MEDICO":{"ai_tool":[[{"node":"RECEPCIONISTA","type":"ai_tool","index":0},{"node":"CANCELAR CITA","type":"ai_tool","index":0},{"node":"CONSULTAR DISPONIBLIDAD","type":"ai_tool","index":0}]]},"NOMBRE_MEDICO":{"ai_tool":[[{"node":"CONSULTAR DISPONIBLIDAD","type":"ai_tool","index":0},{"node":"RECEPCIONISTA","type":"ai_tool","index":0}]]},"DNI_PACIENTE":{"ai_tool":[[{"node":"RECEPCIONISTA","type":"ai_tool","index":0},{"node":"CANCELAR CITA","type":"ai_tool","index":0},{"node":"EMPADRONAR_CITA","type":"ai_tool","index":0}]]},"Redis2":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"NOMBRE_PACIENTE":{"ai_tool":[[{"node":"RECEPCIONISTA","type":"ai_tool","index":0}]]},"DISPONIBILIDAD":{"ai_tool":[[{"node":"RECEPCIONISTA","type":"ai_tool","index":0},{"node":"EMPADRONAR_CITA","type":"ai_tool","index":0}]]},"CONFIRMAR":{"ai_tool":[[{"node":"CONSULTAR DISPONIBLIDAD","type":"ai_tool","index":0}]]},"OBRA SOCIAL":{"ai_tool":[[{"node":"EMPADRONAR_CITA","type":"ai_tool","index":0},{"node":"RECEPCIONISTA","type":"ai_tool","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"RECEPCIONISTA","type":"ai_languageModel","index":0},{"node":"EMPADRONAR_CITA","type":"ai_languageModel","index":0},{"node":"CANCELAR CITA","type":"ai_languageModel","index":0},{"node":"CONFIRMAR CITA","type":"ai_languageModel","index":0},{"node":"CONSULTAR DISPONIBLIDAD","type":"ai_languageModel","index":0}]]},"FECHA_CONFIRMAR":{"ai_tool":[[{"node":"CONSULTAR DISPONIBLIDAD","type":"ai_tool","index":0},{"node":"CANCELAR CITA","type":"ai_tool","index":0},{"node":"RECEPCIONISTA","type":"ai_tool","index":0}]]},"HORA_CONFIRMAR":{"ai_tool":[[{"node":"CONSULTAR DISPONIBLIDAD","type":"ai_tool","index":0},{"node":"CANCELAR CITA","type":"ai_tool","index":0},{"node":"RECEPCIONISTA","type":"ai_tool","index":0}]]},"CANCELAR":{"ai_tool":[[{"node":"RECEPCIONISTA","type":"ai_tool","index":0}]]},"EMPADRONAR":{"ai_tool":[[{"node":"RECEPCIONISTA","type":"ai_tool","index":0}]]},"CONFIRMAR CITA":{"main":[[{"node":"Redis7","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"response","type":"main","index":0}],[{"node":"Redis","type":"main","index":0}],[{"node":"Redis","type":"main","index":0}],[{"node":"Redis","type":"main","index":0}],[{"node":"Redis","type":"main","index":0}],[]]},"EMPADRONAR_CITA":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"CONSULTAR DISPONIBLIDAD":{"main":[[{"node":"Redis5","type":"main","index":0}]]},"obtenerMedicos":{"ai_tool":[[{"node":"CONSULTAR DISPONIBLIDAD","type":"ai_tool","index":0},{"node":"RECEPCIONISTA","type":"ai_tool","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0}]]},"If":{"main":[[{"node":"formatea_output","type":"main","index":0}],[{"node":"response_false","type":"main","index":0}]]},"obtenerEspecialidades":{"ai_tool":[[{"node":"CONSULTAR DISPONIBLIDAD","type":"ai_tool","index":0}]]},"Redis1":{"main":[[{"node":"If","type":"main","index":0}]]},"MATRICULA_MEDICO1":{"ai_tool":[[]]},"Webhook":{"main":[[{"node":"variables","type":"main","index":0}]]},"response":{"main":[[{"node":"SendText","type":"main","index":0}]]},"variables":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"formatea_output":{"main":[[{"node":"response_true","type":"main","index":0}]]},"If2":{"main":[[{"node":"formatea_output1","type":"main","index":0}],[{"node":"response_false1","type":"main","index":0}]]},"Redis5":{"main":[[{"node":"If2","type":"main","index":0}]]},"formatea_output1":{"main":[[{"node":"response_true4","type":"main","index":0}]]},"If3":{"main":[[{"node":"formatea_output2","type":"main","index":0}],[{"node":"response_false2","type":"main","index":0}]]},"Redis6":{"main":[[{"node":"If3","type":"main","index":0}]]},"formatea_output2":{"main":[[{"node":"response_true1","type":"main","index":0}]]},"If4":{"main":[[{"node":"formatea_output3","type":"main","index":0}],[{"node":"response_false3","type":"main","index":0}]]},"Redis7":{"main":[[{"node":"If4","type":"main","index":0}]]},"formatea_output3":{"main":[[{"node":"response_true2","type":"main","index":0}]]},"response_true":{"main":[[]]},"response_false":{"main":[[]]},"response_false1":{"main":[[]]},"response_false2":{"main":[[]]},"response_false3":{"main":[[]]},"CANCELAR CITA":{"main":[[{"node":"If3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook1":[{"json":{"headers":{"host":"hooks.autoclinicas.com","user-agent":"rest-client/2.1.0 (linux-musl x86_64) ruby/3.4.4p34","content-length":"1905","accept":"application/json","accept-encoding":"gzip;q=1.0,deflate;q=0.6,identity;q=0.3","content-type":"application/json","x-forwarded-for":"206.81.1.93","x-forwarded-host":"hooks.autoclinicas.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f2c799d0c305","x-real-ip":"206.81.1.93"},"params":{},"query":{},"body":{"additional_attributes":{},"can_reply":true,"channel":"Channel::Api","contact_inbox":{"id":11579,"contact_id":5992,"inbox_id":14,"source_id":"3a8d5729-bc87-4b2a-8a20-624462a7eac3","created_at":"2025-10-04T19:51:02.374Z","updated_at":"2025-10-04T19:51:02.374Z","hmac_verified":false,"pubsub_token":"s2emiM5HzPtQG8Zvk4UnjSAm"},"id":7029,"inbox_id":14,"messages":[{"id":88943,"content":"Nicolas lopez 42028075 sancor","account_id":2,"inbox_id":14,"conversation_id":7029,"message_type":0,"created_at":1759607485,"updated_at":"2025-10-04T19:51:25.822Z","private":false,"status":"sent","source_id":"WAID:3B700CB5E780B1032E0B","content_type":"text","content_attributes":{},"sender_type":"Contact","sender_id":5992,"external_source_ids":{},"additional_attributes":{},"processed_message_content":"Nicolas lopez 42028075 sancor","sentiment":{},"conversation":{"assignee_id":null,"unread_count":2,"last_activity_at":1759607485,"contact_inbox":{"source_id":"3a8d5729-bc87-4b2a-8a20-624462a7eac3"}},"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":5992,"identifier":"5492213994411@s.whatsapp.net","name":"Nm","phone_number":"+5492213994411","thumbnail":"","blocked":false,"type":"contact"}}],"labels":[],"meta":{"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":5992,"identifier":"5492213994411@s.whatsapp.net","name":"Nm","phone_number":"+5492213994411","thumbnail":"","blocked":false,"type":"contact"},"assignee":null,"team":null,"hmac_verified":false},"status":"open","custom_attributes":{},"snoozed_until":null,"unread_count":2,"first_reply_created_at":null,"priority":null,"waiting_since":1759607462,"agent_last_seen_at":0,"contact_last_seen_at":0,"last_activity_at":1759607485,"timestamp":1759607485,"created_at":1759607462,"updated_at":1759607485.825669,"applied_sla":null,"sla_events":[],"sla_policy_id":null,"event":"automation_event.message_created"},"webhookUrl":"https://hooks.autoclinicas.com/webhook/7684a347-c0eb-4040-8d15-16202dc265e7","executionMode":"production"}}],"Webhook":[{"json":{"headers":{"host":"flows.autoclinicas.com","user-agent":"axios/1.8.3","content-length":"1906","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"flows.autoclinicas.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f2c799d0c305","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"additional_attributes":{},"can_reply":true,"channel":"Channel::Api","contact_inbox":{"id":11579,"contact_id":5992,"inbox_id":14,"source_id":"3a8d5729-bc87-4b2a-8a20-624462a7eac3","created_at":"2025-10-04T19:51:02.374Z","updated_at":"2025-10-04T19:51:02.374Z","hmac_verified":false,"pubsub_token":"s2emiM5HzPtQG8Zvk4UnjSAm"},"id":7029,"inbox_id":14,"messages":[{"id":88944,"content":"Nicolas lopez 42028075 sancor","account_id":2,"inbox_id":14,"conversation_id":7029,"message_type":0,"created_at":1759607564,"updated_at":"2025-10-04T19:52:44.024Z","private":false,"status":"sent","source_id":"WAID:3B302031F78E0E75EC26","content_type":"text","content_attributes":{},"sender_type":"Contact","sender_id":5992,"external_source_ids":{},"additional_attributes":{},"processed_message_content":"Nicolas lopez 42028075 sancor","sentiment":{},"conversation":{"assignee_id":null,"unread_count":3,"last_activity_at":1759607564,"contact_inbox":{"source_id":"3a8d5729-bc87-4b2a-8a20-624462a7eac3"}},"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":5992,"identifier":"5492213994411@s.whatsapp.net","name":"Nm","phone_number":"+5492213994411","thumbnail":"","blocked":false,"type":"contact"}}],"labels":[],"meta":{"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":5992,"identifier":"5492213994411@s.whatsapp.net","name":"Nm","phone_number":"+5492213994411","thumbnail":"","blocked":false,"type":"contact"},"assignee":null,"team":null,"hmac_verified":false},"status":"open","custom_attributes":{},"snoozed_until":null,"unread_count":3,"first_reply_created_at":null,"priority":null,"waiting_since":1759607462,"agent_last_seen_at":0,"contact_last_seen_at":0,"last_activity_at":1759607564,"timestamp":1759607564,"created_at":1759607462,"updated_at":1759607564.0297952,"applied_sla":null,"sla_events":[],"sla_policy_id":null,"event":"automation_event.message_created"},"webhookUrl":"https://hooks.autoclinicas.com/webhook-test/0986","executionMode":"test"}}]},"versionId":"99d9eab5-1580-40eb-a7ab-55036098422c","triggerCount":2,"shared":[{"createdAt":"2025-09-27T17:54:11.752Z","updatedAt":"2025-09-27T17:54:11.752Z","role":"workflow:owner","workflowId":"kk705kt5AIaWLfjK","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}