my-workflow-5-DSTzzi1fLAf8TivJ.json
{"createdAt":"2025-08-18T02:49:47.888Z","updatedAt":"2025-08-18T03:05:00.280Z","id":"DSTzzi1fLAf8TivJ","name":"My workflow 5","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-200,20],"id":"eb28d7b5-acf3-4914-93cf-3a6dd830839c","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"24741f09-dd98-4a8d-a7a2-7fb32279aac1","name":"url_chatwoot","value":"https://chatw.automatizaciones.ai/","type":"string"},{"id":"c796ec74-8b65-4543-88d2-4b2957e15729","name":"account_id","value":"2","type":"string"},{"id":"6a6b1f81-034a-4911-9300-62aa259b4555","name":"inbox_id","value":"1","type":"string"},{"id":"1080a846-bda0-4715-8e1b-a6816731ee99","name":"token_chatwoot","value":"JFi43nzvEPDBCaxaFrkhVvdM","type":"string"},{"id":"filtro_tiempo","name":"filtro_tiempo","value":"={{ DateTime.now().minus({ hours: 4 }).toFormat('yyyy-MM-dd') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,0],"id":"11c36763-5922-4743-ac1b-3659991ced82","name":"Configuracion"},{"parameters":{"url":"={{ $json.url_chatwoot }}api/v1/accounts/{{ $json.account_id }}/conversations","sendQuery":true,"queryParameters":{"parameters":[{"name":"inbox_id","value":"={{ $json.inbox_id }}"},{"name":"created_after","value":"={{ $json.filtro_tiempo }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $json.token_chatwoot }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,0],"id":"8d443422-deb3-43a1-b06a-f169ca52c1aa","name":"Obtener_Conversaciones_Resueltas"},{"parameters":{"fieldToSplitOut":"data.payload","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[660,0],"id":"3fc934b7-3704-4dee-ae82-4a9c57e747f2","name":"Split_Conversaciones"},{"parameters":{"url":"={{ $('Configuracion').item.json.url_chatwoot }}api/v1/accounts/{{ $('Configuracion').item.json.account_id }}/conversations/{{ $json.id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Configuracion').item.json.token_chatwoot }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,0],"id":"38811435-9e81-4523-bea2-86da16a3e470","name":"Obtener_Mensajes"},{"parameters":{"fieldToSplitOut":"payload","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1100,0],"id":"ef251a1c-fdc6-4521-8101-bdd4a195b34a","name":"Split_Mensajes"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"filtro_paciente","leftValue":"={{ $json.message_type }}","rightValue":0,"operator":{"type":"number","operation":"equals"}},{"id":"filtro_contenido","leftValue":"={{ $json.content }}","rightValue":"","operator":{"type":"string","operation":"isNotEmpty"}},{"id":"filtro_longitud","leftValue":"={{ $json.content ? $json.content.length : 0 }}","rightValue":10,"operator":{"type":"number","operation":"gt"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[1320,0],"id":"85eb7eff-456c-435b-a855-90565a46b850","name":"Filtrar_Mensajes_Validos"},{"parameters":{"promptType":"define","text":"=Analiza el siguiente mensaje de un paciente del Instituto de Cardiología La Plata (ICLP):\n\nMensaje: {{ $json.content }}\nFecha: {{ DateTime.fromMillis($json.created_at * 1000).toFormat('dd/MM/yyyy HH:mm') }}\n\nExtrae y categoriza la información valiosa para crear conocimiento útil que ayude a futuros pacientes.","options":{"systemMessage":"Eres un especialista en análisis de conversaciones médicas del Instituto de Cardiología La Plata (ICLP). Tu tarea es extraer conocimiento valioso de los mensajes de pacientes para crear una base de datos inteligente.\n\n## CRITERIOS DE ANÁLISIS:\n\n### 1. CATEGORÍAS DE INFORMACIÓN VALIOSA:\n- **Preguntas Frecuentes**: Consultas comunes sobre turnos, horarios, ubicación, estudios\n- **Casos Médicos Educativos**: Situaciones que pueden ayudar a otros pacientes\n- **Procedimientos**: Información sobre estudios, preparación, resultados\n- **Problemas Técnicos**: Dificultades con sistemas, turnos online, etc.\n- **Feedback Valioso**: Comentarios constructivos sobre servicios\n- **Obra Social**: Consultas sobre cobertura, autorizaciones, trámites\n\n### 2. INFORMACIÓN A EXTRAER:\n- **Categoría Principal**: Una de las categorías mencionadas\n- **Subcategoría**: Detalle específico del tema\n- **Pregunta/Problema**: Reformulación clara de la consulta del paciente\n- **Contexto Médico**: Si aplica, especialidad o tipo de estudio mencionado\n- **Urgencia**: Si es urgente, rutinario o informativo\n- **Keywords**: Palabras clave para búsqueda\n\n### 3. CRITERIOS DE CALIDAD:\n- ¿Es una consulta que otros pacientes podrían tener?\n- ¿Aporta información útil sobre procesos del instituto?\n- ¿Contiene datos específicos sobre especialidades o estudios?\n- ¿Ayudaría a mejorar la atención futura?\n\n### 4. FORMATO DE RESPUESTA:\nResponde en JSON con esta estructura:\n```json\n{\n  \"es_valioso\": true/false,\n  \"categoria_principal\": \"string\",\n  \"subcategoria\": \"string\",\n  \"pregunta_reformulada\": \"string\",\n  \"contexto_medico\": \"string\",\n  \"urgencia\": \"urgente/rutinario/informativo\",\n  \"keywords\": [\"array\", \"de\", \"strings\"],\n  \"resumen\": \"string con resumen de 1-2 líneas\",\n  \"valor_educativo\": \"string explicando por qué es valioso\"\n}\n```\n\n### 5. EXCLUSIONES:\n- Mensajes demasiado cortos o genéricos\n- Saludos simples sin contenido\n- Información personal sensible\n- Datos médicos específicos de pacientes","maxIterations":1}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1540,0],"id":"d51a8e63-043c-441a-8299-26d4a867dc23","name":"Analisis_IA_Contenido"},{"parameters":{"jsCode":"// Procesar la respuesta del análisis de IA\nconst aiResponse = $json.output;\n\n// Intentar parsear el JSON si viene como string\nlet analysis;\ntry {\n  analysis = typeof aiResponse === 'string' ? JSON.parse(aiResponse) : aiResponse;\n} catch (error) {\n  // Si no se puede parsear, marcar como no válido\n  return [{\n    json: {\n      es_valioso: false,\n      error: 'No se pudo parsear la respuesta de IA',\n      mensaje_original: $json\n    }\n  }];\n}\n\n// Validar que tenga la estructura esperada\nif (!analysis || typeof analysis.es_valioso !== 'boolean') {\n  return [{\n    json: {\n      es_valioso: false,\n      error: 'Estructura de respuesta inválida',\n      mensaje_original: $json\n    }\n  }];\n}\n\n// Si no es valioso, descartar\nif (!analysis.es_valioso) {\n  return [];\n}\n\n// Agregar metadata adicional\nconst resultado = {\n  ...analysis,\n  id_mensaje: $json.id,\n  conversation_id: $json.conversation_id,\n  contenido_original: $json.content,\n  fecha_creacion: new Date($json.created_at * 1000).toISOString(),\n  procesado_en: new Date().toISOString(),\n  fuente: 'chatwoot_iclp'\n};\n\nreturn [{ json: resultado }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1916,0],"id":"a775ecfd-3eef-40ba-939f-2cf3f79f7335","name":"Procesar_Analisis"},{"parameters":{"method":"POST","url":"{{ $('Configuracion').item.json.nocodb_url || 'http://localhost:8080' }}/api/v1/db/data/noco/base_conocimiento_iclp/conocimiento","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"categoria_principal\": \"{{ $json.categoria_principal }}\",\n  \"subcategoria\": \"{{ $json.subcategoria }}\",\n  \"pregunta_reformulada\": \"{{ $json.pregunta_reformulada }}\",\n  \"contexto_medico\": \"{{ $json.contexto_medico }}\",\n  \"urgencia\": \"{{ $json.urgencia }}\",\n  \"keywords\": \"{{ $json.keywords.join(', ') }}\",\n  \"resumen\": \"{{ $json.resumen }}\",\n  \"valor_educativo\": \"{{ $json.valor_educativo }}\",\n  \"contenido_original\": \"{{ $json.contenido_original }}\",\n  \"fecha_original\": \"{{ $json.fecha_creacion }}\",\n  \"id_mensaje_origen\": {{ $json.id_mensaje }},\n  \"conversation_id\": {{ $json.conversation_id }},\n  \"procesado_en\": \"{{ $json.procesado_en }}\",\n  \"fuente\": \"{{ $json.fuente }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2140,0],"id":"6f348afb-9b9b-4560-9006-e7f2159d9d43","name":"Guardar_en_NocoDB"},{"parameters":{"assignments":{"assignments":[{"id":"resumen_stats","name":"total_procesados","value":"={{ $runIndex + 1 }}","type":"number"},{"id":"timestamp","name":"timestamp_proceso","value":"={{ DateTime.now().toISO() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2356,0],"id":"a63000c2-43c6-4f89-9931-4fd61b29e963","name":"Estadisticas_Proceso"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2576,0],"id":"172a09c4-a35c-453d-96cd-6071c5a473fa","name":"Resumen_Final"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1400,300],"id":"dace56ec-9063-4062-9977-aec36344fc98","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"ZlcbniUoDvrFqCIJ","name":"OpenRouter ICLP"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"1"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1640,220],"id":"39133215-a56f-4069-a5c2-e74635633417","name":"Simple Memory"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Configuracion","type":"main","index":0}]]},"Configuracion":{"main":[[{"node":"Obtener_Conversaciones_Resueltas","type":"main","index":0}]]},"Obtener_Conversaciones_Resueltas":{"main":[[{"node":"Split_Conversaciones","type":"main","index":0}]]},"Split_Conversaciones":{"main":[[{"node":"Obtener_Mensajes","type":"main","index":0}]]},"Obtener_Mensajes":{"main":[[{"node":"Split_Mensajes","type":"main","index":0}]]},"Split_Mensajes":{"main":[[{"node":"Filtrar_Mensajes_Validos","type":"main","index":0}]]},"Filtrar_Mensajes_Validos":{"main":[[{"node":"Analisis_IA_Contenido","type":"main","index":0}]]},"Analisis_IA_Contenido":{"main":[[{"node":"Procesar_Analisis","type":"main","index":0}]]},"Procesar_Analisis":{"main":[[{"node":"Guardar_en_NocoDB","type":"main","index":0}]]},"Guardar_en_NocoDB":{"main":[[{"node":"Estadisticas_Proceso","type":"main","index":0}]]},"Estadisticas_Proceso":{"main":[[{"node":"Resumen_Final","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Analisis_IA_Contenido","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Analisis_IA_Contenido","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7acafb15-6bf6-4ad5-8af9-ce0270b12383","triggerCount":0,"shared":[{"createdAt":"2025-08-18T02:49:47.888Z","updatedAt":"2025-08-18T02:49:47.888Z","role":"workflow:owner","workflowId":"DSTzzi1fLAf8TivJ","projectId":"R66ikVn5xqf0nYcA"}],"tags":[{"createdAt":"2025-08-18T03:04:25.662Z","updatedAt":"2025-08-18T03:04:25.662Z","id":"rurWHYYJdb8EENlI","name":"Query_Service"},{"createdAt":"2025-08-18T02:48:47.895Z","updatedAt":"2025-08-18T02:48:47.895Z","id":"Bcq3thmgX31SA9Si","name":"Knowledge_Base"},{"createdAt":"2025-08-18T02:48:47.899Z","updatedAt":"2025-08-18T02:48:47.899Z","id":"023ddztR446FcxEE","name":"RAG"},{"createdAt":"2025-08-12T02:10:29.356Z","updatedAt":"2025-08-12T02:10:29.356Z","id":"OsMujd4oglQ3g7SY","name":"ICLP"}]}