my-workflow-2bA5VmmNHq0bNWJQ.json
{"createdAt":"2025-06-24T00:53:47.571Z","updatedAt":"2025-06-25T20:02:00.228Z","id":"2bA5VmmNHq0bNWJQ","name":"My workflow","active":false,"isArchived":true,"nodes":[{"parameters":{"public":true,"mode":"webhook","authentication":"basicAuth","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-80,0],"id":"cd732706-1e7b-4a4e-a6e7-e89b8e1e9c2e","name":"When chat message received","webhookId":"48742e7d-7572-4d05-9ba3-844c5dc5f524","credentials":{"httpBasicAuth":{"id":"faajLolZplwpMIwe","name":"Unnamed credential"}}},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.query }}","hasOutputParser":true,"options":{"systemMessage":"Sos un agente conversacional hecho para gestionar turnos medicos"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[660,0],"id":"e64d768a-5c00-46ed-8f64-dbf327a32d3b","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[688,220],"id":"5213e555-4eb8-4f30-ba4c-b5dafe63dc8d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[808,220],"id":"5939da83-2055-433a-b878-665fd7acb9b9","name":"Simple Memory"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3e7f77ef-744b-44ce-a23f-c0570882ed7b","leftValue":"={{ $json.inputs.remoteJid }}","rightValue":"5492213994411@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[260,0],"id":"5943212b-76f6-46f2-b2ca-e9091621b13f","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[360,200],"id":"b721fd83-67bc-4120-8115-f56fdd69f0fc","name":"No Operation, do nothing"}],"connections":{"When chat message received":{"main":[[{"node":"If","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"If":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3c5d408d-4339-48bc-90ec-f73472356f46","triggerCount":1,"shared":[{"createdAt":"2025-06-24T00:53:47.571Z","updatedAt":"2025-06-24T00:53:47.571Z","role":"workflow:owner","workflowId":"2bA5VmmNHq0bNWJQ","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}