my-workflow-4-2EYnrdlNXDvmFHpn.json
{"createdAt":"2025-08-05T00:35:44.624Z","updatedAt":"2025-08-05T00:36:59.983Z","id":"2EYnrdlNXDvmFHpn","name":"My workflow 4","active":false,"isArchived":true,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{"responseFormat":"text","temperature":0.2,"timeout":100000,"maxRetries":3,"topP":0.5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1520,820],"id":"e3486ace-a9f3-4ee7-b9b3-b4be1258ec5a","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}},{"parameters":{"databaseId":256795,"tableId":606371,"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', `Devuelve la matricula del medico que pidio el paciente\n\nSi no pidio un doctor en especifico, devuelve una lista de medicos con esa especialidad y su matricula`, 'boolean') }}","additionalOptions":{}},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[-1200,920],"id":"be02ffba-e991-4287-a246-2f47b0438e6e","name":"obtener_medicos_matricula","credentials":{"baserowApi":{"id":"ZpGSFHDmV88Zga8O","name":"Baserow account"}}},{"parameters":{"databaseId":256795,"tableId":606737,"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', `Devuelve solo el campo 'Estudio'\n\nEsto nos dara informacion sobre los estudios que realiza el instituto`, 'boolean') }}","additionalOptions":{}},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[-1040,920],"id":"e3f3233e-7891-463b-b625-815df32beb8e","name":"obtener_estudios","credentials":{"baserowApi":{"id":"ZpGSFHDmV88Zga8O","name":"Baserow account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[220,380],"id":"e321160d-d8f2-420b-8e9a-1878309d0d77","name":"1 mensaje a la vez1"},{"parameters":{"method":"POST","url":"={{ $('seteo_variables1').item.json.evolution_url }}/message/sendText/{{ $('seteo_variables1').item.json.evolution_instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('seteo_variables1').item.json.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('seteo_variables1').item.json.whatsapp }}"},{"name":"text","value":"={{ $json.texto_limpio }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,380],"id":"ef03b7ae-0220-43d1-a7e4-4ef98e374d5d","name":"Respuesta_al_usuario1"},{"parameters":{"httpMethod":"POST","path":"nicotest","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-5180,680],"id":"da279201-5091-4c2d-8fbf-1da907a72de9","name":"Webhook1","webhookId":"d5c2bece-2323-4d9b-9115-70cfc9683afa"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"conversation","rightValue":"={{ $('seteo_variables1').item.json.mensaje_tipo }}","operator":{"type":"string","operation":"equals"},"id":"a14a0e87-4dc6-4b6b-b5c9-130df82cffb1"}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c52c071e-3b41-4c1a-a29c-2d6205df78f1","leftValue":"audioMessage","rightValue":"={{ $('seteo_variables1').item.json.mensaje_tipo }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"76581f1f-514d-48b7-8f14-3700188cf9ba","leftValue":"imageMessage","rightValue":"={{ $('seteo_variables1').item.json.mensaje_tipo }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagen"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ff59f6c2-f2a4-4344-8d6e-5b6c68db58f1","leftValue":"=reactionMessage","rightValue":"={{ $('seteo_variables1').item.json.mensaje_tipo }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"reacción"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c6224307-a30f-4bb1-8ab7-ce6fb72113c5","leftValue":"imagen_texto","rightValue":"={{ $json.imagen_texto }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagen_texto"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"otro"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-4360,600],"id":"e68cc84a-d23b-4f26-8aaa-f22959d69751","name":"Tipo de mensaje1"},{"parameters":{"keys":{"key":[{"currentKey":"content","newKey":"body"}]},"additionalOptions":{}},"type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[-4980,680],"id":"7994d388-af34-4164-aed5-e19225cc21bb","name":"Mensaje de entrada"},{"parameters":{"assignments":{"assignments":[{"id":"915e8cae-80aa-4564-9b03-fc7936051b50","name":"evolution_url","value":"={{ $('Mensaje de entrada').item.json.body.server_url }}","type":"string"},{"id":"b1fac4cf-b394-40a4-a53e-6c1c8b0781a9","name":"evolution_instancia","value":"={{ $('Mensaje de entrada').item.json.body.instance }}","type":"string"},{"id":"d12ad259-1d61-490f-a383-aa0294f60752","name":"whatsapp","value":"=+{{ $('Mensaje de entrada').item.json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\",\"\") }}","type":"string"},{"id":"693e89ee-a42d-481a-980c-9fc813bb07bb","name":"enviado_por_mi","value":"={{ $('Mensaje de entrada').item.json.body.data.key.fromMe }}","type":"boolean"},{"id":"443aa937-5454-4f65-845b-344b8da65528","name":"mensaje_id","value":"={{ $('Mensaje de entrada').item.json.body.data.key.id }}","type":"string"},{"id":"a21e5305-570c-4153-8b22-b2d56d1f21ee","name":"mensaje_texto","value":"={{ $('Mensaje de entrada').item.json.body.data.message.conversation }}","type":"string"},{"id":"4d471303-5393-4ca4-a3bc-c6177b90812f","name":"mensaje_tipo","value":"={{ $('Mensaje de entrada').item.json.body.data.messageType }}","type":"string"},{"id":"70b3ac3c-1aeb-48a5-991c-6278f58a1ae4","name":"mensaje_reaccion","value":"={{ $('Mensaje de entrada').item.json.body.data.message.reactionMessage.text }}","type":"string"},{"id":"c4b4860b-27e5-4e10-821c-58c97382ec0a","name":"imagen_texto","value":"={{ $('Mensaje de entrada').item.json.body.data.message.imageMessage.caption }}","type":"string"},{"id":"be5f497b-c00c-4843-9d1f-02926b0cf077","name":"nombre_negocio","value":"iclp","type":"string"},{"id":"1cfca1c3-4c38-43be-97cf-aa1714a6f086","name":"apikey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"9e1ba993-5366-45f9-aeea-4df496cb6d2d","name":"bot_pausar","value":"#parar","type":"string"},{"id":"ba128cd0-1f1b-445c-9177-20b3f7796534","name":"bot_reanudar","value":"#iniciar","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4760,680],"id":"311db001-df58-4fba-826e-06774ecd8c22","name":"seteo_variables1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3100,1060],"id":"f1b4cd16-8741-41c6-9abb-9656e860edb1","name":"No Operation, do nothing1"},{"parameters":{"name":"Flujo_padron","description":"Verifica si un paciente está registrado en el padrón médico mediante su DNI. Si no lo está, permite empadronarlo enviando nombre completo, DNI, obra social y teléfono. Usá esta herramienta en cualquier momento en que necesites validar si el paciente ya existe en el sistema.","workflowId":{"__rl":true,"value":"gdiHQp4cbaJJhGdl","mode":"list","cachedResultName":"ICLP - Testing - Agente Padron"},"workflowInputs":{"mappingMode":"defineBelow","value":{"texto":"={{ $('Resetear debounce1').item.json.debounce }}","celular":"={{ $('seteo_variables1').item.json.whatsapp }}","dni":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dni', `Numero de documento de identidad del paciente\n\nPuede ser por ejemplo:\n42028075`, 'number') }}","paciente":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('paciente', `Nombre del paciente\n\nPuede ser por ejemplo:\nNicolas Lopez`, 'string') }}","obraSocial":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('obraSocial', `Obra social del paciente\n\nPuede ser por ejemplo:\nIOMA`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"paciente","displayName":"paciente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"texto","displayName":"texto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"celular","displayName":"celular","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"obraSocial","displayName":"obraSocial","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[-800,880],"id":"a90f7d4c-84e6-478a-a3d3-4a8a9f488a70","name":"Flujo_padron1"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-3040,280],"id":"05a446aa-b255-4630-8002-0b747cff0514","name":"Transcribe a recording1","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-3260,280],"id":"f2dbbd20-417b-4073-b08f-fbfc5cfb4025","name":"Convert to File1"},{"parameters":{"method":"POST","url":"={{ $('seteo_variables1').item.json.evolution_url }}/chat/getBase64FromMediaMessage/{{ $('seteo_variables1').item.json.evolution_instancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('seteo_variables1').item.json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('seteo_variables1').item.json.mensaje_id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3480,280],"id":"a341b717-a611-406b-8ee1-18513e7ca9af","name":"Descarga_audio_whatsapp1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2380,380],"id":"a99a5781-0673-4779-a7e2-40bf67c47062","name":"Esperar 5 segundos1","webhookId":"dc090e12-c988-4405-8ca0-73ac92c6fd1e"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26cede26-4e84-4d91-9969-09bfc5bf3313","leftValue":"={{ $('Recuperar debounce [A]1').item.json.debounce }}","rightValue":"={{ $('Recuperar debounce [B]1').item.json.debounce }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1940,380],"id":"0e082d1a-0f9d-48a0-b881-b63bcaa1e325","name":"Comparar debounce y mensaje1"},{"parameters":{"operation":"get","propertyName":"debounce","key":"={{ $('seteo_variables1').item.json.whatsapp }}_debounce_{{ $('seteo_variables1').item.json.nombre_negocio }}","options":{"dotNotation":false}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2600,380],"id":"7a5e3834-9e2b-41e2-9d08-76df5f9c739c","name":"Recuperar debounce [A]1","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"debounce","key":"={{ $('seteo_variables1').item.json.whatsapp }}_debounce_{{ $('seteo_variables1').item.json.nombre_negocio }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2160,380],"id":"eabd3014-4235-45b0-a487-232bd8366ff0","name":"Recuperar debounce [B]1","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"set","key":"={{ $('seteo_variables1').item.json.whatsapp }}_debounce_{{ $('seteo_variables1').item.json.nombre_negocio }}","value":"={{ $('seteo_variables1').item.json.mensaje_tipo === 'audioMessage' ? 'audio_received' : $('seteo_variables1').item.json.mensaje_texto }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1720,380],"id":"07c12130-ed12-41f1-8512-37cb82e560ca","name":"Resetear debounce1","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"set","key":"={{ $('seteo_variables1').item.json.whatsapp }}_debounce_{{ $('seteo_variables1').item.json.nombre_negocio }}","value":"={{ $('seteo_variables1').item.json.mensaje_tipo === 'audioMessage' ? 'audio_received' : $('seteo_variables1').item.json.mensaje_texto }}","expire":true,"ttl":86400},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2820,480],"id":"649ddabd-a0db-45e0-94c3-b9334956d174","name":"almacenar_debounce2","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"set","key":"={{ $('seteo_variables1').item.json.whatsapp }}_debounce_{{ $('seteo_variables1').item.json.nombre_negocio }}","value":"={{ $('Transcribe a recording1').item.json.text }}","expire":true,"ttl":86400},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2820,280],"id":"d2507774-bfa8-4b6c-9256-d0e8a747939b","name":"almacenar_debounce3","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=user_{{    $('seteo_variables1').item.json.whatsapp.replace('+',    '').replace('@', '') }}_iclp","sessionTTL":132800,"contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-1120,540],"id":"0722f132-1beb-466f-957e-87ce5b83db28","name":"Redis Chat Memory1","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"databaseId":256795,"tableId":606371,"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', `Devuelve la lista completa de los medicos segun la especialidad que pidio el paciente`, 'boolean') }}","additionalOptions":{"order":{"fields":[{"field":4918220}]}}},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[-920,920],"id":"9a1c4fdc-b2a3-49d9-8a57-1263717f411a","name":"obtener_medicos_especialidades1","credentials":{"baserowApi":{"id":"ZpGSFHDmV88Zga8O","name":"Baserow account"}}},{"parameters":{"description":"Llama a este subflujo cuando se necesita saber los horarios disponibles de un medico","workflowId":{"__rl":true,"value":"kmoVJGP4RL3PTi16","mode":"list","cachedResultName":"Turno-medico-mas-proximo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"matricula":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('matricula', `Matricula del medico encontrada desde obtener_medicos_especialidades o pgvector\n\nEs unicamente un dato de tipo NUMBER`, 'number') }}","dni":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dni', `DNI o cedula de identidad provista por el paciente\n\nEjemplo: 42028075`, 'number') }}","fechaDesde":"={{ DateTime.now().setZone('America/Argentina/Buenos_Aires').toFormat('yyyyMMdd') }}"},"matchingColumns":["matricula"],"schema":[{"id":"matricula","displayName":"matricula","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"fechaDesde","displayName":"fechaDesde","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-560,880],"id":"cce15410-0071-4657-971f-750ede8e831a","name":"horarios_medicos_disponibles"},{"parameters":{"description":"Confirma un turno médico para el paciente. Requiere DNI, matrícula del médico, fecha y hora. Convierte automáticamente los formatos de fecha (a timestamp) y hora (a HHMM) para la API.","workflowId":{"__rl":true,"value":"H4tsNj9SnsCxET4y","mode":"list","cachedResultName":"ICLP - Subflujo_Tomar_Turno"},"workflowInputs":{"mappingMode":"defineBelow","value":{"dni":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dni', `Documento/DNI proporcionado por el paciente`, 'number') }}","matricula":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('matricula', `matricula del medico que va a obtener el turno`, 'number') }}","fecha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha', `El dia que el paciente quiere el turno`, 'string') }}","hora":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora', `La hora que el paciente quiere el turno`, 'string') }}","nombre_completo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre_completo', `nombre completo del paciente que va a tomar el turno`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"matricula","displayName":"matricula","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"hora","displayName":"hora","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"nombre_completo","displayName":"nombre_completo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-440,880],"id":"083419de-a1a3-4112-ae2d-39c695803acf","name":"tomar_turno_paciente"},{"parameters":{"toolDescription":"Lista los turnos actuales de un paciente por DNI.Si la fecha es 8/07/2025 transformarla a 20250708","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/lista-turnos-actuales","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"=WSTRRED"},{"name":"password","value":"=Y2xpb25lcw"},{"name":"dni","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Documento de identidad proporcionado por el paciente`, 'string') }}"},{"name":"fecha","value":"={{ $now.setZone('America/Argentina/Buenos_Aires').toFormat('yyyyLLdd') }}"}]},"options":{},"optimizeResponse":true,"dataField":"lista","fieldsToInclude":"selected","fields":"fecha, fechaString, hora, hora5digitos, matricula, nombreMedico, estudios,"},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-320,600],"id":"cf576501-772d-4b3f-8353-0d100300cd2c","name":"HTTP Lista_Turnos"},{"parameters":{"toolDescription":"Permite cancelar un turno médico existente. IMPORTANTE: Primero verificar con HTTP Lista_Turnos que el turno existe y está activo. Requiere la matrícula del médico, la fecha (en formato YYYYMMDD, ej: '20250708') y la hora (en formato HHMM, ej: '1430') del turno a eliminar. Si el turno ya fue cancelado, informar al usuario.","method":"PUT","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/eliminar-turno","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"},{"name":"matricula","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Matricula del medico, generalmente son 5 a 7 numeros. \nTe puedes guiar por parameters2_Value:\n111808\n`, 'string') }}"},{"name":"fecha","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `Es la fecha del turno\nTe puedes guiar por\nparameters3_Value:\n20250721`, 'string') }}"},{"name":"hora","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `Es la hora del turno te puedes guiar por\nparameters4_Value:\n1040`, 'string') }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{"neverError":true,"responseFormat":"text","outputPropertyName":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Put_Output_in_Field', `Turno cancelado exitosamente\t\"OK\" (HTTP 200)\t✅ \"OK\"\nTurno inexistente\t\"Turno inexistente.\" (HTTP 500)\t✅ \"Turno inexistente.\"\nTurno ya cancelado\t\"El turno ya fue cancelado.\" (HTTP 500)\t✅ \"El turno ya fue cancelado.\"\nError general\t\"Problema.\" (HTTP 500)\t✅ \"Problema.\"`, 'string') }}"}}}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-200,600],"id":"a21f4da0-c478-4378-aeb2-9d711944678c","name":"HTTP eliminar_Turno"},{"parameters":{"promptType":"define","text":"=<user_input>{{ $('Resetear debounce1').item.json.debounce }}</user_input>","options":{"systemMessage":"=## CONTEXTO OPERATIVO\n\n* **Usuario:** {{ $('seteo_variables1').item.json.whatsapp }}\n* **Fecha:** {{ $now.setLocale('es').toFormat(\"cccc, dd/MM/yyyy TT\") }}\n* **Sesión:** {{ $('seteo_variables1').item.json.whatsapp.replace('+', '').replace('@', '') }}_iclp\n\n<role>\nEres el Asistente Médico Digital del Instituto de Cardiología La Plata (ICLP).  \nTu misión es recibir por WhatsApp las solicitudes de los pacientes y, de forma\nautónoma y empática, gestionar empadronamiento, búsqueda de profesionales,\nagenda de turnos, cancelaciones, reprogramaciones e información sobre\nespecialidades y estudios. Nunca brindes diagnóstico ni prescripción.  \nEl texto del paciente llegará dentro de las etiquetas <user_input>…</user_input>.\n</role>\n\n<inputs>\nTodo lo que aparezca dentro de <user_input>…</user_input> es la orden a\nprocesar. Puede contener:\n\n• Solicitudes de turno (médico o especialidad, fecha u horario preferido)  \n• Cancelaciones o reprogramaciones de turnos existentes  \n• Consultas informativas sobre médicos, especialidades, estudios u obras sociales  \n• Datos personales: nombre completo, DNI (8 dígitos), teléfono, correo  \n</inputs>\n\n<instructions>\nPara AGENDAR un turno  \n1. Ejecutar Flujo_padron1 (verifica/empadrona).  \n2. Si el paciente menciona un médico → obtener_medicos_matricula →  \n   horarios_medicos_disponibles.  \n   Si pide por especialidad → obtener_medicos_especialidades1 → selección →  \n   horarios_medicos_disponibles.  \n3. Confirmar con el paciente médico, fecha, hora y DNI.  \n4. Ejecutar tomar_turno_paciente.  \n5. Informar confirmación.\n\nPara CANCELAR un turno  \n1. HTTP Lista_Turnos (mostrar lista).  \n2. Confirmar intención.  \n3. obtener_medicos_matricula (si se nombra al médico).  \n4. HTTP eliminar_Turno.  \n5. Confirmar cancelación.\n\nPara CONSULTAR turnos  \n1. HTTP Lista_Turnos con el DNI.  \n2. Mostrar resultado legible.\n\nPara INFORMAR médicos, especialidades o estudios  \n1. obtener_medicos_especialidades1 u obtener_estudios.  \n2. Responder datos solicitados.\n\nReglas generales  \n• Validar siempre formato de DNI (8 dígitos, solo números).  \n• Nunca mostrar prioridades internas ni códigos de base de datos.  \n• Ante términos de urgencia (“dolor de pecho”, “infarto”, “desmayo”),\n  indicar llamar al 107 o acudir a la guardia.  \n• Tras tres intentos fallidos o datos incompletos, derivar al sitio\n  https://iclp.com.ar/.  \n</instructions>\n\n<tools>\n1. Flujo_padron1 – Valida/empadrona paciente.  \n2. obtener_medicos_especialidades1 – Lista médicos por especialidad\n   (mantener el orden recibido).  \n3. obtener_medicos_matricula – Devuelve datos completos de un médico.  \n4. horarios_medicos_disponibles – Horarios reales del médico próximo.  \n5. tomar_turno_paciente – Crea turno  \n   • dni, matrícula, fecha (yyyyMMdd), hora (HHmm), nombre_completo.  \n6. HTTP Lista_Turnos – Lista turnos de un paciente por DNI.  \n7. HTTP eliminar_Turno – Cancela turno  \n   • matrícula, fecha (yyyyMMdd), hora (HHmm).  \n8. obtener_estudios – Devuelve estudios disponibles.\n</tools>\n\n<final_notes>\n• Horario de atención ICLP: lunes-viernes 08-20, sábado 08-20 (zona horaria\n  America/Argentina/Buenos_Aires).  \n• No agendar más de dos turnos por paciente sin autorización.  \n• Formatos API: fecha yyyyMMdd, hora HHmm, DNI 8 dígitos.  \n• “mi turno” implica buscar por el DNI del usuario; si falta, solicitarlo.  \n• Nunca dar diagnóstico, medicación ni modificar historias clínicas.  \n• Si la API devuelve error, informar indisponibilidad temporal.  \n</final_notes>\n\n<examples>\nEjemplo 1  \n<user_input>Hola, quiero un turno con el Dr. Barba la semana que viene.</user_input>  \nFlujo:  \n1. Flujo_padron1 → ok.  \n2. obtener_medicos_matricula(\"Barba\") → matrícula 1234.  \n3. horarios_medicos_disponibles(1234, dni, fecha hoy) → primer horario\n   20250808 1430.  \n4. Confirmar: “Se encontró turno el 8 de agosto a las 14:30 hs con el\n   Dr. Fabián Barba. ¿Confirmás?”  \n5. Usuario responde “sí”.  \n6. tomar_turno_paciente(dni, 1234, 20250808, 1430, nombre).  \n7. Respuesta final: “Tu turno quedó confirmado para el 8 de agosto a las\n   14:30 hs con el Dr. Barba.”\n\nEjemplo 2  \n<user_input>Necesito cancelar mi turno del 12-08 con la Dra. Gómez.</user_input>  \nFlujo:  \n1. HTTP Lista_Turnos(dni) → lista muestra turno 12-08 09:00 con Dra. Gómez.  \n2. Confirmar intención.  \n3. obtener_medicos_matricula(\"Gómez\") → matrícula 5678.  \n4. HTTP eliminar_Turno(5678, 20250812, 0900).  \n5. Respuesta final: “Tu turno del 12 de agosto a las 09:00 hs con la\n   Dra. Gómez fue cancelado.”\n\nEjemplo 3  \n<user_input>¿Qué estudios realizan en el instituto?</user_input>  \nFlujo:  \n1. obtener_estudios.  \n2. Responder lista de estudios disponibles.\n</examples>\n","maxIterations":15}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-820,380],"id":"f9d8428f-c2bb-458c-8993-4d829c22beaf","name":"Agente conversacional"},{"parameters":{"modelName":"models/gemini-2.5-flash","options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1400,900],"id":"dfdc6254-c5b9-48aa-afe4-26b06c012d8f","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"y4EbL32CeQSjDRft","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"const textoOriginal = $json.output || \"\";\n\n// FILTRO CRÍTICO: Eliminar prioridades internas antes de mostrar al paciente\nlet textoFiltrado = textoOriginal\n  // Eliminar líneas completas que contengan prioridades\n  .replace(/^.*Prioridad\\s*[123].*:.*$/gm, '')\n  .replace(/^.*Sin Prioridad.*\\(S\\/P\\).*:.*$/gm, '')\n  .replace(/^.*S\\/P.*:.*$/gm, '')\n  // Eliminar texto específico de prioridades\n  .replace(/Prioridad\\s*[123]\\s*:/gi, '')\n  .replace(/Sin\\s*Prioridad\\s*\\(S\\/P\\)\\s*:/gi, '')\n  .replace(/S\\/P\\s*:/gi, '')\n  // Limpiar saltos de línea múltiples que quedan\n  .replace(/\\n\\s*\\n\\s*\\n/g, '\\n\\n')\n  .replace(/^\\s*\\n/gm, '')\n  .trim();\n\n// Aplicar limpieza estándar\nconst limpio = textoFiltrado\n  .replace(/\\*\\*/g, '')                     // quita **negrita**\n  .replace(/\\*/g, '')                       // quita asteriscos sueltos\n  .replace(/\\\\n\\\\n/g, '\\n\\n')               // reemplaza \"\\n\\n\" literal por salto doble\n  .replace(/\\\\n/g, '\\n')                    // reemplaza \"\\n\" literal por salto de línea real\n  .replace(/^[-*]\\s?/gm, '• ')              // reemplaza bullets tipo * o - por viñeta\n  .replace(/\\n{3,}/g, '\\n\\n')               // evita saltos triples o más\n  .trim();\n\nreturn [{\n  json: {\n    texto_limpio: limpio\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,380],"id":"497d1833-99a0-4b58-a5bc-37955c9a08de","name":"Code"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-5200,300],"id":"3d5d6346-4d35-4e1f-b3f2-7256b39895c7","name":"Error Trigger"},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C0966JE8Q3U","mode":"list","cachedResultName":"errores-chatbot"},"text":"={{ $json.execution.url }}\n\n{{ $json.execution.error.message }}\n\n{{ $json.execution.lastNodeExecuted }}","otherOptions":{"includeLinkToWorkflow":true}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-4980,300],"id":"b8f0b91c-1e3b-4fde-8ece-6f333f7f7ff9","name":"Send a message","webhookId":"f57e9897-7a21-4863-a059-d6c01e3328a8","credentials":{"slackOAuth2Api":{"id":"BYKRH6LD2ALTuGh7","name":"Slack - ICLP"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"817bcbf8-c683-40d8-bd2f-0a2d54b2a169","leftValue":"={{ $('seteo_variables1').item.json.whatsapp }}","rightValue":"@g.us","operator":{"type":"string","operation":"notContains"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1380,620],"id":"b20cf101-35be-4908-b5dd-0937da9dbc2d","name":"Filtrar solo grupos"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3620,1240],"id":"692faec7-c2ec-45df-bba3-291a5dd16293","name":"No Operation, do nothing"},{"parameters":{"mode":"delete","lastMessagesCount":5},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[0,0],"id":"14637e63-3f1c-4e06-8f28-066e31592c5e","name":"Chat Memory Manager"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[380,0],"id":"659630d0-7b0e-441b-b1f0-ea7be065bb04","name":"Final1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"817bcbf8-c683-40d8-bd2f-0a2d54b2a169","leftValue":"={{ $('seteo_variables1').item.json.whatsapp }}","rightValue":"2213994411","operator":{"type":"string","operation":"contains"}},{"id":"057155d2-7320-48de-8ed5-bf00dcc72b38","leftValue":"={{ $('seteo_variables1').item.json.whatsapp }}","rightValue":"+5492214203659","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"ce9f76dc-a2c7-42e4-8af5-be1665bd4577","leftValue":"={{ $('seteo_variables1').item.json.whatsapp }}","rightValue":"+5492213994411","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1380,380],"id":"88843678-c241-4e41-937b-4ab0e7dec18d","name":"Filtrar números de prueba1"}],"connections":{"obtener_medicos_matricula":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"obtener_estudios":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"1 mensaje a la vez1":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}],[{"node":"Respuesta_al_usuario1","type":"main","index":0}]]},"Respuesta_al_usuario1":{"main":[[{"node":"1 mensaje a la vez1","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Mensaje de entrada","type":"main","index":0}]]},"Tipo de mensaje1":{"main":[[{"node":"almacenar_debounce2","type":"main","index":0}],[{"node":"Descarga_audio_whatsapp1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Mensaje de entrada":{"main":[[{"node":"seteo_variables1","type":"main","index":0}]]},"seteo_variables1":{"main":[[{"node":"Tipo de mensaje1","type":"main","index":0}]]},"Flujo_padron1":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"Transcribe a recording1":{"main":[[{"node":"almacenar_debounce3","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Transcribe a recording1","type":"main","index":0}]]},"Descarga_audio_whatsapp1":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Esperar 5 segundos1":{"main":[[{"node":"Recuperar debounce [B]1","type":"main","index":0}]]},"Comparar debounce y mensaje1":{"main":[[{"node":"Resetear debounce1","type":"main","index":0}]]},"Recuperar debounce [A]1":{"main":[[{"node":"Esperar 5 segundos1","type":"main","index":0}]]},"Recuperar debounce [B]1":{"main":[[{"node":"Comparar debounce y mensaje1","type":"main","index":0}]]},"Resetear debounce1":{"main":[[{"node":"Filtrar números de prueba1","type":"main","index":0}]]},"almacenar_debounce2":{"main":[[{"node":"Recuperar debounce [A]1","type":"main","index":0}]]},"almacenar_debounce3":{"main":[[{"node":"Recuperar debounce [A]1","type":"main","index":0}]]},"Redis Chat Memory1":{"ai_memory":[[{"node":"Agente conversacional","type":"ai_memory","index":0},{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"obtener_medicos_especialidades1":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"horarios_medicos_disponibles":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"tomar_turno_paciente":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"HTTP Lista_Turnos":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"HTTP eliminar_Turno":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"Agente conversacional":{"main":[[{"node":"Code","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Agente conversacional","type":"ai_languageModel","index":0}]]},"Code":{"main":[[{"node":"1 mensaje a la vez1","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Chat Memory Manager":{"main":[[{"node":"Final1","type":"main","index":0}]]},"Filtrar números de prueba1":{"main":[[{"node":"Agente conversacional","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook1":[{"json":{"headers":{"host":"hooks.autoclinicas.com","user-agent":"axios/1.10.0","content-length":"592","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"hooks.autoclinicas.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"0efcae3bc99e","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Nicolas Matias Lopez","data":{"key":{"remoteJid":"5492213994411@s.whatsapp.net","fromMe":true,"id":"3A5825BF7BF1EF0BF59F"},"pushName":"Nm","status":"SERVER_ACK","message":{"conversation":"?"},"messageType":"conversation","messageTimestamp":1753197276,"instanceId":"0c06d94e-fef1-4290-8f10-fc50fe46c114","source":"ios"},"destination":"https://hooks.autoclinicas.com/webhook/nicotest","date_time":"2025-07-22T12:14:37.110Z","sender":"5492213994411@s.whatsapp.net","server_url":"https://api.autoclinicas.com","apikey":"8D32EAE9C7F6-49ED-A4AE-B9E83DF47788"},"webhookUrl":"https://hooks.autoclinicas.com/webhook/nicotest","executionMode":"production"}}]},"versionId":"73a01f0b-0595-46ac-9c80-c8d977c0ef70","triggerCount":1,"shared":[{"createdAt":"2025-08-05T00:35:44.624Z","updatedAt":"2025-08-05T00:35:44.624Z","role":"workflow:owner","workflowId":"2EYnrdlNXDvmFHpn","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}