my-workflow-2-mNf5RiKuvQLhUAa6.json
{"createdAt":"2025-06-27T01:21:20.738Z","updatedAt":"2025-09-07T14:21:21.402Z","id":"mNf5RiKuvQLhUAa6","name":"My workflow 2","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"daysInterval":3,"triggerAtHour":11}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"fc9f9af9-cd80-45d9-8cab-29b44ef8a26e","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1cVC0LskzYijZvvqEth9ejaiMitoeSYgfadA3lpJq38g","mode":"list","cachedResultName":"Contenido - Escala-IA (Autoclinicas)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1cVC0LskzYijZvvqEth9ejaiMitoeSYgfadA3lpJq38g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Autoclinicas.com","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1cVC0LskzYijZvvqEth9ejaiMitoeSYgfadA3lpJq38g/edit#gid=0"},"options":{"outputFormatting":{"values":{"general":"UNFORMATTED_VALUE","date":"FORMATTED_STRING"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[220,0],"id":"0bc5b5e5-bee0-4a54-a3f8-3d4d853dbdea","name":"LeerTopicos"},{"parameters":{"jsCode":"return $input.all().filter(item => {\n  const estado = item.json.estado?.toLowerCase();\n  const fechaStr = item.json.fecha_publicacion;\n  const fecha = new Date(fechaStr);\n\n  // Fecha actual del sistema (hoy)\n  const hoy = new Date();\n  hoy.setHours(0, 0, 0, 0); // Elimina la parte de horas para comparar solo fecha\n\n  // Filtra si es \"pendiente\" y la fecha de publicacion es igual o anterior a hoy\n  return estado === \"pendiente\" && fecha <= hoy;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[440,0],"id":"37cb8fb9-2b18-4a9d-a284-76bdc4b48566","name":"FiltrarTopicoPublicable"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Actua como un sistema experto en generacion y optimizacion de contenido SEO llamado \"Web Words\" Estás entrenado para asistir a proyectos de salud digital como Escala.IA, generando contenido optimizado para redes sociales dirigido a clinicas, hospitales privados y startups de healthtech. Tu estilo es profesional, claro, directo y centrado en el impacto del contenido.\n","role":"system"},{"content":"=Actua como un sistema profesional de generacion de contenido llamado \"Web Words\", especializado en generar textos para redes sociales en el sector salud y automatizacion medica.\n\nContexto del proyecto:\n- Nombre del proyecto: Escala.IA\n- Industria: Salud, automatizacion medica con IA, tecnologia en gestion clinica\n- Publico objetivo: Directores medicos, administradores de clinicas, hospitales privados, recepcionistas medicas, startups de healthtech, potenciales inversores\n- Tipo de contenido a generar: Tweet y Post de LinkedIn\n\nEstructura esperada del contenido:\n\n1. Tweet:\n- Maximo 280 caracteres\n- Enfocado en un beneficio concreto o insight accionable\n- Dirigido a gestores de clinicas o tomadores de decision\n- Tono profesional, directo, sin emojis ni hashtags\n\n2. Post de LinkedIn:\n- Tono profesional, sin emojis, sin markdown\n- No usar **negritas**, ni bullets de markdown\n- Si se necesita listar, usar numeracion convencional: 1. 2. 3.\n- Separar las ideas en parrafos cortos\n- Mantener claridad, autoridad y legibilidad\n- Incluir hashtags al final: #Salud #IA #AutomatizacionClinica #HealthTech\n\nTopico: {{ $json.topic }}\n\nPautas de redaccion:\n- Contenido claro, escaneable y bien estructurado\n- Evitar tecnicismos innecesarios\n- No usar relleno ni frases genericas\n\nDevuelve el contenido en este formato exacto:\n\nTweet:\n[TEXTO]\n\nPost de LinkedIn:\n[TEXTO]"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[660,0],"id":"439e1299-3d46-4fc8-95bf-183f392ec1af","name":"GenerarContenidoIA"},{"parameters":{"assignments":{"assignments":[{"id":"8986cbe1-3c55-4eb0-8105-779fa3428981","name":"=tweet","value":"={{ $json.message.content.Tweet }}","type":"string"},{"id":"674c3eda-2a36-4daa-bbbb-c6f015fc165d","name":"linkedin","value":"={{ $json.message.content['Post de LinkedIn'] }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,0],"id":"cb6604cc-6251-4346-97c0-8a487e83b681","name":"SepararContenido"},{"parameters":{"resource":"image","prompt":"={{ `Flat illustration about: ${$('FiltrarTopicoPublicable').item.json.topic}. Healthcare, innovation, clean colors, white background, no text.` }}\n","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1260,0],"id":"a09051ed-2124-4af4-ba53-df1ac6d96d7c","name":"GenerarImagenIA"},{"parameters":{"postAs":"organization","organization":"107362170","text":"={{ $('SepararContenido').item.json.message.content['Post de LinkedIn'] }}","shareMediaCategory":"IMAGE","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[1480,0],"id":"135cd534-a5ff-43b9-b501-5615f88a9316","name":"LinkedIn - Autoclinicas"}],"connections":{"Schedule Trigger":{"main":[[{"node":"LeerTopicos","type":"main","index":0}]]},"LeerTopicos":{"main":[[{"node":"FiltrarTopicoPublicable","type":"main","index":0}]]},"FiltrarTopicoPublicable":{"main":[[{"node":"GenerarContenidoIA","type":"main","index":0}]]},"GenerarContenidoIA":{"main":[[{"node":"SepararContenido","type":"main","index":0}]]},"SepararContenido":{"main":[[{"node":"GenerarImagenIA","type":"main","index":0}]]},"GenerarImagenIA":{"main":[[{"node":"LinkedIn - Autoclinicas","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c1e684a1-458d-419b-bd52-ed87bcd5c7e8","triggerCount":0,"shared":[{"createdAt":"2025-06-27T01:21:20.738Z","updatedAt":"2025-06-27T01:21:20.738Z","role":"workflow:owner","workflowId":"mNf5RiKuvQLhUAa6","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}