my-workflow-12-qkVtozik7y8qOMM2.json
{"createdAt":"2025-10-12T02:11:10.243Z","updatedAt":"2025-10-12T03:56:16.127Z","id":"qkVtozik7y8qOMM2","name":"My workflow 12","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"902c092b-e4c3-4a2e-8499-6aaa0d157c40","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/obras-sociales?usuario=WSTRRED&password=Y2xpb25lcw","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,0],"id":"31c24796-39df-45fb-82de-93147b7ca830","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"86cc6585-bbba-4f71-a69f-2c696c9d947a","name":"obra_social","value":"={{ $json.nobrasoc }}","type":"string"},{"id":"beb59709-15b5-4d75-a1db-90d3b8c03fba","name":"obra_social_completa","value":"={{ $json.nobrasoc2 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,0],"id":"2e6ecc85-e36f-4045-8e66-d3657c0bc9cc","name":"Edit Fields"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c99309ea-995f-4ad9-b7f6-71e41917d782","triggerCount":0,"shared":[{"createdAt":"2025-10-12T02:11:10.243Z","updatedAt":"2025-10-12T02:11:10.243Z","role":"workflow:owner","workflowId":"qkVtozik7y8qOMM2","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}