my-workflow-11-mulfV3dhj9MMJD6f.json
{"createdAt":"2025-10-07T23:51:13.906Z","updatedAt":"2025-10-07T23:51:13.906Z","id":"mulfV3dhj9MMJD6f","name":"My workflow 11","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"name":"Schedule Trigger2","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1088,-384],"id":"c65375d3-bf7e-40b3-9537-5e8b210476bf"},{"parameters":{"assignments":{"assignments":[{"id":"server_evolution","name":"server","value":"https://db.qeva.xyz","type":"string"},{"id":"table","name":"table","value":"m9m2veegnrfeeza","type":"string"},{"id":"timestamp","name":"timestamp","value":"={{ DateTime.fromISO($json.timestamp).toFormat(\"yyyy-MM-dd'T'HH:mm\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-864,-384],"id":"adf8ff58-c595-4246-ab71-6e0125f84182","name":"Configuración3"},{"parameters":{"jsCode":"// Obtener timestamp actual\nconst timestamp = $input.first().json.timestamp;\n\n// Convertir timestamp a Date\nconst now = new Date(timestamp);\n\n// Formatear la fecha actual para la búsqueda\nconst year = now.getFullYear();\nconst month = String(now.getMonth() + 1).padStart(2, '0');\nconst day = String(now.getDate()).padStart(2, '0');\nconst hours = String(now.getHours()).padStart(2, '0');\nconst minutes = String(now.getMinutes()).padStart(2, '0');\n\n// Formato ISO para la búsqueda SIN segundos\nconst currentDateString = `${year}-${month}-${day}T${hours}:${minutes}`;\n\n// Crear query\nconst query = {\n  tipo: '1h',\n  whereCondition: `(FECHA_RECORDATORIO,eq,${currentDateString})`,\n  fields: 'FECHA',\n  buscarCitasDe: currentDateString,  // Hora actual\n  horaActual: now.toISOString()      // Hora actual con formato completo\n};\n\nreturn [{\n  json: {\n    ...($input.first().json),\n    tipoRecordatorio: query.tipo,\n    whereCondition: query.whereCondition,\n    fields: query.fields,\n    buscarCitasDe: query.buscarCitasDe,\n    horaActual: query.horaActual\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,-384],"id":"19de8c3c-46ed-4dc1-a651-280d87f2a871","name":"Preparar Consultas1"},{"parameters":{"jsCode":"{\n  // VALIDACIÓN INICIAL DE DATOS\n  const datos = $input.first().json;\n  \n  // Validar que existan los datos necesarios\n  if (!datos) {\n    return [{ \n      json: { \n        error: \"No se recibieron datos de entrada\",\n        status: \"error\"\n      } \n    }];\n  }\n  \n  // EXTRAER DATOS DEL TURNO CON VALIDACIÓN\n  const id = datos.Id;\n  const paciente = datos.NOMBRE;\n  const fechaCompleta = datos.FECHA;\n  const servicio = datos.Servicios?.NOMBRE || 'No especificado';\n  const telefono = datos.TELEFONO;\n  const confirmado = datos.CONFIRMACION_CITA;\n  \n  // VALIDAR CAMPOS REQUERIDOS\n  if (!telefono || !paciente || !fechaCompleta || !id) {\n    return [{ \n      json: { \n        error: \"Faltan campos requeridos\", \n        details: { \n          telefono: telefono || 'falta',\n          paciente: paciente || 'falta',\n          fechaCompleta: fechaCompleta || 'falta',\n          id: id || 'falta'\n        },\n        status: \"error\"\n      } \n    }];\n  }\n  \n  // VALIDAR FORMATO DE TELÉFONO (opcional - ajustar según tu formato)\n  if (telefono && telefono.length < 10) {\n    return [{ \n      json: { \n        error: \"Formato de teléfono inválido\",\n        telefono: telefono,\n        status: \"error\"\n      } \n    }];\n  }\n  \n  try {\n    // PROCESAMIENTO DE FECHA Y HORA\n    const [fecha, hora] = fechaCompleta.split('T');\n    \n    // Validar que la fecha sea válida\n    if (!fecha) {\n      throw new Error('Formato de fecha inválido');\n    }\n    \n    const horaCorta = hora ? hora.substring(0, 5) : '00:00';\n    \n    // CONSTRUIR FECHA ISO SIN SEGUNDOS\n    const fechaISO = `${fecha}T${horaCorta}`;\n    \n    // FORMATEAR FECHA PARA MOSTRAR (DD-MM-YYYY)\n    const [año, mes, dia] = fecha.split('-');\n    const fechaFormateada = `${dia}-${mes}-${año}`;\n    \n    // FUNCIÓN PARA CONSTRUIR LA DESCRIPCIÓN\n    const buildDescription = () => {\n      return `*🔔 RECORDATORIO IMPORTANTE*\n👤 *Paciente:* ${paciente}\n📅 *Fecha:* ${fechaFormateada} \n🕐 *Hora:* ${horaCorta}\n🏥 *Servicio:* ${servicio}\n📍 *Recordatorios:*\n- Llegá 10 minutos antes\n- En caso de no poder asistir\n- 🚫 Cancele la cita 🚫\n- Seleccione una opción:`;\n    };\n    \n    // FUNCIÓN PARA CONSTRUIR LAS FILAS DE OPCIONES\n    const buildOptionRows = () => {\n      const cancelRow = {\n        rowId: `❌ CANCELAR TURNO|${fechaISO}|${paciente}|${id}|${servicio}`,\n        title: \"❌ Cancelar Turno\",\n        description: \"No podré asistir al turno programado\"\n      };\n      \n      const confirmRow = {\n        rowId: `✅ TURNO CONFIRMADO|${fechaISO}|${paciente}|${id}|${servicio}`,\n        title: \"✅ Confirmar Turno\",\n        description: \"Confirmo mi asistencia en la fecha y hora indicada\"\n      };\n      \n      // Si está confirmado, solo mostrar opción de cancelar\n      if (confirmado) {\n        return [cancelRow];\n      }\n      \n      // Si NO está confirmado, CONFIRMAR PRIMERO, luego cancelar\n      return [confirmRow, cancelRow];\n    };\n    \n    // CONSTRUIR MENSAJE DE LISTA\n    const requestBody = {\n      to: telefono,\n      buttonText: \"CONFIRMAR 📋\",\n      title: \"✅ *Confirme su turno ⏰*\",\n      description: buildDescription(),\n      footer: confirmado \n        ? \"✅ Tu turno está confirmado\" \n        : \"⚠️ *Turno pendiente de confirmación*\",\n      sections: [\n        {\n          title: \"📋 Opciones Disponibles\",\n          rows: buildOptionRows()\n        }\n      ],\n      // Metadata adicional para tracking\n      metadata: {\n        appointmentId: id,\n        patientName: paciente,\n        appointmentDate: fechaISO,\n        serviceName: servicio,\n        isConfirmed: confirmado,\n        timestamp: new Date().toISOString()\n      }\n    };\n    \n    // LOG PARA DEBUGGING (opcional - comentar en producción)\n    console.log('Mensaje generado para:', {\n      paciente,\n      telefono,\n      fecha: fechaFormateada,\n      hora: horaCorta,\n      confirmado\n    });\n    \n    // RETORNAR RESULTADO EXITOSO\n    return [{ \n      json: requestBody\n    }];\n    \n  } catch (error) {\n    // MANEJO DE ERRORES\n    return [{ \n      json: { \n        error: \"Error al procesar el turno\",\n        details: error.message,\n        data: {\n          id,\n          paciente,\n          fechaCompleta,\n          telefono\n        }\n      } \n    }];\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[816,-352],"id":"70d4efa6-2fe1-428d-99c9-f1b851b4f95f","name":"Buttons "},{"parameters":{"includeOtherFields":true,"include":"except","excludeFields":"CreatedAt, UpdatedAt","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,-352],"id":"6b2cf538-72b8-4f96-b3a9-2ecd8d5268e2","name":"var"},{"parameters":{"method":"POST","url":"https://us.api-wa.me/2522xe636258b15/message/list","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"to","value":"={{ $json.to }}"},{"name":"buttonText","value":"={{ $json.buttonText }}"},{"name":"text","value":"={{ $json.description }}"},{"name":"title","value":"={{ $json.title }}"},{"name":"description","value":"={{ $json.description }}"},{"name":"footer","value":"={{ $json.footer }}"},{"name":"sections","value":"={{ $json.sections }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,-336],"id":"a811dadc-6bb1-48ad-b629-d5ea84805500","name":"Lista2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-192,-384],"id":"7047d7eb-d8f2-4f0c-b8d4-cf08406885a8","name":"Loop Over Items"},{"parameters":{"authentication":"nocoDbApiToken","operation":"update","projectId":"p95q7ph2qlpkvjj","table":"m9m2veegnrfeeza","fieldsUi":{"fieldValues":[{"fieldName":"Id","fieldValue":"={{ $('Obtener Citas2').item.json.Id }}"},{"fieldName":"RECORDATORIO_ENVIADO","fieldValue":"True"}]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[1568,-336],"id":"f8969e0a-aed7-463b-9b9c-ab7439db35ab","name":"Obtener Citas"},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"p95q7ph2qlpkvjj","table":"m9m2veegnrfeeza","returnAll":true,"options":{"where":"={{ $json.whereCondition }}"}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-416,-384],"id":"14e3b29d-f2d0-457a-abbf-60f88557602f","name":"Obtener Citas2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"09891ed6-0d0b-41c5-b3b2-187d854f3dde","leftValue":"={{ $json.RECORDATORIO_ENVIADO }}","rightValue":false,"operator":{"type":"boolean","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[128,-368],"id":"40226af2-8ad0-4e1a-b7d3-fe12f7fa1d16","name":"If"},{"parameters":{"options":{"reset":"={{ $('Loop Over Items2').context.done}}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1120,-352],"id":"5043d94b-15b9-4d40-b10a-2d75320ffc9f","name":"Loop Over Items2"}],"connections":{"Schedule Trigger2":{"main":[[{"node":"Configuración3","type":"main","index":0}]]},"Configuración3":{"main":[[{"node":"Preparar Consultas1","type":"main","index":0}]]},"Preparar Consultas1":{"main":[[{"node":"Obtener Citas2","type":"main","index":0}]]},"Buttons ":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"var":{"main":[[{"node":"Buttons ","type":"main","index":0}]]},"Lista2":{"main":[[{"node":"Obtener Citas","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"Obtener Citas":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Obtener Citas2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[],[{"node":"var","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Lista2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Schedule Trigger2":[{"json":{"timestamp":"2025-09-03T18:23:44.006-03:00","Readable date":"September 3rd 2025, 6:23:44 pm","Readable time":"6:23:44 pm","Day of week":"Wednesday","Year":"2025","Month":"September","Day of month":"03","Hour":"18","Minute":"23","Second":"44","Timezone":"America/Argentina/Buenos_Aires (UTC-03:00)"}}]},"versionId":"567a8ea5-5589-48eb-8629-ccb73793faf3","triggerCount":0,"shared":[{"createdAt":"2025-10-07T23:51:13.906Z","updatedAt":"2025-10-07T23:51:13.906Z","role":"workflow:owner","workflowId":"mulfV3dhj9MMJD6f","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}