my-workflow-10-9QzdmhWKxKtSOLDN.json
{"createdAt":"2025-09-19T20:36:07.051Z","updatedAt":"2025-09-24T22:41:14.154Z","id":"9QzdmhWKxKtSOLDN","name":"My workflow 10","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Manutenção das talelas do database - ofir\n","height":380,"width":940,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5504,3744],"id":"f0ff7aaf-2c29-444b-b10a-dcc45d51a1be","name":"Sticky Note8"},{"parameters":{"content":"rodar para criar tabela \"ao_clientes\"","height":274.7923843700217,"width":273.1627906976745,"color":4},"id":"6aef7f8d-2d1e-4312-8d81-2bde33ee21d0","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5792,3792]},{"parameters":{"operation":"executeQuery","query":"-- Drop the table if it exists\nDROP TABLE IF EXISTS ao_clientes;\n\n-- Create the table\nCREATE TABLE ao_clientes (\n    numero VARCHAR PRIMARY KEY,\n    departamento VARCHAR,\n    data JSONB DEFAULT '{}',\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,\n    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP\n);\n\n-- Create trigger function to automatically update updated_at\nCREATE OR REPLACE FUNCTION update_updated_at_column_ao_clientes()\nRETURNS TRIGGER AS $$\nBEGIN\n    NEW.updated_at = CURRENT_TIMESTAMP;\n    RETURN NEW;\nEND;\n$$ language 'plpgsql';\n\n-- Create trigger that calls the function before each update\nCREATE TRIGGER update_updated_at_column_ao_clientes\n    BEFORE UPDATE ON ao_clientes\n    FOR EACH ROW\n    EXECUTE FUNCTION update_updated_at_column_ao_clientes();","options":{}},"id":"28684725-8b06-43c0-9548-bcd60f0a9a6e","name":"criar_ao_clientes","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[5872,3872]},{"parameters":{"operation":"executeQuery","query":"DO $$\nBEGIN\n    IF EXISTS (SELECT FROM pg_tables WHERE schemaname = 'public' AND tablename = 'ao_recepcionista_chat') THEN\n        DELETE FROM ao_recepcionista_chat;\n    END IF;\n\n    IF EXISTS (SELECT FROM pg_tables WHERE schemaname = 'public' AND tablename = 'ao_comercial_chat') THEN\n        DELETE FROM ao_comercial_chat;\n    END IF;\n\n    IF EXISTS (SELECT FROM pg_tables WHERE schemaname = 'public' AND tablename = 'ao_secretaria_chat') THEN\n        DELETE FROM ao_secretaria_chat;\n    END IF;\n\n    IF EXISTS (SELECT FROM pg_tables WHERE schemaname = 'public' AND tablename = 'ao_clientes') THEN\n        DELETE FROM ao_clientes;\n    END IF;\n\n    IF EXISTS (SELECT FROM pg_tables WHERE schemaname = 'public' AND tablename = 'ao_financeiro_chat') THEN\n        DELETE FROM ao_financeiro_chat;\n    END IF;\nEND $$;","options":{}},"id":"3567dd18-7017-4c8c-8d01-e4719aa0c101","name":"limpar_todas_as_tabelas","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[6176,3872]},{"parameters":{"method":"POST","url":"={{ $('config').item.json.url_webhook_n8n }}/webhook/agente-ofir/v1/secretaria","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"numero","value":"={{ $json.clienteNumero }}"},{"name":"mensagem","value":"={{ $json.mensagem }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7552,3056],"id":"d873f796-aa49-40b9-8776-edb6f4058017","name":"ia_secretaria"},{"parameters":{"errorMessage":"Infinity looping"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[7632,2736],"id":"e32dd87a-c836-4fca-9b16-ef688f4ae73a","name":"Stop and Error"},{"parameters":{"assignments":{"assignments":[{"id":"300daa9a-1196-4fdc-aa73-576d335ae5d3","name":"mensagem","value":"={{ $json.mensagem ?? $json.body.mensagem }}","type":"string"},{"id":"8d09f964-1c63-4d61-8c67-36f59193788f","name":"numero","value":"={{ $json.numero ?? $json.body.numero }}","type":"string"},{"id":"708eb996-fdf7-4811-b93a-dc6853942cfb","name":"pushName","value":"={{ $json.pushName ?? \"Novo lead\" }}","type":"string"},{"id":"96eefb68-21d4-41a7-a693-1d8b979b470a","name":"webhook","value":"={{ $json.webhook }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6576,3184],"id":"8ba28523-4181-4e84-9bae-a8c39ebdae47","name":"tratamento"},{"parameters":{"httpMethod":"POST","path":"agente-ofir/v1/agente","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[6336,3344],"id":"507b6f12-0a47-4b48-b78c-dc070d980043","name":"rodar_agente","webhookId":"d711bc48-5fc8-4f7f-8354-787ef9e828f6"},{"parameters":{"assignments":{"assignments":[{"id":"f6cbe8e0-9331-4015-aed9-22cfec90a6d1","name":"departamento","value":"=humano","type":"string"},{"id":"c7fbf816-9505-4d98-b47a-1abbcf5c22f0","name":"mensagem","value":"Só um momento, estarei verificando como podemos lhe ajudar.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7552,3232],"id":"4045232c-e30c-4cc3-affc-e4cea0cf5756","name":"humano"},{"parameters":{"assignments":{"assignments":[{"id":"784da313-0ddc-40d0-9422-22182af28f25","name":"clienteNumero","value":"={{ $('transferir_cliente').item.json.clienteNumero }}","type":"string"},{"id":"dee352ee-f699-41ab-8291-98e9ec8b2b1c","name":"clienteData","value":"={{ $('transferir_cliente').item.json.clienteData }}","type":"object"},{"id":"f6a08b10-b072-4d11-b4fb-dfc91ac4c7da","name":"clienteDepartamento","value":"={{ $('transferir_cliente').item.json.clienteDepartamento }}","type":"string"},{"id":"36509cde-afaa-413a-b40f-bbb531375545","name":"mensagem","value":"={{ $('transferir_cliente').item.json.mensagem }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7680,3472],"id":"51fa3394-ea92-46e0-a541-c3882fc41273","name":"tratamento_cliente"},{"parameters":{"assignments":{"assignments":[{"id":"5f457599-2e6d-46be-bde4-f922cc121bfa","name":"clienteNumero","value":"={{ $json.clienteNumero }}","type":"string"},{"id":"9c034464-d953-4bd1-a622-e48a00528547","name":"clienteData","value":"={{ $json.clienteData }}","type":"object"},{"id":"a4d2d45d-eb88-4ad8-8543-67973d515dab","name":"clienteDepartamento","value":"={{ $json.clienteDepartamento }}","type":"string"},{"id":"9b795ede-9d27-43a0-a0aa-dafa04207222","name":"mensagem","value":"={{ $('tratamento').item.json.mensagem }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6944,3184],"id":"946003ab-c67d-4a6d-bc23-241fb0b9ce10","name":"mensagem"},{"parameters":{"method":"PATCH","url":"={{ $('config').item.json.url_webhook_n8n }}/webhook/agente-ofir/v1/cliente","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"numero\": \"{{ $json.clienteNumero }}\",\n  \"data\": {\n    \"departamentoOrigem\": \"{{ $('puxar_cliente').item.json.clienteDepartamento }}\",\n    \"departamentoDestino\": \"{{ $json.clienteDepartamento }}\"\n  },\n  \"departamento\": \"{{ $json.clienteDepartamento }}\",\n  \"outros\": { \n    \"mensagemAgente\": \"{{ $json.mensagem }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7456,3472],"id":"ea6bfbc9-b70b-4084-a09b-6d2008b6d58f","name":"atualizar_cliente2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9726544b-7774-43c6-b110-574e30e859be","leftValue":"={{ $json.clienteDepartamento }}","rightValue":"={{ $('departamento').item.json.clienteDepartamento }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[8224,3504],"id":"25596238-2ca8-4961-8784-64aadba092a5","name":"transferir_cliente","alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"2162b82e-a65b-4155-b504-149b5531157e","name":"clienteNumero","value":"={{ $('mensagem').item.json.clienteNumero }}","type":"string"},{"id":"35deac04-51b5-4c72-9a5b-45eb00307d69","name":"clienteData","value":"={{ $('mensagem').item.json.clienteData }}","type":"object"},{"id":"808a9de6-4181-4985-8e43-09fe9882b07e","name":"clienteDepartamento","value":"={{ $json.departamento }}","type":"string"},{"id":"23c7cd7f-330a-4de9-a5b1-57b2f370962c","name":"mensagem","value":"={{ $json.mensagem }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7952,3232],"id":"e3f21f49-29e2-4d81-9ae9-03fd8d3e9ee9","name":"agente_retorno"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b3b35544-ab83-48d3-9615-140c0fb837ec","leftValue":"={{ $runIndex }}","rightValue":4,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ERRO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"88ceb60a-5aef-461c-b7de-bd1e0b375a31","leftValue":"={{ $json.clienteDepartamento }}","rightValue":"secretaria","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"secretaria"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7e082338-f421-4bf8-9211-edd31b224248","leftValue":"={{ $json.clienteDepartamento }}","rightValue":"humano","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"humano"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[7152,3136],"id":"fe693443-d34f-43fd-adac-965f2211bf21","name":"departamento"},{"parameters":{"method":"POST","url":"={{ $('config').item.json.url_webhook_n8n }}/webhook/agente-ofir/v1/cliente","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"numero","value":"={{ $json.numero }}"},{"name":"nome","value":"={{ $json.pushName }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6752,3184],"id":"ef46e2a2-bdfb-4cc5-bae6-f3f219e861f1","name":"puxar_cliente"},{"parameters":{"content":"## Configuração","height":300,"width":300},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5664,2976],"id":"6378ff37-b951-4f25-9db3-5f35c5641f54","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"b3708e78-3f46-4c99-aebe-65f4f26f66c1","name":"url_webhook_n8n","value":"https://n8n.dinastia.uk","type":"string"},{"id":"1832bf7f-4280-438c-a303-8d669906578c","name":"url_api_whatsapp","value":"https://evoapi.bdrtec.com.br","type":"string"},{"id":"d7036aff-4a03-4623-9874-d5603362b226","name":"instance","value":"https://evo.dinastia.uk","type":"string"},{"id":"50ac7a75-bfc7-4075-9245-ee2c94739474","name":"evolutionApiKey","value":"FF19DF0A7A4B-4A66-A7AA-774E0D28147F","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5760,3056],"id":"9bd2a722-437b-46cc-9e30-f558c2f44214","name":"config"},{"parameters":{"httpMethod":"POST","path":"/api/v1/chat","options":{}},"id":"dd16591d-58cb-43c8-b5b1-ee18d9b8f282","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[5456,3056],"webhookId":"81dd8066-f3ed-462b-a538-3bad57450e37"},{"parameters":{"assignments":{"assignments":[{"id":"6f17d77b-0e6d-4651-9229-5c2ea486cfc2","name":"url_webhook_n8n","value":"=https://n8n.dinastia.uk","type":"string"},{"id":"efc67730-c53f-499e-8bf5-4ec79f6dacc9","name":"departamentos.secretaria","value":"=Transferir para a secretaria sempre que o cliente quiser agendar uma consulta ou gerenciar as suas consultas.","type":"string"},{"id":"04fbf68d-ffcd-411c-afad-58b5406efad4","name":"departamentos.comercial","value":"=Transferir para o comercial sempre que o cliente tiver alguma duvida sobre o produto/serviço ou sobre os profissionais e a empresa. Apenas o comercial deve responder quais produtos e serviços a Nultra Food oferece.","type":"string"},{"id":"9e801a5b-5ea7-4c10-a435-30d4115c7983","name":"departamentos.humano","value":"=Transferir para o humano quando não tiver mais nenhuma opção presente ou informação para repassar ao cliente.","type":"string"},{"id":"ed70191d-7ec4-4b52-9791-7ff64d1be924","name":"departamentos.financeiro","value":"=Transferir toda vez que a secretária realizar um agendamento. Transferir toda vez que o cliente tiver uma dúvida sobre pagamentos.","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5744,4352],"id":"65b6c185-c036-44bc-bc26-110848be915c","name":"config4"},{"parameters":{"content":"## Configuração","height":240,"width":190},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5760,4800],"id":"7bd6ecb8-11b8-4314-b7f9-1cb625ad84fb","name":"Sticky Note10"},{"parameters":{"assignments":{"assignments":[{"id":"20440cf8-2428-48b4-8f1d-dea5f6f2f0d9","name":"numeroAdmin","value":"5517997466835@s.whatsapp.net","type":"string"},{"id":"6f17d77b-0e6d-4651-9229-5c2ea486cfc2","name":"url_webhook_n8n","value":"https://n8n.dinastia.uk","type":"string"},{"id":"6ec99cb8-9674-4b5e-b614-02a2fcb02c97","name":"url_api_whatsapp","value":"https://evo.dinastia.uk","type":"string"},{"id":"2d0dc33e-c970-46cc-9900-ffd076fb4f04","name":"instance","value":"dinastia-jurema","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5792,4880],"id":"e3c62bb1-7249-4708-bef7-ff2e517d802e","name":"config3"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ao_clientes (numero, data, departamento)\nVALUES ('{{ $('criar_cliente').item.json.body.numero }}', '{}', 'comercial');\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[6080,4560],"id":"bf21edd8-7756-4856-8fcb-274cc3addce9","name":"novo_cliente"},{"parameters":{"assignments":{"assignments":[{"id":"fa6fddc3-3892-4582-98e8-e60bb569d540","name":"numero","value":"={{ $json.body.numero }}","type":"string"},{"id":"90038942-ba44-44b5-a549-c05a62dbe0ec","name":"departamento","value":"={{ $json.body.departamento }}","type":"string"},{"id":"8e18a645-824b-437e-8dd3-4c461439a78b","name":"data","value":"={{ typeof $json.body.data === 'object' ? JSON.stringify($json.body.data) : $json.body.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6032,4880],"id":"8d7b8a0c-7021-4c69-9c49-05fcae1e80ec","name":"tratamento5"},{"parameters":{"assignments":{"assignments":[{"id":"c8467648-c567-4716-a3b1-c18170e682f3","name":"comentario","value":"=Transferido de '{{ $('puxar_cliente2').item.json.clienteDepartamento }}' para '{{ $('atualizar_cliente').item.json.body.departamento }}'. Mensagem do Agente: '{{ $('atualizar_cliente').item.json.body.outros.mensagemAgente }}'. {{ $('atualizar_cliente').item.json.body.departamento === \"humano\" ? 'O que o agente deve responder neste caso?' : '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7056,4880],"id":"eb634d8e-1c71-4a4d-8cd3-57a69d188e70","name":"comentario_transferencia"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"81ec2d50-b144-42d3-a071-1b0857369727","leftValue":"={{ $('atualizar_cliente').item.json.body.departamento }}","rightValue":"humano","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6240,5104],"id":"e7bd470b-3118-42c6-aa52-3dea2a7b6ac3","name":"notificar_quando_for_humano"},{"parameters":{"method":"POST","url":"={{ $('config3').item.json.url_webhook_n8n }}/webhook/agente-ofir/v1/clickup","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"numero\": \"{{ $('puxar_cliente2').item.json.clienteNumero }}\",\n  \"acao\": \"ADICIONAR_COMENTARIO\",\n  \"data\": {\n    \"comentario\": \"{{ $json.comentario }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6032,5104],"id":"3bd1d4c6-b637-46d7-900c-835306d2ad01","name":"adicionar_comentario_request","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b851e14f-8413-494b-b23d-7ad38bcad1bd","leftValue":"={{ $('puxar_cliente2').item.json.clienteDepartamento }}","rightValue":"={{ $('atualizar_cliente').item.json.body.departamento }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6832,4880],"id":"ad2b9b66-f595-43a2-a34a-af9ad86fe86f","name":"foi_transferido"},{"parameters":{"method":"POST","url":"={{ $('config4').item.json.url_webhook_n8n }}/webhook/agente-ofir/v1/clickup","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"numero\": \"{{ $('criar_cliente').item.json.body.numero }}\",\n  \"acao\": \"CRIAR_LEAD\",\n  \"data\": {\n    \"nome\": \"{{ $('criar_cliente').item.json.body.nome ?? \"Novo lead\" }}\",\n    \"telefone\": \"{{ $('criar_cliente').item.json.body.numero.split('@')[0] }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6272,4560],"id":"3b04bce9-4d59-49bb-bb0f-cb9e8e572a20","name":"criar_lead_request"},{"parameters":{"respondWith":"json","responseBody":"={ \"sucesso\": {{ $json.success }} }","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[6640,4880],"id":"6f4f3a55-8a9e-405e-99d5-6c3a1dff3fd1","name":"Respond to Webhook1"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ao_clientes (numero, data, departamento)\nVALUES ('{{ $('tratamento5').item.json.numero }}', '{{ $('tratamento5').item.json.data }}'::jsonb, '{{ $('tratamento5').item.json.departamento }}')\nON CONFLICT (numero) \nDO UPDATE SET \n    data = ao_clientes.data || EXCLUDED.data,\n    departamento = EXCLUDED.departamento,\n    updated_at = CURRENT_TIMESTAMP;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[6432,4880],"id":"a862605a-0ee3-4201-a445-66aa1ebfc5e3","name":"query_atualizar_data","alwaysOutputData":true},{"parameters":{"method":"POST","url":"={{ $('config3').item.json.url_webhook_n8n }}/webhook/agente-ofir/v1/cliente","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"numero","value":"={{ $json.numero }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6240,4880],"id":"59d20e28-0723-40f2-a0bd-bc2e7333d86b","name":"puxar_cliente2"},{"parameters":{"httpMethod":"PATCH","path":"agente-ofir/v1/cliente","authentication":"headerAuth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[5536,4880],"id":"9e53be7c-b760-4fe2-8a14-85c0c79b42bc","name":"atualizar_cliente","webhookId":"d711bc48-5fc8-4f7f-8354-787ef9e828f6"},{"parameters":{"httpMethod":"POST","path":"agente-ofir/v1/cliente","authentication":"headerAuth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[5536,4352],"id":"0e664208-b30d-48b4-a1ee-8b065b08bced","name":"criar_cliente","webhookId":"d711bc48-5fc8-4f7f-8354-787ef9e828f6"},{"parameters":{"content":"## Gerenciar tabela ao_clientes","height":80,"width":1760,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5504,4160],"id":"7cefea01-9487-436f-81c2-997513f20315","name":"Sticky Note1"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"clienteNumero\": \"{{ $json.clienteNumero }}\",\n  \"clienteData\": {{ JSON.stringify($json.clienteData) }},\n  \"clienteDepartamento\": \"{{ $json.clienteDepartamento }}\",\n  \"departamentos\": {{ JSON.stringify($json.departamentos) }}\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[7056,4592],"id":"219b243a-5af1-47d5-a306-c86b026bd949","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"5ebd8843-19a7-4147-8ccd-fcb0e849f79c","name":"clienteNumero","value":"={{ $json.clienteNumero }}","type":"string"},{"id":"9ab6c0a4-d5b4-493a-af98-8769b7882df4","name":"clienteData","value":"={{ $json.clienteData }}","type":"object"},{"id":"3d17f8e5-f803-482d-9135-cb6a26741033","name":"clienteDepartamento","value":"={{ $json.clienteDepartamento }}","type":"string"},{"id":"a605908c-0c4c-459b-ad9c-f55bee82a31a","name":"departamentos.secretaria","value":"={{ $('config4').item.json.departamentos.secretaria }}","type":"string"},{"id":"88b9f74d-9690-4869-af09-e52f3a8c00c5","name":"departamentos.comercial","value":"={{ $('config4').item.json.departamentos.comercial }}","type":"string"},{"id":"de760c54-de51-49b2-8afe-c46d6844bce4","name":"departamentos.humano","value":"={{ $('config4').item.json.departamentos.humano }}","type":"string"},{"id":"29c78a8d-7e8d-4e91-ae07-cf8519ee47b4","name":"departamentos.financeiro","value":"={{ $('config4').item.json.departamentos.financeiro }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6816,4352],"id":"e9f109ca-fcaa-44a3-ae2e-658263f920ca","name":"cliente_atualizado"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f7a93cbd-d1d5-4b67-ab6a-83b6cec5ffb7","leftValue":"={{ $json.clienteNumero }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6560,4560],"id":"c5e247dc-8e45-4414-ab76-c75f85b5e57e","name":"cliente_existente"},{"parameters":{"assignments":{"assignments":[{"id":"1581cf30-cf13-4576-85f3-596fde5e0a5b","name":"clienteNumero","value":"={{ $json.numero }}","type":"string"},{"id":"df687a37-1dce-4f4f-9c0e-249f6094f51b","name":"clienteData","value":"={{ $json.data }}","type":"object"},{"id":"5932652e-f969-4e57-8848-d53136184603","name":"clienteDepartamento","value":"={{ $json.departamento }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6272,4352],"id":"352ce9f0-5f3d-400d-b0e8-51a4a6e7c236","name":"cliente"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"ao_clientes","mode":"list","cachedResultName":"ao_clientes"},"limit":1,"where":{"values":[{"column":"numero","value":"={{ $('criar_cliente').item.json.body.numero }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[5936,4352],"id":"f5030d77-414e-401a-b568-d0db9bdd838a","name":"Postgres","alwaysOutputData":true},{"parameters":{"content":"## Agente IA: Secretaria (agendamentos)","height":80,"width":1920,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7472,4160],"id":"42eed9d6-1155-4e19-90ec-699a49484135","name":"Sticky Note7"},{"parameters":{"method":"POST","url":"={{ $('config2').item.json.url_webhook_n8n }}/webhook/agente-ofir/v1/cliente","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"numero","value":"={{ $('secretaria_wh').item.json.body.numero }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8192,4496],"id":"dac0e0ca-f4c5-4f43-865d-26ba6263b66d","name":"puxar_cliente5"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.clienteNumero }}","tableName":"ao_secretaria_chat","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[7696,4992],"id":"effdc926-fe07-470f-81ae-d53297e2e3f4","name":"Postgres Chat Memory2"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"mensagem\": \"{{ $json.mensagem }}\",\n  \"departamento\": \"{{ $json.departamento }}\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[8224,4736],"id":"14cd38cb-0a3e-46ee-a6e4-95f3c2a5346b","name":"Respond to Webhook5"},{"parameters":{"descriptionType":"manual","toolDescription":"Use essa ferramenta para deletar eventos e consultas no calendário usando o eventId","operation":"delete","calendar":{"__rl":true,"value":"={{ $fromAI(\"calendarioId\",\"<calendario><calendarioId></calendarioId></calendario>\") }}","mode":"id"},"eventId":"={{ $fromAI(\"eventId\",\"Id do evento que deve ser excluído\") }}","options":{}},"id":"5c5a0df3-a42f-4f60-8eb3-9caa14a756fd","name":"Deletar Evento1","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.1,"position":[7952,4992]},{"parameters":{"descriptionType":"manual","toolDescription":"Use essa ferramenta para criar novas consultas no calendário.","calendar":{"__rl":true,"value":"={{ $fromAI(\"calendarioId\",\"<calendario><calendarioId></calendarioId></calendario>\") }}","mode":"id"},"start":"={{ $fromAI(\"Start_Time\",\"Horário inicial do evento ex.:2024-10-08 00:00:00\") }}","end":"={{ $fromAI(\"End_Time\",\"Horário final do evento ex.:2024-10-08 00:01:00\") }}","additionalFields":{"attendees":["={{ $('puxar_cliente5').item.json.clienteData.email }}"],"summary":"=pendente | Consulta agendada. Telefone {{ $('puxar_cliente5').item.json.clienteNumero.split(\"@\")[0] }}\n"}},"id":"0d3ed243-4387-453f-901c-60d8aa18bca9","name":"Criar Eventos1","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.1,"position":[8224,4992]},{"parameters":{},"id":"3bc3848c-f7d8-4fe0-9dc7-3638f01528bf","name":"Calculator1","type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[7824,4992]},{"parameters":{"descriptionType":"manual","toolDescription":"Use essa ferramenta para consultar datas e disponibilidade para novas consultas ou apenas para checar o que já foi agendado. Este ferramenta irá retornar todas as consultas no perído selecionado","operation":"getAll","calendar":{"__rl":true,"value":"={{ $fromAI(\"calendarioId\",\"<calendario><calendarioId></calendarioId></calendario>\") }}","mode":"id"},"returnAll":true,"options":{"timeMin":"={{ $fromAI(\"Initital_DateTime\", \"Data e hora inicial da consulta Ex.: 2024-10-17 00:00:00\") }}","timeMax":"={{ $fromAI(\"Final_DateTime\", \"Data e hora final da consulta Ex.: 2024-10-17 00:00:00\") }}","query":""}},"id":"687095ac-36bc-4d97-bf0a-53876370c8fb","name":"get_many","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[8096,4992]},{"parameters":{"httpMethod":"POST","path":"agente-ofir/v1/secretaria","authentication":"headerAuth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[7504,4496],"id":"452e98a0-c053-4046-91d6-108361abfe86","name":"secretaria_wh","webhookId":"d711bc48-5fc8-4f7f-8354-787ef9e828f6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4468a981-b3b4-404f-93d7-0c21b6a11cc1","leftValue":"={{ $('tratamento4').item.json.eventId }}","rightValue":"eventId","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[8416,4736],"id":"ffaba2d5-b675-4024-b818-7ce635292d8b","name":"novo_evento"},{"parameters":{"operation":"get","calendar":{"__rl":true,"value":"={{ $json.calendarioId }}","mode":"id"},"eventId":"={{ $json.eventId }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[8640,4720],"id":"ab470aab-4cd5-4822-b2b5-acbae5759801","name":"puxar_consulta"},{"parameters":{"method":"POST","url":"={{ $('config2').item.json.url_webhook_n8n }}/webhook/agente-ofir/v1/clickup","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"numero\": \"{{ $('puxar_cliente5').item.json.clienteNumero }}\",\n  \"acao\": \"ATUALIZAR_CONSULTA_DATA\",\n  \"data\": {\n    \"consultaData\": \"{{ $json.start.dateTime }}\",\n    \"calendarioNome\": \"{{ $('tratamento4').item.json.calendarioNome }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8864,4720],"id":"a5f82734-caa9-41b6-9185-ac08c49a78d8","name":"atualizar_consultaData_request"},{"parameters":{"assignments":{"assignments":[{"id":"6f17d77b-0e6d-4651-9229-5c2ea486cfc2","name":"calendarios","value":"=[| { \"nome\": \"karen\", \"calendarioId\": \"a140f5151a74a2d699ec66e8ba6248b955bf5053196a8c55731e6e0e8297831f@group.calendar.google.com\" }, { \"nome\": \"karine\", \"calendarioId\": \"5b93dbc11453e4545d71abd16180bf085d2f6792e5316e4bdab1d57b43bc458c@group.calendar.google.com\" }, { \"nome\": \"ketlin\", \"calendarioId\": \"c70f3af07437ffca5b0d3884b831e8338c69c01b2a93da5e62765a5293b6076a@group.calendar.google.com\" }]","type":"array"},{"id":"2b3a7721-0174-47e8-83f3-1d11698431ef","name":"url_webhook_n8n","value":"https://n8n.dinastia.uk","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7760,4496],"id":"a5bfc1c2-1f83-480c-b7bf-a9afd0d66226","name":"config2"},{"parameters":{"content":"## Configuração","height":240,"width":190},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7712,4416],"id":"6fd15a4d-22ce-4dba-8c4d-10c802e17af9","name":"Sticky Note6"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  item.json.calendarioSorteio = item.json.calendarios[Math.floor(Math.random() * item.json.calendarios.length)]\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7984,4496],"id":"0f7f2941-d6dd-4eb1-ba2b-41bf2d307183","name":"sorteio_calendario"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  const output = JSON.parse(item.json.output);\n\n  let mensagem = output.mensagem;\n\n  // Foi transferido de departmaneto? Então devemos utilizar a mensagem do cliente para \n  // ser encaminhada ao próximo agente e não a mensagem do agente atual.\n  // \n  // Esta condicional checa se o departamento mudou.\n  if ($('puxar_cliente5').item.json.clienteDepartamento !== output.departamento) {\n    mensagem = $('secretaria_wh').item.json.body.mensagem;\n    output.mensagem = mensagem;\n  }\n  \n  item.json = output;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[8032,4736],"id":"ccacaf23-ff47-48bb-ae5e-3f0c5d6825e0","name":"tratamento4"},{"parameters":{"promptType":"define","text":"=<mensagem>{{ $('secretaria_wh').item.json.body.mensagem }}</mensagem>","options":{"systemMessage":"=Departamento atual: <departamento>{{ $json.clienteDepartamento }}</departamento>\n\n<departamentos>\n {{ $json.departamentos.map(item => `\n  <departamento_descricao>\n   <departamento>${item.departamento}</departamento>\n   <regra_de_transferencia>\n    ${item.regras}\n   </regra_de_transferencia>\n </departamento_descricao>\n`)  }}\n</departamentos>\n\n<calendarios>\n{{ $('config2').item.json.calendarios.map(item => `\n    <calendario>\n      <nome>${item.nome}</nome>\n      <calendarioId>${item.calendarioId}</calendarioId>\n    </calendario>\n`) }}\n</calendarios>\n\n<REGRAS_PRINCIPAIS>\n\n<INSTRUCAO> Você é uma secretária virtual projetada para gerenciar de forma eficiente e amigável os agendamentos e cancelamentos de consultas. Seu nome é \"Jurema\" e você trabalha para a OdontoClinic Londrina.\n\nFocada em oferecer uma experiência prática e personalizada, o assistente exibe horários disponíveis, pergunta se o cliente concorda com a data e hora antes de confirmar o agendamento e fornece todos os detalhes essenciais após a marcação.\n\nPergunte ao cliente se ele possui alguma preferência por algum profissional que esteja listado em <calendarios></calendarios>. \n\nCaso não possuir, escolha o calendario: {{ $('sorteio_calendario').item.json.calendarioSorteio.nome }}, calendarioId: {{ $('sorteio_calendario').item.json.calendarioSorteio.calendarioId }}. \n\nUse o <calendarioId></calendarioId> na hora de buscar, criar e deletar eventos.\n\nO assistente também respeita o formato brasileiro de data e hora (DD/MM/AAAA e HH) e opera no fuso horário \"America/Sao_Paulo\".\n\nSempre verifica as datas disponiveis no calendário antes de oferecer ao cliente.\n\nhorário de funcionamento:\nSegunda a sexta: das 8h às 21h.\nSábado: das 8h às 12h. nunca agende fora do horario de funcionamento.\n\nUse como referencia para a data e hora atual: <currentDateTime>{{ (() => {\n  const date = new Date(); // Obtém a data atual\n  const days = ['domingo', 'segunda-feira', 'terça-feira', 'quarta-feira', 'quinta-feira', 'sexta-feira', 'sábado']; // Dias da semana em português\n  const pad = n => n.toString().padStart(2, '0'); // Adiciona zero à esquerda\n  const dayName = days[date.getDay()]; // Obtém o nome do dia\n  const year = date.getFullYear();\n  const month = pad(date.getMonth() + 1); // Mês começa em 0\n  const day = pad(date.getDate());\n  const hours = pad(date.getHours());\n  const minutes = pad(date.getMinutes());\n  const seconds = pad(date.getSeconds());\n  return `${dayName}, ${year}-${month}-${day} ${hours}:${minutes}:${seconds}`; // Retorna no formato desejado\n})() }}</currentDateTime>\n\nNunca agende nada antes de: {{ $now }}\n\nfaça agendamentos de 30 minutos de duração.\nse o horario pedido pelo cliente ja tiver alguma consulta marcada, sugira o mais proximo 30 minutos antes ou 30 minutos depois da consulta existente, mas esta proibido marcar em um horario que ja exista uma consulta\n\nPergunte se o cliente pode confirmar, mas não confirme diretamente a consulta.\n\nSempre utilize o timezone \"America/Sao_Paulo\" para todas as operações.\n\nSempre utilize a tool Calculator1 para calcular diferença de datas, horarios e dias. Apenas use numero inteiros para calcular valores.\n\n<AGENDAMENTO>\nPara pesquisar as datas de um evento no calendário, sempre utilize a tool Calculator1.\n\nAssim que voce agendar uma consulta, repasse as informações sobre a consulta, como profissional, data e hora e pergunte se já poderia gerar o PIX para o pagamento. \n\nAssim que o cliente confirmar, transfira ele para o departamento financeiro.\n</AGENDAMENTO>\n\n<REAGENDAMENTO>\nDe acordo com o histórico de mensagens, siga o processo de reagendamento nesta ordem:\n1. use a calculadora(apenas some numeros inteiros, sem usar textos) para identificar a data e hora especifica que o cliente gostaria de marcar a <NOVA_CONSULTA>.\n2. Busque todos os eventos apartir do horario da <NOVA_CONSULTA> até para os próximos 2 dias.\n2.1 Utilize a ferramenta \"get_many\" que irá retornar quais consultas existem no perídodo selecionado. Caso ela retornar um array vazio [] significa que a agenda da profissional está vazia.\n2.2 Caso já houver uma consulta no mesmo horário, sugira uma data mais próxima.\n2.3 Caso não houver nenhuma consulta no mesmo horário, confirme com o usuário a <NOVA_CONSULTA>.\n3. Quando o usário confirmar, delete a consulta anterior usando o eventId. Crie a <NOVA_CONSULTA>.\n</REAGENDAMENTO>\n\n<CANCELAMENTO>\nBaseado no histórico de mensagens, extraia as informações do evento a ser cancelado (data, hora e eventId).\nCaso não localize o evento, retorne false com uma mensagem de erro.\n</CANCELAMENTO>\n\n<CONFIRMACAO>\nEscreva mensagens breves e cordiais confirmando a consulta com base no evento já agendado, respeitando o timezone America/Sao_Paulo.\n</CONFIRMACAO>\n\n<AGENDAMENTOS>\nQuando a <mensagem></mensagem> for algo parecido com \"Ola tudo bem? Eu estou precisando fazer uma limpesa dental, como q eu façø? Tem agendamento?\"\n\nApenas realize uma busca até o próximo dia útil e informe a data mais próxima para um possivel agendamento.\n</AGENDAMENTOS>\n\n<FALLBACK>\nCaso você não identificar nenhunma intenção especifican relacionado a agendamentos, realize uma busca dos próximos agendamentos até o próximo dia útil e retorne a data disponível mais próxima para ser agendada.\n</FALLBACK>\n\n<TROCA_DE_PROFISSIONAL>\nCaso o cliente queira mudar de profissional, use as regras de <REAGENDAMENTO></REAGENDAMENTO> com o calendarioId da profissional que ele queira, antes de realizar a troca.\n</TROCA_DE_PROFISSIONAL>\n\nExceções:\n\nCaso identifique uma situação específica de exceção, encaminhe para o departamento humano.\n\nRegras Importantes:\n\nSeja cordial e direta.\nResponda sempre no timezone: America/Sao_Paulo.\nNunca confirme agendamentos automaticamente; peça confirmação ao cliente.\nApenas responda sobre agendamentos; ignore qualquer outro contexto.\nRetorne mensagens no formato JSON, sem aspas ou informações adicionais.\n\nExemplo de Resposta:\n\n<departamento>teste</departamento>\nHuman: Pode marcar uma reunião para terça às 14h?\nAI: { \"mensagem\": \"Terça-feira às 14h está disponível. Poderia confirmar esse horário?\", \"departamento\": \"teste\" }\n\n<OUTPUT>\nExemplo quando uma consulta for agendada e tiver um eventId da ferramenta, inserir o eventId no JSON conforme o Exemplo:\n\n<output_format_eventId>\n{ \"mensagem\": \"message from AI\", \"departamento\": \"departamento\", \"eventId\": \"id\",  \"calendarioId\": \"id\", \"calendarioNome\": \"nome\" }\n</output_format_eventId>\n\n<output_format_eventId_example>\n{ \"mensagem\": \"message from AI\", \"departamento\": \"teste\", \"eventId\": \"87aw898ad807d80s\",  \"calendarioId\": \"c_f1584a79804ce179cfa693d02395eba6f339089502d9847ba95892c1394d9605@group.calendar.google.com\"\", \"calendarioNome\": \"Flavia\" }\n</output_format_eventId_example>\n\n<output_schema>\n{ \n  \"mensagem\": STRING, \n  \"departamento\": STRING, \n  \"eventId\": STRING|UNDEFINED,\n  \"calendarioId\": STRING|UNDEFINED,\n  \"calendarioNome\": STRING|UNDEFINED \n}\n</output_schema>\n\n</OUTPUT>\n\nCertifique-se de que na mensagem final ela está usando o formato descrito em <OUTPUT>.\n\n</REGRAS_PRINCIPAIS>\n\n\n<PROCESSO_DE_DECISAO>\n\nConsulte as <regra_de_transferencia> \n\nEscolha entre as duas ações possíveis:\n\nApenas responder ao cliente com uma mensagem\n\nOu transferir o cliente de departamento e com uma mensagem para o departamento ao qual o cliente será transferido.\n\nNão informe ao cliente sobre a transferência.\n\nQuando houver uma <mensagemHumano></mensagemHumano> dentro de <mensagem></mensagem> responda o que estiver na <mensagemHumano></mensagemHumano> e continue no <departamento>{{ $json.clienteDepartamento }}</departamento>, não é para transferir o cliente para o departamento humano neste caso. Isto significa que um humano, responsável por este serviço respondeu ao cliente.\n\n</PROCESSO_DE_DECISAO>\n\nNão invente nenhuma informação que não foi dada neste system_prompt.\n\nCaso você não souber a informação, consulte <regra_de_transferencia> para transferir o cliente para algum outro departamento.\n\n# PAYMENT STAUTS:\n- Quando receber dentro de </mensagem> a informação <paymentStatus>OVERDUE</paymentStatus>. Deletar o eventId anteriormente agendado e informar ao cliente de que infelizmente não foi possivel localizar o seu pagamento e neste caso, o pré-agendamento que estava como pendente foi excluido. Perguntar se gostaria de fazer um novo agendamento.\n- Quando receber dentro de </mensagem> a informação <paymentStatus>RECEIVED</paymentStatus>. user a ferramenta tool \"update_calendar\" para atualziar o eventId de pendente para confirmado. Informar ao cliente de que já recebemos o seu pagamento e acabamos de confirmar a sua consulta.\n\n<exemplos>\n  <exemplo>\n    Departamento atual: <departamento>secretaria</departamento>\n    Human: <paymentStatus>OVERDUE</paymentStatus><paymentId>pay_qazvdudbcqa17x7r</paymentId>\n    AI: Deletar Evento1 tool call\n    AI: { \"mensagem\": \"Olá Rangel, infelizmente não foi possivel localizar o seu pagamento e neste caso, o pré-agendamento que estava como pendente foi excluido. Gostaria de fazer um novo agendamento?\", \"departamento\": \"secretaria\" }\n  </exemlo>\n  <exemplo>\n    Departamento atual: <departamento>secretaria</departamento>\n    Human: <paymentStatus>RECEIVED</paymentStatus><paymentId>pay_qazvdudbcqa17x7r</paymentId>\n    AI: update_calendar tool call\n    AI: { \"mensagem\": \"Olá Rangel, gostaria de informar que já recebemos o seu pagamento e acabamos de confirmar a sua consulta\", \"departamento\": \"secretaria\" }\n  </exemlo>\n  <exemplo>\n    Departamento atual: <departamento>teste</departamento>\n    Human: <mensagemHumano>Voce precisa de uma ajuda espeecializada</mensagemHumano>\n    AI: { \"mensagem\": \"Voce precisa de uma ajuda espeecializada\", \"departamento\": \"teste\" }\n  </exemlo>\n  <exemplo>\n    Departamento atual: <departamento>teste</departamento>\n    Human: Ola eu gostaria de agendar a minha consulta para o serviço de clareamento dental. Voces teriam disponibilidade para amanha pela manha?\n    AI: Calculator1 tool call -  Only INTEGERS\n    AI: get_many tool call\n    AI: { \"mensagem\": \"Amanhã pela manhã está disponível para o agendamento de um clareamento dental. Você gostaria de agendar para algum horário específico entre 8h e 12h?\", \"departamento\": \"teste\" }\n  </exemlo>\n  <exemplo>\n    Departamento atual: <departamento>teste</departamento>\n    Human: A eu tenho interesse sim. Poderia ser amanha as 10 da manha?\n    AI: Calculator1 tool call -  Only INTEGERS\n    AI: get_many tool call\n    AI: { \"mensagem\": \"Amanhã as 10h está disponível para o agendamento . Posso confirmar?\", \"departamento\": \"teste\" }\n  </exemlo>\n  </exemplo>\n  <exemplo>\n    Departamento atual: <departamento>teste</departamento>\n    Human: Eu preciso agendar o meu clareamento dental. teria disponibilidade para hoje de tarde? obrigado\n    AI: Calculator1 tool call -  Only INTEGERS\n    AI: get_many tool call\n    AI: { \"mensagem\": \"Hoje à tarde está disponível para o agendamento de um clareamento dental. Você gostaria de agendar para algum horário específico entre 13h e 21h?\", \"departamento\": \"teste\" }\n    Human: Pode ser as 13h.\n    AI: Calculator1 tool call -  Only INTEGERS\n    AI: { \"mensagem\": \"Sua consulta de clareamento dental foi agendada para hoje às 13h com a Flavia. Posso já gerar o PIX desta consulta?\", \"departamento\": \"teste\", \"eventId\": \"87aw898ad807d80s\",  \"calendarioId\": \"c_f1584a79804ce179cfa693d02395eba6f339089502d9847ba95892c1394d9605@group.calendar.google.com\"\", \"calendarioNome\": \"Flavia\" }\n    Human: Pode gerar sim.\n    AI: { \"mensagem\": \"Gerar o PIX para o cliente\", \"departamento\": \"financeiro\" }\n  </exemplo>\n  <exemplo>\n    Departamento atual: <departamento>secretaria</departamento>\n    Human: Perdão, poderia ser com a Karine no mesmo horario esta consulta? obrigado\n    AI: Calculator1 tool call -  Only INTEGERS\n    AI: Deletar Evento1 tool call\n    AI: get_many tool call. Example when it returns events on the same requested date and time\n    AI: { \"mensagem\": \"Desculpe mas a Karine está já ocupada neste horario, poderia agendar com outro profissional?\", \"departamento\": \"secretaria\" }\n  </exemlo>\n<exemplos>"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[7696,4736],"id":"ec5a57a6-1c3c-4c75-bb67-60da55822847","name":"agente_secretaria"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f1e9e8eb-6578-4a48-8a36-292501188729","leftValue":"={{ $json.clienteData.email !== undefined && $json.clienteData.nome !== undefined && $json.clienteData.cpf !== undefined }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[8416,4496],"id":"4952369f-5fb7-4b34-b78a-c094bba8bdaa","name":"cadastro_completo"},{"parameters":{"promptType":"define","text":"=<mensagem>{{ $('secretaria_wh').item.json.body.mensagem }}</mensagem>","options":{"systemMessage":"=Departamento atual: <departamento>{{ $json.clienteDepartamento }}</departamento>\n\n<departamentos>\n {{ $json.departamentos.map(item => `\n  <departamento_descricao>\n   <departamento>${item.departamento}</departamento>\n   <regra_de_transferencia>\n    ${item.regras}\n   </regra_de_transferencia>\n </departamento_descricao>\n`)  }}\n</departamentos>\n\n<cpf_formato>\nRegEx:\n^([-\\.\\s]?(\\d{3})){3}[-\\.\\s]?(\\d{2})$\n\nTest:\n345.753.428-40\nTest:\n345.753.422.99\nTest:\n123-543-667.54\nTest:\n123 456 789 01\nTest:\n34575342840\n</cpf_formato>\n\nVocê é uma secretária virtual projetada para gerenciar de forma eficiente e amigável o cadastro do cliente antes de realizar uma consulta. Seu nome é \"Jurema\" e você trabalha para a OdontoClinic Londrina.\n\nA sua função é solicitar o Nome, email e CPF do cliente.\n\nO Email tem que ser válido. Caso contrário, solicite ao cliente para informar um email válido.\n\nO CPF tem que ser válido. Consulte as regras e exemplos em <cpf_formato></cpf_formato> de como validar o CPF. Caso contrário, solicite ao cliente para informar um CPF válido.\n\nUse a tool \"atualizar_cliente_cadastro\" assim que o cliente responder essas 3 informações. \n\nApós atualizar o cadastro usando a tool atualizar_cliente_cadastro, pergunte então qual a preferência de dia e horario do cliente.\n\nNão informe que já estarea checando a disponibilidade. Termine sempre com uma pergunta.\n\n\nREGRAS PRINCIPAIS:\n\nMantenha respostas curtas e objetivas\nSeja sempre cordial e prestativa\nVocê deve avaliar a mensagem do cliente e decidir entre transferir ou responder diretamente\n\nPROCESSO DE DECISÃO:\n\nIdentifique a necessidade na mensagem\nConsulte as <regra_de_transferencia> \n\nEscolha entre as duas ações possíveis:\n\nApenas responder ao cliente com uma <mensagem>\n\nOu transferir o cliente de departamento e com uma <mensagem> para o departtamento ao qual o cliente será transferido.\n\nNão informe ao cliente sobre a transferência.\n\nSempre responda o cliente, quando não souber o que responder, avise que irá chamar um assistente para lhe ajudar.\n\nQuando houver uma <mensagemHumano></mensagemHumano> dentro de <mensagem></mensagem> responda o que estiver na <mensagemHumano></mensagemHumano> e continue no <departamento>{{ $json.clienteDepartamento }}</departamento>, não é para transferir o cliente para o departamento humano neste caso. Isto significa que um humano, responsável por este serviço respondeu ao cliente.\n\nResponda apenas usando o formato em JSON, sem aspas. Apenas o JSON.\n\n<output_schema>\n{ \n  \"mensagem\": STRING, \n  \"departamento\": STRING\n}\n</output_schema>\n\nCertifique-se de que na mensagem final ela está usando o formato descrito em <output_schema>.\n\n<exemplos>\n  <exemplo>\n    Human: Eu preciso agendar o meu clareamento dental. teria disponibilidade para hoje de tarde? obrigado\n    AI: { \"mensagem\": \"Para realizar o agendamento da consulta, poderia por gentileza me passar o seu nome, email e cpf?\", \"departamento\": \"secretaria\" }\n    Human: Claro, Guilherme Reis, teste@gmail.com e 07216216127\n    AI: atualizar_cliente_cadastro tool call\n    AI: Obrigada! Você possui alguma preferência de dia e horário para a consulta?\n  </exemlo>\n  <exemplo>\n  Departamento atual: <departamento>secretaria</departamento>\n  Human: <mensagemHumano>Voce precisa de uma ajuda espeecializada</mensagemHumano>\n  AI: { \"mensagem\": \" Voce precisa de uma ajuda espeecializada\": \"secretaria\" }\n  </exemlo>\n<exemplos>"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[8672,4288],"id":"2da6c625-22a3-48af-9676-b25046bcd430","name":"agente_auxiliar_secretaria"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.clienteNumero }}","tableName":"ao_secretaria_chat","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[8800,4512],"id":"ab070761-f4a2-4c57-99a8-cc19bf55165a","name":"Postgres Chat Memory3","credentials":{"postgres":{"id":"nsOiHzh3N4NwMXr4","name":"Postgres account - ICLP"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"mensagem\": \"{{ $json.mensagem }}\",\n  \"departamento\": \"{{ $json.departamento }}\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[9216,4288],"id":"cf508180-3b07-4afe-ade8-32b88d4433a0","name":"Respond to Webhook6"},{"parameters":{"mode":"raw","jsonOutput":"={{ JSON.parse($json.output) }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[9024,4288],"id":"b9015c14-ed53-41b9-8418-1069af9a8372","name":"tratamento3"},{"parameters":{"toolDescription":"Use esta tool para atualizar o cadastro do cliente. Use o formato JSON { nome: STRING, email: STRING, cpf: STRING } no campo data. O campo data é do tipo objeto.","method":"PATCH","url":"={{ $('config2').item.json.url_webhook_n8n }}/webhook/agente-ofir/v1/cliente","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"parametersBody":{"values":[{"name":"numero","valueProvider":"fieldValue","value":"={{ $json.clienteNumero }}"},{"name":"departamento","valueProvider":"fieldValue","value":"={{ $json.clienteDepartamento }}"},{"name":"data"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[8944,4512],"id":"576ed2d1-84ec-44d8-a796-5f2c9e190d0b","name":"atualizar_cliente_cadastro"},{"parameters":{"descriptionType":"manual","toolDescription":"Use essa ferramenta para confirmar um evento quando receber uma informação de <paymentStatus>Pagamento recebido</paymentStatus>","operation":"update","calendar":{"__rl":true,"value":"={{ $fromAI(\"calendarioId\",\"<calendario><calendarioId></calendarioId></calendario>\") }}","mode":"id"},"eventId":"={{ $fromAI(\"eventId\",\"Id do evento que deve ser alterado\") }}","updateFields":{"summary":"=confirmado | Consulta agendada. Telefone {{ $('puxar_cliente5').item.json.clienteNumero.split(\"@\")[0] }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[8352,4992],"id":"429b269e-3b21-4fda-82cf-7c6f4da05f4c","name":"update_calendar"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[5456,3264],"id":"2b201e05-a720-400d-9aec-29c80c42d226","name":"When clicking ‘Test workflow’"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  const { departamentos, ...rest } = item.json;\n  const departamentosArray = [];\n\n  Object.entries(item.json.departamentos).forEach(([key, value]) => {\n    departamentosArray.push({\n      departamento: key,\n      regras: value\n    });\n  });\n\n  item.json = { departamentos: departamentosArray, ...rest }\n  \n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6816,4592],"id":"995850af-9a27-4e44-895b-639c83e0a6ed","name":"departamentos_tratamento"},{"parameters":{"model":"gpt-4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[7552,4992],"id":"529cfb13-c7f9-4c81-8b88-804b715ff9ab","name":"OpenAI Chat Model3"},{"parameters":{"model":"gpt-4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[8656,4512],"id":"17d87079-3c42-4a16-86cc-71bbccac2be6","name":"OpenAI Chat Model4"},{"parameters":{"method":"POST","url":"={{ $('config3').item.json.url_api_whatsapp }}/message/sendText/{{ $('config3').item.json.instance }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"=number","value":"={{ $('puxar_cliente2').item.json.clienteNumero }}"},{"name":"=text","value":"=Temos um lead que precisa do seu retorno"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6432,5104],"id":"5df7a278-8e7d-4e5f-b7ba-77dea37608ce","name":"WhatsApp Text1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[9184,3424],"id":"7b7ca293-0ac0-42fd-ae59-345d1a16dc21","name":"Node"},{"parameters":{"fieldToSplitOut":"mensagem","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[8816,3504],"id":"013ed6b0-9726-42eb-be79-51807ff59b38","name":"msgs1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[8992,3504],"id":"840a7358-aca1-46cd-b3f8-86d2b6b724e1","name":"single_msg"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  item.json.mensagem = $input.last().json.mensagem\n    .replace(/\\*\\*/g, '*') // substitui ** por *\n    .split('\\n\\n');\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[8624,3504],"id":"0e43b276-c864-4844-990d-7ea036a300d2","name":"split_output"},{"parameters":{"content":"## Split message + reply\n\nWe will split the model's output message and reply each individual chunk by delaying 1 second.","height":820,"width":940},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8512,3184],"id":"c9a9688f-f814-4514-b1a9-f650ae0dfc19","name":"Sticky Note20"},{"parameters":{"method":"POST","url":"={{ $('config').item.json.url_api_whatsapp }}/message/sendText/{{ $('config').item.json.instance }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"=number","value":"={{ $('puxar_cliente').item.json.clienteNumero }}"},{"name":"=text","value":"={{ $json.mensagem }}"},{"name":"=delay","value":"={{ Number(0) }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9184,3600],"id":"dae3f5b2-7e2e-4843-a01a-d9a759ea76f4","name":"WhatsApp Text"},{"parameters":{"assignments":{"assignments":[{"id":"a2d7d0bb-f307-46cd-9a7e-6784493f0444","name":"numero","value":"={{ $json.body.data?.key?.remoteJid ?? $json.body.numero}}","type":"string"},{"id":"d910cf27-2143-4aad-9838-72f671cca83a","name":"pushName","value":"={{ $json?.body?.data?.pushName ?? \"Novo lead\" }}","type":"string"},{"id":"c1bcd8a2-8818-4b95-a1cc-e7eb3d8aa48d","name":"mensagem","value":"={{ $json?.body?.data?.message?.conversation || $json?.body?.data?.message?.extendedTextMessage?.text || $json?.body?.data?.message?.ephemeralMessage?.message?.extendedTextMessage?.text }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6032,3056],"id":"a1680ec5-b204-4c7a-8d4f-fa3fe6bd2a9d","name":"variables"},{"parameters":{"content":"rodar para limpar todas as tabelas","height":274.7923843700217,"width":273.1627906976745,"color":3},"id":"ea77b6cc-d38e-4f52-a19f-c14a709f01a2","name":"Sticky Note17","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6096,3792]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"17b6fa1c-f4ea-4c75-9c9e-1a43900dbc58","leftValue":"={{ $json.body.apikey }}","rightValue":"={{ $json.evolutionApiKey }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"70c82c3b-7619-4b50-899f-17931323d19d","leftValue":"={{ $json.body.event }}","rightValue":"messages.upsert","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{"ignoreCase":true}},"id":"266d3847-74b5-40c4-918b-6f36119d1c72","name":"auth1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6240,3056]},{"parameters":{"content":"## Configuração","height":240,"width":190},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5696,4272],"id":"dff5ec26-ec86-477a-a563-ec2c3afe2281","name":"Sticky Note21"},{"parameters":{"content":"# COMO USAR O AGENTE\n## ASSISTA O VIDEO NA COMUNIDADE DINASTIA\n## https://www.dinastia.uk/links-bio\n\n# CONFIGURAR AS CREDENCIAIS\n## WEBHOOK\n## WHASTAPP\n## BANCO DE DADOS\n## MEMORIA\n## LLM\n## CALENDARIO\n## CLICKUP\n\n# CONFIGURAR AS VARIAVEIS\n## CONFIG 1 AO 7\n\n# ATIVAR O FLUXO\n\n# CONFIGURAR BANCO DE DADOS","height":860,"width":720,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4592,2704],"id":"8f359622-7f37-4e8b-a963-ee389a66e8f0","name":"Sticky Note24"}],"connections":{"ia_secretaria":{"main":[[{"node":"agente_retorno","type":"main","index":0}]]},"tratamento":{"main":[[{"node":"puxar_cliente","type":"main","index":0}]]},"humano":{"main":[[{"node":"agente_retorno","type":"main","index":0}]]},"tratamento_cliente":{"main":[[{"node":"departamento","type":"main","index":0}]]},"mensagem":{"main":[[{"node":"departamento","type":"main","index":0}]]},"atualizar_cliente2":{"main":[[{"node":"tratamento_cliente","type":"main","index":0}]]},"transferir_cliente":{"main":[[{"node":"atualizar_cliente2","type":"main","index":0}],[{"node":"split_output","type":"main","index":0}]]},"agente_retorno":{"main":[[{"node":"transferir_cliente","type":"main","index":0}]]},"departamento":{"main":[[{"node":"Stop and Error","type":"main","index":0}],[{"node":"ia_secretaria","type":"main","index":0}],[{"node":"humano","type":"main","index":0}]]},"puxar_cliente":{"main":[[{"node":"mensagem","type":"main","index":0}]]},"config":{"main":[[{"node":"variables","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"config","type":"main","index":0}]]},"config4":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"config3":{"main":[[{"node":"tratamento5","type":"main","index":0}]]},"novo_cliente":{"main":[[{"node":"criar_lead_request","type":"main","index":0}]]},"tratamento5":{"main":[[{"node":"puxar_cliente2","type":"main","index":0}]]},"comentario_transferencia":{"main":[[{"node":"adicionar_comentario_request","type":"main","index":0}]]},"notificar_quando_for_humano":{"main":[[{"node":"WhatsApp Text1","type":"main","index":0}]]},"adicionar_comentario_request":{"main":[[{"node":"notificar_quando_for_humano","type":"main","index":0}]]},"foi_transferido":{"main":[[{"node":"comentario_transferencia","type":"main","index":0}]]},"criar_lead_request":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Respond to Webhook1":{"main":[[{"node":"foi_transferido","type":"main","index":0}]]},"query_atualizar_data":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"puxar_cliente2":{"main":[[{"node":"query_atualizar_data","type":"main","index":0}]]},"atualizar_cliente":{"main":[[{"node":"config3","type":"main","index":0}]]},"criar_cliente":{"main":[[{"node":"config4","type":"main","index":0}]]},"cliente_atualizado":{"main":[[{"node":"departamentos_tratamento","type":"main","index":0}]]},"cliente_existente":{"main":[[{"node":"cliente_atualizado","type":"main","index":0}],[{"node":"novo_cliente","type":"main","index":0}]]},"cliente":{"main":[[{"node":"cliente_existente","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"cliente","type":"main","index":0}]]},"puxar_cliente5":{"main":[[{"node":"cadastro_completo","type":"main","index":0}]]},"Postgres Chat Memory2":{"ai_memory":[[{"node":"agente_secretaria","type":"ai_memory","index":0}]]},"Respond to Webhook5":{"main":[[{"node":"novo_evento","type":"main","index":0}]]},"Deletar Evento1":{"ai_tool":[[{"node":"agente_secretaria","type":"ai_tool","index":0}]]},"Criar Eventos1":{"ai_tool":[[{"node":"agente_secretaria","type":"ai_tool","index":0}]]},"Calculator1":{"ai_tool":[[{"node":"agente_secretaria","type":"ai_tool","index":0}]]},"get_many":{"ai_tool":[[{"node":"agente_secretaria","type":"ai_tool","index":0}]]},"secretaria_wh":{"main":[[{"node":"config2","type":"main","index":0}]]},"novo_evento":{"main":[[{"node":"puxar_consulta","type":"main","index":0}]]},"puxar_consulta":{"main":[[{"node":"atualizar_consultaData_request","type":"main","index":0}]]},"config2":{"main":[[{"node":"sorteio_calendario","type":"main","index":0}]]},"sorteio_calendario":{"main":[[{"node":"puxar_cliente5","type":"main","index":0}]]},"tratamento4":{"main":[[{"node":"Respond to Webhook5","type":"main","index":0}]]},"agente_secretaria":{"main":[[{"node":"tratamento4","type":"main","index":0}]]},"cadastro_completo":{"main":[[{"node":"agente_secretaria","type":"main","index":0}],[{"node":"agente_auxiliar_secretaria","type":"main","index":0}]]},"agente_auxiliar_secretaria":{"main":[[{"node":"tratamento3","type":"main","index":0}]]},"Postgres Chat Memory3":{"ai_memory":[[{"node":"agente_auxiliar_secretaria","type":"ai_memory","index":0}]]},"tratamento3":{"main":[[{"node":"Respond to Webhook6","type":"main","index":0}]]},"atualizar_cliente_cadastro":{"ai_tool":[[{"node":"agente_auxiliar_secretaria","type":"ai_tool","index":0}]]},"update_calendar":{"ai_tool":[[{"node":"agente_secretaria","type":"ai_tool","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"config","type":"main","index":0}]]},"departamentos_tratamento":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"agente_secretaria","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"agente_auxiliar_secretaria","type":"ai_languageModel","index":0}]]},"msgs1":{"main":[[{"node":"single_msg","type":"main","index":0}]]},"single_msg":{"main":[[{"node":"Node","type":"main","index":0}],[{"node":"WhatsApp Text","type":"main","index":0}]]},"split_output":{"main":[[{"node":"msgs1","type":"main","index":0}]]},"WhatsApp Text":{"main":[[{"node":"single_msg","type":"main","index":0}]]},"variables":{"main":[[{"node":"auth1","type":"main","index":0}]]},"rodar_agente":{"main":[[{"node":"tratamento","type":"main","index":0}]]},"auth1":{"main":[[{"node":"tratamento","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.dinastia.uk","user-agent":"axios/1.7.9","content-length":"774","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"177.78.20.96","x-forwarded-host":"n8n.dinastia.uk","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"53a0bfbe0604","x-real-ip":"177.78.20.96"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"DinastIA","data":{"key":{"remoteJid":"5517997466835@s.whatsapp.net","fromMe":true,"id":"3AC7B819E7DD143F375B"},"pushName":"Braulio Dias Ribeiro","status":"SERVER_ACK","message":{"conversation":"Oiii"},"contextInfo":{"expiration":604800,"ephemeralSettingTimestamp":"1743379012","disappearingMode":{"initiator":"INITIATED_BY_ME","trigger":"ACCOUNT_SETTING","initiatedByMe":true}},"messageType":"conversation","messageTimestamp":1745938085,"instanceId":"dda6d95b-8e1c-433c-bef9-215c5aca82ba","source":"ios"},"destination":"https://n8n.dinastia.uk/webhook/api/v1/chat","date_time":"2025-04-29T11:48:05.910Z","sender":"5517997466835@s.whatsapp.net","server_url":"https://evoapi.bdrtec.com.br","apikey":"FF19DF0A7A4B-4A66-A7AA-774E0D28147F"},"webhookUrl":"https://n8n.dinastia.uk/webhook/api/v1/chat","executionMode":"production"}}],"config":[{"json":{"headers":{"host":"n8n.dinastia.uk","user-agent":"axios/1.7.9","content-length":"774","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"177.78.20.96","x-forwarded-host":"n8n.dinastia.uk","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"53a0bfbe0604","x-real-ip":"177.78.20.96"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"DinastIA","data":{"key":{"remoteJid":"5517997466835@s.whatsapp.net","fromMe":true,"id":"3AC7B819E7DD143F375B"},"pushName":"Braulio Dias Ribeiro","status":"SERVER_ACK","message":{"conversation":"Oiii"},"contextInfo":{"expiration":604800,"ephemeralSettingTimestamp":"1743379012","disappearingMode":{"initiator":"INITIATED_BY_ME","trigger":"ACCOUNT_SETTING","initiatedByMe":true}},"messageType":"conversation","messageTimestamp":1745938085,"instanceId":"dda6d95b-8e1c-433c-bef9-215c5aca82ba","source":"ios"},"destination":"https://n8n.dinastia.uk/webhook/api/v1/chat","date_time":"2025-04-29T11:48:05.910Z","sender":"5517997466835@s.whatsapp.net","server_url":"https://evoapi.bdrtec.com.br","apikey":"FF19DF0A7A4B-4A66-A7AA-774E0D28147F"},"webhookUrl":"https://n8n.dinastia.uk/webhook/api/v1/chat","executionMode":"production","url_webhook_n8n":"https://n8n.dinastia.uk","url_api_whatsapp":"https://evoapi.bdrtec.com.br","instance":"https://evo.dinastia.uk","evolutionApiKey":"FF19DF0A7A4B-4A66-A7AA-774E0D28147F"}}]},"versionId":"03c4669f-ad24-4291-98ac-e5692f1c53d5","triggerCount":0,"shared":[{"createdAt":"2025-09-19T20:36:07.051Z","updatedAt":"2025-09-19T20:36:07.051Z","role":"workflow:owner","workflowId":"9QzdmhWKxKtSOLDN","projectId":"R66ikVn5xqf0nYcA"}],"tags":[{"createdAt":"2025-09-19T20:55:07.295Z","updatedAt":"2025-09-19T20:55:07.295Z","id":"QBoCXEA5B54UaNKx","name":"AO-v1.6"},{"createdAt":"2025-09-19T20:35:00.293Z","updatedAt":"2025-09-19T20:35:00.293Z","id":"au9OhQpV15yJhvB6","name":"ClinicAI-v1.3"},{"createdAt":"2025-09-19T20:33:40.706Z","updatedAt":"2025-09-19T20:33:40.706Z","id":"6oMSEIgDB0WnjXBn","name":"ClinicAI-v1"}]}