prueba_claude3-AReCnl1YHIHaxDEn.json
{"createdAt":"2025-08-18T03:46:49.605Z","updatedAt":"2025-09-07T14:25:04.430Z","id":"AReCnl1YHIHaxDEn","name":"prueba_claude3","active":false,"isArchived":true,"nodes":[{"parameters":{"databaseId":256795,"tableId":606371,"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', `Devuelve la matricula del medico que pidio el paciente\n\nSi no pidio un doctor en especifico, devuelve una lista de medicos con esa especialidad y su matricula`, 'boolean') }}","additionalOptions":{}},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[-3384,460],"id":"906a8bc4-c390-4a8f-9ba5-9052906beeb8","name":"obtener_medicos_matricula","credentials":{"baserowApi":{"id":"ZpGSFHDmV88Zga8O","name":"Baserow account"}}},{"parameters":{"databaseId":256795,"tableId":606737,"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', `Devuelve solo el campo 'Estudio'\n\nEsto nos dara informacion sobre los estudios que realiza el instituto`, 'boolean') }}","additionalOptions":{}},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[-3264,460],"id":"8f4aea96-dcfe-483f-bd38-338a99ba3b2e","name":"obtener_estudios","credentials":{"baserowApi":{"id":"ZpGSFHDmV88Zga8O","name":"Baserow account"}}},{"parameters":{"description":"Llama a este subflujo cuando se necesita saber los horarios disponibles de un medico","workflowId":{"__rl":true,"value":"kmoVJGP4RL3PTi16","mode":"list","cachedResultName":"Turno-medico-mas-proximo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"matricula":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('matricula', `Matricula del medico encontrada desde obtener_medicos_especialidades o pgvector\n\nEs unicamente un dato de tipo NUMBER`, 'number') }}","dni":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dni', `DNI o cedula de identidad provista por el paciente\n\nEjemplo: 42028075`, 'number') }}","fechaDesde":"={{ DateTime.now().setZone('America/Argentina/Buenos_Aires').toFormat('yyyyMMdd') }}"},"matchingColumns":["matricula"],"schema":[{"id":"matricula","displayName":"matricula","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"fechaDesde","displayName":"fechaDesde","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-3144,460],"id":"fa4ec583-5350-4365-9acf-7bd70861c964","name":"horarios_medicos_disponibles"},{"parameters":{"description":"Confirma un turno médico para el paciente. Requiere DNI, matrícula del médico, fecha y hora. Convierte automáticamente los formatos de fecha (a timestamp) y hora (a HHMM) para la API.","workflowId":{"__rl":true,"value":"H4tsNj9SnsCxET4y","mode":"list","cachedResultName":"ICLP - Subflujo_Tomar_Turno"},"workflowInputs":{"mappingMode":"defineBelow","value":{"dni":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dni', `Documento/DNI proporcionado por el paciente`, 'number') }}","matricula":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('matricula', `matricula del medico que va a obtener el turno`, 'number') }}","fecha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha', `El dia que el paciente quiere el turno`, 'string') }}","hora":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora', `La hora que el paciente quiere el turno`, 'string') }}","nombre_completo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre_completo', `Nombre y apellido completo del paciente proporcionado por el usuario en la conversación. DEBE ser específico, NO usar nombres genéricos como 'Paciente'. Ejemplo: 'Juan Carlos Pérez'`, 'string') }}","obra_social":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('obra_social', `Obra social del paciente si la tiene, o 'particular' si no tiene obra social. Ejemplo: 'OSDE', 'Swiss Medical', 'particular'`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"matricula","displayName":"matricula","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"hora","displayName":"hora","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"nombre_completo","displayName":"nombre_completo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"obra_social","displayName":"obra_social","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-3024,460],"id":"a9ca5253-1166-41f5-84de-2f6e30d00f1f","name":"tomar_turno_paciente"},{"parameters":{"assignments":{"assignments":[{"id":"prompt_contexto_base","name":"prompt_contexto_base","value":"Eres el Asistente Médico Digital del Instituto de Cardiología La Plata (ICLP).\n\n**DATOS INSTITUCIONALES**:\n• Ubicación: Calle 6 Nro. 212, La Plata (entre 36 y 37)\n• Horario: Lunes a Viernes 8:00-20:00hs / Sábado 8:00-13:00hs\n• Teléfono: (0221) 427-1000 | Recetas: interno 29\n• Email recetas: recetas@iclpsrl.com.ar\n• Web: https://www.iclp.com.ar/\n\n**PERSONALIDAD**: Profesional, resolutivo, empático. Usas voseo argentino.","type":"string"},{"id":"prompt_reglas_criticas","name":"prompt_reglas_criticas","value":"**REGLAS INDISCUTIBLES**:\n• NUNCA agendar turnos para ESTUDIOS\n• NUNCA dar consejos médicos o diagnósticos\n• NUNCA dar precios\n• URGENCIAS: 'Para urgencias llamá al 107'","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3860,80],"id":"350b2e44-c6fd-4d39-9046-60c824617161","name":"Prompt_Base_Config"},{"parameters":{"jsCode":"// Generar prompt dinámico basado en intención\n// Obtener datos del nodo anterior (If/Formateador) y del nodo actual (Prompt_Base_Config)\nlet intencion = 'GENERAL';\n\n// Obtener intención del input anterior\ntry {\n  // El $input.first() contiene los datos del nodo anterior (If)\n  const inputData = $input.first();\n  if (inputData && inputData.json && inputData.json.intencionNormalizada) {\n    intencion = inputData.json.intencionNormalizada;\n  }\n} catch (error) {\n  console.log('Error obteniendo intención:', error.message);\n  intencion = 'GENERAL';\n}\n\n// Obtener contexto base del nodo actual (Prompt_Base_Config)\nconst contextoBase = $json.prompt_contexto_base;\nconst reglasCriticas = $json.prompt_reglas_criticas;\n\nlet promptEspecifico = '';\n\nswitch(intencion) {\n  case 'AGENDAR_TURNO':\n  case 'TURNO_MEDICO':\n  case 'CONSULTORIO_AGENDAR':\n    promptEspecifico = `**FLUJO TURNO**:\n1. Validar paciente con Flujo_padron\n2. Obtener especialidad/médico\n3. RECOPILAR DATOS COMPLETOS:\n   - Nombre y apellido completo\n   - DNI confirmado\n   - Obra Social\n4. Buscar disponibilidad\n5. Confirmar y agendar`;\n    break;\n    \n  case 'CANCELAR_TURNO':\n  case 'CONSULTORIO_CANCELAR':\n    promptEspecifico = `**FLUJO CANCELACIÓN**:\n1. Obtener DNI\n2. Ejecutar Lista_Turnos\n3. Confirmar turno específico\n4. Ejecutar eliminar_Turno`;\n    break;\n    \n  case 'ESTUDIO_TURNO':\n    promptEspecifico = `**FLUJO ESTUDIO**:\n1. NO usar herramientas de agenda\n2. Ejecutar llamaToolStudios\n3. Responder: derivación a recepcionista`;\n    break;\n    \n  case 'OTRO':\n    promptEspecifico = `**FLUJO CONSULTA GENERAL**:\n1. Analizar la consulta del paciente\n2. Si menciona un médico específico, buscar en obtener_medicos_matricula\n3. Si es para turno médico, recopilar datos completos\n4. Responder de manera profesional y empática`;\n    break;\n    \n  default:\n    promptEspecifico = `**FLUJO GENERAL**:\n1. Analizar consulta\n2. Usar herramientas apropiadas\n3. Responder profesionalmente`;\n}\n\n// Crear fecha actual sin usar sintaxis de n8n\nconst fechaActual = new Date().toLocaleString('es-AR', {\n  weekday: 'long',\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\nconst promptFinal = `${contextoBase}\n\n${reglasCriticas}\n\n${promptEspecifico}\n\nHOY ES: ${fechaActual}`;\n\nreturn [{\n  json: {\n    system_prompt: promptFinal,\n    intencion_detectada: intencion,\n    contexto_base: contextoBase,\n    reglas_criticas: reglasCriticas,\n    processed_at: new Date().toISOString()\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3580,80],"id":"f20be685-229e-4c86-a046-d810db4efb55","name":"Prompt_Dinamico_Generator"},{"parameters":{"jsCode":"// Sistema de memoria conversacional sin LangChain\n// Obtener datos de manera segura\nconst variables = $('variables')?.item?.json || {};\nconst conversationId = variables.conversationId || 'unknown';\nconst message = variables.message || '';\nconst memoryKey = `conversation_${conversationId}`;\nconst maxMessages = 8;\n\n// Validar que tenemos los datos necesarios\nif (!conversationId || conversationId === 'unknown') {\n  return [{\n    json: {\n      error: 'No conversation ID found',\n      conversation_context: '',\n      message_count: 0,\n      memory_enabled: false\n    }\n  }];\n}\n\n// Simular Redis con memoria local\nif (typeof global.conversationMemory === 'undefined') {\n  global.conversationMemory = {};\n}\n\n// Obtener historial existente\nlet conversationHistory = global.conversationMemory[memoryKey] || [];\n\n// Agregar nuevo mensaje solo si no está vacío\nif (message && message.trim() !== '') {\n  conversationHistory.push({\n    timestamp: new Date().toISOString(),\n    role: 'user',\n    content: message.trim(),\n    conversation_id: conversationId\n  });\n  \n  // Mantener solo los últimos N mensajes\n  if (conversationHistory.length > maxMessages) {\n    conversationHistory = conversationHistory.slice(-maxMessages);\n  }\n  \n  // Guardar en memoria\n  global.conversationMemory[memoryKey] = conversationHistory;\n}\n\n// Crear contexto de conversación para el prompt\nconst conversationContext = conversationHistory.length > 0 \n  ? conversationHistory.map(msg => `${msg.role}: ${msg.content}`).join('\\n')\n  : 'Primera interacción';\n\nreturn [{\n  json: {\n    conversation_id: conversationId,\n    conversation_context: conversationContext,\n    message_count: conversationHistory.length,\n    memory_enabled: true,\n    current_message: message,\n    memory_key: memoryKey\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5200,1210],"id":"186d68ee-e632-4430-be3f-41d97080ae47","name":"Memory_Conversacional"},{"parameters":{"jsCode":"// Sistema de cola simple para rate limiting\nconst conversationId = $('variables').item.json.conversationId;\nconst queueKey = 'baserow_queue';\nconst activeKey = 'baserow_active';\n\n// Simular Redis con memoria local si no está disponible\nif (!global.redisSimulator) {\n  global.redisSimulator = {\n    data: {},\n    get: function(key) { return this.data[key] || '0'; },\n    set: function(key, value) { this.data[key] = value; },\n    incr: function(key) { \n      this.data[key] = (parseInt(this.data[key]) || 0) + 1;\n      return this.data[key];\n    },\n    decr: function(key) {\n      this.data[key] = Math.max(0, (parseInt(this.data[key]) || 0) - 1);\n      return this.data[key];\n    }\n  };\n}\n\nconst redis = global.redisSimulator;\n\n// Verificar si hay demasiadas llamadas activas\nconst activeCount = parseInt(redis.get(activeKey)) || 0;\n\nif (activeCount >= 3) {\n  // Implementar cola básica\n  return [{\n    json: {\n      queued: true,\n      position: activeCount + 1,\n      message: 'Tu consulta está en cola, te respondo en un momento...',\n      wait_time: 2000\n    }\n  }];\n} else {\n  // Incrementar contador activos\n  redis.incr(activeKey);\n  \n  // Auto-decrementar después de 30 segundos\n  setTimeout(() => {\n    redis.decr(activeKey);\n  }, 30000);\n  \n  return [{\n    json: {\n      can_proceed: true,\n      active_requests: activeCount + 1,\n      conversation_id: conversationId\n    }\n  }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4980,1060],"id":"5e66c52b-9f05-4c1e-9374-ead170f7df90","name":"Rate_Limiter"},{"parameters":{"amount":500,"unit":"ms"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-4760,1060],"id":"e75fbea3-61f3-4158-9067-8947d2952bd1","name":"API_Delay","webhookId":"44a0fe85-4ed7-4626-9e46-0b6f895e13a1"},{"parameters":{"jsCode":"// Sistema de caché para datos médicos\nconst especialidad = $json.especialidad || 'all';\nconst cacheKey = `medicos:${especialidad}`;\nconst TTL = 4 * 60 * 60 * 1000; // 4 horas en ms\n\n// Simular caché con memoria local\nif (!global.medicosCache) {\n  global.medicosCache = {\n    data: {},\n    timestamps: {}\n  };\n}\n\nconst cache = global.medicosCache;\nconst now = Date.now();\n\n// Verificar si existe y no ha expirado\nif (cache.data[cacheKey] && cache.timestamps[cacheKey]) {\n  const age = now - cache.timestamps[cacheKey];\n  if (age < TTL) {\n    return [{\n      json: {\n        cached: true,\n        data: cache.data[cacheKey],\n        source: 'memory_cache',\n        cache_age_minutes: Math.round(age / 60000),\n        cache_key: cacheKey\n      }\n    }];\n  } else {\n    // Caché expirado, limpiar\n    delete cache.data[cacheKey];\n    delete cache.timestamps[cacheKey];\n  }\n}\n\n// No hay caché válido, proceder con Baserow\nreturn [{\n  json: {\n    cached: false,\n    needs_baserow: true,\n    cache_key: cacheKey,\n    ttl_hours: 4\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4540,1060],"id":"42e62aa5-978a-4670-a5e8-44b08f880518","name":"Cache_Check"},{"parameters":{"jsCode":"// Actualizar caché después de consulta Baserow\nconst cacheKey = $('Cache_Check').item.json.cache_key;\nconst baserowData = $json;\n\nif (!global.medicosCache) {\n  global.medicosCache = {\n    data: {},\n    timestamps: {}\n  };\n}\n\nconst cache = global.medicosCache;\n\ntry {\n  // Guardar en caché\n  cache.data[cacheKey] = baserowData;\n  cache.timestamps[cacheKey] = Date.now();\n  \n  return [{\n    json: {\n      ...baserowData,\n      cached_at: new Date().toISOString(),\n      cache_key: cacheKey,\n      cache_status: 'updated'\n    }\n  }];\n} catch (error) {\n  // Error en caché no es crítico\n  return [{\n    json: {\n      ...baserowData,\n      cache_error: error.message,\n      cache_status: 'failed'\n    }\n  }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4240,1060],"id":"10585b4c-579e-4f68-9864-86cea67551be","name":"Cache_Update"},{"parameters":{"jsCode":"// Error handler para llamadas Baserow\ntry {\n  const data = $input.all();\n  \n  // Verificar si hay datos válidos\n  if (!data || data.length === 0) {\n    return [{\n      json: {\n        error: true,\n        errorType: 'NO_DATA',\n        fallbackMessage: 'No se encontraron médicos disponibles. Te voy a derivar con una recepcionista.',\n        originalRequest: $json,\n        timestamp: new Date().toISOString()\n      }\n    }];\n  }\n  \n  // Verificar estructura de datos\n  const firstItem = data[0];\n  if (!firstItem || !firstItem.json || Object.keys(firstItem.json).length === 0) {\n    return [{\n      json: {\n        error: true,\n        errorType: 'INVALID_DATA',\n        fallbackMessage: 'Hay un problema temporal con nuestro sistema. Te voy a conectar con una recepcionista.',\n        originalRequest: $json,\n        timestamp: new Date().toISOString()\n      }\n    }];\n  }\n  \n  // Todo OK, pasar datos\n  return data.map(item => ({\n    json: {\n      ...item.json,\n      error: false,\n      processed_at: new Date().toISOString()\n    }\n  }));\n  \n} catch (error) {\n  return [{\n    json: {\n      error: true,\n      errorType: 'EXCEPTION',\n      errorMessage: error.message,\n      fallbackMessage: 'Disculpas, hay un problema técnico. Te voy a derivar con una recepcionista.',\n      originalRequest: $json,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3940,1060],"id":"179d8397-649b-40a7-8cf7-83b20cf2ec12","name":"Error_Handler_Baserow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check_error_condition","leftValue":"={{ $json.error }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-3580,1020],"id":"43865b7e-e650-4061-9ce0-2205bdb7fce5","name":"Check_Error"},{"parameters":{"assignments":{"assignments":[{"id":"fallback_response_text","name":"response","value":"={{ $json.fallbackMessage || 'Disculpas, hay un problema técnico. Te voy a derivar con una recepcionista para que te ayude personalmente.' }}","type":"string"},{"id":"requires_human_flag","name":"requires_human","value":true,"type":"boolean"},{"id":"error_logged","name":"error_details","value":"={{ JSON.stringify({ type: $json.errorType, message: $json.errorMessage, timestamp: $json.timestamp }) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2854,640],"id":"6e5112e5-d9cd-4bd8-9c86-93701c06e02e","name":"Fallback_Response"},{"parameters":{"promptType":"define","text":"=Mensaje del Paciente: {{ $('variables').item.json.message }}\n\nIntención del Paciente: {{ $json.intencion_detectada }}\n","options":{"systemMessage":"={{ $json.system_prompt }}","maxIterations":10}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-2940,240],"id":"925b1041-73fa-4260-a60d-50dc1b5a16ce","name":"Agente conversacional"},{"parameters":{"jsCode":"const textoOriginal = $json.output || \"\";\n\n// FILTRO CRÍTICO: Eliminar prioridades internas antes de mostrar al paciente\nlet textoFiltrado = textoOriginal\n  // Eliminar líneas completas que contengan prioridades\n  .replace(/^.*Prioridad\\s*[123].*:.*$/gm, '')\n  .replace(/^.*Sin Prioridad.*\\(S\\/P\\).*:.*$/gm, '')\n  .replace(/^.*S\\/P.*:.*$/gm, '')\n  // Eliminar texto específico de prioridades\n  .replace(/Prioridad\\s*[123]\\s*:/gi, '')\n  .replace(/Sin\\s*Prioridad\\s*\\(S\\/P\\)\\s*:/gi, '')\n  .replace(/S\\/P\\s*:/gi, '')\n  // Limpiar saltos de línea múltiples excesivos (más de 3)\n  .replace(/\\n{4,}/g, '\\n\\n\\n')\n  .trim();\n\n// Aplicar limpieza mínima para WhatsApp\nconst limpio = textoFiltrado\n  // Convertir ** a * para negrita de WhatsApp\n  .replace(/\\*\\*([^*]+)\\*\\*/g, '*$1*')\n  \n  // Convertir bullets markdown a bullets de WhatsApp\n  .replace(/^[-]\\s+/gm, '• ')\n  \n  // IMPORTANTE: Preservar saltos de línea y espacios\n  // NO eliminar saltos de línea simples\n  // NO comprimir espacios después de puntuación\n  \n  // Solo limpiar espacios múltiples horizontales (no verticales)\n  .replace(/[ \\t]{2,}/g, ' ')\n  \n  // Eliminar espacios al final de cada línea\n  .replace(/[ \\t]+$/gm, '')\n  \n  .trim();\n\n// Si el mensaje queda vacío, usar el original\nconst mensajeFinal = limpio.length > 0 ? limpio : textoOriginal.trim();\n\nreturn [{\n  json: {\n    texto_limpio: mensajeFinal\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1760,340],"id":"e5b9a380-45f2-407d-9754-956af58b43e4","name":"Code"},{"parameters":{"method":"POST","url":"=https://chatw.automatizaciones.ai/api/v1/accounts/{{ $('variables').item.json.accountId }}/conversations/{{ $('variables').item.json.conversationId }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"rgqHjdPeBQpVpzt2iDR2RKLp"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.texto_limpio }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1544,340],"id":"eec27faf-839e-424c-8b61-f04a0e25f5ec","name":"SendText"},{"parameters":{"modelName":"models/gemini-2.5-flash","options":{"temperature":0.1,"topP":0.5}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-4232,260],"id":"7cd3991b-6e3f-426c-bcc8-9cb7ff046897","name":"LLM","credentials":{"googlePalmApi":{"id":"y4EbL32CeQSjDRft","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat:{{ $('variables').item.json.conversationId }}_iclp","sessionTTL":132800,"contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-3504,460],"id":"bde80b4e-9636-4e2b-8389-910c6b7f9b31","name":"MEMORY","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"toolDescription":"Permite cancelar un turno médico existente. IMPORTANTE: Primero verificar con HTTP Lista_Turnos que el turno existe y está activo. Requiere la matrícula del médico, la fecha (en formato YYYYMMDD, ej: '20250708') y la hora (en formato HHMM, ej: '1430') del turno a eliminar. Si el turno ya fue cancelado, informar al usuario.","method":"PUT","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/eliminar-turno","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"},{"name":"matricula","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Matricula del medico, generalmente son 5 a 7 numeros. \nTe puedes guiar por parameters2_Value:\n111808\n`, 'string') }}"},{"name":"fecha","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `Es la fecha del turno\nTe puedes guiar por\nparameters3_Value:\n20250721`, 'string') }}"},{"name":"hora","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `Es la hora del turno te puedes guiar por\nparameters4_Value:\n1040`, 'string') }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{"neverError":true,"responseFormat":"text","outputPropertyName":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Put_Output_in_Field', `Turno cancelado exitosamente\t\"OK\" (HTTP 200)\t✅ \"OK\"\nTurno inexistente\t\"Turno inexistente.\" (HTTP 500)\t✅ \"Turno inexistente.\"\nTurno ya cancelado\t\"El turno ya fue cancelado.\" (HTTP 500)\t✅ \"El turno ya fue cancelado.\"\nError general\t\"Problema.\" (HTTP 500)\t✅ \"Problema.\"`, 'string') }}"}},"timeout":30000}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-2904,460],"id":"1eb8377e-edcc-40b5-a3fc-e9a9c34e6f60","name":"eliminar_Turno","retryOnFail":true},{"parameters":{"httpMethod":"POST","path":"agentes/v1/iclp","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-5780,-140],"id":"b1f98371-4232-44dc-b43d-8927d0b395f0","name":"Webhook","webhookId":"ab81407a-fc2f-402c-8bd5-85a9551bde3e"},{"parameters":{"assignments":{"assignments":[{"id":"16d8fd1f-7293-45ec-ba41-6041979d7964","name":"accountId","value":"={{ $json.body.messages[0].account_id }}","type":"number"},{"id":"a8eb17ea-8fda-42e5-9f1c-444826a21e51","name":"message","value":"={{ $json.body.messages[0].content }}","type":"string"},{"id":"3fe92852-b569-426e-bef7-b755cf44ddc9","name":"inboxId","value":"={{ $json.body.contact_inbox.inbox_id }}","type":"number"},{"id":"96fa0ac2-a17b-452c-bf67-cc0f3bd5d4a2","name":"contactId","value":"={{ $json.body.messages[0].sender.id }}","type":"number"},{"id":"0d77d8b4-ec6d-42e0-8a5b-fdf1b78b454d","name":"contactName","value":"={{ $json.body.messages[0].sender.name }}","type":"string"},{"id":"25487cfb-897d-4000-9ad6-99745966c526","name":"contactNumber","value":"={{ $json.body.messages[0].sender.phone_number }}","type":"string"},{"id":"1e1b0044-b199-44e0-927b-c2cabe2a281b","name":"tokenChatwoot","value":"=rgqHjdPeBQpVpzt2iDR2RKLp","type":"string"},{"id":"ad5ef314-70d7-4790-b82e-ea96a340ae12","name":"chatwootUrlBase","value":"=https://chatw.automatizaciones.ai","type":"string"},{"id":"f4bc6964-862e-4168-8bae-94e6c6ad8321","name":"eventType","value":"={{ $json.body.event }}","type":"string"},{"id":"ef4c85e4-0029-4d70-ade1-0de74711b804","name":"conversationId","value":"={{ $json.body.id }}","type":"number"},{"id":"be91191b-7e8a-4406-af97-0a18e8100e7f","name":"multimedia","value":"={{ $json?.body?.messages?.[0]?.attachments?.[0]?.file_type ? true : false }}","type":"boolean"},{"id":"a3202993-c215-4502-bf56-e7e644b35a88","name":"humano","value":"={{ $json.body.custom_attributes.humano }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5560,-140],"id":"61962caa-2331-4034-b4c9-e704b682cc77","name":"variables"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"0db9a125-ce45-48fe-b722-efbed0fc42a4","leftValue":"={{ $json.body.messages[0].sender.type }}","rightValue":"agent_bot","operator":{"type":"string","operation":"notEquals"}},{"id":"7d71d302-596d-4330-b68c-1b0502f6c7cd","leftValue":"={{ $json.body.event }}","rightValue":"message_created","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"12a51caa-5e4c-46f3-a067-79f0a52ca94b","leftValue":"={{ $json.body.messages[0].attachments[0].file_type }}","rightValue":"=file","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-5340,-140],"id":"f077f42c-3c87-4baa-b006-847d196aebfc","name":"Filter"},{"parameters":{"description":"Llama a este subflujo cuando se necesita saber los horarios disponibles de una especialidad","workflowId":{"__rl":true,"value":"9VbCzLdHQtztJk3X","mode":"list","cachedResultName":"Turno-especialidad-mas-proximo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"especialidad":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('especialidad', `especialidad del medico encontrada desde obtener_medicos_especialidades o pgvector\n\nEs unicamente un dato de tipo 3 Caracteres como: CLI\nencontrada en la tabla \"codigo\"`, 'string') }}","dni":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dni', `DNI o cedula de identidad provista por el paciente\n\nEjemplo: 42028075`, 'number') }}","fechaDesde":"={{ DateTime.now().setZone('America/Argentina/Buenos_Aires').toFormat('yyyyMMdd') }}"},"matchingColumns":[],"schema":[{"id":"especialidad","displayName":"especialidad","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"fechaDesde","displayName":"fechaDesde","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-2784,460],"id":"5687409f-2523-4044-be7f-91e5a5fe4315","name":"horarios_especialidad_disponibles"},{"parameters":{"name":"Flujo_padron","description":"Verifica si un paciente está registrado en el padrón médico mediante su DNI. Si no lo está, permite empadronarlo enviando nombre completo, DNI, obra social y teléfono. Usá esta herramienta en cualquier momento en que necesites validar si el paciente ya existe en el sistema.","workflowId":{"__rl":true,"value":"gdiHQp4cbaJJhGdl","mode":"list","cachedResultName":"ICLP - Testing - Agente Padron"},"workflowInputs":{"mappingMode":"defineBelow","value":{"texto":"={{ $('variables').item.json.message }}","celular":"={{ $('variables').item.json.contactNumber }}","dni":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dni', `Numero de documento de identidad del paciente\n\nPuede ser por ejemplo:\n42028075`, 'number') }}","paciente":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('paciente', `Nombre del paciente\n\nPuede ser por ejemplo:\nNicolas Lopez`, 'string') }}","obraSocial":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('obraSocial', `Obra social del paciente\n\nPuede ser por ejemplo:\nIOMA`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"dni","displayName":"dni","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"paciente","displayName":"paciente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"texto","displayName":"texto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"celular","displayName":"celular","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"obraSocial","displayName":"obraSocial","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[-2664,460],"id":"6193c970-d0a9-4f0f-94ef-02f5c7becc91","name":"Flujo_padron"},{"parameters":{"databaseId":256795,"tableId":606371,"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', `Devuelve la lista completa de los medicos segun la especialidad que pidio el paciente`, 'boolean') }}","additionalOptions":{"order":{"fields":[{"field":4918220}]}}},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[-2544,460],"id":"96dc3276-799c-4aa2-b31c-30a4ad8bc6e3","name":"obtener_medicos_especialidades","credentials":{"baserowApi":{"id":"ZpGSFHDmV88Zga8O","name":"Baserow account"}}},{"parameters":{"toolDescription":"Reprograma un turno existente (dni, matricula, fechaAnterior, horaAnterior, fechaNueva, horaNueva)","method":"POST","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/reprogramar-turno","sendQuery":true,"queryParameters":{"parameters":[{"name":"password","value":"Y2xpb25lcw"},{"name":"usuario","value":"WSTRRED"},{"name":"matricula","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Número de matrícula del médico asignado al turno`, 'string') }}"},{"name":"dni","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `Documento Nacional de Identidad del paciente sin puntos ni guiones.`, 'string') }}"},{"name":"fechaAnterior","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `Fecha original del turno a reprogramar, en formato numérico AAAAMMDD (ejemplo: 20250819).`, 'string') }}"},{"name":"horaAnterior","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', `Hora original del turno en formato 24 horas, sin separadores (ejemplo: 0930).`, 'string') }}"},{"name":"fechaNueva","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters6_Value', `Nueva fecha deseada para el turno, en formato numérico AAAAMMDD`, 'string') }}"},{"name":"horaNueva","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters7_Value', `Nueva hora deseada para el turno en formato 24 horas, sin separadores (ejemplo: 1230).`, 'string') }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{"neverError":true,"responseFormat":"json"}},"timeout":30000}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-2424,460],"id":"ca2de612-a904-463b-bd1d-d979fc026ccd","name":"reprogramar_Turno","retryOnFail":true},{"parameters":{"toolDescription":"Lista los turnos actuales de un paciente por DNI.Si la fecha es 8/07/2025 transformarla a 20250708","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/lista-turnos-actuales","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"=WSTRRED"},{"name":"password","value":"=Y2xpb25lcw"},{"name":"dni","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Documento de identidad proporcionado por el paciente`, 'string') }}"},{"name":"fecha","value":"={{ $now.setZone('America/Argentina/Buenos_Aires').toFormat('yyyyLLdd') }}"}]},"options":{"response":{"response":{"neverError":true}},"timeout":30000},"optimizeResponse":true,"dataField":"lista","fieldsToInclude":"selected","fields":"fecha, fechaString, hora, hora5digitos, matricula, nombreMedico, estudios"},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-2304,460],"id":"eec76c2b-aaf7-444f-a731-6e0517bb1b55","name":"Lista_Turnos","retryOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"b936cc1e-c8a5-4e63-8fb4-7cebac541b1c","name":"asunto","value":"={{ $json.text.split('|')[0].trim() }}","type":"string"},{"id":"ff857062-0bab-4152-afd4-e233cd6a5228","name":"intencion","value":"={{ $json.text.split('|')[1].trim() }}","type":"string"},{"id":"dfa8e24c-9700-425b-a266-ac74fad744c8","name":"DNI","value":"={{ $json.text.split('|')[2].trim() }}","type":"string"},{"id":"0f3cb05d-dcbc-4cb8-b433-3f99f0ba46dc","name":"Medico","value":"={{ $json.text.split('|')[3].trim() }}","type":"string"},{"id":"cf930d93-53cb-46a4-b0d8-1623047cd50d","name":"Especialidad","value":"={{ $json.text.split('|')[4].trim() }}","type":"string"},{"id":"20a9667d-5578-451e-ac06-8f43e626a31f","name":"Fecha","value":"={{ ($json.text.split('|')[5] && $json.text.split('|')[5].split(':')[1] && $json.text.split('|')[5].split(':')[1].trim() !== \"\" ? $json.text.split('|')[5].split(':')[1].trim().replace(/\\s{2,}/g, ' ') : \"Sin Destino\") }}","type":"string"},{"id":"3328ab2d-9f56-408d-aca6-90beadf22628","name":"Hora","value":"={{ ($json.text.split('|')[6] ? $json.text.split('|')[6] : \"Sin Origen Especificado\").trim().replace(/\\s{2,}/g, ' ').split(':')[1].trim() }}","type":"string"},{"id":"adfe1884-ccac-4f9a-b06b-24f919943e6d","name":"ArchivosAdjuntos","value":"={{ $json.text.split('|')[7].trim() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5200,950],"id":"13d45c24-9360-4d00-9b33-bf3f1b93194a","name":"salida"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"6dcbb235-081a-408e-a17c-b6eecd664150","leftValue":"={{ $json.intencionNormalizada }}","rightValue":"ESTUDIO_TURNO","operator":{"type":"string","operation":"equals"}},{"id":"75633605-352a-47b3-b870-7572fb978eec","leftValue":"={{ $json.tieneMultimedia }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"looseTypeValidation":true,"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4320,0],"id":"db7c02d4-b592-421b-b830-d4cde66b3152","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a0f7b709-29f4-42af-bf55-29ee500f2c07","leftValue":"={{ $json.multimedia }}","rightValue":"file","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"474975e7-e71c-42e3-8907-97884381d9e9","leftValue":"={{ $json.humano }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{"ignoreCase":false}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5120,-140],"id":"8de64002-03ef-4fc5-b8ba-80f9de72bac5","name":"tieneMultimedia"},{"parameters":{"workflowId":{"__rl":true,"value":"sJes6x6MKxKh7A0G","mode":"list","cachedResultName":"tipoEstudio Tool ⚒️⚒️"},"workflowInputs":{"mappingMode":"defineBelow","value":{"accountId":"={{ $('variables').item.json.accountId }}","conversationId":"={{ $('variables').item.json.conversationId }}","contactId":"={{ $('variables').item.json.contactId }}","message":"={{ $('variables').item.json.message }}","inboxId":"={{ $('variables').item.json.inboxId }}","humano":"={{ $('variables').item.json.humano }}","chatwootUrlBase":"={{ $('variables').item.json.chatwootUrlBase }}","tokenChatwoot":"={{ $('variables').item.json.tokenChatwoot }}","tipoIntencion":"={{ $('Formateador').item.json.intencionNormalizada }}"},"matchingColumns":[],"schema":[{"id":"accountId","displayName":"accountId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"conversationId","displayName":"conversationId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contactId","displayName":"contactId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"inboxId","displayName":"inboxId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"humano","displayName":"humano","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"chatwootUrlBase","displayName":"chatwootUrlBase","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tokenChatwoot","displayName":"tokenChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipoIntencion","displayName":"tipoIntencion","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1984,-160],"id":"3f89eb8b-b897-4105-8d79-c85fb5e1a30e","name":"llamaToolStudios"},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"user","message":"={{ $json.message ?? $('variables').item?.json?.message ?? '' }}"}]}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[-2932,-260],"id":"a90fa8dc-706e-4eae-99c2-93339df63518","name":"Chat Memory Manager"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-4320,-240],"id":"92e6d186-f62c-401c-8d9d-5c130f993cd2","name":"noOp"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat:{{ $('variables').item.json.conversationId }}_iclp","sessionTTL":132800,"contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-2844,-40],"id":"6d16f929-eafc-4d2c-ba0d-160645ef0aa3","name":"Redis Chat Memory","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[-2184,460],"id":"dc85522c-63f8-4c6c-a397-408a22928df2","name":"tool_think"},{"parameters":{"promptType":"define","text":"=mensaje_usuario: {{ $('variables').item.json.message }}\n","messages":{"messageValues":[{"message":"=# Sistema de Clasificación de Intenciones - ICLP WhatsApp\n\nEres un router de intención para WhatsApp del Instituto de Cardiología La Plata (ICLP). Tu función es clasificar la intención del mensaje, extraer datos clave y preservar el mensaje original.\n\n## DATOS DE CONTEXTO:\n- Nombre: {{ $('variables').item.json.contactName }}\n- Número: {{ $('variables').item.json.contactNumber }}\n- Conversation ID: {{ $('variables').item.json.conversationId }}\n- Mensaje del usuario: {{ $('variables').item.json.message }}\n\n## CATEGORÍAS DE INTENCIÓN (14 totales):\n\n### 🏥 Turnos de Consultorio (3):\n1. **TURNO_CONSULTORIO** - Solicita turno para consulta médica con profesional\n2. **CANCELA_TURNO_CONSULTORIO** - Cancela turno de consultorio existente\n3. **REPROGRAMA_TURNO_CONSULTORIO** - Cambia fecha/hora de consulta médica\n\n### 🔬 Turnos de Estudios (3):\n4. **TURNO_ESTUDIO** - Solicita turno para estudio diagnóstico\n5. **CANCELA_TURNO_ESTUDIO** - Cancela turno de estudio existente\n6. **REPROGRAMA_TURNO_ESTUDIO** - Cambia fecha/hora de estudio\n\n### ℹ️ Solicitudes de Información (3):\n7. **INFO_MEDICOS_ESPECIALIDADES** - Consulta sobre profesionales o especialidades\n8. **INFO_ESTUDIOS** - Pregunta qué estudios realizan o información sobre estudios\n9. **INFO_GENERAL** - Horarios, ubicación, teléfonos, página web, costos, obras sociales\n\n### 🚨 Situaciones Especiales (5):\n10. **URGENCIA** - Emergencia médica, síntomas graves o dolor agudo\n11. **QUEJA_RECLAMO** - Expresa insatisfacción, problema o queja\n12. **SALUDO_SMALLTALK** - Saludo, agradecimiento o charla casual\n13. **ARCHIVOS_ADJUNTOS** - Envía documentos, imágenes o archivos\n14. **OTRO** - No encaja en ninguna categoría anterior\n\n## REGLAS DE CLASIFICACIÓN EXHAUSTIVAS:\n\n### 🏥 TURNO_CONSULTORIO:\n**Palabras clave:** turno, consulta, cita, ver al doctor, atención\n**Frases típicas:**\n- \"Necesito turno con [especialidad/médico]\"\n- \"Quiero consulta con cardiólogo\"\n- \"Puedo sacar turno con el Dr...\"\n- \"Hay turnos disponibles para...\"\n- \"Primera vez que voy\" + contexto médico\n\n### ❌ CANCELA_TURNO_CONSULTORIO:\n**Palabras clave:** cancelar, anular, dar de baja, no voy a poder\n**Frases típicas:**\n- \"Cancelar turno con Dr. [nombre]\"\n- \"No puedo ir a mi consulta\"\n- \"Dar de baja el turno del [fecha]\"\n**Regla:** Si no especifica si es consulta o estudio → asumir CONSULTORIO\n\n### 🔄 REPROGRAMA_TURNO_CONSULTORIO:\n**Palabras clave:** cambiar, reprogramar, mover, postergar, adelantar\n**Frases típicas:**\n- \"Cambiar turno del [fecha]\"\n- \"Puedo pasar mi consulta para otro día\"\n- \"Necesito reprogramar con el Dr...\"\n\n### 🔬 TURNO_ESTUDIO:\n**Estudios comunes:** eco, ecocardiograma, eco doppler, holter, MAPA, ergometría, electrocardiograma, ECG, prueba de esfuerzo, cateterismo\n**Frases típicas:**\n- \"Turno para holter\"\n- \"Necesito hacerme un eco\"\n- \"Tengo orden para ergometría\"\n- \"Me mandaron a hacer un electrocardiograma\"\n\n### ❌ CANCELA_TURNO_ESTUDIO:\n**Identificadores:** Menciona estudio específico + cancelar\n**Frases típicas:**\n- \"Cancelar el holter del martes\"\n- \"No voy a poder hacerme el eco\"\n- \"Anular turno de ergometría\"\n\n### 🔄 REPROGRAMA_TURNO_ESTUDIO:\n**Frases típicas:**\n- \"Cambiar fecha del eco doppler\"\n- \"Mover el turno del holter\"\n- \"Reprogramar mi ergometría\"\n\n### ℹ️ INFO_MEDICOS_ESPECIALIDADES:\n**Preguntas sobre:**\n- \"¿Qué especialidades tienen?\"\n- \"¿Atiende el Dr. [nombre]?\"\n- \"¿Hay cardiólogos?\"\n- \"Lista de médicos\"\n- \"¿Qué días atiende [médico]?\"\n\n### ℹ️ INFO_ESTUDIOS:\n**Preguntas sobre:**\n- \"¿Qué estudios hacen?\"\n- \"¿Hacen resonancias?\"\n- \"¿Realizan eco doppler?\"\n- \"Información sobre el holter\"\n- \"¿En qué consiste la ergometría?\"\n\n### ℹ️ INFO_GENERAL:\n**Preguntas sobre:**\n- Horarios de atención\n- Dirección/ubicación\n- Teléfonos de contacto\n- Página web\n- Obras sociales/prepagas aceptadas\n- Costos/precios (aunque no se pueden dar)\n- Cómo sacar turno online\n- Recetas médicas\n- Preparación para estudios\n\n### 🚨 URGENCIA:\n**Síntomas de alerta:**\n- Dolor de pecho/opresión\n- Falta de aire/ahogo\n- Desmayo/mareos severos\n- Palpitaciones fuertes\n- Presión alta con síntomas\n- \"Me siento muy mal\"\n- \"Es urgente\"/\"emergencia\"\n\n### 😠 QUEJA_RECLAMO:\n**Indicadores:**\n- Tono de enojo o frustración\n- \"Es la tercera vez que...\"\n- \"Mala atención\"\n- \"Nadie me responde\"\n- \"Hace días que espero\"\n- Referencias a problemas previos\n\n### 👋 SALUDO_SMALLTALK:\n- Saludos: hola, buen día, buenas tardes, buenas noches\n- Despedidas: gracias, hasta luego, chau\n- Cortesía: por favor, disculpe\n- Sin contexto médico adicional\n\n### 📎 ARCHIVOS_ADJUNTOS:\n- Cuando el mensaje viene con archivos\n- \"Envío mi orden médica\"\n- \"Adjunto estudios\"\n- \"Mando foto de...\"\n\n## EXTRACCIÓN DE DATOS COMPLETA:\n\nExtraer TODOS estos campos si están presentes:\n- **Mensaje_Original**: El texto completo del usuario (SIEMPRE incluir)\n- **DNI**: 7-9 dígitos sin puntos (ej: 12345678)\n- **Médico**: Nombre del profesional mencionado\n- **Especialidad**: cardiología, clínica médica, etc.\n- **Fecha**: Convertir a yyyyMMdd (20240315 para 15 de marzo 2024)\n- **Hora**: Convertir a HHmm (1430 para 2:30 PM)\n- **Día_Semana**: lunes, martes, etc.\n- **Tipo_Estudio**: holter, eco, ergometría, etc.\n- **Obra_Social**: IOMA, OSDE, particular, etc.\n- **Teléfono**: Si proporciona número de contacto\n- **Email**: Si proporciona correo\n- **Archivos**: Si/No\n\n## FORMATO DE SALIDA ESTRICTO:\n\n```\n[Mensaje original completo] | [Resumen en 3-5 palabras] | Intención:[CATEGORIA] | DNI:[valor o N/D] | Medico:[valor o N/D] | Especialidad:[valor o N/D] | Fecha:[yyyyMMdd o N/D] | Hora:[HHmm o N/D] | Dia:[valor o N/D] | Estudio:[valor o N/D] | ObraSocial:[valor o N/D] | Telefono:[valor o N/D] | Email:[valor o N/D] | Archivos:[Si/No]\n```\n\n## EJEMPLOS COMPLETOS:\n\n**Entrada:** \"Hola, buen día\"\n**Salida:** `Hola, buen día | Saludo cordial | Intención:SALUDO_SMALLTALK | DNI:N/D | Medico:N/D | Especialidad:N/D | Fecha:N/D | Hora:N/D | Dia:N/D | Estudio:N/D | ObraSocial:N/D | Telefono:N/D | Email:N/D | Archivos:No`\n\n**Entrada:** \"Necesito turno con cardiólogo para la semana que viene, mi DNI es 25789456, tengo IOMA\"\n**Salida:** `Necesito turno con cardiólogo para la semana que viene, mi DNI es 25789456, tengo IOMA | Solicita turno cardiología | Intención:TURNO_CONSULTORIO | DNI:25789456 | Medico:N/D | Especialidad:Cardiología | Fecha:N/D | Hora:N/D | Dia:N/D | Estudio:N/D | ObraSocial:IOMA | Telefono:N/D | Email:N/D | Archivos:No`\n\n**Entrada:** \"Quiero cancelar el eco doppler que tengo el viernes 20 a las 10:30\"\n**Salida:** `Quiero cancelar el eco doppler que tengo el viernes 20 a las 10:30 | Cancela estudio programado | Intención:CANCELA_TURNO_ESTUDIO | DNI:N/D | Medico:N/D | Especialidad:N/D | Fecha:20240320 | Hora:1030 | Dia:viernes | Estudio:Eco doppler | ObraSocial:N/D | Telefono:N/D | Email:N/D | Archivos:No`\n\n**Entrada:** \"Me duele mucho el pecho y me falta el aire, necesito ayuda\"\n**Salida:** `Me duele mucho el pecho y me falta el aire, necesito ayuda | Emergencia síntomas cardíacos | Intención:URGENCIA | DNI:N/D | Medico:N/D | Especialidad:N/D | Fecha:N/D | Hora:N/D | Dia:N/D | Estudio:N/D | ObraSocial:N/D | Telefono:N/D | Email:N/D | Archivos:No`\n\n**Entrada:** \"El Dr. Fernández me dijo que pida turno para holter de 24hs, mi obra social es OSDE 210\"\n**Salida:** `El Dr. Fernández me dijo que pida turno para holter de 24hs, mi obra social es OSDE 210 | Solicita holter por derivación | Intención:TURNO_ESTUDIO | DNI:N/D | Medico:Dr. Fernández | Especialidad:N/D | Fecha:N/D | Hora:N/D | Dia:N/D | Estudio:Holter 24hs | ObraSocial:OSDE 210 | Telefono:N/D | Email:N/D | Archivos:No`\n\n**Entrada:** \"¿Atienden los sábados? ¿Hasta qué hora?\"\n**Salida:** `¿Atienden los sábados? ¿Hasta qué hora? | Consulta horarios sábado | Intención:INFO_GENERAL | DNI:N/D | Medico:N/D | Especialidad:N/D | Fecha:N/D | Hora:N/D | Dia:sábado | Estudio:N/D | ObraSocial:N/D | Telefono:N/D | Email:N/D | Archivos:No`\n\n## CASOS ESPECIALES Y AMBIGUOS:\n\n1. **\"Quiero un turno\"** (sin especificar) → TURNO_CONSULTORIO\n2. **\"Cancelar turno\"** (sin especificar) → CANCELA_TURNO_CONSULTORIO\n3. **\"Para mañana\"** → Calcular fecha del día siguiente\n4. **\"La semana que viene\"** → No calcular fecha específica, dejar N/D\n5. **Múltiples intenciones** → Elegir la PRINCIPAL\n6. **Mensaje confuso** → OTRO\n7. **Pregunta de costo + turno** → Priorizar TURNO sobre INFO\n\n## VALIDACIONES CRÍTICAS:\n\n✓ SIEMPRE incluir el mensaje original completo como primer campo\n✓ Usar EXACTAMENTE 14 campos separados por |\n✓ No inventar datos - usar N/D si no está presente\n✓ Fechas futuras en formato yyyyMMdd\n✓ Horas en formato 24h sin separadores\n✓ Una sola línea de salida\n✓ Sin explicaciones adicionales\n✓ Categoría debe ser una de las 14 definidas\n\n## REGLA FINAL ABSOLUTA:\nSi tienes duda entre dos categorías, usa esta jerarquía de prioridad:\n1. URGENCIA (siempre tiene prioridad máxima)\n2. TURNOS (agendar/cancelar/reprogramar)\n3. INFORMACIÓN\n4. OTROS"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-4900,0],"id":"481d2366-8b18-460c-9649-fc2f53f69df7","name":"Analista de Conversación"},{"parameters":{"jsCode":"// n8n Code node — Parser Router ICLP\n// Modo: Run Once for Each Item\n// Entrada principal: $json.text (o $json.output) desde el LLM\n\n// 1) Texto del LLM\nconst line = String($json.text ?? $json.output ?? \"\").trim();\n\n// 2) (Opcional) Contexto de \"variables\" SIN cablear ese nodo\nconst vars = (() => {\n  try {\n    const it = $items('variables', 0, 0);\n    return it.length ? (it[0].json ?? {}) : {};\n  } catch { return {}; }\n})();\n\n// 3) (Opcional) Multimedia SIN cablear ese nodo\nconst mm = (() => {\n  try {\n    const it = $items('tieneMultimedia', 0, 0);\n    return it.length ? (it[0].json ?? {}) : {};\n  } catch { return {}; }\n})();\n\n// ---- Helpers ----\nfunction tokenMap(s) {\n  const parts = s.split(\"|\").map(p => p.trim());\n  const map = {};\n  for (const p of parts) {\n    const idx = p.indexOf(\":\");\n    if (idx > -1) {\n      const k = p.slice(0, idx).trim().toLowerCase();\n      const v = p.slice(idx + 1).trim();\n      map[k] = v;\n    }\n  }\n  return { parts, map };\n}\n\nfunction ndToNull(v) {\n  if (v == null) return null;\n  const t = String(v).trim();\n  return (t === \"\" || t.toUpperCase() === \"N/D\") ? null : t;\n}\n\nfunction normInt(s) {\n  if (!s) return \"OTRO\";\n  s = s.toUpperCase();\n  if (s.includes(\"CONSULTORIO_AGENDAR\")) return \"CONSULTORIO_AGENDAR\";\n  if (s.includes(\"CONSULTORIO_CANCELAR\")) return \"CONSULTORIO_CANCELAR\";\n  if (s.includes(\"CONSULTORIO_REPROGRAMAR\")) return \"CONSULTORIO_REPROGRAMAR\";\n  if (s.includes(\"INFO_MEDICOS\") || s.includes(\"ESPECIALIDADES\")) return \"INFO_MEDICOS_ESPECIALIDADES\";\n  if (s.includes(\"QUEJA\") || s.includes(\"RECLAM\")) return \"QUEJA_RECLAMO\";\n  if (s.includes(\"INFO_ESTUDIOS\")) return \"INFO_ESTUDIOS\";\n  if (s.includes(\"ESTUDIO_TURNO\") || s.includes(\"TURNO_ESTUDIO\")) return \"ESTUDIO_TURNO\"; // ambas variantes\n  if (s.includes(\"URGENCIA\")) return \"URGENCIA\";\n  if (s.includes(\"SALUDO\") || s.includes(\"SMALLTALK\")) return \"SALUDO_SMALLTALK\";\n  if (s.includes(\"ARCHIVOS\")) return \"ARCHIVOS_ADJUNTOS\";\n  return \"OTRO\";\n}\n\n// ---- Parseo del renglón del LLM ----\nconst { parts, map } = tokenMap(line);\n\n// parts[0] suele ser descripción, parts[1] un resumen opcional\nconst intentRaw = map[\"intención\"] ?? map[\"intencion\"] ?? null;\n\nconst resultado = {\n  descripcion: parts[0] ?? \"\",\n  resumen: parts[1] ?? \"\",\n  intencion: intentRaw,\n  intencionNormalizada: normInt(intentRaw),\n\n  paciente: {\n    dni: ndToNull(map[\"dni\"]),\n    nombre: vars.contactName ?? null,\n    telefono: ndToNull(map[\"telefono\"]) ?? vars.contactNumber ?? null,\n    email: ndToNull(map[\"email\"]),\n    obraSocial: ndToNull(map[\"obrasocial\"]),\n    conversationId: vars.conversationId ?? null,\n  },\n\n  datosMedicos: {\n    medico: ndToNull(map[\"medico\"]),\n    especialidad: ndToNull(map[\"especialidad\"]),\n    fecha: ndToNull(map[\"fecha\"]),\n    hora: ndToNull(map[\"hora\"]),\n    diaSemana: ndToNull(map[\"dia\"]),\n    tipoEstudio: ndToNull(map[\"estudio\"]),\n  },\n\n  archivos: {\n    tiene: (String(map[\"archivos\"] ?? \"\").toLowerCase().startsWith(\"si\") || !!mm.multimedia) || false,\n    tipo: null,\n  },\n\n  // Control de flujo\n  requiereAccion: true,\n  tipoAccion: null,\n  siguientePaso: null,\n  datosCompletos: true,\n  datosFaltantes: [],\n  flujo: {},\n  respuestaDirecta: null,\n\n  // Debug\n  respuestaOriginal: line,\n  procesadoEn: new Date().toISOString(),\n};\n\n// ---- Acciones y validaciones por intención ----\nswitch (resultado.intencionNormalizada) {\n  case \"URGENCIA\":\n    resultado.tipoAccion = \"RESPUESTA_URGENCIA\";\n    resultado.siguientePaso = \"responder_emergencia\";\n    break;\n\n  case \"SALUDO_SMALLTALK\":\n    resultado.tipoAccion = \"SALUDO_INICIAL\";\n    resultado.siguientePaso = \"mostrar_menu_principal\";\n    resultado.respuestaDirecta = `Gracias por comunicarte con Instituto de Cardiología La Plata ❤️\nLEER CON ATENCIÓN ‼️\n\n🕛 HORARIO: Lunes a Viernes 8 a 20 hs\n\n📝 PARA TURNOS INDICAR SI ES:\n  - Consulta Médica\n  - Estudio\n\nSi necesitás una Consulta, decime especialidad o nombre del profesional y tu DNI.\nSi es para un Estudio, te derivo con recepción para que te asistan rápido.\n\n❔ También ayudamos con:\n- ¿Dónde envío mis recetas?\n- ¿Cuál es el horario de atención?\n- ¿Qué especialidades tienen?\n- ¿Dónde saco turno por la web?\n\n🚫 NO RECIBIMOS LLAMADAS POR ESTE MEDIO 🚫`;\n    resultado.flujo.usarRespuestaDirecta = true;\n    break;\n\n  case \"CONSULTORIO_AGENDAR\":\n    resultado.tipoAccion = \"INICIAR_AGENDAMIENTO\";\n    resultado.siguientePaso = \"validar_paciente_padron\";\n    if (!resultado.paciente.dni) { resultado.datosFaltantes.push(\"DNI\"); resultado.datosCompletos = false; }\n    if (!resultado.datosMedicos.medico && !resultado.datosMedicos.especialidad) {\n      resultado.datosFaltantes.push(\"Médico o Especialidad\");\n      resultado.datosCompletos = false;\n    }\n    break;\n\n  case \"CONSULTORIO_CANCELAR\":\n    resultado.tipoAccion = \"INICIAR_CANCELACION\";\n    resultado.siguientePaso = \"buscar_turnos_activos\";\n    if (!resultado.paciente.dni) { resultado.datosFaltantes.push(\"DNI\"); resultado.datosCompletos = false; }\n    break;\n\n  case \"CONSULTORIO_REPROGRAMAR\":\n    resultado.tipoAccion = \"INICIAR_REPROGRAMACION\";\n    resultado.siguientePaso = \"buscar_turnos_para_cambiar\";\n    if (!resultado.paciente.dni) { resultado.datosFaltantes.push(\"DNI\"); resultado.datosCompletos = false; }\n    break;\n\n  case \"ESTUDIO_TURNO\":\n    resultado.tipoAccion = \"DERIVAR_HUMANO\";\n    resultado.siguientePaso = \"llamar_tool_studios\";\n    break;\n\n  case \"INFO_ESTUDIOS\":\n    resultado.tipoAccion = \"INFORMAR_ESTUDIOS\";\n    resultado.siguientePaso = \"obtener_lista_estudios\";\n    break;\n\n  case \"INFO_MEDICOS_ESPECIALIDADES\":\n    resultado.tipoAccion = \"INFORMAR_PROFESIONALES\";\n    resultado.siguientePaso = \"obtener_medicos_especialidades\";\n    break;\n\n  case \"QUEJA_RECLAMO\":\n    resultado.tipoAccion = \"GESTIONAR_RECLAMO\";\n    resultado.siguientePaso = \"derivar_supervisor\";\n    break;\n\n  default:\n    resultado.tipoAccion = \"PROCESAR_CON_AGENTE\";\n    resultado.siguientePaso = \"agente_conversacional\";\n}\n\n// Flags de flujo\nresultado.flujo = {\n  ...resultado.flujo,\n  debeUsarAgente: ![\"URGENCIA\", \"SALUDO_SMALLTALK\", \"ESTUDIO_TURNO\"].includes(resultado.intencionNormalizada),\n  debeDerivar: resultado.intencionNormalizada === \"ESTUDIO_TURNO\",\n  esEmergencia: resultado.intencionNormalizada === \"URGENCIA\",\n  esPrimerContacto: resultado.intencionNormalizada === \"SALUDO_SMALLTALK\",\n  necesitaDatosAdicionales: !resultado.datosCompletos,\n};\n\n// Mensaje sugerido si faltan datos\nif (!resultado.datosCompletos && resultado.datosFaltantes.length) {\n  resultado.mensajeSugerido = `Para poder ayudarte mejor, necesito que me proporciones: ${resultado.datosFaltantes.join(\", \")}`;\n}\n\n// Salida SIEMPRE como array de items\nreturn [{ json: resultado }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4540,0],"id":"a75d4ae0-f662-46d0-8756-98891d806236","name":"Formateador"}],"connections":{"obtener_medicos_matricula":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"obtener_estudios":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"horarios_medicos_disponibles":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"tomar_turno_paciente":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"Prompt_Base_Config":{"main":[[{"node":"Prompt_Dinamico_Generator","type":"main","index":0}]]},"Prompt_Dinamico_Generator":{"main":[[{"node":"Agente conversacional","type":"main","index":0}]]},"Rate_Limiter":{"main":[[{"node":"API_Delay","type":"main","index":0}]]},"API_Delay":{"main":[[{"node":"Cache_Check","type":"main","index":0}]]},"Cache_Check":{"main":[[{"node":"Cache_Update","type":"main","index":0}]]},"Cache_Update":{"main":[[{"node":"Error_Handler_Baserow","type":"main","index":0}]]},"Error_Handler_Baserow":{"main":[[{"node":"Check_Error","type":"main","index":0}]]},"Check_Error":{"main":[[{"node":"Agente conversacional","type":"main","index":0},{"node":"Fallback_Response","type":"main","index":0}]]},"Agente conversacional":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"SendText","type":"main","index":0}]]},"LLM":{"ai_languageModel":[[{"node":"Agente conversacional","type":"ai_languageModel","index":0},{"node":"Analista de Conversación","type":"ai_languageModel","index":0}]]},"MEMORY":{"ai_memory":[[{"node":"Agente conversacional","type":"ai_memory","index":0}]]},"eliminar_Turno":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"variables","type":"main","index":0}]]},"variables":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"tieneMultimedia","type":"main","index":0}]]},"horarios_especialidad_disponibles":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"Flujo_padron":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"obtener_medicos_especialidades":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"reprogramar_Turno":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"Lista_Turnos":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"If":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}],[{"node":"Prompt_Base_Config","type":"main","index":0}]]},"tieneMultimedia":{"main":[[{"node":"noOp","type":"main","index":0}],[{"node":"Analista de Conversación","type":"main","index":0}]]},"noOp":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"Chat Memory Manager":{"main":[[{"node":"llamaToolStudios","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"tool_think":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"Analista de Conversación":{"main":[[{"node":"Formateador","type":"main","index":0}]]},"Formateador":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"hooks.autoclinicas.com","user-agent":"rest-client/2.1.0 (linux-musl x86_64) ruby/3.4.4p34","content-length":"1812","accept":"application/json","accept-encoding":"gzip;q=1.0,deflate;q=0.6,identity;q=0.3","content-type":"application/json","x-forwarded-for":"206.81.1.93","x-forwarded-host":"hooks.autoclinicas.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"0efcae3bc99e","x-real-ip":"206.81.1.93"},"params":{},"query":{},"body":{"additional_attributes":{},"can_reply":true,"channel":"Channel::Whatsapp","contact_inbox":{"id":1179,"contact_id":604,"inbox_id":3,"source_id":"5492213994411","created_at":"2025-07-31T03:21:27.355Z","updated_at":"2025-07-31T03:21:27.355Z","hmac_verified":false,"pubsub_token":"e8N3PaFx7sqrYBJ1wm2GK6rJ"},"id":2505,"inbox_id":3,"messages":[{"id":28998,"content":"Hola si quiero un turno con genovesi","account_id":2,"inbox_id":3,"conversation_id":2505,"message_type":0,"created_at":1755199859,"updated_at":"2025-08-14T19:30:59.662Z","private":false,"status":"sent","source_id":"wamid.HBgNNTQ5MjIxMzk5NDQxMRUCABIYFDNBMDgxMjlGQzFFNTIzOTJCNDY4AA==","content_type":"text","content_attributes":{},"sender_type":"Contact","sender_id":604,"external_source_ids":{},"additional_attributes":{},"processed_message_content":"Hola si quiero un turnocon genovesi","sentiment":{},"conversation":{"assignee_id":null,"unread_count":1,"last_activity_at":1755199859,"contact_inbox":{"source_id":"5492213994411"}},"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":604,"identifier":null,"name":"Nm","phone_number":"+5492213994411","thumbnail":"","blocked":false,"type":"contact"}}],"labels":[],"meta":{"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":604,"identifier":null,"name":"Nm","phone_number":"+5492213994411","thumbnail":"","blocked":false,"type":"contact"},"assignee":null,"team":null,"hmac_verified":false},"status":"pending","custom_attributes":{},"snoozed_until":null,"unread_count":1,"first_reply_created_at":null,"priority":null,"waiting_since":1755199794,"agent_last_seen_at":1755199799,"contact_last_seen_at":0,"last_activity_at":1755199859,"timestamp":1755199859,"created_at":1755199794,"updated_at":1755199859.6670022,"event":"automation_event.message_created"},"webhookUrl":"https://hooks.autoclinicas.com/webhook/agentes/v1/iclp","executionMode":"production"}}]},"versionId":"5e9f3aab-ff2f-469e-a6ec-e4c6902c5dcd","triggerCount":1,"shared":[{"createdAt":"2025-08-18T03:46:49.605Z","updatedAt":"2025-08-18T03:46:49.605Z","role":"workflow:owner","workflowId":"AReCnl1YHIHaxDEn","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}