rag-iclp-F1fDDiw4EyfcUfhm.json
{"createdAt":"2025-07-03T20:58:20.135Z","updatedAt":"2025-08-05T00:25:30.761Z","id":"F1fDDiw4EyfcUfhm","name":"RAG iclp","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1160,1040],"id":"e3431d4f-e6d7-4341-81d5-4f63ff46c619","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/lista-medicos/all","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-800,480],"id":"02da65e9-79d7-4251-90e8-7840e32d9318","name":"HTTP lista-medicos"},{"parameters":{"url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/lista-especialidades","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-800,940],"id":"21b394c2-bde4-438f-b76c-f5ffe42cc41c","name":"HTTP lista-especialidades"},{"parameters":{"jsCode":"// ✅ CÓDIGO CORREGIDO - Acceso correcto a datos n8n\nconsole.log('=== PROCESANDO TODOS LOS MÉDICOS SIN FILTROS ===');\n\n// ✅ Acceder a los datos correctamente desde el nodo conectado\nconst inputData = $input.all();\nconsole.log('Input data:', inputData);\n\n// ✅ Extraer la lista de médicos del primer item\nconst medicosRaw = inputData[0]?.json?.lista || [];\nconsole.log(`Total médicos recibidos: ${medicosRaw.length}`);\n\n// ✅ Validar que tenemos datos\nif (!medicosRaw || medicosRaw.length === 0) {\n  console.log('❌ No se recibieron datos de médicos');\n  return [{ json: { error: 'No hay datos de médicos' } }];\n}\n\n// Filtrar SOLO médicos válidos (que tengan datos mínimos)\nconst medicosParaProcesar = medicosRaw.filter(medico => {\n  return medico.codigo !== '0' &&          // No médicos con código 0\n         medico.nombre &&                  // Que tengan nombre\n         medico.nombre.trim() !== '' &&    // Nombre no vacío\n         medico.especialidad &&            // Que tengan especialidad\n         medico.especialidad.trim() !== '' // Especialidad no vacía\n});\n\nconsole.log(`Médicos válidos para procesar: ${medicosParaProcesar.length}`);\n\n// Log de TODOS los médicos que vamos a procesar\nconsole.log('=== MÉDICOS A PROCESAR ===');\nconst especialidadesConteo = {};\n\nmedicosParaProcesar.forEach(medico => {\n  // Contar por especialidad\n  if (!especialidadesConteo[medico.especialidad]) {\n    especialidadesConteo[medico.especialidad] = 0;\n  }\n  especialidadesConteo[medico.especialidad]++;\n  \n  console.log(`- ${medico.nombre} (${medico.especialidad}) - Matrícula: ${medico.codigo}`);\n});\n\nconsole.log('=== RESUMEN POR ESPECIALIDAD ===');\nObject.entries(especialidadesConteo).forEach(([especialidad, cantidad]) => {\n  console.log(`${especialidad}: ${cantidad} médicos`);\n});\n\n// ✅ Crear array completo para split in batches con formato n8n correcto\nconst medicosArray = medicosParaProcesar.map(medico => ({\n  matricula: medico.codigo,\n  nombre: medico.nombre,\n  especialidad: medico.especialidad\n}));\n\nconsole.log(`✅ TOTAL A PROCESAR: ${medicosArray.length} médicos`);\nconsole.log(`📊 Especialidades únicas: ${Object.keys(especialidadesConteo).length}`);\n\n// ✅ RETORNAR en formato n8n correcto\nreturn medicosArray.map(medico => ({ json: medico }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-580,480],"id":"0fc59e97-b7f8-410e-b3fe-b80dfe70f861","name":"Code"},{"parameters":{"jsCode":"  var medicoBasico = $('Loop Over Items').first().json;\n  var medicoDetallado = $('HTTP Request3').first().json;\n\n  console.log('Processing:', medicoBasico.nombre);\n\n  if (!medicoBasico || !medicoDetallado) {\n    console.log('Error: Faltan datos del médico');\n    return [{ json: { error: 'Datos incompletos', matricula:\n  medicoBasico ? medicoBasico.matricula : null } }];\n  }\n\n  function extraerPreciosDinamico(medico) {\n    var precios = {};\n    precios.consulta_base = medico.consulta || 0;\n\n    var textoCompleto = (medico.nota || '') + ' ' +\n  (medico.notaWeb || '');\n    var textoUpper = textoCompleto.toUpperCase();\n\n    if (textoUpper.indexOf('PARTICULAR') !== -1) {\n      var particularIndex = textoUpper.indexOf('PARTICULAR$');\n      if (particularIndex !== -1) {\n        var afterParticular =\n  textoUpper.substring(particularIndex + 12);\n        var numberMatch = afterParticular.match(/\\d+/);\n        if (numberMatch) {\n          precios.particular = parseInt(numberMatch[0]);\n        }\n      }\n    }\n\n    if (textoUpper.indexOf('PAMI') !== -1) {\n      var pamiIndex = textoUpper.indexOf('PAMI');\n      if (pamiIndex !== -1) {\n        var afterPami = textoUpper.substring(pamiIndex + 4);\n        var numberMatch = afterPami.match(/\\d+/);\n        if (numberMatch) {\n          precios.pami = parseInt(numberMatch[0]);\n        }\n      }\n    }\n\n    return precios;\n  }\n\n  function extraerHorariosDinamico(medico) {\n    var horarios = {};\n    var dias = ['lunes', 'martes', 'miercoles', 'jueves',\n  'viernes', 'sabado', 'domingo'];\n\n    for (var i = 0; i < dias.length; i++) {\n      var dia = dias[i];\n      var diaCapitalizado = dia.charAt(0).toUpperCase() +\n  dia.slice(1);\n      var trabajaDia = medico['trabaja' + diaCapitalizado];\n\n      if (trabajaDia === 'S') {\n        var inicio = medico['h' + dia + '5'];\n        var fin = medico['h' + dia + '6'];\n\n        if (inicio && fin && inicio.trim() !== '' &&\n  fin.trim() !== '     ') {horarios[dia] = inicio.trim() + '-' + fin.trim();\n        }\n      }\n    }\n\n    return horarios;\n  }\n\n  function extraerObrasSocialesDinamico(medico) {\n    var acepta = [];\n    var rechaza = [];\n    var notas = [];\n\n    var textoCompleto = (medico.nota || '') + ' ' +\n  (medico.notaWeb || '');\n    var textoUpper = textoCompleto.toUpperCase();\n\n    if (textoUpper.indexOf('NO ATIENDE OSPRERA') !== -1) {\n      rechaza[rechaza.length] = 'OSPRERA';\n    }\n    if (textoUpper.indexOf('NO ATIENDE OSTCARA') !== -1 ||\n  textoUpper.indexOf('NO OSTCARA') !== -1) {\n      rechaza[rechaza.length] = 'OSTCARA';\n    }\n    if (textoUpper.indexOf('NO ATIENDE UNION PERSONAL') !==\n  -1) {\n      rechaza[rechaza.length] = 'UNION PERSONAL';\n    }\n\n    if (textoUpper.indexOf('TODAS LAS O.S') !== -1 ||\n  textoUpper.indexOf('AGREMIACION MEDICA') !== -1) {\n      acepta[acepta.length] = 'AGREMIACION MEDICA';\n    }\n\n    if (medico.nota) {\n      notas[notas.length] = medico.nota;\n    }\n    if (medico.notaWeb) {\n      notas[notas.length] = medico.notaWeb;\n    }\n\n    return {\n      acepta: acepta,\n      rechaza: rechaza,\n      notas: notas\n    };\n  }\n\n  var medicoCompleto = {\n    matricula: medicoBasico.matricula,\n    nombre: medicoBasico.nombre,\n    especialidad: medicoBasico.especialidad,\n    online: Boolean(medicoDetallado.online),\n    categoria: medicoDetallado.categoria || '',\n    precios: extraerPreciosDinamico(medicoDetallado),\n    horarios: extraerHorariosDinamico(medicoDetallado),\n    obras_sociales:\n  extraerObrasSocialesDinamico(medicoDetallado),\n    contacto: {\n      telefono: medicoDetallado.telefono || '',\n      direccion: medicoDetallado.direccion || ''\n    },\n    timestamp: Date.now(),\n    processed: true\n  };\n\n  console.log('Procesado completo:', medicoCompleto.nombre);\n\n  return [{ json: medicoCompleto }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,80],"id":"f9698e60-9523-42a7-9e0f-879be269b6b4","name":"Code1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-360,480],"id":"c8ab02e4-54f0-4801-8a77-c2a474907a60","name":"Loop Over Items"},{"parameters":{"url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/datos-medico","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"},{"name":"matricula","value":"={{ $json.matricula }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-140,80],"id":"b1a36830-2415-4433-9c6e-c16e2c5354e8","name":"HTTP Request3"},{"parameters":{"operation":"set","key":"=especialidades:lista","value":"={{ JSON.stringify($json) }}","expire":true,"ttl":86400},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-140,940],"id":"a3ec4143-2dea-4579-9ff8-db66446fadd4","name":"Especialidades","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"set","key":"=medico:{{ $json.matricula }}","value":"={{ JSON.stringify($json) }}","expire":true,"ttl":86400},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[300,455],"id":"65d1f4fa-aa1d-4b82-b5dd-d33b62d0b848","name":"Medicos","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"set","key":"obras_sociales:lista","value":"={{ JSON.stringify($json) }}","expire":true,"ttl":86400},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-140,1860],"id":"2eb46809-c913-4964-8ef1-09f9454f41c1","name":"obras_sociales","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/obras-sociales  ","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-800,1860],"id":"33718a6f-44f0-444c-8a44-d595c1021060","name":"HTTP Request obras_sociales"},{"parameters":{"jsCode":"// PROCESAR ESPECIALIDADES\nconst especialidades = $input.first().json.lista || [];\nconsole.log(`✅ Procesando ${especialidades.length} especialidades`);\n\nconst especialidadesProcesadas = {\n  lista: especialidades.map(esp => ({\n    codigo: esp.codigo,\n    nombre: esp.nombre\n  })),\n  total: especialidades.length,\n  timestamp: Date.now()\n};\n\nconsole.log('Especialidades procesadas:', especialidadesProcesadas.lista.map(e => e.nombre));\n\nreturn [{ json: especialidadesProcesadas }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-360,940],"id":"92d0204f-6b0c-4378-aa40-8185fabcb2ac","name":"Code2"},{"parameters":{"jsCode":"// PROCESAR OBRAS SOCIALES - CORREGIDO PARA MÚLTIPLES ITEMS\nconsole.log('=== PROCESANDO OBRAS SOCIALES ===');\n\n// ✅ La API devuelve múltiples items, no un array único\nconst inputData = $input.all();\nconsole.log(`Input data obras sociales: ${inputData.length} items`);\n\n// ✅ Validar que tenemos datos\nif (!inputData || inputData.length === 0) {\n  console.log('❌ No se recibieron datos de obras sociales');\n  return [{ json: { error: 'No hay datos de obras sociales' } }];\n}\n\n// ✅ Extraer todas las obras sociales de todos los items\nconst obrasSocialesRaw = inputData.map(item => item.json).filter(item => item && item.id);\nconsole.log(`✅ Total obras sociales recibidas: ${obrasSocialesRaw.length}`);\n\n// ✅ Procesar obras sociales con la estructura correcta\nconst obrasSocialesProcesadas = {\n  lista: obrasSocialesRaw.map(os => ({\n    id: os.id || '',\n    codigo: os.obrasocial || '',\n    nombre: os.nobrasoc || '',\n    nombre_completo: os.nobrasoc2 || '',\n    activa: os.activa === 'S' || os.activa === true,\n    direccion: os.direccion || '',\n    localidad: os.localidad || '',\n    telefono: os.telefono || '',\n    cuit: os.cuit || '',\n    tipo: os.tipo || '',\n    nota: os.nota || '',\n    nota2: os.nota2 || ''\n  })),\n  total: obrasSocialesRaw.length,\n  timestamp: Date.now()\n};\n\nconsole.log(`✅ Obras sociales procesadas: ${obrasSocialesProcesadas.total}`);\nconsole.log('Primeras 5 obras sociales:', obrasSocialesProcesadas.lista.slice(0, 5).map(o => o.nombre));\n\n// ✅ Log de algunas obras sociales para verificar\nobrasSocialesProcesadas.lista.slice(0, 10).forEach(os => {\n  console.log(`- ${os.nombre} (${os.codigo}) - Activa: ${os.activa}`);\n});\n\nreturn [{ json: obrasSocialesProcesadas }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-360,1860],"id":"bacbcc53-b986-4a8e-b8da-2ceef6bb6364","name":"Code3"},{"parameters":{"jsCode":"// RESUMEN FINAL DEL SCRAPING\nconsole.log('=== SCRAPING ICLP COMPLETADO ===');\n\nconst resumen = {\n  mensaje: '✅ Scraping ICLP completado exitosamente',\n  timestamp: Date.now(),\n  fecha: new Date().toLocaleString('es-AR'),\n  datos_almacenados: {\n    medicos: 'Redis: medico:{matricula}',\n    especialidades: 'Redis: especialidades:lista',\n    obras_sociales: 'Redis: obras_sociales:lista'\n  },\n  instrucciones: 'Datos listos para usar en el bot principal'\n};\n\nconsole.log('✅ Resumen:', resumen);\nreturn [{ json: resumen }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,680],"id":"17caa665-9593-4abb-a6f0-5dd312ddfad7","name":"Code4"},{"parameters":{"jsCode":" console.log('=== GENERANDO ÍNDICE COMPLETO DE MÉDICOS ===');\n\n  var allItems = $('Loop Over Items').all();\n  var todosMedicos = [];\n\n  for (var i = 0; i < allItems.length; i++) {\n    var medico = allItems[i].json;\n    var datosReales = medico.metadata ? medico.metadata :\n  medico;\n\n    todosMedicos.push({\n      matricula: datosReales.matricula || '',\n      nombre: datosReales.nombre || '',\n      especialidad: datosReales.especialidad || '',\n      online: datosReales.online || false,\n      categoria: datosReales.categoria || '',\n      precios: datosReales.precios || {},\n      obras_sociales: datosReales.obras_sociales || {},\n      timestamp: datosReales.timestamp || Date.now()\n    });\n  }\n\n  console.log('Total médicos para índice:',\n  todosMedicos.length);\n\n  var indiceCompleto = {\n    medicos: todosMedicos,\n    total: todosMedicos.length,\n    por_especialidad: {},\n    nombres_normalizados: {},\n    timestamp: Date.now(),\n    version: '1.0'\n  };\n\n  for (var j = 0; j < todosMedicos.length; j++) {\n    var medico = todosMedicos[j];\n\n    if (!medico.nombre || !medico.especialidad) {\n      console.log('Médico sin datos válidos:',\n  medico.matricula);\n      continue;\n    }\n\n    if (!indiceCompleto.por_especialidad[medico.especialidad])\n   {\n      indiceCompleto.por_especialidad[medico.especialidad] =\n  [];\n    }\n\n\n  indiceCompleto.por_especialidad[medico.especialidad].push({\n      matricula: medico.matricula,\n      nombre: medico.nombre,\n      online: medico.online\n    });\n\n    if (medico.nombre) {\n      var nombreNormalizado = medico.nombre.toLowerCase()\n        .normalize('NFD')\n        .replace(/[\\u0300-\\u036f]/g, '')\n        .replace(/[^a-z0-9\\s]/g, '')\n        .trim();\n\n      if (nombreNormalizado) {\n        indiceCompleto.nombres_normalizados[nombreNormalizado]\n   = {\n          matricula: medico.matricula,\n          nombre_original: medico.nombre,\n          especialidad: medico.especialidad\n        };\n\n        var palabras = nombreNormalizado.split(' ');\n        for (var k = 0; k < palabras.length; k++) {\n          var palabra = palabras[k];\n          if (palabra.length > 2) {\n            indiceCompleto.nombres_normalizados[palabra] = {\n              matricula: medico.matricula,\n              nombre_original: medico.nombre,\n              especialidad: medico.especialidad\n            };\n          }\n        }\n      }\n    }\n  }\n\n  console.log('Especialidades indexadas:',\n  Object.keys(indiceCompleto.por_especialidad));\n  console.log('Nombres indexados:',\n  Object.keys(indiceCompleto.nombres_normalizados).length);\n\n  return [{ json: indiceCompleto }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-140,580],"id":"5993246f-c61f-402a-b941-580755a60ce4","name":"Code_Generar_Indice","executeOnce":true},{"parameters":{"operation":"set","key":"medicos:indice_completo","value":"={{ JSON.stringify($json) }}","expire":true,"ttl":"=86400"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[80,480],"id":"482f9377-7414-412c-a806-c1864dd48b0c","name":"Redis_Indice_Medicos","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"mode":"insert","tableName":"iclp_especialidades","embeddingBatchSize":50,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[480,920],"id":"b41bf32b-da1c-469f-9432-3422d114ebf6","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"nsOiHzh3N4NwMXr4","name":"Postgres account - ICLP"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[320,1200],"id":"0b312b4b-f903-4882-afd7-810a442c3ab5","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.pageContent }}","textSplittingMode":"custom","options":{"metadata":{"metadataValues":[{"name":"codigo","value":"={{ $json.metadata.codigo }}"},{"name":"tipo","value":"={{ $json.metadata.tipo }}"},{"name":"nombre","value":"={{ $json.metadata.nombre }}"},{"name":"timestamp","value":"={{ $json.metadata.timestamp }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[620,1200],"id":"d28f472c-72da-4e89-b97c-4dce0ded64a5","name":"Default Data Loader1"},{"parameters":{"jsCode":"console.log('=== PROCESANDO TODOS LOS MÉDICOS PARA RAG  === ');\n\n        // ✅ Obtener TODOS los médicos del input\n        const todosMedicos = $input.all(); console.log(`Total médicos recibidos: \n  ${todosMedicos.length}`);\n\n        // =====================================\n        // FUNCIONES AUXILIARES (SIN HARDCODEO)\n        // =====================================\n\n        // Detectar automáticamente el tipo de profesional\n        function detectarTipoProfesional(especialidad) {\n            if (!especialidad) return '';\n\n            const especialidadLower = especialidad.toLowerCase();\n\n            if (especialidadLower.includes('licenciad')) return 'Lic.';\n            if (especialidadLower.includes('tecnic')) return 'Téc.';\n            if (especialidadLower.includes('nutrici')) return 'Lic.';\n\n            return 'Dr.'; // Por defecto para médicos\n        }\n\n        // Procesar precios dinámicamente\n        function procesarPrecios(precios) {\n            if (!precios) return [];\n\n            const preciosTexto = [];\n\n            // Precio base\n            if (precios.consulta_base && precios.consulta_base > 0) {\n                preciosTexto.push(`Consulta: \n  $${precios.consulta_base}`);\n            }\n\n            // Precio particular\n            if (precios.particular && precios.particular > 0) {\n                preciosTexto.push(`Particular: $${precios.particular}`);\n            }\n\n            // Otros precios (PAMI, etc.)\n            Object.entries(precios).forEach(([key, value]) => {\n                if (!['consulta_base', 'particular'].includes(key) &&\n                    value && value > 0) {\n                    const nombrePrecio = key.replace(/_/g,\n                        '').toUpperCase();\n                    preciosTexto.push(`${nombrePrecio}: $${value}`);\n                }\n            });\n\n            return preciosTexto;\n        }\n\n        // Formatear horarios consistentemente\n        function formatearHorarios(horarios) {\n            if (!horarios || Object.keys(horarios).length === 0)\n                return '';\n\n            const horariosTexto = Object.entries(horarios)\n                .filter(([dia, horario]) => horario && horario.trim())\n                .map(([dia, horario]) => `${dia.charAt(0).toUpperCase() \n  + dia.slice(1)}: ${horario}`)\n                .join(', ');\n\n            return horariosTexto;\n        }\n\n        // Procesar obras sociales dinámicamente\n        function procesarObrasSociales(obras_sociales) {\n            if (!obras_sociales) return [];\n\n            const infoObrasSociales = [];\n\n            // Obras sociales que acepta\n            if (obras_sociales.acepta && obras_sociales.acepta.length >\n                0) {\n                infoObrasSociales.push(`Acepta: \n  ${obras_sociales.acepta.join(', ')}`);\n            }\n\n            // Obras sociales que rechaza\n            if (obras_sociales.rechaza &&\n                obras_sociales.rechaza.length > 0) {\n                infoObrasSociales.push(`No atiende: \n  ${obras_sociales.rechaza.join(', ')}`);\n            }\n\n            // Notas adicionales\n            if (obras_sociales.notas && obras_sociales.notas.length >\n                0) {\n                const notasLimpias = obras_sociales.notas\n                    .filter(nota => nota && nota.trim())\n                    .join(' ');\n                if (notasLimpias) {\n                    infoObrasSociales.push(notasLimpias);\n                }\n            }\n\n            return infoObrasSociales;\n        }\n\n        // Generar texto limpio para vectorizar\n        function generarTextoLimpio(componentes) {\n            return componentes\n                .filter(comp => comp && comp.trim())\n                .join('. ')\n                .replace(/\\s+/g, ' ')\n                .trim();\n        }\n\n        // ✅ PROCESAR TODOS LOS MÉDICOS\n        const documentosRAG = todosMedicos.map(item => {\n            const medicoCompleto = item.json;\n\n            console.log(`Procesando médico: \n  ${medicoCompleto.nombre}`);\n\n            const tipoProfesional =\n                detectarTipoProfesional(medicoCompleto.especialidad);\n\n            // Procesar componentes dinámicamente\n            const precios = procesarPrecios(medicoCompleto.precios);\n            const horarios =\n                formatearHorarios(medicoCompleto.horarios);\n            const obrasSociales =\n                procesarObrasSociales(medicoCompleto.obras_sociales);\n\n            // Construir componentes del texto\n            const componentesTexto = [\n                // Identificación profesional\n                `${tipoProfesional} ${medicoCompleto.nombre}`,\n\n                // Especialidad\n                medicoCompleto.especialidad ? `Especialidad: \n  ${medicoCompleto.especialidad}` : null,\n\n                // Categoría (si existe)\n                medicoCompleto.categoria ? `Categoría: \n  ${medicoCompleto.categoria}` : null,\n\n                // Precios\n                precios.length > 0 ? precios.join(', ') : null,\n\n                // Horarios\n                horarios ? `Horarios: ${horarios}` : null,\n\n                // Obras sociales\n                obrasSociales.length > 0 ? obrasSociales.join('. ') :\n                null\n            ];\n\n            // Generar documento final para RAG\n            const documentoRAG = {\n                // Contenido principal para vectorizar\n                pageContent: generarTextoLimpio(componentesTexto),\n\n                // Metadatos estructurados para filtros\n                metadata: {\n                    matricula: medicoCompleto.matricula,\n                    nombre: medicoCompleto.nombre,\n                    especialidad: medicoCompleto.especialidad,\n                    categoria: medicoCompleto.categoria || null,\n                    tipo_profesional: tipoProfesional,\n                    precio_base: medicoCompleto.precios?.consulta_base ||\n                        0,\n                    precio_particular: medicoCompleto.precios?.particular ||\n                        null,\n                    tiene_horarios: !!horarios,\n                    tiene_obras_sociales: obrasSociales.length > 0,\n                    timestamp: Date.now()\n                }\n            };\n\n            console.log(`✅ RAG optimizado: \n  ${documentoRAG.metadata.nombre}`);\n\n            return {\n                json: documentoRAG\n            };\n        });\n\n        console.log(`✅ TOTAL DOCUMENTOS RAG GENERADOS: \n  ${documentosRAG.length}`);\n\n        // ✅ RETORNAR TODOS LOS DOCUMENTOS\n        return documentosRAG;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-140,280],"id":"57b83fd1-727e-4418-855d-14a1701b5577","name":"Code_Filtrar_RAG"},{"parameters":{"jsCode":"// ✅ Asegurate que $input tenga el array completo\nconst lista = $input.first().json.lista || [];\n\nconst timestamp = Date.now();\n\nconst documentosEspecialidades = lista.map(item => ({\n  json: {\n    pageContent: `Especialidad: ${item.nombre || ''} - Código: ${item.codigo || ''}`,\n    metadata: {\n      tipo: 'especialidad',\n      codigo: item.codigo || '',\n      nombre: item.nombre || '',\n      timestamp\n    }\n  }\n}));\n\nreturn documentosEspecialidades;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,940],"id":"551829b5-a96f-41dc-a349-47e9f784c7ce","name":"Code2 (Especialidades)"},{"parameters":{"jsCode":"console.log('=== PROCESANDO OBRAS SOCIALES ===');\n\nvar inputData = $input.first().json;\nconsole.log('Input data obras sociales:', inputData);\n\nif (!inputData || !inputData.lista) {\n    console.log('No se recibieron datos de obras sociales');\n    return [{\n        json: {\n            error: 'No hay datos de obras sociales'\n        }\n    }];\n}\n\nvar obrasSocialesOriginales = inputData.lista;\nconsole.log('Total obras sociales recibidas:',\n    obrasSocialesOriginales.length);\n\nvar listaObras = [];\nfor (var i = 0; i < obrasSocialesOriginales.length; i++) {\n    var os = obrasSocialesOriginales[i];\n    var obraProcesada = {\n        id: os.id || '',\n        codigo: os.codigo || '',\n        nombre: os.nombre || '',\n        nombre_completo: os.nombre_completo || '',\n        activa: os.activa === true,\n        direccion: os.direccion || '',\n        localidad: os.localidad || '',\n        telefono: os.telefono || '',\n        cuit: os.cuit || '',\n        tipo: os.tipo || '',\n        nota: os.nota || '',\n        nota2: os.nota2 || ''\n    };\n    listaObras[listaObras.length] = obraProcesada;\n}\n\nvar obrasSocialesProcesadas = {\n    lista: listaObras,\n    total: listaObras.length,\n    timestamp: Date.now()\n};\n\nconsole.log('Obras sociales procesadas:',\nobrasSocialesProcesadas.total);\n\nvar documentosParaRAG = [];\nfor (var j = 0; j < obrasSocialesProcesadas.lista.length; j++) {\n    var obra = obrasSocialesProcesadas.lista[j];\n\n    var estadoTexto = obra.activa ? 'ACTIVA' : 'INACTIVA';\n    var documentoRAG = {\n        pageContent: 'Obra Social: ' + obra.nombre + ' - Código: ' + obra.codigo + ' - Estado: ' + estadoTexto + ' -  Dirección: ' + obra.direccion + ' - Teléfono: ' + obra.telefono + ' -  Localidad: ' + obra.localidad,\n        metadata: {\n            tipo: 'obra_social',\n            id: obra.id,\n            codigo: obra.codigo,\n            nombre: obra.nombre,\n            activa: obra.activa,\n            direccion: obra.direccion,\n            telefono: obra.telefono,\n            localidad: obra.localidad,\n            timestamp: Date.now()\n        }\n    };\n    documentosParaRAG.push(documentoRAG);\n}\n\nconsole.log('Documentos RAG generados:',\n    documentosParaRAG.length);\n\n// ✅ RETORNAR AMBOS FORMATOS\nvar resultados = [];\nresultados.push({\n    json: obrasSocialesProcesadas\n}); // → \n\n// Agregar documentos RAG (TODAS las obras sociales)\nfor (var k = 0; k < documentosParaRAG.length; k++) {\n    resultados.push({\n        json: documentosParaRAG[k]\n    }); // → \n    \n}\n\nreturn resultados;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,1860],"id":"97488fb8-d962-4600-bfa4-9066c90ba5c6","name":"Code3 (Obras Sociales)"},{"parameters":{"chunkSize":800,"options":{"splitCode":"markdown"}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[620,1420],"id":"938119dd-05ac-4f55-9ced-2c6cdc2ba39f","name":"Recursive Character Text Splitter"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-580,940],"id":"e9288284-896f-434a-9e75-d55ae4a0f7d7","name":"Wait2","webhookId":"534240fa-69d2-4c90-aba3-b99319285b4f"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-580,1860],"id":"690fea3c-4a02-4144-92a8-6bd1d5d22622","name":"Wait3","webhookId":"f79ea82b-522a-4190-932c-5471e037b4cf"},{"parameters":{"documentId":{"__rl":true,"value":"1Q2mH9s-h-1yfrNTC_pfmuXUbjybh1dAgsy5pAQmGnNk","mode":"list","cachedResultName":"n8n-iclp","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Q2mH9s-h-1yfrNTC_pfmuXUbjybh1dAgsy5pAQmGnNk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1669362984,"mode":"list","cachedResultName":"datos-medicos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Q2mH9s-h-1yfrNTC_pfmuXUbjybh1dAgsy5pAQmGnNk/edit#gid=1669362984"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"detectAutomatically"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-840,1300],"id":"5cafc219-df93-4c1e-a350-76c4d4a2a86d","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"VWqufq8KarePOAFl","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1Q2mH9s-h-1yfrNTC_pfmuXUbjybh1dAgsy5pAQmGnNk","mode":"list","cachedResultName":"n8n-iclp","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Q2mH9s-h-1yfrNTC_pfmuXUbjybh1dAgsy5pAQmGnNk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1031220457,"mode":"list","cachedResultName":"especialidades","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Q2mH9s-h-1yfrNTC_pfmuXUbjybh1dAgsy5pAQmGnNk/edit#gid=1031220457"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"detectAutomatically"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-840,1500],"id":"38d0099f-35f4-4320-9c14-e3e3a8c00f89","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"VWqufq8KarePOAFl","name":"Google Sheets account"}}},{"parameters":{"jsCode":"function normalizarPrecio(valor) {\n  valor = (valor !== undefined && valor !== null) ? String(valor) : \"\";\n\n  if (!valor || valor === \"–\" || valor.trim() === \"\") return \"No informado\";\n\n  if (!valor.trim().startsWith(\"$\") && valor.includes(\"$\")) {\n    valor = valor.substring(valor.indexOf(\"$\"));\n  }\n\n  return valor.replace(/\\$[\\d\\.,]+/g, (match) => {\n    let monto = match.replace(\"$\", \"\");\n    monto = monto.replace(/(\\.|,)?00$/, \"\");\n    if (monto.includes(\",\") && monto.includes(\".\")) {\n      monto = monto.replace(\",\", \".\").replace(/\\.\\d{2}$/, \"\");\n    } else if (monto.match(/^\\d{1,3}(,\\d{3})+(\\.\\d+)?$/)) {\n      monto = monto.replace(/,/g, \".\").replace(/\\.\\d+$/, \"\");\n    } else if (monto.match(/^\\d{1,3}(\\.\\d{3})+(\\,\\d+)?$/)) {\n      monto = monto.replace(/\\,\\d+$/, \"\");\n    } else if (monto.match(/^\\d+(\\.\\d+)?$/)) {\n      monto = monto.replace(/\\.00$/, \"\");\n    } else if (monto.match(/^\\d+(\\,\\d+)?$/)) {\n      monto = monto.replace(/\\,00$/, \"\");\n    }\n    monto = monto.replace(/\\.00$/, \"\").replace(/\\,00$/, \"\");\n    return \"$\" + monto;\n  });\n}\n\n// ESTE BLOQUE ES EL QUE DEVUELVE EL ARRAY PARA N8N:\nreturn items.map(x => {\n  const item = x.json;\n  const precioLimpio = normalizarPrecio(item[\"Precio Consulta\"]);\n  return {\n    json: {\n      metadata: {\n        matricula: item[\"Matrícula\"],\n        nombre: item[\"Nombre y Apellido\"],\n        especialidad: item[\"Especialidad\"],\n        categoria: item[\"Categoría\"],\n        tipo: item[\"Tipo Profesional\"]\n      },\n      pageContent: \n        `Profesional: ${item[\"Nombre y Apellido\"]} (${item[\"Tipo Profesional\"]})\\n` +\n        `Especialidad: ${item[\"Especialidad\"]}, Categoría: ${item[\"Categoría\"]}\\n` +\n        `Honorarios: ${precioLimpio}\\n` +\n        `Horarios: ${item[\"Horarios\"]}\\n` +\n        `Obras sociales que acepta: ${item[\"Obras Sociales que Acepta\"]}\\n` +\n        `No acepta: ${item[\"No Acepta\"]}\\n` +\n        `Observaciones: ${item[\"Observaciones\"] ?? \"\"}`\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-620,1300],"id":"3e178b09-950d-4d98-83c4-0dd0057eabdc","name":"Code5"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP lista-especialidades","type":"main","index":0}]]},"HTTP lista-medicos":{"main":[[{"node":"Code","type":"main","index":0}]]},"HTTP lista-especialidades":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Medicos","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Code_Generar_Indice","type":"main","index":0},{"node":"Code_Filtrar_RAG","type":"main","index":0}],[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Medicos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request obras_sociales":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Especialidades","type":"main","index":0}]]},"Code3":{"main":[[{"node":"obras_sociales","type":"main","index":0}]]},"Code_Generar_Indice":{"main":[[{"node":"Code4","type":"main","index":0},{"node":"Redis_Indice_Medicos","type":"main","index":0}]]},"Code4":{"main":[[]]},"Redis_Indice_Medicos":{"main":[[]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Postgres PGVector Store","type":"ai_document","index":0}]]},"Code_Filtrar_RAG":{"main":[[]]},"Especialidades":{"main":[[{"node":"Code2 (Especialidades)","type":"main","index":0}]]},"obras_sociales":{"main":[[{"node":"Code3 (Obras Sociales)","type":"main","index":0}]]},"Code2 (Especialidades)":{"main":[[{"node":"Postgres PGVector Store","type":"main","index":0}]]},"Code3 (Obras Sociales)":{"main":[[]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Wait2":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"rag-starter-template","templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Execute workflow’":[{"json":{}}],"HTTP lista-medicos":[{"json":{"id":null,"log":null,"lista":[{"id":null,"log":null,"codigo":"0","nombre":"","especialidad":"","value":null,"label":null},{"id":null,"log":null,"codigo":"114163","nombre":"AMBROSSINI LUCIANA.","especialidad":"CLINICA MEDICA","value":null,"label":null},{"id":null,"log":null,"codigo":"230970","nombre":"ANDERSSON ERICA ROCIO","especialidad":"NEUMONOLOGIA","value":null,"label":null},{"id":null,"log":null,"codigo":"150","nombre":"APTOS ESTUDIANTES","especialidad":"ECOGRAFIAS DOPPLER","value":null,"label":null},{"id":null,"log":null,"codigo":"15976","nombre":"ARREGUI VICTOR","especialidad":"CARDIOLOGIA","value":null,"label":null},{"id":null,"log":null,"codigo":"112218","nombre":"BARBA PABLO FABIAN","especialidad":"CARDIOLOGIA","value":null,"label":null},{"id":null,"log":null,"codigo":"124","nombre":"BARBIERI (ECO)","especialidad":"ECOGRAFIAS DOPPLER","value":null,"label":null},{"id":null,"log":null,"codigo":"19427","nombre":"BARBIERI MARIA BEATRIZ","especialidad":"CARDIOLOGIA","value":null,"label":null},{"id":null,"log":null,"codigo":"115090","nombre":"BELTRANO CECILIA","especialidad":"CARDIOLOGIA","value":null,"label":null},{"id":null,"log":null,"codigo":"120","nombre":"BERNARDINI (ECO)","especialidad":"ECOGRAFIAS DOPPLER","value":null,"label":null},{"id":null,"log":null,"codigo":"147","nombre":"BERNARDINI (ECOMMII)","especialidad":"ECOGRAFIAS DOPPLER","value":null,"label":null},{"id":null,"log":null,"codigo":"132","nombre":"BERNARDINI (ECOT)","especialidad":"ECOGRAFIAS DOPPLER","value":null,"label":null},{"id":null,"log":null,"codigo":"115531","nombre":"BERNARDINI LUCIANO","especialidad":"CARDIOLOGIA","value":null,"label":null},{"id":null,"log":null,"codigo":"110012","nombre":"BLEIZ JORGE","especialidad":"CARDIOLOGIA PEDIATRI","value":null,"label":null},{"id":null,"log":null,"codigo":"113023","nombre":"CALI LEONEL","especialidad":"CARDIOLOGIA","value":null,"label":null},{"id":null,"log":null,"codigo":"15357","nombre":"CARBIA RICARDO","especialidad":"GASTROENTEROLOGIA","value":null,"label":null},{"id":null,"log":null,"codigo":"115319","nombre":"CARDENAS MARIA LAURA","especialidad":"CARDIOLOGIA","value":null,"label":null},{"id":null,"log":null,"codigo":"113","nombre":"CARDIACOS SPECT","especialidad":"MEDICINA NUCLEAR","value":null,"label":null},{"id":null,"log":null,"codigo":"119268","nombre":"CARRIQUE FACUNDO","especialidad":"NEUROLOGIA","value":null,"label":null},{"id":null,"log":null,"codigo":"114","nombre":"CENTELLO GENERALES","especialidad":"MEDICINA NUCLEAR","value":null,"label":null},{"id":null,"log":null,"codigo":"131","nombre":"CORNELI (ECO)","especialidad":"ECOGRAFIAS DOPPLER","value":null,"label":null},{"id":null,"log":null,"codigo":"116051","nombre":"CORRADI MARIA VICTORIA","especialidad":"CARDIOLOGIA PEDIATRI","value":null,"label":null},{"id":null,"log":null,"codigo":"2959","nombre":"COSTA MARIA LUJAN","especialidad":"LICENCIADA EN NUTRIC","value":null,"label":null},{"id":null,"log":null,"codigo":"118604","nombre":"COSTA MARIANO","especialidad":"ENDOCRINOLOGIA","value":null,"label":null},{"id":null,"log":null,"codigo":"112269","nombre":"CRAIG CARLOS","especialidad":"CARDIOLOGIA","value":null,"label":null},{"id":null,"log":null,"codigo":"119","nombre":"CUELI (ECO)","especialidad":"ECOGRAFIAS DOPPLER","value":null,"label":null},{"id":null,"log":null,"codigo":"19721","nombre":"CUELI ANDREA","especialidad":"CARDIOLOGIA PEDIATRI","value":null,"label":null},{"id":null,"log":null,"codigo":"19489","nombre":"CUELLAR SERGIO","especialidad":"CLINICA MEDICA","value":null,"label":null},{"id":null,"log":null,"codigo":"137","nombre":"CUELLO KAREN (ECO)","especialidad":"ECOGRAFIAS DOPPLER","value":null,"label":null},{"id":null,"log":null,"codigo":"114206","nombre":"de la SERNA MARIANO","especialidad":"CLINICA MEDICA","value":null,"label":null},{"id":null,"log":null,"codigo":"110843","nombre":"DEFELITTO SANDRA","especialidad":"CARDIOLOGIA","value":null,"label":null},{"id":null,"log":null,"codigo":"115068","nombre":"DEGLIANTONI LISANDRO","especialidad":"CARDIOLOGIA","value":null,"label":null},{"id":null,"log":null,"codigo":"142","nombre":"DI GIROLAMO (ECO)","especialidad":"ECOGRAFIAS DOPPLER","value":null,"label":null},{"id":null,"log":null,"codigo":"139","nombre":"ERGOMETRIA BARBIERI","especialidad":"ERGOMETRIA","value":null,"label":null},{"id":null,"log":null,"codigo":"116038","nombre":"ETCHEVERRY PATRICIA","especialidad":"CARDIOLOGIA","value":null,"label":null},{"id":null,"log":null,"codigo":"130","nombre":"FABRIS (ECO TARDE)","especialidad":"ECOGRAFIAS DOPPLER","value":null,"label":null},{"id":null,"log":null,"codigo":"129","nombre":"FABRIS (ECO)","especialidad":"ECOGRAFIAS DOPPLER","value":null,"label":null},{"id":null,"log":null,"codigo":"15968","nombre":"FABRIS NORA","especialidad":"CARDIOLOGIA","value":null,"label":null},{"id":null,"log":null,"codigo":"148","nombre":"FALIVA (ECO)","especialidad":"ECOGRAFIAS DOPPLER","value":null,"label":null},{"id":null,"log":null,"codigo":"116203","nombre":"FALIVA MAI GIANINA ANDREA","especialidad":"CARDIOLOGIA","value":null,"label":null},{"id":null,"log":null,"codigo":"112032","nombre":"FONTANA JUAN JOSE","especialidad":"CARDIOLOGIA","value":null,"label":null},{"id":null,"log":null,"codigo":"114742","nombre":"FRAPICCINI MARIA GABRIELA","especialidad":"NEFROLOGIA","value":null,"label":null},{"id":null,"log":null,"codigo":"111965","nombre":"GARCIA EINSCHLAG CECILIA","especialidad":"HEMATOLOGIA","value":null,"label":null},{"id":null,"log":null,"codigo":"115351","nombre":"GENONI MARIA VICTORIA","especialidad":"ENDOCRINOLOGIA","value":null,"label":null},{"id":null,"log":null,"codigo":"111808","nombre":"GENOVESI LUIS","especialidad":"CLINICA MEDICA","value":null,"label":null},{"id":null,"log":null,"codigo":"114270","nombre":"GODOY LEANDRO","especialidad":"CARDIOLOGIA","value":null,"label":null},{"id":null,"log":null,"codigo":"123","nombre":"GOMEZ  (ECO)","especialidad":"ECOGRAFIAS DOPPLER","value":null,"label":null},{"id":null,"log":null,"codigo":"116731","nombre":"GOMEZ DANIELA","especialidad":"CARDIOLOGIA","value":null,"label":null},{"id":null,"log":null,"codigo":"102","nombre":"HOLTER (ARREGUI)","especialidad":"HOLTER","value":null,"label":null},{"id":null,"log":null,"codigo":"103","nombre":"HOLTER (BARBA)","especialidad":"HOLTER","value":null,"label":null},{"id":null,"log":null,"codigo":"134","nombre":"HOLTER (CORRADI)","especialidad":"HOLTER","value":null,"label":null},{"id":null,"log":null,"codigo":"135","nombre":"HOLTER TARDE (ARREGUI)","especialidad":"HOLTER","value":null,"label":null},{"id":null,"log":null,"codigo":"114788","nombre":"HONAINE LUCIANO","especialidad":"FLEBOLOGIA","value":null,"label":null},{"id":null,"log":null,"codigo":"143","nombre":"MAINA (ECO)","especialidad":"ECOGRAFIAS DOPPLER","value":null,"label":null},{"id":null,"log":null,"codigo":"117200","nombre":"MAINA CLAUDIO","especialidad":"FLEBOLOGIA","value":null,"label":null},{"id":null,"log":null,"codigo":"146","nombre":"MANIOTTI ENZO (ECO)","especialidad":"ECOGRAFIAS DOPPLER","value":null,"label":null},{"id":null,"log":null,"codigo":"118","nombre":"MANSO (ECO)","especialidad":"ECOGRAFIAS DOPPLER","value":null,"label":null},{"id":null,"log":null,"codigo":"113834","nombre":"MANSO PAULA","especialidad":"CARDIOLOGIA PEDIATRI","value":null,"label":null},{"id":null,"log":null,"codigo":"101","nombre":"MAPA","especialidad":"CARDIOLOGIA","value":null,"label":null},{"id":null,"log":null,"codigo":"136","nombre":"MAPA (TARDE)","especialidad":"MAPA","value":null,"label":null},{"id":null,"log":null,"codigo":"151","nombre":"MAPA CARDENAS","especialidad":"MAPA","value":null,"label":null},{"id":null,"log":null,"codigo":"112842","nombre":"MASSA ROBERTO","especialidad":"CARDIOLOGIA","value":null,"label":null},{"id":null,"log":null,"codigo":"14545","nombre":"MELE ANIBAL","especialidad":"CARDIOLOGIA","value":null,"label":null},{"id":null,"log":null,"codigo":"18317","nombre":"MIJAILOFF DANIEL","especialidad":"CLINICA MEDICA","value":null,"label":null},{"id":null,"log":null,"codigo":"114793","nombre":"PEDERSOLI MARTIN","especialidad":"NEUROLOGIA","value":null,"label":null},{"id":null,"log":null,"codigo":"116577","nombre":"PINEDO ARCURI (ECO)","especialidad":"ECOGRAFIAS DOPPLER","value":null,"label":null},{"id":null,"log":null,"codigo":"112196","nombre":"PONCE VENA LEONEL","especialidad":"CARDIOLOGIA","value":null,"label":null},{"id":null,"log":null,"codigo":"300","nombre":"PREVENCION","especialidad":"PREVENCION","value":null,"label":null},{"id":null,"log":null,"codigo":"141","nombre":"RIGA (ECO)","especialidad":"ECOGRAFIAS DOPPLER","value":null,"label":null},{"id":null,"log":null,"codigo":"125","nombre":"ROGGIERO (ECO)","especialidad":"ECOGRAFIAS DOPPLER","value":null,"label":null},{"id":null,"log":null,"codigo":"16118","nombre":"ROGGIERO GUSTAVO","especialidad":"CARDIOLOGIA PEDIATRI","value":null,"label":null},{"id":null,"log":null,"codigo":"116366","nombre":"ROLDAN MIRIAN CARINA","especialidad":"CARDIOLOGIA","value":null,"label":null},{"id":null,"log":null,"codigo":"15138","nombre":"RONDEROS RICARDO","especialidad":"CARDIOLOGIA","value":null,"label":null},{"id":null,"log":null,"codigo":"118273","nombre":"SANCHEZ ANA LUZ","especialidad":"NEUMONOLOGIA","value":null,"label":null},{"id":null,"log":null,"codigo":"115427","nombre":"SANTORO ANDREA","especialidad":"CARDIOLOGIA","value":null,"label":null},{"id":null,"log":null,"codigo":"116","nombre":"STRESS","especialidad":"STRESS","value":null,"label":null},{"id":null,"log":null,"codigo":"999990","nombre":"ZZZ pruebas!!","especialidad":"","value":null,"label":null}],"value":null,"label":null}}]},"versionId":"cf173366-9e60-4e94-b154-95361e4b7a00","triggerCount":0,"shared":[{"createdAt":"2025-07-03T20:58:20.135Z","updatedAt":"2025-07-03T20:58:20.135Z","role":"workflow:owner","workflowId":"F1fDDiw4EyfcUfhm","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}