semi-asistido:-tomar_turno-IGIgKeF0ep3CS1wL.json
{"createdAt":"2025-06-28T21:42:57.935Z","updatedAt":"2025-07-10T12:23:42.997Z","id":"IGIgKeF0ep3CS1wL","name":"Semi-Asistido: tomar_turno","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"dni"},{"name":"matricula"},{"name":"fecha"},{"name":"hora"},{"name":"celular"},{"name":"nombrePaciente"},{"name":"nombreMedico"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,100],"id":"6c704cbe-338b-41f7-813e-462c3151b124","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"// Procesar y validar datos de entrada para API ICLP\nconst inputData = $input.first().json;\n\nconsole.log('=== DEBUG - Datos de entrada ===');\nconsole.log('DNI recibido:', inputData.dni);\nconsole.log('Matrícula recibida:', inputData.matricula);\nconsole.log('Fecha recibida:', inputData.fecha);\nconsole.log('Hora recibida:', inputData.hora);\n\n// Convertir fecha a timestamp (requerido por API)\nlet fechaTimestamp;\ntry {\n  fechaTimestamp = new Date(inputData.fecha + 'T00:00:00').getTime();\n  console.log('Fecha convertida a timestamp:', fechaTimestamp);\n} catch (e) {\n  console.error('Error convirtiendo fecha:', e);\n  fechaTimestamp = new Date().getTime(); // fallback\n}\n\n// Convertir hora a formato HHMM (sin dos puntos)\nconst horaFormateada = inputData.hora.replace(':', '');\nconsole.log('Hora formateada (HHMM):', horaFormateada);\n\n// Parsear matrícula como número entero\nconst matriculaInt = parseInt(inputData.matricula);\nconsole.log('Matrícula como entero:', matriculaInt);\n\nconst outputData = {\n  dni: inputData.dni,\n  matricula: matriculaInt,\n  fecha: fechaTimestamp,\n  hora: horaFormateada,\n  celular: inputData.celular || '',\n  sexo: '',\n  estudios: 'Consulta',\n  equipo: '1',\n  // Datos adicionales para respuesta\n  fechaOriginal: inputData.fecha,\n  horaOriginal: inputData.hora,\n  nombrePaciente: inputData.nombrePaciente,\n  nombreMedico: inputData.nombreMedico\n};\n\nconsole.log('=== DEBUG - Datos procesados ===');\nconsole.log('Datos que se enviarán a la API:', outputData);\n\nreturn outputData;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[220,100],"id":"e7a6e2cf-e7f6-49c0-a962-2505cddc7862","name":"Code"},{"parameters":{"method":"POST","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/tomar-turno","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"},{"name":"canal","value":"whatsapp"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json."}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"dni\": \"{{ $json.dni }}\",\n  \"matricula\": {{ $json.matricula }},\n  \"fecha\": {{ $json.fecha }},\n  \"hora\": \"{{ $json.hora }}\",\n  \"celular\": \"{{ $json.celular }}\",\n  \"sexo\": \"{{ $json.sexo }}\",\n  \"estudios\": \"{{ $json.estudios }}\",\n  \"equipo\": \"{{ $json.equipo }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,100],"id":"46ddc3eb-07ff-49cb-aa3a-bb0b7a06622e","name":"HTTP tomar_turno1"},{"parameters":{"assignments":{"assignments":[{"id":"88f2d55b-f487-4fb1-bff4-a718a9e958f1","name":"resultado","value":"=Turno confirmado exitosamente!\\n\\n👤 Paciente: {{ $('Code').item.json.nombrePaciente }}\\n👨‍⚕️ Médico: Dr. {{ $('Code').item.json.nombreMedico }}\\n📅 Fecha: {{ $('Code').item.json.fechaOriginal }}\\n🕐 Hora: {{ $('Code').item.json.horaOriginal }}\\n\\n¡Te esperamos! 🏥","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,0],"id":"aa3734f9-9124-4ac8-a1be-25a11df5e3e0","name":"Exitoso"},{"parameters":{"assignments":{"assignments":[{"id":"58480e0a-e473-48af-83bc-a187d3476fe6","name":"resultado","value":"=\"❌ Error al reservar el turno.\\n\\nPosibles causas:\\n• El horario ya fue tomado\\n• Datos incorrectos\\n• Problema técnico\\n\\nIntenta nuevamente o contacta al instituto.\"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,200],"id":"6d281d3e-ebab-496e-82ec-fdf2c4824c56","name":"Error"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP tomar_turno1","type":"main","index":0}]]},"HTTP tomar_turno1":{"main":[[{"node":"Exitoso","type":"main","index":0},{"node":"Error","type":"main","index":0}]]},"Error":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"da97bd92-57dc-44e6-b842-d6e158f68210","triggerCount":0,"shared":[{"createdAt":"2025-06-28T21:42:57.935Z","updatedAt":"2025-06-28T21:42:57.935Z","role":"workflow:owner","workflowId":"IGIgKeF0ep3CS1wL","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}