sub---get_paciente-oB7pjyME2Gvo5moH.json
{"createdAt":"2025-10-14T03:08:04.221Z","updatedAt":"2025-10-30T13:51:53.671Z","id":"oB7pjyME2Gvo5moH","name":"SUB - GET_PACIENTE","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"dni"},{"name":"telefono"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1120,-192],"id":"11590636-9348-480c-a284-3d22e88c3dba","name":"Trigger_Flujo_Padron"},{"parameters":{"url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/verificar-padron","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"},{"name":"dni","value":"={{ $json.dni }}"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true}},"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-848,-192],"id":"5f450866-c4f4-4407-bae8-46d048da3197","name":"API_Verificar_Padron","retryOnFail":false,"executeOnce":true,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"text":"={{ JSON.stringify($json) }}","attributes":{"attributes":[{"name":"status_verificacion","description":"Estado de la verificación: 'encontrado' si el paciente existe en el padrón, 'no_encontrado' si no está registrado, 'error' si hubo problema técnico"},{"name":"paciente_nombre","description":"Nombre completo del paciente extraído del campo apellido de la respuesta del API"},{"name":"paciente_dni","type":"number","description":"Número de DNI del paciente extraído del campo documento de la respuesta"},{"name":"paciente_telefono","description":"Teléfono principal del paciente extraído del campo telefono de la respuesta"},{"name":"paciente_celular","description":"Número de celular del paciente extraído del campo celular de la respuesta"},{"name":"paciente_email","description":"Email del paciente extraído del campo email de la respuesta"},{"name":"mensaje_usuario","description":"Mensaje claro y amigable para mostrar al usuario, explicando si está registrado o qué pasos seguir"},{"name":"siguiente_accion","description":"Próxima acción recomendada: 'continuar_con_turno' si está empadronado, 'iniciar_empadronamiento' si no está registrado"},{"name":"esta_empadronado","type":"boolean","description":"True si el paciente está registrado en el padrón, False si no está registrado"}]},"options":{"systemPromptTemplate":"Extrae información de los datos del padrón médico de ICLP. Los datos pueden venir de:\n1. API verificación (si el paciente existe)\n2. API empadronamiento (si se registró nuevo paciente)\n\nPara datos de verificación (tiene campos como \"apellido\", \"documento\"):\n- status_verificacion: \"encontrado\"\n- paciente_nombre: del campo \"apellido\"\n- siguiente_accion: \"continuar_con_turno\"\n- esta_empadronado: true\n\nPara datos de empadronamiento (respuesta de registro):\n- status_verificacion: \"empadronado_nuevo\"  \n- paciente_nombre: del campo \"paciente\" o \"nombre\"\n- siguiente_accion: \"continuar_con_turno\"\n- esta_empadronado: true\n\nSiempre extrae dni, telefono, celular, email si están disponibles."}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-224,-192],"id":"ab7044b1-61ef-49d6-8f94-00b2d6af9fa1","name":"Extraer_Datos_Estructurados"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-336,64],"id":"d7a0fbb2-6534-469d-8eb5-b5511f71fe99","name":"LLM_Nano_Extractor","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}},{"parameters":{"assignments":{"assignments":[{"id":"529d1203-b831-4029-8740-0e69daab8f4b","name":"=output","value":"={\n  \"status\": \"{{ $json.output.status_verificacion || 'error' }}\",\n  \"accion\": \"{{ $json.output.status_verificacion === 'encontrado' ? 'verificacion_exitosa' : 'empadronamiento_exitoso' }}\",\n  \"paciente\": {\n    \"dni\": {{ $json.output.paciente_dni || 0 }},\n    \"nombre\": \"{{ $json.output.paciente_nombre || 'Sin nombre' }}\",\n    \"telefono\": \"{{ $json.output.paciente_telefono || '' }}\",\n    \"celular\": \"{{ $json.output.paciente_celular || '' }}\",\n    \"email\": \"{{ $json.output.paciente_email || '' }}\"\n  },\n  \"mensaje\": \"{{ $json.output.mensaje_usuario || 'Proceso completado' }}\",\n  \"siguiente_accion\": \"{{ $json.output.siguiente_accion || 'continuar_con_turno' }}\",\n  \"empadronado\": {{ $json.output.esta_empadronado || true }}\n}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,-192],"id":"9384f7fe-a280-4114-83e0-229a5c0ccaac","name":"Output_Final_Padron"},{"parameters":{"operation":"set","key":"=user_{{ $('Trigger_Flujo_Padron').item.json.telefono }}_iclp_padron_ok","value":"=true","expire":true,"ttl":600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-544,-320],"id":"5d3c682b-7f1c-48de-850a-f169d70dbad5","name":"Redis","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"set","key":"=DNI:{{ $('Trigger_Flujo_Padron').first().json.telefono.replace('+', '') }}","value":"={{ JSON.stringify($json.output) }}","expire":true,"ttl":300},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[128,-192],"id":"57d2e872-3b51-470f-8e70-44fe2c3473c4","name":"Redis1","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Trigger_Flujo_Padron').item.json.telefono }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"preview_url\": false,\n    \"body\": \"⚠️ *ESTAMOS TENIENDO INCONVENIENTES PARA OBTENER SUS DATOS* _UTILIZE EL MENU PRINCIPAL Y PRESIONE_ `ADMINISTRACION`\"\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-544,-64],"id":"a3a02394-b6da-40ae-ba25-d7d3253aa907","name":"⚠️ DATOS INCORRECTOS1","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}}],"connections":{"Trigger_Flujo_Padron":{"main":[[{"node":"API_Verificar_Padron","type":"main","index":0}]]},"API_Verificar_Padron":{"main":[[{"node":"Redis","type":"main","index":0}],[{"node":"⚠️ DATOS INCORRECTOS1","type":"main","index":0}]]},"Extraer_Datos_Estructurados":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"LLM_Nano_Extractor":{"ai_languageModel":[[{"node":"Extraer_Datos_Estructurados","type":"ai_languageModel","index":0}]]},"Redis":{"main":[[{"node":"Extraer_Datos_Estructurados","type":"main","index":0}]]},"Redis1":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Trigger_Flujo_Padron":[{"json":{"dni":"23505860","telefono":"+5492254596618"}}]},"versionId":"5a74abf7-7a56-4eec-924b-dde7a150a232","triggerCount":0,"shared":[{"createdAt":"2025-10-14T03:08:04.221Z","updatedAt":"2025-10-14T03:08:04.221Z","role":"workflow:owner","workflowId":"oB7pjyME2Gvo5moH","projectId":"R66ikVn5xqf0nYcA"}],"tags":[{"createdAt":"2025-10-18T05:48:24.047Z","updatedAt":"2025-10-18T05:48:24.047Z","id":"9MPkCQDvT4HFCUIK","name":"ClinicAI-v1.33"}]}