sub---post_paciente-5yeTNub4mGFgBUpp.json
{"createdAt":"2025-10-18T07:17:09.270Z","updatedAt":"2025-11-14T17:41:10.661Z","id":"5yeTNub4mGFgBUpp","name":"SUB - POST_PACIENTE","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/verificar-padron","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"},{"name":"dni","value":"={{ $json.dni }}"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true}},"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1600,-384],"id":"68508f56-b42b-427e-a421-b629e9a439aa","name":"API_Verificar_Padron","executeOnce":true,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bdc3a715-ba83-4d71-90e7-f199a5ba5999","leftValue":"={{ $json.body.documento }}","rightValue":"is true","operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"encontrado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"151824a6-9660-4596-91cb-30e0cdc255fe","leftValue":"={{ $json.statusCode }}","rightValue":500,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"no_encontrado"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1280,-496],"id":"f6433f79-363f-426f-b22a-0995a757235f","name":"Router_Paciente_Encontrado"},{"parameters":{"method":"POST","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/empadronamiento","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"dni\":\"{{ $('Trigger_Flujo_Padron').first().json.dni }}\",\n  \"paciente\":\"{{ $('Trigger_Flujo_Padron').first().json.paciente }}\",\n  \"obraSocial\":\"{{ $('Trigger_Flujo_Padron').item.json.nombreobrasocial === 'PARTICULAR' ? 'PART' : $('Trigger_Flujo_Padron').item.json.nombreobrasocial }}\",\n  \"celular\":\"{{ $('Trigger_Flujo_Padron').first().json.whatsapp }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,-128],"id":"d60f4885-a382-4bc9-a50d-ee14a273df4f","name":"API_Empadronar_Paciente","executeOnce":true,"retryOnFail":false,"onError":"continueErrorOutput"},{"parameters":{"text":"={{ JSON.stringify($json) }}","attributes":{"attributes":[{"name":"status_verificacion","description":"Estado de la verificación: 'encontrado' si el paciente existe en el padrón, 'no_encontrado' si no está registrado, 'error' si hubo problema técnico"},{"name":"paciente_nombre","description":"Nombre completo del paciente extraído del campo apellido de la respuesta del API"},{"name":"paciente_dni","type":"number","description":"Número de DNI del paciente extraído del campo documento de la respuesta"},{"name":"paciente_telefono","description":"Teléfono principal del paciente extraído del campo telefono de la respuesta"},{"name":"paciente_celular","description":"Número de celular del paciente extraído del campo celular de la respuesta"},{"name":"paciente_email","description":"Email del paciente extraído del campo email de la respuesta"},{"name":"mensaje_usuario","description":"Mensaje claro y amigable para mostrar al usuario, explicando si está registrado o qué pasos seguir"},{"name":"siguiente_accion","description":"Próxima acción recomendada: 'continuar_con_turno' si está empadronado, 'iniciar_empadronamiento' si no está registrado"},{"name":"esta_empadronado","type":"boolean","description":"True si el paciente está registrado en el padrón, False si no está registrado"},{"name":"obrasocial","description":"={{ $('Trigger_Flujo_Padron').item.json.obraSocial }}"}]},"options":{"systemPromptTemplate":"Extrae información de los datos del padrón médico de ICLP. Los datos pueden venir de:\n1. API verificación (si el paciente existe)\n2. API empadronamiento (si se registró nuevo paciente)\n\nPara datos de verificación (tiene campos como \"apellido\", \"documento\"):\n- status_verificacion: \"encontrado\"\n- paciente_nombre: del campo \"apellido\"\n- siguiente_accion: \"continuar_con_turno\"\n- esta_empadronado: true\n\nPara datos de empadronamiento (respuesta de registro):\n- status_verificacion: \"empadronado_nuevo\"  \n- paciente_nombre: del campo \"paciente\" o \"nombre\"\n- siguiente_accion: \"continuar_con_turno\"\n- esta_empadronado: true\n\nSiempre extrae dni, telefono, celular, email si están disponibles."}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-752,-656],"id":"b998e8b4-1786-470e-9592-e6124abca2db","name":"Extraer_Datos_Estructurados"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-800,-448],"id":"bf0d4532-55e8-46e2-ace0-fc9618826659","name":"LLM_Nano_Extractor","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ac36dc3c-6672-453b-bd91-bb77c139d577","leftValue":"={{ !!($json.session?.datos_recopilados?.nombre && $json.session?.datos_recopilados?.telefono) }}","rightValue":"","operator":{"type":"boolean","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-800,-64],"id":"2e6b9817-c932-48d2-b2b1-861369027c21","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"b33af0fe-cd95-43bf-a96c-94d2f2f884a3","name":"output","value":"Para poder registrarte en el sistema necesito algunos datos adicionales.  📌 Por favor indicame: 1. Tu nombre completo 2. Un número de teléfono de contacto 3. Tu obra social si tenes. Luego intentaré empadronarte nuevamente 😊","type":"string"}]},"options":{"ignoreConversionErrors":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-480,112],"id":"7ab24aec-4f28-4f67-8d32-52710c608186","name":"Set_Mensaje_Faltan_Datos"},{"parameters":{"workflowInputs":{"values":[{"name":"dni"},{"name":"paciente"},{"name":"direccion"},{"name":"celular"},{"name":"obraSocial"},{"name":"nombreobrasocial"},{"name":"whatsapp"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1920,-384],"id":"1aa529b1-492a-4a74-8d9a-49d57b783855","name":"Trigger_Flujo_Padron"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"datos\": {\n    \"paciente_nombre\": \"{{ $json.output.paciente_nombre }}\",\n    \"paciente_dni\": {{ $json.output.paciente_dni }},\n    \"paciente_celular\": \"{{ $json.output.paciente_celular }}\",\n    \"obra_social\": \"{{ $json.output.obrasocial }}\",\n    \"nombre_obrasocial\": \"{{ $('Trigger_Flujo_Padron').item.json.nombreobrasocial }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-352,-656],"id":"45f50056-027e-4cd0-be39-ec94ac0dd87f","name":"Edit Fields"},{"parameters":{"operation":"set","key":"=DNI:549{{ $json.datos.paciente_celular }}","value":"={{ $json.datos }}","expire":true,"ttl":300},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-80,-656],"id":"ab67e944-31a8-4d08-91f6-000b15259514","name":"DATOS_USUARIO","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"content":"## Cuando se registra un paciente los datos quedan almacenados, de igual forma si el cliente ya existe.","width":368,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1840,-688],"typeVersion":1,"id":"129298cf-b0da-42d4-a416-a674777818e6","name":"Sticky Note"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"datos\": {\n    \"paciente_nombre\": \"{{ $json.apellido }}\",\n    \"paciente_dni\":{{ $json.documento }} ,\n    \"paciente_celular\": \"{{ $('Trigger_Flujo_Padron').item.json.celular }}\",\n    \"obra_social\": \"{{ $('Trigger_Flujo_Padron').item.json.obraSocial }}\",\n    \"nombre_obrasocial\": \"{{ $('Trigger_Flujo_Padron').item.json.nombreobrasocial }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-208,-224],"id":"8a5ea1a1-0b04-4390-88d7-e6ab079e2faa","name":"Edit Fields1"},{"parameters":{"operation":"set","key":"=DNI:{{ $('Trigger_Flujo_Padron').item.json.whatsapp }}","value":"={{ JSON.stringify($json.datos) }}","expire":true,"ttl":300},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[32,-304],"id":"eefccde2-88a5-4fa8-9c8b-eed480c00872","name":"DATOS_USUARIO1","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e209146d-f7b6-4997-82cf-d32808bf62c7","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1120,-224],"id":"19e8c272-0b78-4201-ad6b-460e411afe51","name":"If1"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Trigger_Flujo_Padron').item.json.whatsapp }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"preview_url\": false,\n    \"body\": \"⚠️ *ESTAMOS SUFRIENDO ERRORES DE CONEXION CON EL SERVIDOR DE LA CLINICA, COMUNIQUESE CON `ADMINISTRACION` DESDE EL *MENU PRINCIPAL*\"\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1280,-208],"id":"cbf332db-1365-416b-a31e-604340a38c49","name":"⚠️ DATOS INCORRECTOS1","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Trigger_Flujo_Padron').item.json.whatsapp }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"preview_url\": false,\n    \"body\": \"⚠️ *HUBO UN ERROR EN EL SERVIDOR, NO PUDIMOS EMPADRONARLO, COMUNIQUESE CON ADMINISTRACION DESDE EL MENU PRINCIPAL*\"\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-192,16],"id":"93cd9406-ad7b-43ff-8b06-dbc5d5386467","name":"⚠️ DATOS INCORRECTOS","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"assignments":{"assignments":[{"id":"3c6345c8-b950-4e7d-a5ba-b055a5fa8b57","name":"statusCode","value":"ERROR","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,48],"id":"9973ec48-e8b7-4cf2-95dd-b61c5d13a869","name":"Edit Fields2"}],"connections":{"API_Verificar_Padron":{"main":[[{"node":"Router_Paciente_Encontrado","type":"main","index":0}],[{"node":"⚠️ DATOS INCORRECTOS1","type":"main","index":0}]]},"Router_Paciente_Encontrado":{"main":[[{"node":"Extraer_Datos_Estructurados","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"API_Empadronar_Paciente":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"⚠️ DATOS INCORRECTOS","type":"main","index":0}]]},"Extraer_Datos_Estructurados":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"LLM_Nano_Extractor":{"ai_languageModel":[[{"node":"Extraer_Datos_Estructurados","type":"ai_languageModel","index":0}]]},"If":{"main":[[{"node":"API_Empadronar_Paciente","type":"main","index":0}],[{"node":"Set_Mensaje_Faltan_Datos","type":"main","index":0}]]},"Trigger_Flujo_Padron":{"main":[[{"node":"API_Verificar_Padron","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"DATOS_USUARIO","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"DATOS_USUARIO1","type":"main","index":0}]]},"⚠️ DATOS INCORRECTOS":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Trigger_Flujo_Padron":[{"json":{"dni":"23134610","paciente":"Paola Andrea Fuentes","direccion":"Calle 359 n 179 ranelagh","celular":"1163052126","obraSocial":"846","nombreobrasocial":"OSFATUN","whatsapp":"+5491163052126"}}]},"versionId":"2ca0300e-d858-4e50-b89e-8e4c6b9a73df","triggerCount":0,"shared":[{"createdAt":"2025-10-18T07:17:09.270Z","updatedAt":"2025-10-18T07:17:09.270Z","role":"workflow:owner","workflowId":"5yeTNub4mGFgBUpp","projectId":"R66ikVn5xqf0nYcA"}],"tags":[{"createdAt":"2025-10-18T05:48:24.047Z","updatedAt":"2025-10-18T05:48:24.047Z","id":"9MPkCQDvT4HFCUIK","name":"ClinicAI-v1.33"}]}