sub---etiquete:-turno_estudio-xBZYzq5pKXYbUGV7.json
{"createdAt":"2025-10-14T22:48:19.562Z","updatedAt":"2025-10-28T18:11:01.229Z","id":"xBZYzq5pKXYbUGV7","name":"SUB - ETIQUETE: TURNO_ESTUDIO","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"accountId","type":"number"},{"name":"conversationId"},{"name":"contactId"},{"name":"message"},{"name":"inboxId"},{"name":"humano","type":"boolean"},{"name":"chatwootUrlBase"},{"name":"tokenChatwoot"},{"name":"tipoIntencion"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-480,-448],"id":"082461a7-cea4-4264-a5c7-da0139335b00","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"aa4d484e-8f5b-495b-8962-a83ec925f493","name":"tokenBot","value":"rgqHjdPeBQpVpzt2iDR2RKLp","type":"string"},{"id":"2d2a830b-0343-4c48-a2a7-6a8a934d7eeb","name":"tokenAcc","value":"JFi43nzvEPDBCaxaFrkhVvdM","type":"string"},{"id":"1107862b-79a7-4db8-8e5f-7f71c755f1d0","name":"chatwootUrlBase","value":"https://chatw.automatizaciones.ai/","type":"string"},{"id":"000a416d-84b5-4bdf-82ec-6daaaaa98c4f","name":"tipoIntencion","value":"={{ $json.tipoIntencion }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-256,-448],"id":"9f6f67b4-7b5d-40b4-ad70-b4c96a6bacb6","name":"variables"},{"parameters":{"method":"POST","url":"={{ $('variables').item.json.chatwootUrlBase }}api/v1/accounts/{{ $('variables').item.json.accountId }}/conversations/{{ $('variables').item.json.conversationId }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('variables').item.json.tokenAcc }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"labels\": [\n    \"{{ $json.tipoIntencion }}\"\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-32,-448],"id":"26eb6214-07bc-481c-85c2-942b9f2df19a","name":"addLabelCw"},{"parameters":{"method":"POST","url":"={{ $('When Executed by Another Workflow').item.json.chatwootUrlBase }}/api/v1/accounts/{{ $('When Executed by Another Workflow').item.json.accountId }}/conversations/{{ $('When Executed by Another Workflow').item.json.conversationId }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('variables').item.json.tokenAcc }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[416,-448],"id":"057a2cdf-cbb3-46e7-9413-c2f07a0a3ea4","name":"sendRespondCw"},{"parameters":{"method":"POST","url":"={{ $('variables').item.json.chatwootUrlBase }}api/v1/accounts/{{ $('variables').item.json.accountId }}/conversations/{{ $('variables').item.json.conversationId }}/custom_attributes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('variables').item.json.tokenAcc }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"custom_attributes","value":"={{ \n{\nbot: false,\nhumano: true\n}\n}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,-448],"id":"a54f6493-1715-44fa-a996-c230710a562e","name":"setAtributeBot"},{"parameters":{"assignments":{"assignments":[{"id":"e200c40d-3b54-4434-b0d7-ec63135ace5e","name":"accountId","value":"={{ $('variables').item.json.accountId }}","type":"number"},{"id":"05ad941f-d8d9-4ac9-95f1-eaba1543e042","name":"message","value":"={{ $('variables').item.json.message }}","type":"string"},{"id":"01ed2456-3fd9-4ae9-a7b8-90172f63f2c3","name":"inboxId","value":"={{ $('variables').item.json.inboxId }}","type":"number"},{"id":"b0b4b149-5668-4a06-8617-1ffbba3391db","name":"contactId","value":"={{ $('variables').item.json.contactId }}","type":"number"},{"id":"4c51f4dc-27dc-4763-9a50-3d3827a20b8d","name":"conversationId","value":"={{ $('variables').item.json.conversationId }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1424,-448],"id":"fa33c1c6-2a1c-42b7-8b39-a5e05aaaac43","name":"response"},{"parameters":{"assignments":{"assignments":[{"id":"ebe90916-51eb-4da1-970e-24e8078a3e6c","name":"output","value":"ATENCION Recuerde que los horarios de atención son de 8 a 20hs LUNES A VIERNES ‼️\n\nYA DERIVÉ TU CONSULTA a una secretaria para que te contacte a la brevedad.\n\nPara que podamos darte una respuesta mucho más rápida y directa, podés ir adelantándonos lo siguiente:\nDATOS DEL PACIENTE: \n- APELLIDO Y NOMBRE\n- DNI \n- OBRA SOCIAL (SI TIENE) \n- DISPONIBILIDAD HORARIA\n- FOTO DE LA ORDEN/ES \n- NOMBRE, APELLIDO Y MATRICULA DEL MEDICO SOLICITANTE \n\nTe pedimos que las fotos sean nítidas y se lean bien todos los datos por favor. \n¡Muchas gracias! ❤️","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,-448],"id":"86de864d-ff16-4a54-9e49-42fb457f497c","name":"respuestaEstudios"},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","workspaceId":"wfe9btuw","projectId":"p304m8tufpug3oy","table":"muyl14jnjadfhp7","options":{}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[896,-448],"id":"8044b76c-3b7e-4e90-87de-4b702bd8a7b7","name":"Get many rows","alwaysOutputData":true,"credentials":{"nocoDbApiToken":{"id":"CERoQkqIgqq5Hzwe","name":"ICLP_MEDICOS"}}},{"parameters":{"authentication":"nocoDbApiToken","operation":"update","workspaceId":"wfe9btuw","projectId":"p304m8tufpug3oy","table":"muyl14jnjadfhp7","fieldsUi":{"fieldValues":[{"fieldName":"Id","fieldValue":"=1"},{"fieldName":"TURNOS_TOMADOS_ESTUDIO","fieldValue":"={{ $json.TURNOS_TOMADOS_ESTUDIO.toNumber()+1 }}"}]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[1168,-448],"id":"97701a99-37f6-49be-ba5c-bf22043ab5cd","name":"Update a row","credentials":{"nocoDbApiToken":{"id":"CERoQkqIgqq5Hzwe","name":"ICLP_MEDICOS"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"variables","type":"main","index":0}]]},"variables":{"main":[[{"node":"addLabelCw","type":"main","index":0}]]},"addLabelCw":{"main":[[{"node":"respuestaEstudios","type":"main","index":0}]]},"sendRespondCw":{"main":[[{"node":"setAtributeBot","type":"main","index":0}]]},"setAtributeBot":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"respuestaEstudios":{"main":[[{"node":"sendRespondCw","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"Update a row","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"response":[{"json":{"accountId":2,"message":"TURNOS ESTUDIO","inboxId":13,"contactId":7191,"conversationId":9161}}],"When Executed by Another Workflow":[{"json":{"accountId":2,"conversationId":"9162","contactId":"7192","message":"TURNOS ESTUDIO","inboxId":"13","humano":true,"chatwootUrlBase":"https://chatw.automatizaciones.ai","tokenChatwoot":"JFi43nzvEPDBCaxaFrkhVvdM","tipoIntencion":"turnos-estudios"}}],"variables":[{"json":{"accountId":2,"conversationId":"9162","contactId":"7192","message":"TURNOS ESTUDIO","inboxId":"13","humano":true,"chatwootUrlBase":"https://chatw.automatizaciones.ai/","tokenChatwoot":"JFi43nzvEPDBCaxaFrkhVvdM","tipoIntencion":"turnos-estudios","tokenBot":"rgqHjdPeBQpVpzt2iDR2RKLp","tokenAcc":"JFi43nzvEPDBCaxaFrkhVvdM"}}],"addLabelCw":[{"json":{"payload":["turnos-estudios"]}}],"sendRespondCw":[{"json":{"id":126092,"content":"ATENCION Recuerde que los horarios de atención son de 8 a 20hs LUNES A VIERNES ‼️\n\nYA DERIVÉ TU CONSULTA a una secretaria para que te contacte a la brevedad.\n\nPara que podamos darte una respuesta mucho más rápida y directa, podés ir adelantándonos lo siguiente:\nDATOS DEL PACIENTE: \n- APELLIDO Y NOMBRE\n- DNI \n- OBRA SOCIAL (SI TIENE) \n- DISPONIBILIDAD HORARIA\n- FOTO DE LA ORDEN/ES \n- NOMBRE, APELLIDO Y MATRICULA DEL MEDICO SOLICITANTE \n\nTe pedimos que las fotos sean nítidas y se lean bien todos los datos por favor. \n¡Muchas gracias! ❤️","inbox_id":13,"conversation_id":9162,"message_type":1,"content_type":"text","status":"sent","content_attributes":{},"created_at":1761674851,"private":false,"source_id":null,"sender":{"id":2,"name":"Nicolás Lopez","available_name":"Nicolás Lopez","avatar_url":"https://chatw.automatizaciones.ai/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBalVTIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--b452eb4c25e4e3e4f02e1bfca3e0f9adfacd891f/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lKYW5CbFp3WTZCa1ZVT2hOeVpYTnBlbVZmZEc5ZlptbHNiRnNIYVFINk1BPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--742c0949420db267ade2e451d669dc07f7d8c0c0/autoclinicas-logo.jpeg","type":"user","availability_status":"online","thumbnail":"https://chatw.automatizaciones.ai/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBalVTIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--b452eb4c25e4e3e4f02e1bfca3e0f9adfacd891f/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lKYW5CbFp3WTZCa1ZVT2hOeVpYTnBlbVZmZEc5ZlptbHNiRnNIYVFINk1BPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--742c0949420db267ade2e451d669dc07f7d8c0c0/autoclinicas-logo.jpeg"}}}],"setAtributeBot":[{"json":{"custom_attributes":{"bot":false,"humano":true}}}],"respuestaEstudios":[{"json":{"output":"ATENCION Recuerde que los horarios de atención son de 8 a 20hs LUNES A VIERNES ‼️\n\nYA DERIVÉ TU CONSULTA a una secretaria para que te contacte a la brevedad.\n\nPara que podamos darte una respuesta mucho más rápida y directa, podés ir adelantándonos lo siguiente:\nDATOS DEL PACIENTE: \n- APELLIDO Y NOMBRE\n- DNI \n- OBRA SOCIAL (SI TIENE) \n- DISPONIBILIDAD HORARIA\n- FOTO DE LA ORDEN/ES \n- NOMBRE, APELLIDO Y MATRICULA DEL MEDICO SOLICITANTE \n\nTe pedimos que las fotos sean nítidas y se lean bien todos los datos por favor. \n¡Muchas gracias! ❤️"}}]},"versionId":"9f6c49d4-4c86-440c-b2de-5ff5775a82a6","triggerCount":0,"shared":[{"createdAt":"2025-10-14T22:48:19.562Z","updatedAt":"2025-10-14T22:48:19.562Z","role":"workflow:owner","workflowId":"xBZYzq5pKXYbUGV7","projectId":"R66ikVn5xqf0nYcA"}],"tags":[{"createdAt":"2025-10-19T01:37:54.712Z","updatedAt":"2025-10-19T01:37:54.712Z","id":"B4l5lRGZ1AyBy4C5","name":"🧿 Labels'chatwoot"},{"createdAt":"2025-10-18T05:48:24.047Z","updatedAt":"2025-10-18T05:48:24.047Z","id":"9MPkCQDvT4HFCUIK","name":"ClinicAI-v1.33"}]}