sub---delete-turno-copy-lsdxfv73onWtf115.json
{"createdAt":"2025-10-30T10:16:36.468Z","updatedAt":"2025-10-31T20:17:05.096Z","id":"lsdxfv73onWtf115","name":"SUB - DELETE TURNO copy","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"matricula\": 11296,\n  \"fecha\": 20250728,\n  \"hora\": 1130,\n  \"num_conver\": 7045,\n  \"celular\" :\"5492254424469\"\n  \n}"},"id":"cc5a2cd0-453a-4fe6-ad6c-28103bb81ebe","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[128,352]},{"parameters":{"method":"PUT","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/eliminar-turno","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"},{"name":"matricula","value":"={{ $json.matricula }}"},{"name":"fecha","value":"={{ $json.fecha }}"},{"name":"hora","value":"={{ String($json.hora).padStart(4, '0') }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{"neverError":true,"responseFormat":"text","outputPropertyName":"response"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[416,352],"id":"83a58082-b8a9-401c-9e63-813ee2a42536","name":"delete","executeOnce":true,"retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('When Executed by Another Workflow').item.json.celular }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"preview_url\": false,\n    \"body\": \"❌ *ERROR*\\n\\n🚨 *EL TURNO QUE INTENTÁS CANCELAR YA NO EXISTE*\\n\\nPosibles causas:\\n• Ya fue cancelado\\n• El turno ya pasó\\n\\nPara ver tus turnos actuales, volvé al *MENÚ PRINCIPAL*\\n\\n📞 *(0221) 4906310*\"\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,144],"id":"52e9d9ce-0e13-4fe7-9c9e-0f7a61801e7b","name":"🚫 TURNO-CANCELADO","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('When Executed by Another Workflow').item.json.celular }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"preview_url\": false,\n    \"body\": \"⚠️ {{ $json.error.message.replace(/\\\"/g, '') }}\\n\\n_Por favor, comuníquese con administración al (0221) 4906310_\"\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[624,528],"id":"d5721ff9-f4b6-45fc-9a98-b89ee7241404","name":"🚫 TURNO-CANCELADO1","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"42e89196-936e-414b-b919-b35378ee0e60","leftValue":"={{ $json.response }}","rightValue":"El turno ya fue cancelado.","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[624,256],"id":"38a0b67f-bc57-48d9-a916-4662fe8b0177","name":"If"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('When Executed by Another Workflow').item.json.celular }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"preview_url\": false,\n    \"body\": \"✅ *TURNO CANCELADO EXITOSAMENTE*\\n\\n🗓️ Tu turno ha sido cancelado correctamente.\\n\\n💡 *¿Necesitás reagendar?*\\nPodés solicitar un nuevo turno cuando lo necesites en la sección de TURNOS en el MENÚ PRINCIPAL.\\n\\n*También podés contactarnos:*\\n• Teléfono: (0221) 4906310\\n• Horarios: Lunes a Viernes 8:00-20:00hs\\n\\n¡Esperamos verte pronto! ❤️\"\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,352],"id":"25d22528-56f0-4882-9bb5-8a00ed0252f8","name":"🚫 TURNO-CANCELADO2","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"delete","type":"main","index":0}]]},"delete":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"🚫 TURNO-CANCELADO1","type":"main","index":0}]]},"If":{"main":[[{"node":"🚫 TURNO-CANCELADO","type":"main","index":0}],[{"node":"🚫 TURNO-CANCELADO2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"matricula":2959,"fecha":20251105,"hora":1830,"num_conver":9364,"celular":"+5492254596618"}}]},"versionId":"c15403fd-6192-4192-8863-14a54d9b2072","triggerCount":0,"shared":[{"createdAt":"2025-10-30T10:16:36.468Z","updatedAt":"2025-10-30T10:16:36.468Z","role":"workflow:owner","workflowId":"lsdxfv73onWtf115","projectId":"R66ikVn5xqf0nYcA"}],"tags":[{"createdAt":"2025-10-18T05:48:24.047Z","updatedAt":"2025-10-18T05:48:24.047Z","id":"9MPkCQDvT4HFCUIK","name":"ClinicAI-v1.33"},{"createdAt":"2025-08-12T02:10:40.820Z","updatedAt":"2025-08-12T02:10:40.820Z","id":"OXxh5tTDBGFKH7mI","name":"Tool⚒️⚒️"}]}