sub---horarios_turnos_proximos-kmoVJGP4RL3PTi16.json
{"createdAt":"2025-07-07T19:50:09.721Z","updatedAt":"2025-10-26T22:26:11.030Z","id":"kmoVJGP4RL3PTi16","name":"SUB - HORARIOS_TURNOS_PROXIMOS","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"matricula","type":"number"},{"name":"dni","type":"number"},{"name":"fechaDesde","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-528,0],"id":"afb2ddce-2813-4ee5-9710-f437ccc803cb","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"8a3c7647-3630-43f4-98a0-ee9a9df06910","name":"horaLlega5digitos","value":"={{ $json.horaLlega5digitos }}","type":"string"},{"id":"e3c8c5c6-4540-4fbc-a19d-154c87e1aaa2","name":"fechaString","value":"={{ $json.fechaString }}","type":"string"},{"id":"681c63be-c526-42d7-818b-4b0e03de4a85","name":"fecha","value":"={{ $json.fecha }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[288,-192],"id":"46573b0d-fe85-44d0-8d15-48f381d64aee","name":"Edit Fields"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"fechas_libres","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[864,-176],"id":"e978e7fc-c136-4e3e-9358-6f5378764fa2","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"33114951-3c4e-4a2f-b999-b06c07566240","name":"=fecha_y_hora","value":"={{ DateTime.fromMillis($json.fecha, { zone: 'utc' }).setZone('America/Buenos_Aires').toFormat('yyyy-MM-dd') }},\n{{ $json.horaLlega5digitos }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[576,-256],"id":"0687cffd-45c3-49be-9fed-7bc6ce1d9a04","name":"Edit Fields1"},{"parameters":{"url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/proximos-turnos-medico","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"},{"name":"matricula","value":"={{ $json.matricula }}"},{"name":"dni","value":"={{ $json.dni }}"},{"name":"fechaDesde","value":"={{ $json.fechaDesde }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-320,0],"id":"209e1693-b033-4739-8db2-64c1bbc08309","name":"HTTP Request","onError":"continueErrorOutput"},{"parameters":{"jsCode":"return $json.lista.map(turno => {\n  return {\n    json: {\n      horaLlega5digitos: turno.hora5digitos,\n      fechaString: turno.fechaString,\n      fecha: turno.fecha\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,-96],"id":"69eb70f2-8b10-4736-a4ee-4b974cb4b2fd","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"c1c0896f-891c-4fe0-95ce-06252a41bff6","name":"response","value":"Actualmente tenemos un problema en nuestros servidores\n\nTe recomendamos que puedas sacar tu turno en https://www.iclp.com.ar/turnos o llamando al 221-4906310","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-16,96],"id":"92313f14-a7bb-446f-8c6b-341f7d1bc847","name":"Edit Fields2"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[]]},"HTTP Request":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"matricula":114788,"dni":35946257,"fechaDesde":20251026}}]},"versionId":"95ea1b12-cc8f-44cb-90e9-0e9af139c159","triggerCount":0,"shared":[{"createdAt":"2025-07-07T19:50:09.721Z","updatedAt":"2025-07-07T19:50:09.721Z","role":"workflow:owner","workflowId":"kmoVJGP4RL3PTi16","projectId":"R66ikVn5xqf0nYcA"}],"tags":[{"createdAt":"2025-10-18T05:48:24.047Z","updatedAt":"2025-10-18T05:48:24.047Z","id":"9MPkCQDvT4HFCUIK","name":"ClinicAI-v1.33"}]}