sub---post_turno-e7UD4t6GrwYxGW6Q.json
{"createdAt":"2025-10-13T01:37:25.371Z","updatedAt":"2025-10-29T13:14:30.986Z","id":"e7UD4t6GrwYxGW6Q","name":"SUB - POST_TURNO","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/tomar-turno","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"},{"name":"canal","value":"whatsapp"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"dni\": \"{{ $('paciente').item.json.dni }}\",\n  \"celular\": \"{{ $('paciente').item.json.celular_paciente }}\",\n  \"obraSocial\": \"\",\n  \"nombrePaciente\": \"{{ $('paciente').item.json.nombre_completo }}\",\n  \"fecha\":{{ $json.fecha }} ,\n  \"hora\": \"{{ $('paciente').item.json.hora }}\",\n  \"matricula\": {{ $json.matricula }},\n  \"sexo\": \"\",\n  \"estudios\": \"\",\n  \"equipo\": \"3\"\n}\n\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,-32],"id":"49c7f84d-806b-402e-ae5d-df10af72fc33","name":"HTTP Request","alwaysOutputData":false,"executeOnce":true,"onError":"continueErrorOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"dni"},{"name":"fecha"},{"name":"hora","type":"any"},{"name":"nombre_completo","type":"any"},{"name":"celular_paciente","type":"any"},{"name":"matricula","type":"number"},{"name":"celuar_whatsapp"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-448,-32],"id":"a08f7cb0-fe04-424b-a785-8b376a286c4b","name":"paciente"},{"parameters":{"operation":"delete","key":"=status:{{ $('paciente').item.json.celuar_whatsapp }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[400,-144],"id":"4a7d983e-4376-41e5-877d-974c86727665","name":"DELETE - STATUS MENU3","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('paciente').first().json.celuar_whatsapp }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"preview_url\": false,\n    \"body\": \"*✅ TURNO CONFIRMADO CON ÉXITO 🫀*\\n\\n*🏥 DIRECCIÓN:*\\n*CALLE 6 ENTRE 36 Y 37*\\n*LA PLATA, BUENOS AIRES*\\n\\n*💙 RECORDÁ TRAER:*\\n✓ *DNI*\\n✓ *CREDENCIAL OBRA SOCIAL*\\n✓ *ESTUDIOS PREVIOS* (SI TENÉS)\\n\\n*⏰ LLEGÁ 15 MIN ANTES*\\n\\n*📞 PARA REPROGRAMAR:*\\n*(0221) 490-6310* | *LUN-VIE 8-20HS*\\n\\n💰 *SI NECESITÁS SABER EL VALOR DE LOS HONORARIOS DEL MÉDICO, COMUNICATE CON ADMINISTRACIÓN O LLAMÁ AL 221 490-6310.*\\n\\n*❤️ CUIDAMOS TU SALUD*\"\n  }\n}\n","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,-144],"id":"b82fe487-90aa-4676-8a11-a80af01ad3f5","name":"MENSAJE DE TURNO CONFIRMADO","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('paciente').item.json.celuar_whatsapp }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"preview_url\": false,\n    \"body\": \"*{{ $json.error?.message || 'Ocurrió un error' }}* ⛔️\\n📞 _COMUNICATE CON ADMINISTRACIÓN: (0221) 490-6310_\"\n  }\n}\n","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,160],"id":"9bbab2a7-beb3-4bbe-8b18-b65333ab7a00","name":"TURNO OCUPADO","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[656,-464],"id":"1f3d0d7d-6b9a-437a-8a51-307f0255c957","name":"Merge"},{"parameters":{"operation":"delete","key":"=status:{{ $('paciente').item.json.celuar_whatsapp }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[384,160],"id":"3bb96ecb-aabe-4ed9-a106-b035c5d4d396","name":"DELETE - STATUS MENU","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1456,-64],"id":"03ddc450-0478-4fcd-9185-04c13bb9a96d"},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","workspaceId":"wfe9btuw","projectId":"p304m8tufpug3oy","table":"m883iivq0i8rz8n","returnAll":true,"options":{}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[736,-144],"id":"204e6156-e80d-49b1-9052-29cc22f2284a","name":"Get many rows","credentials":{"nocoDbApiToken":{"id":"CERoQkqIgqq5Hzwe","name":"ICLP_MEDICOS"}}},{"parameters":{"authentication":"nocoDbApiToken","operation":"update","workspaceId":"wfe9btuw","projectId":"p304m8tufpug3oy","table":"m883iivq0i8rz8n","fieldsUi":{"fieldValues":[{"fieldName":"Id","fieldValue":"={{ $json.Id }}"},{"fieldName":"TURNOS_TOMADOS","fieldValue":"={{ $json.TURNOS_TOMADOS.toNumber()+1 }}"}]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[1008,-144],"id":"24890dfd-dcad-49d1-9696-5d01f9446f99","name":"Update a row","credentials":{"nocoDbApiToken":{"id":"CERoQkqIgqq5Hzwe","name":"ICLP_MEDICOS"}}}],"connections":{"HTTP Request":{"main":[[{"node":"MENSAJE DE TURNO CONFIRMADO","type":"main","index":0}],[{"node":"TURNO OCUPADO","type":"main","index":0}]]},"paciente":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"MENSAJE DE TURNO CONFIRMADO":{"main":[[{"node":"DELETE - STATUS MENU3","type":"main","index":0}]]},"DELETE - STATUS MENU3":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"TURNO OCUPADO":{"main":[[{"node":"DELETE - STATUS MENU","type":"main","index":0}]]},"Merge":{"main":[[]]},"Replace Me":{"main":[[]]},"Get many rows":{"main":[[{"node":"Update a row","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"paciente":[{"json":{"dni":"36184183","fecha":1762916400000,"hora":"0820","nombre_completo":"HEREÑU VANINA DAIANA","celular_paciente":"","matricula":19489,"celuar_whatsapp":"+5492345688045"}}]},"versionId":"05a08177-ea1b-425a-bd79-6b5e1e4a7bcf","triggerCount":0,"shared":[{"createdAt":"2025-10-13T01:37:25.371Z","updatedAt":"2025-10-13T01:37:25.371Z","role":"workflow:owner","workflowId":"e7UD4t6GrwYxGW6Q","projectId":"R66ikVn5xqf0nYcA"}],"tags":[{"createdAt":"2025-08-12T02:10:40.820Z","updatedAt":"2025-08-12T02:10:40.820Z","id":"OXxh5tTDBGFKH7mI","name":"Tool⚒️⚒️"},{"createdAt":"2025-10-18T05:48:24.047Z","updatedAt":"2025-10-18T05:48:24.047Z","id":"9MPkCQDvT4HFCUIK","name":"ClinicAI-v1.33"}]}