sub---delete-turno-54erSSiJNvNSRnpK.json
{"createdAt":"2025-10-06T09:11:53.378Z","updatedAt":"2025-10-29T15:06:46.024Z","id":"54erSSiJNvNSRnpK","name":"SUB - DELETE TURNO","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"matricula\": 11296,\n  \"fecha\": 20250728,\n  \"hora\": 1130,\n  \"num_conver\": 7045,\n  \"celular\" :\"5492254424469\"\n  \n}"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[128,352]},{"parameters":{"method":"PUT","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/eliminar-turno","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"},{"name":"matricula","value":"={{ $json.matricula }}"},{"name":"fecha","value":"={{ $json.fecha }}"},{"name":"hora","value":"={{ String($json.hora).padStart(4, '0') }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{"response":{}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[416,352],"id":"ebbc3bff-727d-4ac2-b87b-2b8e0c03ff45","name":"delete","executeOnce":true,"retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"20352b58-807b-4f91-974f-2da2bbc10ff2","name":"success","value":"false","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1056,448],"id":"a6251f42-c8ee-49c1-b83c-89f28f2fcc14","name":"no_eliminado"},{"parameters":{"assignments":{"assignments":[{"id":"20352b58-807b-4f91-974f-2da2bbc10ff2","name":"success","value":"true","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1056,272],"id":"ff215a58-76d9-4190-9bf1-9e084dc5690a","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Preparar Redis').first().json.contactNumber }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"preview_url\": false,\n    \"body\": \"✅ *TURNO CANCELADO EXITOSAMENTE*\\n\\n🗓️ Tu turno ha sido cancelado correctamente.\\n\\n📋 *Detalles de la cancelación:*\\n• Médico: Dr./Dra. {{ $json.nombreMedico }}\\n• Fecha: {{ $json.fecha }}\\n• Hora: {{ $json.hora }}hs\\n\\n💡 *¿Necesitás reagendar?*\\nPodés solicitar un nuevo turno cuando lo necesites.\\n\\n*También podés contactarnos:*\\n• Teléfono: (0221) 4906310\\n• Horarios: Lunes a Viernes 8:00-20:00hs\\n\\n¡Esperamos verte pronto! ❤️\"\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[736,208],"id":"407daf49-e628-4a68-9571-057e2f06d59b","name":"🚫 TURNO-CANCELADO","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/835199793002705/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('When Executed by Another Workflow').item.json.celular }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"preview_url\": false,\n    \"body\": \"{{ $json.error.message }} - _VUELVA A INTENTARLO O COMUNICARSE CON ADMINISTRACION_\"\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[736,480],"id":"5eb98b18-7b80-4aed-8a32-32737ae59adc","name":"🚫 TURNO-CANCELADO1","credentials":{"httpHeaderAuth":{"id":"dwoPrvAr64QWLGxK","name":"Whatsapp"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"delete","type":"main","index":0}]]},"delete":{"main":[[{"node":"🚫 TURNO-CANCELADO","type":"main","index":0}],[{"node":"🚫 TURNO-CANCELADO1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"matricula":115090,"fecha":20251103,"hora":1800,"num_conver":9200,"celular":"+5492254596618"}}]},"versionId":"8b0d85bd-1bf2-439d-95e2-a45f5f7ac810","triggerCount":0,"shared":[{"createdAt":"2025-10-06T09:11:53.378Z","updatedAt":"2025-10-06T09:11:53.378Z","role":"workflow:owner","workflowId":"54erSSiJNvNSRnpK","projectId":"R66ikVn5xqf0nYcA"}],"tags":[{"createdAt":"2025-08-12T02:10:40.820Z","updatedAt":"2025-08-12T02:10:40.820Z","id":"OXxh5tTDBGFKH7mI","name":"Tool⚒️⚒️"},{"createdAt":"2025-10-18T05:48:24.047Z","updatedAt":"2025-10-18T05:48:24.047Z","id":"9MPkCQDvT4HFCUIK","name":"ClinicAI-v1.33"}]}