sub---etiqueta:-consulta_reclamo-gsbUq8JFSpw8U7yR.json
{"createdAt":"2025-10-14T23:04:14.940Z","updatedAt":"2025-10-19T01:38:51.121Z","id":"gsbUq8JFSpw8U7yR","name":"SUB - ETIQUETA: CONSULTA_RECLAMO","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"accountId","type":"number"},{"name":"conversationId"},{"name":"contactId"},{"name":"message"},{"name":"inboxId"},{"name":"humano","type":"boolean"},{"name":"chatwootUrlBase"},{"name":"tokenChatwoot"},{"name":"tipoIntencion"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-480,-448],"id":"752c6567-0649-4472-92f6-12e395e5edaf","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"aa4d484e-8f5b-495b-8962-a83ec925f493","name":"tokenBot","value":"rgqHjdPeBQpVpzt2iDR2RKLp","type":"string"},{"id":"2d2a830b-0343-4c48-a2a7-6a8a934d7eeb","name":"tokenAcc","value":"JFi43nzvEPDBCaxaFrkhVvdM","type":"string"},{"id":"1107862b-79a7-4db8-8e5f-7f71c755f1d0","name":"chatwootUrlBase","value":"https://chatw.automatizaciones.ai/","type":"string"},{"id":"000a416d-84b5-4bdf-82ec-6daaaaa98c4f","name":"tipoIntencion","value":"={{ $json.tipoIntencion }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-256,-448],"id":"707f191b-9bd3-4c24-90d2-a436a2ce0834","name":"variables"},{"parameters":{"method":"POST","url":"={{ $('variables').item.json.chatwootUrlBase }}api/v1/accounts/{{ $('variables').item.json.accountId }}/conversations/{{ $('variables').item.json.conversationId }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('variables').item.json.tokenAcc }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"labels\": [\n    \"{{ $json.tipoIntencion }}\"\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,-448],"id":"8aa4c601-baef-40c5-8f86-9ccff3313215","name":"addLabelCw"},{"parameters":{"method":"POST","url":"={{ $('variables').item.json.chatwootUrlBase }}api/v1/accounts/{{ $('variables').item.json.accountId }}/conversations/{{ $('variables').item.json.conversationId }}/custom_attributes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('variables').item.json.tokenAcc }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"custom_attributes","value":"={{ \n{\nbot: false,\nhumano: true\n}\n}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[704,-448],"id":"7f69d0ad-6a76-4ca4-b9e4-decc4741b6a8","name":"setAtributeBot"},{"parameters":{"assignments":{"assignments":[{"id":"e200c40d-3b54-4434-b0d7-ec63135ace5e","name":"accountId","value":"={{ $('variables').item.json.accountId }}","type":"number"},{"id":"05ad941f-d8d9-4ac9-95f1-eaba1543e042","name":"message","value":"={{ $('variables').item.json.message }}","type":"string"},{"id":"01ed2456-3fd9-4ae9-a7b8-90172f63f2c3","name":"inboxId","value":"={{ $('variables').item.json.inboxId }}","type":"number"},{"id":"b0b4b149-5668-4a06-8617-1ffbba3391db","name":"contactId","value":"={{ $('variables').item.json.contactId }}","type":"number"},{"id":"4c51f4dc-27dc-4763-9a50-3d3827a20b8d","name":"conversationId","value":"={{ $('variables').item.json.conversationId }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[912,-448],"id":"a85583b2-301e-4e29-b7f3-97b79b86739e","name":"response"},{"parameters":{"assignments":{"assignments":[{"id":"ebe90916-51eb-4da1-970e-24e8078a3e6c","name":"output","value":" *CONSULTA/RECLAMO RECIBIDO*\n\n✨ Hemos registrado tu consulta y será atendida por nuestro equipo especializado.\n\n📝 *YA DERIVÉ TU CONSULTA* para que te contacten a la brevedad.\n\n⏰ *RECORDÁ*: Nuestros horarios de atención son de 8 a 20hs LUNES A VIERNES\n\n📞 *También podés contactarnos directamente:*   \n• Teléfono: (0221) 4906310   \n• Horarios: Lunes a Viernes 8:00-20:00hs\n\n¡Gracias por tu paciencia! ❤️","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,-464],"id":"d43d1ec4-37f3-464a-b535-93b75d664ead","name":"respuestaReclamos"},{"parameters":{"method":"POST","url":"={{ $('When Executed by Another Workflow').item.json.chatwootUrlBase }}/api/v1/accounts/{{ $('When Executed by Another Workflow').item.json.accountId }}/conversations/{{ $('When Executed by Another Workflow').item.json.conversationId }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('variables').item.json.tokenAcc }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,-448],"id":"f1dc8990-10eb-4c25-887d-5cc252bc8b01","name":"sendRespondCw"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"variables","type":"main","index":0}]]},"variables":{"main":[[{"node":"addLabelCw","type":"main","index":0}]]},"addLabelCw":{"main":[[{"node":"respuestaReclamos","type":"main","index":0}]]},"setAtributeBot":{"main":[[{"node":"response","type":"main","index":0}]]},"respuestaReclamos":{"main":[[{"node":"sendRespondCw","type":"main","index":0}]]},"sendRespondCw":{"main":[[{"node":"setAtributeBot","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"accountId":2,"conversationId":"8290","contactId":"6099","message":"SI, CONFIRMO","inboxId":"13","humano":true,"chatwootUrlBase":"https://chatw.automatizaciones.ai","tokenChatwoot":"JFi43nzvEPDBCaxaFrkhVvdM","tipoIntencion":"consultas-reclamos"}}]},"versionId":"06b75794-bd3c-4a3d-91e3-5f3a6fe1d831","triggerCount":0,"shared":[{"createdAt":"2025-10-14T23:04:14.940Z","updatedAt":"2025-10-14T23:04:14.940Z","role":"workflow:owner","workflowId":"gsbUq8JFSpw8U7yR","projectId":"R66ikVn5xqf0nYcA"}],"tags":[{"createdAt":"2025-10-19T01:37:54.712Z","updatedAt":"2025-10-19T01:37:54.712Z","id":"B4l5lRGZ1AyBy4C5","name":"🧿 Labels'chatwoot"},{"createdAt":"2025-10-18T05:48:24.047Z","updatedAt":"2025-10-18T05:48:24.047Z","id":"9MPkCQDvT4HFCUIK","name":"ClinicAI-v1.33"}]}