sub---agente-padron-(get-y-post)-DC0kp51CP4AqSOvF.json
{"createdAt":"2025-10-12T05:32:04.986Z","updatedAt":"2025-10-19T01:43:55.498Z","id":"DC0kp51CP4AqSOvF","name":"SUB - AGENTE PADRON (GET Y POST)","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"dni"},{"name":"paciente"},{"name":"direccion"},{"name":"celular"},{"name":"obraSocial"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-720,-144],"id":"e499a02b-bedd-4069-bb5a-f137586500aa","name":"Trigger_Flujo_Padron"},{"parameters":{"url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/verificar-padron","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"},{"name":"dni","value":"={{ $json.dni }}"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true}},"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-432,-144],"id":"bc7b2b10-c588-4050-af0b-9df8ac9696f0","name":"API_Verificar_Padron"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bdc3a715-ba83-4d71-90e7-f199a5ba5999","leftValue":"={{ $json.body.documento }}","rightValue":"is true","operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"encontrado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"151824a6-9660-4596-91cb-30e0cdc255fe","leftValue":"={{ $json.statusCode }}","rightValue":500,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"no_encontrado"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-144,-144],"id":"3ee0e2b6-4ebc-44da-a9e9-5ffcb47b54d0","name":"Router_Paciente_Encontrado"},{"parameters":{"method":"POST","url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/empadronamiento","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"dni\": \"{{ $('Trigger_Flujo_Padron').item.json.dni }}\",\n  \"paciente\": \"{{ $('Trigger_Flujo_Padron').item.json.paciente }}\",\n  \"obraSocial\": \"{{ $('Trigger_Flujo_Padron').item.json.obraSocial }}\",\n  \"celular\": \"{{ $('Trigger_Flujo_Padron').item.json.celular }}\"\n  \n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,-48],"id":"665f5980-7c28-4c94-9b06-1168200453f8","name":"API_Empadronar_Paciente"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[688,-64],"id":"04f4c837-e256-4de7-889d-be05334dd80e","name":"Merge_Ambas_Ramas"},{"parameters":{"text":"={{ JSON.stringify($json)  }}","attributes":{"attributes":[{"name":"status_verificacion","description":"Estado de la verificación: 'encontrado' si el paciente existe en el padrón, 'no_encontrado' si no está registrado, 'error' si hubo problema técnico"},{"name":"paciente_nombre","description":"Nombre completo del paciente extraído del campo apellido de la respuesta del API"},{"name":"paciente_dni","description":"Número de DNI del paciente extraído del campo documento de la respuesta"},{"name":"paciente_telefono","description":"Teléfono principal del paciente extraído del campo telefono de la respuesta"},{"name":"paciente_celular","description":"Número de celular del paciente extraído del campo celular de la respuesta"},{"name":"paciente_email","description":"Email del paciente extraído del campo email de la respuesta"},{"name":"esta_empadronado","type":"boolean","description":"True si el paciente está registrado en el padrón, False si no está registrado"},{"name":"direccion","description":"Direccion del usuario extraido"}]},"options":{"systemPromptTemplate":"Extrae información de los datos del padrón médico de ICLP. Los datos pueden venir de:\n1. API verificación (si el paciente existe)\n2. API empadronamiento (si se registró nuevo paciente)\n\nPara datos de verificación (tiene campos como \"apellido\", \"documento\"):\n- status_verificacion: \"encontrado\"\n- paciente_nombre: del campo \"apellido\"\n- siguiente_accion: \"continuar_con_turno\"\n- esta_empadronado: true\n\nPara datos de empadronamiento (respuesta de registro):\n- status_verificacion: \"empadronado_nuevo\"  \n- paciente_nombre: del campo \"paciente\" o \"nombre\"\n- siguiente_accion: \"continuar_con_turno\"\n- esta_empadronado: true\n\nSiempre extrae dni, telefono, celular, email si están disponibles."}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[1200,-512],"id":"947e9ac7-eafb-4dae-988d-9abeb10dafca","name":"Extraer_Datos_Estructurados"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[880,96],"id":"408588df-e5df-4521-a9a5-b61de5bdeb53","name":"LLM_Nano_Extractor","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ac36dc3c-6672-453b-bd91-bb77c139d577","leftValue":"={{ !!($json.session?.datos_recopilados?.nombre && $json.session?.datos_recopilados?.telefono) }}","rightValue":"","operator":{"type":"boolean","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,-32],"id":"ffc0ee3d-23b0-44c4-8fdc-0d8a0c8a0d19","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"b33af0fe-cd95-43bf-a96c-94d2f2f884a3","name":"output","value":"Para poder registrarte en el sistema necesito algunos datos adicionales.  📌 Por favor indicame: 1. Tu nombre completo 2. Un número de teléfono de contacto 3. Tu obra social si tenes. Luego intentaré empadronarte nuevamente 😊","type":"string"}]},"options":{"ignoreConversionErrors":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,144],"id":"9ccba5c0-612b-4ae6-90d2-0c94a4b72a70","name":"Set_Mensaje_Faltan_Datos"},{"parameters":{"operation":"set","key":"=user_{{ $json.body.celular }}_iclp_padron_ok","value":"=true","expire":true,"ttl":600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[448,-288],"id":"dd703e30-247a-4d9f-b63b-7ee08a61a8d7","name":"Redis","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"datos\": {\n    \"paciente_nombre\": \"{{ $json.output.paciente_nombre }}\",\n    \"paciente_dni\": {{ $json.output.paciente_dni }},\n    \"paciente_celular\": \"{{ $json.output.paciente_celular }}\",\n    \"obra_social\": \"{{ $json.output.obrasocial }}\",\n    \"nombre_obrasocial\": \"{{ $json.output.nombre_obrasocial }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1408,-176],"id":"6931da77-babd-4ff3-a558-f0d9ad22705f","name":"Edit Fields"},{"parameters":{"operation":"set","key":"=DNI:549{{ $('Trigger_Flujo_Padron').item.json.celular }}","value":"={{ $json.datos }}","expire":true,"ttl":300},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1680,-176],"id":"8b181c35-0f3c-45fc-bbc6-d9bb787297e1","name":"DATOS_USUARIO","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"text":"={{ JSON.stringify($json) }}","attributes":{"attributes":[{"name":"status_verificacion","description":"Estado de la verificación: 'encontrado' si el paciente existe en el padrón, 'no_encontrado' si no está registrado, 'error' si hubo problema técnico"},{"name":"paciente_nombre","description":"Nombre completo del paciente extraído del campo apellido de la respuesta del API"},{"name":"paciente_dni","type":"number","description":"Número de DNI del paciente extraído del campo documento de la respuesta"},{"name":"paciente_telefono","description":"Teléfono principal del paciente extraído del campo telefono de la respuesta"},{"name":"paciente_celular","description":"Número de celular del paciente extraído del campo celular de la respuesta"},{"name":"paciente_email","description":"Email del paciente extraído del campo email de la respuesta"},{"name":"mensaje_usuario","description":"Mensaje claro y amigable para mostrar al usuario, explicando si está registrado o qué pasos seguir"},{"name":"siguiente_accion","description":"Próxima acción recomendada: 'continuar_con_turno' si está empadronado, 'iniciar_empadronamiento' si no está registrado"},{"name":"esta_empadronado","type":"boolean","description":"True si el paciente está registrado en el padrón, False si no está registrado"},{"name":"obrasocial","description":"={{ $('Trigger_Flujo_Padron').item.json.obraSocial }}"},{"name":"nombre_obrasocial","description":"={{ $('Trigger_Flujo_Padron').first().json.nombreobrasocial }}"}]},"options":{"systemPromptTemplate":"Extrae información de los datos del padrón médico de ICLP. Los datos pueden venir de:\n1. API verificación (si el paciente existe)\n2. API empadronamiento (si se registró nuevo paciente)\n\nPara datos de verificación (tiene campos como \"apellido\", \"documento\"):\n- status_verificacion: \"encontrado\"\n- paciente_nombre: del campo \"apellido\"\n- siguiente_accion: \"continuar_con_turno\"\n- esta_empadronado: true\n\nPara datos de empadronamiento (respuesta de registro):\n- status_verificacion: \"empadronado_nuevo\"  \n- paciente_nombre: del campo \"paciente\" o \"nombre\"\n- siguiente_accion: \"continuar_con_turno\"\n- esta_empadronado: true\n\nSiempre extrae dni, telefono, celular, email si están disponibles."}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[960,-176],"id":"b7db8d61-c59e-486f-b1bb-85165073c36e","name":"Extraer_Datos_Estructurados1"}],"connections":{"Trigger_Flujo_Padron":{"main":[[{"node":"API_Verificar_Padron","type":"main","index":0}]]},"API_Verificar_Padron":{"main":[[{"node":"Router_Paciente_Encontrado","type":"main","index":0}]]},"Router_Paciente_Encontrado":{"main":[[{"node":"Redis","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"API_Empadronar_Paciente":{"main":[[{"node":"Merge_Ambas_Ramas","type":"main","index":1}]]},"Merge_Ambas_Ramas":{"main":[[{"node":"Extraer_Datos_Estructurados1","type":"main","index":0}]]},"Extraer_Datos_Estructurados":{"main":[[]]},"LLM_Nano_Extractor":{"ai_languageModel":[[{"node":"Extraer_Datos_Estructurados1","type":"ai_languageModel","index":0}]]},"If":{"main":[[{"node":"API_Empadronar_Paciente","type":"main","index":0}],[{"node":"Set_Mensaje_Faltan_Datos","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Merge_Ambas_Ramas","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"DATOS_USUARIO","type":"main","index":0}]]},"Extraer_Datos_Estructurados1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Trigger_Flujo_Padron":[{"json":{"dni":"39944116","paciente":"nicolas matias","direccion":"155 65 y 66","celular":"2213994411","obraSocial":"844"}}]},"versionId":"6f777aa1-f5d5-4b00-8ae5-f77888a70934","triggerCount":0,"shared":[{"createdAt":"2025-10-12T05:32:04.986Z","updatedAt":"2025-10-12T05:32:04.986Z","role":"workflow:owner","workflowId":"DC0kp51CP4AqSOvF","projectId":"R66ikVn5xqf0nYcA"}],"tags":[{"createdAt":"2025-10-18T05:48:24.047Z","updatedAt":"2025-10-18T05:48:24.047Z","id":"9MPkCQDvT4HFCUIK","name":"ClinicAI-v1.33"}]}