subflujo_estudios-BbM7JWRcnWqImbDW.json
{"createdAt":"2025-08-18T03:41:32.435Z","updatedAt":"2025-09-07T14:24:30.813Z","id":"BbM7JWRcnWqImbDW","name":"subflujo_estudios","active":false,"isArchived":true,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"accountId","type":"number"},{"name":"conversationId"},{"name":"contactId"},{"name":"message"},{"name":"inboxId"},{"name":"humano","type":"boolean"},{"name":"chatwootUrlBase"},{"name":"tokenChatwoot"},{"name":"tipoIntencion"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,100],"id":"315e7251-e694-4661-a649-8ae02b0ffc8a","name":"When Executed by Another Workflow"},{"parameters":{"url":"={{ $json.chatwootUrlBase }}/api/v1/accounts/{{ $json.accountId }}/conversations/{{ $json.conversationId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $json.tokenChatwoot }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,100],"id":"2e230351-4fd7-4ece-9f82-bcb4e1144b1f","name":"Validate_Conversation"},{"parameters":{"jsCode":"// Verificar estado de la conversación\nconst conversation = $json;\n\n// Verificar si la conversación existe\nif (!conversation || !conversation.id) {\n  return [{\n    json: {\n      valid: false,\n      error: 'CONVERSATION_NOT_FOUND',\n      message: 'Conversación no encontrada',\n      should_abort: true\n    }\n  }];\n}\n\n// Verificar si está activa (no resuelta o cerrada)\nif (conversation.status === 'resolved' || conversation.status === 'closed') {\n  return [{\n    json: {\n      valid: false,\n      error: 'CONVERSATION_RESOLVED',\n      message: 'Conversación ya resuelta o cerrada',\n      should_abort: true,\n      conversation_status: conversation.status\n    }\n  }];\n}\n\n// Verificar horarios de atención (Lunes a Viernes 8-20, Sábado 8-13)\nconst now = new Date();\nconst dayOfWeek = now.getDay(); // 0=Domingo, 1=Lunes, ..., 6=Sábado\nconst hour = now.getHours();\n\nlet outsideHours = false;\n\nif (dayOfWeek === 0) { // Domingo\n  outsideHours = true;\n} else if (dayOfWeek >= 1 && dayOfWeek <= 5) { // Lunes a Viernes\n  outsideHours = hour < 8 || hour >= 20;\n} else if (dayOfWeek === 6) { // Sábado\n  outsideHours = hour < 8 || hour >= 13;\n}\n\n// Todo OK\nreturn [{\n  json: {\n    valid: true,\n    conversation_status: conversation.status,\n    last_activity: conversation.last_activity_at,\n    outside_hours: outsideHours,\n    current_time: now.toISOString(),\n    day_of_week: dayOfWeek,\n    hour: hour\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[440,100],"id":"6c234ddd-8c0f-4c5f-be2c-e66a122ff98e","name":"Status_Verification"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"validation_check","leftValue":"={{ $json.valid }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[660,100],"id":"2a75b3e6-2c9b-4806-aef2-50065553ae30","name":"Validation_Filter"},{"parameters":{"assignments":{"assignments":[{"id":"error_response","name":"error_response","value":"Disculpas, no puedo procesar tu solicitud en este momento. Por favor, contacta directamente al instituto.","type":"string"},{"id":"error_details","name":"error_type","value":"={{ $json.error }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1000,220],"id":"183ae987-e569-430d-972c-d7a579d4c900","name":"Error_Response"},{"parameters":{"assignments":{"assignments":[{"id":"aa4d484e-8f5b-495b-8962-a83ec925f493","name":"tokenBot","value":"={{ $vars.CHATWOOT_BOT_TOKEN || 'rgqHjdPeBQpVpzt2iDR2RKLp' }}","type":"string"},{"id":"2d2a830b-0343-4c48-a2a7-6a8a934d7eeb","name":"tokenAcc","value":"={{ $vars.CHATWOOT_ACCOUNT_TOKEN || 'JFi43nzvEPDBCaxaFrkhVvdM' }}","type":"string"},{"id":"1107862b-79a7-4db8-8e5f-7f71c755f1d0","name":"chatwootUrl","value":"={{ $vars.CHATWOOT_URL || 'https://chatw.automatizaciones.ai/' }}","type":"string"},{"id":"000a416d-84b5-4bdf-82ec-6daaaaa98c4f","name":"tipoIntencion","value":"={{ $('When Executed by Another Workflow').item.json.tipoIntencion }}","type":"string"},{"id":"validation_passed","name":"validation_passed","value":"={{ $json.valid }}","type":"boolean"},{"id":"outside_hours","name":"outside_hours","value":"={{ $json.outside_hours }}","type":"boolean"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,0],"id":"715fbb76-b9ef-400b-92e8-855f5034cc4e","name":"variables"},{"parameters":{"method":"POST","url":"={{ $json.chatwootUrlBase }}/api/v1/accounts/{{ $json.accountId }}/conversations/{{ $json.conversationId }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $json.tokenAcc }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"labels\": [\n    \"{{ $json.tipoIntencion }}\"\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,0],"id":"b8189b53-a5bd-4ffe-ae4b-033607eda793","name":"addLabelCw"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1540,0],"id":"3e161734-74dc-4bc1-9de7-4da6b23669bf","name":"createComment"},{"parameters":{"method":"POST","url":"={{ $('Filter').item.json.chatwootUrlBase }}/api/v1/accounts/{{ $('Filter').item.json.accountId }}/conversations/{{ $('Filter').item.json.conversationId }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('variables').item.json.tokenAcc }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,0],"id":"9c01b629-fe97-4211-9484-f52a2f4aa65d","name":"sendRespondCw"},{"parameters":{"method":"POST","url":"={{ $('variables').item.json.chatwootUrl }}/api/v1/accounts/{{ $('variables').item.json.accountId }}/conversations/{{ $('variables').item.json.conversationId }}/custom_attributes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('variables').item.json.tokenAcc }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"custom_attributes","value":"={{ \n\n{\nbot: false,\nhumano: true\n\n}\n\n}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1980,0],"id":"a08eff1a-8f81-4df0-83f6-19c06e09bd8d","name":"setAtributeBot"},{"parameters":{"assignments":{"assignments":[{"id":"e200c40d-3b54-4434-b0d7-ec63135ace5e","name":"accountId","value":"={{ $('variables').item.json.accountId }}","type":"number"},{"id":"05ad941f-d8d9-4ac9-95f1-eaba1543e042","name":"message","value":"={{ $('variables').item.json.message }}","type":"string"},{"id":"01ed2456-3fd9-4ae9-a7b8-90172f63f2c3","name":"inboxId","value":"={{ $('variables').item.json.inboxId }}","type":"number"},{"id":"b0b4b149-5668-4a06-8617-1ffbba3391db","name":"contactId","value":"={{ $('variables').item.json.contactId }}","type":"number"},{"id":"4c51f4dc-27dc-4763-9a50-3d3827a20b8d","name":"conversationId","value":"={{ $('variables').item.json.conversationId }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2200,0],"id":"e04c21d1-3bf1-402e-bc9c-080c6f614f14","name":"response"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a9d5adbe-018f-4d45-9db0-4b1c054f414c","leftValue":"={{ $json.humano }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{"ignoreCase":false}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1100,0],"id":"456f2307-8447-44ad-8a86-1228b121c90b","name":"Filter"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Validate_Conversation","type":"main","index":0}]]},"Validate_Conversation":{"main":[[{"node":"Status_Verification","type":"main","index":0}]]},"Status_Verification":{"main":[[{"node":"Validation_Filter","type":"main","index":0}]]},"Validation_Filter":{"main":[[{"node":"variables","type":"main","index":0}],[{"node":"Error_Response","type":"main","index":0}]]},"variables":{"main":[[{"node":"Filter","type":"main","index":0}]]},"addLabelCw":{"main":[[{"node":"createComment","type":"main","index":0}]]},"createComment":{"main":[[{"node":"sendRespondCw","type":"main","index":0}]]},"sendRespondCw":{"main":[[{"node":"setAtributeBot","type":"main","index":0}]]},"setAtributeBot":{"main":[[{"node":"response","type":"main","index":0}]]},"Filter":{"main":[[{"node":"addLabelCw","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"accountId":2,"conversationId":"2505","contactId":"604","message":"Hola si quiero un turno de estudio","inboxId":"3","chatwootUrlBase":"https://chatw.automatizaciones.ai","tokenChatwoot":"rgqHjdPeBQpVpzt2iDR2RKLp","tipoIntencion":"ESTUDIO_TURNO"}}]},"versionId":"6afd0ae2-57bb-4f00-8efd-5874f1c20017","triggerCount":0,"shared":[{"createdAt":"2025-08-18T03:41:32.435Z","updatedAt":"2025-08-18T03:41:32.435Z","role":"workflow:owner","workflowId":"BbM7JWRcnWqImbDW","projectId":"R66ikVn5xqf0nYcA"}],"tags":[{"createdAt":"2025-08-12T02:10:40.820Z","updatedAt":"2025-08-12T02:10:40.820Z","id":"OXxh5tTDBGFKH7mI","name":"Tool⚒️⚒️"},{"createdAt":"2025-08-12T02:10:29.356Z","updatedAt":"2025-08-12T02:10:29.356Z","id":"OsMujd4oglQ3g7SY","name":"ICLP"}]}