tipoestudio-tool-⚒️⚒️-sJes6x6MKxKh7A0G.json
{"createdAt":"2025-08-12T02:10:13.429Z","updatedAt":"2025-10-07T00:46:16.119Z","id":"sJes6x6MKxKh7A0G","name":"tipoEstudio Tool ⚒️⚒️","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"accountId","type":"number"},{"name":"conversationId"},{"name":"contactId"},{"name":"message"},{"name":"inboxId"},{"name":"humano","type":"boolean"},{"name":"chatwootUrlBase"},{"name":"tokenChatwoot"},{"name":"tipoIntencion"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-768,-16],"id":"4faf8f35-11e4-4825-9a7f-5f0efd9981bf","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"aa4d484e-8f5b-495b-8962-a83ec925f493","name":"tokenBot","value":"rgqHjdPeBQpVpzt2iDR2RKLp","type":"string"},{"id":"2d2a830b-0343-4c48-a2a7-6a8a934d7eeb","name":"tokenAcc","value":"JFi43nzvEPDBCaxaFrkhVvdM","type":"string"},{"id":"1107862b-79a7-4db8-8e5f-7f71c755f1d0","name":"chatwootUrlBase","value":"https://chatw.automatizaciones.ai/","type":"string"},{"id":"000a416d-84b5-4bdf-82ec-6daaaaa98c4f","name":"tipoIntencion","value":"={{ $json.tipoIntencion }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-544,-16],"id":"0d830f2f-773c-4093-8a77-054f0d02fb3d","name":"variables"},{"parameters":{"method":"POST","url":"={{ $('variables').item.json.chatwootUrlBase }}api/v1/accounts/{{ $('variables').item.json.accountId }}/conversations/{{ $('variables').item.json.conversationId }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('variables').item.json.tokenAcc }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"labels\": [\n    \"{{ $json.text.toLowerCase() }}\"\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,-16],"id":"8ba2b9f6-8d08-4696-8597-d9c5ac15d667","name":"addLabelCw"},{"parameters":{"method":"POST","url":"={{ $('Filter').item.json.chatwootUrlBase }}/api/v1/accounts/{{ $('Filter').item.json.accountId }}/conversations/{{ $('Filter').item.json.conversationId }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('variables').item.json.tokenAcc }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,-16],"id":"7929b26a-bfcd-4d11-a011-74e9456bf41f","name":"sendRespondCw"},{"parameters":{"method":"POST","url":"={{ $('variables').item.json.chatwootUrlBase }}api/v1/accounts/{{ $('variables').item.json.accountId }}/conversations/{{ $('variables').item.json.conversationId }}/custom_attributes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('variables').item.json.tokenAcc }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"custom_attributes","value":"={{ \n{\nbot: false,\nhumano: true\n}\n}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,-16],"id":"019c2231-03c3-4ef9-b3d6-b869dfe95d23","name":"setAtributeBot"},{"parameters":{"assignments":{"assignments":[{"id":"e200c40d-3b54-4434-b0d7-ec63135ace5e","name":"accountId","value":"={{ $('variables').item.json.accountId }}","type":"number"},{"id":"05ad941f-d8d9-4ac9-95f1-eaba1543e042","name":"message","value":"={{ $('variables').item.json.message }}","type":"string"},{"id":"01ed2456-3fd9-4ae9-a7b8-90172f63f2c3","name":"inboxId","value":"={{ $('variables').item.json.inboxId }}","type":"number"},{"id":"b0b4b149-5668-4a06-8617-1ffbba3391db","name":"contactId","value":"={{ $('variables').item.json.contactId }}","type":"number"},{"id":"4c51f4dc-27dc-4763-9a50-3d3827a20b8d","name":"conversationId","value":"={{ $('variables').item.json.conversationId }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1568,-16],"id":"49976132-430a-4bca-9e6f-203d592aac9c","name":"response"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a9d5adbe-018f-4d45-9db0-4b1c054f414c","leftValue":"={{ $json.humano }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-336,-16],"id":"23beb6e8-a9b8-47f7-815f-4c9a440a7d16","name":"Filter"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8b41bdc8-beb8-43eb-93e6-021cf939b6a3","leftValue":"={{ $json.payload[0] }}","rightValue":"turnos-estudios","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[688,-16],"id":"c43c6bfe-c645-4785-88a3-6dcde40bee0d","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"ebe90916-51eb-4da1-970e-24e8078a3e6c","name":"output","value":"ATENCION Recuerde que los horarios de atención son de 8 a 20hs LUNES A VIERNES ‼️\n\nYA DERIVÉ TU CONSULTA a una secretaria para que te contacte a la brevedad.\n\nPara que podamos darte una respuesta mucho más rápida y directa, podés ir adelantándonos lo siguiente:\nDATOS DEL PACIENTE: \n- APELLIDO Y NOMBRE\n- DNI \n- OBRA SOCIAL (SI TIENE) \n- DISPONIBILIDAD HORARIA\n- FOTO DE LA ORDEN/ES \n- NOMBRE, APELLIDO Y MATRICULA DEL MEDICO SOLICITANTE \n\nTe pedimos que las fotos sean nítidas y se lean bien todos los datos por favor. \n¡Muchas gracias! ❤️","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[912,-80],"id":"800f7cf4-fe8e-4e25-b070-b38789cdb0ed","name":"respuestaEstudios"},{"parameters":{"assignments":{"assignments":[{"id":"ebe90916-51eb-4da1-970e-24e8078a3e6c","name":"output","value":" *CONSULTA/RECLAMO RECIBIDO*\n\n✨ Hemos registrado tu consulta y será atendida por nuestro equipo especializado.\n\n📝 *YA DERIVÉ TU CONSULTA* para que te contacten a la brevedad.\n\n⏰ *RECORDÁ*: Nuestros horarios de atención son de 8 a 20hs LUNES A VIERNES\n\n📞 *También podés contactarnos directamente:*   \n• Teléfono: (0221) 4906310   \n• Horarios: Lunes a Viernes 8:00-20:00hs\n\n¡Gracias por tu paciencia! ❤️","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[912,144],"id":"0f2021f3-6a57-4bcd-9e73-752466c4764a","name":"respuestaReclamos"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[-128,-16],"id":"fe932bdc-7d61-4148-9dab-3fb30659ccce","name":"Chat Memory Manager"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat:{{ $('variables').item.json.conversationId }}_iclp"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-128,256],"id":"5981ec2f-e5e6-48ae-9b38-027f193881e9","name":"Redis Chat Memory","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"promptType":"define","text":"={{ $('Filter').first().json.tipoIntencion }}","messages":{"messageValues":[{"message":"=Analiza el historial de mensajes entre ia y humano, para saber la intencion si es PARA: \n-consultas-reclamos o\n-turnos-estudios\n\ndame solo la intencion del usuario basado en las opciones que te di solo eso quiero de output"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[176,-16],"id":"0f6e3c84-d05f-4f84-af72-bea47617e50f","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[176,256],"id":"39b1e2d1-b178-41f5-8e21-ee2e95bc44dc","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"mE1IL02M9AnIg3tD","name":"OpenAi Credenciales ICLP"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"variables","type":"main","index":0}]]},"variables":{"main":[[{"node":"Filter","type":"main","index":0}]]},"addLabelCw":{"main":[[{"node":"If","type":"main","index":0}]]},"sendRespondCw":{"main":[[{"node":"setAtributeBot","type":"main","index":0}]]},"setAtributeBot":{"main":[[{"node":"response","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"If":{"main":[[{"node":"respuestaEstudios","type":"main","index":0}],[{"node":"respuestaReclamos","type":"main","index":0}]]},"respuestaEstudios":{"main":[[{"node":"sendRespondCw","type":"main","index":0}]]},"respuestaReclamos":{"main":[[{"node":"sendRespondCw","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"Chat Memory Manager":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"addLabelCw","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"accountId":2,"conversationId":"7206","contactId":"5992","message":"hola quiero un turno de estudio necesito hacerme un holter","inboxId":"13","chatwootUrlBase":"https://chatw.automatizaciones.ai","tokenChatwoot":"JFi43nzvEPDBCaxaFrkhVvdM","tipoIntencion":"turnos-estudios"}}]},"versionId":"ac063910-54d6-41cc-9d85-62da238a486f","triggerCount":0,"shared":[{"createdAt":"2025-08-12T02:10:13.429Z","updatedAt":"2025-08-12T02:10:13.429Z","role":"workflow:owner","workflowId":"sJes6x6MKxKh7A0G","projectId":"R66ikVn5xqf0nYcA"}],"tags":[{"createdAt":"2025-08-12T02:10:40.820Z","updatedAt":"2025-08-12T02:10:40.820Z","id":"OXxh5tTDBGFKH7mI","name":"Tool⚒️⚒️"},{"createdAt":"2025-08-12T02:10:29.356Z","updatedAt":"2025-08-12T02:10:29.356Z","id":"OsMujd4oglQ3g7SY","name":"ICLP"}]}