tool-buffer-mensajes---transcripciones-⚒️⚒️-sgLAOCxrKAOI1aP0.json
{"createdAt":"2025-08-30T03:53:19.329Z","updatedAt":"2025-10-01T02:36:44.323Z","id":"sgLAOCxrKAOI1aP0","name":"TOOL BUFFER MENSAJES - TRANSCRIPCIONES ⚒️⚒️","active":false,"isArchived":false,"nodes":[{"parameters":{"amount":10},"id":"bd9f37e0-c293-4a8d-b0ca-df0ca42787c3","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[0,320],"webhookId":"35c36e0b-69e5-4edd-a970-21ec45a1d7af"},{"parameters":{"assignments":{"assignments":[{"id":"0411cda2-d4ce-45a5-928b-362452ae8253","name":"message","value":"={{ $json.message }}","type":"string"},{"id":"581debb7-dc5f-4e89-ad73-a4c31b2bf22c","name":"conversationId","value":"={{ $json.conversationId }}","type":"number"},{"id":"398a353a-3754-486a-879f-6253645d5c13","name":"messageId","value":"={{ $json.messageId }}","type":"number"},{"id":"89f1406a-64c8-4c52-af08-2358ff959bda","name":"timestamp","value":"={{ $json.timestamp.toDateTime('s').toISO()  }}","type":"string"}]},"options":{}},"id":"800827de-5e10-431a-9473-dd12563a46ea","name":"variables","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-912,640]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3146d8f8-7ad4-4bb6-a6db-c9255f1712eb","leftValue":"={{ $json.mensaje?.first() ? JSON.parse($json.mensaje.first()).messageId : null }}","rightValue":"={{ $('variables').item.json.messageId }}","operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"nothingToDo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2f202f73-f35c-4954-b173-c1e90bc8423a","leftValue":"={{ $json.mensaje?.last() ? JSON.parse($json.mensaje.last()).timestamp : $now.minus(10,'seconds') }}","rightValue":"={{ $now.minus(10,'seconds' ) }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"continueWay"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.mensaje?.first() ? JSON.parse($json.mensaje.first()).messageId : null }}","rightValue":"={{ $('variables').item.json.messageId }}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"waitBuffer"}]},"options":{"fallbackOutput":"none"}},"id":"a0f477da-9d11-4fc8-a5d0-47e0465e75b4","name":"bufferController","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-240,160]},{"parameters":{"operation":"get","propertyName":"mensaje","key":"=bufferICLPWhatsApp:{{ $json.conversationId }}","options":{}},"id":"24369240-8965-4993-b154-d1ea5ff463cf","name":"getMessageBuffer","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-448,208],"credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"push","list":"=bufferICLPWhatsApp:{{ $json.conversationId }}","messageData":"={{ JSON.stringify($json) }}","tail":true},"id":"dae634ca-0d3b-4932-a1ec-3a825d55e49c","name":"pushMessageBuffer","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-640,208],"credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{},"id":"dd29767e-dbaa-41fa-a4be-5c0a430bced3","name":"noOp","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,0]},{"parameters":{"operation":"delete","key":"=bufferICLPWhatsApp:{{ $('variables').item.json.conversationId }}"},"id":"48bfe8a1-86ea-42f2-a976-e949ec82a414","name":"delBuffer","type":"n8n-nodes-base.redis","typeVersion":1,"position":[0,160],"credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"message"},{"name":"conversationId"},{"name":"messageId"},{"name":"timestamp"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1152,768],"id":"750afab5-efac-4a9a-84ed-ade5b2773beb","name":"input"},{"parameters":{"assignments":{"assignments":[{"id":"d3359f6e-cfa5-45b7-bbac-795bcff82822","name":"text","value":"={{ $json.mensaje.map(value => JSON.parse(value).message).join('\\n') }}","type":"string"},{"id":"7971daa8-071b-42d8-8046-c0e71b850a06","name":"conversationId","value":"={{ $node['input'].json.conversationId }}","type":"string"}]},"options":{}},"id":"3908813f-1fb5-4783-80b9-3ea6a2a84cae","name":"contactenatedMessage","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,160]},{"parameters":{"operation":"delete","key":"=bufferRaiconect:2066"},"id":"1fdf7b94-af2c-4f0c-8cfb-42058de6c486","name":"delBuffer1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[320,400],"disabled":true},{"parameters":{"operation":"push","list":"=bufferICLPWhatsApp:{{ $('variables').item.json.conversationId }}","messageData":"={{ $('msg').item.json.msg }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-528,640],"id":"eb3dca2c-5a2f-4747-8244-9111619e98d7","name":"push1","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"msgs","key":"=bufferICLPWhatsApp:{{ $('variables').item.json.conversationId }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-192,640],"id":"62348d85-6971-47d4-be9a-fce34c7eeb50","name":"msgs2","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"42afc77a-7ce3-48c1-bccf-e26a7b291ad8","leftValue":"={{ $json.msgs.last() }}","rightValue":"={{ $('msg').item.json.msg }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-912,864],"id":"5e56f5fe-851d-4dfb-ba67-a198e81dc4e1","name":"filterBuffer1"},{"parameters":{"operation":"delete","key":"=bufferICLPWhatsApp:{{ $('variables').item.json.conversationId }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-720,864],"id":"c6b98751-eedd-44b5-8f2f-2674c12a17f8","name":"deleteBuffer1","credentials":{"redis":{"id":"s0PM2Pw4qSCcT1SM","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e06fc8ae-dffb-479c-969c-82c6130a67ec","name":"msg","value":"={{ $json.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-720,640],"id":"e95b4c17-2f55-4cce-89f0-8f555ae0443a","name":"msg"},{"parameters":{"fieldToSplitOut":"msgs","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-544,864],"id":"65f8e422-2d24-4cfd-aba4-1690100ae699","name":"Split Out"},{"parameters":{"amount":8},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-368,640],"id":"350bd8a9-18dc-4da4-bfd3-52395ded5c24","name":"Wait","webhookId":"43aa8e0d-8bb5-48d9-b869-620cb9651025"},{"parameters":{"assignments":{"assignments":[{"id":"d3359f6e-cfa5-45b7-bbac-795bcff82822","name":"text","value":"={{ $json.msgs.join(\" \") }}","type":"string"},{"id":"7971daa8-071b-42d8-8046-c0e71b850a06","name":"conversationId","value":"={{ $item(\"0\").$node[\"input\"].json[\"conversationId\"] }}","type":"string"}]},"options":{}},"id":"04da1c1e-5449-41fc-af96-780beb82155b","name":"contactenatedMessage1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-176,864]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"msgs"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-352,864],"id":"d68488a5-6b27-434e-8cef-d8961967ba16","name":"Aggregate"}],"connections":{"Wait1":{"main":[[{"node":"getMessageBuffer","type":"main","index":0}]]},"variables":{"main":[[{"node":"msg","type":"main","index":0}]]},"bufferController":{"main":[[{"node":"noOp","type":"main","index":0}],[{"node":"delBuffer","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"getMessageBuffer":{"main":[[{"node":"bufferController","type":"main","index":0}]]},"pushMessageBuffer":{"main":[[{"node":"getMessageBuffer","type":"main","index":0}]]},"delBuffer":{"main":[[{"node":"contactenatedMessage","type":"main","index":0}]]},"input":{"main":[[{"node":"variables","type":"main","index":0}]]},"noOp":{"main":[[{"node":"contactenatedMessage","type":"main","index":0}]]},"push1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"msgs2":{"main":[[{"node":"filterBuffer1","type":"main","index":0}]]},"filterBuffer1":{"main":[[{"node":"deleteBuffer1","type":"main","index":0}]]},"deleteBuffer1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"msg":{"main":[[{"node":"push1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Wait":{"main":[[{"node":"msgs2","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"contactenatedMessage1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"input":[{"json":{"message":"comer sandia","conversationId":"5576","messageId":"73888","timestamp":"1758593437"}}]},"versionId":"4e56b56c-4fa8-4455-83fe-1db648548956","triggerCount":0,"shared":[{"createdAt":"2025-08-30T03:53:19.329Z","updatedAt":"2025-08-30T03:53:19.329Z","role":"workflow:owner","workflowId":"sgLAOCxrKAOI1aP0","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}