turno-especialidad-mas-proximo-9VbCzLdHQtztJk3X.json
{"createdAt":"2025-08-07T01:39:32.513Z","updatedAt":"2025-09-07T14:33:47.162Z","id":"9VbCzLdHQtztJk3X","name":"Turno-especialidad-mas-proximo","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"especialidad","type":"any"},{"name":"dni","type":"number"},{"name":"fechaDesde","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-320,-220],"id":"2bda9599-a230-4852-a989-b4e05a29be6d","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"8a3c7647-3630-43f4-98a0-ee9a9df06910","name":"horaLlega5digitos","value":"={{ $json.horaLlega5digitos }}","type":"string"},{"id":"e3c8c5c6-4540-4fbc-a19d-154c87e1aaa2","name":"fechaString","value":"={{ $json.fechaString }}","type":"string"},{"id":"681c63be-c526-42d7-818b-4b0e03de4a85","name":"fecha","value":"={{ $json.fecha }}","type":"number"},{"id":"96322d50-7c80-40b6-b4d0-4daddec65828","name":"nombreMedico","value":"={{ $json.nombreMedico }}","type":"string"},{"id":"9bd4b4e9-4903-41e9-935e-6586ad6cfb47","name":"matricula","value":"={{ $json.matricula }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[300,-220],"id":"2cecb9ed-e828-4f6a-8829-169d6ee15ec4","name":"Edit Fields"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"fechas_libres","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[700,-220],"id":"fb1230fb-61b8-4b75-a013-59e7cdc49900","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"33114951-3c4e-4a2f-b999-b06c07566240","name":"=fecha_y_hora","value":"={{ DateTime.fromMillis($json.fecha, { zone: 'utc' }).setZone('America/Buenos_Aires').toFormat('yyyy-MM-dd') }},\n{{ $json.horaLlega5digitos }}","type":"string"},{"id":"2158d7e9-15e4-4177-9bec-3d32fd20265d","name":"nombreMedico","value":"={{ $json.nombreMedico }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[520,-220],"id":"7e59ee72-b68e-4355-b4f0-898e6fe6e05e","name":"Edit Fields1"},{"parameters":{"url":"http://iclp.ddns.net:7080/ws-turnos-rest-simple/api/turnos/proximos-turnos-especialidad","sendQuery":true,"queryParameters":{"parameters":[{"name":"usuario","value":"WSTRRED"},{"name":"password","value":"Y2xpb25lcw"},{"name":"especialidad","value":"={{ $json.especialidad }}"},{"name":"dni","value":"={{ $json.dni }}"},{"name":"fechaDesde","value":"={{ $json.fechaDesde }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-100,-220],"id":"d1372339-9a2d-48dc-a7f8-1db421d5b3de","name":"HTTP Request"},{"parameters":{"jsCode":"return $json.lista.map(turno => {\n  return {\n    json: {\n      horaLlega5digitos: turno.hora5digitos,\n      fechaString: turno.fechaString,\n      fecha: turno.fecha,\n      nombreMedico: turno.nombreMedico,\n      estudios: turno.estudios,\n      matricula: turno.matricula\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[120,-220],"id":"3a1625bf-182a-4b98-83e3-d0386f7f5c9b","name":"Code"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"especialidad":"CLI","dni":42028075,"fechaDesde":20250717}}]},"versionId":"3909f052-2286-4570-9509-ea3b34d9603a","triggerCount":0,"shared":[{"createdAt":"2025-08-07T01:39:32.513Z","updatedAt":"2025-08-07T01:39:32.513Z","role":"workflow:owner","workflowId":"9VbCzLdHQtztJk3X","projectId":"R66ikVn5xqf0nYcA"}],"tags":[]}